Repository dotnet/corefx, pull requests merged in 2018-05, with the labels that each got.

#29402 Avoid substring allocations in WebUtility.HtmlDecode
  src/System.Runtime.Extensions/src/System/Net/WebUtility.cs
Labels: area-System.Net

#29407 Fix Process.ExitCode on mac for killed processes
  src/Common/src/Interop/Unix/System.Native/Interop.WaitId.cs
  src/Common/src/Interop/Unix/System.Native/Interop.WaitPid.cs
  src/Native/Unix/System.Native/pal_process.cpp
  src/Native/Unix/System.Native/pal_process.h
  src/System.Diagnostics.Process/src/System.Diagnostics.Process.csproj
  src/System.Diagnostics.Process/src/System/Diagnostics/ProcessWaitState.Unix.cs
  src/System.Diagnostics.Process/tests/ProcessTests.Unix.cs
Labels: area-System.Diagnostics.Process

#29178 Porting roslyn regex tests to corefx
  src/System.ComponentModel.Annotations/tests/RegularExpressionAttributeTests.cs
  src/System.Configuration.ConfigurationManager/tests/Mono/RegexStringValidatorTest.cs
  src/System.Net.WebProxy/tests/WebProxyTest.cs
  src/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTests.cs
  src/System.Text.RegularExpressions/src/Resources/Strings.resx
  src/System.Text.RegularExpressions/src/System.Text.RegularExpressions.csproj
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParseError.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParseException.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParser.cs
  src/System.Text.RegularExpressions/tests/Regex.Ctor.Tests.cs
  src/System.Text.RegularExpressions/tests/Regex.Match.Tests.cs
  src/System.Text.RegularExpressions/tests/RegexParserTests.cs
  src/System.Text.RegularExpressions/tests/System.Text.RegularExpressions.Tests.csproj
Labels: area-System.Text.RegularExpressions

#29418 Switch source build property to DotNetBuildFromSource
  pkg/dir.props
Labels: area-Infrastructure

#29413 Enumerating strings should retain trailing separators
  src/System.IO.FileSystem/src/System.IO.FileSystem.csproj
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEntry.Unix.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEntry.Windows.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEntry.cs
  src/System.IO.FileSystem/tests/Directory/GetFiles.cs
  src/System.IO.FileSystem/tests/DirectoryInfo/EnumerableAPIs.cs
  src/System.IO.FileSystem/tests/DirectoryInfo/GetFiles.cs
  src/System.IO.FileSystem/tests/FileSystemTest.cs
Labels: area-System.IO

#29351 Reducing chances of polluting SSL error queue
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.ASN1.Print.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.ASN1.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Bignum.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Crypto.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Dsa.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.EcDsa.ImportExport.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.EcDsa.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.EcKey.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Encode.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Rsa.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Ssl.cs
  src/Common/src/System/Security/Cryptography/DSAOpenSsl.cs
  src/Common/src/System/Security/Cryptography/ECDsaOpenSsl.cs
  src/Common/src/System/Security/Cryptography/ECOpenSsl.ImportExport.cs
  src/Common/src/System/Security/Cryptography/RSAOpenSsl.cs
  src/Native/Unix/System.Security.Cryptography.Native/pal_dsa.cpp
  src/Native/Unix/System.Security.Cryptography.Native/pal_rsa.cpp
  src/Native/Unix/System.Security.Cryptography.Native/pal_rsa.h
  src/Native/Unix/System.Security.Cryptography.Native/pal_ssl.cpp
  src/System.Security.Cryptography.Encoding/src/Internal/Cryptography/OidLookup.Unix.cs
  src/System.Security.Cryptography.Encoding/src/Internal/Cryptography/OpenSslAsnFormatter.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CertificateAssetDownloader.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CertificatePal.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CrlCache.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/PkcsFormatReader.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/StorePal.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/X500NameEncoder.OpenSslDecode.cs
Labels: area-System.Security

#29440 Port #29413 to release branch
  src/System.IO.FileSystem/src/System.IO.FileSystem.csproj
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEntry.Unix.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEntry.Windows.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEntry.cs
  src/System.IO.FileSystem/tests/Directory/GetFiles.cs
  src/System.IO.FileSystem/tests/DirectoryInfo/EnumerableAPIs.cs
  src/System.IO.FileSystem/tests/DirectoryInfo/GetFiles.cs
  src/System.IO.FileSystem/tests/FileSystemTest.cs
Labels: area-System.IO

#29432 Delete dead code after Hashtable.cs move
  src/System.Runtime.Extensions/src/Resources/Strings.resx
  src/System.Runtime.Extensions/src/System/Collections/Hashtable.cs
Labels: area-System.Runtime.Extensions

#29316 Test that AsyncLocal<class> changed event is not raised multiple times for one change in value
  src/System.Threading/tests/AsyncLocalTests.cs
Labels: area-System.Threading

#29302 Clean dead code System.Net*
  src/Common/src/Interop/Windows/HttpApi/Interop.HttpApi.cs
  src/Common/src/Interop/Windows/IpHlpApi/Interop.ICMP.cs
  src/Common/src/Interop/Windows/Winsock/Interop.WSASocketW.SafeCloseSocket.cs
  src/Common/src/Interop/Windows/Winsock/SafeOverlappedFree.cs
  src/Common/src/Interop/Windows/kernel32/Interop.LocalAlloc_SafeOverlappedFree.cs
  src/Common/src/Interop/Windows/sspicli/Interop.SSPI.cs
  src/Common/src/Interop/Windows/sspicli/SSPIAuthType.cs
  src/Common/src/Interop/Windows/sspicli/SSPIInterface.cs
  src/Common/src/Interop/Windows/sspicli/SSPISecureChannelType.cs
  src/Common/src/Interop/Windows/sspicli/SSPIWrapper.cs
  src/Common/src/Interop/Windows/sspicli/SecuritySafeHandles.cs
  src/Common/src/Interop/Windows/winhttp/Interop.winhttp.cs
  src/Common/src/Interop/Windows/winhttp/Interop.winhttp_types.cs
  src/Common/src/Microsoft/Win32/SafeHandles/SafeLibraryHandle.cs
  src/Common/src/System/Net/ContextAwareResult.Windows.cs
  src/Common/src/System/Net/CookieParser.cs
  src/Common/src/System/Net/LazyAsyncResult.cs
  src/Common/src/System/Net/WebHeaderEncoding.cs
  src/Common/src/System/Net/WebSockets/WebSocketValidate.cs
  src/Common/src/System/StringExtensions.cs
  src/Common/tests/Tests/System/StringExtensions.Tests.cs
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs
  src/System.Net.Http/src/System/Net/Http/Headers/HeaderDescriptor.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPoolManager.cs
  src/System.Net.Mail/src/System/Net/Base64Stream.cs
  src/System.Net.Mail/src/System/Net/Mail/SmtpConnection.Auth.cs
  src/System.Net.Mail/src/System/Net/Mime/EightBitStream.cs
  src/System.Net.Mail/src/System/Net/Mime/EncodedStreamFactory.cs
  src/System.Net.Mail/src/System/Net/Mime/IEncodableStream.cs
  src/System.Net.Mail/src/System/Net/Mime/QEncodedStream.cs
  src/System.Net.Mail/src/System/Net/Mime/QuotedPrintableStream.cs
  src/System.Net.Mail/tests/Unit/EncodedStreamFactoryTest.cs
  src/System.Net.Mail/tests/Unit/SmtpConnectionTests/EhloParseExtensionsTest.cs
  src/System.Net.NameResolution/src/System.Net.NameResolution.csproj
  src/System.Net.NetworkInformation/src/System.Net.NetworkInformation.csproj
  src/System.Net.Primitives/src/System.Net.Primitives.csproj
  src/System.Net.Primitives/src/System/Net/NetworkCredential.cs
  src/System.Net.Primitives/tests/UnitTests/CookieInternalTest.cs
  src/System.Net.Security/src/System/Net/HelperAsyncResults.cs
  src/System.Net.WebHeaderCollection/src/System.Net.WebHeaderCollection.csproj
  src/System.Net.WebSockets.Client/src/System/Net/WebSockets/ClientWebSocketOptions.cs
Labels: area-System.Net

#29428 Code cleanup in roslyn regex tests port
  src/System.Text.RegularExpressions/tests/RegexParserTests.cs
Labels: area-System.Text.RegularExpressions

#29429 Disable read of arbitrary Console Title on NETFX
  src/System.Console/tests/WindowAndCursorProps.cs
Labels: area-System.Console

#29433 Replace files with CoreLib mirror (<30% differences)
  src/Common/src/Interop/Unix/Interop.Errors.cs
  src/Common/src/Interop/Windows/kernel32/Interop.Encoding.Constants.cs
  src/Common/src/Interop/Windows/kernel32/Interop.FileOperations.cs
  src/Common/src/Interop/Windows/kernel32/Interop.FileTypes.cs
  src/Common/src/Interop/Windows/kernel32/Interop.GetFullPathNameW.cs
  src/Common/src/Interop/Windows/kernel32/Interop.MultiByteToWideChar.cs
  src/Common/src/Interop/Windows/kernel32/Interop.SECURITY_ATTRIBUTES.cs
  src/Common/src/Interop/Windows/kernel32/Interop.SetThreadErrorMode.cs
  src/Common/src/Interop/Windows/kernel32/Interop.WideCharToMultiByte.cs
  src/Common/tests/Common.Tests.csproj
  src/Microsoft.Win32.Primitives/src/Microsoft.Win32.Primitives.csproj
  src/Microsoft.Win32.Registry/src/Microsoft.Win32.Registry.csproj
  src/System.Buffers/src/System.Buffers.csproj
  src/System.Buffers/src/System/Buffers/Utilities.cs
  src/System.Console/src/System.Console.csproj
  src/System.Diagnostics.FileVersionInfo/src/System.Diagnostics.FileVersionInfo.csproj
  src/System.Diagnostics.PerformanceCounter/src/System.Diagnostics.PerformanceCounter.csproj
  src/System.Diagnostics.Process/src/System.Diagnostics.Process.csproj
  src/System.IO.FileSystem.DriveInfo/src/System.IO.FileSystem.DriveInfo.csproj
  src/System.IO.FileSystem.Watcher/src/System.IO.FileSystem.Watcher.csproj
  src/System.IO.FileSystem/src/System.IO.FileSystem.csproj
  src/System.IO.MemoryMappedFiles/src/System.IO.MemoryMappedFiles.csproj
  src/System.IO.Pipes/src/System.IO.Pipes.csproj
  src/System.IO.Ports/src/System.IO.Ports.csproj
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.HttpListener/src/System.Net.HttpListener.csproj
  src/System.Net.NameResolution/src/System.Net.NameResolution.csproj
  src/System.Net.NameResolution/tests/PalTests/System.Net.NameResolution.Pal.Tests.csproj
  src/System.Net.NetworkInformation/src/System.Net.NetworkInformation.csproj
  src/System.Net.Ping/src/System.Net.Ping.csproj
  src/System.Net.Primitives/src/System.Net.Primitives.csproj
  src/System.Net.Primitives/tests/PalTests/System.Net.Primitives.Pal.Tests.csproj
  src/System.Net.Primitives/tests/UnitTests/System.Net.Primitives.UnitTests.Tests.csproj
  src/System.Net.Security/src/System.Net.Security.csproj
  src/System.Net.Sockets/src/System.Net.Sockets.csproj
  src/System.Runtime.Extensions/src/System.Runtime.Extensions.csproj
  src/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
  src/System.Security.Cryptography.X509Certificates/tests/System.Security.Cryptography.X509Certificates.Tests.csproj
  src/System.Text.Encoding.CodePages/src/System.Text.Encoding.CodePages.csproj
  src/System.Threading/src/System/Threading/TimeoutHelper.cs
  src/System.ValueTuple/src/System.ValueTuple.csproj
  src/System.ValueTuple/src/System/Runtime/CompilerServices/TupleElementNamesAttribute.cs
Labels: area-Meta

#29455 Fix performance regression in Guid.NewGuid on OSX
  src/Native/Unix/Common/pal_config.h.in
  src/Native/Unix/System.Native/pal_random.cpp
  src/Native/Unix/configure.cmake
Labels: area-System.Runtime

#29457 Port to 2.1 - Fix performance regression in Guid.NewGuid on OSX
  src/Native/Unix/Common/pal_config.h.in
  src/Native/Unix/System.Native/pal_random.cpp
  src/Native/Unix/configure.cmake
Labels: area-System.Runtime

#29438 Port "Keep SSL error queue clean" to 2.1
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.ASN1.Print.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.ASN1.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Bignum.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Crypto.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Dsa.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.EcDsa.ImportExport.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.EcDsa.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.EcKey.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Encode.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Rsa.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Ssl.cs
  src/Common/src/System/Security/Cryptography/DSAOpenSsl.cs
  src/Common/src/System/Security/Cryptography/ECDsaOpenSsl.cs
  src/Common/src/System/Security/Cryptography/ECOpenSsl.ImportExport.cs
  src/Common/src/System/Security/Cryptography/RSAOpenSsl.cs
  src/Native/Unix/System.Security.Cryptography.Native/pal_dsa.cpp
  src/Native/Unix/System.Security.Cryptography.Native/pal_rsa.cpp
  src/Native/Unix/System.Security.Cryptography.Native/pal_rsa.h
  src/Native/Unix/System.Security.Cryptography.Native/pal_ssl.cpp
  src/System.Security.Cryptography.Encoding/src/Internal/Cryptography/OidLookup.Unix.cs
  src/System.Security.Cryptography.Encoding/src/Internal/Cryptography/OpenSslAsnFormatter.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CertificateAssetDownloader.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CertificatePal.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CrlCache.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/PkcsFormatReader.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/StorePal.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/X500NameEncoder.OpenSslDecode.cs
Labels: area-System.Security

#29198 Adding begin/end steps to build definitions
  buildpipeline/DotNet-CoreFx-Trusted-Linux-Crossbuild.json
  buildpipeline/DotNet-CoreFx-Trusted-Linux.json
  buildpipeline/DotNet-CoreFx-Trusted-OSX.json
  buildpipeline/DotNet-CoreFx-Trusted-Windows-NoTest.json
  buildpipeline/DotNet-CoreFx-Trusted-Windows.json
  buildpipeline/DotNet-Trusted-Publish-Symbols.json
  buildpipeline/DotNet-Trusted-Publish.json
  buildpipeline/DotNet-Trusted-Tests-Publish.json
Labels: area-Infrastructure

#29199 Adding begin/end steps to build definitions and removing deprecated cleanup step
  buildpipeline/DotNet-CoreFx-Trusted-Linux-Crossbuild.json
  buildpipeline/DotNet-CoreFx-Trusted-Linux.json
  buildpipeline/DotNet-CoreFx-Trusted-OSX.json
  buildpipeline/DotNet-CoreFx-Trusted-Windows-NoTest.json
  buildpipeline/DotNet-CoreFx-Trusted-Windows.json
  buildpipeline/DotNet-Trusted-Publish-Symbols.json
  buildpipeline/DotNet-Trusted-Publish.json
  buildpipeline/DotNet-Trusted-Tests-Publish.json
Labels: area-Infrastructure

#29465 Add two missing ConfigureAwait(false) calls in SocketsHttpHandler
  src/Common/tests/System/Net/Http/LoopbackServer.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ChunkedEncodingReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Asynchrony.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ResponseDrain.cs
  src/System.Net.Http/tests/FunctionalTests/PlatformHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Labels: area-System.Net.Http.SocketsHttpHandler

#29470 [release/2.1] Add two missing ConfigureAwait(false) calls in SocketsHttpHandler
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ChunkedEncodingReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#29471 Fix race condition in Sockets' ExecutionContextFlowTest test
  src/System.Net.Sockets/tests/FunctionalTests/ExecutionContextFlowTest.netcoreapp.cs
Labels: area-System.Net.Sockets

#29486 Delete Brotli_External_DecompressesResponse_Success test
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Decompression.cs
Labels: area-System.Net.Http

#29484 Fix BeginConnect_EndPoint_AddressFamily_Throws_NotSupported test for netfx
  src/System.Net.Sockets/tests/FunctionalTests/ArgumentValidationTests.cs
Labels: area-System.Net.Sockets

#29442 Quote rereference argument in Microsoft.XmlSerializer.Generator.targets.
  src/Microsoft.XmlSerializer.Generator/pkg/build/Microsoft.XmlSerializer.Generator.targets
  src/Microsoft.XmlSerializer.Generator/src/Sgen.cs
  src/System.Private.Xml/src/Resources/Strings.resx
Labels: area-Serialization

#29492 Miscellaneous clean up for System.Net
  src/System.Net.Http/src/System/Net/Http/HttpClient.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ClientCertificates.cs
Labels: area-System.Net.Http

#29337 Unify setting null CookieContainer behavior on HttpClientHandler
  src/System.Net.Http/src/System/Net/Http/HttpClientHandler.Unix.cs
  src/System.Net.Http/src/System/Net/Http/HttpClientHandler.Windows.cs
  src/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net

#29422 [release/2.1] Add more Span-based parsing tests for Int32 and friends (#29363)
  src/System.Runtime/tests/System/BooleanTests.netcoreapp.cs
  src/System.Runtime/tests/System/ByteTests.netcoreapp.cs
  src/System.Runtime/tests/System/DateTimeOffsetTests.netcoreapp.cs
  src/System.Runtime/tests/System/DecimalTests.netcoreapp.cs
  src/System.Runtime/tests/System/DoubleTests.netcoreapp.cs
  src/System.Runtime/tests/System/Int16Tests.netcoreapp.cs
  src/System.Runtime/tests/System/Int32Tests.netcoreapp.cs
  src/System.Runtime/tests/System/Int64Tests.netcoreapp.cs
  src/System.Runtime/tests/System/SByteTests.netcoreapp.cs
  src/System.Runtime/tests/System/SingleTests.netcoreapp.cs
  src/System.Runtime/tests/System/TimeSpanTests.netcoreapp.cs
  src/System.Runtime/tests/System/UInt16Tests.netcoreapp.cs
  src/System.Runtime/tests/System/UInt32Tests.netcoreapp.cs
  src/System.Runtime/tests/System/UInt64Tests.netcoreapp.cs
  src/System.Runtime/tests/System/VersionTests.netcoreapp.cs
Labels: area-System.Runtime

#29502 Fix handling of Unix directories
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEntry.Unix.cs
Labels: area-System.IO

#29466 Merge pull request #29281 from ericstj/sm.syndic.facade
  src/System.ServiceModel.Syndication/ref/System.ServiceModel.Syndication.csproj
  src/System.ServiceModel.Syndication/src/Configurations.props
  src/System.ServiceModel.Syndication/src/System.ServiceModel.Syndication.csproj
  src/System.ServiceModel.Syndication/tests/BasicScenarioTests.cs
Labels: blocking-release

#29512 Port fix for enumerating directories on XFS
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEntry.Unix.cs
Labels: area-System.IO

#29515 Remove LStat call in enumeration
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEntry.Unix.cs
Labels: area-System.IO

#29519 Log filesystem of tests and temp
  src/System.Runtime.InteropServices.RuntimeInformation/tests/DescriptionNameTests.cs
Labels: area-System.Runtime

#29529 SSL error clean up: incorporate PR feedback from 2.1 into master
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Dsa.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.EcDsa.ImportExport.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.EcDsa.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/Native/Unix/System.Security.Cryptography.Native/pal_dsa.cpp
Labels: area-System.Security

#29528 Revert "Add config to force OpenSsl error queue cleanup before Encrypt/Decrypt (#29186)"
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Ssl.cs
  src/Native/Unix/System.Security.Cryptography.Native/pal_ssl.cpp
  src/Native/Unix/System.Security.Cryptography.Native/pal_ssl.h
Labels: area-System.Security

#29539 Replace several Substrings with AsSpans
  src/Common/src/Interop/Linux/procfs/Interop.ProcFsStat.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Windows.cs
  src/System.Runtime.Extensions/src/System/Runtime/Versioning/FrameworkName.cs
Labels: area-Meta

#29545 Removed duplicated type HttpVersionInternal
  src/Common/src/System/Net/HttpVersionInternal.cs
  src/System.Net.Http.WinHttpHandler/src/System.Net.Http.WinHttpHandler.csproj
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpResponseParser.cs
  src/System.Net.Http.WinHttpHandler/tests/UnitTests/System.Net.Http.WinHttpHandler.Unit.Tests.csproj
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlResponseHeaderReader.cs
  src/System.Net.Http/src/System/Net/Http/HttpUtilities.cs
  src/System.Net.Http/src/uap/System/Net/HttpHandlerToFilter.cs
  src/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
Labels: area-System.Net.Http

#29553 Add missing ConfigureAwait(false) to UAP HttpClientHandler
  src/System.Net.Http/src/uap/System/Net/HttpClientHandler.cs
Labels: area-System.Net.Http, os-windows-uwp

#29493 Exclude private framework packages from stable update
  src/packages.builds
Labels: area-Infrastructure

#29556 Skip Unix domain sockets tests in 32-bit process on 64-bit Windows
  src/CoreFx.Private.TestUtilities/ref/CoreFx.Private.TestUtilities.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.Unix.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.Windows.cs
  src/System.Net.Sockets/tests/FunctionalTests/UnixDomainSocketTest.netcoreapp.cs
Labels: area-System.Net.Sockets

#29594 Remove StringBuilder usage from Dns.GetHostName
  src/Common/src/Interop/Windows/Winsock/Interop.gethostname.cs
  src/System.Net.NameResolution/src/System/Net/NameResolutionPal.Windows.cs
Labels: area-System.Net

#29579 Enable build S.R.WindowRuntime for .netcoreapp
  src/System.Runtime.WindowsRuntime/ref/Configurations.props
  src/System.Runtime.WindowsRuntime/src/Configurations.props
  src/mscorlib.WinRT-Facade/ref/Configurations.props
Labels: area-System.Runtime.InteropServices

#29514 Creating ~/.local/share directory if not created yet
  src/System.IO.IsolatedStorage/src/System/IO/IsolatedStorage/Helper.Win32Unix.cs
Labels: area-System.IO, os-mac-os-x

#29603 [2.1] Split some sxl tests to netcoreapp
  src/System.Security.Cryptography.Xml/tests/Configurations.props
  src/System.Security.Cryptography.Xml/tests/System.Security.Cryptography.Xml.Tests.csproj
Labels: test bug

#29617 SslApplicationProtocol: don't use local functions to support older compilers.
  src/System.Net.Security/src/System/Net/Security/SslApplicationProtocol.cs
Labels: area-System.Net.Security

#29533 Reflection: Add test verifying ParameterInfo.DefaultValue doesn't throw for optional DateTime parameter
  src/System.Reflection/tests/ParameterInfoTests.cs
Labels: area-System.Reflection

#29532 Reflection.Emit: Add test for `ParameterBuilder.SetConstant(null)`
  src/System.Reflection.Emit/tests/ParameterBuilder/ParameterBuilderSetConstant.cs
  src/System.Reflection.Emit/tests/System.Reflection.Emit.Tests.csproj
Labels: area-System.Reflection.Emit

#29584 Minor improvements to SocketsHttpHandler redirect logging
  src/System.Net.Http/src/System/Net/Http/NetEventSource.Http.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/RedirectHandler.cs
Labels: area-System.Net.Http.SocketsHttpHandler, enhancement

#29604 Add EventSource tracing to WinHttpHandler
  Documentation/debugging/windows-instructions.md
  src/Common/tests/Scripts/Tools/net_providers.txt
  src/System.Net.Http.WinHttpHandler/src/System.Net.Http.WinHttpHandler.csproj
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/NetEventSource.WinHttpHandler.cs
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpCertificateHelper.cs
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpCookieContainerAdapter.cs
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpRequestCallback.cs
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpRequestState.cs
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpResponseParser.cs
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpResponseStream.cs
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpTraceHelper.cs
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinInetProxyHelper.cs
Labels: area-System.Net.Http

#29638 Adding delay to fix assertion in test InvokeOnEventsThreadRunsAsynchronously
  src/Microsoft.Win32.SystemEvents/tests/SystemEvents.InvokeOnEventsThread.cs
Labels: area-Microsoft.Win32

#29657 Use shared StringBuilderCache
  src/Common/src/System/IO/StringBuilderCache.cs
  src/Common/tests/Common.Tests.csproj
  src/System.Console/src/System.Console.csproj
  src/System.Diagnostics.Process/src/System.Diagnostics.Process.csproj
  src/System.IO.MemoryMappedFiles/tests/MemoryMappedFilesTestsBase.cs
  src/System.IO.MemoryMappedFiles/tests/Performance/System.IO.MemoryMappedFiles.Performance.Tests.csproj
  src/System.IO.MemoryMappedFiles/tests/System.IO.MemoryMappedFiles.Tests.csproj
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/Headers/MediaTypeHeaderValue.cs
  src/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
  src/System.Net.Primitives/src/System.Net.Primitives.csproj
  src/System.Net.Primitives/tests/PalTests/System.Net.Primitives.Pal.Tests.csproj
  src/System.Net.Primitives/tests/UnitTests/System.Net.Primitives.UnitTests.Tests.csproj
  src/System.Private.Xml.Linq/src/System.Private.Xml.Linq.csproj
  src/System.Private.Xml.Linq/src/System/Xml/Linq/XDeclaration.cs
  src/System.Private.Xml.Linq/src/System/Xml/Linq/XElement.cs
  src/System.Private.Xml/src/System.Private.Xml.csproj
  src/System.Private.Xml/src/System/Xml/Dom/XmlDeclaration.cs
  src/System.Runtime.Extensions/src/System.Runtime.Extensions.csproj
  src/System.Text.RegularExpressions/src/System.Text.RegularExpressions.csproj
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Replace.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexBoyerMoore.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParser.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexReplacement.cs
Labels: area-System.Runtime

#29663 Switch recently re-enabled tests to run only on new versions of .NET Framework
  src/CoreFx.Private.TestUtilities/ref/CoreFx.Private.TestUtilities.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.NetFx.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.NonNetFx.cs
  src/System.Private.Uri/tests/FunctionalTests/UriRelativeResolutionTest.cs
Labels: area-System.Net, test bug

#29666 Update official runs to use RS4 target queues
  buildpipeline/pipeline.json
Labels: area-Infrastructure

#29670 Skipping test on uap because metadata removed for perf reason
  src/System.Composition/tests/CustomerReportedMetadataBug.cs
Labels: area-System.Composition

#29631 Fix Pen test failures with latest libgdiplus
  src/System.Drawing.Common/src/System/Drawing/Gdiplus.cs
  src/System.Drawing.Common/src/System/Drawing/Pen.cs
  src/System.Drawing.Common/tests/PenTests.cs
Labels: area-System.Drawing

#29684 Add missing RIDs for Tizen
  pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  pkg/Microsoft.NETCore.Platforms/runtime.json
  pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
Labels: area-Infrastructure

#29601 Move StringTests.cs to Common.Tests
  src/Common/tests/Common.Tests.csproj
  src/Common/tests/Tests/System/StringTests.cs
  src/System.Memory/tests/ReadOnlySpan/CompareTo.cs
  src/System.Memory/tests/ReadOnlySpan/Contains.cs
  src/System.Memory/tests/ReadOnlySpan/EndsWith.StringComparison.cs
  src/System.Memory/tests/ReadOnlySpan/Equals.cs
  src/System.Memory/tests/ReadOnlySpan/IndexOf.charSpan.cs
  src/System.Memory/tests/ReadOnlySpan/StartsWith.StringComparison.cs
  src/System.Memory/tests/ReadOnlySpan/ToLower.cs
  src/System.Memory/tests/ReadOnlySpan/ToUpper.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
  src/System.Runtime/tests/System.Runtime.Tests.csproj
Labels: area-System.Memory

#29632 Consolidate Image code between Unix/Windows
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/System.Drawing.Common/src/System/Drawing/Bitmap.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Bitmap.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Bitmap.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.cs
  src/System.Drawing.Common/src/System/Drawing/Image.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Image.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Image.cs
Labels: area-System.Drawing

#29630 Release the HDC when disposing graphics
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.cs
  src/System.Drawing.Common/tests/GraphicsTests.cs
Labels: area-System.Drawing

#29693 [2.0] Disable sxl test dependent on backport minor fix
  src/System.Security.Cryptography.Xml/tests/Signature_ArbitraryElements.cs
Labels: area-System.Security, test bug

#29658 Add missing Read/Write{Async} overrides on Streams in ref assemblies
  src/System.IO.Compression.Brotli/ref/System.IO.Compression.Brotli.cs
  src/System.IO.Compression/ref/System.IO.Compression.cs
  src/System.IO.IsolatedStorage/ref/System.IO.IsolatedStorage.cs
  src/System.IO.IsolatedStorage/src/System/IO/IsolatedStorage/IsolatedStorageFileStream.cs
  src/System.IO.Pipes/ref/System.IO.Pipes.cs
  src/System.Net.Security/ref/System.Net.Security.cs
  src/System.Net.Sockets/ref/System.Net.Sockets.netcoreapp.cs
  src/System.Net.Sockets/src/System/Net/Sockets/NetworkStream.cs
  src/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/System.Runtime/ref/System.Runtime.cs
Labels: area-System.IO

#29559 Add unit test to check edge case in Array.Reverse(Array, ...)
  src/System.Runtime/tests/System/ArrayTests.netcoreapp.cs
Labels: area-System.Runtime

#29724 Update System.Net tests to use newer corefx-testdata PFX files
  external/test-runtime/XUnit.Runtime.depproj
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/System.Net.Http/tests/Performance/System.Net.Http.Performance.Tests.csproj
  src/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
  src/System.Net.WebSockets.Client/tests/System.Net.WebSockets.Client.Tests.csproj
Labels: area-System.Net

#29743 Disable GetAsync_UnicodeHostName_SuccessStatusCodeInResponse test on NETFX
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http

#29705 Fix SignedCms handling of negative certificate serial numbers.
  src/Common/src/System/Security/Cryptography/Asn1V2.Serializer.cs
  src/Common/src/System/Security/Cryptography/AsnWriter.cs
  src/System.Security.Cryptography.Encoding/tests/Asn1/Serializer/SimpleDeserialize.cs
  src/System.Security.Cryptography.Encoding/tests/Asn1/Serializer/SimpleSerialize.cs
  src/System.Security.Cryptography.Encoding/tests/Asn1/Writer/WriteInteger.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Rfc3161TimestampRequest.cs
  src/System.Security.Cryptography.Pkcs/tests/Certificates.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/DecryptTests.cs
  src/System.Security.Cryptography.Pkcs/tests/SignedCms/SignedCmsTests.cs
Labels: area-System.Security

#29729 Add Brotli support to SocketsHttpHandler
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/DecompressionHandler.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Decompression.cs
  src/System.Net.Primitives/ref/System.Net.Primitives.cs
  src/System.Net.Primitives/src/System/Net/DecompressionMethods.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#29738 Add more missing overrides to refs
  src/Microsoft.Win32.Primitives/ref/Microsoft.Win32.Primitives.cs
  src/System.ComponentModel.EventBasedAsync/ref/System.ComponentModel.EventBasedAsync.cs
  src/System.Diagnostics.DiagnosticSource/ref/System.Diagnostics.DiagnosticSource.cs
  src/System.IO.Compression.Brotli/ref/System.IO.Compression.Brotli.cs
  src/System.IO.Compression/ref/System.IO.Compression.cs
  src/System.IO.FileSystem/ref/System.IO.FileSystem.cs
  src/System.Net.Http/ref/System.Net.Http.cs
  src/System.Net.Requests/ref/System.Net.Requests.cs
  src/System.Net.Security/ref/System.Net.Security.cs
  src/System.Net.Sockets/ref/System.Net.Sockets.cs
  src/System.Net.WebSockets.Client/ref/System.Net.WebSockets.Client.cs
  src/System.Net.WebSockets.WebSocketProtocol/ref/System.Net.WebSockets.WebSocketProtocol.cs
  src/System.Security.Cryptography.Csp/ref/System.Security.Cryptography.Csp.cs
  src/System.Security.Cryptography.Encoding/ref/System.Security.Cryptography.Encoding.cs
  src/System.Security.Cryptography.ProtectedData/ref/System.Security.Cryptography.ProtectedData.cs
Labels: area-Infrastructure

#29626 Fix performance regression of XmlDocument.Create
  src/System.Private.Xml/src/System/Xml/Dom/XmlDocument.cs
  src/System.Private.Xml/src/System/Xml/NameTable.cs
  src/System.Private.Xml/tests/XmlDocument/System.Xml.XmlDocument.Tests.csproj
  src/System.Private.Xml/tests/XmlDocument/XmlDocumentTests/NameTableTests.cs
Labels: area-System.Xml

#29719 BufferSegment inline WritableBytes
  src/System.IO.Pipelines/src/System/IO/Pipelines/BufferSegment.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs
Labels: area-System.IO.Pipelines

#29758 Fix client certificate lifetime handling in tests
  src/Common/tests/System/Net/Configuration.Certificates.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ClientCertificates.cs
Labels: area-System.Net.Http

#29750 Test enumerating deleted directories.
  src/System.IO.FileSystem/tests/Enumeration/RemovedDirectoryTests.netcoreapp.cs
  src/System.IO.FileSystem/tests/System.IO.FileSystem.Tests.csproj
Labels: area-System.IO

#29775 Fix warning about Brotli in uap System.Net.Http build
  src/System.Net.Http/src/System.Net.Http.csproj
Labels: area-System.Net.Http, os-windows-uwp

#29774 WMI: make DMTF and DateTime match netfx behavior
  src/System.Management/src/System/Management/ManagementDateTime.cs
  src/System.Management/tests/System/Management/ManagementDateTimeConverterTests.cs
Labels: area-System.Management

#29769 Fix Uri.Host for IPv6 Link-local address
  src/System.Private.Uri/src/System/IPv6AddressHelper.cs
  src/System.Private.Uri/tests/FunctionalTests/UriIpHostTest.cs
Labels: area-System.Net, netfx-port-consider

#29790 Fix getting attributes for sharing violation files
  src/Common/src/Interop/Windows/Interop.Errors.cs
  src/System.IO.FileSystem/src/System/IO/FileSystem.Windows.cs
  src/System.IO.FileSystem/tests/File/GetSetTimes.cs
  src/System.IO.FileSystem/tests/FileInfo/Exists.cs
  src/System.IO.FileSystem/tests/FileInfo/GetSetTimes.cs
Labels: Servicing-Consider-2.1.1, area-System.IO

#29795 Change EnsureSuccessStatusCode to not dispose response content
  src/System.Net.Http/src/System/Net/Http/HttpResponseMessage.cs
  src/System.Net.Http/tests/FunctionalTests/HttpResponseMessageTest.cs
Labels: area-System.Net.Http

#29751 Override CopyTo on DeflateStream
  src/Common/tests/System/IO/Compression/CompressionStreamUnitTestBase.cs
  src/System.IO.Compression/ref/System.IO.Compression.cs
  src/System.IO.Compression/src/System/IO/Compression/DeflateZLib/DeflateStream.cs
Labels: area-System.IO.Compression

#29803 Disable Http tests on UAP
  src/System.Net.Http/tests/FunctionalTests/DefaultCredentialsTest.cs
  src/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Authentication.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cancellation.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ClientCertificates.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.DefaultProxyCredentials.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.MaxConnectionsPerServer.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.MaxResponseHeadersLength.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ResponseDrain.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ServerCertificates.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientTestBase.cs
  src/System.Net.Http/tests/FunctionalTests/HttpCookieProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/HttpProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/HttpRetryProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/PostScenarioTest.cs
  src/System.Net.Http/tests/FunctionalTests/ResponseStreamTest.cs
  src/System.Net.Http/tests/FunctionalTests/SchSendAuxRecordHttpTest.cs
Labels: area-System.Net.Http, os-windows-uwp, test-run-uwp-coreclr, test-run-uwp-ilc

#29818 Revert "Fix Uri.Host for IPv6 Link-local address (#29769)"
  src/System.Private.Uri/src/System/IPv6AddressHelper.cs
  src/System.Private.Uri/tests/FunctionalTests/UriIpHostTest.cs
Labels: area-System.Net

#29810 Fix WebSocket.Client tests on UAP
  src/System.Net.WebSockets.Client/src/System/Net/WebSockets/WinRTWebSocket.cs
  src/System.Net.WebSockets.Client/tests/ConnectTest.cs
  src/System.Net.WebSockets.Client/tests/SendReceiveTest.cs
Labels: area-System.Net, os-windows-uwp, test-run-uwp-coreclr

#29777 fix FromBase64Transform for oversize buffers
  src/System.Security.Cryptography.Encoding/src/System/Security/Cryptography/Base64Transforms.cs
  src/System.Security.Cryptography.Encoding/tests/Base64TransformsTests.cs
Labels: area-System.Security

#29798 Fix test for Thread constructor taking stack size
  src/System.Threading.Thread/tests/ThreadTests.cs
Labels: area-System.Threading

#29830 Add Xamarin platform placeholder in S.T.Tasks.Extensions package
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/System.Threading.Tasks.Extensions/pkg/System.Threading.Tasks.Extensions.pkgproj
Labels: area-System.Threading.Tasks

#29833 Fix HttpWebRequest Connection header test
  src/System.Net.Requests/tests/HttpWebRequestTest.cs
Labels: area-System.Net

#29826 Fix websocket partial message receive test
  src/System.Net.WebSockets.Client/tests/SendReceiveTest.cs
Labels: area-System.Net

#29786 Fix Sockets hang caused by concurrent Socket disposal
  src/Common/src/System/Net/SafeCloseSocket.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Windows.cs
  src/System.Net.Sockets/tests/FunctionalTests/SendReceive.cs
Labels: area-System.Net.Sockets

#29394 Update Tizen ci docker image
  cross/arm32_ci_script.sh
  cross/armel/tizen-fetch.sh
  netci.groovy
Labels: area-Tizen

#29822 Fix SocketsHttpHandler handling of pooling timeouts with max connections
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPoolManager.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#29840 Fix WebSocket split UTF8 read #29834
  src/Common/src/System/Net/WebSockets/ManagedWebSocket.cs
  src/System.Net.WebSockets.WebSocketProtocol/tests/WebSocketProtocolTests.cs
Labels: area-System.Net

#29851 Fix HttpClient TLS tests
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.SslProtocols.cs
Labels: area-System.Net.Http

#29408 Add/Remove for CMS UnsignedAttributes and Certificates
  src/System.Security.Cryptography.Pkcs/ref/System.Security.Cryptography.Pkcs.cs
  src/System.Security.Cryptography.Pkcs/src/Resources/Strings.resx
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SignedCms.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SignerInfo.cs
  src/System.Security.Cryptography.Pkcs/tests/SignedCms/SignedCmsTests.netcoreapp.cs
  src/System.Security.Cryptography.Pkcs/tests/SignedCms/SignedDocuments.cs
  src/System.Security.Cryptography.Pkcs/tests/SignedCms/SignerInfoTests.cs
  src/System.Security.Cryptography.Pkcs/tests/SignedCms/SignerInfoTests.netcoreapp.cs
  src/System.Security.Cryptography.Pkcs/tests/System.Security.Cryptography.Pkcs.Tests.csproj
Labels: area-System.Security

#29839 Disable HttpListener tests on Nano
  src/System.Net.HttpListener/tests/HttpListenerAuthenticationTests.cs
  src/System.Net.HttpListener/tests/HttpListenerContextTests.cs
  src/System.Net.HttpListener/tests/HttpListenerPrefixCollectionTests.cs
  src/System.Net.HttpListener/tests/HttpListenerRequestTests.cs
  src/System.Net.HttpListener/tests/HttpListenerResponseTests.Cookies.cs
  src/System.Net.HttpListener/tests/HttpListenerResponseTests.Headers.cs
  src/System.Net.HttpListener/tests/HttpListenerResponseTests.cs
  src/System.Net.HttpListener/tests/HttpListenerTests.cs
  src/System.Net.HttpListener/tests/HttpListenerTimeoutManagerTests.cs
  src/System.Net.HttpListener/tests/HttpListenerWebSocketTests.cs
  src/System.Net.HttpListener/tests/HttpRequestStreamTests.cs
  src/System.Net.HttpListener/tests/HttpResponseStreamTests.cs
  src/System.Net.HttpListener/tests/InvalidClientRequestTests.cs
  src/System.Net.HttpListener/tests/SimpleHttpTests.cs
  src/System.Net.HttpListener/tests/WebSocketTests.cs
Labels: area-System.Net, os-windows-nano

#29837 Optimize Pipe.DefaultPipeWriter GetSpan and Advance
  src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.DefaultPipeWriter.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs
Labels: area-System.IO.Pipelines

#28875 Code cleanup and formatting for System.Memory src and test
  src/Common/src/System/Numerics/Hashing/HashHelpers.cs
  src/Common/tests/System/Buffers/NativeMemoryManager.cs
  src/System.Memory/src/System/Buffers/ArrayMemoryPool.ArrayMemoryPoolBuffer.cs
  src/System.Memory/src/System/Buffers/ArrayMemoryPool.cs
  src/System.Memory/src/System/Buffers/Text/Base64Decoder.cs
  src/System.Memory/src/System/Buffers/Text/Utf8Constants.cs
  src/System.Memory/src/System/Buffers/Text/Utf8Formatter/Utf8Formatter.Boolean.cs
  src/System.Memory/src/System/Buffers/Text/Utf8Formatter/Utf8Formatter.Date.G.cs
  src/System.Memory/src/System/Buffers/Text/Utf8Formatter/Utf8Formatter.Date.L.cs
  src/System.Memory/src/System/Buffers/Text/Utf8Formatter/Utf8Formatter.Date.O.cs
  src/System.Memory/src/System/Buffers/Text/Utf8Formatter/Utf8Formatter.Date.R.cs
  src/System.Memory/src/System/Buffers/Text/Utf8Formatter/Utf8Formatter.Date.cs
  src/System.Memory/src/System/Buffers/Text/Utf8Formatter/Utf8Formatter.Decimal.G.cs
  src/System.Memory/src/System/Buffers/Text/Utf8Formatter/Utf8Formatter.Integer.Signed.Default.cs
  src/System.Memory/src/System/Buffers/Text/Utf8Formatter/Utf8Formatter.TimeSpan.cs
  src/System.Memory/src/System/Buffers/Text/Utf8Parser/Utf8Parser.Date.G.cs
  src/System.Memory/src/System/Buffers/Text/Utf8Parser/Utf8Parser.Date.Helpers.cs
  src/System.Memory/src/System/Buffers/Text/Utf8Parser/Utf8Parser.Float.cs
  src/System.Memory/src/System/Buffers/Text/Utf8Parser/Utf8Parser.Integer.Signed.N.cs
  src/System.Memory/src/System/Buffers/Text/Utf8Parser/Utf8Parser.Integer.Unsigned.N.cs
  src/System.Memory/tests/Memory/Equality.cs
  src/System.Memory/tests/MemoryPool/MemoryPool.cs
  src/System.Memory/tests/ParsersAndFormatters/TestData.cs
  src/System.Memory/tests/ReadOnlyMemory/Equality.cs
  src/System.Memory/tests/ReadOnlySpan/Contains.cs
  src/System.Memory/tests/ReadOnlySpan/CtorPointerInt.cs
  src/System.Memory/tests/ReadOnlySpan/EndsWith.StringComparison.cs
  src/System.Memory/tests/ReadOnlySpan/Equality.cs
  src/System.Memory/tests/ReadOnlySpan/Equals.cs
  src/System.Memory/tests/ReadOnlySpan/IsWhiteSpace.cs
  src/System.Memory/tests/ReadOnlySpan/SequenceCompareTo.T.cs
  src/System.Memory/tests/ReadOnlySpan/SequenceCompareTo.bool.cs
  src/System.Memory/tests/ReadOnlySpan/StartsWith.StringComparison.cs
  src/System.Memory/tests/ReadOnlySpan/TrimAnyCharacter.cs
  src/System.Memory/tests/ReadOnlySpan/TrimManyCharacters.cs
  src/System.Memory/tests/ReadOnlySpan/TrimWhiteSpace.cs
  src/System.Memory/tests/Span/Clear.cs
  src/System.Memory/tests/Span/CtorPointerInt.cs
  src/System.Memory/tests/Span/Equality.cs
  src/System.Memory/tests/Span/Reverse.cs
  src/System.Memory/tests/Span/SequenceCompareTo.T.cs
  src/System.Memory/tests/Span/SequenceCompareTo.bool.cs
  src/System.Memory/tests/TInt.cs
  src/System.Memory/tests/TestHelpers.cs
Labels: area-System.Memory

#29809 Move S.T.M. CompareTo.cs Span<char> tests to StringTests.cs
  src/Common/tests/Common.Tests.csproj
  src/Common/tests/Tests/System/SpanTestHelpers.cs
  src/Common/tests/Tests/System/StringTests.cs
  src/System.Memory/tests/ReadOnlySpan/CompareTo.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
  src/System.Runtime/tests/System.Runtime.Tests.csproj
Labels: area-System.Memory

#29835 Support for external private keys in EnvelopedCms.Decrypt
  src/System.Security.Cryptography.Pkcs/ref/System.Security.Cryptography.Pkcs.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/DecryptorPal.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Helpers.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.Decrypt.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.KeyTrans.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/Windows/DecryptorPalWindows.Decode.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/Windows/DecryptorPalWindows.Decrypt.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/Windows/DecryptorPalWindows.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/PkcsPal.cs
  src/System.Security.Cryptography.Pkcs/src/Resources/Strings.resx
  src/System.Security.Cryptography.Pkcs/src/System.Security.Cryptography.Pkcs.csproj
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/EnvelopedCms.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SubjectIdentifier.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/DecryptTests.KeyPersistence.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/DecryptTests.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/DecryptTestsUsingCertWithPrivateKey.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/DecryptTestsUsingExplicitPrivateKey.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/StateTests.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/SubjectIdentifierTests.cs
  src/System.Security.Cryptography.Pkcs/tests/System.Security.Cryptography.Pkcs.Tests.csproj
Labels: area-System.Security

#29875 Update tests for System.Net
  src/System.Net.Ping/tests/FunctionalTests/PingTest.cs
  src/System.Net.Security/tests/FunctionalTests/ClientAsyncAuthenticateTest.cs
  src/System.Net.Security/tests/FunctionalTests/ClientDefaultEncryptionTest.cs
  src/System.Net.Security/tests/FunctionalTests/ServerAllowNoEncryptionTest.cs
  src/System.Net.Security/tests/FunctionalTests/ServerNoEncryptionTest.cs
Labels: area-System.Net

#29814 Update baseline vs. NETFX
  src/shims/ApiCompatBaseline.netcoreapp.netfx461.ignore.txt
  src/shims/ApiCompatBaseline.netcoreapp.netfx461.txt
Labels: area-Infrastructure

#29076 Add tests for System.Data.Common.RowUpdatedEventArgs and RowUpdatingEventArgs
  src/System.Data.Common/tests/System.Data.Common.Tests.csproj
  src/System.Data.Common/tests/System/Data/Common/RowUpdatedEventArgsTest.cs
  src/System.Data.Common/tests/System/Data/Common/RowUpdatingEventArgsTest.cs
Labels: area-System.Data

#28843 Consolidate http date parsing
  src/Common/src/System/Net/HttpDateParser.cs
  src/Common/tests/Common.Tests.csproj
  src/Common/tests/Tests/System/Net/HttpDateParserTests.cs
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/Headers/ContentDispositionHeaderValue.cs
  src/System.Net.Http/src/System/Net/Http/Headers/DateHeaderParser.cs
  src/System.Net.Http/src/System/Net/Http/Headers/RangeConditionHeaderValue.cs
  src/System.Net.Http/src/System/Net/Http/Headers/RetryConditionHeaderValue.cs
  src/System.Net.Http/src/System/Net/Http/Headers/WarningHeaderValue.cs
  src/System.Net.Http/src/System/Net/Http/HttpRuleParser.cs
  src/System.Net.Http/tests/UnitTests/HttpRuleParserTest.cs
  src/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
  src/System.Net.Requests/src/System.Net.Requests.csproj
  src/System.Net.Requests/src/System/Net/HttpDateParse.cs
  src/System.Net.Requests/src/System/Net/HttpWebRequest.cs
  src/System.Net.Requests/src/System/Net/HttpWebResponse.cs
  src/System.Net.Requests/tests/HttpWebRequestTest.cs
  src/System.Net.Requests/tests/HttpWebResponseTest.cs
Labels: area-System.Net.Http

#29895 fix multicast ttl for IPv6 on Unix
  src/Native/Unix/System.Native/pal_networking.c
  src/System.Net.Sockets/tests/FunctionalTests/SocketOptionNameTest.cs
Labels: area-System.Net.Sockets, os-linux

#29816 Fix uap failures in IO
  src/Common/src/Interop/Windows/Interop.Errors.cs
  src/System.IO.FileSystem/src/System/IO/FileSystem.Windows.cs
  src/System.IO.FileSystem/tests/Directory/CreateDirectory.cs
  src/System.IO.FileSystem/tests/Directory/Exists.cs
  src/System.IO.FileSystem/tests/DirectoryInfo/Exists.cs
  src/System.IO.FileSystem/tests/DirectoryInfo/ToString.cs
  src/System.IO.FileSystem/tests/File/GetSetTimes.cs
  src/System.IO.FileSystem/tests/File/Move.cs
  src/System.IO.FileSystem/tests/FileInfo/Exists.cs
  src/System.IO.FileSystem/tests/FileInfo/GetSetTimes.cs
  src/System.Runtime.InteropServices.RuntimeInformation/tests/DescriptionNameTests.cs
Labels: area-System.IO

#29903 Fix auto decompression behavior in Http handlers
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpResponseParser.cs
  src/System.Net.Http.WinHttpHandler/tests/UnitTests/TestServer.cs
  src/System.Net.Http.WinHttpHandler/tests/UnitTests/WinHttpHandlerTest.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/DecompressionHandler.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Decompression.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/PlatformHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http

#29931 Disable multicast socket tests on Nano
  src/System.Net.Sockets/tests/FunctionalTests/SocketOptionNameTest.cs
Labels: area-System.Net.Sockets, os-windows-nano

#29918 Dispose sockets from failed static Socket.ConnectAsync calls with non-DnsEndPoints
  src/System.Net.Sockets/src/System/Net/Sockets/MultipleConnectAsync.cs
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.cs
Labels: area-System.Net.Sockets

#29520 Update main Win10 CI machine to RS4
  buildpipeline/windows.groovy
  src/System.Drawing.Common/tests/BitmapTests.cs
  src/System.Drawing.Common/tests/Helpers.cs
  src/System.Drawing.Common/tests/Printing/PageSettingsTests.cs
  src/System.Drawing.Common/tests/Printing/PrintDocumentTests.cs
  src/System.Drawing.Common/tests/Printing/PrinterSettingsTests.cs
Labels: area-Infrastructure

#29944 Remove obsoleted comment in NameResolutionPal
  src/System.Net.NameResolution/src/System/Net/NameResolutionPal.Windows.cs
Labels: area-System.Net

#29955 Expose TypeInfo constructor
  src/System.Runtime/ref/System.Runtime.cs
Labels: area-System.Runtime

#29908 Make directory enumeration consistent
  src/Common/src/Interop/Windows/Interop.Errors.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Unix.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Win32.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.WinRT.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Windows.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.cs
  src/System.IO.FileSystem/tests/Enumeration/ErrorHandlingTests.netcoreapp.cs
  src/System.IO.FileSystem/tests/Enumeration/RemovedDirectoryTests.netcoreapp.cs
Labels: Servicing-Consider-2.1.1, area-System.IO

#29853 [release/2.1] Fix WebSocket split UTF8 read #29834 (#29840)
  src/Common/src/System/Net/WebSockets/ManagedWebSocket.cs
  src/System.Net.WebSockets.WebSocketProtocol/tests/WebSocketProtocolTests.cs
Labels: Servicing-Approved-2.1.1, area-System.Net

#29749 [release/2.1] Fix deadlock when waiting for process exit in Console.CancelKeyPress
  src/Common/src/Interop/Unix/System.Native/Interop.RegisterForCtrlC.cs
  src/Common/src/Interop/Unix/System.Native/Interop.RestoreAndHandleCtrl.cs
  src/Native/Unix/System.Native/pal_console.h
  src/Native/Unix/System.Native/pal_signal.c
  src/Native/Unix/System.Native/pal_signal.h
  src/System.Console/src/System.Console.csproj
  src/System.Console/src/System/ConsolePal.Unix.cs
  src/System.Console/tests/CancelKeyPress.Unix.cs
Labels: * NO MERGE *, Servicing-Consider-2.1.1, area-System.Console

#29832 [release/2.1] Port fix getting attributes for sharing violation files (#29790)
  src/Common/src/Interop/Windows/Interop.Errors.cs
  src/System.IO.FileSystem/src/System/IO/FileSystem.Windows.cs
  src/System.IO.FileSystem/tests/File/GetSetTimes.cs
  src/System.IO.FileSystem/tests/FileInfo/Exists.cs
  src/System.IO.FileSystem/tests/FileInfo/GetSetTimes.cs
Labels: * NO MERGE *, Servicing-Approved-2.1.1, area-System.IO

#27251 Null value in string array in DataRow causes DataRowComparer to throw NRE, but only if it is the first parameter
  src/System.Data.DataSetExtensions/src/System/Data/DataRowComparer.cs
  src/System.Data.DataSetExtensions/tests/System/Data/DataRowComparerTests.cs
Labels: area-System.Data

#29948 check SwitchingProtocol before ContentLength
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.WebSockets.Client/tests/LoopbackHelper.cs
Labels: Servicing-Consider-2.1.1, area-System.Net.Http.SocketsHttpHandler

#29829 Fix Uri.Host for IPv6 Link-local address
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlHandler.EasyRequest.cs
  src/System.Private.Uri/src/System/IPv6AddressHelper.cs
  src/System.Private.Uri/src/System/Uri.cs
  src/System.Private.Uri/tests/FunctionalTests/IdnDnsSafeHostTest.cs
  src/System.Private.Uri/tests/FunctionalTests/UriIpHostTest.cs
Labels: area-System.Net

#29765 [release/2.1] Fix terminfo number reading with 32-bit integers (#29655)
  src/System.Console/src/System/TermInfo.cs
  src/System.Console/tests/TermInfo.cs
Labels: Servicing-Approved-2.1.1, area-System.Console

#29846 [release/2.1] Fix Sockets hang caused by concurrent Socket disposal (#29786)
  src/Common/src/System/Net/SafeCloseSocket.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Windows.cs
  src/System.Net.Sockets/tests/FunctionalTests/SendReceive.cs
Labels: Servicing-Approved-2.1.1, area-System.Net.Sockets

#29971 Add HttpClient test for sending rewindable content stream
  src/System.Net.Http/tests/FunctionalTests/PostScenarioTest.cs
Labels: area-System.Net.Http

#29988 Only run ResponseDrain tests on SocketsHttpHandler
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ResponseDrain.cs
  src/System.Net.Http/tests/FunctionalTests/PlatformHandlerTest.cs
Labels: area-System.Net.Http

#29995 [release/2.1] Port nano test fixes
  src/System.Configuration.ConfigurationManager/tests/Mono/ConfigurationManagerTest.cs
  src/System.Diagnostics.Process/tests/ProcessStartInfoTests.cs
  src/System.Diagnostics.Process/tests/ProcessTests.cs
  src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/FuzzyTests.cs
  src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestsUserErrors.cs
  src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestsWrite.cs
  src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestsWriteEvent.cs
  src/System.DirectoryServices/tests/System/DirectoryServices/ActiveDirectory/ActiveDirectoryInterSiteTransportTests.cs
  src/System.DirectoryServices/tests/System/DirectoryServices/ActiveDirectory/DirectoryContextTests.cs
  src/System.DirectoryServices/tests/System/DirectoryServices/ActiveDirectory/DomainControllerTests.cs
  src/System.DirectoryServices/tests/System/DirectoryServices/ActiveDirectory/ForestTests.cs
  src/System.IO.Ports/tests/SerialPort/GetPortNames.cs
  src/System.IO.Ports/tests/SerialPort/OpenDevices.cs
  src/System.IO.Ports/tests/Support/TCSupport.cs
  src/System.Net.Sockets/tests/FunctionalTests/SocketOptionNameTest.cs
  src/System.ServiceProcess.ServiceController/tests/SafeServiceControllerTests.cs
Labels: os-windows-nano

#30015 Utf8 boolean parsing perf
  src/System.Memory/src/System/Buffers/Text/Utf8Parser/Utf8Parser.Boolean.cs
Labels: area-System.Memory

#30020 Remove obsoleted comment from SocketsHttpHandlerTest
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http

#30007 Fix proxy connect tunnel test
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/LoopbackGetRequestHttpProxy.cs
Labels: area-System.Net.Http, test bug

#29991 [release/2.1] Disable HttpListener tests on Nano (#29839)
  src/System.Net.HttpListener/tests/GetContextHelper.cs
  src/System.Net.HttpListener/tests/HttpListenerAuthenticationTests.cs
  src/System.Net.HttpListener/tests/HttpListenerContextTests.cs
  src/System.Net.HttpListener/tests/HttpListenerPrefixCollectionTests.cs
  src/System.Net.HttpListener/tests/HttpListenerRequestTests.cs
  src/System.Net.HttpListener/tests/HttpListenerResponseTests.Cookies.cs
  src/System.Net.HttpListener/tests/HttpListenerResponseTests.Headers.cs
  src/System.Net.HttpListener/tests/HttpListenerResponseTests.cs
  src/System.Net.HttpListener/tests/HttpListenerTests.cs
  src/System.Net.HttpListener/tests/HttpListenerTimeoutManagerTests.cs
  src/System.Net.HttpListener/tests/HttpListenerWebSocketTests.cs
  src/System.Net.HttpListener/tests/HttpRequestStreamTests.cs
  src/System.Net.HttpListener/tests/HttpResponseStreamTests.cs
  src/System.Net.HttpListener/tests/InvalidClientRequestTests.cs
  src/System.Net.HttpListener/tests/SimpleHttpTests.cs
  src/System.Net.HttpListener/tests/WebSocketTests.cs
Labels: area-System.Net, os-windows-nano

#29676 Reflection & Reflection.Emit: Add tests for nullable enum parameters
  src/System.Reflection.Emit/tests/ParameterBuilder/ParameterBuilderSetConstant.cs
  src/System.Reflection/tests/ParameterInfoTests.cs
Labels: area-System.Reflection

#29923 [release/2.1] Fix handling of cursor position when other ESC sequences already in stdin
  src/System.Console/src/System/ConsolePal.Unix.cs
Labels: Servicing-Consider-2.1.1

#29993 [release/2.1] Check SwitchingProtocol before ContentLength (#29948)
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.WebSockets.Client/tests/LoopbackHelper.cs
Labels: Servicing-Consider-2.1.1, area-System.Net.Http.SocketsHttpHandler

#27930 ParallelEnumerable.GroupJoin/Join output ordering (fixes #1155)
  src/System.Linq.Parallel/System.Linq.Parallel.sln
  src/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Binary/GroupJoinQueryOperator.cs
  src/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Binary/HashJoinQueryOperatorEnumerator.cs
  src/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Binary/JoinQueryOperator.cs
  src/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/OrdinalIndexState.cs
  src/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Unary/GroupByQueryOperator.cs
  src/System.Linq.Parallel/tests/Combinatorial/ParallelQueryCombinationTests.cs
  src/System.Linq.Parallel/tests/Performance/Configurations.props
  src/System.Linq.Parallel/tests/Performance/QueryOperators/Perf.GroupBy.cs
  src/System.Linq.Parallel/tests/Performance/QueryOperators/Perf.GroupJoin.cs
  src/System.Linq.Parallel/tests/Performance/QueryOperators/Perf.Join.cs
  src/System.Linq.Parallel/tests/Performance/System.Linq.Parallel.Performance.Tests.csproj
  src/System.Linq.Parallel/tests/QueryOperators/GroupJoinTests.cs
  src/System.Linq.Parallel/tests/QueryOperators/JoinTests.cs
  src/System.Linq.Parallel/tests/System.Linq.Parallel.Tests.csproj
Labels: area-System.Linq.Parallel
