Repository dotnet/corefx, pull requests merged in 2018-07, with the labels that each got.

#30814 Add test to ensure FromBase64 bug doesn't regress.
  src/System.Runtime.Extensions/tests/System/Convert.FromBase64.cs
Labels: area-System.Runtime.Extensions

#30712 Fix SocketAsyncEventArgs' handling of ExecutionContext
  src/Common/tests/System/Threading/Tasks/TaskTimeoutExtensions.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.cs
  src/System.Net.Sockets/tests/FunctionalTests/ExecutionContextFlowTest.netcoreapp.cs
Labels: area-System.Net.Sockets

#30813 Fix flaky RegistrationBuilder test
  src/System.ComponentModel.Composition.Registration/tests/System/ComponentModel/Composition/Registration/RegistrationBuilderTests.cs
Labels: area-System.ComponentModel

#30739 Use public implementation CultureDataSupport
  src/System.Runtime.WindowsRuntime/src/System/Resources/WindowsRuntimeResourceManager.cs
Labels: area-System.Runtime.InteropServices

#30763 Updates Unix FileSystem tests that check millisecond granularity
  src/System.IO.FileSystem/tests/Base/BaseGetSetTimes.cs
Labels: os-mac-os-x

#30796 Replace custom synchronized text writer
  src/System.Console/src/FxCopBaseline.cs
  src/System.Console/src/System.Console.csproj
  src/System.Console/src/System/Console.cs
  src/System.Console/src/System/IO/SyncTextWriter.cs
  src/System.Console/tests/SyncTextWriter.cs
Labels: area-System.Console

#30640 [release/2.1] Port Tizen missing rids to release/2.1
  pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  pkg/Microsoft.NETCore.Platforms/runtime.json
  pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
Labels: * NO MERGE *

#30744 Cherry picking Mojave fix (#30716) to release 2.1
  src/Native/Unix/System.Security.Cryptography.Native.Apple/CMakeLists.txt
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509chain.cpp
Labels: * NO MERGE *, os-mac-os-x

#29033 bottom part of serial port support on Unix
  src/Common/src/Interop/Unix/Interop.Libraries.cs
  src/Native/Unix/CMakeLists.txt
  src/Native/Unix/System.IO.Ports.Native/CMakeLists.txt
  src/Native/Unix/System.IO.Ports.Native/pal_serial.c
  src/Native/Unix/System.IO.Ports.Native/pal_serial.h
  src/Native/Unix/System.IO.Ports.Native/pal_termios.c
  src/Native/Unix/System.IO.Ports.Native/pal_termios.h
  src/System.IO.Ports/src/Interop/Unix/Interop.Serial.cs
  src/System.IO.Ports/src/Interop/Unix/Interop.Termios.cs
Labels: area-System.IO, os-linux

#29879 GH Issue #15652 SqlFileStream Implementation
  src/Common/src/Interop/Windows/NtDll/Interop.FILE_FULL_EA_INFORMATION.cs
  src/Common/src/Interop/Windows/NtDll/Interop.NtCreateFile.cs
  src/Common/src/Interop/Windows/kernel32/Interop.CTL_CODE.cs
  src/Common/src/Interop/Windows/kernel32/Interop.DeviceIoControl.cs
  src/Common/src/Interop/Windows/kernel32/Interop.IoControlCodeAccess.cs
  src/Common/src/Interop/Windows/kernel32/Interop.IoControlTransferType.cs
  src/System.Data.SqlClient/ref/System.Data.SqlClient.NetCoreApp.cs
  src/System.Data.SqlClient/src/Resources/Strings.resx
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlFileStream.Unsupported.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlFileStream.Windows.cs
  src/System.Data.SqlClient/tests/ManualTests/DataCommon/DataTestUtility.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlFileStreamTest/SqlFileStreamTest.cs
  src/System.Data.SqlClient/tests/ManualTests/System.Data.SqlClient.ManualTesting.Tests.csproj
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Win32.cs
Labels: area-System.Data.SqlClient

#30832 changes to support FreeBSD build
  dir.props
  pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  pkg/Microsoft.NETCore.Platforms/runtime.json
  pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
  tools-local/osgroups.props
Labels: os-freebsd

#30851 Fixed getmntinfo() call on FreeBSD
  src/Native/Unix/System.Native/pal_mount.c
Labels: bug, os-freebsd

#30837 Add CompareInfo and Span.IndexOf with string comparison benchmark tests
  src/System.Globalization/tests/Performance/Perf.CompareInfo.cs
  src/System.Globalization/tests/Performance/System.Globalization.Performance.Tests.csproj
  src/System.Memory/tests/Performance/Perf.Span.IndexOf.cs
Labels: area-System.Globalization

#30874 Update concurrent socket disposal test to accomodate UAP
  src/System.Net.Sockets/tests/FunctionalTests/SendReceive.cs
Labels: area-System.Net.Sockets, test bug

#30907 Remove duplicate dependencies.props import
  external/test-runtime/optional.csproj
Labels: area-Infrastructure

#30922 Coverage runs are being aborted: increase timeout
  netci.groovy
Labels: area-Infrastructure

#30869 OpenSSL: Replace pkcs7_[new/content_new/set_type/add_certificate] with single pkcs7_sign call.
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Pkcs7.cs
  src/Native/Unix/System.Security.Cryptography.Native/opensslshim.h
  src/Native/Unix/System.Security.Cryptography.Native/pal_pkcs7.c
  src/Native/Unix/System.Security.Cryptography.Native/pal_pkcs7.h
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/ExportProvider.cs
Labels: area-System.Security

#30856 Update PoolBlockPeriodTest to check if connection string is setup
  src/System.Data.SqlClient/tests/ManualTests/SQL/ConnectionPoolTest/PoolBlockPeriodTest.netcoreapp.cs
Labels: area-System.Data.SqlClient

#30937 Disable Marshal API test NullValueArguments_ThrowsAccessViolationExce…
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/ReadWrite/ObjectTests.cs
Labels: area-System.Runtime.InteropServices

#30912 Use IEqualityComparer<T> instead of IComparer<T> during HashSet serialization
  src/System.Collections/src/System/Collections/Generic/HashSet.cs
  src/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTests.cs
Labels: area-System.Collections

#30815 Proper fix for compilation issue caused by deprecated API in Mojave
  src/Native/Unix/System.Security.Cryptography.Native.Apple/CMakeLists.txt
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509.c
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509.h
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.OSX/X509Pal.cs
Labels: area-Infrastructure, os-mac-os-x

#30398 Add support and tests for HTTP 308 Permanent Redirect
  src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/HttpHandlerDiagnosticListener.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/RedirectHandler.cs
  src/System.Net.Http/src/uap/System/Net/HttpHandlerToFilter.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler, bug

#30888 [release/2.1] Port to release/2.1 update tizen rid for netcore app
  pkg/Microsoft.Private.CoreFx.NETCoreApp/netcoreapp.rids.props
Labels: Servicing-Consider-2.1.next, arch-arm32, area-Infrastructure

#30972 Reduce coverage run timeout
  netci.groovy
Labels: area-Infrastructure

#30954 [release/2.1] Add support and tests for HTTP 308 Permanent Redirect (#30398)
  src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/HttpHandlerDiagnosticListener.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/RedirectHandler.cs
  src/System.Net.Http/src/uap/System/Net/HttpHandlerToFilter.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#30557 Port Tests for #30263 fix (#30374)
  src/System.Runtime.Extensions/tests/System/IO/Path.GetRelativePath.cs
Labels: Servicing-approved-2.1.next, area-System.IO

#30489 AlgorithmIdentifier: bringing back Parameters property
  src/System.Security.Cryptography.Pkcs/ref/System.Security.Cryptography.Pkcs.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/AlgorithmIdentifier.cs
  src/System.Security.Cryptography.Pkcs/tests/AlgorithmIdentifierTest.cs
  src/System.Security.Cryptography.Pkcs/tests/System.Security.Cryptography.Pkcs.Tests.csproj
Labels: area-System.Security

#30997 Always run end.sh/ps1 scripts release/2.2
  buildpipeline/DotNet-CoreFx-Trusted-Linux-Crossbuild.json
  buildpipeline/DotNet-CoreFx-Trusted-Linux.json
  buildpipeline/DotNet-CoreFx-Trusted-OSX.json
  buildpipeline/DotNet-CoreFx-Trusted-Windows-NoTest.json
  buildpipeline/DotNet-CoreFx-Trusted-Windows.json
  buildpipeline/DotNet-Trusted-Publish-Symbols.json
  buildpipeline/DotNet-Trusted-Publish.json
  buildpipeline/DotNet-Trusted-Tests-Publish.json
Labels: area-Infrastructure

#30998 Always run end.ps1/sh Release/2.1
  buildpipeline/DotNet-CoreFx-Trusted-Linux-Crossbuild.json
  buildpipeline/DotNet-CoreFx-Trusted-Linux.json
  buildpipeline/DotNet-CoreFx-Trusted-OSX.json
  buildpipeline/DotNet-CoreFx-Trusted-Windows-NoTest.json
  buildpipeline/DotNet-CoreFx-Trusted-Windows.json
  buildpipeline/DotNet-Trusted-Publish-Symbols.json
  buildpipeline/DotNet-Trusted-Publish.json
  buildpipeline/DotNet-Trusted-Tests-Publish.json
Labels: area-Infrastructure

#30999 Always run end.ps1/sh scripts Release/2.0
  buildpipeline/DotNet-CoreFx-Trusted-Linux-Crossbuild.json
  buildpipeline/DotNet-CoreFx-Trusted-Linux.json
  buildpipeline/DotNet-CoreFx-Trusted-OSX.json
  buildpipeline/DotNet-CoreFx-Trusted-Windows-NoTest.json
  buildpipeline/DotNet-CoreFx-Trusted-Windows.json
  buildpipeline/DotNet-Trusted-Publish-Symbols.json
  buildpipeline/DotNet-Trusted-Publish.json
  buildpipeline/DotNet-Trusted-Tests-Publish.json
Labels: area-Infrastructure

#31000 Always run end.ps1/sh scripts release/uwp6.1
  buildpipeline/DotNet-CoreFx-Trusted-Linux-Crossbuild.json
  buildpipeline/DotNet-CoreFx-Trusted-Linux.json
  buildpipeline/DotNet-CoreFx-Trusted-OSX.json
  buildpipeline/DotNet-CoreFx-Trusted-Windows-NoTest.json
  buildpipeline/DotNet-CoreFx-Trusted-Windows.json
  buildpipeline/DotNet-Trusted-Publish-Symbols.json
  buildpipeline/DotNet-Trusted-Publish.json
  buildpipeline/DotNet-Trusted-Tests-Publish.json
Labels: area-Infrastructure

#30931 Porting StandardOleMarshalObject and IMarshal
  src/Common/src/Interop/Windows/Interop.Libraries.cs
  src/Common/src/Interop/Windows/Ole32/Interop.CoGetStandardMarshal.cs
  src/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/System.Runtime.InteropServices/src/Resources/Strings.resx
  src/System.Runtime.InteropServices/src/System.Runtime.InteropServices.csproj
  src/System.Runtime.InteropServices/src/System/Runtime/InteropServices/IMarshal.cs
  src/System.Runtime.InteropServices/src/System/Runtime/InteropServices/StandardOleMarshalObject.cs
Labels: area-System.Runtime.InteropServices

#31001 Always run end.ps1/sh scripts release/uwp6.2
  buildpipeline/DotNet-CoreFx-Trusted-Linux-Crossbuild.json
  buildpipeline/DotNet-CoreFx-Trusted-Linux.json
  buildpipeline/DotNet-CoreFx-Trusted-OSX.json
  buildpipeline/DotNet-CoreFx-Trusted-Windows-NoTest.json
  buildpipeline/DotNet-CoreFx-Trusted-Windows.json
  buildpipeline/DotNet-Trusted-Publish-Symbols.json
  buildpipeline/DotNet-Trusted-Publish.json
  buildpipeline/DotNet-Trusted-Tests-Publish.json
Labels: area-Infrastructure

#31031 Disable PostRewindableStreamContentMultipleTimes test on NETFX
  src/System.Net.Http/tests/FunctionalTests/PostScenarioTest.cs
Labels: area-System.Net.Http

#30995 Clean up CheckReaderCount and related functions
  src/System.Private.Xml/src/System.Private.Xml.csproj
  src/System.Private.Xml/src/System/Xml/Serialization/XmlCountingReader.cs
  src/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationReader.cs
  src/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationReaderILGen.cs
Labels: area-Serialization

#30911 Expose new SignedXml members that were added in .NET 4.6.2.
  src/System.Security.Cryptography.Xml/ref/System.Security.Cryptography.Xml.cs
  src/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/SignedXml.cs
Labels: area-System.Security

#30928 Add Marshal tests and cleanup existing tests a little
  src/CoreFx.Private.TestUtilities/ref/CoreFx.Private.TestUtilities.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.cs
  src/System.Runtime.InteropServices/tests/Configurations.props
  src/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.Tests.csproj
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/AddRefTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/AllocHGlobalTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/AreComObjectsAvailableForCleanupTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/BindToMonikerTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/ChangeWrapperHandleStrengthTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/CleanupUnusedObjectsInCurrentContextTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/Common/CommonTypes.Windows.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/Common/CommonTypes.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GenerateGuidForTypeTests.Windows.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GenerateGuidForTypeTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GenerateProgIdForTypeTests.Windows.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GenerateProgIdForTypeTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetComObjectDataTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetExceptionForHRTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetHINSTANCETests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetHRForExceptionTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetIDispatchForObjectTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetNativeVariantForObjectTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetObjectForNativeVariantTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetObjectsForNativeVariantsTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetTypedObjectForIUnknownTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/IsComObjectTests.Windows.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/IsComObjectTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/PrelinkAllTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/PrelinkTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/PtrToStringAutoTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/PtrToStringTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/ReAllocCoTaskMemTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/ReAllocHGlobalTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/SecureStringToBSTRTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/SecureStringToCoTaskMemAnsiTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/SecureStringToCoTaskMemUnicodeTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/SecureStringToGlobalAllocAnsiTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/SecureStringToGlobalAllocUnicodeTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/SetComObjectDataTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/StringToCoTaskMemAutoTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/StringToCoTaskMemUTF8Tests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/StringToHGlobalAutoTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/MarshalTests.cs
Labels: area-System.Runtime.InteropServices

#30943 Added a preprocessor check for CODEDOM in WriteFileContext.
  src/System.Configuration.ConfigurationManager/src/System/Configuration/Internal/WriteFileContext.cs
Labels: area-System.Configuration

#31063 Added missing #ifnetcoreapp for PoolBlockingPeriod property.
  src/System.Data.SqlClient/src/System/Data/Common/DbConnectionStringCommon.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlConnectionString.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlConnectionStringBuilder.cs
Labels: area-System.Data.SqlClient

#30917 Add support for UTF8 Feature Extension
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlInternalConnectionTds.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsEnums.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/Utf8SupportTest/Utf8SupportTest.cs
  src/System.Data.SqlClient/tests/ManualTests/System.Data.SqlClient.ManualTesting.Tests.csproj
Labels: area-System.Data.SqlClient

#31100 Fix HttpWebRequest when using system proxy settings
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Requests/src/System/Net/HttpWebRequest.cs
Labels: area-System.Net

#31109 Disable GetNativeVariantForObject() API tests when targeting UAP
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetNativeVariantForObjectTests.cs
Labels: area-System.Runtime.InteropServices, test bug

#30740 SocketsHttpHandler: Initial cut at HTTP2 support
  src/Common/src/System/Net/Http/HttpHandlerDefaults.cs
  src/Common/tests/System/Net/Configuration.Http.cs
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/HPack/DynamicTable.cs
  src/System.Net.Http/src/System/Net/Http/HPack/HPackDecoder.cs
  src/System.Net.Http/src/System/Net/Http/HPack/HPackDecodingException.cs
  src/System.Net.Http/src/System/Net/Http/HPack/HPackEncoder.cs
  src/System.Net.Http/src/System/Net/Http/HPack/HeaderField.cs
  src/System.Net.Http/src/System/Net/Http/HPack/Huffman.cs
  src/System.Net.Http/src/System/Net/Http/HPack/HuffmanDecodingException.cs
  src/System.Net.Http/src/System/Net/Http/HPack/IntegerDecoder.cs
  src/System.Net.Http/src/System/Net/Http/HPack/IntegerEncoder.cs
  src/System.Net.Http/src/System/Net/Http/HPack/StaticTable.cs
  src/System.Net.Http/src/System/Net/Http/HttpMethod.cs
  src/System.Net.Http/src/System/Net/Http/HttpRequestException.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ArrayBuffer.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/BaseAsyncStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/EmptyReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionBase.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionResponseContent.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionSettings.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentDuplexStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentWriteStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/RawConnectionStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/TestHelper.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#31132 [release/2.1] Ensure ConcurrentBag's TryTake is linearizable
  src/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentBag.cs
  src/System.Collections.Concurrent/tests/ConcurrentBagTests.cs
Labels: Servicing-approved-2.1.4

#31160 support for correct Tools on Linux/ARM
  init-tools.sh
Labels: arch-arm32, os-linux

#29154 Add command line install
  Documentation/building/windows-instructions.md
Labels: area-Infrastructure, documentation

#30703 Update .NET SDK link
  Documentation/project-docs/benchmarking.md
Labels: area-Infrastructure

#30646 [release/2.1] Port to release/2.1: Fix __Arch for armv7l tests
  run-test.sh
Labels: * NO MERGE *, Servicing-consider, arch-arm32, area-Infrastructure

#31096 Add back TypeBuilder.DefinePInvokeMethod
  src/System.Reflection.Emit/ref/System.Reflection.Emit.csproj
  src/System.Reflection.Emit/ref/System.Reflection.Emit.netcore.cs
  src/System.Reflection.Emit/src/System.Reflection.Emit.csproj
  src/System.Reflection.Emit/tests/ModuleBuilder/ModuleBuilderDefinePInvokeMethod.cs
  src/System.Reflection.Emit/tests/System.Reflection.Emit.Tests.csproj
  src/System.Reflection.Emit/tests/TypeBuilder/TypeBuilderDefinePInvokeMethod.cs
Labels: area-System.Reflection.Emit

#31040 [rel/2.1] Add tests for TimeZoneInfo to ensure offset is not outside of range
  src/System.Runtime/tests/TimeZoneInfoTests.cs
Labels: area-System.Globalization

#31210 Ensure Windows specific DNS resolution errors throw the correct exception
  src/System.Net.Requests/src/System/Net/WebException.cs
Labels: area-System.Net

#31170 Update runtime IDs for new/upcoming RHEL/OL/Fedora releases
  pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  pkg/Microsoft.NETCore.Platforms/runtime.json
  pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
Labels: area-Infrastructure, os-linux, packaging

#31148 Cleanup and add more Marshal.Copy tests
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/Copy/ByteArrayTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/Copy/CharArrayTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/Copy/DoubleArrayTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/Copy/Int16ArrayTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/Copy/Int32ArrayTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/Copy/Int64ArrayTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/Copy/IntPtrArrayTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/Copy/SingleArrayTests.cs
Labels: area-System.Runtime.InteropServices

#31149 Cleanup and add More Marshal.Read/Write tests
  src/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.Tests.csproj
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/ReadWrite/ByteTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/ReadWrite/Int16Tests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/ReadWrite/Int32Tests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/ReadWrite/Int64Tests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/ReadWrite/IntPtrTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/ReadWrite/ObjectTests.cs
Labels: area-System.Runtime.InteropServices

#31168 Add more logging for certificate exchange/validation
  src/Common/src/System/Net/Security/CertificateHelper.cs
  src/System.Net.Security/src/System/Net/Security/SecureChannel.cs
  src/System.Net.Security/src/System/Net/Security/SslAuthenticationOptions.cs
  src/System.Net.Security/tests/FunctionalTests/SslStreamEKUTest.cs
Labels: area-System.Net.Security, enhancement

#31127 Allow SignedCms to verify documents whose signer didn't sort attributes.
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Helpers.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SignerInfo.cs
  src/System.Security.Cryptography.Pkcs/tests/Rfc3161/TimestampTokenInfoTests.cs
  src/System.Security.Cryptography.Pkcs/tests/Rfc3161/TimestampTokenTestData.cs
  src/System.Security.Cryptography.Pkcs/tests/Rfc3161/TimestampTokenTests.cs
  src/System.Security.Cryptography.Pkcs/tests/SignedCms/SignedCmsTests.cs
  src/System.Security.Cryptography.Pkcs/tests/SignedCms/SignedDocuments.cs
Labels: area-System.Security

#31142 Improve perfromance for loading from Stream on Windows
  src/Common/src/Interop/Windows/Interop.HRESULT.cs
  src/Common/src/Interop/Windows/Ole32/Interop.IStream.cs
  src/Common/src/Interop/Windows/Ole32/Interop.STATFLAG.cs
  src/Common/src/Interop/Windows/Ole32/Interop.STATSTG.cs
  src/Common/src/Interop/Windows/Ole32/Interop.STGM.cs
  src/Common/src/Interop/Windows/Ole32/Interop.STGTY.cs
  src/System.Drawing.Common/src/Configurations.props
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/System.Drawing.Common/src/System/Drawing/Gdiplus.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.cs
  src/System.Drawing.Common/src/System/Drawing/Icon.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Image.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Image.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Image.cs
  src/System.Drawing.Common/src/System/Drawing/Internal/GPStream.cs
  src/System.Drawing.Common/src/System/Drawing/UnsafeNativeMethods.cs
  src/System.Drawing.Common/tests/BitmapTests.cs
  src/System.Drawing.Common/tests/Performance/Perf_Image_Load.cs
  src/System.Drawing.Common/tests/Performance/System.Drawing.Common.Performance.Tests.csproj
Labels: area-System.Drawing

#31225 Add more logging for authentication failure
  src/System.Net.Security/src/System/Net/Security/SecureChannel.cs
Labels: area-System.Net.Security, enhancement

#31245 Fix revoked certificate tests to use more stable external server
  src/Common/tests/System/Net/Configuration.Http.cs
Labels: area-System.Net.Http, test bug

#31232 improve port parsing to be more resilient against trailing characters
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpEnvironmentProxy.cs
  src/System.Net.Http/tests/UnitTests/HttpEnvironmentProxyTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler, bug

#31134 adjust DataOffset so SocketAddress.ToString() works same way as Windows
  src/Common/src/System/Net/SocketAddress.cs
  src/Common/src/System/Net/SocketAddressPal.Unix.cs
  src/Common/src/System/Net/SocketAddressPal.Windows.cs
  src/System.Net.Primitives/tests/PalTests/SocketAddressPalTest.cs
Labels: area-System.Net.Sockets, os-linux

#31166 Add delegate Marshal tests
  src/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.Tests.csproj
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetDelegateForFunctionPointerTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetFunctionPointerForDelegateTests.cs
Labels: area-System.Runtime.InteropServices

#31151 Add/cleanup Free/PtrTo tests
  src/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.Tests.csproj
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/FreeBSTRTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/FreeCoTaskMemTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/FreeHGlobalTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/PtrToStringAnsiTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/PtrToStringBSTR.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/PtrToStringTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/PtrToStringUTF8Tests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/PtrToStringUniTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/ZeroFreeCoTaskMemAnsiTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/ZeroFreeCoTaskMemUTF8Tests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/ZeroFreeCoTaskMemUnicodeTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/ZeroFreeGlobalAllocAnsiTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/ZeroFreeGlobalAllocUnicodeTests.cs
Labels: area-System.Runtime.InteropServices

#31183 Update RD.XML for TypeConverterAttribute
  src/System.ComponentModel.TypeConverter/src/Resources/System.ComponentModel.TypeConverter.rd.xml
Labels: area-System.ComponentModel, os-windows-uwp

#31165 Patching windows.groovy to execute on a helix queue with .net 472
  buildpipeline/windows.groovy
  setup-vs-tools.cmd
Labels: area-Infrastructure, os-windows

#31235 Add more Marshal exception tests
  src/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.Tests.csproj
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetExceptionCodeTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetExceptionForHRTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/ThrowExceptionForHRTests.cs
Labels: area-System.Runtime.InteropServices, test enhancement

#31289 fix a test issue caused by new MSIT VPN adapter
  src/System.Net.Http/tests/FunctionalTests/TestHelper.cs
Labels: area-System.Net.Http, test bug

#31244 Add some Unix console tests
  src/System.Console/src/System/ConsolePal.Unix.cs
  src/System.Console/tests/ReadKey.cs
  src/System.Console/tests/WindowAndCursorProps.cs
Labels: test enhancement

#30809 Add back most CreateInstance APIs to AppDomain and Activator
  src/System.Runtime.Extensions/ref/System.Runtime.Extensions.cs
  src/System.Runtime.Extensions/src/System/AppDomain.cs
  src/System.Runtime.Extensions/tests/AssemblyResolveTests/AssemblyResolveTests.csproj
  src/System.Runtime.Extensions/tests/AssemblyResolveTests/ClassesSample.cs
  src/System.Runtime.Extensions/tests/System/AppDomainTests.netcoreapp.cs
  src/System.Runtime/ref/System.Runtime.cs
  src/System.Runtime/tests/System/ActivatorTests.netcoreapp.cs
  src/System.Runtime/tests/TestLoadAssembly/ClassesSample.cs
  src/System.Runtime/tests/TestLoadAssembly/TestLoadAssembly.csproj
Labels: area-System.Runtime.Extensions

#31185 Port and test VB attributes and event args
  src/Microsoft.VisualBasic/ref/Microsoft.VisualBasic.cs
  src/Microsoft.VisualBasic/src/Microsoft.VisualBasic.vbproj
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/ApplicationServices/StartupEventArgs.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/ApplicationServices/StartupNextInstanceEventArgs.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/ApplicationServices/UnhandledExceptionEventArgs.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/ComClassAttribute.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/CompilerServices/DesignerGeneratedAttribute.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/CompilerServices/OptionCompareAttribute.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/CompilerServices/OptionTextAttribute.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/CompilerServices/StandardModuleAttribute.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/Devices/NetworkAvailableEventArgs.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/HideModuleNameAttribute.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/MyGroupCollectionAttribute.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/VBFixedArrayAttribute.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/VBFixedStringAttribute.vb
  src/Microsoft.VisualBasic/tests/Microsoft.VisualBasic.Tests.csproj
  src/Microsoft.VisualBasic/tests/Microsoft/VisualBasic/ApplicationServices/StartupEventArgsTests.cs
  src/Microsoft.VisualBasic/tests/Microsoft/VisualBasic/ApplicationServices/StartupNextInstanceEventArgsTests.cs
  src/Microsoft.VisualBasic/tests/Microsoft/VisualBasic/ApplicationServices/UnhandledExceptionEventArgsTests.cs
  src/Microsoft.VisualBasic/tests/Microsoft/VisualBasic/ComClassAttributeTests.cs
  src/Microsoft.VisualBasic/tests/Microsoft/VisualBasic/CompilerServices/DesignerGeneratedAttributeTests.cs
  src/Microsoft.VisualBasic/tests/Microsoft/VisualBasic/CompilerServices/OptionCompareAttributeTests.cs
  src/Microsoft.VisualBasic/tests/Microsoft/VisualBasic/CompilerServices/OptionTextAttributeTests.cs
  src/Microsoft.VisualBasic/tests/Microsoft/VisualBasic/CompilerServices/StandardModuleAttributeTests.cs
  src/Microsoft.VisualBasic/tests/Microsoft/VisualBasic/Devices/NetworkAvailableEventArgsTests.cs
  src/Microsoft.VisualBasic/tests/Microsoft/VisualBasic/HideModuleNameAttributeTests.cs
  src/Microsoft.VisualBasic/tests/Microsoft/VisualBasic/MyGroupCollectionAttributeTests.cs
  src/Microsoft.VisualBasic/tests/Microsoft/VisualBasic/VBFixedArrayAttributeTests.cs
  src/Microsoft.VisualBasic/tests/Microsoft/VisualBasic/VBFixedStringAttributeTests.cs
Labels: area-Microsoft.VisualBasic

#31229 [2.1] Update runtime IDs for new RHEL/OL/Fedora releases
  pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  pkg/Microsoft.NETCore.Platforms/runtime.json
  pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
Labels: Servicing-approved-2.1.5

#31314 add back parsing for simple configuration
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpSystemProxy.cs
  src/System.Net.Http/tests/UnitTests/HttpSystemProxyTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler, bug

#31317 HTTP2: Add issue #s in code, and reorganize some code
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ArrayBuffer.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/DynamicTable.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HPackDecoder.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HPackDecodingException.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HPackEncoder.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HeaderField.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/Huffman.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HuffmanDecodingException.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/IntegerDecoder.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/IntegerEncoder.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/StaticTable.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#31331 Set active issue on test
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetDelegateForFunctionPointerTests.cs
Labels: area-System.Runtime.InteropServices, test bug

#29989 Expose SpinWait.SpinOnce(int sleep1Threshold) overload
  src/System.Threading/ref/System.Threading.cs
  src/System.Threading/tests/SpinWaitTests.cs
  src/System.Threading/tests/SpinWaitTests.netcoreapp.cs
  src/System.Threading/tests/System.Threading.Tests.csproj
Labels: area-System.Threading

#31252 Port and test VB Information, DoubleType, DecimalType, Versioned
  src/Microsoft.VisualBasic/ref/Microsoft.VisualBasic.cs
  src/Microsoft.VisualBasic/src/Microsoft.VisualBasic.vbproj
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/CompilerServices/Conversions.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/CompilerServices/DecimalType.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/CompilerServices/DoubleType.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/CompilerServices/Versioned.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/Information.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/VariantType.vb
  src/Microsoft.VisualBasic/tests/CompilerServices/DecimalTypeTests.cs
  src/Microsoft.VisualBasic/tests/CompilerServices/DoubleTypeTests.cs
  src/Microsoft.VisualBasic/tests/CompilerServices/VersionedTests.cs
  src/Microsoft.VisualBasic/tests/InformationTests.cs
  src/Microsoft.VisualBasic/tests/Microsoft.VisualBasic.Tests.csproj
Labels: area-Microsoft.VisualBasic

#31234 Use ReferencePath instead of Reference so it contain the project refence
  src/Microsoft.XmlSerializer.Generator/pkg/build/Microsoft.XmlSerializer.Generator.targets
Labels: area-Serialization

#31211 [Fix] GH 31082 'Unexpected existing transaction' exception occurs when use SqlBulkCopy
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/ConnectivityTests/AADAccessTokenTest.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/AzureDistributedTransaction.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/Bug84548.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/Bug85007.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/Bug903514.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/CheckConstraints.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/ColumnCollation.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/CopyAllFromReader1.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/CopyMultipleReaders.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/CopySomeFromDatatable.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/CopySomeFromDatatableAsync.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/CopySomeFromReader.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/CopySomeFromRowArray.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/CopySomeFromRowArrayAsync.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/CopyWithEvent.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/CopyWithEvent1.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/CopyWithEventAsync.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/Helpers.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/InvalidAccessFromEvent.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/MissingTargetColumn.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/SpecialCharacterNames.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/SqlBulkCopyTest.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/Transaction.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/Transaction1.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/Transaction2.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/Transaction3.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/Transaction4.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/TransactionTestAsync.cs
  src/System.Data.SqlClient/tests/ManualTests/System.Data.SqlClient.ManualTesting.Tests.csproj
Labels: area-System.Data.SqlClient

#31333 Make CertificateData.ReadReverseRdns() accept T61String.
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.OSX/CertificateData.cs
  src/System.Security.Cryptography.X509Certificates/tests/CertTests.cs
  src/System.Security.Cryptography.X509Certificates/tests/TestData.cs
Labels: area-System.Security

#31343 Add `ICertificatePal.Export()` and use it in `X509Certificate.Export()`.
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/ICertificatePal.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.OSX/CertificatePal.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslX509CertificateReader.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/CertificatePal.cs
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/X509Certificate.cs
Labels: area-System.Security

#31373 Use CertFreeCertificateContext from Common Interop in X509Certificates
  src/Common/src/Interop/Windows/Crypt32/Interop.CertFreeCertificateContext.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/Native/Interop.crypt32.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/Native/SafeHandles.cs
  src/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
Labels: area-System.Security

#31339 Use CertCloseStore from Common Interop in X509Certificates
  src/Common/src/Interop/Windows/Crypt32/Interop.CertCloseStore.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/Native/Interop.crypt32.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/Native/SafeHandles.cs
  src/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
Labels: area-System.Security

#30717 Changed internal value to readonly for primitive types
  src/System.Runtime/ref/System.Runtime.cs
  src/System.Runtime/src/ApiCompatBaseline.uapaot.txt
Labels: area-System.Runtime

#31355 System.Security: Add T61String support to AsnReader.
  src/Common/src/System/Security/Cryptography/Asn1V2.cs
  src/System.Security.Cryptography.Encoding/tests/Asn1/Reader/ReadT61String.cs
  src/System.Security.Cryptography.Encoding/tests/System.Security.Cryptography.Encoding.Tests.csproj
Labels: area-System.Security

#31169 Add Marshal API Marshal.GetExceptionPointers
  src/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/System.Runtime.InteropServices/src/ApiCompatBaseline.uapaot.txt
  src/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.Tests.csproj
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetExceptionPointersTests.cs
Labels: area-System.Runtime.InteropServices

#30682 Add properties Now and Today
  src/Microsoft.VisualBasic/ref/Microsoft.VisualBasic.cs
  src/Microsoft.VisualBasic/src/Microsoft.VisualBasic.vbproj
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/DateAndTime.vb
  src/Microsoft.VisualBasic/tests/DateAndTimeTests.cs
  src/Microsoft.VisualBasic/tests/Microsoft.VisualBasic.Tests.csproj
Labels: area-Microsoft.VisualBasic

#31397 Fix networking tests to work against NETFX
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.MaxConnectionsPerServer.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientTest.cs
  src/System.Net.Http/tests/FunctionalTests/MultipartContentTest.cs
  src/System.Net.Sockets/tests/FunctionalTests/SendReceive.cs
  src/System.Net.Sockets/tests/FunctionalTests/SocketTestHelper.cs
Labels: area-System.Net

#30956 Remove version increment from Dictionary<K,V>.Remove overloads
  src/Common/tests/System/Collections/ICollection.Generic.Tests.cs
  src/Common/tests/System/Collections/ICollection.NonGeneric.Tests.cs
  src/Common/tests/System/Collections/IDictionary.Generic.Tests.cs
  src/Common/tests/System/Collections/IDictionary.NonGeneric.Tests.cs
  src/Common/tests/System/Collections/IEnumerable.Generic.Tests.cs
  src/Common/tests/System/Collections/IEnumerable.NonGeneric.Tests.cs
  src/Common/tests/System/Collections/IGenericSharedAPI.Tests.cs
  src/Common/tests/System/Collections/IList.Generic.Tests.cs
  src/Common/tests/System/Collections/IList.NonGeneric.Tests.cs
  src/Common/tests/System/Collections/TestBase.NonGeneric.cs
  src/System.Collections.Concurrent/tests/ConcurrentDictionary/ConcurrentDictionary.Generic.Tests.cs
  src/System.Collections.Concurrent/tests/ConcurrentDictionary/ConcurrentDictionary.NonGeneric.Tests.cs
  src/System.Collections.Concurrent/tests/ProducerConsumerCollectionTests.cs
  src/System.Collections.Immutable/tests/ImmutableArray/ImmutableArray.Generic.Tests.cs
  src/System.Collections.Immutable/tests/ImmutableArray/ImmutableArray.NonGeneric.Tests.cs
  src/System.Collections.NonGeneric/tests/Hashtable/Hashtable.Keys.Tests.cs
  src/System.Collections.NonGeneric/tests/Hashtable/Hashtable.Values.Tests.cs
  src/System.Collections.Specialized/tests/HybridDictionary/HybridDictionary.KeysTests.cs
  src/System.Collections.Specialized/tests/HybridDictionary/HybridDictionary.ValuesTests.cs
  src/System.Collections.Specialized/tests/ListDictionary/ListDictionary.Keys.Tests.cs
  src/System.Collections.Specialized/tests/ListDictionary/ListDictionary.Values.Tests.cs
  src/System.Collections/src/System.Collections.csproj
  src/System.Collections/tests/Generic/Dictionary/Dictionary.Generic.Tests.Keys.cs
  src/System.Collections/tests/Generic/Dictionary/Dictionary.Generic.Tests.Values.cs
  src/System.Collections/tests/Generic/Dictionary/Dictionary.Generic.Tests.netcoreapp.cs
  src/System.Collections/tests/Generic/Dictionary/Dictionary.Generic.cs
  src/System.Collections/tests/Generic/Dictionary/Dictionary.Tests.cs
  src/System.Collections/tests/Generic/Dictionary/Dictionary.Tests.netcoreapp.cs
  src/System.Collections/tests/Generic/HashSet/HashSet.Generic.Tests.AsNonGenericIEnumerable.cs
  src/System.Collections/tests/Generic/LinkedList/LinkedList.Generic.Tests.AsNonGenericICollection.cs
  src/System.Collections/tests/Generic/List/List.Generic.cs
  src/System.Collections/tests/Generic/Queue/Queue.Tests.cs
  src/System.Collections/tests/Generic/SortedDictionary/SortedDictionary.Generic.Tests.Keys.cs
  src/System.Collections/tests/Generic/SortedDictionary/SortedDictionary.Generic.Tests.Values.cs
  src/System.Collections/tests/Generic/SortedList/SortedList.Generic.Tests.Keys.cs
  src/System.Collections/tests/Generic/SortedList/SortedList.Generic.Tests.Values.cs
  src/System.Collections/tests/Generic/Stack/Stack.Tests.cs
  src/System.Collections/tests/System.Collections.Tests.csproj
Labels: area-System.Collections

#31344 Move platform-specific pieces of `CertificatePal` into separate classes.
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.OSX/AppleCertificatePal.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.OSX/CertificatePal.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CertificatePal.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslX509CertificateReader.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslX509Encoder.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/StorePal.cs
  src/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
Labels: area-System.Security

#31184 Remove unecessary DiagnosticUtility from Syndication code
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Channels/UriGenerator.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/DiagnosticUtility.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/Atom10FeedFormatter.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/Atom10ItemFormatter.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/AtomPub10CategoriesDocumentFormatter.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/AtomPub10ServiceDocumentFormatter.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/CategoriesDocumentFormatter.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/ExtensibleSyndicationObject.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/NullNotAllowedCollection.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/ReferencedCategoriesDocument.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/ResourceCollectionInfo.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/Rss20FeedFormatter.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/Rss20ItemFormatter.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/ServiceDocumentFormatter.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/SyndicationCategory.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/SyndicationContent.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/SyndicationElementExtension.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/SyndicationElementExtensionCollection.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/SyndicationElementExtensionKindHelper.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/SyndicationFeed.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/SyndicationFeedFormatter.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/SyndicationItem.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/SyndicationItemFormatter.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/SyndicationLink.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/SyndicationPerson.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/TextSyndicationContent.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/TextSyndicationContentKindHelper.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/UrlSyndicationContent.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/XmlSyndicationContent.cs
Labels: area-System.ServiceModel.Syndication

#31518 Fix buffer size in gpstream for netcoreapp20
  src/System.Drawing.Common/src/System/Drawing/Internal/GPStream.cs
Labels: area-System.Drawing
