Repository dotnet/corefx, pull requests merged in 2018-10, with the labels that each got.

#31071 Extensions for immutable collection builders (#21055)
  src/System.Collections.Immutable/ref/System.Collections.Immutable.cs
  src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableArray.cs
  src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableDictionary.cs
  src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableHashSet.cs
  src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableList.cs
  src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableSortedDictionary.cs
  src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableSortedSet.cs
  src/System.Collections.Immutable/tests/ImmutableArrayBuilderTest.cs
  src/System.Collections.Immutable/tests/ImmutableDictionaryBuilderTest.cs
  src/System.Collections.Immutable/tests/ImmutableHashSetBuilderTest.cs
  src/System.Collections.Immutable/tests/ImmutableListBuilderTest.cs
  src/System.Collections.Immutable/tests/ImmutableSortedDictionaryBuilderTest.cs
  src/System.Collections.Immutable/tests/ImmutableSortedSetBuilderTest.cs
Labels: area-System.Collections

#32564 disable ConnectTimeout_TimesOutSSLAuth_Throws
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#32558 Remove allocations from Uri.Host with IPv6 host
  src/System.Private.Uri/src/System/IPv6AddressHelper.cs
Labels: area-System.Net, tenet-performance

#31486 Fix VB Conversions
  src/Microsoft.VisualBasic/ref/Microsoft.VisualBasic.cs
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/CompilerServices/Conversions.vb
  src/Microsoft.VisualBasic/tests/ConversionsTests.cs
  src/Microsoft.VisualBasic/tests/IConvertibleWrapper.cs
  src/Microsoft.VisualBasic/tests/Microsoft.VisualBasic.Tests.csproj
Labels: area-Microsoft.VisualBasic

#32455 [release/2.1] Read SSL_CERT_FILE contents before SSL_CERT_DIR contents
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/StorePal.cs
Labels: Servicing-approved, area-System.Security

#32292 Add Ubuntu 18.10 (Cosmic Cuttlefish)
  pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  pkg/Microsoft.NETCore.Platforms/runtime.json
  pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
Labels: Servicing-approved, area-Infrastructure, os-linux

#32568 [release/2.2] Change HttpConnectionPool.GetConnectionAsync to do read-ahead outside of lock (#)
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Labels: Servicing-approved, area-System.Net.Http.SocketsHttpHandler, tenet-performance

#32556 Changes to System.Numerics.Vector*.Clamp to follow documented behaviour
  src/System.Numerics.Vectors/src/System/Numerics/Vector2.cs
  src/System.Numerics.Vectors/src/System/Numerics/Vector3.cs
  src/System.Numerics.Vectors/src/System/Numerics/Vector4.cs
  src/System.Numerics.Vectors/tests/Vector2Tests.cs
  src/System.Numerics.Vectors/tests/Vector3Tests.cs
  src/System.Numerics.Vectors/tests/Vector4Tests.cs
Labels: area-System.Numerics

#32463 Change GetHINSTANCE_NonRuntimeModule test to test for -1 return instead of exception.
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetHINSTANCETests.cs
Labels: area-System.Runtime.InteropServices

#32591 Fix several WebSocket tests blocking xunit's SynchronizationContext
  src/Common/tests/System/Threading/Tasks/TaskTimeoutExtensions.cs
  src/System.Net.WebSockets.Client/tests/SendReceiveTest.cs
  src/System.Net.WebSockets.Client/tests/SendReceiveTest.netcoreapp.cs
Labels: area-System.Net

#32578 Fix ParseQueryString behavior when there are multiple values for the same key
  src/System.Web.HttpUtility/src/System/Web/HttpUtility.cs
  src/System.Web.HttpUtility/tests/HttpUtility/HttpUtilityTest.cs
Labels: area-System.Net

#31697 Enable Tizen CI
  netci.groovy
Labels: area-Tizen

#32599 Fix ParseQueryString to handle values without keys
  src/System.Web.HttpUtility/src/System/Web/HttpUtility.cs
  src/System.Web.HttpUtility/tests/HttpUtility/HttpUtilityTest.cs
Labels: area-System.Net

#32574 Fix HttpClient sending fragment portion of uri on request
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http

#31044 Add datetime read span path for netcore
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlBuffer.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlDataReader.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObject.cs
Labels: area-System.Data.SqlClient

#32028 Fix incorrect Uri.IsWellFormedUriString result when Unicode is present
  src/System.Private.Uri/src/System/Uri.cs
  src/System.Private.Uri/src/System/UriExt.cs
  src/System.Private.Uri/tests/FunctionalTests/UriIsWellFormedUriStringTest.cs
  src/System.Private.Uri/tests/FunctionalTests/UriTests.cs
Labels: area-System.Net

#32623 Increment Microsoft.NETCore.Platforms version
  pkg/Microsoft.NETCore.Platforms/Microsoft.NETCore.Platforms.pkgproj
  pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  pkg/Microsoft.NETCore.Platforms/runtime.json
  src/packages.builds
Labels: Servicing-approved, area-Infrastructure

#32632 Treat the 'algorithm' parameter in Digest HTTP authentication as case-insensitive.
  src/Common/tests/System/Net/Http/LoopbackServer.AuthenticationHelpers.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.Digest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Authentication.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#32648 Reenable ProcessTests for uap
  src/System.Diagnostics.Process/tests/ProcessTests.cs
  src/System.Diagnostics.Process/tests/ProcessTests.netcoreapp.cs
Labels: area-System.Diagnostics.Process

#32444 get operational status and multicast support for osx
  src/Common/src/Interop/OSX/System.Native/Interop.ProtocolStatistics.cs
  src/Native/Unix/Common/pal_config.h.in
  src/Native/Unix/System.Native/pal_maphardwaretype.c
  src/Native/Unix/System.Native/pal_networkstatistics.c
  src/Native/Unix/System.Native/pal_networkstatistics.h
  src/Native/Unix/configure.cmake
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/OsxNetworkInterface.cs
Labels: area-System.Net, os-linux

#32651 Code cleanup in ProcessTests
  src/System.Diagnostics.Process/tests/ProcessTests.cs
Labels: area-System.Diagnostics.Process

#32653 Fix flaky 100-Continue test on CurlHandler
  src/System.Net.Http/tests/FunctionalTests/HttpRetryProtocolTests.cs
Labels: area-System.Net.Http, test bug

#32696 check OperationStatus for known interfaces on OSX
  src/System.Net.NetworkInformation/tests/FunctionalTests/NetworkInterfaceBasicTest.cs
Labels: os-mac-os-x, test enhancement

#32677 Consume Microsoft.DotNet.XUnitExtensions from arcade
  dependencies.props
  eng/Version.Details.xml
  eng/Versions.props
  external/test-runtime/XUnit.Runtime.depproj
  src/CoreFx.Private.TestUtilities/src/CoreFx.Private.TestUtilities.csproj
  src/SharedFrameworkValidation/SharedFrameworkValidation.proj
  src/shims/manual/mscorlib.csproj
Labels: area-Infrastructure

#32705 Add unit tests for BinaryPrimitives.ReverseEndianness
  src/System.Memory/tests/Binary/BinaryReaderUnitTests.cs
  src/System.Memory/tests/Binary/ReverseEndiannessUnitTests.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
Labels: area-System.Memory

#32702 Disable problematic Linq.Parallel test.
  src/System.Linq.Parallel/tests/Combinatorial/CancellationParallelQueryCombinationTests.cs
Labels: area-System.Linq.Parallel, disabled-test

#32046 Unix: fix UDP ReuseAddress with non .NET Core UDP clients
  src/Native/Unix/System.Native/pal_networking.c
  src/System.Net.Sockets/tests/FunctionalTests/Configurations.props
  src/System.Net.Sockets/tests/FunctionalTests/SocketOptionNameTest.Unix.cs
  src/System.Net.Sockets/tests/FunctionalTests/SocketOptionNameTest.Windows.cs
  src/System.Net.Sockets/tests/FunctionalTests/SocketOptionNameTest.cs
  src/System.Net.Sockets/tests/FunctionalTests/System.Net.Sockets.Tests.csproj
Labels: area-System.Net.Sockets, os-linux

#32329 Make test drop container name stable
  src/upload-tests.proj
Labels: area-Infrastructure

#32655 Clean up dead code in System.Memory
  src/Common/src/System/NotImplemented.cs
  src/System.Memory/src/Resources/Strings.resx
  src/System.Memory/src/System/Buffers/Text/Utf8Formatter/Utf8Formatter.Integer.Signed.Default.cs
  src/System.Memory/src/System/Buffers/Text/Utf8Formatter/Utf8Formatter.Integer.Unsigned.Default.cs
  src/System.Memory/src/System/ThrowHelper.cs
Labels: area-System.Memory

#32601 Fix compat issue with Type.IsAssignableFrom
  src/Common/tests/System/MockType.cs
  src/System.Reflection/tests/System.Reflection.Tests.csproj
  src/System.Reflection/tests/TypeDerivedTests.cs
Labels: bug

#32725 Port 'Pass --build-id=sha1 to linker explicitly' to 1.0.0
  src/Native/CMakeLists.txt
Labels: Servicing-approved

#32626 Port: Fix NetworkInterfaces exception when forwarding conf file is not available in linux system (#32350)
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/LinuxIPv4InterfaceProperties.cs
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/NetworkFiles.cs
Labels: Servicing-approved, area-System.Net

#31904 add ubuntu 14 instructions and MSSQL driver
  src/System.Data.Odbc/src/DatabaseSetupInstructions.md
Labels: area-System.Data

#31434 Add Strings.InStr and Strings.InStrRev methods (#31181)
  src/Microsoft.VisualBasic/ref/Microsoft.VisualBasic.cs
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/Strings.vb
  src/Microsoft.VisualBasic/tests/StringsTests.cs
Labels: area-Microsoft.VisualBasic

#32660 Fix File.Delete unix behaviour
  src/System.IO.FileSystem/src/System/IO/FileSystem.Unix.cs
  src/System.IO.FileSystem/tests/File/Delete.cs
Labels: area-System.IO

#32784 I deleted the duplicate code in IList.Generic.Tests
  src/Common/tests/System/Collections/IList.Generic.Tests.cs
Labels: area-System.Collections

#32734 {RO}Span<char> add IndexOfAny 4,5 tests change many tests to 6+
  src/System.Memory/tests/ReadOnlySpan/IndexOfAny.char.cs
  src/System.Memory/tests/Span/IndexOfAny.char.cs
Labels: area-System.Memory

#32724 Adding FormatException to PhysicalAddress.Parse()
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/PhysicalAddress.cs
  src/System.Net.NetworkInformation/tests/FunctionalTests/PhysicalAddressTest.cs
Labels: area-System.Net

#32794 Fix ClientWebSocket potential cycle with Timer
  src/Common/src/System/Net/WebSockets/ManagedWebSocket.cs
Labels: area-System.Net

#32614 Improved the coverage of ParseExact with the DateTimeStyle
  src/System.Runtime/tests/System/DateTimeTests.cs
Labels: area-System.Runtime

#32793 Fix Timer rooting issue with SocketsHttpHandler
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPoolManager.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#32803 Ensure ConnectionCloseReadStream uses provided bufferSize
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
Labels: area-System.Net.Http.SocketsHttpHandler, tenet-performance

#32738 Deduplicate some reflection test classes in System.Runtime and System.Reflection
  src/System.Reflection.Extensions/tests/RuntimeReflectionExtensionTests.cs
  src/System.Reflection/tests/Configurations.props
  src/System.Reflection/tests/ConstructorInfoTests.cs
  src/System.Reflection/tests/FieldInfoTests.cs
  src/System.Reflection/tests/MemberInfoTests.cs
  src/System.Reflection/tests/MemberInfoTests.netcoreapp.cs
  src/System.Reflection/tests/ParameterInfoTests.cs
  src/System.Reflection/tests/PropertyInfoTests.cs
  src/System.Reflection/tests/System.Reflection.Tests.csproj
  src/System.Reflection/tests/TypeInfoTests.cs
  src/System.Reflection/tests/TypeInfoTests.netcoreapp.cs
  src/System.Runtime/tests/System.Runtime.Tests.csproj
  src/System.Runtime/tests/System/Reflection/ConstructorInfoTests.cs
  src/System.Runtime/tests/System/Reflection/EventInfoTests.cs
  src/System.Runtime/tests/System/Reflection/FieldInfoTests.cs
  src/System.Runtime/tests/System/Reflection/MemberInfoTests.cs
  src/System.Runtime/tests/System/Reflection/ModuleTests.cs
  src/System.Runtime/tests/System/Reflection/ParameterInfoTests.cs
  src/System.Runtime/tests/System/Reflection/PropertyInfoTests.cs
  src/System.Runtime/tests/System/Reflection/RuntimeReflectionExtensionsTests.cs
  src/System.Runtime/tests/System/Reflection/TypeDelegatorTests.netcoreapp.cs
  src/System.Runtime/tests/System/Reflection/TypeInfoTests.cs
Labels: area-System.Reflection

#32789 Update commands in other groovy scripts
  eng/build.ps1
  eng/build.sh
  netci.groovy
  perf.groovy
Labels: area-Infrastructure

#32828 Add context to InternalExceptions
  src/Common/src/System/Net/InternalException.cs
  src/Common/src/System/Net/Internals/IPAddressExtensions.cs
  src/Common/src/System/Net/Logging/DebugThreadTracking.cs
  src/Common/src/System/Net/Security/NegotiateStreamPal.Windows.cs
  src/Common/src/System/Net/SecurityStatusAdapterPal.Windows.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HPackDecoder.cs
  src/System.Net.Security/src/System/Net/HelperAsyncResults.cs
  src/System.Net.Security/src/System/Net/Security/NegotiateStreamPal.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncContext.Unix.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEngine.Unix.cs
Labels: area-System.Net

#32820 Respect bufferSize on SocketHttpHandler's ContentLengthReadStream
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ContentLengthReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
Labels: area-System.Net.Http.SocketsHttpHandler, tenet-performance

#31451 Add Strings.Len methods (#31181)
  src/Microsoft.VisualBasic/ref/Microsoft.VisualBasic.cs
  src/Microsoft.VisualBasic/src/Microsoft.VisualBasic.vbproj
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/CompilerServices/StructUtils.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/Strings.vb
  src/Microsoft.VisualBasic/tests/Microsoft.VisualBasic.Tests.csproj
  src/Microsoft.VisualBasic/tests/Microsoft/VisualBasic/CompilerServices/StructUtilsTests.cs
  src/Microsoft.VisualBasic/tests/StringsTests.cs
Labels: area-Microsoft.VisualBasic

#32816 fix parsing for TCP info on Linux
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/StringParsingHelpers.Connections.cs
  src/System.Net.NetworkInformation/tests/FunctionalTests/ConnectionsParsingTests.cs
Labels: area-System.Net, os-linux

#32824 Improve bad_mac_address Message
  src/System.Net.NetworkInformation/src/Resources/Strings.resx
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/PhysicalAddress.cs
  src/System.Net.NetworkInformation/tests/FunctionalTests/PhysicalAddressTest.cs
Labels: area-System.Net

#32795 Add Alpine 3.8 to Alpine runs
  buildpipeline/pipeline.json
Labels: area-Infrastructure

#32852 Update test server corefx-net.cloudapp.net source files
  src/Common/tests/System/Net/Prerequisites/Servers/CoreFxNetCloudService/WebServer/WebServer.csproj
  src/Common/tests/System/Net/Prerequisites/Servers/CoreFxNetCloudService/WebServer/packages.config
Labels: area-System.Net, test enhancement

#32853 [release/2.1] Update test server corefx-net.cloudapp.net source files (#32852)
  src/Common/tests/System/Net/Prerequisites/Servers/CoreFxNetCloudService/WebServer/WebServer.csproj
  src/Common/tests/System/Net/Prerequisites/Servers/CoreFxNetCloudService/WebServer/packages.config
Labels: area-System.Net, test enhancement

#32854 [release/1.1.x] Update test server corefx-net.cloudapp.net source files (#32852)
  src/Common/tests/System/Net/Prerequisites/Servers/CoreFxNetCloudService/WebServer/WebServer.csproj
  src/Common/tests/System/Net/Prerequisites/Servers/CoreFxNetCloudService/WebServer/packages.config
Labels: area-System.Net, test enhancement

#32845 [release/2.2] Fix Timer rooting issue with SocketsHttpHandler
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPoolManager.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: Servicing-approved, area-System.Net.Http.SocketsHttpHandler

#32671 Add tests to validate Task reference doesn't keep state alive
  src/System.Threading.Tasks/tests/Helpers.cs
  src/System.Threading.Tasks/tests/System.Runtime.CompilerServices/AsyncTaskMethodBuilderTests.cs
  src/System.Threading.Tasks/tests/System.Threading.Tasks.Tests.csproj
  src/System.Threading.Tasks/tests/Task/ExecutionContextFlowTest.cs
Labels: area-System.Threading.Tasks

#32746 Add ReferenceAssemblies.props to eng directory
  Directory.Build.props
  eng/ReferenceAssemblies.props
  eng/Versions.props
  src/System.Runtime/ref/System.Runtime.csproj
Labels: area-Infrastructure

#32670 Remove no longer throws if certificate isn't in store
  src/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.X509Store.cs
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_keychain.c
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_keychain.h
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.OSX/StorePal.AppleKeychainStore.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/DirectoryBasedStoreProvider.cs
  src/System.Security.Cryptography.X509Certificates/tests/X509StoreTests.cs
Labels: area-System.Security

#32776 [release/uwp6.2] Clear Authorization Headers on Redirect
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/System.Net.Http/dir.props
  src/System.Net.Http/src/uap/System/Net/HttpHandlerToFilter.cs
Labels: area-System.Net.Http

#32743 Expose CancellationToken.UnsafeRegister
  src/System.Runtime/ref/System.Runtime.cs
  src/System.Threading.Tasks/tests/CancellationTokenTests.netcoreapp.cs
Labels: area-System.Threading.Tasks

#32786 Fix SafeLsaMemoryHandle.InvalidHandle
  src/Common/src/Interop/Windows/advapi32/Interop.LsaLookupNames2.cs
  src/Common/src/Interop/Windows/advapi32/Interop.LsaLookupSids.cs
  src/Common/src/Interop/Windows/sspicli/Interop.LsaGetLogonSessionData.cs
  src/System.Security.Principal.Windows/src/Microsoft/Win32/SafeHandles/SafeSecurityHandles.cs
  src/System.Security.Principal.Windows/src/System/Security/Principal/NTAccount.cs
  src/System.Security.Principal.Windows/src/System/Security/Principal/SID.cs
  src/System.Security.Principal.Windows/src/System/Security/Principal/WindowsIdentity.cs
  src/System.Security.Principal.Windows/tests/NTAccount.cs
  src/System.Security.Principal.Windows/tests/System.Security.Principal.Windows.Tests.csproj
Labels: area-System.Security

#32916 Fix a few minor issues in Channels
  src/System.Threading.Channels/src/System.Threading.Channels.csproj
  src/System.Threading.Channels/src/System/Collections/Generic/Deque.cs
  src/System.Threading.Channels/src/System/Threading/Channels/AsyncOperation.cs
  src/System.Threading.Channels/src/System/Threading/Channels/BoundedChannel.cs
  src/System.Threading.Channels/src/System/Threading/Channels/ChannelReader.cs
  src/System.Threading.Channels/src/System/Threading/Channels/ChannelUtilities.cs
  src/System.Threading.Channels/src/System/Threading/Channels/ChannelWriter.cs
  src/System.Threading.Channels/src/System/Threading/Channels/UnboundedChannel.cs
  src/System.Threading.Channels/tests/ChannelTestBase.cs
Labels: area-System.Threading.Channels

#32900 Add API to enable comparision of corefx's OpenSSL with a 3rd party P/Invoke
  src/Common/src/Interop/Unix/System.Net.Http.Native/Interop.VersionInfo.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSslVersion.cs
  src/Common/src/Microsoft/Win32/SafeHandles/SafeEvpPKeyHandle.Unix.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.Unix.cs
  src/Native/Unix/System.Security.Cryptography.Native/openssl.c
  src/Native/Unix/System.Security.Cryptography.Native/openssl.h
  src/Native/Unix/System.Security.Cryptography.Native/pal_ssl.c
  src/System.Security.Cryptography.OpenSsl/ref/System.Security.Cryptography.OpenSsl.cs
  src/System.Security.Cryptography.OpenSsl/src/System.Security.Cryptography.OpenSsl.csproj
  src/System.Security.Cryptography.OpenSsl/tests/SafeEvpPKeyHandleTests.cs
  src/System.Security.Cryptography.OpenSsl/tests/System.Security.Cryptography.OpenSsl.Tests.csproj
Labels: area-System.Security

#32524 SocketsHttpHandler: Ensure that we don't initiate connection creation under the pool lock
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#32584 Do no suppress finalization of RequestContextBase due to native mem leak (#32454)
  src/System.Net.HttpListener/src/System/Net/Windows/RequestContextBase.cs
Labels: area-System.Net

#32972 Reset SocketAsyncEventArgs in-use flag when BeginGetHostAddresses throws
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/System.Net.Sockets/tests/FunctionalTests/SocketAsyncEventArgsTest.cs
Labels: area-System.Net.Sockets

#32954 Remove unnecessary interop from System.Net.NetworkInformation
  src/Common/src/System/Net/SafeCloseSocketAndEvent.cs
  src/System.Net.NetworkInformation/src/System.Net.NetworkInformation.csproj
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/NetworkAddressChange.Windows.cs
  src/System.Net.Sockets/src/System.Net.Sockets.csproj
  src/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.Unix.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.cs
Labels: area-System.Net

#32777 Added unit tests to cover passing nullable types to System.Diagnostics.Tracing
  src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestUtilities.cs
  src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestsWrite.cs
  src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestsWriteEvent.cs
  src/System.Diagnostics.Tracing/tests/CustomEventSources/EventSourceTest.cs
Labels: area-System.Diagnostics.Tracing

#32538 Add test for dotnet/coreclr#18521 fix
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/StructureToPtrTests.cs
Labels: area-System.Runtime.InteropServices

#33017 Fix openssl missing reference warning in System.Net.Http uap/all configurations build
  src/System.Net.Http/src/System.Net.Http.csproj
Labels: area-System.Net.Http

#32919 Remove per-async operation allocation from Sockets on Unix
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncContext.Unix.cs
Labels: area-System.Net.Sockets, os-linux

#32322 Expose MethodImplOptions.AggressiveOptimization and MethodImplAttributes.AggressiveOptimization
  src/System.Runtime/ref/System.Runtime.cs
  src/System.Runtime/tests/System.Runtime.Tests.csproj
  src/System.Runtime/tests/System/Runtime/CompilerServices/MethodImplAttributeTests.netcoreapp.cs
Labels: area-System.Runtime.CompilerServices

#32920 [release/2.2] Treat the 'algorithm' parameter in Digest HTTP authentication as case insensitive
  src/Common/tests/System/Net/Http/LoopbackServer.AuthenticationHelpers.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.Digest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Authentication.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: Servicing-approved, area-System.Net.Http.SocketsHttpHandler, tenet-compatibility

#33061 Fixed some typos.
  Documentation/building/cross-building.md
  Documentation/coding-guidelines/adding-api-guidelines.md
  Documentation/coding-guidelines/project-guidelines.md
  Documentation/project-docs/developer-guide.md
  Documentation/project-docs/dogfooding.md
  Documentation/project-docs/glossary.md
Labels: documentation

#33028 Add DateTime.TryParse Not throwing test
  src/System.Runtime/tests/System/DateTimeTests.cs
  src/System.Runtime/tests/System/DateTimeTests.netcoreapp.cs
Labels: * NO MERGE *

#31698 [release/2.1] Enable Tizen CI
  cross/arm32_ci_script.sh
  cross/armel/tizen-fetch.sh
  netci.groovy
Labels: Servicing-consider, area-Tizen, blocked

#33027 SerialPort - initial async implementation on Linux and bugfixes
  src/Native/Unix/System.IO.Ports.Native/pal_serial.c
  src/System.IO.Ports/src/Resources/Strings.resx
  src/System.IO.Ports/src/System.IO.Ports.csproj
  src/System.IO.Ports/src/System/IO/Ports/InternalResources.cs
  src/System.IO.Ports/src/System/IO/Ports/SerialPort.cs
  src/System.IO.Ports/src/System/IO/Ports/SerialStream.Unix.cs
  src/System.IO.Ports/src/System/IO/Ports/SerialStream.Windows.cs
  src/System.IO.Ports/src/System/IO/Ports/SerialStream.cs
  src/System.IO.Ports/tests/SerialPort/AbortOnError.cs
  src/System.IO.Ports/tests/SerialPort/BaudRate.cs
  src/System.IO.Ports/tests/SerialPort/BreakState.cs
  src/System.IO.Ports/tests/SerialPort/DataBits.cs
  src/System.IO.Ports/tests/SerialPort/DiscardInBuffer.cs
  src/System.IO.Ports/tests/SerialPort/DiscardNull.cs
  src/System.IO.Ports/tests/SerialPort/DtrEnable.cs
  src/System.IO.Ports/tests/SerialPort/ErrorEvent.cs
  src/System.IO.Ports/tests/SerialPort/Event_Close_Stress.cs
  src/System.IO.Ports/tests/SerialPort/Event_Generic.cs
  src/System.IO.Ports/tests/SerialPort/Handshake.cs
  src/System.IO.Ports/tests/SerialPort/Parity.cs
  src/System.IO.Ports/tests/SerialPort/ParityReplace.cs
  src/System.IO.Ports/tests/SerialPort/PinChangedEvent.cs
  src/System.IO.Ports/tests/SerialPort/ReadBufferSize.cs
  src/System.IO.Ports/tests/SerialPort/ReadByte_Generic.cs
  src/System.IO.Ports/tests/SerialPort/ReadChar.cs
  src/System.IO.Ports/tests/SerialPort/ReadChar_Generic.cs
  src/System.IO.Ports/tests/SerialPort/ReadExisting_Generic.cs
  src/System.IO.Ports/tests/SerialPort/ReadLine.cs
  src/System.IO.Ports/tests/SerialPort/ReadLine_Generic.cs
  src/System.IO.Ports/tests/SerialPort/ReadTo.cs
  src/System.IO.Ports/tests/SerialPort/ReadTo_Generic.cs
  src/System.IO.Ports/tests/SerialPort/Read_byte_int_int_Generic.cs
  src/System.IO.Ports/tests/SerialPort/Read_char_int_int_Generic.cs
  src/System.IO.Ports/tests/SerialPort/ReceivedBytesThreshold.cs
  src/System.IO.Ports/tests/SerialPort/ReceivedEvent.cs
  src/System.IO.Ports/tests/SerialPort/RtsEnable.cs
  src/System.IO.Ports/tests/SerialPort/SerialPortRegressions.cs
  src/System.IO.Ports/tests/SerialPort/StopBits.cs
  src/System.IO.Ports/tests/SerialPort/WriteBufferSize.cs
  src/System.IO.Ports/tests/SerialPort/WriteLine_Generic.cs
  src/System.IO.Ports/tests/SerialPort/Write_byte_int_int_Generic.cs
  src/System.IO.Ports/tests/SerialPort/Write_char_int_int_Generic.cs
  src/System.IO.Ports/tests/SerialPort/Write_str_Generic.cs
  src/System.IO.Ports/tests/SerialStream/BeginRead.cs
  src/System.IO.Ports/tests/SerialStream/BeginRead_Generic.cs
  src/System.IO.Ports/tests/SerialStream/BeginWrite.cs
  src/System.IO.Ports/tests/SerialStream/BeginWrite_Generic.cs
  src/System.IO.Ports/tests/SerialStream/EndRead.cs
  src/System.IO.Ports/tests/SerialStream/EndWrite.cs
  src/System.IO.Ports/tests/SerialStream/Flush.cs
  src/System.IO.Ports/tests/SerialStream/ReadByte.cs
  src/System.IO.Ports/tests/SerialStream/ReadByte_Generic.cs
  src/System.IO.Ports/tests/SerialStream/Read_byte_int_int_Generic.cs
  src/System.IO.Ports/tests/SerialStream/WriteByte_Generic.cs
  src/System.IO.Ports/tests/SerialStream/WriteTimeout.cs
  src/System.IO.Ports/tests/SerialStream/Write_byte_int_int_Generic.cs
  src/System.IO.Ports/tests/Support/KnownFailureAttribute.cs
  src/System.IO.Ports/tests/Support/SerialPortConnection.cs
  src/System.IO.Ports/tests/Support/TCSupport.cs
  src/System.IO.Ports/tests/System.IO.Ports.Tests.csproj
Labels: area-System.IO

#33147 disable sourcelink on FreeBSD
  Directory.Build.props
Labels: os-freebsd
