Repository dotnet/corefx, pull requests merged in 2018-09, with the labels that each got.

#31240 Port and test VB Collection
  src/Microsoft.VisualBasic/ref/Microsoft.VisualBasic.cs
  src/Microsoft.VisualBasic/src/Microsoft.VisualBasic.vbproj
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/Collection.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/Helpers/ForEachEnum.vb
  src/Microsoft.VisualBasic/tests/CollectionsTests.cs
  src/Microsoft.VisualBasic/tests/Microsoft.VisualBasic.Tests.csproj
Labels: area-Microsoft.VisualBasic

#32006 Add hybrid support for OpenSSL 1.0 and 1.1
  src/Common/src/Microsoft/Win32/SafeHandles/SafeEvpPKeyHandle.Unix.cs
  src/Native/Unix/System.Security.Cryptography.Native/CMakeLists.txt
  src/Native/Unix/System.Security.Cryptography.Native/apibridge.c
  src/Native/Unix/System.Security.Cryptography.Native/apibridge.h
  src/Native/Unix/System.Security.Cryptography.Native/configure.cmake
  src/Native/Unix/System.Security.Cryptography.Native/openssl.c
  src/Native/Unix/System.Security.Cryptography.Native/openssl.h
  src/Native/Unix/System.Security.Cryptography.Native/openssl_1_0_structs.h
  src/Native/Unix/System.Security.Cryptography.Native/opensslshim.c
  src/Native/Unix/System.Security.Cryptography.Native/opensslshim.h
  src/Native/Unix/System.Security.Cryptography.Native/pal_asn1.c
  src/Native/Unix/System.Security.Cryptography.Native/pal_asn1.h
  src/Native/Unix/System.Security.Cryptography.Native/pal_crypto_config.h.in
  src/Native/Unix/System.Security.Cryptography.Native/pal_dsa.c
  src/Native/Unix/System.Security.Cryptography.Native/pal_dsa.h
  src/Native/Unix/System.Security.Cryptography.Native/pal_evp.c
  src/Native/Unix/System.Security.Cryptography.Native/pal_evp_cipher.c
  src/Native/Unix/System.Security.Cryptography.Native/pal_evp_pkey.c
  src/Native/Unix/System.Security.Cryptography.Native/pal_hmac.c
  src/Native/Unix/System.Security.Cryptography.Native/pal_hmac.h
  src/Native/Unix/System.Security.Cryptography.Native/pal_rsa.c
  src/Native/Unix/System.Security.Cryptography.Native/pal_rsa.h
  src/Native/Unix/System.Security.Cryptography.Native/pal_ssl.c
  src/Native/Unix/System.Security.Cryptography.Native/pal_x509.c
  src/Native/Unix/System.Security.Cryptography.Native/pal_x509_root.c
  src/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/OpenSslCipher.cs
  src/System.Security.Cryptography.OpenSsl/tests/EcDsaOpenSslTests.cs
Labels: area-System.Security

#31474 Add System.Diagnostics.PerformanceData namespace
  src/Common/src/Interop/Windows/perfcounter/Interop.PerformanceData.cs
  src/Common/src/Microsoft/Win32/SafeHandles/SafePerfProviderHandle.cs
  src/System.Diagnostics.PerformanceCounter/ref/System.Diagnostics.PerformanceCounter.cs
  src/System.Diagnostics.PerformanceCounter/ref/System.Diagnostics.PerformanceCounter.csproj
  src/System.Diagnostics.PerformanceCounter/src/Resources/Strings.resx
  src/System.Diagnostics.PerformanceCounter/src/System.Diagnostics.PerformanceCounter.csproj
  src/System.Diagnostics.PerformanceCounter/src/System/Diagnostics/PerformanceData/CounterSet.cs
  src/System.Diagnostics.PerformanceCounter/src/System/Diagnostics/PerformanceData/CounterSetInstance.cs
  src/System.Diagnostics.PerformanceCounter/src/System/Diagnostics/PerformanceData/CounterSetInstanceCounterDataSet.cs
  src/System.Diagnostics.PerformanceCounter/src/System/Diagnostics/PerformanceData/CounterSetInstanceType.cs
  src/System.Diagnostics.PerformanceCounter/src/System/Diagnostics/PerformanceData/CounterType.cs
  src/System.Diagnostics.PerformanceCounter/src/System/Diagnostics/PerformanceData/PerfProviderCollection.cs
  src/System.Diagnostics.PerformanceCounter/tests/PerformanceDataTests.cs
  src/System.Diagnostics.PerformanceCounter/tests/System.Diagnostics.PerformanceCounter.Tests.csproj
  src/System.Diagnostics.PerformanceCounter/tests/provider.man
  src/System.Diagnostics.PerformanceCounter/tests/provider.res
Labels: area-System.Diagnostics.Tracing

#31579 System.Security: Convert AppleAsnFormatter to use AsnSerializer
  src/Common/src/System/Security/Cryptography/Asn1/DirectoryStringAsn.xml
  src/Common/src/System/Security/Cryptography/Asn1/DirectoryStringAsn.xml.cs
  src/Common/src/System/Security/Cryptography/Asn1/EdiPartyNameAsn.xml
  src/Common/src/System/Security/Cryptography/Asn1/EdiPartyNameAsn.xml.cs
  src/Common/src/System/Security/Cryptography/Asn1/GeneralNameAsn.cs
  src/Common/src/System/Security/Cryptography/Asn1/GeneralNameAsn.xml
  src/Common/src/System/Security/Cryptography/Asn1/GeneralNameAsn.xml.cs
  src/Common/src/System/Security/Cryptography/Asn1/OtherNameAsn.xml
  src/Common/src/System/Security/Cryptography/Asn1/OtherNameAsn.xml.cs
  src/System.Security.Cryptography.Encoding/src/Internal/Cryptography/AsnFormatter.OSX.cs
  src/System.Security.Cryptography.Encoding/src/Resources/Strings.resx
  src/System.Security.Cryptography.Encoding/src/System.Security.Cryptography.Encoding.csproj
  src/System.Security.Cryptography.Encoding/tests/Asn1/Serializer/SimpleDeserialize.cs
  src/System.Security.Cryptography.Encoding/tests/Asn1/Serializer/SimpleSerialize.cs
  src/System.Security.Cryptography.Encoding/tests/AsnEncodedData.cs
  src/System.Security.Cryptography.Encoding/tests/System.Security.Cryptography.Encoding.Tests.csproj
  src/System.Security.Cryptography.Pkcs/src/System.Security.Cryptography.Pkcs.csproj
  src/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/SubjectAlternativeNameBuilder.cs
Labels: area-System.Security

#31957 Enabling some skipped math and mathf tests
  src/System.Runtime.Extensions/tests/System/Math.cs
  src/System.Runtime.Extensions/tests/System/MathF.netcoreapp.cs
Labels: area-System.Numerics

#31856 Document breaking change rule for stateless structs
  Documentation/coding-guidelines/breaking-change-rules.md
Labels: area-Meta

#32034 [release/2.1] Ensure that TrySetECDHNamedCurve is always called, enabling ECDHE ciphersuites
  src/Native/Unix/System.Security.Cryptography.Native/pal_ssl.cpp
Labels: Servicing-approved, area-System.Net.Security

#31680 [2.1] Port "Do not expand stacktraces when completion exception is rethrown multiple times"
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeCompletion.cs
  src/System.IO.Pipelines/tests/FlushAsyncCompletionTests.cs
  src/System.IO.Pipelines/tests/PipeReaderWriterFacts.cs
  src/System.IO.Pipelines/tests/ReadAsyncCompletionTests.cs
Labels: Servicing-approved, area-System.IO.Pipelines

#32127 Fix extract out of directory
  src/System.IO.Compression.ZipFile/src/System/IO/Compression/ZipFileExtensions.ZipArchiveEntry.Extract.cs
  src/System.IO.Compression.ZipFile/tests/ZipFile.Extract.cs
Labels: area-System.IO.Compression

#31552 Add perf tests to System.IO
  src/System.IO/System.IO.sln
  src/System.IO/tests/Performance/Configurations.props
  src/System.IO/tests/Performance/Perf.StreamWriter.cs
  src/System.IO/tests/Performance/System.IO.Performance.Tests.csproj
  src/System.IO/tests/StreamWriter/StreamWriter.cs
Labels: area-System.IO

#32102 Fix incorrect IEEE conversion buffer size for ECDsaCmsSignature.
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSignature.ECDsa.cs
  src/System.Security.Cryptography.Pkcs/tests/Certificates.cs
  src/System.Security.Cryptography.Pkcs/tests/SignedCms/SignedCmsTests.netcoreapp.cs
Labels: area-System.Security

#32138 Remove System.Drawing.Common 4.5.1 stable version
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
Labels: area-Infrastructure

#30903 minimal support for serial port on Linux. part 2.
  src/System.IO.Ports/src/Configurations.props
  src/System.IO.Ports/src/Interop/Unix/Interop.Termios.cs
  src/System.IO.Ports/src/System.IO.Ports.csproj
  src/System.IO.Ports/src/System/IO/Ports/SerialPort.Linux.cs
  src/System.IO.Ports/src/System/IO/Ports/SerialPort.OSX.cs
  src/System.IO.Ports/src/System/IO/Ports/SerialPort.Windows.cs
  src/System.IO.Ports/src/System/IO/Ports/SerialStream.Unix.cs
  src/System.IO.Ports/src/System/IO/Ports/SerialStream.Windows.cs
  src/System.IO.Ports/tests/Configurations.props
  src/System.IO.Ports/tests/SerialPort/RtsEnable.cs
  src/System.IO.Ports/tests/Support/PortHelper.cs
  src/System.IO.Ports/tests/System.IO.Ports.Tests.csproj
Labels: area-System.IO, os-linux

#31815 Add Public API Marshal.GetEndComSlot and Marshal.IsTypeVisibleFromCom
  src/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/System.Runtime.InteropServices/src/ApiCompatBaseline.netcoreappaot.txt
  src/System.Runtime.InteropServices/src/ApiCompatBaseline.uapaot.txt
  src/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.Tests.csproj
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/ChangeWrapperHandleStrengthTests.nonnetstandard.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/Common/CommonTypes.Windows.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetEndComSlotTests.Windows.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetEndComSlotTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetNativeVariantForObjectTests.nonnetstandard.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetStartComSlotTests.Windows.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetStartComSlotTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetStartComSlotTests.nonnetstandard.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/IsComObjectTests.nonnetstandard.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/IsTypeVisibleFromComTests.Windows.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/IsTypeVisibleFromComTests.cs
Labels: area-System.Runtime.InteropServices

#31905 client side ALPN for OSX
  src/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.Ssl.cs
  src/CoreFx.Private.TestUtilities/ref/CoreFx.Private.TestUtilities.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.cs
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_ssl.c
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_ssl.h
  src/System.Net.Security/src/System/Net/Security/Pal.OSX/SafeDeleteSslContext.cs
  src/System.Net.Security/src/System/Net/Security/SecureChannel.cs
  src/System.Net.Security/src/System/Net/Security/SslStreamPal.OSX.cs
  src/System.Net.Security/src/System/Net/Security/SslStreamPal.Unix.cs
  src/System.Net.Security/tests/FunctionalTests/SslStreamAlpnTests.cs
  src/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
Labels: area-System.Net.Security, os-mac-os-x

#32146 fix nt auth handling when we receive a 401 after auth completes
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.NtAuth.cs
Labels: area-System.Net.Http.SocketsHttpHandler, tenet-compatibility

#32141 Support hexBinary type
  src/System.Private.DataContractSerialization/src/System/Xml/XmlBaseReader.cs
  src/System.Private.DataContractSerialization/src/System/Xml/XmlBaseWriter.cs
  src/System.Runtime.Serialization.Xml/tests/XmlDictionaryReaderTests.cs
  src/System.Runtime.Serialization.Xml/tests/XmlDictionaryWriterTest.cs
Labels: area-Serialization

#32212 HttpClient: add simple nt auth tests
  src/System.Net.Http/tests/FunctionalTests/NtAuthTests.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Labels: area-System.Net.Http, test enhancement

#32203 Add missed packages to packages.builds for 2.1.5
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/System.Diagnostics.DiagnosticSource/dir.props
  src/System.Drawing.Common/dir.props
  src/System.IO.Pipelines/dir.props
  src/System.Net.Http.WinHttpHandler/dir.props
  src/System.Net.WebSockets.WebSocketProtocol/dir.props
  src/System.Runtime.CompilerServices.Unsafe/dir.props
  src/System.Runtime.CompilerServices.Unsafe/pkg/System.Runtime.CompilerServices.Unsafe.pkgproj
  src/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.il
  src/System.Security.Cryptography.Pkcs/dir.props
  src/System.Security.Principal.Windows/dir.props
  src/System.Security.Principal.Windows/pkg/System.Security.Principal.Windows.pkgproj
  src/packages.builds
Labels: Servicing-approved, area-Infrastructure

#32244 Update json file adding Mojave 10.14
  buildpipeline/pipeline.json
Labels: area-Infrastructure

#32241 Add conditional attribute tests to ensure we're always running conditional tests
  src/CoreFx.Private.TestUtilities/tests/ConditionalAttributeTests.cs
  src/CoreFx.Private.TestUtilities/tests/CoreFx.Private.TestUtilities.Tests.csproj
Labels: area-Infrastructure

#32247 Disable nt auth tests on Nano
  src/System.Net.Http/tests/FunctionalTests/NtAuthTests.cs
Labels: area-System.Net.Http

#32133 Make AttributeType virtual and add MakeGenericSignatureType
  src/System.Runtime/ref/System.Runtime.cs
  src/System.Runtime/tests/System/Reflection/SignatureTypes.netcoreapp.cs
Labels: area-System.Reflection

#32226 Add SignerIdentifierType.NoSignature support to SignedCms
  src/Common/src/System/Security/Cryptography/Oids.cs
  src/System.Security.Cryptography.Pkcs/src/Resources/Strings.resx
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSigner.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SignedCms.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SignerInfo.cs
  src/System.Security.Cryptography.Pkcs/tests/SignedCms/SignedCmsTests.cs
  src/System.Security.Cryptography.Pkcs/tests/SignedCms/SignerInfoTests.cs
Labels: area-System.Security

#32182 System.Security: Optimize public key imports for OpenSSL and Common Crypto
  src/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.SecKeyRef.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Rsa.cs
  src/Common/src/System/Security/Cryptography/DSAKeyFormatHelper.cs
  src/Common/src/System/Security/Cryptography/DSASecurityTransforms.cs
  src/Common/src/System/Security/Cryptography/ECDiffieHellmanSecurityTransforms.cs
  src/Common/src/System/Security/Cryptography/EccKeyFormatHelper.cs
  src/Common/src/System/Security/Cryptography/EccSecurityTransforms.cs
  src/Common/src/System/Security/Cryptography/RSAOpenSsl.cs
  src/Common/src/System/Security/Cryptography/RSASecurityTransforms.cs
  src/System.Security.Cryptography.OpenSsl/src/System.Security.Cryptography.OpenSsl.csproj
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.OSX/X509Pal.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslX509Encoder.cs
Labels: area-System.Security

#32243 [release/2.1] Fix windows auth when we receive a 401 after auth completes
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.NtAuth.cs
  src/System.Net.Http/tests/FunctionalTests/NtAuthTests.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Labels: Servicing-approved, area-System.Net.Http.SocketsHttpHandler, tenet-compatibility

#32211 Added additional unit test scenario to Huffman encoding tests
  src/System.Net.Http/tests/FunctionalTests/HuffmanDecodingTests.cs
Labels: area-System.Net.Http.SocketsHttpHandler, test enhancement

#32283 Read SSL_CERT_FILE contents before SSL_CERT_DIR contents
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/StorePal.cs
Labels: area-System.Security

#32284 Add Ubuntu 18.10 (Cosmic Cuttlefish)
  pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  pkg/Microsoft.NETCore.Platforms/runtime.json
  pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
Labels: area-Infrastructure, os-linux

#30817 Make Image, Bitmap, Metafile and Icon serializable
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/System.Drawing.Common/src/System/Drawing/Bitmap.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Bitmap.cs
  src/System.Drawing.Common/src/System/Drawing/Icon.NotSerializable.cs
  src/System.Drawing.Common/src/System/Drawing/Icon.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Icon.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Image.NotSerializable.cs
  src/System.Drawing.Common/src/System/Drawing/Image.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Image.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Image.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Metafile.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Metafile.Windows.cs
  src/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTestData.cs
  src/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTests.cs
  src/System.Runtime.Serialization.Formatters/tests/EqualityExtensions.cs
  src/System.Runtime.Serialization.Formatters/tests/PlatformExtensions.cs
  src/System.Runtime.Serialization.Formatters/tests/System.Runtime.Serialization.Formatters.Tests.csproj
  src/System.Runtime.Serialization.Formatters/tests/TargetFrameworkMoniker.cs
Labels: area-System.Drawing

#31810 Add retry policy to ProfileOptimization test
  src/System.Runtime.Extensions/tests/System/Runtime/ProfileOptimization.netcoreapp.cs
Labels: area-System.Runtime.Extensions

#32286 Remove the ActiveIssue attribute from a disabled-but-passing test
  src/System.Security.Cryptography.X509Certificates/tests/X500DistinguishedNameTests.cs
Labels: area-System.Security

#32259 skip content-length on DELETE and OPTIONS methods with no body
  src/System.Net.Http/src/System/Net/Http/HttpMethod.cs
  src/System.Net.Http/tests/FunctionalTests/HttpRequestMessageTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#32289 Re-enable a test on netfx since we have a higher baseline now
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RSA/ImportExport.cs
  src/System.Security.Cryptography.Cng/tests/ECDsaCngTests.cs
Labels: area-System.Security

#32026 Add UTF8 parser performance tests
  src/System.Memory/tests/Performance/Perf.Utf8Parser.cs
Labels: area-System.Memory

#31944 Add AsyncLocal test that verifies value changes (similar to test above)
  src/System.Threading/tests/AsyncLocalTests.cs
Labels: area-System.Threading

#32260 Add launchSettings.json files to test projects
  .gitignore
  src/Directory.Build.targets
Labels: area-Infrastructure

#32356 use proper flags for sendmsg() on Unix
  src/Native/Unix/System.Native/pal_networking.c
Labels: area-System.Net, os-linux

#32360 Replace ReadAsyncCompletesIfFlushAsyncCanceledMidFlush test
  src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeAwaitable.cs
  src/System.IO.Pipelines/tests/FlushAsyncCancellationTests.cs
Labels: area-System.IO.Pipelines

#32350 Fix NetworkInterfaces exception when forwarding conf file is not available in linux system
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/LinuxIPv4InterfaceProperties.cs
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/NetworkFiles.cs
Labels: area-System.Net, os-linux

#32304 Add Test for Japanese First Year of Era
  src/System.Globalization/tests/DateTimeFormatInfo/DateTimeFormatInfoTests.cs
Labels: area-System.Globalization

#32123 Document breaking change rule for the underlying type of an enum
  Documentation/coding-guidelines/breaking-change-rules.md
Labels: area-Meta

#31320 Add more VB operator tests
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/CompilerServices/Operators.vb
  src/Microsoft.VisualBasic/tests/Microsoft.VisualBasic.Tests.csproj
  src/Microsoft.VisualBasic/tests/OperatorsTests.Comparison.cs
  src/Microsoft.VisualBasic/tests/OperatorsTests.cs
Labels: area-Microsoft.VisualBasic

#32422 Runtime config cleanup and coverage fixes
  Directory.Build.props
  src/System.Collections.Immutable/src/System.Collections.Immutable.csproj
  src/System.Globalization.Calendars/tests/CalendarTestWithConfigSwitch/Properties/coverage.runtimeconfig.json
  src/System.Globalization.Calendars/tests/CalendarTestWithConfigSwitch/Properties/xunit.console.runtimeconfig.json
  src/System.Globalization.Calendars/tests/CalendarTestWithConfigSwitch/System.Globalization.CalendarsWithConfigSwitch.Tests.csproj
  src/System.Globalization/tests/Invariant/Invariant.Tests.csproj
  src/System.Globalization/tests/Invariant/Properties/coverage.runtimeconfig.json
  src/System.Globalization/tests/Invariant/Properties/xunit.console.runtimeconfig.json
  src/System.Private.Xml/tests/XmlSerializer/Performance/System.Xml.XmlSerializer.Performance.Tests.csproj
  src/System.Private.Xml/tests/XmlSerializer/System.Xml.XmlSerializer.Tests.csproj
  src/System.Runtime.InteropServices.RuntimeInformation/tests/System.Runtime.InteropServices.RuntimeInformation.Tests.csproj
  src/System.Runtime.InteropServices.WindowsRuntime/tests/System.Runtime.InteropServices.WindowsRuntime.Tests.csproj
  src/System.Runtime.Loader/tests/DefaultContext/System.Runtime.Loader.DefaultContext.Tests.csproj
  src/System.Runtime.Loader/tests/RefEmitLoadContext/System.Runtime.Loader.RefEmitLoadContext.Tests.csproj
  src/System.Runtime.Loader/tests/System.Runtime.Loader.Tests.csproj
  src/System.Runtime.Numerics/src/System.Runtime.Numerics.csproj
  src/System.Runtime/tests/System.Runtime.Tests.csproj
  src/System.Runtime/tests/app.config
  src/System.Security.Cryptography.Cng/src/System.Security.Cryptography.Cng.csproj
  src/System.Security.Permissions/tests/System.Security.Permissions.Tests.csproj
  src/System.Text.Encodings.Web/tests/System.Text.Encodings.Web.Tests.csproj
  src/System.Text.RegularExpressions/tests/System.Text.RegularExpressions.Tests.csproj
  src/System.Threading.Tasks.Parallel/tests/System.Threading.Tasks.Parallel.Tests.csproj
Labels: area-Infrastructure

#32439 Revert "Add more VB operator tests"
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/CompilerServices/Operators.vb
  src/Microsoft.VisualBasic/tests/Microsoft.VisualBasic.Tests.csproj
  src/Microsoft.VisualBasic/tests/OperatorsTests.Comparison.cs
  src/Microsoft.VisualBasic/tests/OperatorsTests.cs
Labels: area-Microsoft.VisualBasic

#32436 Name changes and using pointer instead of spans
  src/Common/src/Interop/Unix/System.Native/Interop.UTimensat.cs
  src/Native/Unix/System.Native/pal_time.c
  src/System.IO.FileSystem/src/System/IO/FileStatus.Unix.cs
Labels: area-System.IO

#32368 Update the file headers
  src/System.IO.Compression/src/System/IO/Compression/DeflateManaged/DeflaterManaged.cs
  src/System.IO.Compression/src/System/IO/Compression/DeflateManaged/InflaterManaged.cs
Labels: area-System.IO.Compression

#32441 Removing some double/single perf scenarios that conflict due to the generated xunit display name
  src/System.Runtime/tests/Performance/Perf.Double.cs
  src/System.Runtime/tests/Performance/Perf.Single.cs
Labels: area-System.Runtime

#32394 Fix assert failing when getting network interfaces
  src/Native/Unix/System.Native/pal_interfaceaddresses.c
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.NetworkInformation/tests/FunctionalTests/IPInterfacePropertiesTest_Linux.cs
  src/System.Net.NetworkInformation/tests/FunctionalTests/NetworkInterfaceBasicTest.cs
  src/System.Net.NetworkInformation/tests/FunctionalTests/NetworkInterfaceIPv4Statistics.cs
Labels: area-System.Net

#31461 Add Marshal.GetObjectForNativeVariant tests
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetNativeVariantForObjectTests.nonnetstandard.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetObjectForNativeVariantTests.cs
Labels: area-System.Runtime.InteropServices

#32374 fix port detection in containers
  src/System.IO.Ports/src/Resources/Strings.resx
  src/System.IO.Ports/src/System/IO/Ports/SerialPort.Linux.cs
  src/System.IO.Ports/src/System/IO/Ports/SerialStream.Unix.cs
  src/System.IO.Ports/src/System/IO/Ports/SerialStream.Windows.cs
Labels: area-System.IO

#32121 disable HTTP/2 multiplexing on osx 10.13
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlHandler.cs
Labels: area-System.Net.Http, os-mac-os-x

#32491 Don't trim IMarshal
  src/System.Runtime.InteropServices/src/ILLinkTrim.xml
Labels: area-System.Runtime.InteropServices

#32495 Change HttpConnectionPool.GetHttpConnectionAsync to do read-ahead outside of lock
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#31590 Add back the missing code that handle source=="vals[i]" code.
  src/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationReaderILGen.cs
  src/System.Private.Xml/tests/XmlSerializer/XmlSerializerTests.cs
  src/System.Runtime.Serialization.Xml/tests/SerializationTypes.cs
Labels: area-Serialization

#32513 Remove tests for two unsupported features
  src/System.Runtime.Loader/tests/CollectibleAssemblyLoadContextTest.Windows.cs
  src/System.Runtime.Loader/tests/CollectibleAssemblyLoadContextTest.cs
  src/System.Runtime.Loader/tests/System.Runtime.Loader.Test.AssemblyNotSupported/TestClassNotSupported.cs
Labels: area-System.Runtime

#32512 Update Uap runner to correctly return the corresponding error level
  dependencies.props
Labels: test-run-uwp-coreclr

#32500 Move work out of HttpConnectionPool.ReturnConnection lock
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#32518 Remove test for unsupported delegate marshalling
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetFunctionPointerForDelegateTests.cs
Labels: area-System.Runtime

#32297 rework connection pool cancellation to avoid deadlock
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#32487 Update SafeBuffer Initialize tests to reflect new exception type.
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/SafeBufferTests.cs
  src/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTests.cs
  src/System.Runtime.Serialization.Formatters/tests/System.Runtime.Serialization.Formatters.Tests.csproj
Labels: area-System.Runtime.InteropServices

#32543 socket handler does not depend on platfrom curl
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ClientCertificates.cs
Labels: area-System.Net.Http.SocketsHttpHandler, os-linux, test bug
