Repository dotnet/corefx, pull requests merged in 2018-11, with the labels that each got.

#33125 Don't bypass on IPAddress.Loopback when BypassOnLocal: false
  src/System.Net.WebProxy/src/System/Net/WebProxy.cs
  src/System.Net.WebProxy/tests/WebProxyTest.cs
Labels: area-System.Net

#33184 Add NaN/Infinity to Complex
  src/System.Runtime.Numerics/ref/System.Runtime.Numerics.cs
  src/System.Runtime.Numerics/src/System/Numerics/Complex.cs
  src/System.Runtime.Numerics/tests/ComplexTests.netcoreapp.cs
  src/System.Runtime.Numerics/tests/System.Runtime.Numerics.Tests.csproj
Labels: area-System.Numerics

#32403 Load execution assembly for System.ServiceModel.Primitives.dll instead of reference assembly in Sgen
  src/Microsoft.XmlSerializer.Generator/src/Sgen.cs
Labels: area-Serialization

#33196 Pass CancellationToken to Stream.Read/WriteAsync in ManagedWebSocket
  src/Common/src/System/Net/WebSockets/ManagedWebSocket.cs
Labels: area-System.Net

#33190 Catch exception thrown by HttpConnection constructor and close connection
  src/System.Net.HttpListener/src/System/Net/Managed/HttpEndPointListener.cs
Labels: area-System.Net

#32732 Update ZLib-Intel to v1.2.11
  src/Native/Windows/clrcompression/CMakeLists.txt
  src/Native/Windows/clrcompression/zlib-intel/adler32.c
  src/Native/Windows/clrcompression/zlib-intel/compress.c
  src/Native/Windows/clrcompression/zlib-intel/crc32.c
  src/Native/Windows/clrcompression/zlib-intel/crc_folding.c
  src/Native/Windows/clrcompression/zlib-intel/deflate.c
  src/Native/Windows/clrcompression/zlib-intel/deflate.h
  src/Native/Windows/clrcompression/zlib-intel/deflate_medium.c
  src/Native/Windows/clrcompression/zlib-intel/deflate_quick.c
  src/Native/Windows/clrcompression/zlib-intel/fill_window_sse.c
  src/Native/Windows/clrcompression/zlib-intel/gzguts.h
  src/Native/Windows/clrcompression/zlib-intel/inffast.c
  src/Native/Windows/clrcompression/zlib-intel/inffast.h
  src/Native/Windows/clrcompression/zlib-intel/inffixed.h
  src/Native/Windows/clrcompression/zlib-intel/inflate.c
  src/Native/Windows/clrcompression/zlib-intel/inflate.h
  src/Native/Windows/clrcompression/zlib-intel/inftrees.c
  src/Native/Windows/clrcompression/zlib-intel/inftrees.h
  src/Native/Windows/clrcompression/zlib-intel/match.c
  src/Native/Windows/clrcompression/zlib-intel/slide_sse.c
  src/Native/Windows/clrcompression/zlib-intel/trees.c
  src/Native/Windows/clrcompression/zlib-intel/x86.c
  src/Native/Windows/clrcompression/zlib-intel/x86.h
  src/Native/Windows/clrcompression/zlib-intel/zconf.h
  src/Native/Windows/clrcompression/zlib-intel/zlib.h
  src/Native/Windows/clrcompression/zlib-intel/zutil.c
  src/Native/Windows/clrcompression/zlib-intel/zutil.h
Labels: area-System.IO.Compression

#33223 Disable TryGetAddrInfo_HostName_TryGetNameInfo on Arm64.
  src/System.Net.NameResolution/tests/PalTests/NameResolutionPalTests.cs
Labels: area-System.Net, disabled-test

#32555 Reset reader awaitable when resetting pipe
  src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs
  src/System.IO.Pipelines/tests/PipeResetTests.cs
Labels: area-System.IO.Pipelines

#33221 Improve/fix SerialStream.Dispose
  src/Common/src/CoreLib/Interop/Unix/System.Native/Interop.Read.cs
  src/Common/src/CoreLib/Interop/Unix/System.Native/Interop.Write.cs
  src/Common/src/Interop/Unix/System.Native/Interop.Shutdown.cs
  src/Native/Unix/System.IO.Ports.Native/pal_serial.c
  src/Native/Unix/System.IO.Ports.Native/pal_serial.h
  src/System.IO.Ports/src/Interop/Unix/Interop.Serial.cs
  src/System.IO.Ports/src/Interop/Unix/Interop.Termios.cs
  src/System.IO.Ports/src/System.IO.Ports.csproj
  src/System.IO.Ports/src/System/IO/Ports/SafeSerialDeviceHandle.Unix.cs
  src/System.IO.Ports/src/System/IO/Ports/SerialStream.Unix.cs
  src/System.IO.Ports/src/System/IO/Ports/SerialStream.Windows.cs
  src/System.IO.Ports/src/System/IO/Ports/SerialStream.cs
Labels: area-System.IO

#33178 add aproved FreeBSD to OSPlatform
  src/System.Runtime.InteropServices.RuntimeInformation/ref/System.Runtime.InteropServices.RuntimeInformation.cs
  src/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/OSPlatform.cs
  src/System.Runtime.InteropServices.RuntimeInformation/tests/CheckPlatformTests.cs
  src/System.Runtime.InteropServices.RuntimeInformation/tests/CheckPlatformTests.netcoreapp.cs
  src/System.Runtime.InteropServices.RuntimeInformation/tests/Configurations.props
  src/System.Runtime.InteropServices.RuntimeInformation/tests/System.Runtime.InteropServices.RuntimeInformation.Tests.csproj
Labels: os-freebsd

#33247 Disable another NameResolutionPalTest on ARM64
  src/System.Net.NameResolution/tests/PalTests/NameResolutionPalTests.cs
Labels: area-System.Net

#33203 Initial check-in for the System.Text.Json library and solution
  Documentation/project-docs/issue-guide.md
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  pkg/descriptions.json
  src/System.Text.Json/Directory.Build.props
  src/System.Text.Json/System.Text.Json.sln
  src/System.Text.Json/ref/Configurations.props
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/ref/System.Text.Json.csproj
  src/System.Text.Json/roadmap/README.md
  src/System.Text.Json/roadmap/images/diagram-1.png
  src/System.Text.Json/roadmap/images/diagram-2.png
  src/System.Text.Json/src/Configurations.props
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/JsonTokenType.cs
  src/System.Text.Json/tests/Configurations.props
  src/System.Text.Json/tests/PlaceHolder.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#33024 Add TCPKeepAlive to SqlClient Sockets
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNITcpHandle.Unix.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNITcpHandle.Windows.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNITcpHandle.cs
Labels: area-System.Data.SqlClient

#33265 ignore msbuild warnings for now
  buildpipeline/DotNet-CoreFx-Trusted-FreeBSD.json
Labels: os-freebsd

#33198 [release/2.2] Pass CancellationToken to Stream in ManagedWebSocket
  src/Common/src/System/Net/WebSockets/ManagedWebSocket.cs
Labels: area-System.Net

#32369 Add declaredType parameter in some DataContract Serialization methods
  src/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/XmlObjectSerializerReadContextComplexJson.cs
  src/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/XmlObjectSerializerWriteContextComplexJson.cs
  src/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlObjectSerializerContext.cs
  src/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlObjectSerializerReadContext.cs
  src/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlObjectSerializerReadContextComplex.cs
  src/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlObjectSerializerWriteContext.cs
  src/System.Runtime.Serialization.Xml/tests/DataContractSerializer.cs
  src/System.Runtime.Serialization.Xml/tests/MyResolver.cs
Labels: area-Serialization

#32351 Fix string error handling for failed DNS lookup
  src/Common/src/CoreLib/Interop/Unix/Interop.Errors.cs
  src/Common/src/System/Net/Sockets/SocketErrorPal.Unix.cs
  src/Native/Unix/System.Native/pal_errno.c
  src/Native/Unix/System.Native/pal_errno.h
  src/System.Net.NameResolution/tests/PalTests/NameResolutionPalTests.cs
Labels: area-System.Net.Sockets, os-linux

#32810 Add test for receive flags and demonstrate zero-byte read issue
  src/System.Net.Sockets/tests/FunctionalTests/SendReceive.cs
Labels: area-System.Net.Sockets

#33326 add build-id to FreeBSD native code
  src/Native/Unix/CMakeLists.txt
Labels: os-freebsd

#32783 Correct OPENSSL_ROOT_DIR environment variable.
  Documentation/building/unix-instructions.md
Labels: area-Infrastructure

#33280 Fix Content-Type parsing of quoted charsets
  src/System.Net.Http/src/System/Net/Http/HttpContent.cs
  src/System.Net.Http/tests/FunctionalTests/HttpContentTest.cs
Labels: area-System.Net.Http

#32205 Port a DataContractSerialization bug fix from netfx
  src/System.Private.DataContractSerialization/src/System/Runtime/Serialization/ObjectReferenceStack.cs
  src/System.Runtime.Serialization.Xml/tests/DataContractSerializer.cs
  src/System.Runtime.Serialization.Xml/tests/SerializationTypes.cs
Labels: area-Serialization

#33341 Improve port parsing to reject non-digit characters
  src/System.Private.Uri/src/System/Uri.cs
  src/System.Private.Uri/tests/FunctionalTests/UriTests.cs
Labels: area-System.Net, bug

#33216 Add JsonUtf8Reader (for ReadOnlySpan) along with unit tests
  src/System.Runtime.Serialization.Formatters/ref/System.Runtime.Serialization.Formatters.csproj
  src/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTestData.cs
  src/System.Runtime.Serialization.Formatters/tests/Configurations.props
  src/System.Runtime.Serialization.Formatters/tests/EqualityExtensions.cs
  src/System.Runtime.Serialization.Formatters/tests/System.Runtime.Serialization.Formatters.Tests.csproj
  src/System.Text.Json/System.Text.Json.sln
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/ref/System.Text.Json.csproj
  src/System.Text.Json/roadmap/README.md
  src/System.Text.Json/roadmap/images/PlantUML-license.png
  src/System.Text.Json/roadmap/images/PlantUML-license.txt
  src/System.Text.Json/roadmap/images/diagram-1.txt
  src/System.Text.Json/roadmap/images/diagram-2.txt
  src/System.Text.Json/src/Configurations.props
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/ConsumeNumberResult.cs
  src/System.Text.Json/src/System/Text/Json/ConsumeTokenResult.cs
  src/System.Text.Json/src/System/Text/Json/JsonCommentHandling.cs
  src/System.Text.Json/src/System/Text/Json/JsonConstants.cs
  src/System.Text.Json/src/System/Text/Json/JsonReaderException.cs
  src/System.Text.Json/src/System/Text/Json/JsonReaderHelper.cs
  src/System.Text.Json/src/System/Text/Json/JsonReaderOptions.cs
  src/System.Text.Json/src/System/Text/Json/JsonReaderState.cs
  src/System.Text.Json/src/System/Text/Json/JsonTokenType.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/src/System/Text/Json/Utf8JsonReader.TryGet.cs
  src/System.Text.Json/src/System/Text/Json/Utf8JsonReader.cs
  src/System.Text.Json/tests/JsonReaderStateTests.cs
  src/System.Text.Json/tests/JsonTestHelper.cs
  src/System.Text.Json/tests/PlaceHolder.cs
  src/System.Text.Json/tests/Resources/Strings.resx
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
  src/System.Text.Json/tests/TestCaseType.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.TryGet.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json

#33356 Use DSA (base class) PKCS8 import for DSACng
  src/Common/src/System/Security/Cryptography/DSACng.ImportExport.cs
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/DSA/DSAKeyFileTests.cs
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/DSA/DSATestData.cs
Labels: area-System.Security

#33288 Add SequenceReader<T>
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  pkg/descriptions.json
  src/System.Memory/Directory.Build.props
  src/System.Memory/ref/System.Memory.cs
  src/System.Memory/src/System.Memory.csproj
  src/System.Memory/src/System/Buffers/ReadOnlySequence.Helpers.cs
  src/System.Memory/src/System/Buffers/SequenceReader.Search.cs
  src/System.Memory/src/System/Buffers/SequenceReader.cs
  src/System.Memory/src/System/Buffers/SequenceReaderExtensions.Binary.cs
  src/System.Memory/src/System/Runtime/InteropServices/SequenceMarshal.cs
  src/System.Memory/src/System/ThrowHelper.cs
  src/System.Memory/tests/SequenceReader/Advance.cs
  src/System.Memory/tests/SequenceReader/BasicTests.cs
  src/System.Memory/tests/SequenceReader/BinaryExtensions.cs
  src/System.Memory/tests/SequenceReader/IsNext.cs
  src/System.Memory/tests/SequenceReader/OwnedArray.cs
  src/System.Memory/tests/SequenceReader/ReadTo.cs
  src/System.Memory/tests/SequenceReader/Rewind.cs
  src/System.Memory/tests/SequenceReader/SequenceFactory.cs
  src/System.Memory/tests/SequenceReader/SequenceSegment.cs
  src/System.Memory/tests/SequenceReader/SkipDelimiter.cs
  src/System.Memory/tests/SequenceReader/SpanLiteralExtensions.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
Labels: area-System.Buffers

#33383 Fix a couple System.Memory ref mistakes.
  src/System.Memory/ref/System.Memory.cs
Labels: area-System.Memory

#33420 Fix CFDAta leak in native Apple crypto lib dotnet/corefx#33419
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509.c
Labels: area-System.Security

#33421 Add Stream.DisposeAsync overrides/tests to networking-related streams
  src/Common/src/System/IO/DelegatingStream.cs
  src/Common/tests/System/Net/VirtualNetwork/VirtualNetworkStream.cs
  src/System.Net.Http/src/System/Net/Http/MultipartContent.cs
  src/System.Net.Security/ref/System.Net.Security.cs
  src/System.Net.Security/src/System/Net/Security/AuthenticatedStream.cs
  src/System.Net.Security/src/System/Net/Security/NegotiateStream.cs
  src/System.Net.Security/src/System/Net/Security/SslStream.cs
  src/System.Net.Security/tests/FunctionalTests/SslStreamDisposeTest.cs
  src/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
  src/System.Net.Sockets/tests/FunctionalTests/NetworkStreamTest.netcoreapp.cs
Labels: area-System.Net

#33197 Port First Year of Era Test
  src/System.Globalization/tests/DateTimeFormatInfo/DateTimeFormatInfoTests.cs
Labels: Servicing-consider

#33429 Disable WebSocket SendReceiveTest on NETFX
  src/System.Net.WebSockets.Client/tests/SendReceiveTest.cs
Labels: area-System.Net

#33432 add __HostDistroRid calculation for OSX
  src/Native/build-native.sh
Labels: os-mac-os-x

#33426 Fix SPN used for Negotiate authentication
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.NtAuth.cs
Labels: area-System.Net.Http.SocketsHttpHandler, tenet-compatibility

#33445 Make Font serializable
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/System.Drawing.Common/src/System/Drawing/Font.NotSerializable.cs
  src/System.Drawing.Common/src/System/Drawing/Font.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Font.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Font.cs
  src/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTestData.cs
Labels: area-System.Drawing

#33455 Fixing a comment to check if CI fails
  src/System.IO.Compression/src/System/IO/Compression/DeflateZLib/DeflateStream.cs
Labels: area-System.IO.Compression

#33460 Fix a few socket handle close issues on Unix
  src/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.Unix.cs
Labels: area-System.Net.Sockets, os-linux

#33468 Raise the minimum RSA generation size to 512 for OpenSSL-based RSA.
  src/Common/src/System/Security/Cryptography/RSAOpenSsl.cs
  src/System.Security.Cryptography.Csp/src/System/Security/Cryptography/RSACryptoServiceProvider.Unix.cs
Labels: area-System.Security

#33473 Ensure ManagedWebSocket.CloseOutputAsync closes the underlying stream
  src/Common/src/System/Net/WebSockets/ManagedWebSocket.cs
  src/Common/tests/System/Net/WebSockets/WebSocketCreateTest.cs
  src/System.Net.WebSockets.Client/tests/ClientWebSocketTestBase.cs
  src/System.Net.WebSockets.Client/tests/CloseTest.cs
Labels: area-System.Net

#33505 Cache HttpClient in CertificateAssetDownloader
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CertificateAssetDownloader.cs
Labels: area-System.Security

#33515 Add documentation which explains how to update reference assembly sources
  Documentation/coding-guidelines/updating-ref-source.md
Labels: documentation

#33512 Merge relevant changes from the auto-generated System.Runtime ref
  src/System.Runtime/ref/System.Runtime.cs
Labels: area-System.Runtime

#33516 Update JSON road map doc - rename image files, remove unused files, and update links
  src/System.Text.Json/roadmap/README.md
  src/System.Text.Json/roadmap/images/PlantUML-license.png
  src/System.Text.Json/roadmap/images/PlantUML-license.txt
  src/System.Text.Json/roadmap/images/core-components.png
  src/System.Text.Json/roadmap/images/core-components.txt
  src/System.Text.Json/roadmap/images/higher-level-components.png
  src/System.Text.Json/roadmap/images/higher-level-components.txt
Labels: area-System.Text.Json, documentation

#33367 Optimize BitArray APIs using span and bitwise operations
  src/System.Collections/src/System/Collections/BitArray.cs
  src/System.Collections/tests/BitArray/BitArray_GetSetTests.cs
  src/System.Collections/tests/Performance/Perf.BitArray.cs
  src/System.Collections/tests/Performance/System.Collections.Performance.Tests.csproj
Labels: area-System.Collections

#33463 [release/2.1] Servicing SignedCms for Signed NuGet Packages
  external/harvestPackages/harvestPackages.props
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/Common/src/System/Security/Cryptography/Asn1V2.Serializer.cs
  src/System.Security.Cryptography.Pkcs/dir.props
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Oids.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSignature.RSA.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SignedCms.cs
  src/System.Security.Cryptography.Pkcs/tests/Oids.cs
  src/System.Security.Cryptography.Pkcs/tests/SignedCms/SignedCmsTests.cs
  src/System.Security.Cryptography.Pkcs/tests/SignedCms/SignedDocuments.cs
  src/packages.builds
Labels: Servicing-approved, area-System.Security

#33536 Undoing the ref removal on two packages that didn't need this change
  src/System.Data.SqlClient/pkg/System.Data.SqlClient.pkgproj
  src/System.Security.Cryptography.Cng/pkg/System.Security.Cryptography.Cng.pkgproj
  src/dir.targets
  src/packages.builds
Labels: Servicing-consider

#33531 Make well-known IPv4 addresses readonly
  src/System.Net.Primitives/src/System/Net/IPAddress.cs
  src/System.Net.Primitives/tests/FunctionalTests/IPAddressTest.cs
Labels: area-System.Net

#33537 change ALPN detection from Linux to !OSX on Unix
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.Unix.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.cs
Labels: area-System.Net.Security, os-freebsd

#33510 Removing Reference assets from packages which contain runtime-specific dependencies when targeting Desktop.
  src/CoreFx.Private.TestUtilities/pkg/CoreFx.Private.TestUtilities.pkgproj
  src/Directory.Build.targets
  src/System.IO.Pipelines/pkg/System.IO.Pipelines.pkgproj
  src/System.Net.Http.WinHttpHandler/pkg/System.Net.Http.WinHttpHandler.pkgproj
  src/System.Text.Encoding.CodePages/pkg/System.Text.Encoding.CodePages.pkgproj
  src/System.Threading.Tasks.Extensions/pkg/System.Threading.Tasks.Extensions.pkgproj
Labels: blocking-partner

#33378 Use a custom BitArray impl instead of a stack for memory efficiency
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/BitStack.cs
  src/System.Text.Json/src/System/Text/Json/JsonReaderState.cs
  src/System.Text.Json/src/System/Text/Json/Utf8JsonReader.cs
  src/System.Text.Json/tests/BitStackTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#33559 Add support for IDispatchConstantAttribute
  src/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/System.Runtime.InteropServices/src/System/Runtime/CompilerServices/Attributes.cs
  src/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.Tests.csproj
  src/System.Runtime.InteropServices/tests/System/Runtime/CompilerServices/IDispatchConstantAttributeTests.cs
  src/shims/ApiCompatBaseline.netcoreapp.netfx461.ignore.txt
Labels: area-System.Runtime.InteropServices

#33517 improve detection and portability of pal_networkstatistics.c
  src/Native/Unix/Common/pal_config.h.in
  src/Native/Unix/System.Native/pal_networkstatistics.c
  src/Native/Unix/configure.cmake
Labels: area-System.Net, os-linux

#33571 Disable more DNS tests failing sporadically in ARM64 CI
  src/System.Net.NameResolution/tests/FunctionalTests/GetHostByNameTest.cs
  src/System.Net.NameResolution/tests/FunctionalTests/GetHostEntryTest.cs
Labels: area-System.Net

#33462 Add ReadOnlySequence support to Utf8JsonReader with unit tests
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/JsonReaderHelper.cs
  src/System.Text.Json/src/System/Text/Json/JsonReaderState.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/src/System/Text/Json/Utf8JsonReader.MultiSegment.cs
  src/System.Text.Json/src/System/Text/Json/Utf8JsonReader.TryGet.cs
  src/System.Text.Json/src/System/Text/Json/Utf8JsonReader.cs
  src/System.Text.Json/tests/BufferFactory.cs
  src/System.Text.Json/tests/BufferSegment.cs
  src/System.Text.Json/tests/JsonTestHelper.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
  src/System.Text.Json/tests/Utf8JsonReaderTests.MultiSegment.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json

#33591 Remove unnecessary stackalloc from IPAddress.GetHashCode
  src/System.Net.Primitives/src/System/Net/IPAddress.cs
  src/System.Net.Primitives/tests/PalTests/Configurations.props
  src/System.Net.Primitives/tests/PalTests/Fakes/Serialization.cs
  src/System.Net.Primitives/tests/PalTests/System.Net.Primitives.Pal.Tests.csproj
Labels: area-System.Net

#33592 Use string.Create in PhysicalAddress.ToString
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/PhysicalAddress.cs
  src/System.Net.NetworkInformation/tests/FunctionalTests/PhysicalAddressTest.cs
Labels: area-System.Net

#33598 Remove StringBuilder marshaling from GetNameInfoW
  src/Common/src/Interop/Windows/Winsock/Interop.GetNameInfoW.cs
  src/System.Net.NameResolution/src/System/Net/NameResolutionPal.Windows.cs
Labels: area-System.Net

#33610 update parsing of /proc entries to work on older kernels.
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/StringParsingHelpers.Statistics.cs
Labels: area-System.Net

#33619 pull in more recent version of platform detection
  external/test-runtime/XUnit.Runtime.depproj
Labels: os-freebsd

#33607 Expose System.Xml.XmlDataDocument
  src/System.Data.Common/ref/System.Data.Common.cs
  src/System.Data.Common/src/System/Xml/XmlDataDocument.cs
  src/System.Data.Common/tests/DataProvider.cs
  src/System.Data.Common/tests/System.Data.Common.Tests.csproj
  src/System.Data.Common/tests/System/Data/ConstraintCollectionTest2.cs
  src/System.Data.Common/tests/System/Data/DataColumnCollectionTest2.cs
  src/System.Data.Common/tests/System/Data/DataRelationCollectionTest2.cs
  src/System.Data.Common/tests/System/Data/DataRowCollectionTest2.cs
  src/System.Data.Common/tests/System/Data/DataRowTest2.cs
  src/System.Data.Common/tests/System/Data/DataTableCollectionTest2.cs
  src/System.Data.Common/tests/System/Data/DataTableTest2.cs
  src/System.Data.Common/tests/System/Xml/XmlDataDocumentTests.cs
Labels: area-System.Xml

#33608 Enable strong crypto for TLS 1.3
  src/System.Net.Security/src/System/Net/Security/SslStreamPal.Windows.cs
Labels: area-System.Net.Security

#33656 Remove netstandard configs from more unit test projects
  src/System.Net.NameResolution/tests/UnitTests/Configurations.props
  src/System.Net.NameResolution/tests/UnitTests/System.Net.NameResolution.Unit.Tests.csproj
  src/System.Net.Primitives/tests/UnitTests/Configurations.props
  src/System.Net.Primitives/tests/UnitTests/Fakes/Serialization.cs
  src/System.Net.Primitives/tests/UnitTests/System.Net.Primitives.UnitTests.Tests.csproj
  src/System.Private.Uri/tests/UnitTests/Configurations.props
  src/System.Private.Uri/tests/UnitTests/System.Private.Uri.Unit.Tests.csproj
Labels: area-System.Net

#33641 Remove char[] allocation in CheckIriUnicodeRange
  src/System.Private.Uri/src/System/IriHelper.cs
Labels: area-System.Net

#33659 Add more multi-segment JsonReader tests and set complex json value flag correctly.
  src/System.Text.Json/src/System/Text/Json/Utf8JsonReader.MultiSegment.cs
  src/System.Text.Json/src/System/Text/Json/Utf8JsonReader.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.MultiSegment.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json

#33579 Optimize performance of SecurityIdentifier.ToString()
  src/System.Security.Principal.Windows/src/Configurations.props
  src/System.Security.Principal.Windows/src/PinvokeAnalyzerExceptionList.analyzerdata.netcoreapp2.1
  src/System.Security.Principal.Windows/src/System.Security.Principal.Windows.csproj
  src/System.Security.Principal.Windows/src/System/Security/Principal/SID.cs
  src/System.Security.Principal.Windows/tests/SecurityIdentifierTests.cs
  src/System.Security.Principal.Windows/tests/System.Security.Principal.Windows.Tests.csproj
Labels: area-System.Data.SqlClient

#33713 QueryDirectoryFile requires 64 bit alignment to work on ARM32.
  src/Common/src/Interop/Windows/NtDll/Interop.NtQueryDirectoryFile.cs
  src/Common/src/Interop/Windows/kernel32/Interop.GetFileInformationByHandleEx.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Win32.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.WinRT.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Windows.cs
Labels: Servicing-approved, area-System.IO

#33756 Update intellisense files for System.Memory and System.Text.Json based on 11-28-2018 doc build.
  eng/Packaging.props
Labels: documentation

#33754 QueryDirectoryFile requires 64 bit alignment to work on ARM32. (#33713)
  src/Common/src/Interop/Windows/NtDll/Interop.NtQueryDirectoryFile.cs
  src/Common/src/Interop/Windows/kernel32/Interop.GetFileInformationByHandleEx.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Win32.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.WinRT.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Windows.cs
Labels: Servicing-approved, area-System.IO

#33771 Call last On*Completed callback after blocks are returned
  src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs
  src/System.IO.Pipelines/tests/PipePoolTests.cs
Labels: area-System.IO.Pipelines
