Repository dotnet/corefx, pull requests merged in 2018-06, with the labels that each got.

#30024 Remove libcurl dependency from X509Certificates
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CertificateAssetDownloader.cs
  src/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
Labels: area-System.Security

#29893 disable anonymnous cipher suites to match Windows and OSX behavior
  src/Native/Unix/System.Security.Cryptography.Native/pal_ssl.cpp
Labels: area-System.Security

#29896 Configuration tests
  src/System.Configuration.ConfigurationManager/tests/System.Configuration.ConfigurationManager.Tests.csproj
  src/System.Configuration.ConfigurationManager/tests/System/Configuration/AppSettingsReaderTests.cs
  src/System.Configuration.ConfigurationManager/tests/System/Configuration/CallBackValidatorAttributeTests.cs
  src/System.Configuration.ConfigurationManager/tests/System/Configuration/SettingElementCollectionTests.cs
  src/System.Configuration.ConfigurationManager/tests/System/Configuration/SettingsDescriptionAttributeTests.cs
  src/System.Configuration.ConfigurationManager/tests/System/Configuration/SettingsGroupDescriptionAttributeTests.cs
  src/System.Configuration.ConfigurationManager/tests/System/Configuration/SettingsManageabilityAtrributeTests.cs
  src/System.Configuration.ConfigurationManager/tests/System/Configuration/SettingsPropertyIsReadOnlyExceptionTests.cs
  src/System.Configuration.ConfigurationManager/tests/System/Configuration/SettingsPropertyNotFoundExceptionTests.cs
  src/System.Configuration.ConfigurationManager/tests/System/Configuration/SettingsPropertyWrongTypeExceptionTests.cs
Labels: area-System.Configuration

#29965 Add EnabledDumpling=true to windows build-tests
  buildpipeline/windows.groovy
Labels: area-Infrastructure

#30071 Remove FEATURE_ETLEVENTS conditional compilation
  src/System.Diagnostics.Tracing/ref/System.Diagnostics.Tracing.cs
  src/System.Diagnostics.Tracing/ref/System.Diagnostics.Tracing.csproj
  src/System.Diagnostics.Tracing/src/System.Diagnostics.Tracing.csproj
  src/System.Diagnostics.Tracing/src/System/Diagnostics/Tracing/EventCounter.cs
  src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/Harness/Listeners.cs
  src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestEventCounter.cs
  src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestsWriteEventToListener.cs
  src/System.Diagnostics.Tracing/tests/System.Diagnostics.Tracing.Tests.csproj
Labels: area-System.Diagnostics.Tracing

#30075 Add All enum value to DecompressionMethods
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Decompression.cs
  src/System.Net.Primitives/ref/System.Net.Primitives.cs
  src/System.Net.Primitives/src/System/Net/DecompressionMethods.cs
Labels: area-System.Net

#30065 Add test for ExpectContinue with no content
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http

#30064 Investigate / skip failing UAP Http tests
  src/System.Net.Http/tests/FunctionalTests/DefaultCredentialsTest.cs
  src/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Asynchrony.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Authentication.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cancellation.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ClientCertificates.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.DefaultProxyCredentials.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.MaxConnectionsPerServer.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ServerCertificates.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpCookieProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/HttpProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/HttpRetryProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/PostScenarioTest.cs
  src/System.Net.Http/tests/FunctionalTests/ResponseStreamTest.cs
  src/System.Net.Http/tests/FunctionalTests/SchSendAuxRecordHttpTest.cs
Labels: area-System.Net.Http, os-windows-uwp

#30072 Remove some of usages of StringBuilderCache from System.Runtime.Extensions
  src/System.Runtime.Extensions/src/System/ApplicationId.cs
  src/System.Runtime.Extensions/src/System/Environment.Unix.cs
  src/System.Runtime.Extensions/tests/System/ApplicationIdTests.cs
Labels: Hackathon, area-System.Runtime.Extensions

#30070 Minor tweaks in NativeMemoryManager
  src/Common/tests/System/Buffers/NativeMemoryManager.cs
Labels: Hackathon, area-System.Buffers

#30089 Enable tons of System.Runtime tests for uap
  src/System.Runtime/tests/System.Runtime.Tests.csproj
Labels: area-System.Runtime

#30080 Implement ICollection<Cookie> on CookieCollection
  src/System.Net.Primitives/ref/System.Net.Primitives.cs
  src/System.Net.Primitives/src/System/Net/CookieCollection.cs
  src/System.Net.Primitives/tests/FunctionalTests/CookieCollectionTest.cs
  src/System.Net.Primitives/tests/FunctionalTests/CookieCollectionTest.netcoreapp.cs
  src/System.Net.Primitives/tests/FunctionalTests/System.Net.Primitives.Functional.Tests.csproj
Labels: Hackathon, area-System.Net

#30090 Attempt to fix crashes due to shared test certificates
  src/Common/tests/System/Net/Configuration.Certificates.cs
Labels: area-System.Net

#30100 Fix spacing in HttpConnectionPool.ToString()
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#30102 Fix Expect: 100-continue handling when no request content
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#30083 Implement #16619: Add FormattableString.CurrentCulture
  src/System.Runtime/ref/System.Runtime.cs
  src/System.Runtime/src/ApiCompatBaseline.uapaot.txt
  src/System.Runtime/tests/System.Runtime.Tests.csproj
  src/System.Runtime/tests/System/FormattableStringTests.cs
  src/System.Runtime/tests/System/FormattableStringTests.netcoreapp.cs
Labels: Hackathon, area-System.Runtime.Extensions

#30082 Improved code coverage for System.Net.Security
  src/System.Net.Security/tests/UnitTests/System/Security/Authentication/ExtendedProtection/ExtendedProtectionPolicyTest.cs
Labels: Hackathon, area-System.Net.Security

#30085 Increase test coverage of `BuffersExtensions`
  src/System.Memory/tests/BuffersExtensions/BuffersExtensionsTests.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
Labels: Hackathon, area-System.Memory

#30119 Remove obsolete build error suppression for uapaot in System.Runtime
  src/System.Runtime/src/ApiCompatBaseline.uapaot.txt
Labels: area-System.Runtime

#30046 System.Security.Cryptography.Pkcs behaviour fixes
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.Asn.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSignature.DSA.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSigner.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SignerInfoCollection.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/EdgeCasesTests.cs
  src/System.Security.Cryptography.Pkcs/tests/SignedCms/CmsSignerTests.cs
  src/System.Security.Cryptography.Pkcs/tests/SignedCms/SignedCmsTests.cs
Labels: area-System.Security

#28972 Fix ConnectionTimeoutTestWithThread test
  src/System.Data.SqlClient/tests/FunctionalTests/SqlConnectionTest.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/ConnectivityTests/ConnectivityTest.cs
Labels: area-System.Data.SqlClient

#30124 add test for #26732
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#30125 Cleanup Calendar Tests
  src/System.Globalization.Calendars/tests/CalendarHelpers.cs
Labels: area-System.Globalization

#30053 Remove System.Security.Cryptography.Xml from packages.builds in 2.0.0
  src/packages.builds
Labels: area-System.Security

#29970 Removing uapVNext assets from individual packages
  external/harvestPackages/harvestPackages.props
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/System.Data.SqlClient/pkg/System.Data.SqlClient.pkgproj
  src/System.Data.SqlClient/src/Configurations.props
  src/System.IO.Pipes.AccessControl/pkg/System.IO.Pipes.AccessControl.pkgproj
  src/System.Memory/pkg/System.Memory.pkgproj
  src/System.Reflection.DispatchProxy/pkg/System.Reflection.DispatchProxy.pkgproj
  src/System.Reflection.DispatchProxy/ref/Configurations.props
  src/System.Runtime.CompilerServices.Unsafe/pkg/System.Runtime.CompilerServices.Unsafe.pkgproj
  src/System.Threading.Tasks.Extensions/pkg/System.Threading.Tasks.Extensions.pkgproj
  src/packages.builds
Labels: area-Infrastructure

#30129 Disable user override for FirstDayOfWeek globalization tests
  src/System.Globalization/tests/DateTimeFormatInfo/DateTimeFormatInfoFirstDayOfWeek.cs
Labels: area-System.Globalization

#30062 Revert "Fix Uri.Host for IPv6 Link-local address (#29829)"
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlHandler.EasyRequest.cs
  src/System.Private.Uri/src/System/IPv6AddressHelper.cs
  src/System.Private.Uri/src/System/Uri.cs
  src/System.Private.Uri/tests/FunctionalTests/IdnDnsSafeHostTest.cs
  src/System.Private.Uri/tests/FunctionalTests/UriIpHostTest.cs
Labels: area-System.Net

#30107 Add DesignerTransaction tests and fix debug assertions
  src/System.ComponentModel.TypeConverter/src/System/ComponentModel/Design/DesignerTransaction.cs
  src/System.ComponentModel.TypeConverter/tests/Design/DesignerTransactionTests.cs
  src/System.ComponentModel.TypeConverter/tests/System.ComponentModel.TypeConverter.Tests.csproj
Labels: area-System.ComponentModel

#30036 use dual mode sockets in cases when address family is not set explicitly
  src/System.Net.Sockets/src/System/Net/Sockets/TCPClient.cs
  src/System.Net.Sockets/tests/FunctionalTests/TcpClientTest.cs
Labels: area-System.Net.Sockets

#30135 Override Read/WriteByte on BrotliStream
  src/System.IO.Compression.Brotli/src/System/IO/Compression/dec/BrotliStream.Decompress.cs
  src/System.IO.Compression.Brotli/src/System/IO/Compression/enc/BrotliStream.Compress.cs
  src/System.IO.Compression.Brotli/tests/BrotliEncoderTests.cs
Labels: area-System.IO.Compression

#30055 Add packages to packages.builds & mark non-stable for 2.1.1
  src/System.Net.WebSockets.WebSocketProtocol/dir.props
  src/packages.builds
Labels: area-Infrastructure

#29973 Skip certificates we can't read when populating machine store.
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/StorePal.cs
  src/System.Security.Cryptography.X509Certificates/tests/System.Security.Cryptography.X509Certificates.Tests.csproj
  src/System.Security.Cryptography.X509Certificates/tests/TestData.cs
  src/System.Security.Cryptography.X509Certificates/tests/X509StoreTests.cs
Labels: area-System.Security

#29935 Move S.T.M. Span<char> tests to StringTests.cs(part 2)
  src/Common/tests/Tests/System/StringTests.cs
  src/System.Memory/tests/ReadOnlySpan/Contains.cs
  src/System.Memory/tests/ReadOnlySpan/EndsWith.StringComparison.cs
  src/System.Memory/tests/ReadOnlySpan/EndsWith.char.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
Labels: area-System.Memory

#30128 Use _SC_NPROCESSORS_CONF instead of _SC_NPROCESSORS_ONLN in Unix_ProcessorCountTest
  src/System.Runtime.Extensions/tests/System/Environment.ProcessorCount.cs
Labels: area-System.Runtime.Extensions, os-freebsd, os-linux, os-netbsd, test bug

#30167 Disable CustomMethod_SentUppercasedIfKnown on UAP
  src/System.Net.Http/tests/FunctionalTests/HttpProtocolTests.cs
Labels: area-System.Net.Http

#30099 Fix blittable array instead of copying
  src/System.Drawing.Common/System.Drawing.Common.sln
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/System.Drawing.Common/src/System/Drawing/Drawing2D/GraphicsPath.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Drawing2D/GraphicsPathIterator.cs
  src/System.Drawing.Common/src/System/Drawing/Drawing2D/Matrix.cs
  src/System.Drawing.Common/src/System/Drawing/Gdiplus.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Internal/GpPathData.cs
  src/System.Drawing.Common/tests/DrawingTest.cs
  src/System.Drawing.Common/tests/GraphicsTests.cs
  src/System.Drawing.Common/tests/Graphics_DrawBezierTests.cs
  src/System.Drawing.Common/tests/Graphics_DrawLineTests.cs
  src/System.Drawing.Common/tests/Performance/Configurations.props
  src/System.Drawing.Common/tests/Performance/Perf_Graphics_DrawBeziers.cs
  src/System.Drawing.Common/tests/Performance/Perf_Graphics_Transforms.cs
  src/System.Drawing.Common/tests/Performance/System.Drawing.Common.Performance.Tests.csproj
  src/System.Drawing.Common/tests/System.Drawing.Common.Tests.csproj
Labels: area-System.Drawing

#29424 Consolidate common code in BufferedGraphics and re-enable some tests
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/System.Drawing.Common/src/System/Drawing/BufferedGraphics.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/BufferedGraphics.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/BufferedGraphics.cs
  src/System.Drawing.Common/src/System/Drawing/BufferedGraphicsContext.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/BufferedGraphicsContext.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/BufferedGraphicsContext.cs
  src/System.Drawing.Common/tests/BufferedGraphicsContextTests.cs
  src/System.Drawing.Common/tests/BufferedGraphicsTests.cs
Labels: area-System.Drawing

#28115 Adding a null value to ConcurrentDictionary using System.Collections.IDictionary interface causes exception
  src/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentDictionary.cs
  src/System.Collections.Concurrent/tests/ConcurrentDictionary/ConcurrentDictionaryTests.cs
Labels: area-System.Collections

#30012 AIX support for System.Native/PAL
  src/Native/Unix/Common/pal_config.h.in
  src/Native/Unix/System.Native/pal_errno.c
  src/Native/Unix/System.Native/pal_io.c
  src/Native/Unix/System.Native/pal_maphardwaretype.c
  src/Native/Unix/System.Native/pal_networking.c
  src/Native/Unix/System.Native/pal_random.c
  src/Native/Unix/configure.cmake
Labels: area-Meta

#30182 Enable Alpine ARM/ARM64 cross build
  cross/build-rootfs.sh
  cross/toolchain.cmake
  cross/tryrun.cmake
  src/Native/Unix/CMakeLists.txt
  src/Native/Unix/System.Net.Http.Native/CMakeLists.txt
  src/Native/Unix/System.Security.Cryptography.Native/CMakeLists.txt
Labels: area-Infrastructure

#30176 Move S.T.M. Span<char> tests to StringTests.cs(part 3)
  src/Common/tests/Tests/System/StringTests.cs
  src/System.Memory/tests/ReadOnlySpan/IndexOf.char.cs
  src/System.Memory/tests/ReadOnlySpan/IndexOfSequence.char.cs
  src/System.Memory/tests/ReadOnlySpan/LastIndexOf.char.cs
  src/System.Memory/tests/ReadOnlySpan/LastIndexOfSequence.char.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
Labels: area-System.Memory

#30200 Add back mutex to control PFX import for tests
  src/Common/tests/System/Net/Configuration.Certificates.cs
Labels: area-System.Net, test bug

#30196 Fix WinHttpHandler when using authenticating proxies
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpAuthHelper.cs
Labels: area-System.Net.Http

#30202 fix raw sockets on IPv6 and enable tests again
  src/Common/src/System/Net/RawSocketPermissions.cs
  src/Common/src/System/Net/SafeCloseSocket.Unix.cs
  src/System.Net.Sockets/tests/FunctionalTests/CreateSocketTests.cs
Labels: area-System.Net.Sockets, bug, os-linux

#29926 Allow EnvelopedCms to round-trip correctly cross platform when ContentInfo is not Pkcs7Data
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.Decrypt.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.Encrypt.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/Windows/PkcsPalWindows.Encrypt.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/DecryptTests.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/DecryptTestsUsingCertWithPrivateKey.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/EdgeCasesTests.cs
Labels: area-System.Security

#29721 Cut String Allocations for filtered watcher files in Unix Systems
  src/Common/src/Interop/OSX/Interop.EventStream.cs
  src/Common/src/System/IO/PathInternal.Unix.cs
  src/System.IO.FileSystem.Watcher/src/System.IO.FileSystem.Watcher.csproj
  src/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.Linux.cs
  src/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.OSX.cs
  src/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.cs
  src/System.IO.FileSystem/src/System.IO.FileSystem.csproj
  src/System.IO.FileSystem/src/System/IO/FileSystem.Exists.Unix.cs
  src/System.IO.FileSystem/src/System/IO/FileSystem.Unix.cs
Labels: area-System.IO

#30198 fix setting TTL on IPv6 socket on Unix
  src/Native/Unix/System.Native/pal_networking.c
  src/System.Net.Sockets/tests/FunctionalTests/SocketOptionNameTest.cs
  src/System.Net.Sockets/tests/FunctionalTests/TcpClientTest.cs
Labels: area-System.Net.Sockets, bug, os-linux

#30116 Decimal.GetHashCode tests
  src/System.Runtime/tests/System/DecimalTests.cs
Labels: Hackathon, area-System.Runtime

#30206 Improve code coverage for NegotiateStream class
  src/System.Net.Security/tests/FunctionalTests/NegotiateStreamInvalidOperationTest.cs
  src/System.Net.Security/tests/FunctionalTests/NegotiateStreamStreamToStreamTest.cs
  src/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
Labels: area-System.Net.Security, increase-code-coverage

#30269 Check for IsByRefLike in MakeNewDelegate
  src/System.Linq.Expressions/src/System/Linq/Expressions/Compiler/DelegateHelpers.Generated.cs
  src/System.Linq.Expressions/tests/DelegateType/DelegateCreationTests.cs
  src/System.Linq.Expressions/tests/DelegateType/GetDelegateTypeTests.cs
Labels: area-System.Linq.Expressions, bug

#30201 Convert pal_gssapi to C
  src/Native/Unix/CMakeLists.txt
  src/Native/Unix/Common/pal_utilities.h
  src/Native/Unix/System.Net.Security.Native/CMakeLists.txt
  src/Native/Unix/System.Net.Security.Native/pal_gssapi.c
  src/Native/Unix/System.Net.Security.Native/pal_gssapi.h
Labels: area-System.Net.Security, os-linux

#30178 Add tests for TimeZoneInfo to ensure offset is not outside of range
  src/System.Runtime/tests/TimeZoneInfoTests.cs
Labels: * NO MERGE *

#30309 Add HTTP/2.0 test server
  src/Common/tests/System/Net/Configuration.Http.cs
  src/System.Net.Http/tests/FunctionalTests/PostScenarioTest.cs
  src/System.Net.Requests/tests/HttpWebRequestTest.cs
Labels: area-System.Net.Http, test enhancement

#30312 fix dereferencing uninitialized byte array in case recv() fails
  src/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs
Labels: area-System.Net.Sockets, bug, os-linux

#29963 Add cross-platform support for keep-alive socket options (closes #25040)
  src/Native/Unix/Common/pal_config.h.in
  src/Native/Unix/System.Native/pal_networking.c
  src/Native/Unix/System.Native/pal_networking.h
  src/Native/Unix/configure.cmake
  src/System.Net.Sockets/ref/System.Net.Sockets.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketOptionName.cs
  src/System.Net.Sockets/tests/FunctionalTests/KeepAliveTest.netcoreapp.cs
  src/System.Net.Sockets/tests/FunctionalTests/System.Net.Sockets.Tests.csproj
Labels: area-System.Net.Sockets

#30293 Fix creating subdirectories under directories with trailing separators
  src/System.IO.FileSystem/src/System/IO/DirectoryInfo.cs
  src/System.IO.FileSystem/tests/DirectoryInfo/CreateSubdirectory.cs
Labels: area-System.IO

#28835 Remove Relative Segments with valueStringBuilder
  src/Common/src/CoreLib/System/IO/PathInternal.cs
Labels: area-System.IO

#30224 Add Utf8 Decoder fallback test
  src/System.Text.Encoding/tests/DecoderFallback/DecoderFallbackTests.cs
  src/System.Text.Encoding/tests/System.Text.Encoding.Tests.csproj
Labels: area-System.Text.Encoding

#28989 Clean dead code System.Private.Xml*
  src/System.Private.Xml.Linq/src/System.Private.Xml.Linq.csproj
  src/System.Private.Xml.Linq/src/System/Xml/XPath/XAttributeExtensions.cs
  src/System.Private.Xml/src/System.Private.Xml.csproj
  src/System.Private.Xml/src/System/Xml/Extensions/ExtensionMethods.cs
  src/System.Private.Xml/src/System/Xml/Resolvers/XmlSystemPathResolver.cs
  src/System.Private.Xml/src/System/Xml/Schema/XmlSchemaObjectTable.cs
  src/System.Private.Xml/src/System/Xml/Serialization/ReflectionXmlSerializationReader.cs
  src/System.Private.Xml/src/System/Xml/Serialization/Types.cs
  src/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationReader.cs
  src/System.Private.Xml/src/System/Xml/XPath/Internal/Query.cs
  src/System.Private.Xml/src/System/Xml/XPath/XPathNodeIterator.cs
  src/System.Private.Xml/src/System/Xml/XmlCharType.cs
  src/System.Private.Xml/src/System/Xml/Xsl/QIL/QilPatternVisitor.cs
  src/System.Private.Xml/src/System/Xml/Xsl/Xslt/QilGeneratorEnv.cs
  src/System.Private.Xml/src/System/Xml/Xsl/Xslt/XslAstAnalyzer.cs
  src/System.Private.Xml/src/System/Xml/Xsl/Xslt/XsltInput.cs
  src/System.Private.Xml/src/System/Xml/Xsl/XsltOld/Action.cs
  src/System.Private.Xml/src/System/Xml/Xsl/XsltOld/ActionFrame.cs
  src/System.Private.Xml/src/System/Xml/Xsl/XsltOld/DbgCompiler.cs
  src/System.Private.Xml/src/System/Xml/Xsl/XsltOld/Processor.cs
  src/System.Private.Xml/src/System/Xml/Xsl/XsltOld/XsltDebugger.cs
  src/System.Private.Xml/src/System/Xml/Xslt/XslTransform.cs
Labels: area-System.Xml

#30132 [Release/2.1] Use _SC_NPROCESSORS_CONF instead of _SC_NPROCESSORS_ONLN in Unix_ProcessorCountTest
  src/System.Runtime.Extensions/tests/System/Environment.ProcessorCount.cs
Labels: area-System.Runtime.Extensions

#30346 Duplicate the access token passed to WindowsIdentity.RunImpersonated
  src/System.Security.Principal.Windows/src/System/Security/Principal/WindowsIdentity.cs
  src/System.Security.Principal.Windows/tests/System.Security.Principal.Windows.Tests.csproj
  src/System.Security.Principal.Windows/tests/WindowsIdentityTests.cs
Labels: area-System.Security

#30077 Implementation of IReadOnlyDictionary on GroupCollection
  src/System.Text.RegularExpressions/System.Text.RegularExpressions.sln
  src/System.Text.RegularExpressions/ref/System.Text.RegularExpressions.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/GroupCollection.cs
  src/System.Text.RegularExpressions/tests/GroupCollectionReadOnlyDictionaryTests.cs
  src/System.Text.RegularExpressions/tests/System.Text.RegularExpressions.Tests.csproj
Labels: Hackathon, area-System.Text.RegularExpressions

#30344 Fix GH Issue 29609 Set correct client process ID
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStaticMethods.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/ConnectivityTests/ConnectivityTest.cs
Labels: area-System.Data.SqlClient

#30365 Remove test TestNotSupportedExceptionForTransactionScopeAsync
  src/System.Data.SqlClient/tests/FunctionalTests/AmbientTransactionFailureTest.cs
Labels: area-System.Data.SqlClient

#30076 Remove USE_ETW Compilation Constant from System.Diagnostics.Tracing.Tests
  src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/FuzzyTests.Etw.cs
  src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/FuzzyTests.cs
  src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/Harness/EtwListener.cs
  src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/Harness/Listeners.cs
  src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestEventCounter.Etw.cs
  src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestEventCounter.cs
  src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestShutdown.cs
  src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestsManifestNegative.cs
  src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestsUserErrors.Etw.cs
  src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestsUserErrors.cs
  src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestsWrite.Etw.cs
  src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestsWrite.cs
  src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestsWriteEvent.Etw.cs
  src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestsWriteEvent.cs
  src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestsWriteEventToListener.Etw.cs
  src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestsWriteEventToListener.cs
  src/System.Diagnostics.Tracing/tests/System.Diagnostics.Tracing.Tests.csproj
Labels: Hackathon, area-System.Diagnostics.Tracing

#30364 Refactor, clean up ZipFile assembly
  src/System.IO.Compression.ZipFile/src/System.IO.Compression.ZipFile.csproj
  src/System.IO.Compression.ZipFile/src/System/IO/Compression/ZipFile.Create.cs
  src/System.IO.Compression.ZipFile/src/System/IO/Compression/ZipFile.Extract.cs
  src/System.IO.Compression.ZipFile/src/System/IO/Compression/ZipFile.Utils.cs
  src/System.IO.Compression.ZipFile/src/System/IO/Compression/ZipFileExtensions.ZipArchive.Create.cs
  src/System.IO.Compression.ZipFile/src/System/IO/Compression/ZipFileExtensions.ZipArchive.Extract.cs
  src/System.IO.Compression.ZipFile/src/System/IO/Compression/ZipFileExtensions.ZipArchiveEntry.Extract.cs
  src/System.IO.Compression.ZipFile/src/System/IO/Compression/ZipFileExtensions.cs
  src/System.IO.Compression.ZipFile/tests/System.IO.Compression.ZipFile.Tests.csproj
  src/System.IO.Compression.ZipFile/tests/ZipArchiveEntry.ExtractToDirectory.cs
  src/System.IO.Compression.ZipFile/tests/ZipFile.Create.cs
  src/System.IO.Compression.ZipFile/tests/ZipFile.Extract.cs
  src/System.IO.Compression.ZipFile/tests/ZipFile.Extract.netcoreapp.cs
  src/System.IO.Compression.ZipFile/tests/ZipFile.ExtractToDirectoryFiltered.cs
  src/System.IO.Compression.ZipFile/tests/ZipFileConvenienceMethods.cs
  src/System.IO.Compression.ZipFile/tests/ZipFileExtensions.ZipArchive.Create.cs
  src/System.IO.Compression.ZipFile/tests/ZipFileExtensions.ZipArchive.Extract.cs
  src/System.IO.Compression.ZipFile/tests/ZipFileExtensions.ZipArchiveEntry.Extract.cs
  src/System.IO.Compression.ZipFile/tests/ZipFileReadOpenUpdateTests.cs
Labels: area-System.IO.Compression, enhancement

#30362 Upgrade zlib to 1.2.11
  src/Native/AnyOS/zlib/pal_zlib.c
  src/Native/AnyOS/zlib/pal_zlib.h
  src/Native/Unix/System.IO.Compression.Native/CMakeLists.txt
  src/Native/Windows/clrcompression/CMakeLists.txt
  src/Native/Windows/clrcompression/clrcompression.Uap.def
  src/Native/Windows/clrcompression/clrcompression.def
  src/Native/Windows/clrcompression/zlib/CMakeLists.txt
  src/Native/Windows/clrcompression/zlib/ChangeLog
  src/Native/Windows/clrcompression/zlib/Makefile.in
  src/Native/Windows/clrcompression/zlib/README
  src/Native/Windows/clrcompression/zlib/adler32.c
  src/Native/Windows/clrcompression/zlib/compress.c
  src/Native/Windows/clrcompression/zlib/configure
  src/Native/Windows/clrcompression/zlib/crc32.c
  src/Native/Windows/clrcompression/zlib/deflate.c
  src/Native/Windows/clrcompression/zlib/deflate.h
  src/Native/Windows/clrcompression/zlib/gzguts.h
  src/Native/Windows/clrcompression/zlib/gzlib.c
  src/Native/Windows/clrcompression/zlib/gzread.c
  src/Native/Windows/clrcompression/zlib/gzwrite.c
  src/Native/Windows/clrcompression/zlib/infback.c
  src/Native/Windows/clrcompression/zlib/inffast.c
  src/Native/Windows/clrcompression/zlib/inflate.c
  src/Native/Windows/clrcompression/zlib/inflate.h
  src/Native/Windows/clrcompression/zlib/inftrees.c
  src/Native/Windows/clrcompression/zlib/treebuild.xml
  src/Native/Windows/clrcompression/zlib/trees.c
  src/Native/Windows/clrcompression/zlib/uncompr.c
  src/Native/Windows/clrcompression/zlib/zconf.h
  src/Native/Windows/clrcompression/zlib/zconf.h.cmakein
  src/Native/Windows/clrcompression/zlib/zconf.h.in
  src/Native/Windows/clrcompression/zlib/zconf.h.included
  src/Native/Windows/clrcompression/zlib/zlib.3
  src/Native/Windows/clrcompression/zlib/zlib.3.pdf
  src/Native/Windows/clrcompression/zlib/zlib.h
  src/Native/Windows/clrcompression/zlib/zlib.map
  src/Native/Windows/clrcompression/zlib/zutil.c
  src/Native/Windows/clrcompression/zlib/zutil.h
  src/System.IO.Compression/src/Interop/Interop.zlib.Windows.cs
  src/System.IO.Compression/src/Interop/Interop.zlib.cs
  src/System.IO.Compression/src/PinvokeAnalyzerExceptionList.analyzerdata
  src/System.IO.Compression/src/System.IO.Compression.csproj
  src/System.IO.Compression/src/System/IO/Compression/DeflateZLib/ZLibNative.Windows.cs
  src/System.IO.Compression/src/System/IO/Compression/DeflateZLib/ZLibNative.ZStream.cs
Labels: area-System.IO.Compression, enhancement

#30310 Improve code coverage for NegoState class
  src/System.Net.Security/src/System/Net/Security/NegoState.cs
  src/System.Net.Security/tests/FunctionalTests/NegotiateStreamInvalidOperationTest.cs
  src/System.Net.Security/tests/FunctionalTests/NegotiateStreamStreamToStreamTest.cs
Labels: area-System.Net.Security, increase-code-coverage

#30377 Make WindowsIdentity.RunImpersonated closer in behavior to Netfx
  src/System.Security.Principal.Windows/src/System/Security/Principal/WindowsIdentity.cs
  src/System.Security.Principal.Windows/tests/WindowsIdentityTests.cs
Labels: area-System.Security

#30404 Add some debugging code to help diagnose an issue
  src/System.Threading.Overlapped/tests/HandleFactory.cs
  src/System.Threading.Overlapped/tests/ThreadPoolBoundHandle_Helpers.cs
Labels: area-System.Threading

#30402 Fix WebSocket server split header parsing with large payload
  src/Common/src/System/Net/WebSockets/ManagedWebSocket.cs
  src/Common/tests/System/Net/WebSockets/WebSocketCreateTest.cs
  src/System.Net.WebSockets.WebSocketProtocol/tests/System.Net.WebSockets.WebSocketProtocol.Tests.csproj
  src/System.Net.WebSockets.WebSocketProtocol/tests/WebSocketProtocolTests.cs
  src/System.Net.WebSockets/tests/System.Net.WebSockets.Tests.csproj
  src/System.Net.WebSockets/tests/WebSocketTests.netcoreapp.cs
Labels: area-System.Net

#28993 Reenable negative compression tests
  src/System.IO.Compression.ZipFile/tests/ZipFile.Create.cs
Labels: area-System.IO.Compression

#30405 SignedCms: Improve NetFx compat for SignedCms wrapping EnvelopedCms
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/EncapsulatedContentInfoAsn.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSigner.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SignedCms.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SignerInfo.cs
  src/System.Security.Cryptography.Pkcs/tests/SignedCms/SignedCmsTests.cs
  src/System.Security.Cryptography.Pkcs/tests/SignedCms/SignedDocuments.cs
Labels: area-System.Security

#30421 Ensure X509Chain can succeed when the end cert has an empty subject
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509chain.cpp
  src/System.Security.Cryptography.X509Certificates/tests/ChainTests.cs
  src/System.Security.Cryptography.X509Certificates/tests/TestData.cs
Labels: area-System.Security

#30425 Remove unnecessary else from WebSocket.cs
  src/System.Net.WebSockets/src/System/Net/WebSockets/WebSocket.cs
Labels: area-System.Net

#29713 Consolidate Graphics properties, fixing compat bugs
  src/System.Drawing.Common/src/System/Drawing/Drawing2D/GraphicsPath.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Font.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.cs
  src/System.Drawing.Common/src/System/Drawing/Image.Unix.cs
  src/System.Drawing.Common/tests/GraphicsTests.cs
Labels: area-System.Drawing

#30394 Add netfx472 serialization blobs and cleanup code to fix failing PRs
  src/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTestData.cs
  src/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTests.cs
  src/System.Runtime.Serialization.Formatters/tests/PlatformExtensions.cs
  src/System.Runtime.Serialization.Formatters/tests/System.Runtime.Serialization.Formatters.Tests.csproj
  src/System.Runtime.Serialization.Formatters/tests/TargetFrameworkMoniker.cs
  src/System.Runtime.Serialization.Formatters/tests/TypeSerializableValue.cs
Labels: area-System.Runtime

#30439 Cleanup BinaryFormatterHelpers usage
  src/Microsoft.VisualBasic/tests/Microsoft.VisualBasic.Tests.csproj
  src/Microsoft.Win32.Primitives/tests/Microsoft.Win32.Primitives.Tests.csproj
  src/Microsoft.Win32.Primitives/tests/Win32ExceptionTests.cs
  src/System.CodeDom/tests/CodeGenerationTests.cs
  src/System.CodeDom/tests/System.CodeDom.Tests.csproj
  src/System.Collections.Concurrent/System.Collections.Concurrent.sln
  src/System.Collections.Concurrent/tests/System.Collections.Concurrent.Tests.csproj
  src/System.Collections.NonGeneric/tests/System.Collections.NonGeneric.Tests.csproj
  src/System.Collections.Specialized/tests/System.Collections.Specialized.Tests.csproj
  src/System.Data.Common/tests/System.Data.Common.Tests.csproj
  src/System.IO.FileSystem.Watcher/tests/InternalBufferOverflowException.cs
  src/System.IO.FileSystem.Watcher/tests/System.IO.FileSystem.Watcher.Tests.csproj
  src/System.IO.FileSystem/tests/System.IO.FileSystem.Tests.csproj
  src/System.Net.Primitives/tests/FunctionalTests/SerializationTest.cs
  src/System.Net.Primitives/tests/FunctionalTests/System.Net.Primitives.Functional.Tests.csproj
  src/System.Net.WebHeaderCollection/tests/System.Net.WebHeaderCollection.Tests.csproj
  src/System.Net.WebHeaderCollection/tests/WebHeaderCollectionTest.cs
  src/System.Resources.ResourceManager/tests/MissingManifestResourceExceptionTests.cs
  src/System.Resources.ResourceManager/tests/MissingSatelliteAssemblyException.cs
  src/System.Resources.ResourceManager/tests/System.Resources.ResourceManager.Tests.csproj
  src/System.Runtime.Extensions/tests/System.Runtime.Extensions.Tests.csproj
  src/System.Runtime.Extensions/tests/System/OperatingSystemTests.cs
  src/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.Tests.csproj
  src/System.Runtime/tests/System.Runtime.Tests.csproj
  src/System.Security.Claims/tests/ClaimsIdentityTests.cs
  src/System.Security.Claims/tests/ClaimsPrincipalTests.cs
  src/System.Security.Claims/tests/System.Security.Claims.Tests.csproj
  src/System.Security.Cryptography.X509Certificates/tests/System.Security.Cryptography.X509Certificates.Tests.csproj
  src/System.Security.Principal.Windows/tests/System.Security.Principal.Windows.Tests.csproj
  src/System.Text.Encoding.CodePages/tests/EncodingCodePages.cs
  src/System.Text.Encoding.CodePages/tests/System.Text.Encoding.CodePages.Tests.csproj
  src/System.ValueTuple/tests/System.ValueTuple.Tests.csproj
  src/System.ValueTuple/tests/ValueTupleTests.cs
Labels: area-Meta

#30451 Exclude tests that require gdiplus to not produce errors
  src/Common/tests/Performance/BenchmarkFilter.cs
  src/System.Drawing.Common/tests/Performance/CustomAssemblyAttributes.cs
  src/System.Drawing.Common/tests/Performance/Perf_Graphics_DrawBeziers.cs
  src/System.Drawing.Common/tests/Performance/Perf_Graphics_Transforms.cs
  src/System.Drawing.Common/tests/Performance/System.Drawing.Common.Performance.Tests.csproj
Labels: area-System.Drawing

#30485 Sockets on Windows: reduce array allocations during Select, Poll, Receive, Send
  src/Common/src/Interop/Windows/Winsock/Interop.WSARecv.cs
  src/Common/src/Interop/Windows/Winsock/Interop.WSASend.cs
  src/Common/src/Interop/Windows/Winsock/Interop.select.cs
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Windows.cs
Labels: area-System.Net.Sockets

#30442 Add support for concatenated GZip streams.
  src/System.IO.Compression/src/System/IO/Compression/DeflateZLib/DeflateStream.cs
  src/System.IO.Compression/src/System/IO/Compression/DeflateZLib/Inflater.cs
  src/System.IO.Compression/src/System/IO/Compression/DeflateZLib/ZLibNative.cs
  src/System.IO.Compression/tests/CompressionStreamUnitTests.Gzip.cs
Labels: area-System.IO.Compression, enhancement

#30441 Mark packages stable for 1.1.9
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
Labels: area-Infrastructure

#30491 Expose and Add tests for StringBuilder overloads of TextWriter
  src/System.IO/tests/TextWriter/TextWriterTests.netcoreapp.cs
  src/System.Runtime.Extensions/ref/System.Runtime.Extensions.cs
  src/System.Runtime.Extensions/src/ApiCompatBaseline.uapaot.txt
  src/System.Runtime/src/ApiCompatBaseline.uapaot.txt
Labels: area-System.Runtime

#30478 Fix SocketsHttpHandler for Windows auth proxy CONNECT tunneling
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.NtAuth.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionKind.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Proxy.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ServerCertificates.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/LoopbackGetRequestHttpProxy.cs
  src/System.Net.Http/tests/FunctionalTests/LoopbackProxyServer.cs
  src/System.Net.Http/tests/FunctionalTests/PlatformHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Labels: area-System.Net.Http.SocketsHttpHandler

#30511 Remove unused method from System.Text.Encoding.CodePages
  src/System.Text.Encoding.CodePages/src/System/Text/DecoderFallbackBufferHelper.cs
Labels: area-System.Text.Encoding

#30386 Expose and add unit tests for ISOWeek
  src/System.Globalization.Calendars/tests/Configurations.props
  src/System.Globalization.Calendars/tests/ISOWeek/ISOWeekTests.netcoreapp.cs
  src/System.Globalization.Calendars/tests/System.Globalization.Calendars.Tests.csproj
  src/System.Runtime/ref/System.Runtime.cs
  src/System.Runtime/src/ApiCompatBaseline.uapaot.txt
Labels: Hackathon, area-System.Globalization

#30499 Make the Linux TLS hostname comparison be case-insensitive
  src/Native/Unix/System.Security.Cryptography.Native/openssl.c
  src/System.Security.Cryptography.X509Certificates/tests/HostnameMatchTests.Unix.cs
  src/System.Security.Cryptography.X509Certificates/tests/System.Security.Cryptography.X509Certificates.Tests.csproj
Labels: area-System.Security

#30000 Adding support for synchronous Ping
  src/System.Net.Ping/src/System/Net/NetworkInformation/Ping.Unix.cs
  src/System.Net.Ping/src/System/Net/NetworkInformation/Ping.Windows.Uap.cs
  src/System.Net.Ping/src/System/Net/NetworkInformation/Ping.Windows.cs
  src/System.Net.Ping/src/System/Net/NetworkInformation/Ping.cs
  src/System.Net.Ping/tests/FunctionalTests/PingTest.cs
  src/System.Net.Ping/tests/FunctionalTests/TestSettings.cs
  src/System.Net.Ping/tests/FunctionalTests/UnixPingUtilityTests.cs
Labels: area-System.Net

#30508 Remove some StringBuilder-related allocations from System.Net.Http
  src/System.Net.Http/src/System/Net/Http/Headers/HeaderUtilities.cs
  src/System.Net.Http/src/System/Net/Http/Headers/RangeHeaderValue.cs
  src/System.Net.Http/src/System/Net/Http/HttpRequestMessage.cs
  src/System.Net.Http/src/System/Net/Http/HttpResponseMessage.cs
Labels: area-System.Net.Http

#30509 Remove StringBuilder in System.IO.Pipes marshaling
  src/Common/src/Interop/Windows/kernel32/Interop.GetNamedPipeHandleState.cs
  src/System.IO.Pipes/src/System/IO/Pipes/NamedPipeServerStream.Windows.cs
Labels: area-System.IO

#30510 Remove unnecessary DllImports from System.Drawing.Common
  src/System.Drawing.Common/src/misc/DbgUtil.cs
Labels: area-System.Drawing

#30512 Remove a few boxing allocations from SecurityIdentifier.ToString
  src/System.Security.Principal.Windows/src/System/Security/Principal/SID.cs
Labels: area-System.Security

#30514 Remove string allocation from Uri.PathDifference
  src/System.Private.Uri/src/System/Uri.cs
Labels: area-System.Net

#30521 Remove some allocations from SocketAddress.ToString
  src/Common/src/System/Net/SocketAddress.cs
  src/System.Net.Primitives/tests/FunctionalTests/SocketAddressTest.cs
Labels: area-System.Net.Sockets

#30474 Remove StringBuilderCache usage from System.Text.RegularExpressions
  src/Common/src/CoreLib/System/Text/ValueStringBuilder.cs
  src/System.Text.RegularExpressions/src/System.Text.RegularExpressions.csproj
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Match.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Replace.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexBoyerMoore.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParser.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexReplacement.cs
  src/System.Text.RegularExpressions/src/System/Text/ValueStringBuilder.Reverse.cs
Labels: area-System.Text.RegularExpressions

#30529 Remove more number ToStrings from System.Net.Http headers
  src/System.Net.Http/src/System/Net/Http/Headers/CacheControlHeaderValue.cs
  src/System.Net.Http/src/System/Net/Http/Headers/ContentRangeHeaderValue.cs
Labels: area-System.Net.Http

#30532 Clarify output size handling
  src/Native/Unix/Common/pal_utilities.h
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_symmetric.c
Labels: area-System.Security

#30530 Remove string allocation from IPAddress.ToString/TryFormat
  src/System.Net.Primitives/src/System/Net/IPAddressParser.cs
Labels: area-System.Net

#30528 Use string.Create instead of StringBuilder in BitVector32.ToString
  src/System.Collections.Specialized/src/System/Collections/Specialized/BitVector32.cs
Labels: area-System.Collections

#30431 Convert System.Native to C
  src/Native/Unix/Common/pal_utilities.h
  src/Native/Unix/System.Native/CMakeLists.txt
  src/Native/Unix/System.Native/pal_console.c
  src/Native/Unix/System.Native/pal_console.h
  src/Native/Unix/System.Native/pal_mount.c
  src/Native/Unix/System.Native/pal_mount.h
  src/Native/Unix/System.Native/pal_networkchange.c
  src/Native/Unix/System.Native/pal_networkchange.h
  src/Native/Unix/System.Native/pal_process.c
  src/Native/Unix/System.Native/pal_process.h
  src/Native/Unix/System.Native/pal_runtimeinformation.c
  src/Native/Unix/System.Native/pal_runtimeinformation.h
  src/Native/Unix/System.Native/pal_string.c
  src/Native/Unix/System.Native/pal_uid.c
  src/Native/Unix/System.Native/pal_uid.h
Labels: area-Meta

#30480 Update Tizen CI docker image (tizen-rootfs-5.0m1)
  cross/arm32_ci_script.sh
Labels: area-Infrastructure

#30304 Copy CoreLib (and respective PDBs) to IL and NI folders
  external/runtime/runtime.depproj
Labels: area-Infrastructure

#30554 Fix CacheControlHeaderValue's rendering of negative values
  src/System.Net.Http/src/System/Net/Http/Headers/CacheControlHeaderValue.cs
  src/System.Net.Http/tests/UnitTests/Headers/CacheControlHeaderValueTest.cs
Labels: area-System.Net.Http

#30374 Tests for #30263 fix
  src/System.Runtime.Extensions/tests/System/IO/Path.GetRelativePath.cs
Labels: area-System.IO

#30564 fix rlimit build issue on FreeBSD
  src/Native/Unix/System.Native/pal_process.c
Labels: os-freebsd

#30515 Add concurrent access detection tests to Dictionary<TKey, TValue>
  src/System.Collections/tests/Generic/Dictionary/Dictionary.Generic.Tests.ConcurrentAccessDetection.netcoreapp.cs
  src/System.Collections/tests/System.Collections.Tests.csproj
Labels: area-System.Collections

#30495 C++ cleanups and native code formatting
  src/Native/AnyOS/brotli/include/brotli/port.h
  src/Native/Unix/CMakeLists.txt
  src/Native/Unix/Common/pal_compiler.h
  src/Native/Unix/Common/pal_safecrt.h
  src/Native/Unix/Common/pal_utilities.h
  src/Native/Unix/Common/safemath/safemath.h
  src/Native/Unix/System.IO.Compression.Native/CMakeLists.txt
  src/Native/Unix/System.Native/CMakeLists.txt
  src/Native/Unix/System.Native/pal_console.h
  src/Native/Unix/System.Native/pal_datetime.h
  src/Native/Unix/System.Native/pal_errno.h
  src/Native/Unix/System.Native/pal_interfaceaddresses.c
  src/Native/Unix/System.Native/pal_interfaceaddresses.h
  src/Native/Unix/System.Native/pal_io.c
  src/Native/Unix/System.Native/pal_io.h
  src/Native/Unix/System.Native/pal_maphardwaretype.h
  src/Native/Unix/System.Native/pal_memory.h
  src/Native/Unix/System.Native/pal_mount.h
  src/Native/Unix/System.Native/pal_networkchange.h
  src/Native/Unix/System.Native/pal_networking.c
  src/Native/Unix/System.Native/pal_networking.h
  src/Native/Unix/System.Native/pal_networkstatistics.c
  src/Native/Unix/System.Native/pal_networkstatistics.h
  src/Native/Unix/System.Native/pal_process.c
  src/Native/Unix/System.Native/pal_process.h
  src/Native/Unix/System.Native/pal_random.h
  src/Native/Unix/System.Native/pal_runtimeextensions.h
  src/Native/Unix/System.Native/pal_runtimeinformation.h
  src/Native/Unix/System.Native/pal_signal.c
  src/Native/Unix/System.Native/pal_signal.h
  src/Native/Unix/System.Native/pal_string.h
  src/Native/Unix/System.Native/pal_sysctl.h
  src/Native/Unix/System.Native/pal_tcpstate.h
  src/Native/Unix/System.Native/pal_time.h
  src/Native/Unix/System.Native/pal_uid.h
  src/Native/Unix/System.Net.Http.Native/CMakeLists.txt
  src/Native/Unix/System.Net.Http.Native/pal_curlinit.c
  src/Native/Unix/System.Net.Http.Native/pal_easy.c
  src/Native/Unix/System.Net.Http.Native/pal_easy.h
  src/Native/Unix/System.Net.Http.Native/pal_multi.c
  src/Native/Unix/System.Net.Http.Native/pal_multi.h
  src/Native/Unix/System.Net.Http.Native/pal_versioninfo.h
  src/Native/Unix/System.Net.Security.Native/CMakeLists.txt
  src/Native/Unix/System.Net.Security.Native/pal_gssapi.c
  src/Native/Unix/System.Net.Security.Native/pal_gssapi.h
  src/Native/Unix/System.Security.Cryptography.Native.Apple/CMakeLists.txt
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_random.h
  src/Native/Unix/System.Security.Cryptography.Native/CMakeLists.txt
  src/Native/Unix/System.Security.Cryptography.Native/pal_asn1.h
  src/Native/Unix/System.Security.Cryptography.Native/pal_asn1_print.c
  src/Native/Unix/System.Security.Cryptography.Native/pal_ssl.h
  src/Native/Unix/configure.cmake
  src/Native/Unix/gen-buildsys-clang.sh
  src/Native/Windows/CMakeLists.txt
Labels: area-Meta

#30550 Add System.Data.Common.DataTableMapping unit tests.
  src/System.Data.Common/tests/System.Data.Common.Tests.csproj
  src/System.Data.Common/tests/System/Data/Common/DataTableMappingTest.cs
  src/System.Data.Common/tests/System/Data/ReadOnlyExceptionTest.cs
Labels: area-System.Data

#30411 Port over non-redundant Span tests from corefxlab #28281
  src/System.Memory/tests/Span/AsSpan.cs
  src/System.Memory/tests/Span/Overflow.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
Labels: area-System.Memory

#29673 Consolidate Font code and fix Unix compat bugs
  src/System.Drawing.Common/src/System/Drawing/Font.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Font.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Font.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.cs
  src/System.Drawing.Common/tests/FontTests.cs
Labels: area-System.Drawing

#30488 Move new SignedCms/EnvelopedCms API to netcoreapp ref
  src/System.Security.Cryptography.Pkcs/ref/Configurations.props
  src/System.Security.Cryptography.Pkcs/ref/System.Security.Cryptography.Pkcs.cs
  src/System.Security.Cryptography.Pkcs/ref/System.Security.Cryptography.Pkcs.csproj
  src/System.Security.Cryptography.Pkcs/ref/System.Security.Cryptography.Pkcs.netcoreapp.cs
  src/System.Security.Cryptography.Pkcs/src/MatchingRefApiCompatBaseline.netstandard.txt
Labels: area-System.Security

#30565 Enable testing against NetFX for S.S.C.X509Certificates.Tests
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/X509Store.cs
  src/System.Security.Cryptography.X509Certificates/tests/Cert.cs
  src/System.Security.Cryptography.X509Certificates/tests/CertTests.cs
  src/System.Security.Cryptography.X509Certificates/tests/CollectionImportTests.cs
  src/System.Security.Cryptography.X509Certificates/tests/CollectionTests.cs
  src/System.Security.Cryptography.X509Certificates/tests/Configurations.props
  src/System.Security.Cryptography.X509Certificates/tests/CtorTests.cs
  src/System.Security.Cryptography.X509Certificates/tests/ImportTests.cs
  src/System.Security.Cryptography.X509Certificates/tests/LoadFromFileTests.cs
  src/System.Security.Cryptography.X509Certificates/tests/PfxTests.cs
  src/System.Security.Cryptography.X509Certificates/tests/PropsTests.cs
  src/System.Security.Cryptography.X509Certificates/tests/PublicKeyTests.cs
  src/System.Security.Cryptography.X509Certificates/tests/System.Security.Cryptography.X509Certificates.Tests.csproj
  src/System.Security.Cryptography.X509Certificates/tests/X509StoreTests.cs
Labels: area-System.Security

#30301 Move S.T.M. Span<char> tests to StringTests.cs(part 4)
  src/Common/tests/Tests/System/StringTests.cs
  src/System.Memory/tests/ReadOnlySpan/IsWhiteSpace.cs
  src/System.Memory/tests/ReadOnlySpan/SequenceCompareTo.char.cs
  src/System.Memory/tests/ReadOnlySpan/SequenceEqual.char.cs
  src/System.Memory/tests/ReadOnlySpan/StartsWith.StringComparison.cs
  src/System.Memory/tests/ReadOnlySpan/StartsWith.char.cs
  src/System.Memory/tests/ReadOnlySpan/ToLower.cs
  src/System.Memory/tests/ReadOnlySpan/ToUpper.cs
  src/System.Memory/tests/ReadOnlySpan/TrimAnyCharacter.cs
  src/System.Memory/tests/ReadOnlySpan/TrimManyCharacters.cs
  src/System.Memory/tests/ReadOnlySpan/TrimWhiteSpace.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
Labels: area-System.Memory

#30291 Decimal.Remainder tests
  src/System.Runtime/tests/System/DecimalTests.cs
Labels: area-System.Runtime

#30494 Use public implementation MarshalSupport
  src/Common/src/Interop/Windows/Interop.Libraries.cs
  src/Common/src/Interop/Windows/mincore/Interop.RoGetActivationFactory.cs
  src/System.Runtime.WindowsRuntime/src/PinvokeAnalyzerExceptionList.analyzerdata
  src/System.Runtime.WindowsRuntime/src/System.Runtime.WindowsRuntime.csproj
  src/System.Runtime.WindowsRuntime/src/System/Runtime/InteropServices/WindowsRuntime/MarshalingHelpers.cs
Labels: area-System.Runtime.InteropServices

#30324 add option to handle Ping TTL for raw socket and system utility
  src/Common/src/System/Net/NetworkInformation/UnixCommandLinePing.cs
  src/System.Net.Ping/src/System.Net.Ping.csproj
  src/System.Net.Ping/src/System/Net/NetworkInformation/Ping.Unix.cs
  src/System.Net.Ping/tests/FunctionalTests/PingTest.cs
  src/System.Net.Ping/tests/FunctionalTests/TestSettings.cs
Labels: area-System.Net, bug, os-linux

#30609 Don't move System.Reflection.TypeExtensions during harvesting
  external/harvestPackages/harvestPackages.depproj
  external/harvestPackages/harvestPackages.props
  src/System.Reflection.TypeExtensions/pkg/System.Reflection.TypeExtensions.pkgproj
  src/packages.builds
Labels: area-System.Reflection

#30407 [release/2.1] Fix WebSocket server split header parsing with large payload (#30402)
  src/Common/src/System/Net/WebSockets/ManagedWebSocket.cs
  src/Common/tests/System/Net/WebSockets/WebSocketCreateTest.cs
  src/System.Net.WebSockets.WebSocketProtocol/tests/System.Net.WebSockets.WebSocketProtocol.Tests.csproj
  src/System.Net.WebSockets.WebSocketProtocol/tests/WebSocketProtocolTests.cs
  src/System.Net.WebSockets/tests/System.Net.WebSockets.Tests.csproj
  src/System.Net.WebSockets/tests/WebSocketTests.netcoreapp.cs
Labels: Servicing-Consider-2.1.next, area-System.Net

#30459 [release/2.1] mach_absolute_time as the primary clock source on macOS
  src/Native/Unix/System.Native/pal_time.cpp
Labels: Servicing-Consider-2.1.next, area-System.Runtime

#30370 [release/2.1] Ensure SocketsHttpHandler sends known verbs uppercased (#30149)
  src/System.Net.Http/src/System/Net/Http/HttpMethod.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/tests/FunctionalTests/HttpProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: Servicing-Consider-2.1.next, area-System.Net.Http.SocketsHttpHandler

#30066 [release/2.1] Fix BrotliStream decoding buffer handling (#30058)
  src/System.IO.Compression.Brotli/src/System/IO/Compression/dec/BrotliDecoder.cs
  src/System.IO.Compression.Brotli/src/System/IO/Compression/dec/BrotliStream.Decompress.cs
  src/System.IO.Compression.Brotli/tests/BrotliEncoderTests.cs
Labels: Servicing-Consider-2.1.next, area-System.IO.Compression

#30342 Azure Active Directory Authentication using Access Token
  src/System.Data.SqlClient/ref/System.Data.SqlClient.cs
  src/System.Data.SqlClient/src/Resources/Strings.resx
  src/System.Data.SqlClient/src/System/Data/Common/AdapterUtil.SqlClient.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlConnection.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlConnectionFactory.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlConnectionPoolKey.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlInternalConnectionTds.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlUtil.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsEnums.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserHelperClasses.cs
  src/System.Data.SqlClient/tests/FunctionalTests/AADAccessTokenTest.cs
  src/System.Data.SqlClient/tests/FunctionalTests/System.Data.SqlClient.Tests.csproj
  src/System.Data.SqlClient/tests/ManualTests/DataCommon/DataTestUtility.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/ConnectivityTests/AADAccessTokenTest.cs
  src/System.Data.SqlClient/tests/ManualTests/System.Data.SqlClient.ManualTesting.Tests.csproj
Labels: area-System.Data.SqlClient

#30033 [release/2.1] Remove libcurl dependency from X509Certificates (#30024)
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CertificateAssetDownloader.cs
  src/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
Labels: * NO MERGE *, Servicing-Consider-2.1.next, area-System.Security

#30155 [release/2.1] Skip certificates we can't read when populating machine store. (#29973)
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/StorePal.cs
  src/System.Security.Cryptography.X509Certificates/tests/System.Security.Cryptography.X509Certificates.Tests.csproj
  src/System.Security.Cryptography.X509Certificates/tests/TestData.cs
  src/System.Security.Cryptography.X509Certificates/tests/X509StoreTests.cs
Labels: * NO MERGE *, Servicing-Consider-2.1.next, area-System.Security

#30367 Fix creating subdirectories under directories with trailing separator…
  src/System.IO.FileSystem/src/System/IO/DirectoryInfo.cs
  src/System.IO.FileSystem/tests/DirectoryInfo/CreateSubdirectory.cs
Labels: Servicing-Consider-2.1.next, Servicing-approved-2.1.next, area-System.IO

#30361 [release/2.1] Remove property setters from netstandard ref that are not in NetFx
  src/System.Security.Cryptography.Pkcs/ref/System.Security.Cryptography.Pkcs.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSigner.cs
Labels: Servicing-Consider-2.1.next, area-System.Security

#30379 [release/2.1] Duplicate the access token passed to WindowsIdentity.RunImpersonated (#30346)
  src/System.Security.Principal.Windows/src/System/Security/Principal/WindowsIdentity.cs
  src/System.Security.Principal.Windows/tests/System.Security.Principal.Windows.Tests.csproj
  src/System.Security.Principal.Windows/tests/WindowsIdentityTests.cs
Labels: area-System.Security

#30427 [release/2.1] Ensure X509Chain can succeed when the end cert has an empty subject
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509chain.cpp
  src/System.Security.Cryptography.X509Certificates/tests/ChainTests.cs
  src/System.Security.Cryptography.X509Certificates/tests/TestData.cs
Labels: Servicing-Consider-2.1.next, area-System.Security

#30534 [release/2.1] Clarify output size handling
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_symmetric.cpp
Labels: Servicing-Consider-2.1.next, area-System.Security

#30553 [release/2.1] Make the Linux TLS hostname comparison be case-insensitive
  src/Native/Unix/System.Security.Cryptography.Native/openssl.cpp
  src/System.Security.Cryptography.X509Certificates/tests/HostnameMatchTests.Unix.cs
  src/System.Security.Cryptography.X509Certificates/tests/System.Security.Cryptography.X509Certificates.Tests.csproj
Labels: Servicing-Consider-2.1.next, area-System.Security

#30112 [release/2.1] Fix Expect: 100-continue handling when no request content (#30102)
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: Servicing-Consider-2.1.next, area-System.Net.Http.SocketsHttpHandler

#30516 [release/2.1] Fix SocketsHttpHandler for Windows auth proxy CONNECT tunneling
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.NtAuth.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionKind.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Proxy.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ServerCertificates.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/LoopbackGetRequestHttpProxy.cs
  src/System.Net.Http/tests/FunctionalTests/LoopbackProxyServer.cs
  src/System.Net.Http/tests/FunctionalTests/PlatformHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Labels: Servicing-Consider-2.1.next, area-System.Net.Http.SocketsHttpHandler, tenet-compatibility

#30212 [release/2.1] Fix WinHttpHandler when using authenticating proxies
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpAuthHelper.cs
Labels: Servicing-Consider-2.1.next, area-System.Net.Http, os-windows

#30663 build stub assemblies on FreeBSD from *UnknownUnix*
  src/System.IO.FileSystem.Watcher/src/Configurations.props
  src/System.Net.NetworkInformation/src/Configurations.props
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/NetworkAddressChange.Linux.cs
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/NetworkAddressChange.OSX.cs
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/NetworkAddressChange.UnknownUnix.cs
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/NetworkAddressChange.Windows.cs
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/NetworkAddressChange.cs
Labels: os-freebsd

#30381 [release/2.1] Fix SignedCms handling of negative certificate serial numbers.
  src/Common/src/System/Security/Cryptography/Asn1V2.Serializer.cs
  src/Common/src/System/Security/Cryptography/AsnWriter.cs
  src/System.Security.Cryptography.Encoding/tests/Asn1/Serializer/SimpleDeserialize.cs
  src/System.Security.Cryptography.Encoding/tests/Asn1/Serializer/SimpleSerialize.cs
  src/System.Security.Cryptography.Encoding/tests/Asn1/Writer/WriteInteger.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Rfc3161TimestampRequest.cs
  src/System.Security.Cryptography.Pkcs/tests/Certificates.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/DecryptTests.cs
  src/System.Security.Cryptography.Pkcs/tests/SignedCms/SignedCmsTests.cs
Labels: area-System.Security

#30432 [release/2.1]: Fix compatibility issues vs NetFX in SignedCms and EnvelopedCms
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.Decrypt.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.Encrypt.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/Windows/PkcsPalWindows.Encrypt.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/EncapsulatedContentInfoAsn.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSigner.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SignedCms.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SignerInfo.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/DecryptTests.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/EdgeCasesTests.cs
  src/System.Security.Cryptography.Pkcs/tests/SignedCms/SignedCmsTests.cs
  src/System.Security.Cryptography.Pkcs/tests/SignedCms/SignedDocuments.cs
Labels: Servicing-Consider-2.1.next, area-System.Security

#30002 Make directory enumeration consistent (#29908)
  src/Common/src/Interop/Windows/Interop.Errors.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Unix.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Win32.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.WinRT.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Windows.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.cs
  src/System.IO.FileSystem/tests/Enumeration/ErrorHandlingTests.netcoreapp.cs
  src/System.IO.FileSystem/tests/Enumeration/RemovedDirectoryTests.netcoreapp.cs
Labels: Servicing-approved-2.1.next, area-System.IO

#29697 Added PoolBlockingPeriod connection property
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/System.Data.SqlClient/dir.props
  src/System.Data.SqlClient/ref/System.Data.SqlClient.NetCoreApp.cs
  src/System.Data.SqlClient/src/MatchingRefApiCompatBaseline.txt
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
  src/System.Data.SqlClient/src/System/Data/Common/DbConnectionStringCommon.NetCoreApp.cs
  src/System.Data.SqlClient/src/System/Data/Common/DbConnectionStringCommon.cs
  src/System.Data.SqlClient/src/System/Data/ProviderBase/DbConnectionPool.NetCoreApp.cs
  src/System.Data.SqlClient/src/System/Data/ProviderBase/DbConnectionPool.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/PoolBlockingPeriod.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlConnectionString.NetCoreApp.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlConnectionString.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlConnectionStringBuilder.NetCoreApp.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlConnectionStringBuilder.cs
  src/System.Data.SqlClient/tests/ManualTests/Configurations.props
  src/System.Data.SqlClient/tests/ManualTests/SQL/ConnectionPoolTest/PoolBlockPeriodTest.netcoreapp.cs
  src/System.Data.SqlClient/tests/ManualTests/System.Data.SqlClient.ManualTesting.Tests.csproj
Labels: area-System.Data.SqlClient

#30297 Use FrameworkEventSourceSupport from S.P.Corelib
  src/System.Runtime.WindowsRuntime/src/System/Threading/WindowsRuntimeSynchronizationContext.cs
Labels: area-System.Runtime.InteropServices

#30137 Add IsSerializerVersionMatch check
  src/Microsoft.XmlSerializer.Generator/src/Sgen.cs
  src/System.Private.Xml/src/Resources/Strings.resx
  src/System.Private.Xml/src/System.Private.Xml.csproj
  src/System.Private.Xml/src/System/Xml/Serialization/Compilation.cs
  src/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationEventSource.cs
Labels: area-Serialization

#30727 Bring back System.Reflection.ICustomTypeProvider
  src/System.ObjectModel/ref/System.ObjectModel.cs
  src/System.ObjectModel/src/System.ObjectModel.csproj
  src/System.ObjectModel/src/System/Reflection/ICustomTypeProvider.cs
Labels: area-System.Reflection.Emit

#30736 Remove Is AppDomainUnloadedException check
  src/System.Runtime.WindowsRuntime/src/System/Threading/WindowsRuntimeSynchronizationContext.cs
Labels: area-System.Runtime.InteropServices

#30710 Remove dependency for IBindableVector Type
  src/System.Runtime.WindowsRuntime/src/System/Runtime/InteropServices/WindowsRuntime/MarshalingHelpers.cs
Labels: area-System.Runtime.InteropServices

#30716 Fix compilation for deprecated API on macOS Mojave preview
  src/Native/Unix/System.Security.Cryptography.Native.Apple/CMakeLists.txt
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509chain.c
Labels: os-mac-os-x

#30632 Regex: reduce allocation slightly, add tests, code cleanup, add parser comments
  src/Common/src/CoreLib/System/Collections/Generic/ValueListBuilder.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexBoyerMoore.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParser.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexReplacement.cs
  src/System.Text.RegularExpressions/tests/Regex.Groups.Tests.cs
  src/System.Text.RegularExpressions/tests/Regex.Match.Tests.cs
  src/System.Text.RegularExpressions/tests/RegexParserTests.cs
Labels: area-System.Text.RegularExpressions

#30548 Switched to as cast in ImplicitMachineConfig Init
  src/System.Configuration.ConfigurationManager/src/Resources/System.Configuration.ConfigurationManager.rd.xml
  src/System.Configuration.ConfigurationManager/src/System/Configuration/ImplicitMachineConfigHost.cs
  src/System.Configuration.ConfigurationManager/tests/System.Configuration.ConfigurationManager.Tests.csproj
  src/System.Configuration.ConfigurationManager/tests/System/Configuration/ImplicitMachineConfigTests.cs
  src/System.Configuration.ConfigurationManager/tests/System/Configuration/TempConfigurationHost.cs
Labels: area-System.Configuration
