Repository dotnet/corefx, pull requests merged in 2018-04, with the labels that each got.

#28613 Fix thread constructor test on newer kernels
  src/System.Threading.Thread/tests/ThreadTests.cs
Labels: area-System.Threading

#28692 Fix intermittent crashes on FileSystemEnumeration on Unix
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Unix.cs
Labels: area-System.IO

#28704 SocketsHttpHandler: if server sends invalid NT auth challenge, don't continue processing
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.NtAuth.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#28712 Increase iteration counts in threading perf tests
  src/System.Threading/tests/Performance/Perf.EventWaitHandle.cs
  src/System.Threading/tests/Performance/Perf.Interlocked.cs
  src/System.Threading/tests/Performance/Perf.Lock.cs
  src/System.Threading/tests/Performance/Perf.Monitor.cs
  src/System.Threading/tests/Performance/Perf.SpinLock.cs
  src/System.Threading/tests/Performance/Perf.Volatile.cs
Labels: area-System.Threading

#28675 [2.0] React to X509Chain changes in macOS 10.13.4
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509chain.cpp
Labels: Servicing-Approved-2.0.7

#28717 Fix the message for Cryptography_InvalidPadding
  src/Common/src/Internal/Cryptography/UniversalCryptoDecryptor.cs
  src/System.Security.Cryptography.Algorithms/src/Resources/Strings.resx
  src/System.Security.Cryptography.Cng/src/Resources/Strings.resx
  src/System.Security.Cryptography.Csp/src/Resources/Strings.resx
Labels: area-System.Security

#28578 Fix ipv6 address format in Host header
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPoolManager.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#28210 add proxy bypass list processing for windows
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpEnvironmentProxy.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpSystemProxy.cs
  src/System.Net.Http/tests/UnitTests/HttpSystemProxyTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#28728 Switch threading perf tests to use constant instead of Benchmark.InnerIteration
  src/System.Threading/tests/Performance/Perf.EventWaitHandle.cs
  src/System.Threading/tests/Performance/Perf.Interlocked.cs
  src/System.Threading/tests/Performance/Perf.Lock.cs
  src/System.Threading/tests/Performance/Perf.Monitor.cs
  src/System.Threading/tests/Performance/Perf.SpinLock.cs
  src/System.Threading/tests/Performance/Perf.Volatile.cs
Labels: area-System.Threading

#28745 [1.1] Move cmake cxx tag check to cmakelists
  src/Native/Unix/CMakeLists.txt
  src/Native/Unix/configure.cmake
Labels: area-Infrastructure, bug

#28768 Fix build with xcode 9.3 on OSX
  src/Native/Unix/Common/pal_compiler.h
Labels: area-Meta

#28770 Fix ProxyExplicitlyProvided_DefaultCredentials_Ignored test
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.DefaultProxyCredentials.cs
Labels: area-System.Net.Http

#28767 Stop artificially rooting SocketAsyncEventArgs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.cs
  src/System.Net.Sockets/tests/FunctionalTests/SocketAsyncEventArgsTest.netcoreapp.cs
Labels: area-System.Net.Sockets, netfx-port-consider

#28720 Fix allocated Encoding memory initialization
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/System.Runtime.CompilerServices.Unsafe/dir.props
  src/System.Runtime.CompilerServices.Unsafe/pkg/System.Runtime.CompilerServices.Unsafe.pkgproj
  src/System.Text.Encoding.CodePages/src/System.Text.Encoding.CodePages.csproj
  src/System.Text.Encoding.CodePages/src/System/Text/BaseCodePageEncoding.cs
  src/System.Text.Encoding.CodePages/src/System/Text/DBCSCodePageEncoding.cs
  src/System.Text.Encoding.CodePages/src/System/Text/SBCSCodePageEncoding.cs
Labels: area-System.Text.Encoding

#28776 Small throughput improvement in Uri construction
  src/System.Private.Uri/src/System/DomainNameHelper.cs
Labels: area-System.Net

#28725 SslStream IDN mapping host name on Windows
  src/Common/src/Interop/Windows/sspicli/SecuritySafeHandles.cs
Labels: area-System.Net.Security

#28789 Disable GetAsync_IPv6LinkLocalAddressUri_Success
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http

#28788 Make default SocketsHttpHandler SslProtocols include Tls11/12 on Win7/2008R2
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.SslProtocols.cs
  src/System.Net.Security/tests/FunctionalTests/ClientAsyncAuthenticateTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#27755 HttpListener - Prefix WWW-Authenticate header with scheme
  src/System.Net.HttpListener/src/System/Net/Windows/HttpListener.Windows.cs
Labels: area-System.Net

#28671 Improve parsing of WinINet default proxy strings in SocketsHttpHandler
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpSystemProxy.cs
  src/System.Net.Http/tests/UnitTests/HttpSystemProxyTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#28822 Update download link for PerfView tool
  Documentation/debugging/windows-instructions.md
Labels: documentation

#28824 Enable a thread pool bound handle test on uap
  src/System.Threading.Overlapped/tests/ThreadPoolBoundHandle_AllocateNativeOverlappedTests.cs
Labels: area-System.Threading

#28059 Rethrown exception call stack tests
  src/System.Runtime/tests/Configurations.props
  src/System.Runtime/tests/System.Runtime.Tests.csproj
  src/System.Runtime/tests/System/ExceptionTests.cs
Labels: area-System.Runtime

#28572 Update netfx queues to use rs3 machines with .net471 installed
  buildpipeline/pipeline.json
  buildpipeline/windows.groovy
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RSA/EncryptDecrypt.cs
  src/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTests.cs
Labels: area-Infrastructure

#28828 Re-enable PostAsync_RedirectWith307_LargePayload
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http

#27763 Handle recycled child PIDs
  src/System.Diagnostics.Process/src/FxCopBaseline.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.Windows.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/ProcessWaitHandle.Unix.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/ProcessWaitState.Unix.cs
  src/System.Diagnostics.Process/tests/ProcessTests.Unix.cs
Labels: area-System.Diagnostics.Process

#28794 Throw the same exception for data too big and data too small in RSA Decrypt
  src/Common/src/System/Security/Cryptography/RSACng.EncryptDecrypt.cs
  src/Common/src/System/Security/Cryptography/RSAOpenSsl.cs
  src/Common/src/System/Security/Cryptography/RSASecurityTransforms.cs
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RSA/EncryptDecrypt.cs
  src/System.Security.Cryptography.Algorithms/src/Resources/Strings.resx
  src/System.Security.Cryptography.Cng/src/Resources/Strings.resx
  src/System.Security.Cryptography.Csp/src/Resources/Strings.resx
  src/System.Security.Cryptography.Csp/src/System/Security/Cryptography/RSACryptoServiceProvider.Unix.cs
  src/System.Security.Cryptography.Csp/src/System/Security/Cryptography/RSACryptoServiceProvider.Windows.cs
  src/System.Security.Cryptography.OpenSsl/src/Resources/Strings.resx
  src/System.Security.Cryptography.X509Certificates/src/Resources/Strings.resx
Labels: area-System.Security

#28867 [1.1] Fix some packaging bugs
  src/Native/pkg/runtime.native.System.IO.Compression/win/runtime.native.System.IO.Compression.pkgproj
  src/packages.builds
Labels: bug, packaging

#28740 Fix proxied ipv6 address request formatting and fix port handling for proxied IP address on SocketsHttpHandler
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#28823 Port System.Threading perf tests to release/2.0.0
  src/System.Threading/tests/Performance/Perf.EventWaitHandle.cs
  src/System.Threading/tests/Performance/Perf.Interlocked.cs
  src/System.Threading/tests/Performance/Perf.Lock.cs
  src/System.Threading/tests/Performance/Perf.Monitor.cs
  src/System.Threading/tests/Performance/Perf.SpinLock.cs
  src/System.Threading/tests/Performance/Perf.Volatile.cs
  src/System.Threading/tests/Performance/System.Threading.Performance.Tests.csproj
Labels: area-System.Threading

#28877 Add tests for Span.Overlaps extension method (just like ReadOnlySpan.Overlaps)
  src/System.Memory/tests/Span/Overlaps.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
Labels: area-System.Memory

#28876 Fix the test gap in StringTests for IndexOf, LastIndexOf when string is empty
  src/System.Runtime/tests/System/StringTests.cs
Labels: area-System.Runtime

#28164 Fixed netfx System.Configuration.ConfigurationManager.Tests on non English Windows
  src/System.Configuration.ConfigurationManager/tests/Mono/ConfigurationErrorsExceptionTest.cs
  src/System.Configuration.ConfigurationManager/tests/System.Configuration.ConfigurationManager.Tests.csproj
  src/System.Configuration.ConfigurationManager/tests/System/Configuration/TimeSpanValidatorAttributeTests.cs
Labels: area-System.Configuration

#28902 Disable Tizen CI runs
  netci.groovy
Labels: area-Infrastructure

#28889 Stop nulling out fields in SafeDeleteSslContext dispose
  src/System.Net.Security/src/System/Net/Security/Pal.OSX/SafeDeleteSslContext.cs
Labels: area-System.Net.Security

#28916 Fix typo 'segement' to 'segment'
  src/System.Memory/src/System/Buffers/BuffersExtensions.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.Common.cs
Labels: area-System.Memory

#28896 Add {ReadOnly}Memory.Span tests when memory contains invalid values
  src/System.Memory/tests/Memory/Span.cs
  src/System.Memory/tests/ReadOnlyMemory/Span.cs
  src/System.Memory/tests/TestHelpers.cs
Labels: area-System.Memory, test enhancement

#28931 Fix regression on OpenSsl exception message
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/Native/Unix/System.Security.Cryptography.Native/pal_ssl.cpp
  src/System.Net.Security/src/System/Net/Security/SslStreamPal.Unix.cs
  src/System.Net.Security/tests/FunctionalTests/SslStreamNetworkStreamTest.cs
Labels: area-System.Net.Security

#28872 Data.Common tests fixed for non english windows
  src/System.Data.Common/tests/System/Data/DataColumnTest2.cs
  src/System.Data.Common/tests/System/Data/SqlTypes/SqlDecimalTest.cs
  src/System.Data.Common/tests/System/Data/SqlTypes/SqlDoubleTest.cs
  src/System.Data.Common/tests/System/Data/SqlTypes/SqlMoneyTest.cs
  src/System.Data.Common/tests/System/Data/SqlTypes/SqlSingleTest.cs
  src/System.Data.Common/tests/System/Data/SqlTypes/SqlStringTest.cs
Labels: area-System.Data, test bug

#28927 Created performance tests for ReadOnlySequence
  src/System.Memory/tests/Performance/Perf.ReadOnlySequence.Enumerator.cs
  src/System.Memory/tests/Performance/Perf.ReadOnlySequence.First.cs
  src/System.Memory/tests/Performance/Perf.ReadOnlySequence.GetPosition.cs
  src/System.Memory/tests/Performance/Perf.ReadOnlySequence.Slice.cs
  src/System.Memory/tests/Performance/Perf.ReadOnlySequence.TryGet.cs
  src/System.Memory/tests/Performance/System.Memory.Performance.Tests.csproj
Labels: area-System.Memory

#28857 ReadOnlySequence.ToString() and debug view
  src/System.Memory/src/System.Memory.csproj
  src/System.Memory/src/System/Buffers/ReadOnlySequence.cs
  src/System.Memory/src/System/Buffers/ReadOnlySequenceDebugView.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceFactory.byte.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceFactory.char.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.byte.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.char.cs
Labels: area-System.Memory

#28945 Stable test for both type of dateStyles. (dd\MM\yyyy and MM\dd\yyyy)
  src/System.Runtime.Extensions/tests/Performance/System/Perf.Convert.cs
Labels: area-System.Runtime.Extensions, test bug

#28702 Created tests for default and empty ReadOnlySequence
  src/System.Memory/src/System/Buffers/ReadOnlySequence.cs
  src/System.Memory/src/System/Buffers/ReadOnlySequence_helpers.cs
  src/System.Memory/src/System/ThrowHelper.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.Common.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.Default.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.Empty.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
Labels: area-System.Memory

#28956 [1.1] Use Portable Linux for new distros and unknown distro
  init-tools.sh
Labels: area-Infrastructure

#28949 Clear SSL error queue after SSL_shutdown calls
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.ERR.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Ssl.cs
  src/Native/Unix/System.Security.Cryptography.Native/pal_err.cpp
  src/Native/Unix/System.Security.Cryptography.Native/pal_err.h
Labels: area-System.Security

#28880 Fix MemoryManager ctor, add unit and perf tests, and improve performance
  src/Common/src/CoreLib/System/Memory.cs
  src/Common/src/CoreLib/System/ReadOnlyMemory.cs
  src/System.Memory/src/System/ThrowHelper.cs
  src/System.Memory/tests/Memory/MemoryManager.cs
  src/System.Memory/tests/Memory/Span.cs
  src/System.Memory/tests/Performance/Perf.Memory.Slice.cs
  src/System.Memory/tests/Performance/Perf.Memory.Span.cs
  src/System.Memory/tests/Performance/System.Memory.Performance.Tests.csproj
  src/System.Memory/tests/ReadOnlyMemory/Span.cs
Labels: area-System.Memory

#28964 propagate default credentials so we can pick up default kerberos ticket
  src/System.Net.Http/src/System/Net/Http/HttpClientHandler.Unix.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#28919 Enable native build with Clang 6.0
  src/Native/Unix/System.Native/pal_networking.c
  src/Native/Unix/System.Native/pal_process.cpp
  src/Native/Unix/System.Net.Http.Native/pal_easy.cpp
  src/Native/Unix/System.Net.Http.Native/pal_multi.cpp
Labels: area-Infrastructure

#28891 Adding test for Remove when entries do not exist. Should not throw.
  src/System.Collections/tests/Generic/Dictionary/Dictionary.Tests.cs
Labels: area-System.Collections

#28181 Fixed netfx System.Data.Common.Tests fails on non English Windows
  src/System.Data.Common/tests/System/Data/Common/DbConnectionStringBuilderTest.cs
  src/System.Data.Common/tests/System/Data/DataRowTest2.cs
  src/System.Data.Common/tests/System/Data/DataTableTest.cs
  src/System.Data.Common/tests/System/Data/DataTableTest2.cs
  src/System.Data.Common/tests/System/Data/DataTableTest3.cs
  src/System.Data.Common/tests/System/Data/DataTableTest4.cs
Labels: area-System.Data

#28966 Make X509_store_add_crl throw on unexpected errors
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.ERR.cs
  src/Native/Unix/System.Security.Cryptography.Native/pal_err.cpp
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CrlCache.cs
Labels: area-System.Security

#28962 Fix TODO to cleanup Tests by removing AsReadOnySpan/Memory and update callsites
  src/System.Memory/tests/Memory/AsReadOnlyMemory.cs
  src/System.Memory/tests/ReadOnlyMemory/Strings.cs
  src/System.Memory/tests/ReadOnlySpan/AsReadOnlySpan.cs
  src/System.Memory/tests/ReadOnlySpan/AsSpan.cs
  src/System.Memory/tests/ReadOnlySpan/IsWhiteSpace.cs
  src/System.Memory/tests/ReadOnlySpan/Overlaps.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
  src/System.Memory/tests/TestHelpers.cs
  src/System.Runtime.Extensions/tests/System/Convert.netcoreapp.cs
  src/System.Runtime.Extensions/tests/TestHelpers.cs
  src/System.Security.Cryptography.Encoding/tests/Asn1/Reader/ReadBMPString.cs
  src/System.Security.Cryptography.Encoding/tests/Asn1/Reader/ReadBitString.cs
  src/System.Security.Cryptography.Encoding/tests/Asn1/Reader/ReadIA5String.cs
  src/System.Security.Cryptography.Encoding/tests/Asn1/Reader/ReadOctetString.cs
  src/System.Security.Cryptography.Encoding/tests/Asn1/Reader/ReadUTF8String.cs
  src/System.Security.Cryptography.Encoding/tests/Asn1/Writer/ComprehensiveWriteTest.cs
  src/System.Security.Cryptography.Encoding/tests/Asn1/Writer/WriteCharacterString.cs
  src/System.Security.Cryptography.Encoding/tests/System.Security.Cryptography.Encoding.Tests.csproj
Labels: area-System.Memory

#28939 Fixed autolog tests
  src/System.ServiceProcess.ServiceController/tests/ServiceBaseTests.cs
  src/System.ServiceProcess.ServiceController/tests/System.ServiceProcess.ServiceController.TestService/Helpers.cs
  src/System.ServiceProcess.ServiceController/tests/System.ServiceProcess.ServiceController.TestService/Program.cs
  src/System.ServiceProcess.ServiceController/tests/System.ServiceProcess.ServiceController.TestService/TestServiceInstaller.cs
  src/System.ServiceProcess.ServiceController/tests/TestServiceProvider.cs
Labels: area-System.ServiceProcess, test bug

#28906 Update the System.Runtime and System.Memory ref based on new buildtools
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeAwaitable.cs
  src/System.Memory/ref/System.Memory.cs
  src/System.Memory/tests/Performance/Perf.Memory.Slice.cs
  src/System.Net.Http/src/System/Net/Http/HttpContent.cs
  src/System.Runtime/ref/System.Runtime.cs
Labels: area-Infrastructure, blocking-release

#28983 Ensure ConnectHelper creates a Segment with a min of 2
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#28988 Reenable ASin test
  src/System.Runtime.Numerics/tests/ComplexTests.cs
Labels: area-System.Numerics

#28980 Clear SSL error queue after MultiDestroy and MultiRemoveHandle
  src/Common/src/Interop/Unix/System.Net.Http.Native/Interop.Multi.cs
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlHandler.MultiAgent.cs
Labels: area-System.Net.Http, os-linux

#28754 Reset Console in src/Microsoft.CSharp/tests/NamedArgumentTests.cs (Fixes #28667)
  src/Microsoft.CSharp/tests/Helpers.cs
  src/Microsoft.CSharp/tests/Microsoft.CSharp.Tests.csproj
  src/Microsoft.CSharp/tests/NamedArgumentTests.cs
Labels: area-Microsoft.CSharp, test bug

#28904 Removing ActiveIssue for already closed issue #21000
  src/System.Configuration.ConfigurationManager/tests/Mono/ConfigurationSectionGroupTest.cs
  src/System.Configuration.ConfigurationManager/tests/System/Configuration/SectionGroupsTests.cs
  src/System.Configuration.ConfigurationManager/tests/System/Configuration/UriSectionTests.cs
Labels: area-System.Configuration

#28943 Add more logging to SocketsHttpHandler
  src/Common/tests/Scripts/Tools/net_startlog.cmd
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.Digest.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.NtAuth.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ChunkedEncodingReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/CookieHelper.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPoolManager.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentDuplexStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpSystemProxy.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/RedirectHandler.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#28990 Removing SequenceMarshal.TryGetMemoryManager for ReadOnlySequence
  src/System.Memory/ref/System.Memory.cs
  src/System.Memory/src/System/Buffers/ReadOnlySequence_helpers.cs
  src/System.Memory/src/System/Runtime/InteropServices/SequenceMarshal.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.TryGet.cs
Labels: area-System.Memory

#28928 Aggressive Inline fast-path of BuffersExtensions split methods
  src/System.Memory/src/System/Buffers/BuffersExtensions.cs
Labels: area-System.Memory

#28999 Regenerate System.Threading ref with latest buildtools changes
  src/System.Threading/ref/System.Threading.cs
Labels: area-System.Threading

#28994 Handle User-Agent/Server writing similarly to HttpHeaders.GetHeaderString
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#29006 Make HttpWebResponse.LastModified throw when invalid date is provided
  src/System.Net.Requests/src/System/Net/HttpDateParse.cs
  src/System.Net.Requests/src/System/Net/HttpWebRequest.cs
  src/System.Net.Requests/src/System/Net/HttpWebResponse.cs
  src/System.Net.Requests/tests/HttpWebResponseHeaderTest.cs
Labels: area-System.Net

#28997 Modify test to only try open file with vi not nano
  src/System.Diagnostics.Process/tests/ProcessTests.Unix.cs
Labels: area-System.Diagnostics.Process

#28996 [1.1] Add Clang6 support
  src/Native/Unix/CMakeLists.txt
  src/Native/Unix/System.Native/pal_process.cpp
  src/Native/Unix/System.Net.Http.Native/pal_easy.cpp
  src/Native/Unix/System.Net.Http.Native/pal_multi.cpp
Labels: enhancement, os-linux

#28885 Improve CMake detection on Windows when not in PATH
  src/Native/Windows/probe-win.ps1
Labels: area-Infrastructure, enhancement

#29030 Dedup FormattingHelpers.cs / FormattingHelpers.CountDigits.cs
  src/System.Memory/src/System.Memory.csproj
  src/System.Memory/src/System/Buffers/Text/Utf8Formatter/FormattingHelpers.cs
Labels: area-System.Memory

#28982 fix get for UseDefaultCredentials with SockerHttpHandler
  src/System.Net.Http/src/System/Net/Http/HttpClientHandler.Unix.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#28644 Added test for logging exception details on calls to Environment.FailFast
  src/System.Runtime.Extensions/tests/System/EnvironmentTests.cs
Labels: area-System.Runtime.Extensions, test enhancement

#28992 Add CreateFromPinnedArray to System.Memory ref and add tests
  src/Common/src/CoreLib/System/Memory.cs
  src/Common/src/CoreLib/System/ReadOnlyMemory.cs
  src/Common/src/CoreLib/System/Runtime/InteropServices/MemoryMarshal.cs
  src/System.Memory/ref/System.Memory.cs
  src/System.Memory/tests/MemoryMarshal/CreateFromPinnedArray.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
  src/System.Memory/tests/TestHelpers.cs
  src/shims/ApiCompatBaseline.uapaot.netstandard20.txt
Labels: area-System.Memory

#29031 Simplify sspicli interop marshaling
  src/Common/src/Interop/Windows/SChannel/Interop.Sec_Application_Protocols.cs
  src/Common/src/Interop/Windows/sspicli/NegotiationInfoClass.cs
  src/Common/src/Interop/Windows/sspicli/SSPIWrapper.cs
  src/Common/src/Interop/Windows/sspicli/SecPkgContext_NegotiationInfoW.cs
  src/Common/src/Interop/Windows/sspicli/SecurityPackageInfo.cs
  src/Common/src/Interop/Windows/sspicli/SecurityPackageInfoClass.cs
  src/Common/src/Interop/Windows/sspicli/SecuritySafeHandles.cs
  src/Common/src/System/Net/IntPtrHelper.cs
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpCertificateHelper.cs
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.HttpListener/src/System.Net.HttpListener.csproj
  src/System.Net.HttpListener/src/System/Net/Windows/HttpListener.Windows.cs
  src/System.Net.Mail/src/System.Net.Mail.csproj
  src/System.Net.NameResolution/src/System.Net.NameResolution.csproj
  src/System.Net.NameResolution/src/System/Net/NameResolutionPal.Windows.cs
  src/System.Net.NameResolution/tests/PalTests/System.Net.NameResolution.Pal.Tests.csproj
  src/System.Net.Ping/src/System.Net.Ping.csproj
  src/System.Net.Ping/src/System/Net/NetworkInformation/Ping.Windows.cs
  src/System.Net.Security/src/System.Net.Security.csproj
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/ChainPal.cs
Labels: area-System.Net

#29046 Fix intermittent test failure in System.Buffers
  src/System.Buffers/tests/ArrayPool/UnitTests.cs
Labels: area-System.Buffers

#28998 Disable SSL3 test case on RedHat 6
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.SslProtocols.cs
Labels: area-System.Net.Security

#28942 Add tests for ValueTask type safety
  src/System.Threading.Tasks.Extensions/tests/ValueTaskTests.cs
Labels: area-System.Threading, test enhancement

#29050 Optimize proxy PAC file discovery process for SocketsHttpHandler
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinInetProxyHelper.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpSystemProxy.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#29078 Collapse leftover AsSpan().Slice(...) into AsSpan(...)
  src/Common/src/CoreLib/System/IO/PathInternal.cs
  src/System.IO.FileSystem/src/System/IO/File.cs
  src/System.Memory/tests/ReadOnlySpan/Overlaps.cs
  src/System.Memory/tests/Span/Overlaps.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpEnvironmentProxy.cs
  src/System.Runtime/tests/System/StringTests.cs
  src/System.Security.Cryptography.Encoding/tests/Asn1/Reader/ReadBMPString.cs
  src/System.Security.Cryptography.Encoding/tests/Asn1/Reader/ReadBitString.cs
  src/System.Security.Cryptography.Encoding/tests/Asn1/Reader/ReadIA5String.cs
  src/System.Security.Cryptography.Encoding/tests/Asn1/Reader/ReadOctetString.cs
  src/System.Security.Cryptography.Encoding/tests/Asn1/Reader/ReadUTF8String.cs
  src/System.Security.Cryptography.Encoding/tests/Asn1/Writer/ComprehensiveWriteTest.cs
  src/System.Security.Cryptography.Encoding/tests/Asn1/Writer/WriteCharacterString.cs
Labels: area-Meta

#29051 Remove use of Unsafe code in ReadOnlySequence GetFirstBuffer (and optimize)
  src/System.Memory/src/System/Buffers/ReadOnlySequence.cs
  src/System.Memory/src/System/Buffers/ReadOnlySequence_helpers.cs
Labels: area-System.Memory

#29003 Add GetPinnableReference to ref and add tests
  src/System.Memory/ref/System.Memory.cs
  src/System.Memory/src/System/ReadOnlySpan.Portable.cs
  src/System.Memory/src/System/Span.Portable.cs
  src/System.Memory/tests/ReadOnlySpan/GetPinnableReference.cs
  src/System.Memory/tests/Span/GetPinnableReference.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
  src/System.Runtime/ref/System.Runtime.cs
  src/System.Runtime/src/ApiCompatBaseline.uap.txt
  src/System.Runtime/src/ApiCompatBaseline.uapaot.txt
  src/shims/ApiCompatBaseline.uapaot.netstandard20.txt
Labels: area-System.Memory

#28851 Fix getting shortname of file for Attachment class
  src/System.Net.Mail/src/System/Net/Mail/Attachment.cs
  src/System.Net.Mail/tests/Functional/AttachmentTest.cs
Labels: area-System.Net

#29058 I removed ReadOnlySequence common tests from factory tests
  src/System.Memory/src/System/Buffers/ReadOnlySequence.cs
  src/System.Memory/src/System/ThrowHelper.cs
  src/System.Memory/tests/ReadOnlyBuffer/BufferSegment.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceFactory.byte.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.Common.byte.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.Common.char.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.Common.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.byte.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.char.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
Labels: area-System.Memory

#29043 Add basic ArrayPool cleaning tests
  src/System.Buffers/tests/ArrayPool/ArrayPoolTest.cs
  src/System.Buffers/tests/ArrayPool/CollectionTests.cs
  src/System.Buffers/tests/ArrayPool/UnitTests.cs
  src/System.Buffers/tests/System.Buffers.Tests.csproj
Labels: area-System.Buffers

#29081 Address some SocketsHttpHandler feedback
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPoolManager.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#29100 Remove unused TestHelper.AsReadOnlySpan
  src/System.Security.Cryptography.Encoding/tests/TestHelpers.cs
Labels: area-System.Security, test enhancement

#29106 [1.1] Misc linux fixes
  init-tools.sh
  src/Native/Unix/CMakeLists.txt
Labels: area-Infrastructure, enhancement

#28971 SocketsHttpHandler: Add workaround for ipv6 LLA address
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPoolManager.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#29099 Fix default style argument to Double/Single/Decimal.Parse
  src/System.Runtime/ref/System.Runtime.cs
  src/System.Runtime/tests/System/DecimalTests.cs
  src/System.Runtime/tests/System/DecimalTests.netcoreapp.cs
  src/System.Runtime/tests/System/DoubleTests.cs
  src/System.Runtime/tests/System/DoubleTests.netcoreapp.cs
  src/System.Runtime/tests/System/SingleTests.cs
  src/System.Runtime/tests/System/SingleTests.netcoreapp.cs
Labels: area-System.Runtime

#29002 [1.1] Add packaging for Fedora28 and Debian9
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/Native/pkg/dir.props
  src/Native/pkg/runtime.native.System.IO.Compression/debian/8/runtime.native.System.IO.Compression.pkgproj
  src/Native/pkg/runtime.native.System.IO.Compression/debian/9/runtime.native.System.IO.Compression.pkgproj
  src/Native/pkg/runtime.native.System.IO.Compression/fedora/28/runtime.native.System.IO.Compression.pkgproj
  src/Native/pkg/runtime.native.System.IO.Compression/runtime.native.System.IO.Compression.builds
  src/Native/pkg/runtime.native.System.IO.Compression/runtime.native.System.IO.Compression.pkgproj
  src/Native/pkg/runtime.native.System.Net.Http/debian/8/runtime.native.System.Net.Http.pkgproj
  src/Native/pkg/runtime.native.System.Net.Http/debian/9/runtime.native.System.Net.Http.pkgproj
  src/Native/pkg/runtime.native.System.Net.Http/fedora/28/runtime.native.System.Net.Http.pkgproj
  src/Native/pkg/runtime.native.System.Net.Http/runtime.native.System.Net.Http.builds
  src/Native/pkg/runtime.native.System.Net.Http/runtime.native.System.Net.Http.pkgproj
  src/Native/pkg/runtime.native.System.Net.Security/debian/8/runtime.native.System.Net.Security.pkgproj
  src/Native/pkg/runtime.native.System.Net.Security/debian/9/runtime.native.System.Net.Security.pkgproj
  src/Native/pkg/runtime.native.System.Net.Security/fedora/28/runtime.native.System.Net.Security.pkgproj
  src/Native/pkg/runtime.native.System.Net.Security/runtime.native.System.Net.Security.builds
  src/Native/pkg/runtime.native.System.Net.Security/runtime.native.System.Net.Security.pkgproj
  src/Native/pkg/runtime.native.System.Security.Cryptography.OpenSsl/debian/8/runtime.native.System.Security.Cryptography.OpenSsl.pkgproj
  src/Native/pkg/runtime.native.System.Security.Cryptography.OpenSsl/debian/9/runtime.native.System.Security.Cryptography.OpenSsl.pkgproj
  src/Native/pkg/runtime.native.System.Security.Cryptography.OpenSsl/fedora/28/runtime.native.System.Security.Cryptography.OpenSsl.pkgproj
  src/Native/pkg/runtime.native.System.Security.Cryptography.OpenSsl/runtime.native.System.Security.Cryptography.OpenSsl.builds
  src/Native/pkg/runtime.native.System.Security.Cryptography.OpenSsl/runtime.native.System.Security.Cryptography.OpenSsl.pkgproj
  src/Native/pkg/runtime.native.System.Security.Cryptography/debian/8/runtime.native.System.Security.Cryptography.pkgproj
  src/Native/pkg/runtime.native.System.Security.Cryptography/debian/9/runtime.native.System.Security.Cryptography.pkgproj
  src/Native/pkg/runtime.native.System.Security.Cryptography/fedora/28/runtime.native.System.Security.Cryptography.pkgproj
  src/Native/pkg/runtime.native.System.Security.Cryptography/runtime.native.System.Security.Cryptography.builds
  src/Native/pkg/runtime.native.System.Security.Cryptography/runtime.native.System.Security.Cryptography.pkgproj
  src/Native/pkg/runtime.native.System/debian/8/runtime.native.System.pkgproj
  src/Native/pkg/runtime.native.System/debian/9/runtime.native.System.pkgproj
  src/Native/pkg/runtime.native.System/fedora/28/runtime.native.System.pkgproj
  src/Native/pkg/runtime.native.System/runtime.native.System.builds
  src/Native/pkg/runtime.native.System/runtime.native.System.pkgproj
Labels: area-Infrastructure, enhancement, packaging

#29105 Add basic GET SocketsHttpHandler perf tests
  src/System.Net.Http/tests/Performance/Configurations.props
  src/System.Net.Http/tests/Performance/Perf.SocketsHttpHandler.cs
  src/System.Net.Http/tests/Performance/System.Net.Http.Performance.Tests.csproj
Labels: area-System.Net.Http.SocketsHttpHandler

#29097 Sockets: dispatch sync op handling back to calling thread to avoid thread starvation
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncContext.Unix.cs
  src/System.Net.Sockets/tests/FunctionalTests/SendReceive.cs
  src/System.Net.Sockets/tests/FunctionalTests/SocketTestHelper.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#29131 Delete faulty assert in SslStreamInternal
  src/System.Net.Security/src/System/Net/Security/SslStreamInternal.cs
Labels: area-System.Net.Security, bug

#29133 Update the ReadOnlySequence Slice performance tests to only measure the Slice method
  src/System.Memory/tests/Performance/Perf.ReadOnlySequence.Slice.cs
Labels: area-System.Memory, test enhancement

#29137 Update xml comment for {ReadOnly}Memory.Pin method
  src/Common/src/CoreLib/System/Memory.cs
  src/Common/src/CoreLib/System/ReadOnlyMemory.cs
Labels: area-System.Memory

#29136 Add comments clarifying the logc in ReadOnlySequence GetFirstBuffer
  src/System.Memory/src/System/Buffers/ReadOnlySequence_helpers.cs
Labels: area-System.Memory

#29132 change sync timeout handling back to use actual sync timeouts
  src/Common/src/System/Net/SafeCloseSocket.Unix.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncContext.Unix.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs
Labels: area-System.Net.Sockets, os-linux

#29130 Fix nestedRead tracking in SslStreamInternal.ReadAsyncInternal
  src/System.Net.Security/src/System/Net/Security/SslStreamInternal.cs
Labels: area-System.Net.Security, bug

#28715 Fix cmake toolchain compile flags loop
  cross/arm/toolchain.cmake
  cross/arm/tryrun.cmake
  cross/arm64/toolchain.cmake
  cross/arm64/tryrun.cmake
  cross/armel/toolchain.cmake
  cross/armel/tryrun.cmake
  cross/toolchain.cmake
  cross/tryrun.cmake
  cross/x86/toolchain.cmake
  cross/x86/tryrun.cmake
  src/Native/Unix/gen-buildsys-clang.sh
Labels: area-Infrastructure

#29138 Update ApiCompatBaseline for uap and uapaot for System.Runtime
  src/System.Runtime/src/ApiCompatBaseline.uap.txt
  src/System.Runtime/src/ApiCompatBaseline.uapaot.txt
  src/shims/ApiCompatBaseline.uapaot.netstandard20.txt
Labels: area-Infrastructure, area-System.Runtime

#28840 Clean up dead code for System.Collections*
  src/Common/src/System/Collections/Generic/EnumerableHelpers.Linq.cs
  src/Common/src/System/Collections/Generic/EnumerableHelpers.cs
  src/System.Collections.Concurrent/src/System/Collections/Concurrent/PartitionerStatic.cs
  src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableDictionary_2.Builder.cs
  src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableDictionary_2.MutationInput.cs
  src/System.Collections.NonGeneric/src/System.Collections.NonGeneric.csproj
  src/System.Collections/src/System.Collections.csproj
Labels: * NO MERGE *, area-System.Collections

#28664 When a new binder is exactly the same as existing one, just use the old instance instead.
  src/Microsoft.CSharp/src/Microsoft.CSharp.csproj
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Binder.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/BinderEquivalence.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/BinderHelper.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/CSharpArgumentInfo.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/CSharpBinaryOperationBinder.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/CSharpConvertBinder.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/CSharpGetIndexBinder.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/CSharpGetMemberBinder.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/CSharpInvokeBinder.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/CSharpInvokeConstructorBinder.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/CSharpInvokeMemberBinder.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/CSharpIsEventBinder.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/CSharpSetIndexBinder.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/CSharpSetMemberBinder.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/CSharpUnaryOperationBinder.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/ICSharpBinder.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/RuntimeBinder.cs
  src/System.Linq.Expressions/tests/Dynamic/CallSiteCachingTests.cs
Labels: area-Microsoft.CSharp

#28907 Clean code for System.ComponentModel*
  src/System.ComponentModel.TypeConverter/src/System/ComponentModel/ReflectPropertyDescriptor.cs
Labels: area-System.ComponentModel

#28795 Clean dead code for System.CSharp
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/RuntimeBinder.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/ExprFactory.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/ExpressionBinder.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/GroupToArgsBinder.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/GroupToArgsBinderResult.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/Tree/ArrayInitialization.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/Tree/MemberGroup.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/Tree/Visitors/ExpressionTreeRewriter.cs
Labels: area-Microsoft.CSharp

#28849 Pass Uri.IdnHost to WinHttpConnect
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http

#29009 Work around occasional IOException using OpenRemoteBaseKey against local machine
  src/System.Diagnostics.PerformanceCounter/src/System/Diagnostics/SharedUtils.cs
Labels: area-System.Diagnostics.Tracing

#29171 More SSL error queue cleaning
  src/Common/src/Interop/Unix/System.Net.Security.Native/Interop.Initialization.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.AcceptAllCerts.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CertificatePal.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslPkcs12Reader.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/PkcsFormatReader.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/StorePal.cs
Labels: area-System.Security

#29159 Fix ClientWebSocket error message when endpoint is not a real websocket
  src/System.Net.WebSockets.Client/src/Resources/Strings.resx
  src/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.Managed.cs
  src/System.Net.WebSockets.Client/tests/ClientWebSocketTestBase.cs
  src/System.Net.WebSockets.Client/tests/ConnectTest.cs
Labels: area-System.Net

#29104 Adding begin/end to build definitions
  buildpipeline/DotNet-CoreFx-Trusted-Linux-Crossbuild.json
  buildpipeline/DotNet-CoreFx-Trusted-Linux.json
  buildpipeline/DotNet-CoreFx-Trusted-OSX.json
  buildpipeline/DotNet-CoreFx-Trusted-Windows-NoTest.json
  buildpipeline/DotNet-CoreFx-Trusted-Windows.json
  buildpipeline/DotNet-Trusted-Publish-Symbols.json
  buildpipeline/DotNet-Trusted-Publish.json
  buildpipeline/DotNet-Trusted-Tests-Publish.json
Labels: area-Infrastructure

#29115 Remove != and == from SequencePosition
  src/System.Memory/ref/System.Memory.cs
  src/System.Memory/src/System/SequencePosition.cs
  src/System.Memory/tests/Performance/Perf.ReadOnlySequence.GetPosition.cs
  src/System.Memory/tests/ReadOnlyBuffer/SequencePosition.cs
Labels: area-System.Memory

#29000 StringComparer.InvariantCultureIgnoreCase and StringComparer.CurrentCultureIgnoreCase serialization tests failing on netfx ci
  src/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTestData.cs
  src/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTests.cs
Labels: area-Infrastructure

#28792 Enable faster invoke in interpreter
  src/System.Linq.Expressions/src/System.Linq.Expressions.csproj
  src/System.Linq.Expressions/src/System/Dynamic/Utils/DelegateHelpers.cs
  src/System.Linq.Expressions/src/System/Linq/Expressions/Interpreter/CallInstruction.Generated.cs
  src/System.Linq.Expressions/src/System/Linq/Expressions/Interpreter/CallInstruction.cs
  src/System.Linq.Expressions/src/System/Linq/Expressions/Interpreter/NullCheckInstruction.cs
  src/System.Linq.Expressions/tests/Call/CallTests.cs
Labels: area-System.Linq.Expressions

#28905 Clean up GetConsoleTitle
  src/Common/src/Interop/Windows/kernel32/Interop.GetConsoleTitle.cs
  src/System.Console/src/Resources/Strings.resx
  src/System.Console/src/System.Console.csproj
  src/System.Console/src/System/Console.cs
  src/System.Console/src/System/ConsolePal.Windows.cs
  src/System.Console/tests/WindowAndCursorProps.cs
Labels: area-System.Console

#29109 Removed unsafe casting in ReadOnlySequence TryGetXXX methods
  src/System.Memory/src/System/Buffers/ReadOnlySequence_helpers.cs
  src/System.Memory/src/System/Runtime/InteropServices/SequenceMarshal.cs
Labels: area-System.Memory

#29204 Remove unused private helper method GetTypeAndIndices on ReadOnlySequence.
  src/System.Memory/src/System/Buffers/ReadOnlySequence.cs
Labels: area-System.Memory

#29205 Fix bug in ReadOnlySequence Slice(SequencePosition start, long length) for null next segment
  src/System.Memory/src/System/Buffers/ReadOnlySequence.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.Common.byte.cs
Labels: area-System.Memory

#29004 Making Spanish CI leg as the defaut target CI
  buildpipeline/windows.groovy
Labels: area-Infrastructure

#29195 Adding default initialization for AgentToolsPath
  buildpipeline/DotNet-CoreFx-Trusted-Windows-NoTest.json
  buildpipeline/DotNet-CoreFx-Trusted-Windows.json
  buildpipeline/DotNet-Trusted-Publish-Symbols.json
  buildpipeline/DotNet-Trusted-Publish.json
  buildpipeline/DotNet-Trusted-Tests-Publish.json
Labels: area-Infrastructure

#29222 Add missing call operator
  buildpipeline/DotNet-CoreFx-Trusted-Windows-NoTest.json
  buildpipeline/DotNet-CoreFx-Trusted-Windows.json
  buildpipeline/DotNet-Trusted-Publish-Symbols.json
  buildpipeline/DotNet-Trusted-Publish.json
  buildpipeline/DotNet-Trusted-Tests-Publish.json
Labels: area-Infrastructure

#29194 Port: More SSL error queue cleaning (#29171)
  src/Common/src/Interop/Unix/System.Net.Security.Native/Interop.Initialization.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.AcceptAllCerts.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CertificatePal.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslPkcs12Reader.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/PkcsFormatReader.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/StorePal.cs
Labels: area-System.Security

#29142 Fixed ReadOnlySequence Slice performance tests
  src/System.Memory/tests/Performance/Perf.ReadOnlySequence.Slice.cs
  src/System.Memory/tests/Performance/System.Memory.Performance.Tests.csproj
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceFactory.byte.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceFactory.char.cs
Labels: area-System.Memory

#29215 ReadOnlySequence ToString optimization
  src/System.Memory/src/System/Buffers/ReadOnlySequence.cs
Labels: area-System.Memory

#29214 Fix TraceSource handling of GetEntryAssembly
  src/Common/src/System/Reflection/Emit/IgnoreAccessChecksToAttributeBuilder.cs
  src/System.Diagnostics.TraceSource/src/System/Diagnostics/TraceInternal.cs
  src/System.Diagnostics.TraceSource/tests/Configurations.props
  src/System.Diagnostics.TraceSource/tests/DefaultTraceListenerClassTests.cs
  src/System.Diagnostics.TraceSource/tests/DefaultTraceListenerClassTests.netcoreapp.cs
  src/System.Diagnostics.TraceSource/tests/System.Diagnostics.TraceSource.Tests.csproj
  src/System.Reflection.DispatchProxy/src/System.Reflection.DispatchProxy.csproj
  src/System.Reflection.DispatchProxy/src/System/Reflection/DispatchProxyGenerator.cs
Labels: area-System.Diagnostics

#29167 Ensure LocalCertificateSelectionCallback is still called with AuthenticateAsServerAsync
  src/System.Net.Security/src/System/Net/Security/SecureChannel.cs
  src/System.Net.Security/src/System/Net/Security/SslStream.cs
  src/System.Net.Security/tests/FunctionalTests/SslStreamSniTest.cs
  src/System.Net.Security/tests/FunctionalTests/SslStreamStreamToStreamTest.cs
Labels: area-System.Net.Security, bug

#29213 System.Net.Http.Native: correct hex for libcurl versions
  src/Native/Unix/System.Net.Http.Native/pal_multi.cpp
  src/Native/Unix/System.Net.Http.Native/pal_versioninfo.cpp
Labels: area-System.Net, os-linux

#29233 [release/2.1] Ensure LocalCertificateSelectionCallback is still called with AuthenticateAsServerAsync
  src/System.Net.Security/src/System/Net/Security/SecureChannel.cs
  src/System.Net.Security/src/System/Net/Security/SslStream.cs
  src/System.Net.Security/tests/FunctionalTests/SslStreamSniTest.cs
  src/System.Net.Security/tests/FunctionalTests/SslStreamStreamToStreamTest.cs
Labels: area-System.Net.Security

#29183 Lock Vectors reference assembly to 4.1.3.0 and don't OOB it on netcoreapp2.0
  dir.props
  src/System.Numerics.Vectors/pkg/System.Numerics.Vectors.pkgproj
  src/System.Numerics.Vectors/ref/Configurations.props
  src/System.Numerics.Vectors/ref/System.Numerics.Vectors.cs
  src/System.Numerics.Vectors/ref/System.Numerics.Vectors.csproj
Labels: area-System.Numerics, packaging

#29182 [release/2.1] Lock Vectors reference assembly to 4.1.3.0 and don't OOB it on netcoreapp2.0
  dir.props
  src/System.Numerics.Vectors/pkg/System.Numerics.Vectors.pkgproj
  src/System.Numerics.Vectors/ref/Configurations.props
  src/System.Numerics.Vectors/ref/System.Numerics.Vectors.cs
  src/System.Numerics.Vectors/ref/System.Numerics.Vectors.csproj
Labels: area-System.Numerics, blocking-RC1, packaging

#29216 Port fixes to remove use of unsafe in ReadOnlySequence APIs and fix bounds checks on Slice
  src/System.Memory/src/System/Buffers/ReadOnlySequence.cs
  src/System.Memory/src/System/Buffers/ReadOnlySequence_helpers.cs
  src/System.Memory/src/System/Runtime/InteropServices/SequenceMarshal.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.Common.byte.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.Default.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.Empty.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.byte.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.char.cs
Labels: area-System.Memory

#29155 Populate the original path when creating directories
  src/System.IO.FileSystem/src/System/IO/Directory.cs
  src/System.IO.FileSystem/src/System/IO/DirectoryInfo.cs
  src/System.IO.FileSystem/tests/Directory/CreateDirectory.cs
  src/System.IO.FileSystem/tests/DirectoryInfo/Create.cs
Labels: area-System.IO

#29246 Preserve pinned flag in {ReadOnly}Memory<T>.Slice
  src/Common/src/CoreLib/System/Memory.cs
  src/Common/src/CoreLib/System/ReadOnlyMemory.cs
Labels: area-System.Memory

#29227 Cut string allocations for filtered watcher files
  src/Common/src/Interop/Windows/kernel32/Interop.FileOperations.cs
  src/Common/src/Interop/Windows/kernel32/Interop.ReadDirectoryChangesW.cs
  src/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.Win32.cs
  src/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.cs
  src/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.unit.cs
Labels: area-System.IO

#29229 Update to a xUnit Performance Api that has a bigger Etw buffer size.
  dependencies.props
Labels: tenet-performance-benchmarks

#29186 Add config to force OpenSsl error queue cleanup before Encrypt/Decrypt
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Ssl.cs
  src/Native/Unix/System.Security.Cryptography.Native/pal_ssl.cpp
  src/Native/Unix/System.Security.Cryptography.Native/pal_ssl.h
Labels: area-System.Security

#29252 [release/2.1] Port Preserve pinned flag in {ReadOnly}Memory<T>.Slice (#29246)
  src/Common/src/CoreLib/System/Memory.cs
  src/Common/src/CoreLib/System/ReadOnlyMemory.cs
Labels: area-System.Memory

#29179 Disable regex cache tests using reflection for uapaot
  src/System.Text.RegularExpressions/tests/Regex.Cache.Tests.cs
Labels: area-System.Text.RegularExpressions

#29268 Fix crossfs build for armel jessie
  cross/armel/sources.list.jessie
Labels: arch-arm32, area-Meta

#29291 [1.1] Make native packages filterable on non-full build
  src/packages.builds
Labels: bug, packaging

#29281 ServiceModel.Syndication needs to expose facade on desktop
  src/System.ServiceModel.Syndication/ref/System.ServiceModel.Syndication.csproj
  src/System.ServiceModel.Syndication/src/Configurations.props
  src/System.ServiceModel.Syndication/src/System.ServiceModel.Syndication.csproj
  src/System.ServiceModel.Syndication/tests/BasicScenarioTests.cs
Labels: blocking-release

#29286 Always use DnsEndPoint in SocketHttpHandler's ConnectAsync
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#29230 Update ApiCompatBaseline for uapaot for System.Runtime
  src/System.Runtime/src/ApiCompatBaseline.uapaot.txt
  src/shims/ApiCompatBaseline.uapaot.netstandard20.txt
Labels: area-System.Runtime

#29289 Add Iran Timezone test case
  src/System.Runtime/tests/System/TimeZoneInfoTests.cs
Labels: area-System.Runtime

#29305 Add tests for Invoke of ref-returning members
  src/System.Runtime/tests/System.Runtime.Tests.csproj
  src/System.Runtime/tests/System/Reflection/InvokeRefReturn.netcoreapp.cs
Labels: area-System.Reflection

#29311 Removing initialization of "AgentToolsPath"
  buildpipeline/DotNet-CoreFx-Trusted-Linux-Crossbuild.json
  buildpipeline/DotNet-CoreFx-Trusted-Linux.json
  buildpipeline/DotNet-CoreFx-Trusted-OSX.json
  buildpipeline/DotNet-CoreFx-Trusted-Windows-NoTest.json
  buildpipeline/DotNet-CoreFx-Trusted-Windows.json
  buildpipeline/DotNet-Trusted-Publish-Symbols.json
  buildpipeline/DotNet-Trusted-Publish.json
  buildpipeline/DotNet-Trusted-Tests-Publish.json
Labels: area-Infrastructure

#29309 Disabling benchmark due to issue #29308
  perf.groovy
  src/System.Net.Http/tests/Performance/Perf.SocketsHttpHandler.cs
Labels: tenet-performance-benchmarks

#29328 Port LTTng fix for rootfs from CoreCLR
  cross/arm/trusty-lttng-2.4.patch
  cross/build-rootfs.sh
Labels: area-Infrastructure

#29208 Introduce public setter for Activity
  src/System.Diagnostics.DiagnosticSource/ref/System.Diagnostics.DiagnosticSourceActivity.cs
  src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.Current.net45.cs
  src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.Current.net46.cs
  src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs
  src/System.Diagnostics.DiagnosticSource/tests/ActivityTests.cs
  src/System.Diagnostics.DiagnosticSource/tests/System.Diagnostics.DiagnosticSource.Tests.csproj
Labels: area-System.Diagnostics.Tracing

#29317 Re-enable the SocketsHttpHandler microbenchmarks
  src/System.Net.Http/tests/Performance/Perf.SocketsHttpHandler.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#29355 Fixing reference to Env: variable on buildefinitions
  buildpipeline/DotNet-CoreFx-Trusted-Windows-NoTest.json
  buildpipeline/DotNet-CoreFx-Trusted-Windows.json
  buildpipeline/DotNet-Trusted-Publish-Symbols.json
  buildpipeline/DotNet-Trusted-Publish.json
  buildpipeline/DotNet-Trusted-Tests-Publish.json
Labels: area-Infrastructure

#29339 Fix regression in SslStream eof handling
  src/System.Net.Security/src/System/Net/Security/SslStreamInternal.cs
  src/System.Net.Security/tests/FunctionalTests/SslStreamStreamToStreamTest.cs
  src/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
Labels: area-System.Net.Security

#29321 [System.Private.Xml.Linq] Rename FunctionalTests classes
  src/System.Private.Xml.Linq/tests/Properties/FunctionalTests.cs
  src/System.Private.Xml.Linq/tests/Properties/ImplicitConversionsRoundTrip.cs
  src/System.Private.Xml.Linq/tests/Properties/XElement_Value.cs
  src/System.Private.Xml.Linq/tests/misc/FunctionalTests.cs
  src/System.Private.Xml.Linq/tests/misc/PrefixNamespaceFixes.cs
  src/System.Private.Xml.Linq/tests/misc/XNameAPI.cs
  src/System.Private.Xml.Linq/tests/xNodeBuilder/CommonTests.cs
  src/System.Private.Xml.Linq/tests/xNodeBuilder/EndOfLineHandlingTests.cs
  src/System.Private.Xml.Linq/tests/xNodeBuilder/ErrorConditions.cs
  src/System.Private.Xml.Linq/tests/xNodeBuilder/FunctionalTests.cs
  src/System.Private.Xml.Linq/tests/xNodeBuilder/OmitDuplicateNamespaceDecl.cs
  src/System.Private.Xml.Linq/tests/xNodeBuilder/OmitDuplicatesAnnotation.cs
  src/System.Private.Xml.Linq/tests/xNodeBuilder/SaveOptions_OmitDuplicateNamespace.cs
  src/System.Private.Xml.Linq/tests/xNodeBuilder/WriterSettings.cs
  src/System.Private.Xml.Linq/tests/xNodeBuilder/XmlFactoryWriterTests.cs
  src/System.Private.Xml.Linq/tests/xNodeReader/CXMLGeneralTest.cs
  src/System.Private.Xml.Linq/tests/xNodeReader/CXMLReaderAttrTest.cs
  src/System.Private.Xml.Linq/tests/xNodeReader/CXmlReaderReadEtc.cs
  src/System.Private.Xml.Linq/tests/xNodeReader/CommonTest.cs
  src/System.Private.Xml.Linq/tests/xNodeReader/ErrorConditions.cs
  src/System.Private.Xml.Linq/tests/xNodeReader/FunctionalTests.cs
  src/System.Private.Xml.Linq/tests/xNodeReader/IntegrityTest.cs
  src/System.Private.Xml.Linq/tests/xNodeReader/ReadBase64.cs
  src/System.Private.Xml.Linq/tests/xNodeReader/ReadBinHex.cs
  src/System.Private.Xml.Linq/tests/xNodeReader/ReadOuterXml.cs
  src/System.Private.Xml.Linq/tests/xNodeReader/ReadSubTree.cs
  src/System.Private.Xml.Linq/tests/xNodeReader/ReadToDescendant.cs
  src/System.Private.Xml.Linq/tests/xNodeReader/ReadToFollowing.cs
  src/System.Private.Xml.Linq/tests/xNodeReader/ReadToNextSibling.cs
  src/System.Private.Xml.Linq/tests/xNodeReader/ReadValue.cs
  src/System.Private.Xml.Linq/tests/xNodeReader/ReaderProperty.cs
  src/System.Private.Xml.Linq/tests/xNodeReader/XNodeReaderAPI.cs
Labels: area-System.Xml
