Repository dotnet/corefx, pull requests merged in 2018-12, with the labels that each got.

#33640 Port System.Drawing.Printing.MarginsConverter
  src/System.Drawing.Common/ref/System.Drawing.Common.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/Margins.cs
  src/System.Windows.Extensions/ref/System.Windows.Extensions.cs
  src/System.Windows.Extensions/src/Resources/Strings.resx
  src/System.Windows.Extensions/src/System.Windows.Extensions.csproj
  src/System.Windows.Extensions/src/System/Drawing/Printing/MarginsConverter.cs
  src/System.Windows.Extensions/tests/System.Windows.Extensions.Tests.csproj
  src/System.Windows.Extensions/tests/System/Drawing/Printing/MarginsConverterTests.cs
Labels: area-System.Drawing

#33345 Store NoCompression entries in System.IO.Compression without wrapping them in Deflate streams, fixes #29735
  src/System.IO.Compression/src/System/IO/Compression/ZipArchiveEntry.cs
  src/System.IO.Compression/tests/CompressionStreamUnitTests.NetFX.cs
  src/System.IO.Compression/tests/Configurations.props
  src/System.IO.Compression/tests/System.IO.Compression.Tests.csproj
  src/System.IO.Compression/tests/ZipArchive/zip_CreateTests.cs
  src/System.IO.Compression/tests/ZipArchive/zip_UpdateTests.cs
Labels: area-System.IO.Compression

#33757 Do not reuse cancellation token registration
  src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeAwaitable.cs
  src/System.IO.Pipelines/tests/Performance/Perf.Pipe.cs
  src/System.IO.Pipelines/tests/ReadAsyncCancellationTests.cs
Labels: area-System.IO.Pipelines

#33824 Remove collectible COM unsupported test
  src/System.Runtime.Loader/tests/CollectibleAssemblyLoadContextTest.Windows.cs
  src/System.Runtime.Loader/tests/System.Runtime.Loader.Tests.csproj
Labels: area-System.Runtime

#33825 Fix SystemNative_SchedGetAffinity
  src/Native/Unix/System.Native/pal_process.c
Labels: area-System.Diagnostics.Process

#33864 Update UAP test package
  eng/dependencies.props
Labels: area-Infrastructure

#33796 Adding the Count property, the IEquatable and IFormattable interfaces, and the standard object overrides to Vector64/128/256<T>
  src/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
Labels: area-System.Runtime.Intrinsics

#33778 Consume configuration system from Arcade
  Directory.Build.props
  Directory.Build.targets
  build.proj
  dir.traversal.targets
  eng/Tools.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/buildvertical.targets
  src/System.Resources.ResourceManager/tests/System.Resources.ResourceManager.Tests.csproj
  src/dirs.proj
  src/packages.builds
  src/tests.builds
Labels: * NO MERGE *

#33914 Fix msbuild xml errors
  src/SharedFrameworkValidation/RestoreSDKProject/RestoreSDKProject.csproj
Labels: area-Infrastructure

#33790 Rewind_Exception test and Advance_Exception test
  src/System.Memory/tests/SequenceReader/Advance.cs
  src/System.Memory/tests/SequenceReader/Rewind.cs
Labels: area-System.Memory

#33920 Update CoreFxTesting arcade package
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-Infrastructure

#33854 Add test for CancellationTokenRegistration.Token after disposal
  src/System.Threading.Tasks/tests/CancellationTokenTests.netcoreapp.cs
Labels: area-System.Threading.Tasks

#33687 Added TryParse to StandardFormat
  src/System.Memory/ref/System.Memory.cs
  src/System.Memory/tests/Configurations.props
  src/System.Memory/tests/ParsersAndFormatters/StandardFormatTests.cs
Labels: area-System.Memory

#33952 HTTP2: Rework send logic and support request body send
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientTestBase.cs
  src/System.Net.Http/tests/FunctionalTests/HttpCookieProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.Http2.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#33995 improve test filter for bogus VPN IPv6 link local addresses
  src/System.Net.Http/tests/FunctionalTests/TestHelper.cs
Labels: area-System.Net

#33990 HTTP2: rework SendHeader logic
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#33665 Add FileStream and int64 overloads to SendPacketsElement (take 2)
  src/System.Net.Sockets/ref/System.Net.Sockets.cs
  src/System.Net.Sockets/src/Resources/Strings.resx
  src/System.Net.Sockets/src/System.Net.Sockets.csproj
  src/System.Net.Sockets/src/System/Net/Sockets/SendPacketsElement.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SendPacketsElementFlags.Unix.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SendPacketsElementFlags.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Unix.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs
  src/System.Net.Sockets/tests/FunctionalTests/SendPacketsAsync.cs
  src/System.Net.Sockets/tests/FunctionalTests/SendPacketsAsync.netcoreapp.cs
  src/System.Net.Sockets/tests/FunctionalTests/SendPacketsElementTest.cs
  src/System.Net.Sockets/tests/FunctionalTests/SendPacketsElementTest.netcoreapp.cs
  src/System.Net.Sockets/tests/FunctionalTests/System.Net.Sockets.Tests.csproj
Labels: area-System.Net.Sockets

#33843 Don't create a ROS to compute the length.
  src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs
Labels: area-System.IO.Pipelines

#33992 Address MetadataLoadContext review feedback
  src/System.Reflection.MetadataLoadContext/Directory.Build.props
  src/System.Reflection.MetadataLoadContext/pkg/System.Reflection.MetadataLoadContext.pkgproj
  src/System.Reflection.MetadataLoadContext/ref/System.Reflection.MetadataLoadContext.csproj
  src/System.Reflection.MetadataLoadContext/src/Configurations.props
  src/System.Reflection.MetadataLoadContext/src/Resources/Strings.resx
  src/System.Reflection.MetadataLoadContext/src/System/Reflection/DefaultBinder.CanConvert.cs
  src/System.Reflection.MetadataLoadContext/src/System/Reflection/DefaultBinder.cs
  src/System.Reflection.MetadataLoadContext/src/System/Reflection/MetadataAssemblyResolver.cs
  src/System.Reflection.MetadataLoadContext/src/System/Reflection/MetadataLoadContext.CoreAssembly.cs
  src/System.Reflection.MetadataLoadContext/src/System/Reflection/Runtime/AssemblyNameHelpers.cs
  src/System.Reflection.MetadataLoadContext/src/System/Reflection/TypeLoading/General/Ecma/EcmaResolver.cs
  src/System.Reflection.MetadataLoadContext/src/System/Reflection/TypeLoading/General/Ecma/EcmaToStringHelpers.cs
  src/System.Reflection.MetadataLoadContext/tests/System.Reflection.MetadataLoadContext.Tests.csproj
Labels: area-System.Reflection, enhancement

#34035 Don't lose continuation on multiple FlushAsync call
  src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeAwaitable.cs
  src/System.IO.Pipelines/tests/FlushAsyncTests.cs
  src/System.IO.Pipelines/tests/PipeReaderWriterFacts.cs
  src/System.IO.Pipelines/tests/System.IO.Pipelines.Tests.csproj
Labels: area-System.IO.Pipelines

#34058 HTTP2: implement outbound flow control
  src/Common/tests/System/Net/Http/Http2Frames.cs
  src/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/CreditManager.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.Http2.cs
  src/System.Net.Http/tests/FunctionalTests/TestHelper.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#34047 Optimize SqlClient query memory allocation
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlCommand.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlConnection.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlUtil.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObject.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObjectNative.cs
Labels: area-System.Data.SqlClient

#34082 [Darc-Update] Update dependencies from build 20181213.4 of https://github.com/dotnet/arcade
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/PublishBuildAssets.cmd
  eng/common/templates/job/job.yml
  eng/common/templates/job/publish-build-assets.yml
  eng/common/templates/jobs/jobs.yml
  global.json
Labels: area-Infrastructure

#33793 Fix SendAsync/SendMailAsync fails with DeliveryFormat=SmtpDeliveryFormat.SevenBit
  src/System.Net.Mail/src/System/Net/Mail/SmtpClient.cs
  src/System.Net.Mail/tests/Functional/SmtpClientTest.cs
  src/System.Net.Mail/tests/Functional/SmtpServer.cs
Labels: area-System.Net

#33785 Cleanup IPv6AddressHelper to use Span<T> where possible.
  src/Common/src/System/Net/IPv6AddressHelper.Common.cs
  src/System.Net.Primitives/src/System.Net.Primitives.csproj
  src/System.Net.Primitives/src/System/Net/IPAddressParser.cs
  src/System.Net.Primitives/src/System/Net/IPv4AddressHelper.cs
  src/System.Net.Primitives/src/System/Net/IPv6AddressHelper.cs
  src/System.Net.Primitives/tests/PalTests/System.Net.Primitives.Pal.Tests.csproj
  src/System.Net.Primitives/tests/UnitTests/Fakes/IPv6AddressHelper.cs
  src/System.Private.Uri/src/System/IPv6AddressHelper.cs
Labels: area-System.Net

#33755 Avoid using array pool when only one completion callback is registered
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeCompletion.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeCompletionCallback.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeCompletionCallbacks.cs
Labels: area-System.IO.Pipelines

#34040 Update SqlClient manual test feature detection
  src/System.Data.SqlClient/tests/ManualTests/DataCommon/DataTestUtility.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlNotificationTest/SqlNotificationTest.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UdtBulkCopyTest.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UdtTest.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UdtTest2.cs
Labels: area-System.Data.SqlClient

#34089 catch exception in ssl handshake so it can be propagated to async caller
  src/System.Net.Security/src/System/Net/Security/SslState.cs
Labels: area-System.Net.Security

#33781 Optimize BitArray APIs using Sse2
  src/System.Collections/src/System/Collections/BitArray.cs
Labels: area-System.Collections

#34048 Optimize SqlClient primitive type writes
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObject.cs
Labels: area-System.Data.SqlClient

#33580 Optimize SqlClient connection pool performance
  src/System.Data.SqlClient/src/System/Data/ProviderBase/DbConnectionPoolIdentity.Windows.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.cs
Labels: area-System.Data.SqlClient

#32668 File IO
  src/Microsoft.VisualBasic/Microsoft.VisualBasic.sln
  src/Microsoft.VisualBasic/ref/Configurations.props
  src/Microsoft.VisualBasic/ref/Microsoft.VisualBasic.cs
  src/Microsoft.VisualBasic/src/Configurations.props
  src/Microsoft.VisualBasic/src/Microsoft.VisualBasic.vbproj
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/CompilerServices/ExceptionUtils.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/CompilerServices/OptionTextAttribute.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/FileIO/FileSystem.Unix.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/FileIO/FileSystem.Windows.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/FileIO/FileSystem.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/FileIO/MalformedLineException.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/FileIO/SpecialDirectories.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/FileIO/TextFieldParser.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/Globals.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/Helpers/NativeMethods.Windows.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/Helpers/NativeTypes.vb
  src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/Helpers/UnsafeNativeMethods.vb
  src/Microsoft.VisualBasic/src/Resources/Strings.resx
  src/Microsoft.VisualBasic/tests/VB/Dummy.vb
  src/Microsoft.VisualBasic/tests/VB/FileIOTestBase.vb
  src/Microsoft.VisualBasic/tests/VB/FileIOTests.vb
  src/Microsoft.VisualBasic/tests/VB/Helpers.vb
  src/Microsoft.VisualBasic/tests/VB/Microsoft.VisualBasic.VB.Tests.vbproj
  src/Microsoft.VisualBasic/tests/VB/SpecialDirectoriesTests.vb
  src/Microsoft.VisualBasic/tests/VB/TextFieldParserTests.vb
  src/System.IO.FileSystem/src/System/IO/FileSystem.Windows.cs
Labels: area-Microsoft.VisualBasic

#34131 HTTP2: Respect SETTINGS_INITIAL_WINDOW_SIZE and rework SendAsync code structure
  src/Common/tests/System/Net/Http/Http2Frames.cs
  src/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.Http2.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#34119 Linux NetworkInterface.GetIPStatistics - handle values > uint.MaxValue
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/StringParsingHelpers.Statistics.cs
  src/System.Net.NetworkInformation/tests/FunctionalTests/NetworkFiles/dev
  src/System.Net.NetworkInformation/tests/FunctionalTests/StatisticsParsingTests.cs
Labels: area-System.Net, os-linux

#34091 Remove [Out] by-value string parameter usage from System.Management.
  src/System.Management/src/System/Management/InteropClasses/WMIInterop.cs
  src/System.Management/src/System/Management/ManagementPath.cs
Labels: area-System.Management

#33788 Added AssociatedMetadataTypeTypeDescriptionProvider & MetadataTypeAttribute to S.CM.DA
  src/System.ComponentModel.Annotations/ref/System.ComponentModel.Annotations.cs
  src/System.ComponentModel.Annotations/ref/System.ComponentModel.Annotations.csproj
  src/System.ComponentModel.Annotations/src/Resources/Strings.resx
  src/System.ComponentModel.Annotations/src/System.ComponentModel.Annotations.csproj
  src/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/AssociatedMetadataTypeTypeDescriptionProvider.cs
  src/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/AssociatedMetadataTypeTypeDescriptor.cs
  src/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/MetadataPropertyDescriptorWrapper.cs
  src/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/MetadataTypeAttribute.cs
  src/System.ComponentModel.Annotations/tests/System.ComponentModel.Annotations.Tests.csproj
  src/System.ComponentModel.Annotations/tests/System/ComponentModel/DataAnnotations/AssociatedMetadataTypeTypeDescriptionProviderTests.cs
  src/System.ComponentModel.Annotations/tests/System/ComponentModel/DataAnnotations/MetadataTypeAttributeTests.cs
Labels: area-System.ComponentModel.DataAnnotations

#34165 Change configure checks from arc4random to arc4random_buf since this is what is actually used. Some platforms like WebAssembly don't have the latter.
  src/Native/Unix/Common/pal_config.h.in
  src/Native/Unix/System.Native/pal_random.c
  src/Native/Unix/configure.cmake
Labels: area-Meta

#33865 Share CFRunLoop for FSEventStreams in FileSystemWatcher on OSX
  src/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.OSX.cs
  src/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.File.Create.cs
  src/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.MultipleWatchers.cs
  src/System.IO.FileSystem.Watcher/tests/System.IO.FileSystem.Watcher.Tests.csproj
  src/System.IO.FileSystem.Watcher/tests/Utility/FileSystemWatcherTest.cs
Labels: area-System.IO

#34168 [Darc-Update] Update dependencies to 2.2.0-beta.18619.2
  build.proj
  eng/Build.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/PublishToPackageFeed.proj
  eng/common/build.ps1
  global.json
Labels: area-Infrastructure

#33660 Enable BeginExecuteReader methods
  src/System.Data.SqlClient/ref/System.Data.SqlClient.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlCommand.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlDependencyListener.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/AsyncTest/BeginExecReaderAsyncTest.cs
  src/System.Data.SqlClient/tests/ManualTests/System.Data.SqlClient.ManualTesting.Tests.csproj
Labels: area-System.Data.SqlClient

#34170 fix process tests on FreeBSD
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.FreeBSD.cs
  src/System.Diagnostics.Process/tests/ProcessTests.cs
Labels: area-System.Diagnostics.Process, os-freebsd

#33439 Change Helix queue to 18.04
  buildpipeline/linux.arm64.groovy
Labels: area-Infrastructure

#34186 Update coverlet and enable sourcelink paths
  eng/dependencies.props
  src/Directory.Build.props
Labels: area-Infrastructure

#34194 Fix calling build script for perf runs
  perf.groovy
Labels: area-Infrastructure

#34171 Stabilize System.Net.NameResolution.Pal.Tests on FreeBSD
  src/System.Net.NameResolution/tests/PalTests/NameResolutionPalTests.cs
Labels: area-System.Net, os-freebsd, test bug

#34184 Optimize SqlClient SNIPacket async paths
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIPacket.NetCoreApp.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIPacket.NetStandard.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIPacket.cs
Labels: area-System.Data.SqlClient

#34044 Optimize SqlClient tds state to remove handle boxing
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
  src/System.Data.SqlClient/src/System/Data/SqlClient/PacketHandle.Unix.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/PacketHandle.Windows.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIMarsHandle.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIPacket.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SessionHandle.Unix.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SessionHandle.Windows.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.Windows.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserSafeHandles.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObject.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObjectFactory.Windows.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObjectManaged.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObjectNative.cs
Labels: area-System.Data.SqlClient

#34188 Improve handling of disallowed HTTP/2 frames
  src/Common/tests/System/Net/Http/Http2Frames.cs
  src/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.Http2.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#34116 Fix `XmlUtf8RawTextWriter` out of bounds read.
  src/System.Private.Xml/src/System/Xml/Core/XmlEncodedRawTextWriter.cs
  src/System.Private.Xml/src/System/Xml/Core/XmlEncodedRawTextWriterAsync.cs
  src/System.Private.Xml/src/System/Xml/Core/XmlUtf8RawTextWriter.cs
  src/System.Private.Xml/src/System/Xml/Core/XmlUtf8RawTextWriterAsync.cs
Labels: area-System.Xml

#34191 Reliability fix for secure context
  src/Common/src/Interop/Windows/sspicli/SecuritySafeHandles.cs
Labels: area-System.Net.Security

#34167 Ensure that the existing Vector2/Vector3/Vector4 intrinsic methods are marked as such.
  src/System.Numerics.Vectors/src/System/Numerics/Vector2.cs
  src/System.Numerics.Vectors/src/System/Numerics/Vector2_Intrinsics.cs
  src/System.Numerics.Vectors/src/System/Numerics/Vector3.cs
  src/System.Numerics.Vectors/src/System/Numerics/Vector3_Intrinsics.cs
  src/System.Numerics.Vectors/src/System/Numerics/Vector4.cs
  src/System.Numerics.Vectors/src/System/Numerics/Vector4_Intrinsics.cs
Labels: area-System.Numerics

#34135 Fixed IPv6 address parsing on Linux from /proc/net/tcp6, /proc/net/udp6
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/StringParsingHelpers.Connections.cs
  src/System.Net.NetworkInformation/tests/FunctionalTests/AddressParsingTests.cs
  src/System.Net.NetworkInformation/tests/FunctionalTests/ConnectionsParsingTests.cs
  src/System.Net.NetworkInformation/tests/FunctionalTests/IPGlobalPropertiesTest.cs
  src/System.Net.NetworkInformation/tests/FunctionalTests/NetworkFiles/tcp6
  src/System.Net.NetworkInformation/tests/FunctionalTests/NetworkFiles/udp6
Labels: area-System.Net, os-linux

#33000 Optimize ReadOnlySequence.First for the common case
  src/System.Memory/src/System/Buffers/ReadOnlySequence.Helpers.cs
  src/System.Memory/src/System/Buffers/ReadOnlySequence.cs
Labels: area-System.Memory
