Repository dotnet/corefx, pull requests merged in 2018-02, with the labels that each got.

#26981 Add Ubuntu 18 to supported Linux list
  buildpipeline/DotNet-CoreFx-Trusted-Linux.json
  buildpipeline/pipeline.json
Labels: area-Infrastructure

#26878 minimal support for ManagedHandler proxy configuration on Windows
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpEnvironmentProxy.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpProxyConnectionHandler.Unix.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpProxyConnectionHandler.Windows.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpProxyConnectionHandler.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpSystemProxy.cs
  src/System.Net.Http/tests/UnitTests/HttpEnvironmentProxyTest.cs
  src/System.Net.Http/tests/UnitTests/HttpSystemProxyTest.cs
  src/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
Labels: area-System.Net.Http.ManagedHandler

#26997 Trying to collect info about ping test failures in macOS 10.12
  src/System.Net.Ping/tests/FunctionalTests/UnixPingUtilityTests.cs
Labels: area-System.Net

#27010 Restrict the Long Running option to MARS
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIHandle.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIMarsConnection.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIMarsHandle.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNINpHandle.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIPacket.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIProxy.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNITcpHandle.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObjectFactory.Windows.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObjectManaged.cs
Labels: area-System.Data.SqlClient

#27019 Fix Unix enumeration
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Unix.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Windows.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.cs
Labels: area-System.IO

#26915 Add Hebrew Months test
  src/System.Globalization/tests/DateTimeFormatInfo/DateTimeFormatInfoTests.cs
Labels: area-System.Globalization

#26931 Add FileStream tests for custom OwnedMemory with Read/WriteAsync
  src/System.IO.FileSystem/tests/FileStream/ReadWriteSpan.netcoreapp.cs
  src/System.IO.FileSystem/tests/System.IO.FileSystem.Tests.csproj
Labels: area-System.IO

#27024 Fix *Info classes for Unix when opened on root
  src/System.IO.FileSystem/src/System/IO/FileStatus.Unix.cs
  src/System.IO.FileSystem/tests/DirectoryInfo/Exists.cs
Labels: area-System.IO

#27040 Add SocketsHttpHandler check for TransferEncodingChunked w/o Content
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlHandler.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#26989 SocketsHttpHandler: Fix some issues with cookie handling, and add cookie tests
  src/Common/tests/System/Net/Http/LoopbackServer.cs
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/CookieHandler.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/CookieHelper.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionSettings.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpCookieProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/HttpRetryProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/System.Net.Requests/tests/System.Net.Requests.Tests.csproj
  src/System.Net.WebSockets.Client/tests/System.Net.WebSockets.Client.Tests.csproj
Labels: area-System.Net.Http.SocketsHttpHandler

#27043 Tweak CurlHandler SSL not supported messages to be more helpful
  src/System.Net.Http/src/Resources/Strings.resx
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlHandler.SslProvider.Linux.cs
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlHandler.SslProvider.OSX.cs
Labels: area-System.Net.Http, os-linux

#25918 Allow RangeAttribute use to request InvariantCulture conversions.
  src/System.ComponentModel.Annotations/ref/System.ComponentModel.Annotations.cs
  src/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/RangeAttribute.cs
  src/System.ComponentModel.Annotations/tests/RangeAttributeTests.cs
Labels: area-System.ComponentModel.DataAnnotations

#27061 Fix HttpClientMiniStress.UnreadResponseMessage_Collectible test
  src/System.Net.Http/tests/FunctionalTests/HttpClientMiniStressTest.cs
Labels: area-System.Net.Http, test bug

#26592 Fix load assembly without location issue2
  src/System.Private.Xml/src/System/Xml/Serialization/Compilation.cs
Labels: Servicing-Approved-2.0.7, area-Serialization

#26864 Clear Authorization Headers on Redirect
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpRequestCallback.cs
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlHandler.EasyRequest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http

#27036 Disable drawing test for distro Ubuntu18.04
  src/CoreFx.Private.TestUtilities/ref/CoreFx.Private.TestUtilities.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.Unix.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.Windows.cs
  src/System.Drawing.Common/tests/Imaging/EncoderParameterTests.cs
Labels: area-System.Drawing

#27052 Switch from using SafeHandle for Unix enumeration
  src/Common/src/Interop/Unix/System.Native/Interop.ReadDir.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Unix.cs
  src/System.IO.FileSystem/tests/Enumeration/ErrorHandlingTests.netcoreapp.cs
  src/System.IO.FileSystem/tests/System.IO.FileSystem.Tests.csproj
Labels: area-System.IO

#26908 Update Sgen version to 2.0 and assembly version to 2.0 in 2.1 release branch
  src/Microsoft.XmlSerializer.Generator/dir.props
Labels: area-Serialization

#27069 Cache SslClientAuthenticationOptions on SocketsHttpHandler pool
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#27068 Fix SocketsHttpHandler connection pool accounting for dropped connections
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ChunkedEncodingReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ChunkedEncodingWriteStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectionCloseReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ContentLengthReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ContentLengthWriteStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/EmptyReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionContent.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionHandler.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPools.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpProxyConnectionHandler.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/RawConnectionStream.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.MaxConnectionsPerServer.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#26744 Added tests for Microsoft.VisualBasic.CompilerServices.Conversions #1…
  src/Microsoft.VisualBasic/tests/ConversionsTests.cs
  src/Microsoft.VisualBasic/tests/Microsoft.VisualBasic.Tests.csproj
Labels: area-Microsoft.VisualBasic

#27029 Enable SocketsHttpHandler cancellation support
  src/Common/src/System/Net/Http/NoWriteNoSeekStreamContent.cs
  src/Common/src/System/Net/Logging/NetEventSource.Common.cs
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpResponseParser.cs
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlHandler.CurlResponseMessage.cs
  src/System.Net.Http/src/System/Net/Http/HttpClient.cs
  src/System.Net.Http/src/System/Net/Http/HttpContent.cs
  src/System.Net.Http/src/System/Net/Http/NetEventSource.Http.cs
  src/System.Net.Http/src/System/Net/Http/ReadOnlyMemoryContent.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ChunkedEncodingReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ChunkedEncodingWriteStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectionCloseReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ContentLengthReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ContentLengthWriteStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/DecompressionHandler.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/EmptyReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionResponseContent.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentDuplexStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentWriteStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/RawConnectionStream.cs
  src/System.Net.Http/tests/FunctionalTests/CancellationTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cancellation.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Labels: area-System.Net.Http.SocketsHttpHandler

#27073 Fixing test CurrencyNegativePattern_Get() on distro Ubuntu18.04
  src/System.Globalization/tests/NumberFormatInfo/NumberFormatInfoCurrencyNegativePattern.cs
Labels: area-System.Globalization

#27079 Change HTTP default request version to HTTP/2
  src/System.Net.Http/src/System/Net/Http/HttpUtilities.cs
  src/System.Net.Http/tests/FunctionalTests/HttpRequestMessageTest.cs
Labels: area-System.Net.Http

#27007 Add System.IO.Pipelines API
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  pkg/descriptions.json
  src/System.IO.Pipelines/System.IO.Pipelines.sln
  src/System.IO.Pipelines/dir.props
  src/System.IO.Pipelines/pkg/System.IO.Pipelines.pkgproj
  src/System.IO.Pipelines/ref/Configurations.props
  src/System.IO.Pipelines/ref/System.IO.Pipelines.cs
  src/System.IO.Pipelines/ref/System.IO.Pipelines.csproj
  src/System.IO.Pipelines/src/Configurations.props
  src/System.IO.Pipelines/src/Properties/InternalsVisibleTo.cs
  src/System.IO.Pipelines/src/Resources/Strings.resx
  src/System.IO.Pipelines/src/System.IO.Pipelines.csproj
  src/System.IO.Pipelines/src/System/IO/Pipelines/BufferSegment.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/FlushResult.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/IPipeAwaiter.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/IPipeConnection.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/InlineScheduler.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.DefaultPipeReader.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.DefaultPipeWriter.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeAwaitable.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeAwaiter.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeCompletion.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeCompletionCallback.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeCompletionCallbacks.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeOptions.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeReader.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeReaderState.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeScheduler.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeWriter.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/ReadResult.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/ResultFlags.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/ThreadPoolScheduler.NetCoreApp21.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/ThreadPoolScheduler.NetStandard.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/ThreadPoolScheduler.NetStandard20.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/ThrowHelper.cs
  src/System.IO.Pipelines/tests/BackpressureTests.cs
  src/System.IO.Pipelines/tests/Configurations.props
  src/System.IO.Pipelines/tests/FlushAsyncCancellationTests.cs
  src/System.IO.Pipelines/tests/FlushAsyncCompletionTests.cs
  src/System.IO.Pipelines/tests/FlushResultTests.cs
  src/System.IO.Pipelines/tests/PipeCompletionCallbacksTests.cs
  src/System.IO.Pipelines/tests/PipeLengthTests.cs
  src/System.IO.Pipelines/tests/PipePoolTests.cs
  src/System.IO.Pipelines/tests/PipeReaderWriterFacts.cs
  src/System.IO.Pipelines/tests/PipeResetTests.cs
  src/System.IO.Pipelines/tests/PipeTest.cs
  src/System.IO.Pipelines/tests/PipeWriterTests.cs
  src/System.IO.Pipelines/tests/ReadAsyncCancellationTests.cs
  src/System.IO.Pipelines/tests/ReadAsyncCompletionTests.cs
  src/System.IO.Pipelines/tests/ReadResultTests.cs
  src/System.IO.Pipelines/tests/SchedulerFacts.cs
  src/System.IO.Pipelines/tests/System.IO.Pipelines.Tests.csproj
  src/System.IO.Pipelines/tests/TestMemoryPool.cs
  src/System.Memory/ref/System.Memory.cs
  src/System.Memory/src/System.Memory.csproj
  src/System.Memory/src/System/Buffers/BuffersExtensions.cs
  src/System.Memory/src/System/Buffers/IBufferWriter.cs
Labels: area-System.IO.Pipelines

#27102 API tweaks to match latest updates to spec
  src/System.IO.FileSystem/ref/System.IO.FileSystem.cs
  src/System.IO.FileSystem/src/System.IO.FileSystem.csproj
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEntry.Unix.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerable.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Unix.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Windows.cs
  src/System.IO.FileSystem/src/System/IO/EnumerationOptions.cs
  src/System.IO.FileSystem/src/System/IO/MatchCasing.cs
  src/System.IO.FileSystem/src/System/IO/MatchType.cs
  src/System.IO.FileSystem/src/System/IO/PathHelpers.cs
  src/System.IO.FileSystem/tests/Directory/GetFileSystemEntries_str.cs
  src/System.IO.FileSystem/tests/Enumeration/IncludePredicateTests.netcoreapp.cs
  src/System.IO.FileSystem/tests/Enumeration/SkipAttributeTests.netcoreapp.cs
  src/System.IO.FileSystem/tests/Enumeration/SpecialDirectoryTests.netcoreapp.cs
  src/System.IO.FileSystem/tests/System.IO.FileSystem.Tests.csproj
Labels: area-System.IO

#27103 Add FixedTimeEquals and other crypto helper routines as public API
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.Digest.cs
  src/System.Security.Cryptography.Algorithms/ref/System.Security.Cryptography.Algorithms.netcoreapp.cs
  src/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/RandomNumberGeneratorImplementation.OSX.cs
  src/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/RandomNumberGeneratorImplementation.Unix.cs
  src/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/RandomNumberGeneratorImplementation.Windows.cs
  src/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/RandomNumberGeneratorImplementation.cs
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/RandomNumberGenerator.cs
  src/System.Security.Cryptography.Algorithms/tests/RandomNumberGeneratorTests.netcoreapp.cs
  src/System.Security.Cryptography.Primitives/System.Security.Cryptography.Primitives.sln
  src/System.Security.Cryptography.Primitives/ref/System.Security.Cryptography.Primitives.cs
  src/System.Security.Cryptography.Primitives/ref/System.Security.Cryptography.Primitives.csproj
  src/System.Security.Cryptography.Primitives/src/System.Security.Cryptography.Primitives.csproj
  src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/CryptographicOperations.cs
  src/System.Security.Cryptography.Primitives/tests/FixedTimeEqualsTests.cs
  src/System.Security.Cryptography.Primitives/tests/Performance/Configurations.props
  src/System.Security.Cryptography.Primitives/tests/Performance/Perf.FixedTimeEquals.cs
  src/System.Security.Cryptography.Primitives/tests/Performance/System.Security.Cryptography.Primitives.Performance.Tests.csproj
  src/System.Security.Cryptography.Primitives/tests/System.Security.Cryptography.Primitives.Tests.csproj
  src/System.Security.Cryptography.Primitives/tests/ZeroMemoryTests.cs
Labels: area-System.Security

#27088 reorganize and cleanup some LoopbackServer code
  src/Common/tests/System/Net/Http/LoopbackServer.cs
  src/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs
  src/System.Net.Http/tests/FunctionalTests/DribbleStream.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.AcceptAllCerts.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cancellation.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ClientCertificates.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.MaxConnectionsPerServer.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.MaxResponseHeadersLength.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.SslProtocols.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientMiniStressTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpCookieProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/HttpProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/HttpRetryProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/IdnaProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/ResponseStreamTest.cs
  src/System.Net.Http/tests/FunctionalTests/SchSendAuxRecordHttpTest.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/System.Net.Http/tests/FunctionalTests/TestHelper.cs
  src/System.Net.Requests/tests/HttpWebRequestTest.cs
  src/System.Net.Requests/tests/HttpWebResponseHeaderTest.cs
  src/System.Net.Requests/tests/HttpWebResponseTest.cs
  src/System.Net.WebClient/tests/WebClientTest.cs
  src/System.Net.WebSockets.Client/tests/ClientWebSocketOptionsTests.cs
  src/System.Net.WebSockets.Client/tests/LoopbackHelper.cs
  src/System.Net.WebSockets.Client/tests/SendReceiveTest.cs
  src/System.Net.WebSockets.Client/tests/System.Net.WebSockets.Client.Tests.csproj
Labels: area-System.Net.Http, test enhancement

#26976 Add support for PDB Checksum debug directory entry
  src/System.Private.Reflection.Metadata.Ecma335/src/Resources/Strings.resx
  src/System.Private.Reflection.Metadata.Ecma335/src/System.Private.Reflection.Metadata.Ecma335.csproj
  src/System.Reflection.Metadata/src/Resources/Strings.resx
  src/System.Reflection.Metadata/src/System.Reflection.Metadata.csproj
  src/System.Reflection.Metadata/src/System/Reflection/Metadata/MetadataReader.cs
  src/System.Reflection.Metadata/src/System/Reflection/Metadata/PortablePdb/DebugMetadataHeader.cs
  src/System.Reflection.Metadata/src/System/Reflection/PortableExecutable/DebugDirectory/DebugDirectoryBuilder.EmbeddedPortablePdb.cs
  src/System.Reflection.Metadata/src/System/Reflection/PortableExecutable/DebugDirectory/DebugDirectoryBuilder.cs
  src/System.Reflection.Metadata/src/System/Reflection/PortableExecutable/DebugDirectory/DebugDirectoryEntryType.cs
  src/System.Reflection.Metadata/src/System/Reflection/PortableExecutable/DebugDirectory/PdbChecksumDebugDirectoryData.cs
  src/System.Reflection.Metadata/src/System/Reflection/PortableExecutable/PEReader.cs
  src/System.Reflection.Metadata/src/System/Reflection/Throw.cs
  src/System.Reflection.Metadata/tests/Metadata/MetadataReaderTests.cs
  src/System.Reflection.Metadata/tests/Metadata/PortablePdb/StandalonePortablePdbStreamTests.cs
  src/System.Reflection.Metadata/tests/PortableExecutable/DebugDirectoryBuilderTests.cs
  src/System.Reflection.Metadata/tests/PortableExecutable/DebugDirectoryTests.cs
Labels: area-System.Reflection.Metadata

#26877 reduce regex op code time
  src/System.Text.RegularExpressions/src/System.Text.RegularExpressions.csproj
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexWriter.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/ResizableValueListBuilder.cs
Labels: area-System.Runtime

#27133 Add some pattern transformation tests
  src/System.IO.FileSystem/tests/Enumeration/PatternTransformTests.netcoreapp.cs
  src/System.IO.FileSystem/tests/System.IO.FileSystem.Tests.csproj
Labels: area-System.IO

#27131 Remove a SignalAndWait test so that relevant change in CoreCLR can be brought into CoreFX
  src/System.Runtime/tests/System/Threading/WaitHandleTests.cs
Labels: area-System.Threading

#27138 Fixing fa-IR neg currency format for test GetCurrencyNegativePattern
  src/System.Globalization/tests/NumberFormatInfo/NumberFormatInfoData.cs
Labels: area-System.Globalization

#27139 Fixing fa-IR neg. currency format for test GetCurrencyNegativePattern
  src/System.Globalization/tests/NumberFormatInfo/NumberFormatInfoData.cs
Labels: area-System.Globalization

#27150 Cleaning out dead code
  src/Common/src/Interop/Windows/kernel32/Interop.GetLongPathName.cs
  src/Common/src/System/IO/PathInternal.Unix.cs
  src/Common/src/System/IO/PathInternal.Windows.cs
  src/Common/src/System/IO/PathInternal.cs
  src/Common/tests/Common.Tests.csproj
  src/Common/tests/Tests/System/IO/PathInternal.Tests.cs
  src/Common/tests/Tests/System/IO/PathInternal.Windows.Tests.cs
  src/Common/tests/Tests/System/IO/PathInternal_Unix_Tests.cs
  src/System.IO.Compression/src/System.IO.Compression.csproj
  src/System.IO.FileSystem.DriveInfo/src/System.IO.FileSystem.DriveInfo.csproj
  src/System.IO.FileSystem.Watcher/src/System.IO.FileSystem.Watcher.csproj
  src/System.IO.FileSystem/System.IO.FileSystem.sln
  src/System.IO.FileSystem/src/System.IO.FileSystem.csproj
  src/System.IO.FileSystem/src/System/IO/DirectoryInfo.Unix.cs
  src/System.IO.FileSystem/src/System/IO/DirectoryInfo.Windows.cs
  src/System.IO.FileSystem/src/System/IO/DirectoryInfo.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEntry.Unix.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEntry.Windows.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Unix.cs
  src/System.IO.FileSystem/src/System/IO/FileInfo.Unix.cs
  src/System.IO.FileSystem/src/System/IO/FileInfo.Windows.cs
  src/System.IO.FileSystem/src/System/IO/FileStatus.Unix.cs
  src/System.IO.FileSystem/src/System/IO/FileSystemInfo.Unix.cs
  src/System.IO.FileSystem/src/System/IO/FileSystemInfo.Windows.cs
  src/System.IO.FileSystem/src/System/IO/PathHelpers.Unix.cs
  src/System.IO.FileSystem/src/System/IO/PathHelpers.Windows.cs
  src/System.IO.FileSystem/src/System/IO/PathHelpers.cs
  src/System.IO.Ports/src/System.IO.Ports.csproj
  src/System.Runtime.Extensions/src/System.Runtime.Extensions.csproj
  src/System.Runtime.Extensions/src/System/Environment.Windows.cs
  src/System.Runtime.Extensions/src/System/Environment.cs
Labels: area-System.IO

#27158 Made a few tweaks to pipelines
  src/System.IO.Pipelines/src/System.IO.Pipelines.csproj
  src/System.IO.Pipelines/src/System/IO/Pipelines/IDuplexPipe.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeOptions.cs
  src/System.IO.Pipelines/tests/BackpressureTests.cs
  src/System.IO.Pipelines/tests/PipeCompletionCallbacksTests.cs
  src/System.IO.Pipelines/tests/PipeLengthTests.cs
  src/System.IO.Pipelines/tests/PipePoolTests.cs
  src/System.IO.Pipelines/tests/PipeReaderWriterFacts.cs
  src/System.IO.Pipelines/tests/PipeResetTests.cs
  src/System.IO.Pipelines/tests/PipeTest.cs
  src/System.IO.Pipelines/tests/SchedulerFacts.cs
Labels: area-System.IO.Pipelines

#27104 Remove more orphaned code in Microsoft.CSharp
  src/Microsoft.CSharp/src/Microsoft.CSharp.csproj
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/BinderHelper.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/Symbols/Symbol.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/Tree/ExprWithArgs.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/Tree/Field.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/Tree/IExprWithObject.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/Tree/MemberGroup.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/SpecialNames.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/SymbolTable.cs
Labels: area-Microsoft.CSharp

#26947 Initialized a bool variable in XmlSerializationReader.cs to fix warning
  src/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationReader.cs
Labels: area-Serialization

#27148 Fix race condition in PostAsyncExpect100Continue_RetryOnConnectionClosed_Success test
  src/Common/tests/System/Net/Http/LoopbackServer.cs
  src/System.Net.Http/tests/FunctionalTests/HttpRetryProtocolTests.cs
Labels: area-System.Net.Http.SocketsHttpHandler, test bug

#27163 Streamline SocketHttpHandler's ParseStatusLine validation
  src/System.Net.Http/src/System/Net/Http/HttpResponseMessage.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/tests/FunctionalTests/HttpProtocolTests.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#27151 SocketsHttpHandler: refactor pool manager logic to enable SSL proxy tunneling support
  src/System.Net.Http/src/Resources/Strings.resx
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/HttpMethod.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionHandler.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionKey.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPoolManager.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpProxyConnectionHandler.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#27146 Fix regression & enable ClearInitLocals in System.Text.RegularExpressions
  src/Common/src/CoreLib/System/Collections/Generic/ValueListBuilder.cs
  src/System.Text.RegularExpressions/src/System.Text.RegularExpressions.csproj
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexWriter.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/ResizableValueListBuilder.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/ValueListBuilder.Pop.cs
Labels: area-System.Text.RegularExpressions

#27134 Change RootDirectory properties to span
  src/System.IO.FileSystem/ref/System.IO.FileSystem.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEntry.Unix.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEntry.Windows.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Windows.cs
  src/System.IO.FileSystem/src/System/IO/PathHelpers.cs
Labels: area-System.IO

#27184 Remove FileSystem unused common files
  src/System.IO.FileSystem/System.IO.FileSystem.sln
  src/System.IO.FileSystem/src/System.IO.FileSystem.csproj
Labels: area-System.IO

#27176 Modify StreamContent to use default CopyToAsync buffer size when no size is provided
  src/System.Net.Http/src/System/Net/Http/StreamContent.cs
  src/System.Net.Http/src/System/Net/Http/StreamToStreamCopy.cs
  src/System.Net.Http/tests/FunctionalTests/StreamContentTest.cs
Labels: area-System.Net.Http

#27194 Remove unsafe from Uri.HexEscape in favor of string.Create
  src/System.Private.Uri/src/System/Uri.cs
Labels: area-System.Net

#27135 Improve test coverage of SocketsHttpHandler
  src/Common/src/System/Net/HttpStatusDescription.cs
  src/Common/tests/System/Net/Configuration.Certificates.cs
  src/CoreFx.Private.TestUtilities/ref/CoreFx.Private.TestUtilities.cs
  src/CoreFx.Private.TestUtilities/src/System/Diagnostics/RemoteExecutorTestBase.cs
  src/System.IO.Pipes/tests/AnonymousPipeTests/AnonymousPipeTest.CrossProcess.cs
  src/System.IO.Pipes/tests/NamedPipeTests/NamedPipeTest.CrossProcess.cs
  src/System.IO.Pipes/tests/NamedPipeTests/NamedPipeTest.RunAsClient.Unix.cs
  src/System.Net.Http/src/System/Net/Http/ByteArrayHelpers.cs
  src/System.Net.Http/src/System/Net/Http/Headers/HttpHeaderParser.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ChunkedEncodingReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ChunkedEncodingWriteStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectionCloseReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ContentLengthReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ContentLengthWriteStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/DecompressionHandler.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/EmptyReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentDuplexStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentWriteStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpProxyConnectionHandler.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpSystemProxy.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/RawConnectionStream.cs
  src/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ClientCertificates.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientTestBase.cs
  src/System.Net.Http/tests/FunctionalTests/HttpProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Threading/tests/SemaphoreTests.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#27204 Use stackalloc for longer SystemDirectory paths
  src/System.Runtime.Extensions/src/System/Environment.Windows.cs
Labels: area-System.Runtime.Extensions

#27195 Use NtCreateFile on Win32
  src/Common/src/Interop/Windows/Interop.UNICODE_STRING.cs
  src/Common/src/Interop/Windows/NtDll/Interop.NtCreateFile.cs
  src/System.IO.FileSystem/src/System.IO.FileSystem.csproj
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Win32.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.WinRT.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Windows.cs
Labels: area-System.IO

#27208 Enable overriding of OpenSSL version
  src/Native/Unix/System.Security.Cryptography.Native/opensslshim.cpp
Labels: area-System.Net.Security, os-linux

#27181 Enable SendReceive_VaryingLengthBuffers_Success on Windows run
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.WebSockets.Client/tests/CancelTest.cs
  src/System.Net.WebSockets.Client/tests/SendReceiveTest.cs
Labels: area-System.Net

#27203 Add SslStream test to validate options aren't mutated
  src/System.Net.Security/tests/FunctionalTests/SslAuthenticationOptionsTest.cs
  src/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
Labels: area-System.Net.Security, test enhancement

#27209 Normalize names of span inputs in crypto API
  src/Common/src/System/Security/Cryptography/DSACng.SignVerify.cs
  src/Common/src/System/Security/Cryptography/DSAOpenSsl.cs
  src/Common/src/System/Security/Cryptography/DSASecurityTransforms.cs
  src/Common/src/System/Security/Cryptography/ECDsaOpenSsl.cs
  src/Common/src/System/Security/Cryptography/RSACng.EncryptDecrypt.cs
  src/Common/src/System/Security/Cryptography/RSACng.SignVerify.cs
  src/Common/src/System/Security/Cryptography/RSACng.cs
  src/Common/src/System/Security/Cryptography/RSAOpenSsl.cs
  src/Common/src/System/Security/Cryptography/RSASecurityTransforms.cs
  src/System.Security.Cryptography.Algorithms/ref/System.Security.Cryptography.Algorithms.netcoreapp.cs
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/DSA.cs
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/ECDsa.cs
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/RSA.cs
  src/System.Security.Cryptography.Csp/src/System/Security/Cryptography/DSACryptoServiceProvider.Unix.cs
  src/System.Security.Cryptography.Csp/src/System/Security/Cryptography/RSACryptoServiceProvider.Unix.cs
Labels: area-System.Security

#27223 Fix enumerating the root directory.
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Unix.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Windows.cs
  src/System.IO.FileSystem/tests/Enumeration/RootTests.netcoreapp.cs
  src/System.IO.FileSystem/tests/System.IO.FileSystem.Tests.csproj
Labels: area-System.IO

#27242 Implement SocketsHttpHandler's Expect100ContinueTimeout and ConnectTimeout
  src/Common/src/System/Net/Http/HttpHandlerDefaults.cs
  src/System.Net.Http/src/ILLinkTrim.xml
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionSettings.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
Labels: area-System.Net.Http.SocketsHttpHandler

#26926 Remove old GetHostByName logic
  src/Common/src/Interop/Unix/System.Native/Interop.HostEntry.cs
  src/Common/src/Interop/Windows/Winsock/Interop.gethostbyaddr.cs
  src/Common/src/Interop/Windows/Winsock/Interop.gethostbyname.cs
  src/Native/Unix/Common/pal_config.h.in
  src/Native/Unix/System.Native/pal_networking.c
  src/Native/Unix/System.Native/pal_networking.h
  src/Native/Unix/configure.cmake
  src/System.Net.NameResolution/src/System.Net.NameResolution.csproj
  src/System.Net.NameResolution/src/System/Net/DNS.cs
  src/System.Net.NameResolution/src/System/Net/DnsResolveAsyncResult.cs
  src/System.Net.NameResolution/src/System/Net/NameResolutionPal.Unix.cs
  src/System.Net.NameResolution/src/System/Net/NameResolutionPal.Windows.cs
  src/System.Net.NameResolution/tests/PalTests/NameResolutionPalTests.cs
  src/System.Net.NameResolution/tests/PalTests/System.Net.NameResolution.Pal.Tests.csproj
Labels: area-System.Net

#27254 Update root dir enum test
  src/System.IO.FileSystem/tests/Enumeration/RootTests.netcoreapp.cs
Labels: area-System.IO

#27261 Add tests against corelib shared IO internals
  src/Common/tests/Common.Tests.csproj
  src/Common/tests/Resources/Strings.resx
  src/Common/tests/Tests/System/IO/PathInternal.Tests.cs
  src/Common/tests/Tests/System/IO/PathInternal.Unix.Tests.cs
  src/Common/tests/Tests/System/IO/PathInternal.Windows.Tests.cs
Labels: area-System.IO

#27239 Handle errors getting state in Unix
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEntry.Unix.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Unix.cs
  src/System.IO.FileSystem/src/System/IO/FileStatus.Unix.cs
  src/System.IO.FileSystem/tests/Enumeration/AttributeTests.netcoreapp.cs
  src/System.IO.FileSystem/tests/System.IO.FileSystem.Tests.csproj
Labels: area-System.IO

#27255 SocketsHttpHandler: remove Content-Length header if Transfer-Encoding: chunked is present
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
  src/System.Net.Http/tests/FunctionalTests/PostScenarioTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#27265 SocketsHttpHandler: Don't reuse connection with extraneous received data
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#27216 Fix some compression tests
  src/Common/tests/System/IO/Compression/CompressionStreamPerfTestBase.cs
  src/Common/tests/System/IO/Compression/CompressionStreamUnitTestBase.cs
  src/System.IO.Compression.Brotli/tests/CompressionStreamUnitTests.Brotli.cs
  src/System.IO.Compression.Brotli/tests/Performance/BrotliPerfTests.cs
  src/System.IO.Compression.Brotli/tests/Performance/System.IO.Compression.Brotli.Performance.Tests.csproj
Labels: area-System.IO.Compression, test bug

#27262 Force inlining CheckTimeout in RegexRunner
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexRunner.cs
Labels: area-System.Text.RegularExpressions

#27214 Add RH / Centos 7.4 skus
  buildpipeline/linux.groovy
  buildpipeline/pipeline.json
Labels: area-Infrastructure, test enhancement

#26979 Add test infra for auth testing.
  src/Common/tests/System/Net/Http/LoopbackServer.AuthenticationHelpers.cs
  src/Common/tests/System/Net/Http/LoopbackServer.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.Digest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Authentication.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/System.Net.Http/tests/FunctionalTests/TestHelper.cs
  src/System.Net.Http/tests/UnitTests/DigestAuthenticationTests.cs
Labels: area-System.Net.Http

#27087 Try finalizer on RemoteInvokeHandle
  src/CoreFx.Private.TestUtilities/ref/CoreFx.Private.TestUtilities.cs
  src/CoreFx.Private.TestUtilities/src/System/Diagnostics/RemoteExecutorTestBase.Process.cs
  src/CoreFx.Private.TestUtilities/src/System/Diagnostics/RemoteExecutorTestBase.cs
  src/CoreFx.Private.TestUtilities/src/System/Diagnostics/RemoteExecutorTestBase.uap.cs
  src/System.ComponentModel.TypeConverter/tests/DateTimeConverterTests.cs
  src/System.ComponentModel.TypeConverter/tests/DateTimeOffsetConverterTests.cs
  src/System.ComponentModel.TypeConverter/tests/TypeConverterTests.cs
  src/System.Data.Common/tests/System/Data/DataTableReadXmlSchemaTest.cs
  src/System.Diagnostics.Process/tests/ProcessTestBase.cs
  src/System.IO/tests/StringWriter/StringWriterTests.cs
  src/System.Net.ServicePoint/tests/ServicePointManagerTest.cs
  src/System.Net.ServicePoint/tests/TlsSystemDefault.cs
  src/System.Runtime/tests/System/Runtime/ExceptionServices/HandleProcessCorruptedStateExceptions.cs
  src/System.Runtime/tests/System/StringTests.cs
  src/System.Text.RegularExpressions/tests/Regex.Ctor.Tests.cs
  src/System.Text.RegularExpressions/tests/Regex.Match.Tests.cs
Labels: * NO MERGE *

#26530 Propagate exceptions from ServiceBase.OnStart
  src/Common/src/Interop/Windows/advapi32/Interop.ServiceProcessOptions.cs
  src/System.ServiceProcess.ServiceController/src/System/ServiceProcess/ServiceBase.cs
  src/System.ServiceProcess.ServiceController/tests/ServiceBaseTests.cs
  src/System.ServiceProcess.ServiceController/tests/System.ServiceProcess.ServiceController.TestService/Helpers.cs
  src/System.ServiceProcess.ServiceController/tests/System.ServiceProcess.ServiceController.TestService/Program.cs
  src/System.ServiceProcess.ServiceController/tests/System.ServiceProcess.ServiceController.TestService/TestService.cs
  src/System.ServiceProcess.ServiceController/tests/System.ServiceProcess.ServiceController.TestService/TestServiceInstaller.cs
Labels: area-System.ServiceProcess

#27077 Log when an insecure Https -> Http redirect is blocked
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlHandler.EasyRequest.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticateAndRedirectHandler.cs
Labels: area-System.Net.Http, enhancement

#26961 Support for RFC 3161 cryptographic timestamps with RFC 5816 additions
  src/Common/src/System/Security/Cryptography/Asn1V2.Serializer.cs
  src/System.Security.Cryptography.Encoding/tests/Asn1/Serializer/SimpleDeserialize.cs
  src/System.Security.Cryptography.Pkcs/ref/System.Security.Cryptography.Pkcs.csproj
  src/System.Security.Cryptography.Pkcs/ref/System.Security.Cryptography.Pkcs.netcoreapp.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Helpers.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Oids.cs
  src/System.Security.Cryptography.Pkcs/src/Resources/Strings.resx
  src/System.Security.Cryptography.Pkcs/src/System.Security.Cryptography.Pkcs.csproj
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/AlgorithmIdentifierAsn.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/GeneralName.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/MessageImprint.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/Rfc3161Accuracy.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/Rfc3161TimeStampReq.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/Rfc3161TimeStampResp.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/Rfc3161TstInfo.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/SigningCertificateAsn.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/X509ExtensionAsn.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Rfc3161RequestResponseStatus.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Rfc3161TimestampRequest.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Rfc3161TimestampToken.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Rfc3161TimestampTokenInfo.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SignedCms.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SignerInfo.cs
  src/System.Security.Cryptography.Pkcs/tests/Certificates.cs
  src/System.Security.Cryptography.Pkcs/tests/Oids.cs
  src/System.Security.Cryptography.Pkcs/tests/Rfc3161/TimestampRequestTests.cs
  src/System.Security.Cryptography.Pkcs/tests/Rfc3161/TimestampTokenInfoTests.cs
  src/System.Security.Cryptography.Pkcs/tests/Rfc3161/TimestampTokenTestData.cs
  src/System.Security.Cryptography.Pkcs/tests/Rfc3161/TimestampTokenTests.cs
  src/System.Security.Cryptography.Pkcs/tests/System.Security.Cryptography.Pkcs.Tests.csproj
Labels: area-System.Security

#27292 Expose SocketsHttpHandler.ConnectTimeout/Expect100ContinueTimeout
  src/System.Net.Http/ref/System.Net.Http.cs
  src/System.Net.Http/src/ILLinkTrim.xml
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#27284 Set Microsoft.Diagnostics.Tracing.EventSource.Redist Package Version to 2.0.1
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/Microsoft.Diagnostics.Tracing.EventSource.Redist/dir.props
Labels: * NO MERGE *

#27231 Several perf improvements/tweaks for SocketsHttpHandler
  src/System.Net.Http/src/System/Net/Http/Headers/HeaderDescriptor.cs
  src/System.Net.Http/src/System/Net/Http/Headers/HttpHeaders.cs
  src/System.Net.Http/src/System/Net/Http/Headers/KnownHeader.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ChunkedEncodingReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ChunkedEncodingWriteStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectionCloseReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ContentLengthReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/RawConnectionStream.cs
  src/System.Net.Http/tests/FunctionalTests/HttpProtocolTests.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#27270 Test updates for https://github.com/dotnet/coreclr/pull/16447
  src/System.Runtime.Extensions/tests/System/IO/PathTests.cs
  src/System.Runtime.Extensions/tests/System/IO/PathTests.netcoreapp.cs
Labels: area-System.IO

#26354 Support System.Runtime.Caching on Linux
  src/System.Runtime.Caching/src/Configurations.props
  src/System.Runtime.Caching/src/Resources/Strings.resx
  src/System.Runtime.Caching/src/System.Runtime.Caching.csproj
  src/System.Runtime.Caching/src/System/Runtime/Caching/Dbg.cs
  src/System.Runtime.Caching/src/System/Runtime/Caching/MemoryCacheStatistics.cs
  src/System.Runtime.Caching/src/System/Runtime/Caching/MemoryMonitor.Windows.cs
  src/System.Runtime.Caching/src/System/Runtime/Caching/MemoryMonitor.cs
  src/System.Runtime.Caching/src/System/Runtime/Caching/PhysicalMemoryMonitor.Unix.cs
  src/System.Runtime.Caching/src/System/Runtime/Caching/PhysicalMemoryMonitor.Windows.cs
  src/System.Runtime.Caching/src/System/Runtime/Caching/PhysicalMemoryMonitor.cs
  src/System.Runtime.Caching/tests/System.Runtime.Caching/MemoryCacheTest.cs
Labels: area-System.Runtime.Caching

#27213 make sure socket is blocking after accept() on macOS and BSD
  src/Native/Unix/System.Native/pal_networking.c
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncContext.Unix.cs
Labels: area-System.Net.Sockets, os-linux

#27298 Updated contract, exposed SqlMetaData ctors
  src/System.Data.SqlClient/ref/System.Data.SqlClient.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlParameterCollection.cs
  src/System.Data.SqlClient/tests/FunctionalTests/SqlMetaDataTest.cs
  src/System.Data.SqlClient/tests/FunctionalTests/System.Data.SqlClient.Tests.csproj
Labels: area-System.Data.SqlClient

#27328 Rename string-slicing extension methods
  src/Common/src/CoreLib/System/Text/ValueStringBuilder.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSslVersion.cs
  src/Common/src/System/Security/Cryptography/Asn1V2.cs
  src/Common/src/System/Security/Cryptography/AsnWriter.cs
  src/Common/tests/Tests/System/Text/ValueStringBuilderTests.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.Linux.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerableFactory.cs
  src/System.IO.FileSystem/tests/Enumeration/DosMatcherTests.netcoreapp.cs
  src/System.Memory/ref/System.Memory.cs
  src/System.Memory/src/System/Buffers/StandardFormat.cs
  src/System.Memory/src/System/MemoryExtensions.Fast.cs
  src/System.Memory/src/System/MemoryExtensions.Portable.cs
  src/System.Memory/tests/Memory/Strings.cs
  src/System.Memory/tests/MemoryMarshal/AsMemory.cs
  src/System.Memory/tests/ParsersAndFormatters/StandardFormatTests.cs
  src/System.Memory/tests/ReadOnlyMemory/Strings.cs
  src/System.Memory/tests/ReadOnlySpan/AsReadOnlySpan.cs
  src/System.Memory/tests/ReadOnlySpan/ToString.cs
  src/System.Memory/tests/ReadOnlySpan/TrimManyCharacters.cs
  src/System.Memory/tests/Span/ToString.cs
  src/System.Net.Primitives/src/System/Net/IPAddress.cs
  src/System.Net.Primitives/tests/FunctionalTests/IPAddressParsingSpan.cs
  src/System.Private.Xml/src/System/Xml/NameTable.cs
  src/System.Runtime.Extensions/tests/System/IO/Path.IsPathFullyQualified.cs
  src/System.Runtime.Extensions/tests/System/IO/Path.IsPathFullyQualified.netcoreapp.cs
  src/System.Runtime.Extensions/tests/System/IO/PathTests.netcoreapp.cs
  src/System.Runtime.Numerics/src/System/Numerics/BigNumber.cs
  src/System.Runtime.Numerics/tests/BigInteger/parse.netcoreapp.cs
  src/System.Runtime/tests/System/BooleanTests.netcoreapp.cs
  src/System.Runtime/tests/System/ByteTests.netcoreapp.cs
  src/System.Runtime/tests/System/DateTimeOffsetTests.netcoreapp.cs
  src/System.Runtime/tests/System/DateTimeTests.netcoreapp.cs
  src/System.Runtime/tests/System/DecimalTests.netcoreapp.cs
  src/System.Runtime/tests/System/DoubleTests.netcoreapp.cs
  src/System.Runtime/tests/System/GuidTests.netcoreapp.cs
  src/System.Runtime/tests/System/Int16Tests.netcoreapp.cs
  src/System.Runtime/tests/System/Int32Tests.netcoreapp.cs
  src/System.Runtime/tests/System/Int64Tests.netcoreapp.cs
  src/System.Runtime/tests/System/SByteTests.netcoreapp.cs
  src/System.Runtime/tests/System/SingleTests.netcoreapp.cs
  src/System.Runtime/tests/System/Text/StringBuilderTests.netcoreapp.cs
  src/System.Runtime/tests/System/TimeSpanTests.netcoreapp.cs
  src/System.Runtime/tests/System/UInt16Tests.netcoreapp.cs
  src/System.Runtime/tests/System/UInt32Tests.netcoreapp.cs
  src/System.Runtime/tests/System/UInt64Tests.netcoreapp.cs
  src/System.Runtime/tests/System/VersionTests.netcoreapp.cs
  src/System.Security.Cryptography.Encoding/tests/Asn1/Writer/WriteCharacterString.cs
  src/System.Security.Cryptography.Encoding/tests/Asn1/Writer/WriteObjectIdentifier.cs
  src/System.Text.Encoding/tests/Encoder/EncoderSpanTests.netcoreapp.cs
  src/System.Text.Encoding/tests/EncodingTestHelpers.netcoreapp.cs
Labels: area-System.Memory

#27287 Improve thread name and start tests
  src/System.Threading.Thread/tests/ThreadTests.cs
Labels: area-System.Threading

#27266 SocketsHttpHandler: split auth and redirect handling back into two separate handlers
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticateAndRedirectHandler.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHandler.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/RedirectHandler.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#26865 Make EnvelopedCms work for Linux and macOS
  src/Common/src/System/Security/Cryptography/Asn1V2.Serializer.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Helpers.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Oids.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/AsnHelpers.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.Asn.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.Decode.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.Decrypt.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.Encrypt.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.Exceptions.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.KeyAgree.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.KeyTrans.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/PkcsPal.AnyOS.cs
  src/System.Security.Cryptography.Pkcs/src/Resources/Strings.resx
  src/System.Security.Cryptography.Pkcs/src/System.Security.Cryptography.Pkcs.csproj
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/EncryptedContentInfoAsn.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/EnvelopedDataAsn.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/KeyAgreeRecipientIdentifierAsn.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/KeyAgreeRecipientInfoAsn.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/KeyTransRecipientInfoAsn.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/OriginatorIdentifierOrKeyAsn.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/OriginatorInfoAsn.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/OriginatorPublicKeyAsn.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/OtherKeyAttributeAsn.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/Rc2CbcParameters.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/RecipientEncryptedKeyAsn.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/RecipientIdentifierAsn.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/RecipientInfoAsn.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/RecipientKeyIdentifier.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSigner.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Rfc3161TimestampToken.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SignedCms.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SignerInfo.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SubjectIdentifier.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/ContentEncryptionAlgorithmTests.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/DecryptTests.KeyPersistence.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/DecryptTests.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/EdgeCasesTests.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/GeneralTests.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/KeyAgreeRecipientInfoTests.cs
  src/System.Security.Cryptography.Pkcs/tests/System.Security.Cryptography.Pkcs.Tests.csproj
Labels: area-System.Security

#27296 Testing GetHashCode works properly when using string with embedded null
  src/System.Runtime.Extensions/tests/System/StringComparer.cs
  src/System.Runtime/tests/System/StringTests.cs
Labels: area-System.Runtime, area-System.Runtime.Extensions

#26880 Add ROSpan StartsWith and EndsWith string-like APIs with StringComparison
  src/System.Memory/ref/System.Memory.cs
  src/System.Memory/src/System/MemoryExtensions.Fast.cs
  src/System.Memory/src/System/MemoryExtensions.Portable.cs
  src/System.Memory/src/System/ReadOnlySpan.Portable.cs
  src/System.Memory/tests/ReadOnlySpan/EndsWith.char.cs
  src/System.Memory/tests/ReadOnlySpan/StartsWith.char.cs
  src/System.Memory/tests/ReadOnlySpan/ToString.cs
  src/System.Memory/tests/Span/ToString.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
  src/System.Memory/tests/TestHelpers.cs
Labels: area-System.Memory

#27318 Make final API review changes to file enumeration
  src/System.IO.FileSystem/ref/System.IO.FileSystem.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEntry.Unix.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEntry.Windows.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerableFactory.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemName.cs
  src/System.IO.FileSystem/src/System/IO/EnumerationOptions.cs
  src/System.IO.FileSystem/src/System/IO/MatchType.cs
  src/System.IO.FileSystem/tests/Enumeration/AttributeTests.netcoreapp.cs
  src/System.IO.FileSystem/tests/Enumeration/PatternTransformTests.netcoreapp.cs
  src/System.IO.FileSystem/tests/Enumeration/Win32MatcherTests.netcoreapp.cs
  src/System.IO.FileSystem/tests/System.IO.FileSystem.Tests.csproj
Labels: area-System.IO

#26395 Expose PipeOptions.CurrentUserOnly and add implementation when flag is passed
  pkg/Microsoft.Private.CoreFx.NETCoreApp/Microsoft.Private.CoreFx.NETCoreApp.pkgproj
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/System.IO.Pipes.AccessControl/dir.props
  src/System.IO.Pipes.AccessControl/pkg/System.IO.Pipes.AccessControl.pkgproj
  src/System.IO.Pipes.AccessControl/src/Configurations.props
  src/System.IO.Pipes.AccessControl/src/System.IO.Pipes.AccessControl.csproj
  src/System.IO.Pipes/ref/System.IO.Pipes.cs
  src/System.IO.Pipes/src/Resources/Strings.resx
  src/System.IO.Pipes/src/System.IO.Pipes.csproj
  src/System.IO.Pipes/src/System/IO/Pipes/NamedPipeClientStream.Unix.cs
  src/System.IO.Pipes/src/System/IO/Pipes/NamedPipeClientStream.Windows.cs
  src/System.IO.Pipes/src/System/IO/Pipes/NamedPipeClientStream.cs
  src/System.IO.Pipes/src/System/IO/Pipes/NamedPipeServerStream.Unix.cs
  src/System.IO.Pipes/src/System/IO/Pipes/NamedPipeServerStream.Windows.cs
  src/System.IO.Pipes/src/System/IO/Pipes/NamedPipeServerStream.cs
  src/System.IO.Pipes/src/System/IO/Pipes/PipeAccessRights.cs
  src/System.IO.Pipes/src/System/IO/Pipes/PipeAccessRule.cs
  src/System.IO.Pipes/src/System/IO/Pipes/PipeAuditRule.cs
  src/System.IO.Pipes/src/System/IO/Pipes/PipeOptions.cs
  src/System.IO.Pipes/src/System/IO/Pipes/PipeSecurity.cs
  src/System.IO.Pipes/src/System/IO/Pipes/PipeStream.Unix.cs
  src/System.IO.Pipes/src/System/IO/Pipes/PipeStream.Windows.cs
  src/System.IO.Pipes/src/System/IO/Pipes/PipeStream.cs
  src/System.IO.Pipes/src/System/IO/Pipes/PipesAclExtensions.cs
  src/System.IO.Pipes/tests/NamedPipeTests/NamedPipeTest.CurrentUserOnly.netcoreapp.cs
  src/System.IO.Pipes/tests/System.IO.Pipes.Tests.csproj
Labels: area-System.IO

#27349 Ignore ping6 failures on macOS 10.12
  src/System.Net.Ping/tests/FunctionalTests/UnixPingUtilityTests.cs
Labels: area-System.Net, os-mac-os-x

#27315 SocketsHttpHandler: add response stream drain
  src/Common/tests/System/Net/Http/LoopbackServer.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ChunkedEncodingReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ContentLengthReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentReadStream.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ResponseDrain.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Labels: area-System.Net.Http.SocketsHttpHandler

#27356 Fix NullReferenceException on exception cascade when CEK doesn't decrypt
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.Decrypt.cs
Labels: area-System.Security

#27360 Fix fragment handling in HttpClient
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/RedirectHandler.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#27341 Disable SocketsHttpHandler's concurrent content sends
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ChunkedEncodingWriteStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ContentLengthWriteStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentReadStream.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cancellation.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#27348 Update tests for Path changes
  src/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/Hosting/AssemblyCatalogTests.cs
  src/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/Hosting/DirectoryCatalogTests.cs
  src/System.Drawing.Common/tests/Imaging/MetafileTests.cs
  src/System.IO.Compression.ZipFile/tests/ZipFileInvalidFileTests.cs
  src/System.IO.FileSystem.DriveInfo/tests/DriveInfo.Windows.Tests.cs
  src/System.IO.FileSystem/src/System/IO/DirectoryInfo.cs
  src/System.IO.FileSystem/src/System/IO/FileSystemInfo.Unix.cs
  src/System.IO.FileSystem/src/System/IO/FileSystemInfo.Windows.cs
  src/System.IO.FileSystem/tests/Directory/CreateDirectory.cs
  src/System.IO.FileSystem/tests/Directory/GetFileSystemEntries_str.cs
  src/System.IO.FileSystem/tests/Directory/GetFileSystemEntries_str_str.cs
  src/System.IO.FileSystem/tests/Directory/Move.cs
  src/System.IO.FileSystem/tests/DirectoryInfo/CreateSubdirectory.cs
  src/System.IO.FileSystem/tests/File/Copy.cs
  src/System.IO.FileSystem/tests/File/Create.cs
  src/System.IO.FileSystem/tests/File/Exists.cs
  src/System.IO.FileSystem/tests/File/Move.cs
  src/System.IO.FileSystem/tests/FileSystemTest.cs
  src/System.IO.FileSystem/tests/PortedCommon/IOInputs.cs
  src/System.IO.FileSystem/tests/TestData.cs
  src/System.Net.Sockets/tests/FunctionalTests/SendPacketsAsync.cs
  src/System.Private.Xml/tests/XmlReader/XmlResolver/XmlSystemPathResolverTests.cs
  src/System.Private.Xml/tests/Xslt/XslCompiledTransformApi/XslCompiledTransform.cs
  src/System.Private.Xml/tests/Xslt/XslCompiledTransformApi/XsltApiV2.cs
  src/System.Private.Xml/tests/Xslt/XslTransformApi/CXslTransform.cs
  src/System.Private.Xml/tests/Xslt/XslTransformApi/XSLTransform.cs
  src/System.Runtime.Extensions/tests/System/IO/PathTests.cs
Labels: area-System.IO

#27173 Fix ConnectAsync not throwing exception for already connected Socket
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/System.Net.Sockets/tests/FunctionalTests/Connect.cs
Labels: area-System.Net.Sockets

#27377 add shutdown call to try to make redirect test more reliable
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http, test bug

#27352 be more liberal on what exception type to get on handshake failure
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.SslProtocols.cs
Labels: area-System.Net.Http, test bug

#27407 Fix ManagedWebSocket cancellation race condition
  src/Common/src/System/Net/WebSockets/ManagedWebSocket.cs
Labels: area-System.Net

#27051 Tests for StringComparer Create(culture, CompareOptions) overload
  src/System.Runtime.Extensions/ref/System.Runtime.Extensions.cs
  src/System.Runtime.Extensions/tests/System/StringComparer.netcoreapp.cs
  src/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTestData.cs
Labels: area-System.Runtime

#27383 Split up cookie headers that are added via HttpListenerResponse.WebHeaders.Add
  src/System.Net.HttpListener/src/System/Net/Managed/HttpListenerResponse.Managed.cs
  src/System.Net.HttpListener/tests/HttpListenerResponseTests.Cookies.cs
Labels: area-System.Net

#27337 Adding missing typeforward for Lazy<T,TMetadata> to S.CM.Composition
  external/netcoreapp/netcoreapp.depproj
  external/netstandard/netstandard.depproj
  src/System.ComponentModel.Composition/dir.props
  src/System.ComponentModel.Composition/pkg/System.ComponentModel.Composition.pkgproj
  src/System.ComponentModel.Composition/ref/Configurations.props
  src/System.ComponentModel.Composition/ref/System.ComponentModel.Composition.cs
  src/System.ComponentModel.Composition/src/Configurations.props
  src/System.ComponentModel.Composition/src/System.ComponentModel.Composition.csproj
  src/System.ComponentModel.Composition/src/System/ComponentModel/Composition/Hosting/CompositionContainer.cs
  src/System.ComponentModel.Composition/src/TypeForwards.cs
  src/System.ComponentModel.Composition/tests/Configurations.props
Labels: area-System.ComponentModel

#27411 Re-enable initlocals clearing in System.Net.Sockets on Unix
  src/System.Net.Sockets/src/System.Net.Sockets.csproj
  src/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs
Labels: area-System.Net.Sockets, os-linux

#27395 Add CU\My to the search path for resolving cert chains on Linux
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslX509ChainProcessor.cs
Labels: area-System.Security

#27419 Update BuildTools to 2.1.0-preview2-02522-03
  BuildToolsVersion.txt
  dependencies.props
Labels: area-Infrastructure

#26647 Enable blob comparison for TimeZoneInfo* & fix comment
  src/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTests.cs
Labels: area-System.Runtime.Extensions

#27118 Enable WaitHandle.SignalAndWait tests on Unix
  src/System.Runtime/tests/System/Threading/WaitHandleTests.cs
Labels: area-System.Threading

#27441 revert change to existing redirect test and split into new test
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http

#27439 Dont allow exceptions to emerge on the threadpool
  src/System.Data.SqlClient/src/System/Data/ProviderBase/DbConnectionPool.cs
  src/System.Data.SqlClient/tests/FunctionalTests/SqlConnectionBasicTests.cs
Labels: area-System.Data.SqlClient

#27449 Path tests overhaul
  src/System.Runtime.Extensions/tests/System.Runtime.Extensions.Tests.csproj
  src/System.Runtime.Extensions/tests/System/IO/PathTests.cs
  src/System.Runtime.Extensions/tests/System/IO/PathTests.netcoreapp.cs
  src/System.Runtime.Extensions/tests/System/IO/PathTestsBase.cs
  src/System.Runtime.Extensions/tests/System/IO/PathTestsBase.netcoreapp.cs
  src/System.Runtime.Extensions/tests/System/IO/PathTests_Combine.cs
  src/System.Runtime.Extensions/tests/System/IO/PathTests_Unix.cs
  src/System.Runtime.Extensions/tests/System/IO/PathTests_Windows.cs
  src/System.Runtime.Extensions/tests/System/IO/PathTests_Windows.netcoreapp.cs
  src/System.Runtime.Extensions/tests/System/IO/PathTests_Windows_NetFX.cs
  src/System.Runtime.Extensions/tests/TestHelpers.cs
Labels: area-System.IO

#27382 Use SCH_USE_STRONG_CRYPTO with SystemDefaults
  src/System.Net.Security/src/System/Net/Security/SslStreamPal.Windows.cs
  src/System.Net.Security/tests/FunctionalTests/ClientAsyncAuthenticateTest.cs
Labels: area-System.Net.Security, os-windows

#27142 Fix the name of the schema queue
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlNotificationTest/SqlNotificationTest.cs
Labels: area-System.Data.SqlClient

#27187 SNIPacket performance improvement
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIMarsConnection.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIMarsHandle.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNINpHandle.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIPacket.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIProxy.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNITcpHandle.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObjectManaged.cs
Labels: area-System.Data.SqlClient

#27229 TryGet for ReadOnlysequence
  src/System.IO.Pipelines/ref/System.IO.Pipelines.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.DefaultPipeWriter.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeWriter.cs
  src/System.IO.Pipelines/tests/PipeReaderWriterFacts.cs
  src/System.IO.Pipelines/tests/PipeWriterTests.cs
  src/System.IO.Pipelines/tests/TestMemoryPool.cs
  src/System.Memory/ref/System.Memory.cs
  src/System.Memory/src/System.Memory.csproj
  src/System.Memory/src/System/Buffers/BuffersExtensions.cs
  src/System.Memory/src/System/Buffers/IBufferWriter.cs
  src/System.Memory/src/System/Buffers/ReadOnlySequence.cs
  src/System.Memory/src/System/Buffers/ReadOnlySequence_helpers.cs
  src/System.Memory/src/System/Runtime/InteropServices/SequenceMarshal.cs
  src/System.Memory/src/System/SequencePosition.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.Common.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.TryGet.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.cs
  src/System.Memory/tests/ReadOnlyBuffer/SequencePosition.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
Labels: area-System.IO.Pipelines

#27475 Update Performance Test Execution Instructions
  Documentation/project-docs/performance-tests.md
Labels: documentation

#27421 Windows PDB Checksum spec
  src/System.Reflection.Metadata/specs/PE-COFF.md
Labels: documentation

#27389 Catch the FileNotFoundException when to get the obsolete attribute for type.
  src/Microsoft.XmlSerializer.Generator/src/Sgen.cs
Labels: area-Serialization

#27463 NamedPipe: CurrentUserOnly, quick fixes for Unix
  src/System.IO.Pipes/src/Resources/Strings.resx
  src/System.IO.Pipes/src/System/IO/Pipes/NamedPipeServerStream.Unix.cs
  src/System.IO.Pipes/src/System/IO/Pipes/PipeStream.Unix.cs
  src/System.IO.Pipes/tests/NamedPipeTests/NamedPipeTest.CurrentUserOnly.netcoreapp.cs
Labels: area-System.IO

#27476 Add MaxResponseDrainSize, and fix a few draining bugs
  src/Common/src/System/Net/Http/HttpHandlerDefaults.cs
  src/System.Net.Http/src/ILLinkTrim.xml
  src/System.Net.Http/src/Resources/Strings.resx
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionResponseContent.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionSettings.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ResponseDrain.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#27509 [release/2.1] Update BuildTools to 2.1.0-preview1-02523-01
  BuildToolsVersion.txt
  dependencies.props
Labels: area-Infrastructure

#27494 Tests For GetPathRoot and Enabling NormalizeDirectorySeparatorTests
  src/Common/src/CoreLib/System/IO/PathInternal.Windows.cs
  src/Common/tests/Tests/System/IO/PathInternal.Windows.Tests.cs
Labels: area-System.IO

#27511 Use user-scope chains when doing Find with validOnly=true
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/FindPal.cs
Labels: area-System.Security

#27490 Add more EnvelopedCms tests
  src/System.Security.Cryptography.Pkcs/tests/Certificates.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/ContentEncryptionAlgorithmTests.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/DecryptTests.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/EdgeCasesTests.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/GeneralTests.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/KeyAgreeRecipientInfoTests.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/KeyTransRecipientInfoTests.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/StateTests.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/UnprotectedAttributeTests.cs
  src/System.Security.Cryptography.Pkcs/tests/Pkcs9AttributeTests.cs
Labels: area-System.Security

#27525 Remove ActiveIssue tags now that CLR is updated
  src/System.Runtime.Extensions/tests/System/IO/PathTests.netcoreapp.cs
  src/System.Runtime.Extensions/tests/System/IO/PathTestsBase.netcoreapp.cs
  src/System.Runtime.Extensions/tests/System/IO/PathTests_Windows.cs
Labels: area-System.IO

#27430 Add tests for empty array in Memory/MemoryMarshal
  src/System.Memory/tests/Memory/TryGetArray.cs
  src/System.Memory/tests/MemoryMarshal/TryGetArray.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
Labels: area-System.Memory

#27394 Enable RSA-OAEP(SHA-2) and RSA-PSS on Unix systems
  src/Common/src/Interop/OSX/Interop.CoreFoundation.CFData.cs
  src/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.RSA.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Rsa.cs
  src/Common/src/System/Security/Cryptography/RSACng.EncryptDecrypt.cs
  src/Common/src/System/Security/Cryptography/RSACng.SignVerify.cs
  src/Common/src/System/Security/Cryptography/RSAOpenSsl.cs
  src/Common/src/System/Security/Cryptography/RSASecurityTransforms.cs
  src/Common/src/System/Security/Cryptography/RsaPaddingProcessor.cs
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RSA/EncryptDecrypt.cs
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RSA/RSAFactory.cs
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RSA/SignVerify.cs
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_rsa.cpp
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_rsa.h
  src/Native/Unix/System.Security.Cryptography.Native/opensslshim.h
  src/Native/Unix/System.Security.Cryptography.Native/pal_rsa.cpp
  src/Native/Unix/System.Security.Cryptography.Native/pal_rsa.h
  src/System.Security.Cryptography.Algorithms/src/Resources/Strings.resx
  src/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
  src/System.Security.Cryptography.Algorithms/tests/DefaultRSAProvider.cs
  src/System.Security.Cryptography.Cng/src/Resources/Strings.resx
  src/System.Security.Cryptography.Cng/src/System.Security.Cryptography.Cng.csproj
  src/System.Security.Cryptography.Cng/tests/RSACngProvider.cs
  src/System.Security.Cryptography.Csp/src/System/Security/Cryptography/CapiHelper.Windows.cs
  src/System.Security.Cryptography.Csp/src/System/Security/Cryptography/RSACryptoServiceProvider.Unix.cs
  src/System.Security.Cryptography.Csp/src/System/Security/Cryptography/RSACryptoServiceProvider.Windows.cs
  src/System.Security.Cryptography.Csp/tests/RSACryptoServiceProviderProvider.cs
  src/System.Security.Cryptography.OpenSsl/src/Resources/Strings.resx
  src/System.Security.Cryptography.OpenSsl/src/System.Security.Cryptography.OpenSsl.csproj
  src/System.Security.Cryptography.OpenSsl/tests/RSAOpenSslProvider.cs
  src/System.Security.Cryptography.X509Certificates/src/Resources/Strings.resx
  src/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
Labels: area-System.Security

#27193 Add ROSpan ToLower and ToUpper string-like APIs with CultureInfo
  src/System.Memory/ref/System.Memory.cs
  src/System.Memory/ref/System.Memory.csproj
  src/System.Memory/src/System/MemoryExtensions.Portable.cs
  src/System.Memory/src/System/ThrowHelper.cs
  src/System.Memory/tests/ReadOnlySpan/ToLower.cs
  src/System.Memory/tests/ReadOnlySpan/ToUpper.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
Labels: area-System.Memory

#27538 disable Expect: 100-continue test on WinHttpHandler
  src/System.Net.Http/tests/FunctionalTests/HttpRetryProtocolTests.cs
Labels: area-System.Net.Http, test bug

#27319 Add ROSpan Equals/CompareTo/IndexOf/Contains string-like APIs with StringComparison
  src/System.Memory/System.Memory.sln
  src/System.Memory/ref/System.Memory.cs
  src/System.Memory/src/System/MemoryExtensions.Portable.cs
  src/System.Memory/tests/ReadOnlySpan/CompareTo.cs
  src/System.Memory/tests/ReadOnlySpan/Contains.cs
  src/System.Memory/tests/ReadOnlySpan/Equals.cs
  src/System.Memory/tests/ReadOnlySpan/IndexOf.charSpan.cs
  src/System.Memory/tests/ReadOnlySpan/IndexOfSequence.char.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
Labels: area-System.Memory

#27523 Fix issue 26965 transaction scope crash
  src/Common/src/System/Data/Common/AdapterUtil.cs
  src/System.Data.SqlClient/src/System/Data/ProviderBase/DbConnectionPool.cs
Labels: area-System.Data.SqlClient

#27536 disable drain test variation for CurlHandler
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ResponseDrain.cs
Labels: area-System.Net.Http

#27524 Make Decrypt_512_NoData_FixedValue pass on netfx
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/DecryptTests.cs
Labels: area-System.Security

#27539 Fix a bug in TranslateWin32Expression
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemName.cs
  src/System.IO.FileSystem/tests/Enumeration/MatchTypesTests.netcoreapp.cs
  src/System.IO.FileSystem/tests/Enumeration/Win32MatcherTests.netcoreapp.cs
  src/System.IO.FileSystem/tests/System.IO.FileSystem.Tests.csproj
Labels: area-System.IO

#27522 Expose Path.Join and tests
  src/System.Runtime.Extensions/ref/System.Runtime.Extensions.cs
  src/System.Runtime.Extensions/tests/System.Runtime.Extensions.Tests.csproj
  src/System.Runtime.Extensions/tests/System/IO/PathTestsBase.cs
  src/System.Runtime.Extensions/tests/System/IO/PathTests_Join.netcoreapp.cs
Labels: area-System.IO

#27563 Tweak Socket.InitializeSockets
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
Labels: area-System.Net.Sockets

#27556 Update WebSocket status when the underlying connection is closed
  src/Common/src/System/Net/WebSockets/ManagedWebSocket.cs
  src/System.Net.WebSockets.Client/tests/SendReceiveTest.cs
Labels: area-System.Net
