Repository dotnet/corefx, pull requests merged in 2018-03, with the labels that each got.

#27572 Fix GetPathRoot issues
  src/Common/src/CoreLib/System/IO/PathInternal.Windows.cs
  src/Common/tests/Tests/System/IO/PathInternal.Windows.Tests.cs
Labels: area-System.IO

#26963 Add TestUtilities NuGet package
  pkg/CoreFx.Private.TestUtilities/CoreFx.Private.TestUtilities.builds
  pkg/CoreFx.Private.TestUtilities/CoreFx.Private.TestUtilities.pkgproj
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  pkg/descriptions.json
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSslVersion.cs
  src/CoreFx.Private.TestUtilities/dir.props
  src/CoreFx.Private.TestUtilities/ref/CoreFx.Private.TestUtilities.csproj
  src/CoreFx.Private.TestUtilities/src/Configurations.props
  src/CoreFx.Private.TestUtilities/src/CoreFx.Private.TestUtilities.csproj
Labels: area-Infrastructure

#27499 ReadOnlySequence Performance Improvements
  src/System.IO.Pipelines/src/System/IO/Pipelines/BufferSegment.cs
  src/System.Memory/ref/System.Memory.cs
  src/System.Memory/src/System.Memory.csproj
  src/System.Memory/src/System/Buffers/ReadOnlySequence.cs
  src/System.Memory/src/System/Buffers/ReadOnlySequenceSegment.cs
  src/System.Memory/src/System/Buffers/ReadOnlySequence_helpers.cs
  src/System.Memory/src/System/Runtime/InteropServices/SequenceMarshal.cs
  src/System.Memory/src/System/ThrowHelper.cs
  src/System.Memory/tests/ReadOnlyBuffer/BufferSegment.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.Common.cs
Labels: area-System.IO.Pipelines

#26496 LargeArrayBuilder<T> optimization of Add and AddRange
  src/Common/src/System/Collections/Generic/LargeArrayBuilder.cs
Labels: area-System.Collections

#27387 Stop FileSystem WriteAsync test from writing too much data to disk
  src/System.IO.FileSystem/tests/FileStream/WriteAsync.cs
Labels: area-System.IO

#27585 Remove span helpers, use mirrored PathInternal helper
  src/Common/src/CoreLib/System/IO/PathInternal.Unix.cs
  src/Common/src/CoreLib/System/IO/PathInternal.Windows.cs
  src/Common/src/CoreLib/System/IO/PathInternal.cs
  src/System.IO.FileSystem/src/System.IO.FileSystem.csproj
  src/System.IO.FileSystem/src/System/IO/CharSpanExtensions.Unix.cs
  src/System.IO.FileSystem/src/System/IO/CharSpanExtensions.Windows.cs
  src/System.IO.FileSystem/src/System/IO/CharSpanExtensions.cs
  src/System.IO.FileSystem/src/System/IO/Directory.cs
  src/System.IO.FileSystem/src/System/IO/DirectoryInfo.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEntry.Unix.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEntry.Windows.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerableFactory.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Unix.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Windows.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemName.cs
  src/System.IO.FileSystem/src/System/IO/FileStatus.Unix.cs
  src/System.IO.FileSystem/src/System/IO/FileSystem.Unix.cs
  src/System.IO.FileSystem/src/System/IO/FileSystem.Windows.cs
  src/System.IO.FileSystem/src/System/IO/FileSystemInfo.Unix.cs
  src/System.IO.FileSystem/src/System/IO/PathHelpers.cs
Labels: area-System.IO

#27541 Expose Thread.GetCurrentProcessorId()
  src/System.Threading.Thread/ref/System.Threading.Thread.cs
  src/System.Threading.Thread/src/System/Threading/Thread.cs
  src/System.Threading.Thread/tests/Configurations.props
  src/System.Threading.Thread/tests/System.Threading.Thread.Tests.csproj
  src/System.Threading.Thread/tests/ThreadTests.cs
  src/System.Threading.Thread/tests/ThreadTests.netcoreapp.cs
Labels: area-System.Runtime

#27595 Revert "Skip CommandCancelTests [MultiThreadedCancel_NonAsync & MultiThreadedCancel_Async] on Unix (#27576)"
  src/System.Data.SqlClient/tests/ManualTests/SQL/CommandCancelTest/CommandCancelTest.cs
Labels: area-System.Data.SqlClient

#27583 IOControl_SIOCATMARK_Success test improvements
  src/System.Net.Sockets/tests/FunctionalTests/OSSupport.cs
Labels: area-System.Net.Sockets, test bug

#27314 RegexPrefix struct, RegexFCD buffer to ValueListBuilder & ArrayPool
  src/System.Text.RegularExpressions/src/System.Text.RegularExpressions.csproj
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/CompiledRegexRunnerFactory.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCode.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexFCD.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexInterpreter.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParser.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexPrefix.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexWriter.cs
Labels: area-System.Text.RegularExpressions

#27584 Add the array/arraysegment->Span/Memory overloads to MemoryExtensions
  src/System.Memory/ref/System.Memory.cs
  src/System.Memory/src/System/MemoryExtensions.Portable.cs
  src/System.Memory/src/System/Span.Portable.cs
  src/System.Memory/tests/Memory/AsMemory.cs
  src/System.Memory/tests/Span/AsSpan.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
Labels: area-System.Memory

#26543 Fix OOM in regex for large regex quantifier
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexFCD.cs
  src/System.Text.RegularExpressions/tests/Regex.Match.Tests.cs
  src/System.Text.RegularExpressions/tests/RegexCompilationHelper.cs
  src/System.Text.RegularExpressions/tests/System.Text.RegularExpressions.Tests.csproj
Labels: area-System.Text.RegularExpressions

#27109 Adding support for ncurses 6.1 TERM format on System.Console
  src/System.Console/src/Resources/Strings.resx
  src/System.Console/src/System/TermInfo.cs
  src/System.Console/tests/System.Console.Tests.csproj
  src/System.Console/tests/TermInfo.cs
  src/System.Console/tests/TestData/ncursesFormats/s/screen-256color
  src/System.Console/tests/TestData/ncursesFormats/x/xterm
Labels: area-System.Console

#27567 Remove System.Runtime.Intrinsics for .NET Core 2.1
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  pkg/descriptions.json
  src/System.Runtime.Intrinsics.Experimental/System.Runtime.Intrinsics.Experimental.sln
  src/System.Runtime.Intrinsics.Experimental/dir.props
  src/System.Runtime.Intrinsics.Experimental/pkg/System.Runtime.Intrinsics.Experimental.pkgproj
  src/System.Runtime.Intrinsics.Experimental/ref/Configurations.props
  src/System.Runtime.Intrinsics.Experimental/ref/System.Runtime.Intrinsics.Experimental.csproj
  src/System.Runtime.Intrinsics.Experimental/ref/System.Runtime.Intrinsics.cs
  src/System.Runtime.Intrinsics.Experimental/src/Configurations.props
  src/System.Runtime.Intrinsics.Experimental/src/System.Runtime.Intrinsics.Experimental.csproj
Labels: area-System.Runtime.Intrinsics

#27581 Ensure unique tasknames in crossbuild.json
  buildpipeline/DotNet-CoreFx-Trusted-Linux-Crossbuild.json
Labels: area-Infrastructure

#27582 Add support for queuing a stable package build
  Packaging.props
  buildpipeline/pipeline.json
  pkg/baseline/baseline.props
  pkg/dir.props
  src/packages.builds
Labels: packaging

#27573 PipeOptions.CurrentUserOnly: remove dir on Unix and add negative tests for Windows
  src/System.IO.Pipes/src/System.IO.Pipes.csproj
  src/System.IO.Pipes/src/System/IO/Pipes/NamedPipeClientStream.cs
  src/System.IO.Pipes/src/System/IO/Pipes/NamedPipeServerStream.Unix.cs
  src/System.IO.Pipes/src/System/IO/Pipes/PipeStream.Unix.cs
  src/System.IO.Pipes/src/System/IO/Pipes/PipeStream.Windows.cs
  src/System.IO.Pipes/tests/NamedPipeTests/NamedPipeTest.CurrentUserOnly.netcoreapp.Windows.cs
  src/System.IO.Pipes/tests/NamedPipeTests/NamedPipeTest.CurrentUserOnly.netcoreapp.cs
  src/System.IO.Pipes/tests/System.IO.Pipes.Tests.csproj
Labels: area-System.IO

#27531 Re-enable UAP builds
  buildpipeline/pipeline.json
  buildpipeline/pipelinejobs.groovy
  buildvertical.targets
  pkg/CoreFx.Private.TestUtilities/CoreFx.Private.TestUtilities.pkgproj
  src/Common/src/Interop/Windows/kernel32/Interop.CreateFile2.cs
  src/CoreFx.Private.TestUtilities/ref/CoreFx.Private.TestUtilities.csproj
  src/System.IO.Pipes.AccessControl/src/Configurations.props
  src/System.Net.Http/ref/System.Net.Http.cs
  src/System.Net.Http/ref/System.Net.Http.csproj
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/HttpClientHandler.Core.cs
  src/System.Net.Http/src/System/Net/Http/HttpClientHandler.netcoreapp.cs
  src/System.Net.NameResolution/src/System.Net.NameResolution.csproj
  src/System.Net.NameResolution/src/System/Net/NameResolutionPal.Uap.cs
  src/System.Net.NameResolution/src/System/Net/NameResolutionPal.Win32.cs
  src/System.Net.NameResolution/src/System/Net/NameResolutionPal.Windows.cs
  src/System.Net.NameResolution/tests/PalTests/System.Net.NameResolution.Pal.Tests.csproj
  src/System.Numerics.Vectors/ref/Configurations.props
  src/System.Numerics.Vectors/ref/System.Numerics.Vectors.csproj
  src/System.Numerics.Vectors/src/Configurations.props
  src/System.Numerics.Vectors/src/System.Numerics.Vectors.csproj
  src/System.Runtime.Extensions/src/ApiCompatBaseline.uapaot.txt
  src/System.Runtime.Extensions/src/System.Runtime.Extensions.csproj
  src/System.Threading.Thread/src/System.Threading.Thread.csproj
  src/System.Threading.Thread/src/System/Threading/Thread.cs
  src/System.Threading.ThreadPool/src/ApiCompatBaseline.uapaot.txt
Labels: area-Infrastructure

#27633 Add GetPosition overload to ReadOnlySequence
  src/System.IO.Pipelines/tests/BackpressureTests.cs
  src/System.IO.Pipelines/tests/PipeReaderWriterFacts.cs
  src/System.Memory/ref/System.Memory.cs
  src/System.Memory/src/System/Buffers/BuffersExtensions.cs
  src/System.Memory/src/System/Buffers/ReadOnlySequence.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.Common.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.byte.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.char.cs
Labels: area-System.Memory

#27644 Fix System.IO.Pipelines reference assembly
  src/System.IO.Pipelines/ref/System.IO.Pipelines.cs
  src/System.IO.Pipelines/ref/System.IO.Pipelines.csproj
  src/System.IO.Pipelines/src/System.IO.Pipelines.csproj
Labels: area-System.IO.Pipelines

#26291 Use SIGCHLD to trigger Process waitpid check
  src/Common/src/Interop/Unix/System.Native/Interop.RegisterForSigChld.cs
  src/Common/src/Interop/Unix/System.Native/Interop.WaitId.cs
  src/Common/src/Interop/Unix/System.Native/Interop.WaitPid.cs
  src/Native/Unix/System.Native/CMakeLists.txt
  src/Native/Unix/System.Native/pal_console.cpp
  src/Native/Unix/System.Native/pal_console.h
  src/Native/Unix/System.Native/pal_process.cpp
  src/Native/Unix/System.Native/pal_process.h
  src/Native/Unix/System.Native/pal_signal.c
  src/Native/Unix/System.Native/pal_signal.h
  src/System.Console/src/System.Console.csproj
  src/System.Console/src/System/ConsolePal.Unix.cs
  src/System.Diagnostics.Process/src/System.Diagnostics.Process.csproj
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/ProcessWaitHandle.Unix.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/ProcessWaitState.Unix.cs
  src/System.Diagnostics.Process/tests/ProcessTestBase.NonUap.cs
  src/System.Diagnostics.Process/tests/ProcessTestBase.Uap.cs
  src/System.Diagnostics.Process/tests/ProcessTests.Unix.cs
  src/System.Diagnostics.Process/tests/RemotelyInvokable.cs
Labels: area-System.Diagnostics.Process

#26580 [Arm64] HW Intrinsics API
  src/System.Runtime.Intrinsics.Experimental/ref/System.Runtime.Intrinsics.cs
Labels: area-System.Runtime.Intrinsics

#27669 Revert exposing Capture.Text
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Capture.cs
Labels: area-System.Text.RegularExpressions

#27631 Support UnixDomainSocketEndPoint on Windows
  src/System.Net.Sockets/src/System.Net.Sockets.csproj
  src/System.Net.Sockets/src/System/Net/Sockets/UnixDomainSocketEndPoint.Unix.cs
  src/System.Net.Sockets/src/System/Net/Sockets/UnixDomainSocketEndPoint.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/UnixDomainSocketEndPoint.cs
  src/System.Net.Sockets/tests/FunctionalTests/System.Net.Sockets.Tests.csproj
  src/System.Net.Sockets/tests/FunctionalTests/UnixDomainSocketTest.cs
  src/System.Net.Sockets/tests/FunctionalTests/UnixDomainSocketTest.netcoreapp.cs
Labels: area-System.Net.Sockets

#27599 Add tests for TypeForwardedFromAttribute
  src/System.Runtime/tests/System.Runtime.Tests.csproj
  src/System.Runtime/tests/System/Runtime/CompilerServices/AttributesTests.cs
Labels: area-System.Runtime

#27678 Add DateTime ParseExact test with 'Allow White' styles
  src/System.Runtime/tests/System/DateTimeTests.cs
Labels: area-System.Runtime

#27691 Fix ReadOnlySequence First
  src/System.Memory/src/System/Buffers/IMemoryList.cs
  src/System.Memory/src/System/Buffers/ReadOnlySequence_helpers.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.Common.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.TryGet.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
Labels: area-System.Memory

#27650 System.Net.Security.Tests fails 3 tests in non-English Windows
  src/System.Net.Security/tests/FunctionalTests/NegotiateStreamStreamToStreamTest.cs
Labels: area-System.Net.Security, test bug

#27694 Add back Memory.ToString() to referencey assembly and add tests
  src/System.Memory/ref/System.Memory.cs
  src/System.Memory/tests/Memory/ToString.cs
  src/System.Memory/tests/ReadOnlyMemory/ToString.cs
  src/System.Memory/tests/ReadOnlySpan/ToString.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
Labels: area-System.Memory

#27601 Improve performance of SystemNative_GetNonCryptographicallySecureRandomBytes
  src/Native/Unix/System.Native/pal_random.cpp
Labels: area-System.Security

#27424 Improve SqlDataRecord test coverage
  src/System.Data.SqlClient/tests/FunctionalTests/SqlDataRecordTest.cs
Labels: area-System.Data.SqlClient

#27699 Added argument name to the exception
  src/System.IO.FileSystem.DriveInfo/src/System/IO/DriveInfo.Windows.cs
  src/System.IO.FileSystem.DriveInfo/tests/DriveInfo.Windows.Tests.cs
Labels: area-System.IO

#27681 Enabling tests for GetPathRoot
  src/System.IO.FileSystem/tests/Directory/GetDirectoryRoot.cs
  src/System.IO.FileSystem/tests/Directory/GetParent.cs
  src/System.IO.FileSystem/tests/DirectoryInfo/Root.cs
  src/System.IO.FileSystem/tests/FileInfo/Directory.cs
  src/System.Runtime.Extensions/tests/System/IO/PathTests_Windows.netcoreapp.cs
Labels: area-System.IO

#27665 Use .Net lib for SecurityProtocol
  UpdatePublishedVersions.ps1
Labels: area-Infrastructure

#27729 Fix Utf8ParserFormatter test culture settings dependency
  src/System.Memory/tests/ParsersAndFormatters/Parser/TestData.Parser.Integer.cs
  src/System.Memory/tests/ParsersAndFormatters/Parser/TestData.Parser.TimeSpan.cs
  src/System.Memory/tests/ParsersAndFormatters/PseudoDateTime.cs
  src/System.Memory/tests/ParsersAndFormatters/TestData.cs
  src/System.Memory/tests/ParsersAndFormatters/TestUtils.cs
Labels: area-System.Memory

#27683 Fix `ManagementDateTimeConverter.ToDateTime` bug of using `TimeZone` class
  src/System.Management/src/System/Management/ManagementDateTime.cs
  src/System.Management/tests/System/Management/ManagementDateTimeConverterTests.cs
Labels: area-System.Management

#27728 Fix order of native overlapped freeing in SocketAsyncEventArgs on Windows
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Windows.cs
Labels: area-System.Net.Sockets, netfx-port-consider

#27727 Add folded response header support to SocketsHttpHandler
  src/Common/tests/System/Net/Http/LoopbackServer.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/tests/FunctionalTests/DribbleStream.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#27667 Use .Net Core for updating Versions repo
  buildpipeline/DotNet-Trusted-Publish.json
Labels: area-Infrastructure

#27666 Use .Net Core for UpdatePublishDependencies
  UpdatePublishedVersions.ps1
Labels: area-Infrastructure

#27616 [Arm64] Add crypto intrinsics
  src/System.Runtime.Intrinsics.Experimental/ref/System.Runtime.Intrinsics.cs
Labels: area-System.Runtime.Intrinsics

#27739 SocketsHttpHandler: Change caching of Host header value to include port when necessary
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#27748 fix some conditional test logic related to SocketsHttpHandler
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/PostScenarioTest.cs
  src/System.Net.Http/tests/FunctionalTests/ResponseStreamTest.cs
Labels: area-System.Net.Http, test enhancement

#27614 Adding support for ncurses 6.1 TERM format on System.Console (#27109)
  src/System.Console/src/Resources/Strings.resx
  src/System.Console/src/System/TermInfo.cs
  src/System.Console/tests/System.Console.Tests.csproj
  src/System.Console/tests/TermInfo.cs
  src/System.Console/tests/TestData/ncursesFormats/s/screen-256color
  src/System.Console/tests/TestData/ncursesFormats/x/xterm
Labels: Servicing-Approved-2.0.7

#27615 Fix semantics of ArrayMemoryPool
  src/System.IO.Pipelines/src/System/IO/Pipelines/BufferSegment.cs
  src/System.IO.Pipelines/tests/FlushAsyncCancellationTests.cs
  src/System.IO.Pipelines/tests/PipePoolTests.cs
  src/System.IO.Pipelines/tests/TestMemoryPool.cs
  src/System.Memory/src/System.Memory.csproj
  src/System.Memory/src/System/Buffers/ArrayMemoryPool.ArrayMemoryPoolBuffer.cs
  src/System.Memory/tests/MemoryPool/MemoryPool.cs
Labels: area-System.Memory

#27708 Add response drain max time to SocketsHttpHandler
  src/Common/src/System/Net/Http/HttpHandlerDefaults.cs
  src/System.Net.Http/src/ILLinkTrim.xml
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ChunkedEncodingReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ContentLengthReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionSettings.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ResponseDrain.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientTestBase.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#27744 Remove apis that duplicate implicit operators.
  src/Common/src/System/Security/Cryptography/Asn1V2.Serializer.cs
  src/Common/tests/System/Security/Cryptography/ByteUtils.cs
  src/System.Memory/ref/System.Memory.cs
  src/System.Memory/tests/TestHelpers.cs
  src/System.Private.Xml/src/System/Xml/NameTable.cs
  src/System.Runtime.Extensions/tests/TestHelpers.cs
  src/System.Security.Cryptography.Algorithms/tests/DSATests.cs
  src/System.Security.Cryptography.Encoding/tests/System.Security.Cryptography.Encoding.Tests.csproj
  src/System.Security.Cryptography.Encoding/tests/TestHelpers.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSigner.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SignerInfo.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SubjectIdentifier.cs
  src/System.Text.Encoding/tests/Decoder/DecoderSpanTests.netcoreapp.cs
Labels: area-System.Memory

#27796 Remove faulty assert from SocketAsyncEventArgs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Windows.cs
Labels: area-System.Net.Sockets

#27777 Fix NullReferenceException when using client certs with ClientWebSocket
  src/System.Net.WebSockets.Client/src/ILLinkTrim.xml
  src/System.Net.WebSockets.Client/src/System.Net.WebSockets.Client.csproj
  src/System.Net.WebSockets.Client/src/System/Net/WebSockets/ClientWebSocketOptions.cs
  src/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.Managed.cs
  src/System.Net.WebSockets.Client/tests/ClientWebSocketOptionsTests.cs
Labels: area-System.Net

#27794 Fix test failure by returning early from AssertMessage
  src/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/CompositionExceptionTests.cs
Labels: area-System.ComponentModel

#27791 Use generic WeakReference and avoid casting in Regex
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Match.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Reference.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Cache.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Replace.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexReplacement.cs
Labels: area-System.Text.RegularExpressions

#27809 Support trimmed paths in FileInfo
  src/System.IO.FileSystem/src/Microsoft/Win32/SafeHandles/SafeFindHandle.Windows.cs
  src/System.IO.FileSystem/src/System/IO/Directory.cs
  src/System.IO.FileSystem/src/System/IO/File.cs
  src/System.IO.FileSystem/src/System/IO/FileInfo.cs
  src/System.IO.FileSystem/src/System/IO/FileSystemInfo.Unix.cs
  src/System.IO.FileSystem/src/System/IO/FileSystemInfo.Windows.cs
  src/System.IO.FileSystem/tests/Enumeration/TrimmedPaths.netcoreapp.cs
Labels: area-System.IO

#27634 Adding support for ncurses 6.1 TERM format on System.Console
  src/System.Console/src/Resources/Strings.resx
  src/System.Console/src/System/TermInfo.cs
  src/System.Console/tests/System.Console.Tests.csproj
  src/System.Console/tests/TermInfo.cs
  src/System.Console/tests/TestData/ncursesFormats/s/screen-256color
  src/System.Console/tests/TestData/ncursesFormats/x/xterm
Labels: Servicing-Approved-1.0.11

#27632 Adding support for ncurses 6.1 TERM format on System.Console (#27109)
  src/System.Console/src/Resources/Strings.resx
  src/System.Console/src/System/TermInfo.cs
  src/System.Console/tests/System.Console.Tests.csproj
  src/System.Console/tests/TermInfo.cs
  src/System.Console/tests/TestData/ncursesFormats/s/screen-256color
  src/System.Console/tests/TestData/ncursesFormats/x/xterm
Labels: Servicing-Approved-1.1.8

#27781 Fix the unhandled exception and test validation in manual tests
  src/System.Data.SqlClient/tests/ManualTests/DataCommon/DataTestUtility.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/CommandCancelTest/CommandCancelTest.cs
Labels: area-System.Data.SqlClient

#27533 Don't look at base classes for interfaces in Microsoft.CSharp
  src/Microsoft.CSharp/src/Microsoft.CSharp.csproj
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/MethodTypeInferrer.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/UtilityTypeExtensions.cs
Labels: area-Microsoft.CSharp

#27832 Add missing IInternalConfigHost method
  src/System.Configuration.ConfigurationManager/ref/System.Configuration.ConfigurationManager.csproj
  src/System.Configuration.ConfigurationManager/ref/System.Configuration.cs
  src/System.Configuration.ConfigurationManager/src/ApiCompatBaseline.netfx.txt
  src/System.Configuration.ConfigurationManager/src/System.Configuration.ConfigurationManager.csproj
  src/System.Configuration.ConfigurationManager/src/System/Configuration/Internal/DelegatingConfigHost.cs
  src/System.Configuration.ConfigurationManager/src/System/Configuration/Internal/IInternalConfigHost.cs
  src/System.Configuration.ConfigurationManager/src/System/Configuration/Internal/InternalConfigHost.cs
  src/System.Configuration.ConfigurationManager/tests/System/Configuration/TypeUtilTests.cs
Labels: area-System.Configuration

#27826 Named pipe in Unix respects absolute path
  src/System.IO.Pipes/src/Resources/Strings.resx
  src/System.IO.Pipes/src/System/IO/Pipes/PipeStream.Unix.cs
  src/System.IO.Pipes/tests/NamedPipeTests/NamedPipeTest.CreateClient.cs
  src/System.IO.Pipes/tests/NamedPipeTests/NamedPipeTest.CurrentUserOnly.netcoreapp.cs
  src/System.IO.Pipes/tests/NamedPipeTests/NamedPipeTest.UnixDomainSockets.cs
  src/System.IO.Pipes/tests/System.IO.Pipes.Tests.csproj
Labels: area-System.IO

#27759 Keep memory a MetadataReader created from provider/PEReader accesses alive until the provider/PEReader is released
  src/System.Reflection.Metadata/src/System/Reflection/Metadata/MetadataReader.cs
  src/System.Reflection.Metadata/src/System/Reflection/Metadata/MetadataReaderProvider.cs
  src/System.Reflection.Metadata/src/System/Reflection/Metadata/PEReaderExtensions.cs
  src/System.Reflection.Metadata/tests/Metadata/MetadataReaderProviderTests.cs
  src/System.Reflection.Metadata/tests/PortableExecutable/PEReaderTests.cs
Labels: area-System.Reflection.Metadata

#27807 Added Tests for Setting Element
  src/System.Configuration.ConfigurationManager/tests/System.Configuration.ConfigurationManager.Tests.csproj
  src/System.Configuration.ConfigurationManager/tests/System/Configuration/SettingElementTests.cs
Labels: area-System.Configuration

#27831 Update SLNs and projects to be in sync with configurations
  src/Microsoft.CSharp/Microsoft.CSharp.sln
  src/Microsoft.Win32.SystemEvents/Microsoft.Win32.SystemEvents.sln
  src/Microsoft.Win32.SystemEvents/src/Microsoft.Win32.SystemEvents.csproj
  src/System.Collections/src/System.Collections.csproj
  src/System.Diagnostics.Process/System.Diagnostics.Process.sln
  src/System.Diagnostics.Process/tests/System.Diagnostics.Process.Tests.csproj
  src/System.Diagnostics.Tracing/System.Diagnostics.Tracing.sln
  src/System.DirectoryServices.AccountManagement/tests/System.DirectoryServices.AccountManagement.Tests.csproj
  src/System.DirectoryServices.Protocols/tests/System.DirectoryServices.Protocols.Tests.csproj
  src/System.DirectoryServices/tests/System.DirectoryServices.Tests.csproj
  src/System.Globalization/System.Globalization.sln
  src/System.IO.Compression.Brotli/System.IO.Compression.Brotli.sln
  src/System.IO.Compression/System.IO.Compression.sln
  src/System.IO.Compression/ref/System.IO.Compression.csproj
  src/System.IO.Compression/src/System.IO.Compression.csproj
  src/System.IO.Compression/tests/Performance/System.IO.Compression.Performance.Tests.csproj
  src/System.IO.Compression/tests/System.IO.Compression.Tests.csproj
  src/System.IO.Pipelines/System.IO.Pipelines.sln
  src/System.IO.Pipes.AccessControl/System.IO.Pipes.AccessControl.sln
  src/System.IO.Pipes.AccessControl/src/System.IO.Pipes.AccessControl.csproj
  src/System.Linq.Expressions/src/System.Linq.Expressions.csproj
  src/System.Linq.Expressions/tests/System.Linq.Expressions.Tests.csproj
  src/System.Management/tests/System.Management.Tests.csproj
  src/System.Memory/System.Memory.sln
  src/System.Memory/tests/System.Memory.Tests.csproj
  src/System.Net.NameResolution/tests/PalTests/System.Net.NameResolution.Pal.Tests.csproj
  src/System.Net.WebSockets.Client/src/System.Net.WebSockets.Client.csproj
  src/System.Net.WebSockets.WebSocketProtocol/System.Net.WebSockets.WebSocketProtocol.sln
  src/System.Net.WebSockets.WebSocketProtocol/ref/System.Net.WebSockets.WebSocketProtocol.csproj
  src/System.Net.WebSockets.WebSocketProtocol/tests/System.Net.WebSockets.WebSocketProtocol.Tests.csproj
  src/System.Numerics.Vectors/System.Numerics.Vectors.sln
  src/System.Numerics.Vectors/ref/System.Numerics.Vectors.csproj
  src/System.Runtime.Caching/System.Runtime.Caching.sln
  src/System.Runtime.Caching/src/System.Runtime.Caching.csproj
  src/System.Runtime.CompilerServices.Unsafe/System.Runtime.CompilerServices.Unsafe.sln
  src/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.ilproj
  src/System.Runtime.Extensions/src/System.Runtime.Extensions.csproj
  src/System.Runtime.WindowsRuntime/src/System.Runtime.WindowsRuntime.csproj
  src/System.Runtime/src/System.Runtime.csproj
  src/System.Security.Cryptography.Cng/src/System.Security.Cryptography.Cng.csproj
  src/System.Security.Cryptography.OpenSsl/System.Security.Cryptography.OpenSsl.sln
  src/System.Security.Cryptography.Primitives/System.Security.Cryptography.Primitives.sln
  src/System.Text.RegularExpressions/System.Text.RegularExpressions.sln
  src/System.Threading.Channels/System.Threading.Channels.sln
  src/System.Threading.Channels/ref/System.Threading.Channels.csproj
  src/System.Threading.Channels/src/System.Threading.Channels.csproj
  src/System.Threading.Channels/tests/System.Threading.Channels.Tests.csproj
  src/System.Threading.Tasks.Extensions/System.Threading.Tasks.Extensions.sln
  src/System.Threading.Tasks.Extensions/tests/Performance/System.Threading.Tasks.Extensions.Performance.Tests.csproj
  src/System.Threading.Tasks.Extensions/tests/System.Threading.Tasks.Extensions.Tests.csproj
  src/System.Threading.Thread/System.Threading.Thread.sln
  src/System.Threading.Thread/src/System.Threading.Thread.csproj
  src/System.Threading/src/System.Threading.csproj
Labels: area-Infrastructure

#27589 Add API that allows the emitter to indicate presence of localloc
  src/System.Reflection.Metadata/ref/System.Reflection.Metadata.cs
  src/System.Reflection.Metadata/src/System/Reflection/Metadata/Ecma335/Encoding/MethodBodyAttributes.cs
  src/System.Reflection.Metadata/src/System/Reflection/Metadata/Ecma335/Encoding/MethodBodyStreamEncoder.cs
  src/System.Reflection.Metadata/tests/Metadata/Ecma335/Encoding/MethodBodyStreamEncoderTests.cs
Labels: area-System.Reflection.Metadata

#27833 Update Buildtools & undo unnecessary changes to publish
  BuildToolsVersion.txt
  buildpipeline/DotNet-Trusted-Publish.json
Labels: area-Infrastructure

#27863 Revert "Add an empty dependency group for net45 to DataFlow package"
  src/System.Threading.Tasks.Dataflow/pkg/System.Threading.Tasks.Dataflow.pkgproj
Labels: packaging

#27805 Update UAP System.Private.CoreLib to unblock UAP builds
  dependencies.props
  external/test-runtime/XUnit.Runtime.depproj
  pkg/Microsoft.Private.CoreFx.NETCoreApp/Microsoft.Private.CoreFx.NETCoreApp.pkgproj
  pkg/Microsoft.Private.CoreFx.UAP/Microsoft.Private.CoreFx.UAP.pkgproj
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/System.Collections/src/Configurations.props
  src/System.Linq.Expressions/src/Configurations.props
  src/System.Linq.Expressions/tests/Configurations.props
  src/System.Runtime.Extensions/src/Configurations.props
  src/System.Runtime.WindowsRuntime/src/Configurations.props
  src/System.Runtime/src/Configurations.props
  src/System.Threading.Tasks.Extensions/pkg/System.Threading.Tasks.Extensions.pkgproj
  src/System.Threading.Thread/src/Configurations.props
  src/System.Threading/src/Configurations.props
  src/shims/ApiCompat.proj
  src/shims/manual/System.csproj
  src/shims/manual/mscorlib.csproj
Labels: area-Infrastructure

#27630 Checking if the client has connected to NamedPipe or not
  src/Common/tests/System/Threading/Tasks/TaskTimeoutExtensions.cs
  src/System.ServiceProcess.ServiceController/tests/ServiceBaseTests.cs
  src/System.ServiceProcess.ServiceController/tests/ServiceControllerTests.cs
  src/System.ServiceProcess.ServiceController/tests/System.ServiceProcess.ServiceController.TestService/Helpers.cs
  src/System.ServiceProcess.ServiceController/tests/System.ServiceProcess.ServiceController.TestService/Program.cs
  src/System.ServiceProcess.ServiceController/tests/System.ServiceProcess.ServiceController.TestService/TestService.cs
  src/System.ServiceProcess.ServiceController/tests/System.ServiceProcess.ServiceController.TestService/TestServiceInstaller.cs
  src/System.ServiceProcess.ServiceController/tests/System.ServiceProcess.ServiceController.Tests.csproj
  src/System.ServiceProcess.ServiceController/tests/TestServiceProvider.cs
Labels: area-System.ServiceProcess

#27865 fix SocketsHttpHandler to ignore invalid Set-Cookie
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/CookieHelper.cs
  src/System.Net.Http/tests/FunctionalTests/HttpCookieProtocolTests.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#27866 Fix race condition on Unix pooling canceled Socket operations
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncContext.Unix.cs
  src/System.Net.Sockets/tests/FunctionalTests/Accept.cs
Labels: area-System.Net.Sockets, os-linux

#27883 Add back reference to corelib files so they are visible in Visual Studio
  src/System.Memory/src/System.Memory.csproj
Labels: area-System.Memory

#27775 Activity for HttpClient calls not stopped if inner handler does not use async/await (PR 2)
  src/System.Net.Http/src/System/Net/Http/DiagnosticsHandler.cs
  src/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs
Labels: area-System.Net.Http

#26499 Issue #24343 Vector Ctor using Span
  src/System.Numerics.Vectors/ref/System.Numerics.Vectors.cs
  src/System.Numerics.Vectors/ref/System.Numerics.Vectors.csproj
  src/System.Numerics.Vectors/src/ApiCompatBaseline.uapaot.txt
  src/System.Numerics.Vectors/tests/GenericVectorTests.cs
  src/System.Numerics.Vectors/tests/GenericVectorTests.netcoreapp.cs
  src/System.Numerics.Vectors/tests/GenericVectorTests.netcoreapp.tt
  src/System.Numerics.Vectors/tests/GenericVectorTests.tt
  src/System.Numerics.Vectors/tests/Performance/Constructor/GenericVectorConstructorTests.cs
  src/System.Numerics.Vectors/tests/Performance/Constructor/GenericVectorConstructorTests.tt
  src/System.Numerics.Vectors/tests/Performance/System.Numerics.Vectors.Performance.Tests.csproj
  src/System.Numerics.Vectors/tests/System.Numerics.Vectors.Tests.csproj
Labels: area-System.Numerics

#27897 Add ExecutionContext flowing tests for Socket async operations
  src/System.Net.Sockets/tests/FunctionalTests/ExecutionContextFlowTest.cs
  src/System.Net.Sockets/tests/FunctionalTests/System.Net.Sockets.Tests.csproj
Labels: area-System.Net.Sockets, test enhancement

#27898 Eat exceptions from SocketsHttpHandler's readahead task
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#27895 Allow Socket.GetOrAllocateThreadPoolBoundHandle to fully inline
  src/Common/src/System/Net/SafeCloseSocket.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.Windows.cs
Labels: area-System.Net.Sockets

#27894 Ensure SendAsync token source is disposed when handler throws
  src/System.Net.Http/src/System/Net/Http/HttpClient.cs
Labels: area-System.Net.Http

#27843 Use ArrayPool for temporary buffers in S.S.C.Primitives
  src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/CryptoStream.cs
  src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/HashAlgorithm.cs
Labels: area-System.Security

#27860 Skip TvpTest.TestMain due to issue 27858
  src/System.Data.SqlClient/tests/ManualTests/SQL/ParameterTest/TvpTest.cs
Labels: area-System.Data.SqlClient

#27857 Conditionally execute IntegratedAuthenticationTest
  src/System.Data.SqlClient/tests/ManualTests/DataCommon/DataTestUtility.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/IntegratedAuthenticationTest/IntegratedAuthenticationTest.cs
Labels: area-System.Data.SqlClient

#27905 Optimize string-like portable Span APIs for Ordinal and OrdinalIgnoreCase
  src/System.Memory/src/System/MemoryExtensions.Portable.cs
Labels: area-System.Memory

#27789 Add tests to exercise sbyte string constructors with invalid UTF8
  src/System.Runtime/tests/System/StringTests.cs
Labels: area-System.Runtime

#27917 Move MutableDecimal from System.Memory to Common
  src/Common/src/System/MutableDecimal.cs
  src/System.Memory/src/System.Memory.csproj
  src/System.Memory/tests/System.Memory.Tests.csproj
Labels: area-System.Memory

#27923 Test changes for System.IO.FileSystem
  src/System.IO.FileSystem/tests/Directory/CreateDirectory.cs
  src/System.IO.FileSystem/tests/Directory/GetFileSystemEntries_str.cs
  src/System.IO.FileSystem/tests/Directory/Move.cs
  src/System.IO.FileSystem/tests/DirectoryInfo/CreateSubdirectory.cs
  src/System.IO.FileSystem/tests/Enumeration/ExampleTests.netcoreapp.cs
  src/System.IO.FileSystem/tests/Enumeration/SkipAttributeTests.netcoreapp.cs
  src/System.IO.FileSystem/tests/File/Copy.cs
  src/System.IO.FileSystem/tests/File/Create.cs
  src/System.IO.FileSystem/tests/File/Move.cs
  src/System.IO.FileSystem/tests/Performance/System.IO.FileSystem.Performance.Tests.csproj
  src/System.IO.FileSystem/tests/System.IO.FileSystem.Tests.csproj
Labels: area-System.IO

#27931 Start adding alternate data stream tests
  src/System.IO.FileSystem/tests/Enumeration/ExampleTests.netcoreapp.cs
  src/System.IO.FileSystem/tests/File/Copy.cs
  src/System.IO.FileSystem/tests/File/Create.cs
Labels: area-System.IO

#27945 Add more alternate data stream tests
  src/System.IO.FileSystem/tests/Base/FileGetSetAttributes.cs
  src/System.IO.FileSystem/tests/File/Delete.cs
  src/System.IO.FileSystem/tests/File/GetSetAttributes.cs
  src/System.IO.FileSystem/tests/File/Move.cs
  src/System.IO.FileSystem/tests/FileInfo/Open.cs
  src/System.IO.FileSystem/tests/FileStream/ctor_str_fm.cs
Labels: area-System.IO

#27954 Add tests to cover CurrentUserOnly in Unix when users are actually different.
  src/System.IO.Pipes/tests/NamedPipeTests/NamedPipeTest.CurrentUserOnly.netcoreapp.Unix.cs
  src/System.IO.Pipes/tests/NamedPipeTests/NamedPipeTest.CurrentUserOnly.netcoreapp.Windows.cs
  src/System.IO.Pipes/tests/System.IO.Pipes.Tests.csproj
Labels: area-System.IO

#27955 More FileSystem tests
  src/System.IO.FileSystem/tests/Enumeration/ErrorHandlingTests.netcoreapp.cs
  src/System.IO.FileSystem/tests/Enumeration/FileSystemNameTests.netcoreapp.cs
  src/System.IO.FileSystem/tests/Enumeration/RootTests.netcoreapp.cs
  src/System.IO.FileSystem/tests/System.IO.FileSystem.Tests.csproj
Labels: area-System.IO

#27958 fix NTLM auth and add some manually enabled tests
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.NtAuth.cs
  src/System.Net.Http/tests/FunctionalTests/DefaultCredentialsTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#27960 Add more tests for NamedPipe under different users on Windows
  src/System.IO.Pipes/tests/NamedPipeTests/NamedPipeTest.CurrentUserOnly.netcoreapp.Windows.cs
Labels: area-System.IO

#27890 Reverting the generic scheduler changes
  src/System.IO.Pipelines/ref/System.IO.Pipelines.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/InlineScheduler.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeScheduler.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/ThreadPoolScheduler.netcoreapp.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/ThreadPoolScheduler.netstandard.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/ThreadPoolScheduler.netstandard1.3.cs
  src/System.IO.Pipelines/tests/PipeCompletionCallbacksTests.cs
  src/System.IO.Pipelines/tests/SchedulerFacts.cs
Labels: area-System.IO.Pipelines

#27886 SocketsHttpHandler: fix logic to check for Proxy-support header
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.NtAuth.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#27859 Optimize MemoryExtensions SequenceEqual for more T's
  src/Common/src/CoreLib/System/MemoryExtensions.cs
  src/Common/src/CoreLib/System/SpanHelpers.Byte.cs
  src/System.Memory/src/System.Memory.csproj
  src/System.Memory/src/System/NUint.cs
  src/System.Memory/tests/Span/SequenceEqual.long.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
Labels: area-System.Memory

#27881 Enable reverse APICompat for 1:1 libraries
  src/Microsoft.VisualBasic/src/MatchingRefApiCompatBaseline.netstandard.txt
  src/System.Collections.Specialized/src/MatchingRefApiCompatBaseline.txt
  src/System.Configuration.ConfigurationManager/src/MatchingRefApiCompatBaseline.netstandard.txt
  src/System.Data.Common/ref/System.Data.Common.cs
  src/System.Data.Common/ref/System.Data.Common.csproj
  src/System.Data.Common/ref/System.Data.Common.netcoreapp.cs
  src/System.Data.Common/src/MatchingRefApiCompatBaseline.uapaot.txt
  src/System.Data.Odbc/src/MatchingRefApiCompatBaseline.txt
  src/System.Data.SqlClient/src/MatchingRefApiCompatBaseline.txt
  src/System.Diagnostics.DiagnosticSource/ref/Configurations.props
  src/System.Diagnostics.DiagnosticSource/ref/System.Diagnostics.DiagnosticSource.csproj
  src/System.Drawing.Common/src/MatchingRefApiCompatBaseline.txt
  src/System.IO.Compression/src/MatchingRefApiCompatBaseline.txt
  src/System.IO.FileSystem/src/MatchingRefApiCompatBaseline.txt
  src/System.IO.IsolatedStorage/src/MatchingRefApiCompatBaseline.txt
  src/System.IO.Pipes/src/MatchingRefApiCompatBaseline.txt
  src/System.Linq/src/MatchingRefApiCompatBaseline.txt
  src/System.Memory/src/MatchingRefApiCompatBaseline.txt
  src/System.Net.Http/src/MatchingRefApiCompatBaseline.uap.txt
  src/System.Net.NameResolution/src/MatchingRefApiCompatBaseline.txt
  src/System.Net.Primitives/src/MatchingRefApiCompatBaseline.netcoreapp.txt
  src/System.Net.Primitives/src/MatchingRefApiCompatBaseline.uap.txt
  src/System.Net.Requests/src/MatchingRefApiCompatBaseline.txt
  src/System.Reflection.Metadata/ref/System.Reflection.Metadata.cs
  src/System.Runtime.Caching/src/MatchingRefApiCompatBaseline.txt
  src/System.Runtime.Serialization.Formatters/src/MatchingRefApiCompatBaseline.txt
  src/System.Runtime.Serialization.Xml/src/MatchingRefApiCompatBaseline.txt
  src/System.Security.Cryptography.Pkcs/src/MatchingRefApiCompatBaseline.netstandard.txt
  src/System.Security.Cryptography.Xml/src/MatchingRefApiCompatBaseline.netstandard.txt
  src/System.Security.Cryptography.Xml/src/System.Security.Cryptography.Xml.csproj
  src/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/KeyInfoX509Data.cs
  src/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/Utils.cs
  src/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/X509IssuerSerial.cs
  src/System.Security.Principal.Windows/src/MatchingRefApiCompatBaseline.txt
  src/System.ServiceModel.Syndication/src/MatchingRefApiCompatBaseline.netstandard.txt
  src/System.Text.Encoding.CodePages/ref/System.Text.Encoding.CodePages.cs
  src/System.Text.RegularExpressions/src/MatchingRefApiCompatBaseline.txt
  src/System.Xml.XDocument/src/MatchingRefApiCompatBaseline.uap.txt
  src/System.Xml.XmlSerializer/src/MatchingRefApiCompatBaseline.netcoreapp.txt
  src/System.Xml.XmlSerializer/src/MatchingRefApiCompatBaseline.uap.txt
  src/System.Xml.XmlSerializer/src/MatchingRefApiCompatBaseline.uapaot.txt
Labels: area-Infrastructure

#27959 Add a test to validate sensitivity on OSX
  src/Common/tests/Tests/System/IO/PathInternal.Unix.Tests.cs
Labels: area-System.IO

#27939 Bootstrapping & lldb package name
  cross/build-rootfs.sh
  init-tools.sh
Labels: area-Infrastructure

#27967 Use a cached canceled task in ValueTask
  src/Common/src/CoreLib/System/Threading/Tasks/ValueTask.cs
Labels: area-System.Threading

#27925 Updates for ILLink integration.
  external/ILLink/ILLink.depproj
  illink.targets
Labels: area-Infrastructure

#27924 Fix shim APICompat checks to fail build
  src/shims/ApiCompat.proj
  src/shims/ApiCompatBaseline.netcoreapp.netstandard20.txt
  src/shims/ApiCompatBaseline.uap.netstandard20.txt
  src/shims/ApiCompatBaseline.uapaot.netstandard20.txt
Labels: area-Infrastructure

#27844 Tests for remove relative segments
  src/Common/tests/Tests/System/IO/PathInternal.Tests.cs
Labels: area-System.IO

#28004 Fix unbounded stackalloc in System.IO.FileSystem
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemName.cs
  src/System.IO.FileSystem/tests/Enumeration/FileSystemNameTests.netcoreapp.cs
Labels: area-System.IO

#27943 Added tests for callsite inline/L1/L2 caching
  src/System.Linq.Expressions/src/System/Runtime/CompilerServices/RuleCache.cs
  src/System.Linq.Expressions/tests/Dynamic/CallSiteCachingTests.cs
  src/System.Linq.Expressions/tests/System.Linq.Expressions.Tests.csproj
Labels: area-System.Dynamic.Runtime

#27988 CurlHandler: Remove Transfer-Encoding on redirect from POST to GET
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlHandler.MultiAgent.cs
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlHandler.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http, os-linux

#27975 Publish symbols using Microsoft.SymbolUploader.Build.Task package
  buildpipeline/DotNet-CoreFx-Trusted-Windows-NoTest.json
  buildpipeline/DotNet-CoreFx-Trusted-Windows.json
  buildpipeline/DotNet-Trusted-Publish-Symbols.json
  buildpipeline/DotNet-Trusted-Publish.json
  dependencies.props
  init-tools.msbuild
  src/publish.proj
  src/syncAzure.proj
Labels: area-Infrastructure

#27994 Use shared SocketsHttpHandler for some ClientWebSocket options
  src/System.Net.WebSockets.Client/src/System/Net/WebSockets/ClientWebSocket.cs
  src/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.Managed.cs
  src/System.Net.WebSockets.Client/tests/ClientWebSocketOptionsTests.Unix.cs
  src/System.Net.WebSockets.Client/tests/ClientWebSocketOptionsTests.Windows.cs
  src/System.Net.WebSockets.Client/tests/ClientWebSocketOptionsTests.cs
  src/System.Net.WebSockets.Client/tests/ClientWebSocketUnitTest.cs
  src/System.Net.WebSockets.Client/tests/System.Net.WebSockets.Client.Tests.csproj
  src/System.Net.WebSockets.Client/tests/WebSocketHelper.cs
Labels: area-System.Net

#27993 Give WebSocket server time to close connection
  src/Common/src/System/Net/WebSockets/ManagedWebSocket.cs
Labels: area-System.Net

#28008 Change behavior of SocketsHttpHandler for redirects
  src/System.Net.Http/src/Resources/Strings.resx
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/RedirectHandler.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#28011 Expose SocketsHttpHandler.ResponseDrainTimeout
  src/Common/src/System/Net/Http/HttpHandlerDefaults.cs
  src/System.Net.Http/ref/System.Net.Http.cs
  src/System.Net.Http/src/ILLinkTrim.xml
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionSettings.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ResponseDrain.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#27879 Setting element bugfix
  src/System.Configuration.ConfigurationManager/src/System/Configuration/SettingValueElement.cs
  src/System.Configuration.ConfigurationManager/tests/System/Configuration/SettingElementTests.cs
Labels: area-System.Configuration

#28017 Updated an error message
  src/System.Private.Xml/src/Resources/Strings.resx
Labels: area-Serialization

#27821 Make SocketsHttpHandler default Handler
  src/System.Net.Http/src/System/Net/Http/HttpClientHandler.cs
  src/System.Net.Http/tests/FunctionalTests/DefaultCredentialsTest.cs
  src/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientEKUTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.AcceptAllCerts.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Authentication.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cancellation.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ClientCertificates.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.DefaultProxyCredentials.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.MaxConnectionsPerServer.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.MaxResponseHeadersLength.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ResponseDrain.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ServerCertificates.Unix.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ServerCertificates.Windows.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ServerCertificates.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.SslProtocols.Unix.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.SslProtocols.Windows.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.SslProtocols.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientMiniStressTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientTest.netcoreapp.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientTestBase.cs
  src/System.Net.Http/tests/FunctionalTests/HttpCookieProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/HttpProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/HttpRetryProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/IdnaProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/PlatformHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/PostScenarioTest.cs
  src/System.Net.Http/tests/FunctionalTests/PostScenarioUWPTest.cs
  src/System.Net.Http/tests/FunctionalTests/ResponseStreamTest.cs
  src/System.Net.Http/tests/FunctionalTests/SchSendAuxRecordHttpTest.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/System.Net.HttpListener/tests/HttpRequestStreamTests.cs
  src/System.Net.Requests/tests/HttpWebRequestTest.cs
  src/System.Net.WebSockets.Client/tests/ClientWebSocketOptionsTests.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#28006 Couple simple optimizations around dynamic callsites/binding
  src/System.Linq.Expressions/src/System/Dynamic/DynamicMetaObject.cs
  src/System.Linq.Expressions/src/System/Dynamic/UpdateDelegates.Generated.cs
  src/System.Linq.Expressions/src/System/Dynamic/UpdateDelegates.Generated.tt
  src/System.Linq.Expressions/src/System/Runtime/CompilerServices/CallSite.cs
Labels: area-System.Dynamic.Runtime

#28031 Add tests for ClientWebSocket connections thru a proxy
  src/Common/tests/System/Net/Configuration.WebSockets.cs
  src/System.Net.WebSockets.Client/tests/ClientWebSocketOptionsTests.cs
  src/System.Net.WebSockets.Client/tests/WebSocketHelper.cs
Labels: area-System.Net

#28057 Use Intermediate path for GenerateReferenceSource
  dir.targets
Labels: area-Infrastructure

#27758 SNIPacket memory allocation perf improvement (revised)
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIHandle.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIMarsConnection.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIMarsHandle.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNINpHandle.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIPacket.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIProxy.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNITcpHandle.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObject.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObjectManaged.cs
Labels: area-System.Data.SqlClient

#27803 Use ReflectionBasedSerializer for all serializers if any of mappings are soap mappings
  src/System.Private.Xml/src/System/Xml/Serialization/XmlSerializer.cs
Labels: area-Serialization

#28068 Fix XAttribute Date Formatting
  src/System.Private.Xml.Linq/src/System/Xml/Linq/XContainer.cs
  src/System.Private.Xml.Linq/tests/misc/System.Xml.Linq.Misc.Tests.csproj
  src/System.Private.Xml.Linq/tests/misc/XAttribute.cs
Labels: area-System.Xml

#28029 Porting ServiceProcessDescription attribute
  src/System.ServiceProcess.ServiceController/ref/System.ServiceProcess.ServiceController.cs
  src/System.ServiceProcess.ServiceController/src/System.ServiceProcess.ServiceController.csproj
  src/System.ServiceProcess.ServiceController/src/System/ServiceProcess/ServiceProcessDescriptionAttribute.cs
  src/System.ServiceProcess.ServiceController/tests/ServiceProcessDescriptionAttributeTests.cs
  src/System.ServiceProcess.ServiceController/tests/System.ServiceProcess.ServiceController.Tests.csproj
Labels: area-System.ServiceProcess

#28084 Avoid lots of small allocations when parsing Uri with IP address
  src/System.Private.Uri/src/System/IPv4AddressHelper.cs
Labels: area-System.Net

#28086 Avoid allocating long[] in Uri's ParseNonCanonical
  src/System.Private.Uri/src/System/IPv4AddressHelper.cs
Labels: area-System.Net

#28073 Port SequentialEqual() optimizations to ReadOnlySpan overloads
  src/Common/src/CoreLib/System/MemoryExtensions.cs
  src/System.Memory/tests/ReadOnlySpan/SequenceEqual.long.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
Labels: area-System.Memory

#28047 Fix SocketsHttpHandler.PreAuthenticate behavior
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.Basic.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.NtAuth.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpAuthenticatedConnectionHandler.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionHandler.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPoolManager.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Authentication.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#27725 Normalize the too-big-to-decrypt message across RSA implementations
  src/Common/src/System/Security/Cryptography/RSACng.EncryptDecrypt.cs
  src/Common/src/System/Security/Cryptography/RSAOpenSsl.cs
  src/Common/src/System/Security/Cryptography/RSASecurityTransforms.cs
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RSA/EncryptDecrypt.cs
  src/System.Security.Cryptography.Algorithms/src/Resources/Strings.resx
  src/System.Security.Cryptography.Cng/src/Resources/Strings.resx
  src/System.Security.Cryptography.OpenSsl/src/Resources/Strings.resx
  src/System.Security.Cryptography.X509Certificates/src/Resources/Strings.resx
Labels: area-System.Security

#28036 Update the disabled test with the new bug numbers
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Authentication.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http

#28042 Add SuppressMetaPackage to break circular dependency during package restore
  src/System.Runtime.CompilerServices.Unsafe/pkg/System.Runtime.CompilerServices.Unsafe.pkgproj
Labels: area-System.Runtime.CompilerServices

#27645 Add SqlCredential dependent APIs
  src/System.Data.SqlClient/ref/System.Data.SqlClient.cs
  src/System.Data.SqlClient/src/Resources/Strings.resx
  src/System.Data.SqlClient/src/System/Data/Common/AdapterUtil.SqlClient.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlConnection.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlConnectionFactory.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlConnectionPoolKey.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlInternalConnectionTds.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlUtil.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserHelperClasses.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObject.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStaticMethods.cs
  src/System.Data.SqlClient/tests/FunctionalTests/SqlConnectionBasicTests.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlCredentialTest/SqlCredentialTest.cs
  src/System.Data.SqlClient/tests/ManualTests/System.Data.SqlClient.ManualTesting.Tests.csproj
Labels: area-System.Data.SqlClient

#28094 Fixing NonBreakingSpace test on OSX
  src/System.IO.FileSystem/tests/Directory/EnumerableTests.cs
Labels: area-System.IO

#28079 [1.1] Expand the RID graph, fix clang5 build
  init-tools.sh
  pkg/Microsoft.NETCore.Platforms/runtime.json
  src/Native/Unix/CMakeLists.txt
  src/Native/Unix/configure.cmake
Labels: area-Infrastructure, enhancement

#27998 Add tilde path tests
  src/System.Runtime.Extensions/tests/System/IO/PathTests.cs
Labels: area-System.IO

#28089 Windows interop fixes for System.Runtime.Extensions
  src/Common/src/CoreLib/System/IO/PathHelper.Windows.cs
  src/Common/src/Interop/Windows/advapi32/Interop.LookupAccountNameW.cs
  src/Common/src/Interop/Windows/kernel32/Interop.ExpandEnvironmentStrings.cs
  src/Common/src/Interop/Windows/kernel32/Interop.GetComputerName.cs
  src/Common/src/Interop/Windows/kernel32/Interop.GetCurrentDirectory.cs
  src/Common/src/Interop/Windows/kernel32/Interop.GetLongPathName.cs
  src/Common/src/Interop/Windows/kernel32/Interop.GetSystemDirectoryW.cs
  src/Common/src/Interop/Windows/secur32/Interop.GetUserNameExW.cs
  src/System.Diagnostics.PerformanceCounter/src/System.Diagnostics.PerformanceCounter.csproj
  src/System.Runtime.Extensions/src/System.Runtime.Extensions.csproj
  src/System.Runtime.Extensions/src/System/Environment.Win32.cs
  src/System.Runtime.Extensions/src/System/Environment.WinRT.cs
  src/System.Runtime.Extensions/src/System/Environment.Windows.cs
  src/System.Runtime.Extensions/tests/Performance/System.Runtime.Extensions.Performance.Tests.csproj
  src/System.Runtime.Extensions/tests/System.Runtime.Extensions.Tests.csproj
  src/System.Runtime.Extensions/tests/System/Environment.UserDomainName.cs
  src/System.Runtime.Extensions/tests/System/Environment.UserName.cs
  src/System.Runtime.Extensions/tests/System/EnvironmentTests.cs
Labels: area-System.IO, area-System.Runtime.Extensions

#28106 Enable SendReceive_VaryingLengthBuffers_Success test
  src/System.Net.WebSockets.Client/tests/SendReceiveTest.cs
Labels: area-System.Net

#27191 ArgumentList added to Process.StartInfo
  src/Common/src/System/PasteArguments.cs
  src/System.Diagnostics.Process/ref/System.Diagnostics.Process.cs
  src/System.Diagnostics.Process/src/Resources/Strings.resx
  src/System.Diagnostics.Process/src/System.Diagnostics.Process.csproj
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.Win32.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.Windows.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/ProcessStartInfo.cs
  src/System.Diagnostics.Process/tests/ProcessStartInfoTests.cs
  src/System.Diagnostics.Process/tests/ProcessStartInfoTests.netcoreapp.cs
  src/System.Diagnostics.Process/tests/ProcessTests.Unix.cs
  src/System.Diagnostics.Process/tests/ProcessTests.netcoreapp.cs
  src/System.Diagnostics.Process/tests/System.Diagnostics.Process.Tests.csproj
Labels: area-System.Diagnostics.Process

#28037 Add GetHashCode test for invariant mode
  src/System.Globalization/tests/Invariant/InvariantMode.cs
Labels: area-System.Globalization

#28126 Skip large arrays test on full framework
  src/System.Memory/tests/Memory/OwnedMemory.cs
Labels: test bug

#28108 Fix WebException to handle SocketsHttpHandler generated errors
  src/System.Net.Requests/src/System/Net/WebException.cs
  src/System.Net.Requests/src/System/Net/WebExceptionPal.Unix.cs
  src/System.Net.Requests/src/System/Net/WebExceptionPal.Windows.cs
  src/System.Net.Requests/tests/HttpWebRequestTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#28125 [1.1] Add OpenSuse423 and Ubuntun1804 to init-tools cli initialization
  init-tools.sh
Labels: area-Infrastructure

#28105 WinHttpHandler: Check available credentials when choosing authentication scheme
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpAuthHelper.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Authentication.cs
Labels: area-System.Net.Http

#28129 Shortcutting the code path of LongFileTime.ToDateTimeOffset()
  src/Common/src/Interop/Windows/Interop.LongFileTime.cs
Labels: area-System.IO

#28124 Check for name surrogates when deleting reparse points
  src/System.IO.FileSystem/src/System/IO/FileSystem.Windows.cs
Labels: area-System.IO

#27085 Tests For GetFullPath(string path,string basePath)
  src/System.Runtime.Extensions/ref/System.Runtime.Extensions.cs
  src/System.Runtime.Extensions/tests/System/IO/PathTests.netcoreapp.cs
  src/System.Runtime.Extensions/tests/System/IO/PathTests_Unix.cs
  src/System.Runtime.Extensions/tests/System/IO/PathTests_Windows.netcoreapp.cs
Labels: area-System.IO

#28121 Change csharp_indent_labels from flush_left to one_less_than_current
  .editorconfig
  Documentation/coding-guidelines/coding-style.md
Labels: area-Meta

#28098 Avoid recvmsg system call when 0-byte receive completes async
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncContext.Unix.cs
Labels: area-System.Net.Sockets, os-linux

#27082 Added DCS Tests for System.Drawing Types
  src/Common/tests/System/Runtime/Serialization/Utils.cs
  src/Microsoft.XmlSerializer.Generator/tests/Microsoft.XmlSerializer.Generator.Tests.csproj
  src/System.Drawing.Primitives/tests/DataContractSerializerTests.cs
  src/System.Drawing.Primitives/tests/System.Drawing.Primitives.Tests.csproj
  src/System.Private.Xml/tests/XmlSerializer/Performance/System.Xml.XmlSerializer.Performance.Tests.csproj
  src/System.Private.Xml/tests/XmlSerializer/ReflectionOnly/System.Xml.XmlSerializer.ReflectionOnly.Tests.csproj
  src/System.Private.Xml/tests/XmlSerializer/System.Xml.XmlSerializer.Tests.csproj
  src/System.Runtime.Serialization.Json/tests/Performance/System.Runtime.Serialization.Json.Performance.Tests.csproj
  src/System.Runtime.Serialization.Json/tests/ReflectionOnly/System.Runtime.Serialization.Json.ReflectionOnly.Tests.csproj
  src/System.Runtime.Serialization.Json/tests/System.Runtime.Serialization.Json.Tests.csproj
  src/System.Runtime.Serialization.Xml/tests/Performance/System.Runtime.Serialization.Xml.Performance.Tests.csproj
  src/System.Runtime.Serialization.Xml/tests/ReflectionOnly/System.Runtime.Serialization.Xml.ReflectionOnly.Tests.csproj
  src/System.Runtime.Serialization.Xml/tests/System.Runtime.Serialization.Xml.Tests.csproj
Labels: area-System.Drawing

#27793 Fixing disabled ProcessExit_Called test masked by #27426
  src/System.Runtime/tests/System/Runtime/ExceptionServices/HandleProcessCorruptedStateExceptions.cs
Labels: area-System.Diagnostics.Process

#28101 Update warning messages
  src/Microsoft.XmlSerializer.Generator/pkg/build/Microsoft.XmlSerializer.Generator.targets
Labels: area-Serialization

#28134 Remove some low-hanging fruit allocations from SocketsHttpHandler connections
  src/Common/src/Interop/Windows/SChannel/UnmanagedCertificateContext.IntPtr.cs
  src/Common/src/Interop/Windows/kernel32/Interop.FormatMessage.cs
  src/Common/src/Interop/Windows/sspicli/SecuritySafeHandles.cs
  src/Common/src/System/Net/NTAuthentication.Common.cs
  src/Microsoft.Win32.Primitives/src/Microsoft.Win32.Primitives.csproj
  src/Microsoft.Win32.Registry/src/Microsoft.Win32.Registry.csproj
  src/System.Console/src/System.Console.csproj
  src/System.IO.MemoryMappedFiles/src/System.IO.MemoryMappedFiles.csproj
  src/System.Net.Http.WinHttpHandler/src/System.Net.Http.WinHttpHandler.csproj
  src/System.Net.Http/src/System/Net/Http/Headers/AuthenticationHeaderValue.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPoolManager.cs
  src/System.Net.Security/src/System/Net/Security/SecureChannel.cs
  src/System.Net.Security/src/System/Net/Security/SslAuthenticationOptions.cs
  src/System.Net.Security/src/System/Net/Security/SslClientAuthenticationOptions.cs
  src/System.Net.Security/src/System/Net/Security/SslState.cs
  src/System.Net.Security/src/System/Net/Security/SslStream.cs
  src/System.Net.Security/src/System/Net/Security/SslStreamPal.OSX.cs
  src/System.Net.Security/src/System/Net/Security/SslStreamPal.Unix.cs
  src/System.Net.Security/src/System/Net/Security/StreamSizes.OSX.cs
  src/System.Net.Security/src/System/Net/Security/StreamSizes.Unix.cs
  src/System.Net.Security/src/System/Net/Security/StreamSizes.Windows.cs
  src/System.Net.Security/src/System/Net/Security/StreamSizes.cs
  src/System.Net.Security/tests/UnitTests/Fakes/FakeSslState.cs
  src/System.Security.Cryptography.Encoding/src/System.Security.Cryptography.Encoding.csproj
  src/System.Security.Cryptography.ProtectedData/src/System.Security.Cryptography.ProtectedData.csproj
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/ChainPal.GetChainStatusInformation.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/Native/Helpers.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/Native/Interop.localization.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/Native/Primitives.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/StorePal.Import.cs
  src/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
Labels: area-System.Net.Http.SocketsHttpHandler

#28161 Use Win32Marshal from CoreLib shared code
  src/Common/src/CoreLib/System/IO/Win32Marshal.cs
  src/Common/src/System/IO/Win32Marshal.cs
  src/Common/tests/Common.Tests.csproj
  src/System.Console/src/System.Console.csproj
  src/System.IO.FileSystem.DriveInfo/src/System.IO.FileSystem.DriveInfo.csproj
  src/System.IO.FileSystem/src/System.IO.FileSystem.csproj
  src/System.IO.MemoryMappedFiles/src/System.IO.MemoryMappedFiles.csproj
  src/System.IO.Pipes/src/System.IO.Pipes.csproj
  src/System.Runtime.Extensions/src/System.Runtime.Extensions.csproj
  src/System.Runtime.WindowsRuntime/src/System.Runtime.WindowsRuntime.csproj
Labels: area-System.IO

#28171 Removed dead code: SafeWinHttpHandleWithCallback
  src/Common/src/Interop/Windows/winhttp/Interop.SafeWinHttpHandle.cs
  src/Common/src/Interop/Windows/winhttp/Interop.winhttp.cs
Labels: area-System.Net.Http

#28177 Improve inling in ImmutableArray<T>.Builder
  src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableArray_1.Builder.cs
Labels: area-System.Collections, tenet-performance

#28143 Add more test coverage for System.Reflection.Pointer
  src/System.Runtime/tests/System/Reflection/PointerTests.cs
Labels: area-System.Reflection

#27164 more love from BenchmarkDotNet to CoreFX
  Documentation/project-docs/benchmarking.md
Labels: area-Infrastructure

#28186 Re-enable SocketsHttpHandler proxy test
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler
