Repository dotnet/corefx, pull requests merged in 2018-08, with the labels that each got.

#31437 Fix a race condition in serialization
  src/System.Private.Xml/src/System/Xml/Serialization/Compilation.cs
Labels: area-Serialization

#31530 Add test helper to enable SocketsHttpHandler HTTP/2 testing
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/TestHelper.cs
Labels: area-System.Net.Http.SocketsHttpHandler, test enhancement

#30761 Add S.R.WindowsRuntime implemenation assembly into .NetCoreApp
  external/harvestPackages/harvestPackages.props
  external/netstandard/netstandard.depproj
  external/winrt/Configurations.props
  external/winrt/winrt.depproj
  pkg/Microsoft.Private.CoreFx.NETCoreApp/Microsoft.Private.CoreFx.NETCoreApp.pkgproj
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/System.Runtime.WindowsRuntime/Directory.Build.props
  src/System.Runtime.WindowsRuntime/pkg/System.Runtime.WindowsRuntime.pkgproj
  src/System.Runtime.WindowsRuntime/ref/Configurations.props
  src/System.Runtime.WindowsRuntime/ref/System.Runtime.WindowsRuntime.csproj
  src/System.Runtime.WindowsRuntime/src/Configurations.props
  src/System.Runtime.WindowsRuntime/src/System.Runtime.WindowsRuntime.csproj
  src/mscorlib.WinRT-Facade/ref/Configurations.props
  src/mscorlib.WinRT-Facade/ref/TypeForwards.cs
  src/mscorlib.WinRT-Facade/ref/mscorlib.WinRT-Facade.csproj
  src/shims/ApiCompat.proj
Labels: area-System.Runtime.InteropServices

#31539 IO.Ports UAP: use GetCommPorts
  src/Common/src/Interop/Windows/Interop.Libraries.cs
  src/Common/src/Interop/Windows/mincore/Interop.GetCommPorts.cs
  src/System.IO.Ports/src/System.IO.Ports.csproj
  src/System.IO.Ports/src/System/IO/Ports/SerialPort.Uap.cs
  src/System.IO.Ports/tests/SerialPort/GetPortNames.cs
  src/System.IO.Ports/tests/Support/PortHelper.cs
Labels: area-System.IO

#30921 Improve performance for GetViewBetween and enumerating TreeSubSet
  src/System.Collections/src/System/Collections/Generic/SortedSet.TreeSubSet.cs
  src/System.Collections/src/System/Collections/Generic/SortedSet.cs
Labels: area-System.Collections

#31421 Migrate S.S.C.X509Certificates to new Asn.1 APIs
  src/Common/src/Interop/Windows/BCrypt/Interop.BCryptExportKey.cs
  src/Common/src/System/Security/Cryptography/Asn1/PssParamsAsn.cs
  src/System.Security.Cryptography.Pkcs/src/System.Security.Cryptography.Pkcs.csproj
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/EncodingHelpers.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Helpers.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.OSX/CertificateData.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/ManagedX509ExtensionProcessor.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/X500NameEncoder.ManagedDecode.cs
  src/System.Security.Cryptography.X509Certificates/src/Resources/Strings.resx
  src/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/Asn1/BasicConstraintsAsn.cs
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/Asn1/CertificateAsn.cs
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/Asn1/CertificationRequestAsn.cs
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/Asn1/CertificationRequestInfoAsn.cs
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/Asn1/KeyUsageFlagsAsn.cs
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/Asn1/TbsCertificateAsn.cs
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/Asn1/TimeAsn.cs
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/Asn1/ValidityAsn.cs
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/Asn1/X501AttributeAsn.cs
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/CertificateRequest.cs
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/Pkcs10CertificationRequestInfo.cs
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/Pkcs9ExtensionRequest.cs
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/RSAPssX509SignatureGenerator.cs
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/TbsCertificate.cs
  src/System.Security.Cryptography.X509Certificates/tests/CertificateCreation/CertificateRequestUsageTests.cs
  src/System.Security.Cryptography.X509Certificates/tests/ExtensionsTests.cs
Labels: area-System.Security

#31550 Fix looking up headers on HttpClient response
  src/System.Net.Http/src/System/Net/Http/Headers/HttpHeaders.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http

#31527 Handle NT auth with Connection: close on initial challenge
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.NtAuth.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionBase.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#31548 Add macOS 10.14 Mojave to the RID graph
  pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  pkg/Microsoft.NETCore.Platforms/runtime.json
  pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
Labels: area-Infrastructure, packaging

#31577 System.Security: Merge X509Certificates Oids with the common ones.
  src/Common/src/System/Security/Cryptography/EccSecurityTransforms.cs
  src/Common/src/System/Security/Cryptography/Oids.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSignature.DSA.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/CertificateExtensionsCommon.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Oids.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.OSX/X509Pal.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslX509Encoder.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/CertificatePal.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/X509Pal.PublicKey.cs
  src/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/CertificateRequest.cs
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/ECDsaX509SignatureGenerator.cs
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/PublicKey.cs
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/RSAPkcs1X509SignatureGenerator.cs
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/RSAPssX509SignatureGenerator.cs
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/X509Certificate2.cs
  src/System.Security.Cryptography.X509Certificates/tests/CertificateCreation/RSAPssX509SignatureGeneratorTests.cs
Labels: area-System.Security

#31578 System.Security: Consolidate IsLegalKeySize and related methods into common code.
  src/Common/src/System/Security/Cryptography/DSASecurityTransforms.cs
  src/Common/src/System/Security/Cryptography/KeySizeHelpers.cs
  src/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/Helpers.cs
  src/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
  src/System.Security.Cryptography.Cng/src/Internal/Cryptography/Helpers.cs
  src/System.Security.Cryptography.Cng/src/System.Security.Cryptography.Cng.csproj
  src/System.Security.Cryptography.Csp/src/Internal/Cryptography/Helpers.cs
  src/System.Security.Cryptography.Csp/src/System.Security.Cryptography.Csp.csproj
  src/System.Security.Cryptography.Primitives/src/System.Security.Cryptography.Primitives.csproj
  src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/KeyedHashAlgorithm.cs
  src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/SymmetricAlgorithm.cs
  src/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
Labels: area-System.Security

#31580 System.Security: Use GeneralNameAsn in SubjectAlternativeNameBuilder
  src/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/GeneralNameEncoder.cs
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/SubjectAlternativeNameBuilder.cs
Labels: area-System.Security

#31592 Move BackendSupportsAlpn check to CoreFx.Private.TestUtilities
  src/CoreFx.Private.TestUtilities/ref/CoreFx.Private.TestUtilities.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.cs
  src/System.Net.Security/tests/FunctionalTests/SslStreamAlpnTests.cs
Labels: area-System.Net, test enhancement

#31440 Add HTTP/2 CookieContainer support
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientTestBase.cs
  src/System.Net.Http/tests/FunctionalTests/HttpCookieProtocolTests.cs
Labels: area-System.Net.Http.SocketsHttpHandler, enhancement

#31521 Implement HTTP/2 loopback server for frame level testing of SocketsHttpHandler
  src/Common/tests/System/Net/Http/Http2Frames.cs
  src/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.Http2.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Labels: area-System.Net.Http.SocketsHttpHandler, test enhancement

#31581 System.Security: Convert X500NameEncoder to use AsnWriter
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/X500NameEncoder.cs
Labels: area-System.Security

#31591 Make UWP GetPortNames closer to Fx one
  src/System.IO.Ports/src/System/IO/Ports/SerialPort.Uap.cs
Labels: area-System.IO, os-windows-uwp

#31630 Fix Dictionary tests to work in all frameworks
  src/System.Collections/tests/Generic/Dictionary/Dictionary.Generic.Tests.cs
  src/System.Collections/tests/Generic/Dictionary/Dictionary.Generic.Tests.netcoreapp.cs
  src/System.Collections/tests/Generic/Dictionary/Dictionary.Tests.cs
  src/System.Collections/tests/Generic/Dictionary/Dictionary.Tests.netcoreapp.cs
  src/System.Collections/tests/System.Collections.Tests.csproj
Labels: area-System.Collections, test bug

#31653 Limit ReadAsyncCompletesIfFlushAsyncCanceledMidFlush iteration count
  src/System.IO.Pipelines/tests/FlushAsyncCancellationTests.cs
Labels: area-System.IO.Pipelines, test bug

#31654 Use explicit delegate types for interop to make the code AOT friendly
  src/Common/src/Interop/Windows/advapi32/Interop.RegisterServiceCtrlHandler.cs
  src/Common/src/Interop/Windows/advapi32/Interop.RegisterServiceCtrlHandlerEx.cs
  src/Common/src/Interop/Windows/advapi32/Interop.SERVICE_TABLE_ENTRY.cs
  src/Common/src/Interop/Windows/advapi32/Interop.ServiceControlDelegates.cs
  src/System.ServiceProcess.ServiceController/src/System.ServiceProcess.ServiceController.csproj
  src/System.ServiceProcess.ServiceController/src/System/ServiceProcess/ServiceBase.cs
Labels: area-System.Runtime.InteropServices

#31656 Assembly.Load ignores CodeBase by design, except on netfx
  src/System.CodeDom/tests/System/CodeDom/Compiler/CompilerResultsTests.cs
Labels: area-System.Reflection, test bug

#31123 [release/2.1] Fix HttpWebRequest when using system proxy settings
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Requests/src/System/Net/HttpWebRequest.cs
Labels: area-System.Net

#31327 release/2.1: improve port parsing to be more resilient against trailing characters…
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpEnvironmentProxy.cs
  src/System.Net.Http/tests/UnitTests/HttpEnvironmentProxyTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#31367 release/2.1: improve parsing for IE HTTP proxy setting
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpSystemProxy.cs
  src/System.Net.Http/tests/UnitTests/HttpSystemProxyTest.cs
Labels: area-System.Net.Sockets, bug, tenet-compatibility

#31644 Add logging for SocketsHttpHandler SendAsync task cancelled
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Labels: area-System.Net.Http.SocketsHttpHandler, enhancement

#31585 Add Win32 File.Encrypt/Decrypt() implementation
  src/Common/src/Interop/Windows/kernel32/Interop.EncryptDecrypt.cs
  src/System.IO.FileSystem/src/Resources/Strings.resx
  src/System.IO.FileSystem/src/System.IO.FileSystem.csproj
  src/System.IO.FileSystem/src/System/IO/File.cs
  src/System.IO.FileSystem/src/System/IO/FileSystem.Unix.cs
  src/System.IO.FileSystem/src/System/IO/FileSystem.Win32.cs
  src/System.IO.FileSystem/src/System/IO/FileSystem.WinRT.cs
  src/System.IO.FileSystem/tests/File/EncryptDecrypt.cs
Labels: area-System.IO

#31657 Cherry-picking test fix for System.IO.FileSystem from master to release2.2
  src/System.IO.FileSystem/tests/Base/BaseGetSetTimes.cs
Labels: os-mac-os-x

#31679 Create Microsoft.IO.Redist
  BuildToolsVersion.txt
  dependencies.props
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  pkg/descriptions.json
  src/Common/src/CoreLib/System/IO/DisableMediaInsertionPrompt.cs
  src/Common/src/CoreLib/System/IO/Path.Windows.cs
  src/Common/src/CoreLib/System/IO/Path.cs
  src/Common/src/CoreLib/System/IO/PathHelper.Windows.cs
  src/Common/src/CoreLib/System/IO/PathInternal.Windows.cs
  src/Common/src/CoreLib/System/IO/PathInternal.cs
  src/Common/src/CoreLib/System/Text/ValueStringBuilder.cs
  src/Common/src/System/IO/DriveInfoInternal.Win32.cs
  src/Common/src/System/IO/PathInternal.CaseSensitivity.cs
  src/Microsoft.IO.Redist/.analyzerdata
  src/Microsoft.IO.Redist/Directory.Build.props
  src/Microsoft.IO.Redist/Microsoft.IO.Redist.sln
  src/Microsoft.IO.Redist/pkg/Microsoft.IO.Redist.pkgproj
  src/Microsoft.IO.Redist/src/Configurations.props
  src/Microsoft.IO.Redist/src/Microsoft.IO.Redist.csproj
  src/Microsoft.IO.Redist/src/Microsoft/IO/StringExtensions.cs
  src/Microsoft.IO.Redist/src/PinvokeAnalyzerExceptionList.analyzerdata
  src/Microsoft.IO.Redist/src/Resources/Strings.resx
  src/System.IO.FileSystem/src/System/IO/Directory.cs
  src/System.IO.FileSystem/src/System/IO/DirectoryInfo.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEntry.Windows.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEntry.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerable.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerableFactory.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Win32.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Windows.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemName.cs
  src/System.IO.FileSystem/src/System/IO/EnumerationOptions.cs
  src/System.IO.FileSystem/src/System/IO/File.cs
  src/System.IO.FileSystem/src/System/IO/FileInfo.cs
  src/System.IO.FileSystem/src/System/IO/FileSystem.Windows.cs
  src/System.IO.FileSystem/src/System/IO/FileSystemInfo.Windows.cs
  src/System.IO.FileSystem/src/System/IO/FileSystemInfo.cs
  src/System.IO.FileSystem/src/System/IO/MatchCasing.cs
  src/System.IO.FileSystem/src/System/IO/MatchType.cs
  src/System.IO.FileSystem/src/System/IO/SearchOption.cs
  src/System.IO.FileSystem/src/System/IO/SearchTarget.cs
Labels: area-System.IO

#31754 Exposing DynamicMethod.DefineParameter API and adding test
  src/System.Reflection.Emit.Lightweight/ref/System.Reflection.Emit.Lightweight.cs
  src/System.Reflection.Emit.Lightweight/tests/DynamicMethodDefineParameter.cs
  src/System.Reflection.Emit.Lightweight/tests/System.Reflection.Emit.Lightweight.Tests.csproj
  src/shims/ApiCompatBaseline.netcoreapp.netfx461.ignore.txt
Labels: area-System.Reflection.Emit

#30886 Port type moves to UWP 6.2
  BuildToolsVersion.txt
  buildpipeline/DotNet-CoreFx-Trusted-Linux.json
  buildpipeline/README.md
  buildpipeline/linux.groovy
  buildpipeline/pipeline.json
  dependencies.props
  external/test-runtime/optional.json
  src/Common/src/CoreLib/Internal/Padding.cs
  src/Common/src/CoreLib/System.Private.CoreLib.Shared.projitems
  src/Common/src/CoreLib/System/Collections/CompatibleComparer.cs
  src/Common/src/CoreLib/System/Collections/Concurrent/ConcurrentQueue.cs
  src/Common/src/CoreLib/System/Collections/Concurrent/ConcurrentQueueSegment.cs
  src/Common/src/CoreLib/System/Collections/Concurrent/IProducerConsumerCollection.cs
  src/Common/src/CoreLib/System/Collections/Concurrent/IProducerConsumerCollectionDebugView.cs
  src/Common/src/CoreLib/System/Collections/HashHelpers.SerializationInfoTable.cs
  src/Common/src/CoreLib/System/Collections/HashHelpers.cs
  src/Common/src/CoreLib/System/Collections/Hashtable.cs
  src/Common/src/CoreLib/System/Collections/IHashCodeProvider.cs
  src/Common/src/CoreLib/System/Collections/KeyValuePairs.cs
  src/Common/src/Internal/Padding.cs
  src/Common/src/System/Collections/Concurrent/ConcurrentQueue_Segment.cs
  src/Common/src/System/Collections/Concurrent/SingleProducerConsumerQueue.cs
  src/Common/src/System/Collections/Generic/LowLevelDictionary.cs
  src/Common/src/System/Collections/HashHelpers.cs
  src/System.Collections.Concurrent/src/Configurations.props
  src/System.Collections.Concurrent/src/System.Collections.Concurrent.csproj
  src/System.Collections.Concurrent/tests/System.Collections.Concurrent.Tests.csproj
  src/System.Collections.NonGeneric/src/System.Collections.NonGeneric.csproj
  src/System.Collections.Specialized/src/System.Collections.Specialized.csproj
  src/System.Collections/src/System.Collections.csproj
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs
  src/System.Private.Uri/src/System.Private.Uri.csproj
  src/System.Private.Uri/src/System/UriSyntax.cs
  src/System.Reflection.Primitives/src/System.Reflection.Primitives.csproj
  src/System.Reflection.Primitives/src/System/Reflection/Emit/FlowControl.cs
  src/System.Reflection.Primitives/src/System/Reflection/Emit/OpCodes.cs
  src/System.Reflection.Primitives/src/System/Reflection/Emit/Opcode.cs
  src/System.Reflection.Primitives/src/System/Reflection/Emit/OpcodeType.cs
  src/System.Reflection.Primitives/src/System/Reflection/Emit/OperandType.cs
  src/System.Reflection.Primitives/src/System/Reflection/Emit/PackingSize.cs
  src/System.Reflection.Primitives/src/System/Reflection/Emit/StackBehaviour.cs
  src/System.Runtime.Extensions/src/ApiCompatBaseline.uapaot.txt
  src/System.Runtime.Extensions/src/Resources/Strings.resx
  src/System.Runtime.Extensions/src/System.Runtime.Extensions.csproj
  src/System.Runtime.Extensions/src/System/Collections/KeyValuePairs.cs
  src/System.Runtime.Extensions/src/System/Net/WebUtility.cs
  src/System.Runtime.Serialization.Formatters/src/System.Runtime.Serialization.Formatters.csproj
  src/System.Threading.Channels/src/System.Threading.Channels.csproj
  src/System.Threading.Tasks.Dataflow/src/Internal/Padding.cs
  src/System.Threading.Tasks.Dataflow/src/Internal/ProducerConsumerQueues.cs
  src/System.Threading.Tasks.Dataflow/src/System.Threading.Tasks.Dataflow.csproj
  tools-local/ILAsmVersion.txt
Labels: * NO MERGE *, area-Meta

#31756 Add FreeBSD terminfo location to well-known
  src/System.Console/src/System/TermInfo.cs
Labels: area-System.Console, os-freebsd

#31360 Add more Type tests and make it easier to add new types
  src/System.Runtime/tests/System.Runtime.Tests.csproj
  src/System.Runtime/tests/System/Type/TypePropertyTests.cs
  src/System.Runtime/tests/System/Type/TypePropertyTests.netcoreapp.cs
  src/System.Runtime/tests/System/Type/TypeTests.cs
  src/System.Runtime/tests/System/Type/TypeTests.netcoreapp.cs
  src/System.Runtime/tests/System/TypeTests.cs
Labels: area-System.Runtime

#31700 Add System.Runtime.WindowsRuntime.UI.Xaml into .NETCoreApp Nuget
  external/netstandard/netstandard.depproj
  pkg/Microsoft.Private.CoreFx.NETCoreApp/Microsoft.Private.CoreFx.NETCoreApp.pkgproj
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/Microsoft.VisualBasic/Microsoft.VisualBasic.sln
  src/System.Runtime.WindowsRuntime.UI.Xaml/Directory.Build.props
  src/System.Runtime.WindowsRuntime.UI.Xaml/System.Runtime.WindowsRuntime.UI.Xaml.sln
  src/System.Runtime.WindowsRuntime.UI.Xaml/pkg/System.Runtime.WindowsRuntime.UI.Xaml.pkgproj
  src/System.Runtime.WindowsRuntime.UI.Xaml/ref/Configurations.props
  src/System.Runtime.WindowsRuntime.UI.Xaml/ref/System.Runtime.WindowsRuntime.UI.Xaml.csproj
  src/System.Runtime.WindowsRuntime.UI.Xaml/src/Configurations.props
  src/System.Runtime.WindowsRuntime.UI.Xaml/src/Resources/Strings.resx
  src/System.Runtime.WindowsRuntime.UI.Xaml/src/System.Runtime.WindowsRuntime.UI.Xaml.csproj
  src/System.Runtime.WindowsRuntime/ref/System.Runtime.WindowsRuntime.csproj
  src/System.Runtime.WindowsRuntime/src/System.Runtime.WindowsRuntime.csproj
  src/mscorlib.WinRT-Facade/ref/mscorlib.WinRT-Facade.csproj
Labels: area-System.Runtime.InteropServices, os-windows-uwp, packaging

#31781 3 tiny changes: update coverlet, increase coverage timeout, and nit follow up
  external/test-runtime/XUnit.Runtime.depproj
  netci.groovy
  src/System.Runtime/tests/System/Type/TypeTests.cs
Labels: area-Infrastructure, area-System.Runtime

#31153 Add Get/SetComObjectData tests
  src/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.Tests.csproj
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/ComAwareEventInfoTests.Windows.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/ComEventsHelperTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/Common/CommonTypes.Windows.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/Common/CommonTypes.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetComObjectDataTests.Windows.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetComObjectDataTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/SetComObjectDataTests.Windows.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/SetComObjectDataTests.cs
Labels: area-System.Runtime.InteropServices

#28936 Add WebAssembly build architecture
  config.json
  pkg/Microsoft.NETCore.Platforms.Future/Configurations.props
  pkg/Microsoft.NETCore.Platforms.Future/Microsoft.NETCore.Platforms.Future.builds
  pkg/Microsoft.NETCore.Platforms.Future/Microsoft.NETCore.Platforms.Future.pkgproj
  pkg/Microsoft.NETCore.Platforms.Future/readme.md
  pkg/Microsoft.NETCore.Platforms.Future/runtime.compatibility.json
  pkg/Microsoft.NETCore.Platforms.Future/runtime.json
  pkg/Microsoft.NETCore.Platforms.Future/runtimeGroups.props
  pkg/descriptions.json
  src/Native/Unix/CMakeLists.txt
  src/Native/Unix/System.Native/pal_interfaceaddresses.c
  src/Native/Unix/System.Native/pal_io.c
  src/Native/Unix/System.Native/pal_maphardwaretype.c
  src/Native/Unix/System.Native/pal_mount.c
  src/Native/Unix/System.Native/pal_sysctl.c
  src/Native/Unix/configure.cmake
  src/Native/Windows/gen-buildsys-win.bat
  src/Native/build-native.cmd
  tools-local/archgroups.props
  tools-local/osgroups.props
Labels: arch-wasm, area-Infrastructure

#31790 Update GetDelegateForFunctionPointer and GetFunctionPointerForDelegateTests
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetDelegateForFunctionPointerTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetFunctionPointerForDelegateTests.cs
Labels: area-System.Runtime.InteropServices

#31758 fix Race condition with SocketHelperSyncForceNonBlocking.AcceptAsync
  src/System.Net.Sockets/tests/FunctionalTests/Accept.cs
  src/System.Net.Sockets/tests/FunctionalTests/SocketTestHelper.cs
Labels: area-System.Net.Sockets, test bug

#31398 Need save the outputDirectory change.
  src/Microsoft.XmlSerializer.Generator/src/Sgen.cs
Labels: area-Serialization

#31083 Initial Haiku support for CoreFX PAL
  src/Native/Unix/Common/pal_config.h.in
  src/Native/Unix/System.Native/pal_errno.c
  src/Native/Unix/System.Native/pal_io.c
  src/Native/Unix/System.Native/pal_maphardwaretype.c
  src/Native/Unix/System.Native/pal_networking.c
  src/Native/Unix/System.Native/pal_tcpstate.c
  src/Native/Unix/configure.cmake
Labels: area-Infrastructure

#31039 [release/2.2] Added AAD Authentication using Access Token
  src/System.Data.SqlClient/ref/System.Data.SqlClient.cs
  src/System.Data.SqlClient/src/Resources/Strings.resx
  src/System.Data.SqlClient/src/System/Data/Common/AdapterUtil.SqlClient.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlConnection.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlConnectionFactory.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlConnectionPoolKey.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlInternalConnectionTds.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlUtil.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsEnums.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserHelperClasses.cs
  src/System.Data.SqlClient/tests/FunctionalTests/AADAccessTokenTest.cs
  src/System.Data.SqlClient/tests/FunctionalTests/System.Data.SqlClient.Tests.csproj
  src/System.Data.SqlClient/tests/ManualTests/DataCommon/DataTestUtility.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/ConnectivityTests/AADAccessTokenTest.cs
  src/System.Data.SqlClient/tests/ManualTests/System.Data.SqlClient.ManualTesting.Tests.csproj
Labels: Servicing-consider, area-System.Data.SqlClient

#31689 ctor overloads and tests added for windows identity
  src/System.Security.Principal.Windows/ref/System.Security.Principal.Windows.cs
  src/System.Security.Principal.Windows/src/System/Security/Principal/WindowsIdentity.cs
  src/System.Security.Principal.Windows/tests/WindowsIdentityTests.cs
  src/shims/ApiCompatBaseline.netcoreapp.netfx461.ignore.txt
  src/shims/ApiCompatBaseline.netcoreapp.netfx461.txt
Labels: area-System.Security

#28516 Implement System.ComponentModel.VersionConverter
  src/System.ComponentModel.TypeConverter/ref/System.ComponentModel.TypeConverter.cs
  src/System.ComponentModel.TypeConverter/src/System.ComponentModel.TypeConverter.csproj
  src/System.ComponentModel.TypeConverter/src/System/ComponentModel/ReflectTypeDescriptionProvider.cs
  src/System.ComponentModel.TypeConverter/src/System/ComponentModel/VersionConverter.cs
  src/System.ComponentModel.TypeConverter/tests/Performance/Perf.TypeDescriptorTests.cs
  src/System.ComponentModel.TypeConverter/tests/System.ComponentModel.TypeConverter.Tests.csproj
  src/System.ComponentModel.TypeConverter/tests/TypeDescriptorTests.cs
  src/System.ComponentModel.TypeConverter/tests/TypeDescriptorTests.netcoreapp.cs
  src/System.ComponentModel.TypeConverter/tests/VersionConverterTests.cs
Labels: * NO MERGE *, area-System.ComponentModel

#31631 [Fix] GH 30738 SqlConnection error when executing query after SQL server killed connections(Linux)
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNITcpHandle.cs
  src/System.Data.SqlClient/tests/ManualTests/DataCommon/DataTestUtility.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/ConnectivityTests/ConnectivityTest.cs
Labels: area-System.Data.SqlClient

#31763 Add Win32 File.Encrypt/Decrypt() implementation
  src/Common/src/Interop/Windows/kernel32/Interop.EncryptDecrypt.cs
  src/Common/src/Interop/Windows/kernel32/Interop.GetVolumeInformation.cs
  src/Common/src/System/IO/DriveInfoInternal.Win32.cs
  src/System.IO.FileSystem.DriveInfo/src/Resources/Strings.resx
  src/System.IO.FileSystem.DriveInfo/src/System/IO/DriveInfo.Windows.cs
  src/System.IO.FileSystem/src/Resources/Strings.resx
  src/System.IO.FileSystem/src/System.IO.FileSystem.csproj
  src/System.IO.FileSystem/src/System/IO/File.cs
  src/System.IO.FileSystem/src/System/IO/FileSystem.Unix.cs
  src/System.IO.FileSystem/src/System/IO/FileSystem.Win32.cs
  src/System.IO.FileSystem/src/System/IO/FileSystem.WinRT.cs
  src/System.IO.FileSystem/tests/File/EncryptDecrypt.cs
  src/System.Runtime.Extensions/src/Resources/Strings.resx
Labels: area-System.IO

#31861 Include changes that crossed two checkins.
  src/Microsoft.IO.Redist/src/Microsoft.IO.Redist.csproj
  src/Microsoft.IO.Redist/src/PinvokeAnalyzerExceptionList.analyzerdata
  src/Microsoft.IO.Redist/src/Resources/Strings.resx
  src/System.IO.FileSystem/src/System/IO/FileSystem.Win32.cs
Labels: area-System.IO

#31389 AesGcm, AesCcm
  src/Common/src/CoreLib/Interop/Windows/BCrypt/Interop.NTSTATUS.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.EVP.Cipher.cs
  src/Common/src/Interop/Windows/BCrypt/AesBCryptModes.cs
  src/Common/src/Interop/Windows/BCrypt/Cng.cs
  src/Common/src/Interop/Windows/BCrypt/Interop.Blobs.cs
  src/Common/src/System/Security/Cryptography/KeySizeHelpers.cs
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/AES/AesCipherTests.Data.cs
  src/Native/Unix/System.Security.Cryptography.Native/opensslshim.h
  src/Native/Unix/System.Security.Cryptography.Native/pal_evp_cipher.c
  src/Native/Unix/System.Security.Cryptography.Native/pal_evp_cipher.h
  src/System.Security.Cryptography.Algorithms/ref/System.Security.Cryptography.Algorithms.cs
  src/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/OpenSslCipher.cs
  src/System.Security.Cryptography.Algorithms/src/Resources/Strings.resx
  src/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/AesAEAD.Windows.cs
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/AesAEAD.cs
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/AesCcm.Unix.cs
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/AesCcm.Windows.cs
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/AesCcm.cs
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/AesGcm.Unix.cs
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/AesGcm.Windows.cs
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/AesGcm.cs
  src/System.Security.Cryptography.Algorithms/tests/AesAEADTests.cs
  src/System.Security.Cryptography.Algorithms/tests/AesCcmTests.cs
  src/System.Security.Cryptography.Algorithms/tests/AesGcmTests.cs
  src/System.Security.Cryptography.Algorithms/tests/AesManagedTests.cs
  src/System.Security.Cryptography.Algorithms/tests/System.Security.Cryptography.Algorithms.Tests.csproj
  src/System.Security.Cryptography.Encoding/src/System.Security.Cryptography.Encoding.csproj
Labels: area-System.Security

#31921 BenchmarkDotNet can benchmark local CoreFX builds using CoreRun
  Documentation/project-docs/benchmarking.md
Labels: documentation

#31649 Add TypeConverter fallback to DefaultValueAttribute tests
  src/System.Runtime/tests/System/ComponentModel/DefaultValueAttributeTests.cs
  src/System.Runtime/tests/System/ComponentModel/DefaultValueAttributeTests.netcoreapp.cs
Labels: area-System.ComponentModel

#31948 Tests not supported on UAP.
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetComObjectDataTests.Windows.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/SetComObjectDataTests.Windows.cs
Labels: area-System.Runtime.InteropServices, test bug

#31932 if defs removed and code moved to platformdetection.unix.cs
  src/CoreFx.Private.TestUtilities/src/CoreFx.Private.TestUtilities.csproj
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.NetFx.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.NonNetFx.Windows.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.NonNetFx.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.Unix.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.Windows.cs
Labels: area-Infrastructure

#31818 Cleanup netfx-specific code from projects that no longer build in netfx configurations
  src/Common/src/CoreLib/System/Threading/DeferredDisposableLifetime.cs
  src/System.Data.Common/src/System.Data.Common.csproj
  src/System.Data.Common/src/System/Data/SQLTypes/SQLDouble.cs
  src/System.Data.Common/src/System/Data/SQLTypes/SQLSingle.cs
  src/System.Diagnostics.StackTrace/ref/System.Diagnostics.StackTrace.csproj
  src/System.Diagnostics.StackTrace/src/System.Diagnostics.StackTrace.csproj
  src/System.IO.Compression/ref/System.IO.Compression.csproj
  src/System.IO.Compression/src/System.IO.Compression.csproj
  src/System.IO.Compression/src/System/IO/Compression/Crc32Helper.Managed.cs
  src/System.Net.Http/ref/System.Net.Http.csproj
  src/System.Net.Sockets/ref/System.Net.Sockets.csproj
  src/System.Net.Sockets/src/System.Net.Sockets.csproj
  src/System.Net.Sockets/src/System/Net/Sockets/SocketTaskExtensions.netfx.cs
  src/System.Private.DataContractSerialization/src/System/Runtime/Serialization/DataContractSerializerExtensions.Desktop.cs
  src/System.Runtime.InteropServices.RuntimeInformation/ref/System.Runtime.InteropServices.RuntimeInformation.csproj
  src/System.Runtime.InteropServices.RuntimeInformation/src/System.Runtime.InteropServices.RuntimeInformation.csproj
  src/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/RuntimeInformation.cs
  src/System.Runtime.Serialization.Primitives/ref/System.Runtime.Serialization.Primitives.csproj
  src/System.Runtime.Serialization.Primitives/src/System.Runtime.Serialization.Primitives.csproj
  src/System.Runtime.Serialization.Xml/ref/System.Runtime.Serialization.Xml.csproj
  src/System.Runtime.Serialization.Xml/src/System.Runtime.Serialization.Xml.csproj
  src/System.Security.Cryptography.Algorithms/ref/System.Security.Cryptography.Algorithms.csproj
  src/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/IncrementalHash.net46.cs
  src/System.Security.SecureString/ref/System.Security.SecureString.cs
  src/System.Security.SecureString/ref/System.Security.SecureString.csproj
  src/System.Security.SecureString/ref/System.Security.SecureString.netfx.cs
  src/System.Security.SecureString/src/System.Security.SecureString.csproj
  src/System.Security.SecureString/src/System/Security/SecureStringMarshal.netfx.cs
  src/System.Threading.Overlapped/ref/System.Threading.Overlapped.csproj
  src/System.Threading.Overlapped/src/System.Threading.Overlapped.csproj
  src/System.Threading.Overlapped/src/System/Threading/ClrThreadPoolBoundHandle.cs
  src/System.Threading.Overlapped/src/System/Threading/ClrThreadPoolBoundHandleOverlapped.cs
  src/System.Threading.Overlapped/src/System/Threading/ClrThreadPoolPreAllocatedOverlapped.cs
  src/System.Xml.XPath.XDocument/ref/System.Xml.XPath.XDocument.csproj
  src/System.Xml.XPath.XDocument/src/System.Xml.XPath.XDocument.csproj
Labels: area-Meta

#31958 Remove old PerformanceTests
  src/System.Runtime.Numerics/tests/Performance/Perf.BigInteger.cs
  src/System.Runtime.Numerics/tests/Performance/PerformanceTests.cs
  src/System.Runtime.Numerics/tests/Performance/System.Runtime.Numerics.Performance.Tests.csproj
Labels: tenet-performance-benchmarks

#31568 Use CryptoConfig instead of OID.
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/RSAPKCS1SignatureDeformatter.cs
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/RSAPKCS1SignatureFormatter.cs
Labels: area-System.Security

#31966 Promote tests to netstandard
  src/System.IO.FileSystem.AccessControl/src/System.IO.FileSystem.AccessControl.csproj
  src/System.IO.FileSystem.AccessControl/tests/Configurations.props
  src/System.IO.FileSystem.AccessControl/tests/DirectoryObjectSecurityTests.cs
  src/System.IO.FileSystem.AccessControl/tests/System.IO.FileSystem.AccessControl.Tests.csproj
  src/System.IO.Pipelines/tests/Configurations.props
  src/System.IO.Pipelines/tests/System.IO.Pipelines.Tests.csproj
  src/System.Json/src/System.Json.csproj
  src/System.Json/tests/Configurations.props
  src/System.Json/tests/System.Json.Tests.csproj
  src/System.Numerics.Vectors/tests/Configurations.props
  src/System.Numerics.Vectors/tests/System.Numerics.Vectors.Tests.csproj
  src/System.Reflection.Metadata/tests/Configurations.props
  src/System.Reflection.Metadata/tests/Metadata/Decoding/CustomAttributeDecoderTests.cs
  src/System.Reflection.Metadata/tests/Metadata/Decoding/SignatureDecoderTests.cs
  src/System.Reflection.Metadata/tests/System.Reflection.Metadata.Tests.csproj
  src/System.Security.Cryptography.Pkcs/tests/Configurations.props
  src/System.Security.Cryptography.Pkcs/tests/SignedCms/SignedCmsTests.cs
  src/System.Security.Cryptography.Pkcs/tests/SignedCms/SignerInfoTests.cs
  src/System.Security.Cryptography.Pkcs/tests/System.Security.Cryptography.Pkcs.Tests.csproj
  src/System.Threading.Tasks.Extensions/src/System.Threading.Tasks.Extensions.csproj
  src/System.Threading.Tasks.Extensions/tests/Configurations.props
  src/System.Threading.Tasks.Extensions/tests/System.Threading.Tasks.Extensions.Tests.csproj
Labels: area-Meta, test enhancement

#31231 [1.1] Update runtime IDs for new RHEL/OL/Fedora releases
  pkg/Microsoft.NETCore.Platforms/runtime.json
Labels: servicing-approved-1.1.10

#31959 Remove unused configurations and merge files
  src/System.Net.Sockets/ref/System.Net.Sockets.cs
  src/System.Net.Sockets/ref/System.Net.Sockets.csproj
  src/System.Net.Sockets/ref/System.Net.Sockets.netcoreapp.cs
  src/System.Runtime.InteropServices.RuntimeInformation/ref/System.Runtime.InteropServices.RuntimeInformation.csproj
  src/System.Runtime.InteropServices.RuntimeInformation/src/System.Runtime.InteropServices.RuntimeInformation.csproj
  src/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/RuntimeInformation.Windows.cs
  src/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/RuntimeInformation.cs
  src/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
Labels: area-Meta

#31974 Update and reference xunit from stable feed
  Directory.Build.props
  dependencies.props
  src/System.Runtime/tests/System/StringTests.netcoreapp.cs
Labels: area-Infrastructure

#31871 [2.1] Fix ReadAsync not returning when cancellation token fires during FlushAsync
  src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeAwaitable.cs
  src/System.IO.Pipelines/tests/FlushAsyncCancellationTests.cs
Labels: Servicing-approved-2.1.5

#31632 Add macOS 10.14 Mojave to the RID graph (#31548)
  pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  pkg/Microsoft.NETCore.Platforms/runtime.json
  pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
Labels: Servicing-approved-2.1.5, area-Meta, os-mac-os-x

#31162 [release/2.1] Port of 'Ensure ConcurrentBag's TryTake is linearizable' again
  src/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentBag.cs
  src/System.Collections.Concurrent/tests/ConcurrentBagTests.cs
Labels: Servicing-approved-2.1.5, area-System.Collections

#31046 [release/2.1] Fix Granularity for copy operation on unix
  src/Native/Unix/System.Native/pal_io.c
  src/System.IO.FileSystem/tests/Base/BaseGetSetTimes.cs
  src/System.IO.FileSystem/tests/FileInfo/GetSetTimes.cs
Labels: Servicing-approved-2.1.5, area-System.IO

#31332 [release/2.1] Handle overflow in uname -r (#31261)
  src/System.Runtime.Extensions/src/System/Environment.Unix.cs
  src/System.Runtime.Extensions/tests/System/EnvironmentTests.cs
Labels: Servicing-approved-2.1.5, area-System.Runtime.Extensions

#31750 Support deserializing empty TimeSpan
  src/System.Private.Xml/src/System/Xml/Serialization/PrimitiveXmlSerializers.cs
  src/System.Private.Xml/src/System/Xml/Serialization/ReflectionXmlSerializationReader.cs
  src/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationReader.cs
  src/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationReaderILGen.cs
  src/System.Private.Xml/tests/XmlSerializer/XmlSerializerTests.cs
Labels: area-Serialization

#31470 Move uap, uapaot, netfx, netcoreapp and netcoreapp20 constant definitions to top-level build file.
  Directory.Build.props
  src/Common/tests/System/IO/Compression/ZipTestHelper.cs
  src/System.Collections.Immutable/tests/System.Collections.Immutable.Tests.csproj
  src/System.ComponentModel.TypeConverter/tests/Performance/System.ComponentModel.TypeConverter.Performance.Tests.csproj
  src/System.Data.Common/src/System.Data.Common.csproj
  src/System.Data.Common/tests/System.Data.Common.Tests.csproj
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
  src/System.Data.SqlClient/tests/ManualTests/System.Data.SqlClient.ManualTesting.Tests.csproj
  src/System.Diagnostics.PerformanceCounter/src/System.Diagnostics.PerformanceCounter.csproj
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/System.Globalization/tests/System.Globalization.Tests.csproj
  src/System.IO.Compression.ZipFile/tests/System.IO.Compression.ZipFile.Tests.csproj
  src/System.Memory/tests/Performance/System.Memory.Performance.Tests.csproj
  src/System.Net.Http/ref/System.Net.Http.csproj
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
  src/System.Net.HttpListener/src/System.Net.HttpListener.csproj
  src/System.Net.Primitives/src/System.Net.Primitives.csproj
  src/System.Net.Sockets/tests/Performance/System.Net.Sockets.Performance.Tests.csproj
  src/System.Net.WebSockets.Client/src/System.Net.WebSockets.Client.csproj
  src/System.Net.WebSockets/tests/System.Net.WebSockets.Tests.csproj
  src/System.Numerics.Vectors/tests/Performance/System.Numerics.Vectors.Performance.Tests.csproj
  src/System.Private.Xml.Linq/src/System.Private.Xml.Linq.csproj
  src/System.Private.Xml/tests/XmlSerializer/ReflectionOnly/System.Xml.XmlSerializer.ReflectionOnly.Tests.csproj
  src/System.Private.Xml/tests/XmlSerializer/System.Xml.XmlSerializer.Tests.csproj
  src/System.Reflection.DispatchProxy/tests/System.Reflection.DispatchProxy.Tests.csproj
  src/System.Reflection.Metadata/tests/System.Reflection.Metadata.Tests.csproj
  src/System.Runtime.Extensions/src/System.Runtime.Extensions.csproj
  src/System.Runtime.Extensions/tests/System.Runtime.Extensions.Tests.csproj
  src/System.Runtime.InteropServices.RuntimeInformation/src/System.Runtime.InteropServices.RuntimeInformation.csproj
  src/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.Tests.csproj
  src/System.Runtime.Serialization.Xml/tests/ReflectionOnly/System.Runtime.Serialization.Xml.ReflectionOnly.Tests.csproj
  src/System.Runtime.Serialization.Xml/tests/System.Runtime.Serialization.Xml.Tests.csproj
  src/System.Runtime/tests/Performance/System.Runtime.Performance.Tests.csproj
  src/System.Runtime/tests/System.Runtime.Tests.csproj
  src/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
  src/System.Security.Cryptography.Algorithms/tests/System.Security.Cryptography.Algorithms.Tests.csproj
  src/System.Security.Cryptography.Cng/src/System.Security.Cryptography.Cng.csproj
  src/System.Security.Cryptography.Cng/tests/System.Security.Cryptography.Cng.Tests.csproj
  src/System.Security.Cryptography.OpenSsl/ref/System.Security.Cryptography.OpenSsl.csproj
  src/System.Security.Cryptography.OpenSsl/tests/System.Security.Cryptography.OpenSsl.Tests.csproj
  src/System.Security.Cryptography.Pkcs/src/System.Security.Cryptography.Pkcs.csproj
  src/System.Security.Cryptography.Pkcs/tests/System.Security.Cryptography.Pkcs.Tests.csproj
  src/System.Security.Cryptography.Primitives/tests/System.Security.Cryptography.Primitives.Tests.csproj
  src/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
  src/System.Security.Cryptography.X509Certificates/tests/System.Security.Cryptography.X509Certificates.Tests.csproj
  src/System.Security.Principal.Windows/src/System.Security.Principal.Windows.csproj
  src/System.Text.Encoding/tests/System.Text.Encoding.Tests.csproj
  src/System.Threading.Overlapped/tests/System.Threading.Overlapped.Tests.csproj
  src/System.ValueTuple/tests/System.ValueTuple.Tests.csproj
Labels: area-Infrastructure

#32023 Ensure that TrySetECDHNamedCurve is always called, enabling ECDHE ciphersuites
  src/Native/Unix/System.Security.Cryptography.Native/pal_ssl.c
Labels: area-System.Net.Security

#32020 Rename xunit config for System.Globalization.Calendars
  src/System.Globalization.Calendars/tests/CalendarTestWithConfigSwitch/coverage/xunit.console.runtimeconfig.json
Labels: area-Infrastructure

#31768 [release/2.1] Fix looking up headers on HttpClient response
  src/System.Net.Http/src/System/Net/Http/Headers/HttpHeaders.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: Servicing-approved-2.1.5, area-System.Net.Http, tenet-compatibility

#31589 [release/2.1] Handle NT auth with Connection: close on initial challenge #31527
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.NtAuth.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Labels: Servicing-approved-2.1.5, area-System.Net.Http.SocketsHttpHandler

#31196 Enhance existing Marshal tests
  src/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.Tests.csproj
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/ClassInterfaceAttributeTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/ChangeWrapperHandleStrengthTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/Common/Variant.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/DestroyStructureTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GenerateGuidForTypeTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GenerateProgIdForTypeTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetIDispatchForObjectTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetNativeVariantForObjectTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetTypedObjectForIUnknownTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/IsComObjectTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/OffsetOfTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/PrelinkTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/PtrToStructureTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/SizeOfTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/StructureToPtrTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/UnsafeAddrOfPinnedArrayElementTests.cs
Labels: area-System.Runtime.InteropServices

#31989 Port Fix Icon overflow bug when image entry is a PNG file
  external/harvestPackages/harvestPackages.props
  external/test-runtime/XUnit.Runtime.depproj
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/System.Drawing.Common/dir.props
  src/System.Drawing.Common/src/System/Drawing/Icon.Unix.cs
  src/System.Drawing.Common/tests/IconTests.cs
  src/System.Drawing.Common/tests/System.Drawing.Common.Tests.csproj
  src/System.Drawing.Common/tests/ToolboxBitmapAttributeTests.cs
  src/packages.builds
Labels: servicing-approved

#32048 Disable test that appears to be causing a hang in System.Net.Http tests
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cancellation.cs
Labels: area-System.Net.Http, test bug
