Repository dotnet/corefx, pull requests merged in 2019-07, with the labels that each got.

#39071 move tests with SlowTestStream to outerloop
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http, test enhancement

#36588 Remove dead code in System.Private.* namespaces
  src/System.Private.DataContractSerialization/src/System.Private.DataContractSerialization.csproj
  src/System.Private.DataContractSerialization/src/System/Runtime/Serialization/DataContract.cs
  src/System.Private.DataContractSerialization/src/System/Runtime/Serialization/DataContractSet.cs
  src/System.Private.Uri/src/System/UriSyntax.cs
  src/System.Private.Xml.Linq/src/System.Private.Xml.Linq.csproj
  src/System.Private.Xml.Linq/src/System/Xml/Linq/XObjectChangeAnnotation.cs
  src/System.Private.Xml/src/System/Xml/BinaryXml/SqlUtils.cs
  src/System.Private.Xml/src/System/Xml/BinaryXml/XmlBinaryReader.cs
  src/System.Private.Xml/src/System/Xml/Core/IncrementalReadDecoders.cs
  src/System.Private.Xml/src/System/Xml/Core/QueryOutputWriterV1.cs
  src/System.Private.Xml/src/System/Xml/Dom/XmlEntity.cs
  src/System.Private.Xml/src/System/Xml/Schema/XmlSchemaCollection.cs
  src/System.Private.Xml/src/System/Xml/Serialization/Compiler.cs
  src/System.Private.Xml/src/System/Xml/Serialization/ReflectionXmlSerializationReader.cs
  src/System.Private.Xml/src/System/Xml/Serialization/ReflectionXmlSerializationWriter.cs
  src/System.Private.Xml/src/System/Xml/Xsl/IlGen/XmlILModule.cs
  src/System.Private.Xml/src/System/Xml/Xsl/Xslt/QilGeneratorEnv.cs
  src/System.Private.Xml/src/System/Xml/Xsl/Xslt/XsltInput.cs
  src/System.Private.Xml/src/System/Xml/Xsl/XsltOld/ContainerAction.cs
  src/System.Private.Xml/src/System/Xml/Xsl/XsltOld/CopyAction.cs
  src/System.Private.Xml/src/System/Xml/Xsl/XsltOld/SequentialOutput.cs
  src/System.Private.Xml/src/System/Xml/Xsl/XsltOld/TemplateAction.cs
Labels: area-Meta

#38792 Generate framework manifest file
  Directory.Build.props
  Directory.Build.targets
  eng/Version.Details.xml
  eng/Versions.props
  eng/referenceFromRuntime.targets
  external/binplacePackages/binplacePackages.depproj
  global.json
  src/Directory.Build.props
  src/Directory.Build.targets
  src/Microsoft.XmlSerializer.Generator/tests/Microsoft.XmlSerializer.Generator.Tests.csproj
  src/System.Linq.Expressions/src/System.Linq.Expressions.csproj
  src/System.Linq.Expressions/tests/System.Linq.Expressions.Tests.csproj
  src/pretest.proj
Labels: area-Infrastructure

#39042 JsonElement null support and serialize ext data without ext prop name
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Serialization/ExtensionDataWriteStatus.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonExtensionDataAttribute.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleNull.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandlePropertyName.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/System.Text.Json/tests/NewtonsoftTests/JsonSerializerTests.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.NullValueType.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.ReadAhead.cs
  src/System.Text.Json/tests/Serialization/ExtensionDataTests.cs
  src/System.Text.Json/tests/Serialization/JsonElementTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#38322 Fixing up the System.Text.Json to handle floats/doubles according to the underlying framework
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Double.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Float.cs
  src/System.Text.Json/tests/JsonDocumentTests.cs
  src/System.Text.Json/tests/JsonElementWriteTests.cs
  src/System.Text.Json/tests/JsonNumberTestData.cs
  src/System.Text.Json/tests/JsonTestHelper.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.TryGet.cs
Labels: area-System.Text.Json

#39036 Do not directly abort connection on GOAWAY
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#39097 improve Http2_PendingSend_SendsReset test.
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http.SocketsHttpHandler, test enhancement

#39032 Honor dictionary key policy when serializing
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandlePropertyName.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.KeyPolicy.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
  src/System.Text.Json/tests/Serialization/PropertyNameTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#39070 Remove cancellation token from new System.Data CloseAsync()
  src/System.Data.Common/ref/System.Data.Common.cs
  src/System.Data.Common/src/System/Data/Common/DbConnection.cs
  src/System.Data.Common/src/System/Data/Common/DbDataReader.cs
Labels: * NO MERGE *

#39012 Fix Ping.Send() to return correct PingReply status
  src/Common/src/Interop/Windows/IpHlpApi/Interop.ICMP.cs
  src/System.Net.Ping/src/System/Net/NetworkInformation/Ping.Windows.cs
  src/System.Net.Ping/tests/FunctionalTests/PingTest.cs
  src/System.Net.Ping/tests/FunctionalTests/TestSettings.cs
Labels: area-System.Net

#39117 correct sending RST when request body fails
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#39125 Update HttpStress app to accommodate recent changes
  src/System.Net.Http/tests/StressTests/HttpStress/Program.cs
Labels: area-System.Net.Http, test enhancement

#39107 clean up HTTP2 protocol exception handling
  src/Common/tests/System/Net/Http/Http2LoopbackConnection.cs
  src/System.Net.Http/src/Resources/Strings.resx
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2ConnectionException.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2ProtocolException.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2StreamException.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#39134 Fix conflict resolution for design time build
  eng/references.targets
Labels: auto-merge

#39066 Add MemberDescriptor tests and fix bugs
  src/System.ComponentModel.TypeConverter/src/System/ComponentModel/MemberDescriptor.cs
  src/System.ComponentModel.TypeConverter/tests/MemberDescriptorTests.cs
Labels: area-System.ComponentModel

#39137 Ensure HttpClient.Get*Async helpers wrap IOExceptions
  src/System.Net.Http/src/System/Net/Http/HttpClient.cs
  src/System.Net.Http/src/System/Net/Http/HttpContent.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http

#39103 Code coverage JsonDocument, JsonElement
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.Parse.cs
  src/System.Text.Json/tests/JsonDocumentTests.cs
Labels: area-System.Text.Json

#39179 Augment HttpStress app to track socket reuse errors
  src/System.Net.Http/tests/StressTests/HttpStress/Program.cs
Labels: area-System.Net.Http, test enhancement

#39188 Add more options to HttpStress program
  src/System.Net.Http/tests/StressTests/HttpStress/Program.cs
Labels: area-System.Net.Http, test enhancement

#38024 Fixes outerloop test failures on OLEDB
  src/Common/tests/CoreFx.Private.TestUtilities/System/AssertExtensions.cs
  src/System.Data.OleDb/tests/Helpers.cs
  src/System.Data.OleDb/tests/OleDbCommandBuilderTests.cs
  src/System.Data.OleDb/tests/OleDbCommandTests.cs
  src/System.Security.Cryptography.Pkcs/tests/SignedCms/CmsSignerTests.cs
Labels: area-System.Data

#39202 Change Span.Fill(0) call to Span.Clear() instead
  src/System.Net.HttpListener/src/System/Net/Windows/RequestContextBase.cs
Labels: * NO MERGE *, area-System.Net

#39209 small improvements to HTTP2 testing
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#39217 Fix wrong outerloop/innerloop variable
  eng/sendtohelix.proj
Labels: area-Infrastructure

#39236 Don't force flush for data packets in SocketsHttpHandler HTTP/2
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ArrayBuffer.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpBaseStream.cs
  src/System.Net.Http/tests/FunctionalTests/ByteAtATimeContent.cs
  src/System.Net.Http/tests/FunctionalTests/CustomContent.netcore.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cancellation.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Labels: area-System.Net.Http.SocketsHttpHandler

#39272 Disable ConnectAsync_AddHostHeader_Success test
  src/System.Net.WebSockets.Client/tests/ConnectTest.cs
Labels: area-System.Net.Http, test bug

#39015 Use Uri.OriginalString when serializing
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterUri.cs
  src/System.Text.Json/tests/Serialization/ReadScenarioTests.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#39299 Don't recheck for attributes if the path is too long
  src/System.IO.FileSystem/src/System/IO/FileSystem.Windows.cs
Labels: area-System.IO

#38744 don't close connection for responses to session based authentication and 100Continue
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#39291 Hardlink SDK folder into the testhost
  Directory.Build.props
  external/runtime/runtime.depproj
Labels: area-Infrastructure

#39187 Align date time parsing with 8601 spec
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/System.Text.Json/src/System/Text/Json/JsonHelpers.Date.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.cs
  src/System.Text.Json/tests/JsonDateTimeTestData.cs
Labels: area-System.Text.Json

#39309 checking if empty string is an installed font
  src/System.Windows.Extensions/tests/Configurations.props
  src/System.Windows.Extensions/tests/System.Windows.Extensions.Tests.csproj
  src/System.Windows.Extensions/tests/System/Drawing/FontConverterTests.cs
Labels: area-System.Drawing

#39001 Add support for types derived from supported BCL collections
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultDerivedDictionaryConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultDerivedEnumerableConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultIDictionaryConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultImmutableDictionaryConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultImmutableEnumerableConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonDictionaryConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.Dictionary.cs
  src/System.Text.Json/tests/Serialization/TestClasses.GenericCollections.cs
  src/System.Text.Json/tests/Serialization/TestClasses.ImmutableCollections.cs
  src/System.Text.Json/tests/Serialization/TestClasses.NonGenericCollections.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.GenericCollections.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.ImmutableCollections.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.NonGenericCollections.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.GenericCollections.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.ImmutableCollections.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.NonGenericCollections.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json, json-functionality-doc

#39352 Exclude built-in HttpContent types from duplex with SocketsHttpHandler's HTTP/2
  src/Common/src/System/Net/Http/NoWriteNoSeekStreamContent.cs
  src/System.Net.Http/src/System/Net/Http/ByteArrayContent.cs
  src/System.Net.Http/src/System/Net/Http/HttpContent.cs
  src/System.Net.Http/src/System/Net/Http/MultipartContent.cs
  src/System.Net.Http/src/System/Net/Http/ReadOnlyMemoryContent.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/DecompressionHandler.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionResponseContent.cs
  src/System.Net.Http/src/System/Net/Http/StreamContent.cs
  src/System.Net.Http/tests/FunctionalTests/CustomContent.cs
  src/System.Net.Http/tests/FunctionalTests/CustomContent.netcore.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/System.Net.Http/tests/FunctionalTests/PostScenarioTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#39222 Http2LoopbackConnection: Wait for pending ACK before setting up for new ignored settings frames
  src/Common/tests/System/Net/Http/Http2LoopbackConnection.cs
  src/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#39368 HttpStress: Use randomized content lengths
  src/System.Net.Http/tests/StressTests/HttpStress/Program.cs
Labels: area-System.Net.Http, test enhancement

#39358 Add script to support VS Test Explorer
  Documentation/building/windows-instructions.md
  eng/build.ps1
Labels: area-Infrastructure

#39403 Condition failing test on Nano
  src/System.Drawing.Common/tests/Printing/PrintDocumentTests.cs
Labels: area-System.Drawing

#39399 Remove RestoreSources from Tools.props
  eng/Tools.props
  eng/Versions.props
  eng/publish.proj
Labels: area-Infrastructure

#39414 Avoid loading resources for an SslStream exception never thrown
  src/System.Net.Security/src/System/Net/Security/SslStream.Implementation.cs
Labels: area-System.Net.Security

#39411 Remove GetWaiterTask allocation for display class
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#39409 Set sdk version in global.json
  global.json
Labels: area-Infrastructure

#39242 Fix a race in buffer usage of Http2Connection.ProcessPingFrame
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
Labels: area-System.Net.Http.SocketsHttpHandler, bug

#39400 Http2Connection: Wrap InvalidOperationExceptions
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/System.Net.Http/tests/FunctionalTests/ThrowingContent.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#39417 Fix writer depth issue on large stream async
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Stream.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.cs
  src/System.Text.Json/tests/Serialization/Stream.WriteTests.cs
Labels: area-System.Text.Json

#39371 Read WinHTTP's proxy format correctly
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpWindowsProxy.cs
  src/System.Net.Http/tests/UnitTests/HttpWindowsProxyTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler, bug, tenet-compatibility

#39428 Add sdk roll.forward policy in global.json
  global.json
Labels: area-Infrastructure

#39425 Don't apply dictionary key policy on extension data
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
  src/System.Text.Json/tests/Serialization/ExtensionDataTests.cs
Labels: area-System.Text.Json

#39398 Added client operation for get query with parameters
  src/System.Net.Http/tests/StressTests/HttpStress/Program.cs
Labels: area-System.Net.Http.SocketsHttpHandler, test enhancement

#39312 Fix allocations in SystemEvents
  src/Common/src/Interop/Windows/User32/Interop.CreateWindowEx.cs
  src/Common/src/Interop/Windows/User32/Interop.GetClassInfo.cs
  src/Common/src/Interop/Windows/User32/Interop.RegisterClass.cs
  src/Common/src/Interop/Windows/User32/Interop.WNDCLASS.cs
  src/Microsoft.Win32.SystemEvents/src/Microsoft/Win32/SystemEvents.cs
Labels: area-Microsoft.Win32

#39423 Fix warning for duplicate publish target import
  eng/publish.proj
Labels: area-Infrastructure

#39392 Do not use DictionaryKeyPolicy on deserialization
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandlePropertyName.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.KeyPolicy.cs
Labels: area-System.Text.Json

#39127 Retry on GOAWAY
  src/Common/tests/System/Net/Http/Http2LoopbackConnection.cs
  src/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/System.Net.Http/src/System/Net/Http/HttpRequestException.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/System.Net.Http/tests/FunctionalTests/Watchdog.cs
Labels: area-System.Net.Http

#39472 Fix and re-enable Http2_FlowControl_ClientDoesNotExceedWindows
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http.SocketsHttpHandler, test bug

#39442 Replace collection instances on deserialize
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/tests/Serialization/Array.ReadTests.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
  src/System.Text.Json/tests/Serialization/PropertyVisibilityTests.cs
Labels: area-System.Text.Json

#39415 Add UTF-8 APIs on TextEncoder and add JavascriptEncoder to JsonEncodedText
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/System.Text.Encodings.Web/Directory.Build.props
  src/System.Text.Encodings.Web/ref/System.Text.Encodings.Web.cs
  src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/TextEncoder.cs
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/ref/System.Text.Json.csproj
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/JsonEncodedText.cs
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.Escaping.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Bytes.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTime.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTimeOffset.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Decimal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Double.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Float.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.FormattedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Guid.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Literal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.SignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.String.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.UnsignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.String.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs
  src/System.Text.Json/tests/JsonElementWriteTests.cs
  src/System.Text.Json/tests/JsonEncodedTextTests.cs
  src/System.Text.Json/tests/Serialization/Object.ReadTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClassWithObjectArrays.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json

#39471 Fix SocketsHttpHandler canceling request when response stream dropped
  src/Common/tests/System/Net/Http/GenericLoopbackServer.cs
  src/Common/tests/System/Net/Http/Http2LoopbackConnection.cs
  src/Common/tests/System/Net/Http/LoopbackServer.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Finalization.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Labels: area-System.Net.Http.SocketsHttpHandler

#39406 Scientific notation numbers with decimal separators support
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.cs
  src/System.Text.Json/tests/JsonElementWriteTests.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json

#39482 Address nits from other serialization PRs
  src/System.Text.Json/tests/Serialization/Array.ReadTests.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.KeyPolicy.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
  src/System.Text.Json/tests/Serialization/Stream.WriteTests.cs
Labels: auto-merge

#39481 Avoid calling ctor on abstract type during deserialization
  src/System.Text.Json/src/System/Text/Json/Serialization/ReflectionEmitMemberAccessor.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReflectionMemberAccessor.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.cs
Labels: area-System.Text.Json

#39438 Make CreateConverter public and add options
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonConverterEnum.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonKeyValuePairConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterFactory.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonStringEnumConverter.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.BadConverters.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.List.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.cs
  src/System.Text.Json/tests/Serialization/EnumConverterTests.cs
Labels: area-System.Text.Json

#39297 [release/2.1] Prevent OpenSSL unload at process exit
  src/Native/Unix/System.Security.Cryptography.Native/openssl.cpp
Labels: Servicing-approved

#39474 Ensure that CancellationToken is propagated to built-in request content types
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs
  src/System.Net.Http/src/System/Net/Http/ByteArrayContent.cs
  src/System.Net.Http/src/System/Net/Http/FormUrlEncodedContent.cs
  src/System.Net.Http/src/System/Net/Http/MultipartContent.cs
  src/System.Net.Http/src/System/Net/Http/MultipartFormDataContent.cs
  src/System.Net.Http/src/System/Net/Http/StreamContent.cs
  src/System.Net.Http/src/System/Net/Http/StreamToStreamCopy.cs
  src/System.Net.Http/src/System/Net/Http/StringContent.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cancellation.cs
Labels: area-System.Net.Http

#39302 [release/2.1] Add RIDs for released/releasing OS/Distro versions
  pkg/Microsoft.NETCore.Platforms/Microsoft.NETCore.Platforms.pkgproj
  pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  pkg/Microsoft.NETCore.Platforms/runtime.json
  pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
Labels: Servicing-approved

#39303 [release/2.2] Add RIDs for released/releasing OS/Distro versions
  pkg/Microsoft.NETCore.Platforms/Microsoft.NETCore.Platforms.pkgproj
  pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  pkg/Microsoft.NETCore.Platforms/runtime.json
  pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
Labels: Servicing-approved

#39437 Added client operation for posting form data
  src/System.Net.Http/tests/StressTests/HttpStress/Program.cs
Labels: area-System.Net.Http.SocketsHttpHandler, test enhancement

#39496 Propagate correct exception in Http2Connection.Abort
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#39275 Improve allocations in WinForms startup
  src/System.Drawing.Common/System.Drawing.Common.sln
  src/System.Drawing.Common/pkg/System.Drawing.Common.pkgproj
  src/System.Drawing.Common/ref/Configurations.props
  src/System.Drawing.Common/ref/System.Drawing.Common.csproj
  src/System.Drawing.Common/ref/System.Drawing.Common.netstandard.cs
  src/System.Drawing.Common/src/Configurations.props
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/System.Drawing.Common/src/System/Drawing/Brush.cs
  src/System.Drawing.Common/src/System/Drawing/Drawing2D/GraphicsPath.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Drawing2D/GraphicsPath.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Drawing2D/GraphicsPathIterator.cs
  src/System.Drawing.Common/src/System/Drawing/Drawing2D/Matrix.cs
  src/System.Drawing.Common/src/System/Drawing/Drawing2D/SafeCustomLineCapHandle.cs
  src/System.Drawing.Common/src/System/Drawing/Font.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Font.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Font.cs
  src/System.Drawing.Common/src/System/Drawing/FontFamily.cs
  src/System.Drawing.Common/src/System/Drawing/Gdiplus.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Icon.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Image.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Image.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/ImageAttributes.cs
  src/System.Drawing.Common/src/System/Drawing/Internal/GPStream.cs
  src/System.Drawing.Common/src/System/Drawing/LibraryResolver.cs
  src/System.Drawing.Common/src/System/Drawing/NativeMethods.cs
  src/System.Drawing.Common/src/System/Drawing/Pen.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/LibcupsNative.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PageSettings.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Region.cs
  src/System.Drawing.Common/src/System/Drawing/ScreenDC.cs
  src/System.Drawing.Common/src/System/Drawing/StringFormat.cs
  src/System.Drawing.Common/src/System/Drawing/SystemFonts.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/SystemIcons.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Text/PrivateFontCollection.cs
  src/System.Drawing.Common/src/System/Drawing/UnsafeNativeMethods.cs
  src/System.Drawing.Common/src/misc/DebugHandleTracker.cs
  src/System.Drawing.Common/src/misc/GDI/DeviceContext.cs
  src/System.Drawing.Common/src/misc/GDI/SafeNativeMethods.cs
  src/System.Drawing.Common/src/misc/GDI/UnsafeNativeMethods.cs
  src/System.Drawing.Common/src/misc/GDI/WindowsRegion.cs
  src/System.Drawing.Common/src/misc/HandleCollector.cs
  src/System.Drawing.Common/src/misc/InvalidEnumArgumentException.cs
  src/System.Drawing.Common/tests/FontTests.cs
  src/System.Drawing.Common/tests/IconTests.cs
  src/System.Drawing.Common/tests/Printing/PrintDocumentTests.cs
Labels: area-System.Drawing

#39501 Request-in-flight GOAWAY test
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http.SocketsHttpHandler, test enhancement

#39506 Adding readme for MEF
  src/System.ComponentModel.Composition/mef_guide/README.md
Labels: area-System.ComponentModel

#39468 Remove hooking of system color changes
  src/Common/src/Interop/Windows/User32/Interop.GetSysColor.cs
  src/Common/src/Interop/Windows/User32/Interop.Win32SystemColors.cs
  src/Common/src/System/Drawing/ColorTranslator.cs
  src/Common/src/System/Drawing/ColorUtil.netcoreapp20.cs
  src/Common/src/System/Drawing/ColorUtil.netcoreapp21.cs
  src/Common/src/System/Drawing/KnownColor.cs
  src/Common/src/System/Drawing/KnownColorTable.cs
  src/Common/src/System/Drawing/SystemColors.cs
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/System.Drawing.Common/src/System/Drawing/Pen.cs
  src/System.Drawing.Common/src/System/Drawing/SolidBrush.cs
  src/System.Drawing.Common/src/System/Drawing/SystemBrushes.cs
  src/System.Drawing.Common/src/System/Drawing/SystemPens.cs
  src/System.Drawing.Primitives/src/System.Drawing.Primitives.csproj
  src/System.Drawing.Primitives/src/System/Drawing/Color.cs
  src/System.Drawing.Primitives/src/System/Drawing/KnownColorNames.cs
  src/System.Drawing.Primitives/tests/ColorTests.cs
  src/System.Drawing.Primitives/tests/ColorTranslatorTests.cs
  src/System.Drawing.Primitives/tests/Helpers.cs
  src/System.Drawing.Primitives/tests/System.Drawing.Primitives.Tests.csproj
Labels: area-System.Drawing

#39520 Propagate abort exceptions from CreditManager.Dispose
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/CreditManager.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#39493 Add support for immutable array
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultImmutableDictionaryConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultImmutableEnumerableConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ImmutableCollectionCreator.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/MemberAccessor.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReflectionEmitMemberAccessor.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReflectionMemberAccessor.cs
  src/System.Text.Json/tests/Serialization/PolymorphicTests.cs
  src/System.Text.Json/tests/Serialization/PropertyNameTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.ImmutableCollections.cs
  src/System.Text.Json/tests/Serialization/TestClasses.Polymorphic.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClassWithObject.cs
  src/System.Text.Json/tests/Serialization/TestClasses.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.ImmutableCollections.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.ImmutableCollections.cs
Labels: area-System.Text.Json

#39494 JavaScriptEncoder should allow U+002F SOLIDUS by default
  src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/JavaScriptEncoder.cs
  src/System.Text.Encodings.Web/tests/JavaScriptStringEncoderTests.cs
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.Escaping.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClass.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClassWithObjectArrays.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json, auto-merge

#39485 HttpStress: Randomize cancellation of requests
  src/System.Net.Http/tests/StressTests/HttpStress/Program.cs
Labels: area-System.Net.Http, test enhancement

#39524 Add Encoder option to writer and serializer
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.Escaping.cs
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterOptions.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Bytes.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTime.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTimeOffset.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Decimal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Double.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Float.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.FormattedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Guid.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Literal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.SignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.String.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.UnsignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Bytes.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Comment.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.DateTime.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.DateTimeOffset.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Decimal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Double.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Float.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.FormattedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Guid.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Literal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.SignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.String.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.UnsignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs
  src/System.Text.Json/tests/JsonElementWriteTests.cs
  src/System.Text.Json/tests/Serialization/OptionsTests.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json

#39510 Add negative tests for ValidateNumber
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.cs
  src/System.Text.Json/tests/JsonElementWriteTests.cs
Labels: area-System.Text.Json

#39522 Do not over-escape writing Base64 strings within JSON using the writer.
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Bytes.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Bytes.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Helpers.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json

#39541 Split creation logic of DateTime and DateTimeOffset in Utf8JsonReader
  src/System.Text.Json/src/System/Text/Json/JsonHelpers.Date.cs
  src/System.Text.Json/tests/JsonDateTimeTestData.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
  src/System.Text.Json/tests/Utf8JsonReaderTests.TryGet.Date.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.TryGet.cs
Labels: area-System.Text.Json

#39341 [release/2.1] Don't close connection for responses to NT auth using 100continue
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/tests/FunctionalTests/NtAuthTests.cs
Labels: Servicing-approved, area-System.Net.Http.SocketsHttpHandler, blocking-partner, tenet-compatibility

#39456 [release/2.1] Catch exception in ssl handshake so it can be propagated to async caller
  src/System.Net.Security/src/System/Net/Security/SslState.cs
Labels: Servicing-approved, area-System.Net.Security, tenet-reliability

#39547 Specify DateTimeKind.Utc in JSON tests to avoid ArgumentOutOfRangeException
  src/System.Text.Json/tests/Serialization/Stream.WriteTests.cs
Labels: area-System.Text.Json

#39092 Fix Utf8JsonWriter xml docs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Bytes.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTime.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTimeOffset.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Decimal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Double.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Float.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.FormattedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Guid.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Literal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.SignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.String.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.UnsignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Bytes.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Comment.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.DateTime.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.DateTimeOffset.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Decimal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Double.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Float.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.FormattedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Guid.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Literal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.SignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.String.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.UnsignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs
Labels: area-System.Text.Json, documentation

#39548 Clean up the date helper in Utf8JsonReader
  src/System.Text.Json/src/System/Text/Json/JsonHelpers.Date.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.TryGet.Date.cs
Labels: area-System.Text.Json

#39343 ensure remote server HTTP2 tests are actually using HTTP2
  src/Common/tests/System/Net/Configuration.Http.cs
  src/System.Diagnostics.DiagnosticSource/tests/HttpHandlerDiagnosticListenerTests.cs
  src/System.Net.Http.WinHttpHandler/tests/FunctionalTests/ServerCertificateTest.cs
  src/System.Net.Http.WinHttpHandler/tests/FunctionalTests/WinHttpHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.AutoRedirect.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Decompression.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ServerCertificates.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTestBase.cs
  src/System.Net.Http/tests/FunctionalTests/PostScenarioTest.cs
  src/System.Net.Http/tests/FunctionalTests/PostScenarioUWPTest.cs
  src/System.Net.Http/tests/FunctionalTests/ResponseStreamTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#39503 Update branding in master to 5.0
  eng/Packaging.props
  eng/Versions.props
  pkg/Microsoft.NETCore.Platforms.Future/Microsoft.NETCore.Platforms.Future.pkgproj
  pkg/Microsoft.NETCore.Targets/Microsoft.NETCore.Targets.pkgproj
  pkg/Microsoft.Private.CoreFx.UAP/Microsoft.Private.CoreFx.UAP.pkgproj
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  pkg/Microsoft.Windows.Compatibility/Microsoft.Windows.Compatibility.pkgproj
  src/Microsoft.Bcl.AsyncInterfaces/Directory.Build.props
  src/Microsoft.Bcl.HashCode/Directory.Build.props
  src/Microsoft.Diagnostics.Tracing.EventSource.Redist/Directory.Build.props
  src/Microsoft.VisualBasic.Core/Directory.Build.props
  src/Microsoft.XmlSerializer.Generator/Directory.Build.props
  src/System.Collections.Immutable/Directory.Build.props
  src/System.Composition/Directory.Build.props
  src/System.Data.SqlClient/Directory.Build.props
  src/System.Numerics.Tensors/Directory.Build.props
  src/System.Reflection.Metadata/Directory.Build.props
  src/System.Threading.Tasks.Dataflow/Directory.Build.props
Labels: * NO MERGE *

#39550 Add UnsafeRelaxedJsonEscaping static to JavascriptEncoder.
  src/System.Text.Encodings.Web/ref/System.Text.Encodings.Web.cs
  src/System.Text.Encodings.Web/src/System.Text.Encodings.Web.csproj
  src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/JavaScriptEncoder.cs
  src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/UnsafeRelaxedJavaScriptEncoder.cs
  src/System.Text.Encodings.Web/tests/JavaScriptStringEncoderTests.Relaxed.cs
  src/System.Text.Encodings.Web/tests/JavaScriptStringEncoderTests.cs
  src/System.Text.Encodings.Web/tests/System.Text.Encodings.Web.Tests.csproj
  src/System.Text.Encodings.Web/tests/TemporaryEncoderAdapters.cs
Labels: area-System.Text.Encodings.Web

#38804 Socket: improve cross-platform behavior on Dispose
  src/Common/src/Interop/Unix/System.Native/Interop.Disconnect.cs
  src/Common/src/Interop/Unix/System.Native/Interop.Fcntl.cs
  src/Common/src/Interop/Windows/WinSock/Interop.WSAConnect.cs
  src/Common/src/Interop/Windows/WinSock/Interop.WSAIoctl.cs
  src/Common/src/Interop/Windows/WinSock/Interop.WSARecv.cs
  src/Common/src/Interop/Windows/WinSock/Interop.WSASend.cs
  src/Common/src/Interop/Windows/WinSock/Interop.accept.cs
  src/Common/src/Interop/Windows/WinSock/Interop.recv.cs
  src/Common/src/Interop/Windows/WinSock/Interop.recvfrom.cs
  src/Common/src/Interop/Windows/WinSock/Interop.send.cs
  src/Common/src/Interop/Windows/WinSock/Interop.sendto.cs
  src/Native/Unix/Common/pal_config.h.in
  src/Native/Unix/System.Native/pal_io.c
  src/Native/Unix/System.Native/pal_io.h
  src/Native/Unix/System.Native/pal_networking.c
  src/Native/Unix/System.Native/pal_networking.h
  src/Native/Unix/configure.cmake
  src/System.Data.OleDb/src/DBBindings.cs
  src/System.IO.MemoryMappedFiles/src/System.IO.MemoryMappedFiles.csproj
  src/System.IO.Pipes/src/System.IO.Pipes.csproj
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/NetworkAddressChange.Windows.cs
  src/System.Net.Sockets/src/System.Net.Sockets.csproj
  src/System.Net.Sockets/src/System/Net/Sockets/AcceptOverlappedAsyncResult.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/DynamicWinsockMethods.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.Unix.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.cs
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.Unix.cs
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncContext.Unix.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Windows.cs
  src/System.Net.Sockets/tests/FunctionalTests/Accept.cs
  src/System.Net.Sockets/tests/FunctionalTests/Connect.cs
  src/System.Net.Sockets/tests/FunctionalTests/SendFile.cs
  src/System.Net.Sockets/tests/FunctionalTests/SendReceive.cs
  src/System.Net.Sockets/tests/FunctionalTests/SocketTestHelper.cs
Labels: area-System.Net.Sockets

#38062 Spanify Cryptography.Base64Transform
  src/System.Security.Cryptography.Encoding/src/System.Security.Cryptography.Encoding.csproj
  src/System.Security.Cryptography.Encoding/src/System/Security/Cryptography/Base64Transforms.cs
  src/System.Security.Cryptography.Encoding/tests/Base64TransformsTests.cs
Labels: area-System.Security

#39573 Include file SafeHandleTest.cs into the project.
  src/System.Net.Sockets/tests/FunctionalTests/System.Net.Sockets.Tests.csproj
Labels: area-System.Net.Sockets, test bug

#39596 Update coverlet.console to fix coverage measurement
  .config/dotnet-tools.json
  NuGet.config
Labels: area-Infrastructure

#39050 Fold a bunch of CoreCLR's abandoned mutex tests into a parameterized test
  src/Common/tests/CoreFx.Private.TestUtilities/System/AssertExtensions.cs
  src/System.Threading/tests/MutexTests.cs
Labels: area-System.Threading

#39407 Code coverage for JsonWriterHelper JsonWriter
  src/System.Text.Json/tests/JsonElementWriteTests.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json, test enhancement

#39589 Move ConnectAsync_AddCustomHeaders_Success ClientWebSocket test to loopback
  src/System.Net.WebSockets.Client/tests/ClientWebSocketOptionsTests.netcoreapp.cs
  src/System.Net.WebSockets.Client/tests/ConnectTest.cs
  src/System.Net.WebSockets.Client/tests/LoopbackHelper.cs
  src/System.Net.WebSockets.Client/tests/SendReceiveTest.cs
Labels: area-System.Net, test bug

#39598 [release/3.0] Port: Make all events nullable (#39578)
  src/System.Diagnostics.Contracts/ref/System.Diagnostics.Contracts.cs
  src/System.Diagnostics.Tracing/ref/System.Diagnostics.Tracing.cs
  src/System.Runtime.Extensions/ref/System.Runtime.Extensions.cs
  src/System.Runtime.Loader/ref/System.Runtime.Loader.cs
  src/System.Runtime/ref/System.Runtime.cs
Labels: tell-mode

#39605 Fixing BaselineVersion on System.Reflection.Emit packages and adding it where missing
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
Labels: tell-mode

#39619 Add telemetry marker for tests
  eng/sendtohelix.proj
Labels: area-Infrastructure

#39610 [release/3.0] Don't dispose StreamPipeWriter CancellationToken until after Flush
  src/System.IO.Pipelines/src/System/IO/Pipelines/StreamPipeWriter.cs
  src/System.IO.Pipelines/tests/StreamPipeWriterTests.cs
Labels: tell-mode

#39612 [release/3.0] Code coverage for JsonWriterHelper JsonWriter (#39407)
  src/System.Text.Json/tests/JsonElementWriteTests.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json, tell-mode, test enhancement

#39635 Pass CancellationToken from Http2Connection.SendHeadersAsync to StartWriteAsync
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
Labels: area-System.Net.Http, bug, tenet-reliability

#39646 [release/3.0] Pass CancellationToken from Http2Connection.SendHeadersAsync to StartWriteAsync
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#39653 Add missing fields to BrotliEncoder/Decoder ref
  src/System.IO.Compression.Brotli/ref/System.IO.Compression.Brotli.cs
  src/System.IO.Compression.Brotli/tests/BrotliEncoderTests.cs
Labels: api-candidate-for-standard

#39558 Custom converter contravariant test coverage
  src/System.Text.Json/tests/Serialization/CustomConverterTests.Dictionary.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.List.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.Object.cs
Labels: area-System.Text.Json, test enhancement

#39693 Add .dockerignore file to the root of the repo
  .dockerignore
Labels: area-Infrastructure

#39687 Update dummy fields within the ref by auto-generating them from the source assembly.
  src/System.ComponentModel.Composition/ref/System.ComponentModel.Composition.cs
  src/System.Data.Common/ref/System.Data.Common.cs
  src/System.IO.FileSystem.Watcher/ref/System.IO.FileSystem.Watcher.cs
  src/System.IO.FileSystem/ref/System.IO.FileSystem.cs
  src/System.Net.Sockets/ref/System.Net.Sockets.cs
  src/System.Reflection.Metadata/ref/System.Reflection.Metadata.cs
  src/System.Runtime.Numerics/ref/System.Runtime.Numerics.cs
  src/System.Security.Cryptography.Cng/ref/System.Security.Cryptography.Cng.cs
  src/System.Security.Cryptography.X509Certificates/ref/System.Security.Cryptography.X509Certificates.cs
Labels: area-Meta, auto-merge

#39638 HTTP2: Rework shutdown handling
  src/Common/tests/System/Net/Http/Http2LoopbackConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/CreditManager.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cancellation.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#39728 Update coverlet version
  .config/dotnet-tools.json
Labels: area-Infrastructure

#39705 Only removing logs which throw invalid parameters exception from eventLogs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/EventLog.cs
  src/System.Diagnostics.EventLog/tests/EventLogTests/EventLogTests.cs
Labels: area-System.Diagnostics, auto-merge

#39752 Only Removing logName which are not actual logs from the geteventlogs api output
  src/System.Diagnostics.EventLog/src/System/Diagnostics/EventLog.cs
  src/System.Diagnostics.EventLog/tests/EventLogTests/EventLogTests.cs
Labels: tell-mode

#39681 Auto-generate the reference assemblies to normalize them
  eng/ReferenceAssemblies.props
  src/Microsoft.Bcl.AsyncInterfaces/ref/Microsoft.Bcl.AsyncInterfaces.cs
  src/Microsoft.VisualBasic.Core/ref/Microsoft.VisualBasic.Core.cs
  src/System.Collections.Concurrent/ref/System.Collections.Concurrent.cs
  src/System.Collections/ref/System.Collections.cs
  src/System.ComponentModel.Composition/ref/System.ComponentModel.Composition.cs
  src/System.Data.Common/ref/System.Data.Common.cs
  src/System.Data.OleDb/ref/System.Data.OleDb.cs
  src/System.Data.SqlClient/ref/System.Data.SqlClient.NetCoreApp.cs
  src/System.Diagnostics.DiagnosticSource/ref/System.Diagnostics.DiagnosticSource.cs
  src/System.Diagnostics.DiagnosticSource/ref/System.Diagnostics.DiagnosticSourceActivity.cs
  src/System.IO.Packaging/ref/System.IO.Packaging.PackUriScheme.cs
  src/System.IO.Pipelines/ref/System.IO.Pipelines.cs
  src/System.Linq/ref/System.Linq.cs
  src/System.Net.Http/ref/System.Net.Http.cs
  src/System.Net.Security/ref/System.Net.Security.cs
  src/System.Numerics.Tensors/ref/System.Numerics.Tensors.cs
  src/System.Reflection.Emit/ref/System.Reflection.Emit.netcore.cs
  src/System.Runtime/ref/System.Runtime.Manual.cs
  src/System.Runtime/ref/System.Runtime.cs
  src/System.Security.AccessControl/ref/System.Security.AccessControl.cs
  src/System.Security.Permissions/ref/System.Security.Permissions.cs
  src/System.ServiceModel.Syndication/ref/System.ServiceModel.Syndication.netcoreapp.cs
  src/System.Text.Encodings.Web/ref/System.Text.Encodings.Web.cs
  src/System.Threading.Channels/ref/System.Threading.Channels.netcoreapp.cs
  src/System.Utf8String.Experimental/ref/System.Utf8String.Experimental.cs
  src/System.Utf8String.Experimental/ref/System.Utf8String.Experimental.csproj
  src/System.Utf8String.Experimental/ref/System.Utf8String.cs
Labels: area-Meta, auto-merge

#39757 Update coverlet version
  .config/dotnet-tools.json
Labels: area-Infrastructure

#39632 HttpStress: Allow standalone client and server processes
  src/System.Net.Http/tests/StressTests/HttpStress/ClientOperations.cs
  src/System.Net.Http/tests/StressTests/HttpStress/Program.cs
  src/System.Net.Http/tests/StressTests/HttpStress/StressClient.cs
  src/System.Net.Http/tests/StressTests/HttpStress/StressServer.cs
Labels: area-System.Net.Http, test enhancement

#39748 Change the default symmetric encryption algorithm for EnvelopedCms
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/EnvelopedCms.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/GeneralTests.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/KeyAgreeRecipientInfoTests.cs
Labels: area-System.Security, breaking-change

#39753 Add [Obsolete] to vbNewLine
  src/Microsoft.VisualBasic.Core/ref/Microsoft.VisualBasic.Core.cs
Labels: area-Microsoft.VisualBasic, breaking-change

#39754 Add [Obsolete] to vbNewLine
  src/Microsoft.VisualBasic.Core/ref/Microsoft.VisualBasic.Core.cs
Labels: area-Microsoft.VisualBasic, breaking-change, tell-mode

#39745 HTTP2: fix race between request failure and response body read
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
Labels: area-System.Net.Http

#39751 Reduce memory usage of tests and fix checks for escaped size
  src/System.Memory/tests/ArrayBufferWriter/ArrayBufferWriterTests.T.cs
  src/System.Text.Json/src/System/Text/Json/JsonConstants.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Bytes.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTime.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTimeOffset.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Decimal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Double.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Float.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Guid.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Literal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.SignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.String.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.UnsignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.String.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.ValueTextEquals.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json

#39747 [release/3.0] Update dummy fields within the ref by auto-generating them from the source assembly.
  src/System.ComponentModel.Composition/ref/System.ComponentModel.Composition.cs
  src/System.Data.Common/ref/System.Data.Common.cs
  src/System.IO.FileSystem.Watcher/ref/System.IO.FileSystem.Watcher.cs
  src/System.IO.FileSystem/ref/System.IO.FileSystem.cs
  src/System.Net.Sockets/ref/System.Net.Sockets.cs
  src/System.Reflection.Metadata/ref/System.Reflection.Metadata.cs
  src/System.Runtime.Numerics/ref/System.Runtime.Numerics.cs
  src/System.Security.Cryptography.Cng/ref/System.Security.Cryptography.Cng.cs
  src/System.Security.Cryptography.X509Certificates/ref/System.Security.Cryptography.X509Certificates.cs
Labels: area-Meta, auto-merge, tell-mode

#39786 Relax a mutex test condition
  src/System.Threading/tests/MutexTests.cs
Labels: area-System.Threading

#39781 Port 39745 to release/3.0
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
Labels: tell-mode

#39771 [release/3.0] Change the default symmetric encryption algorithm for EnvelopedCms
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/EnvelopedCms.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/GeneralTests.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/KeyAgreeRecipientInfoTests.cs
Labels: breaking-change, tell-mode

#39779 Fix NRE when MatchEvaluator returns null
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Replace.cs
  src/System.Text.RegularExpressions/tests/Regex.Replace.Tests.cs
Labels: auto-merge

#39806 Enable target framework attribute on test assemblies
  Directory.Build.props
Labels: area-Infrastructure

#39784 Reduce memory usage of tests and fix asserts for escaped size
  src/System.Memory/tests/ArrayBufferWriter/ArrayBufferWriterTests.T.cs
  src/System.Text.Json/src/System/Text/Json/JsonConstants.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Bytes.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTime.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTimeOffset.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Decimal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Double.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Float.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Guid.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Literal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.SignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.String.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.UnsignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.String.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.ValueTextEquals.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json, tell-mode

#39789 Fix FormatException if an invalid JsonConverter attribute is specified
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.BadConverters.cs
Labels: area-System.Text.Json

#39790 Allow JsonConverterAttribute to be applied to an Enum
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterAttribute.cs
  src/System.Text.Json/tests/Serialization/EnumConverterTests.cs
Labels: area-System.Text.Json

#39812 Allow JsonConverterAttribute to be applied to an Enum (#39790)
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterAttribute.cs
  src/System.Text.Json/tests/Serialization/EnumConverterTests.cs
Labels: area-System.Text.Json, tell-mode

#39811 Fix FormatException if an invalid JsonConverter attribute is specifie…
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.BadConverters.cs
Labels: area-System.Text.Json, tell-mode

#39785 throw for unknown or unsupported AddressFamily on Windows
  src/Common/src/System/Net/SocketAddressPal.Windows.cs
  src/System.Net.Primitives/tests/FunctionalTests/SocketAddressTest.cs
Labels: area-System.Net.Sockets

#39774 HttpStress: Add randomized request headers
  src/System.Net.Http/tests/StressTests/HttpStress/ClientOperations.cs
  src/System.Net.Http/tests/StressTests/HttpStress/Program.cs
  src/System.Net.Http/tests/StressTests/HttpStress/StressClient.cs
  src/System.Net.Http/tests/StressTests/HttpStress/StressServer.cs
Labels: area-System.Net.Http.SocketsHttpHandler, test enhancement

#39818 Port fix to NRE when regex MatchEvaluator returns null
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Replace.cs
  src/System.Text.RegularExpressions/tests/Regex.Replace.Tests.cs
Labels: auto-merge, tell-mode

#39579 Debian 10/Win8.1 fixes: Allow explicitly using SSLv3, TLS1.0/1.1
  src/Native/Unix/System.Security.Cryptography.Native/pal_ssl.c
  src/System.Net.Security/src/System/Net/Security/SslAuthenticationOptions.cs
  src/System.Net.Security/tests/FunctionalTests/CertificateValidationClientServer.cs
  src/System.Net.Security/tests/FunctionalTests/ClientAsyncAuthenticateTest.cs
  src/System.Net.Security/tests/FunctionalTests/ServerAsyncAuthenticateTest.cs
  src/System.Net.Security/tests/FunctionalTests/SslStreamNegotiatedCipherSuiteTest.cs
  src/System.Net.Security/tests/FunctionalTests/SslStreamSniTest.cs
  src/System.Net.Security/tests/FunctionalTests/SslStreamSystemDefaultsTest.cs
Labels: area-System.Net.Security

#39834 HTTP2: Ensure we never send EndStream after RST_STREAM
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#39796 Fix validation check within Utf8JsonWriter for writing a primitive value after another complete value has been written.
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json, auto-merge

#39560 Use relaxed JavascriptEncoder in S.T.JSON specific tests to improve coverage.
  src/System.Text.Json/tests/DebuggerTests.cs
  src/System.Text.Json/tests/JsonDocumentTests.cs
  src/System.Text.Json/tests/JsonElementWriteTests.cs
  src/System.Text.Json/tests/JsonPropertyTests.cs
  src/System.Text.Json/tests/JsonTestHelper.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json, auto-merge, test enhancement

#39820 [3.0] Debian 10/Win8.1 fixes: Allow explicitly using SSLv3, TLS1.0/1.1
  src/Native/Unix/System.Security.Cryptography.Native/pal_ssl.c
  src/System.Net.Security/src/System/Net/Security/SslAuthenticationOptions.cs
  src/System.Net.Security/tests/FunctionalTests/CertificateValidationClientServer.cs
  src/System.Net.Security/tests/FunctionalTests/ClientAsyncAuthenticateTest.cs
  src/System.Net.Security/tests/FunctionalTests/ServerAsyncAuthenticateTest.cs
  src/System.Net.Security/tests/FunctionalTests/SslStreamNegotiatedCipherSuiteTest.cs
  src/System.Net.Security/tests/FunctionalTests/SslStreamSniTest.cs
  src/System.Net.Security/tests/FunctionalTests/SslStreamSystemDefaultsTest.cs
Labels: area-System.Net.Security

#39849 [release/3.0] Fix validation check within Utf8JsonWriter for writing a primitive value after another complete value has been written.
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json, tell-mode

#39850 [release/3.0] Use relaxed JavascriptEncoder in S.T.JSON specific tests to improve coverage.
  src/System.Text.Json/tests/DebuggerTests.cs
  src/System.Text.Json/tests/JsonDocumentTests.cs
  src/System.Text.Json/tests/JsonElementWriteTests.cs
  src/System.Text.Json/tests/JsonPropertyTests.cs
  src/System.Text.Json/tests/JsonTestHelper.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json, tell-mode, test enhancement

#39669 HTTP2: Validate dynamic table size updates
  src/Common/tests/System/Net/Http/Http2LoopbackConnection.cs
  src/System.Net.Http/src/Resources/Strings.resx
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HPackDecoder.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http.SocketsHttpHandler, bug

#39836 Fix Utf8JsonWriter.Dispose{Async} after failed Stream Write{Async}
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json

#39815 TextEncoder classes should always encode U+FEFF (byte order mark character)
  src/System.Text.Encodings.Web/src/System/Text/Unicode/UnicodeHelpers.generated.cs
  src/System.Text.Encodings.Web/tests/UnicodeHelpersTests.cs
  src/System.Text.Encodings.Web/tools/GenDefinedCharList/Program.cs
Labels: area-System.Text.Encodings.Web

#39860 HttpStress: Add duplex operation that disposes response content
  src/System.Net.Http/tests/StressTests/HttpStress/ClientOperations.cs
Labels: area-System.Net.Http, test enhancement

#39869 improve handling of 100continue for H2
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/System.Net.Http/tests/FunctionalTests/NtAuthTests.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#39902 Add TrailingHeaders to HttpResponseMessage.ToString output
  src/System.Net.Http/src/System/Net/Http/HttpResponseMessage.cs
  src/System.Net.Http/tests/FunctionalTests/HttpResponseMessageTest.cs
Labels: area-System.Net.Http
