Repository dotnet/corefx, pull requests merged in 2019-02, with the labels that each got.

#34998 Enable TLS channel binding token for NTLM authentication on Linux
  src/Common/src/Interop/Unix/System.Net.Security.Native/Interop.NetSecurityNative.cs
  src/Common/src/System/Net/Security/NegotiateStreamPal.Unix.cs
  src/Common/src/System/Net/Security/Unix/SecChannelBindings.cs
  src/Native/Unix/System.Net.Security.Native/pal_gssapi.c
  src/Native/Unix/System.Net.Security.Native/pal_gssapi.h
  src/System.Data.SqlClient/src/Resources/Strings.resx
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
  src/System.Net.Http/src/Resources/Strings.resx
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Mail/src/Resources/Strings.resx
  src/System.Net.Mail/src/System.Net.Mail.csproj
  src/System.Net.Security/src/Resources/Strings.resx
  src/System.Net.Security/src/System.Net.Security.csproj
  src/System.Net.Security/src/System/Net/Security/Pal.Managed/SafeChannelBindingHandle.cs
Labels: area-System.Net.Http, os-linux

#34147 Adding Kill(bool entireProcessTree) -- terminates a process tree
  src/Common/src/Interop/Linux/procfs/Interop.ProcFsStat.cs
  src/Common/src/Interop/Unix/System.Native/Interop.Kill.cs
  src/Common/src/Interop/Windows/NtDll/Interop.NtQueryInformationProcess.cs
  src/System.Diagnostics.Process/ref/System.Diagnostics.Process.cs
  src/System.Diagnostics.Process/src/Resources/Strings.resx
  src/System.Diagnostics.Process/src/System.Diagnostics.Process.csproj
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.FreeBSD.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.Linux.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.NonUap.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.OSX.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.Uap.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.UnknownUnix.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.Win32.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.Windows.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.cs
  src/System.Diagnostics.Process/tests/Helpers.cs
  src/System.Diagnostics.Process/tests/ProcessTestBase.cs
  src/System.Diagnostics.Process/tests/ProcessTests.netcoreapp.cs
  src/System.Diagnostics.Process/tests/System.Diagnostics.Process.Tests.csproj
Labels: area-System.Diagnostics.Process

#35079 Fix uapaot binaryformatter tests
  src/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTests.rd.xml
  src/System.Runtime.Serialization.Formatters/tests/PlatformExtensions.cs
Labels: area-System.Runtime

#35039 [release/2.1] Skip CoreFx.Private.TestUtilities in source-build - retry
  src/dir.props
  src/ref.builds
Labels: Servicing-approved

#35105 Restore the Linux X509Certificates tests to 0 SafeX509Handle finalizations
  src/Common/src/Microsoft/Win32/SafeHandles/SafeX509Handles.Unix.cs
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Security/src/System.Net.Security.csproj
  src/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
  src/System.Security.Cryptography.X509Certificates/tests/CertificateCreation/CertificateRequestChainTests.cs
  src/System.Security.Cryptography.X509Certificates/tests/CertificateCreation/CertificateRequestUsageTests.cs
  src/System.Security.Cryptography.X509Certificates/tests/ChainTests.cs
Labels: area-System.Security, test enhancement

#35113 remove instrumentation and move unreliable tests to Outerloop
  src/System.Net.NameResolution/tests/PalTests/NameResolutionPalTests.cs
Labels: area-System.Net

#34880 SqlClient enhancement enable GetFieldValue<XmlReader>
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlDataReader.cs
  src/System.Data.SqlClient/src/System/Data/SqlTypes/SqlTypeWorkarounds.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/DataStreamTest/DataStreamTest.cs
Labels: area-System.Data.SqlClient

#35104 Fix code coverage on macOS
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-Infrastructure

#35133 Add SocketErrorPal mapping for EPERM
  src/Common/src/System/Net/Sockets/SocketErrorPal.Unix.cs
  src/System.Net.Sockets/tests/FunctionalTests/CreateSocketTests.cs
Labels: area-System.Net.Sockets, os-linux

#35098 Fix overflow exception in StringParsingHelpers
  src/Common/src/System/IO/RowConfigReader.cs
  src/Common/tests/Tests/System/IO/RowConfigReaderTests.cs
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/StringParsingHelpers.Statistics.cs
  src/System.Net.NetworkInformation/tests/FunctionalTests/NetworkFiles/snmp
  src/System.Net.NetworkInformation/tests/FunctionalTests/StatisticsParsingTests.cs
Labels: area-System.Net, bug

#35043 Add build badges to README
  README.md
Labels: * NO MERGE *

#32792 Process.Close check for null before using variable
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.cs
  src/System.Diagnostics.Process/tests/ProcessTests.cs
Labels: area-System.Diagnostics.Process

#34630 HTTP2: Modify HTTP2 tests to run against platform handlers as well
  src/Common/tests/System/Net/Http/Http2Frames.cs
  src/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/System.Net.Http/tests/FunctionalTests/PlatformHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Labels: area-System.Net.Http, test enhancement

#35144 Remove InternalsVisibleTo from S.C.C.Registration
  src/System.ComponentModel.Composition.Registration/src/Properties/InternalsVisibleTo.cs
  src/System.ComponentModel.Composition.Registration/src/System.ComponentModel.Composition.Registration.csproj
  src/System.ComponentModel.Composition.Registration/tests/InternalCalls.cs
  src/System.ComponentModel.Composition.Registration/tests/System.ComponentModel.Composition.Registration.Tests.csproj
  src/System.ComponentModel.Composition.Registration/tests/System/ComponentModel/Composition/Registration/ExportBuilderTests.cs
  src/System.ComponentModel.Composition.Registration/tests/System/ComponentModel/Composition/Registration/ExportBuilderUnitTests.cs
  src/System.ComponentModel.Composition.Registration/tests/System/ComponentModel/Composition/Registration/ImportBuilderTests.cs
  src/System.ComponentModel.Composition.Registration/tests/System/ComponentModel/Composition/Registration/PartBuilderInheritanceTests.cs
  src/System.ComponentModel.Composition.Registration/tests/System/ComponentModel/Composition/Registration/PartBuilderInterfaceTests.cs
  src/System.ComponentModel.Composition.Registration/tests/System/ComponentModel/Composition/Registration/PartBuilderOfTInheritanceTests.cs
  src/System.ComponentModel.Composition.Registration/tests/System/ComponentModel/Composition/Registration/PartBuilderOfTTests.cs
  src/System.ComponentModel.Composition.Registration/tests/System/ComponentModel/Composition/Registration/PartBuilderTests.cs
  src/System.ComponentModel.Composition.Registration/tests/System/ComponentModel/Composition/Registration/PartBuilderUnitTests.cs
  src/System.ComponentModel.Composition.Registration/tests/System/ComponentModel/Composition/Registration/RegistrationBuilderExportFuncTests.cs
  src/System.ComponentModel.Composition.Registration/tests/System/ComponentModel/Composition/Registration/RegistrationBuilderTests.cs
Labels: area-System.ComponentModel

#35091 Remove a lot of allocation from SslStream's handshake
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Ssl.cs
  src/Common/src/Interop/Windows/SChannel/Interop.SecPkgContext_ApplicationProtocol.cs
  src/Common/src/Interop/Windows/SChannel/SecPkgContext_ConnectionInfo.cs
  src/Common/src/Interop/Windows/SspiCli/GlobalSSPI.cs
  src/Common/src/Interop/Windows/SspiCli/Interop.SSPI.cs
  src/Common/src/Interop/Windows/SspiCli/NegotiationInfoClass.cs
  src/Common/src/Interop/Windows/SspiCli/SSPIAuthType.cs
  src/Common/src/Interop/Windows/SspiCli/SSPIInterface.cs
  src/Common/src/Interop/Windows/SspiCli/SSPISecureChannelType.cs
  src/Common/src/Interop/Windows/SspiCli/SSPIWrapper.cs
  src/Common/src/Interop/Windows/SspiCli/SecPkgContext_Sizes.cs
  src/Common/src/Interop/Windows/SspiCli/SecPkgContext_StreamSizes.cs
  src/Common/src/Interop/Windows/SspiCli/SecuritySafeHandles.cs
  src/Common/src/System/Net/LazyAsyncResult.cs
  src/Common/src/System/Net/NTAuthentication.Common.cs
  src/Common/src/System/Net/NegotiationInfoClass.cs
  src/Common/src/System/Net/Security/NegotiateStreamPal.Unix.cs
  src/Common/src/System/Net/Security/NegotiateStreamPal.Windows.cs
  src/Common/src/System/Net/Security/SSPIHandleCache.cs
  src/Common/src/System/Net/Security/SecurityBuffer.Windows.cs
  src/Common/src/System/Net/Security/SecurityBufferType.Windows.cs
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIProxy.cs
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.HttpListener/src/System.Net.HttpListener.csproj
  src/System.Net.Mail/src/System.Net.Mail.csproj
  src/System.Net.Security/src/System.Net.Security.csproj
  src/System.Net.Security/src/System/Net/CertificateValidationPal.Unix.cs
  src/System.Net.Security/src/System/Net/CertificateValidationPal.Windows.cs
  src/System.Net.Security/src/System/Net/FixedSizeReader.cs
  src/System.Net.Security/src/System/Net/Security/InternalNegotiateStream.cs
  src/System.Net.Security/src/System/Net/Security/NegotiateStreamPal.Windows.cs
  src/System.Net.Security/src/System/Net/Security/SecureChannel.cs
  src/System.Net.Security/src/System/Net/Security/SslAuthenticationOptions.cs
  src/System.Net.Security/src/System/Net/Security/SslConnectionInfo.Unix.cs
  src/System.Net.Security/src/System/Net/Security/SslConnectionInfo.cs
  src/System.Net.Security/src/System/Net/Security/SslState.cs
  src/System.Net.Security/src/System/Net/Security/SslStream.cs
  src/System.Net.Security/src/System/Net/Security/SslStreamInternal.cs
  src/System.Net.Security/src/System/Net/Security/SslStreamPal.OSX.cs
  src/System.Net.Security/src/System/Net/Security/SslStreamPal.Unix.cs
  src/System.Net.Security/src/System/Net/Security/SslStreamPal.Windows.cs
  src/System.Security.Cryptography.Encoding/src/System/Security/Cryptography/OidCollection.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.OSX/ChainPal.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/CertificatePal.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/ChainPal.GetChainStatusInformation.cs
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/X509Certificate.cs
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/X509Certificate2.cs
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/X509ChainPolicy.cs
Labels: area-System.Net.Security

#35179 Reduce memory allocation in Http2Stream
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ArrayBuffer.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionResponseContent.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#35200 Add NTLM feature detection and more tests
  src/Common/src/Interop/Unix/System.Net.Security.Native/Interop.NetSecurityNative.IsNtlmInstalled.cs
  src/Common/src/Microsoft/Win32/SafeHandles/GssSafeHandles.cs
  src/Common/tests/System/Net/Capability.Security.Unix.cs
  src/Common/tests/System/Net/Capability.Security.Windows.cs
  src/Common/tests/System/Net/Configuration.Http.cs
  src/Common/tests/System/Net/Configuration.Security.cs
  src/Native/Unix/System.Net.Security.Native/pal_gssapi.c
  src/Native/Unix/System.Net.Security.Native/pal_gssapi.h
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Authentication.cs
  src/System.Net.Http/tests/FunctionalTests/PlatformHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/System.Net.Mail/src/System.Net.Mail.csproj
  src/System.Net.Security/src/System.Net.Security.csproj
Labels: area-System.Net.Http.SocketsHttpHandler

#35221 Disable AuthProxy__ValidCreds_ProxySendsRequestToServer test on Nano
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Proxy.cs
Labels: area-System.Net.Http

#35225 Fix test failures in CertificateValidationClientServer_EndToEnd_Ok
  src/System.Net.Security/tests/FunctionalTests/CertificateChainValidation.cs
  src/System.Net.Security/tests/FunctionalTests/CertificateValidationClientServer.cs
  src/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
Labels: area-System.Net.Security, test bug

#32131 Use C#7 is expression to remove additional cast
  src/System.Linq/src/System/Linq/Cast.cs
Labels: area-System.Linq

#35161 Remove Obsolete attribute from Variant APIs
  src/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
Labels: area-System.Runtime.InteropServices, documentation

#33309 [release/uwp6.2] Port build fixes from uwp6.0
  buildpipeline/DotNet-CoreFx-Trusted-Linux-Crossbuild.json
  buildpipeline/DotNet-CoreFx-Trusted-Windows.json
Labels: area-Infrastructure

#33772 Improve the back pressure deadlock error
  src/System.IO.Pipelines/src/Resources/Strings.resx
  src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/ThrowHelper.cs
  src/System.IO.Pipelines/tests/BackpressureTests.cs
Labels: area-System.IO.Pipelines

#35087 basic support for PooledConnectionLifetime for HTTP2
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionBase.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#34583 Fix DispatchProxy arguments with [Out] methods
  src/System.Reflection.DispatchProxy/src/System/Reflection/DispatchProxyGenerator.cs
  src/System.Reflection.DispatchProxy/tests/DispatchProxyTests.cs
  src/System.Reflection.DispatchProxy/tests/TestTypes.cs
Labels: area-System.Runtime.InteropServices

#35170 Fix ServerAsyncAuthenticateTest.
  src/System.Net.Security/tests/FunctionalTests/ServerAsyncAuthenticateTest.cs
Labels: area-System.Net.Security, test bug

#35245 Make sure SequencePosition is saved as part of JsonReaderState
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.MultiSegment.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.MultiSegment.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json

#35197 Support building corefx in VS2019
  Documentation/building/windows-instructions.md
  src/Native/Windows/gen-buildsys-win.bat
  src/Native/build-native.cmd
Labels: area-Infrastructure

#35208 Add a shared framework and host for global tools in helix submissions
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/PublishToPackageFeed.proj
  eng/common/darc-init.ps1
  eng/common/internal/Directory.Build.props
  eng/common/internal/Tools.csproj
  eng/common/sdk-task.ps1
  eng/common/templates/job/job.yml
  eng/common/templates/job/publish-build-assets.yml
  eng/common/templates/jobs/jobs.yml
  eng/common/templates/phases/publish-build-assets.yml
  eng/common/templates/steps/telemetry-end.yml
  eng/common/templates/steps/telemetry-start.yml
  eng/common/tools.ps1
  eng/common/tools.sh
  eng/sendtohelix.proj
  global.json
Labels: area-Infrastructure

#35201 enable SendAsync_RequestVersion20_ResponseVersion20IfHttp2Supported on Unix
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http, test-run-core

#34345 Add GenericLoopbackServer for HttpClient testing
  src/Common/tests/System/Net/Http/GenericLoopbackServer.cs
  src/Common/tests/System/Net/Http/Http2Frames.cs
  src/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/Common/tests/System/Net/Http/HuffmanDecoder.cs
  src/Common/tests/System/Net/Http/LoopbackServer.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cookies.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTestBase.cs
  src/System.Net.Http/tests/FunctionalTests/PlatformHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/System.Net.Requests/tests/System.Net.Requests.Tests.csproj
  src/System.Net.WebClient/tests/System.Net.WebClient.Tests.csproj
  src/System.Net.WebSockets.Client/tests/System.Net.WebSockets.Client.Tests.csproj
Labels: area-System.Net.Http, test enhancement

#35082 Add AssemblyLoadContext.GetLoadContext(SPC) test
  src/System.Runtime.Loader/tests/AssemblyLoadContextTest.cs
Labels: area-System.Runtime

#35280 Add simple http Windows auth tests using loopback server
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Authentication.cs
Labels: area-System.Net.Http, test enhancement

#34946 Remove optionaltooling buildtools dependency
  Directory.Build.props
  build.proj
  buildpipeline/pipelinejobs.groovy
  eng/InternalTools.props
  eng/Tools.props
  eng/pipelines/corefx-base.yml
  eng/pipelines/windows.yml
  external/test-runtime/optional.csproj
Labels: area-Infrastructure

#34546 SqlClient Manual Test fixes and documentation update
  src/System.Data.SqlClient/tests/ManualTests/DataCommon/DataTestUtility.cs
  src/System.Data.SqlClient/tests/ManualTests/README.md
  src/System.Data.SqlClient/tests/ManualTests/SQL/ConnectionPoolTest/ConnectionPoolTest.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/ConnectionPoolTest/PoolBlockPeriodTest.netcoreapp.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/DataStreamTest/DataStreamTest.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/MARSTest/MARSTest.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/ParameterTest/ParametersTest.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlCredentialTest/SqlCredentialTest.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/Utf8SupportTest/Utf8SupportTest.cs
  src/System.Data.SqlClient/tests/ManualTests/createUdtTestDb_corefx.sql
Labels: area-System.Data.SqlClient

#34393 SqlClient reduce metadata size
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlBulkCopy.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlConnection.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlDataReader.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlDbColumn.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserHelperClasses.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObject.cs
Labels: area-System.Data.SqlClient

#34789 Adding Alpine 3.8 and 3.9 to the RID graph
  pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  pkg/Microsoft.NETCore.Platforms/runtime.json
  pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
Labels: Servicing-approved

#34260 Fix passing null for credentials in SqlConnectionPoolKey
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlConnection.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlCredentialTest/SqlCredentialTest.cs
Labels: Servicing-approved, area-System.Data.SqlClient

#35304 Fix SqlClient udtTest
  src/System.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UdtBulkCopyTest.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UdtTest2.cs
Labels: area-System.Data.SqlClient

#35210 [release/2.1] Fix BigInteger parsing of substring span (#35185)
  src/Common/src/System/Globalization/FormatProvider.Number.cs
  src/System.Runtime.Numerics/tests/BigInteger/parse.netcoreapp.cs
Labels: Servicing-approved

#33289 Use vfork() improve performance when starting processes.
  src/Native/Unix/Common/pal_config.h.in
  src/Native/Unix/System.Native/pal_process.c
  src/Native/Unix/configure.cmake
Labels: area-Meta

#35324 Remove more Http2Connection/Stream allocations
  src/Common/tests/System/Net/Http/GenericLoopbackServer.cs
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/Headers/KnownHeader.cs
  src/System.Net.Http/src/System/Net/Http/Headers/KnownHeaders.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ArrayBuffer.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/CreditManager.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HPackDecoder.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HPackEncoder.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/IntegerEncoder.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/StaticTable.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/System.Net.Http/tests/UnitTests/Configurations.props
  src/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
Labels: area-System.Net.Http.SocketsHttpHandler

#35373 Updating timeout in `SslStream_SameCertUsedForClientAndServer_Ok` test
  src/System.Net.Security/tests/FunctionalTests/SslStreamCredentialCacheTest.cs
Labels: area-System.Net.Security, test bug

#35398 Remove dead code in IpHlpApi
  src/Common/src/Interop/Windows/IpHlpApi/Interop.ICMP.cs
Labels: area-System.Net

#35397 Remove old TestCategories property
  src/Common/tests/Common.Tests.csproj
  src/System.Configuration.ConfigurationManager/tests/System.Configuration.ConfigurationManager.Tests.csproj
  src/System.Data.DataSetExtensions/tests/System.Data.DataSetExtensions.Tests.csproj
  src/System.Drawing.Common/tests/Performance/System.Drawing.Common.PerformanceTests.csproj
  src/System.Drawing.Primitives/tests/Performance/System.Drawing.Primitives.PerformanceTests.csproj
  src/System.IO.FileSystem/tests/Performance/System.IO.FileSystem.PerformanceTests.csproj
  src/System.IO.FileSystem/tests/System.IO.FileSystem.Tests.csproj
  src/System.IO.IsolatedStorage/tests/System.IO.IsolatedStorage.Tests.csproj
  src/System.IO.Ports/tests/System.IO.Ports.Tests.csproj
  src/System.IO/tests/Performance/System.IO.PerformanceTests.csproj
  src/System.Runtime.WindowsRuntime/tests/System.Runtime.WindowsRuntime.Tests.csproj
Labels: area-Meta

#35401 Use Environment.TickCount instead of DateTime{Offset}.UtcNow in SocketsHttpHandler
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionBase.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionSettings.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#35383 Fix Negotiate/SPNEGO Kerberos to NTLM fallback on Linux
  src/Common/src/Interop/Unix/System.Net.Security.Native/Interop.NetSecurityNative.cs
  src/Common/src/Microsoft/Win32/SafeHandles/GssSafeHandles.cs
  src/Common/src/System/Net/Security/NegotiateStreamPal.Unix.cs
  src/Common/src/System/Net/Security/Unix/SafeDeleteNegoContext.cs
  src/Native/Unix/System.Net.Security.Native/pal_gssapi.c
  src/Native/Unix/System.Net.Security.Native/pal_gssapi.h
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Authentication.cs
Labels: area-System.Net.Http.SocketsHttpHandler, os-linux

#35416 Make optional tools restore opt-in
  eng/Tools.props
Labels: area-Infrastructure

#35423 Improve HTTP2 connection diagnostics in SocketsHttpHandler
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
Labels: area-System.Net.Http.SocketsHttpHandler, enhancement

#35426 Make Http2Connection.SendFrameAsync return ValueTask
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#35428 Disallow dangerous Unicode decompositions
  src/System.Private.Uri/src/System/DomainNameHelper.cs
  src/System.Private.Uri/tests/FunctionalTests/IriTest.cs
Labels: area-System.Net

#35415 Reenable UWP CI legs and upgrade to RS5
  eng/pipelines/windows.yml
Labels: area-Infrastructure

#35448 Add net472-b3260 blobs to fix failing netfx CI
  src/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTestData.cs
  src/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTests.cs
  src/System.Runtime.Serialization.Formatters/tests/PlatformExtensions.cs
  src/System.Runtime.Serialization.Formatters/tests/TargetFrameworkMoniker.cs
Labels: area-System.Runtime

#35432 defer sending WINDOW_UDPATE frames until a minimum threshold has been met
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#35453 Stop blocking thread pool threads in VirtualNetwork-based tests
  src/Common/tests/System/Net/VirtualNetwork/VirtualNetwork.cs
  src/Common/tests/System/Net/VirtualNetwork/VirtualNetworkStream.cs
  src/Common/tests/Tests/System/Net/VirtualNetworkTest.cs
  src/System.Net.Security/tests/FunctionalTests/NotifyReadVirtualNetworkStream.cs
Labels: area-System.Net

#35411 Simplify ConnectHelper.ConnectAsync to just return Stream
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ExposedSocketNetworkStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#35463 Factor IPAddress.Loopback.MapToIPv6() into IPAddress.IsLooback
  src/System.Net.Primitives/src/System/Net/IPAddress.cs
  src/System.Net.Primitives/tests/FunctionalTests/IPAddressTest.cs
Labels: area-System.Net

#35467 Update intellisense files for S.Mem, S.T.Json, S.Runtime based on 02-14-2019 doc build.
  eng/Packaging.props
Labels: documentation

#35468 don't dispose the HTTP2 connection writer lock, to avoid race
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#34385 Add test targets to build script
  Directory.Build.props
  Documentation/architecture/net-core-applications.md
  Documentation/building/advanced-inner-loop-testing.md
  Documentation/building/code-coverage.md
  Documentation/building/cross-building.md
  Documentation/building/unix-instructions.md
  Documentation/building/windows-instructions.md
  Documentation/debugging/debugging-packages.md
  Documentation/debugging/windows-instructions.md
  Documentation/project-docs/benchmarking.md
  Documentation/project-docs/consumes-api.md
  Documentation/project-docs/developer-guide.md
  Documentation/project-docs/oss-signing.md
  Documentation/project-docs/performance-tests.md
  Documentation/project-docs/project-nuget-dependencies.md
  Documentation/project-docs/standard-platform.md
  Documentation/project-docs/writing-tests.md
  build.proj
  dir.traversal.targets
  eng/Build.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/build.ps1
  eng/build.sh
  eng/common/darc-init.ps1
  eng/common/darc-init.sh
  eng/common/templates/job/job.yml
  eng/pipelines/corefx-base.yml
  eng/pipelines/helix.yml
  eng/pipelines/linux.yml
  eng/pipelines/windows.yml
  external/test-runtime/XUnit.Runtime.depproj
  global.json
  pkg/test/testPackages.proj
  src/Common/tests/Scripts/Tools/ParallelTestExecution.ps1
  src/CoreFx.Private.TestUtilities/src/CoreFx.Private.TestUtilities.csproj
  src/CoreFx.Private.TestUtilities/src/System/PlatformApis.Unix.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.Unix.cs
  src/Native/build-native.proj
  src/System.Diagnostics.FileVersionInfo/tests/System.Diagnostics.FileVersionInfo.Tests/System.Diagnostics.FileVersionInfo.Tests.csproj
  src/System.Runtime.Loader/tests/DefaultContext/System.Runtime.Loader.DefaultContext.Tests.csproj
  src/tests.builds
Labels: area-Infrastructure

#35494 Disable two Socket.Begin/EndSendFile tests
  src/System.Net.Sockets/tests/FunctionalTests/ExecutionContextFlowTest.cs
  src/System.Net.Sockets/tests/FunctionalTests/SendFile.cs
Labels: area-System.Net.Sockets

#35506 fix ping TTL option for OSX
  src/Common/src/System/Net/NetworkInformation/UnixCommandLinePing.cs
Labels: area-System.Net, bug, os-mac-os-x

#35485 add StreamState and rework HTTP2 stream state handling
  src/Common/tests/System/Net/Http/Http2Frames.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#35492 Use a pooled buffer in BrotliStream
  src/Common/tests/System/IO/Compression/CompressionStreamUnitTestBase.cs
  src/System.IO.Compression.Brotli/src/System/IO/Compression/BrotliStream.cs
  src/System.IO.Compression.Brotli/tests/CompressionStreamUnitTests.Brotli.cs
Labels: area-System.IO.Compression

#33974 Fix bug: Process.OutputDataReceived not firing
  src/System.Diagnostics.Process/src/System/Diagnostics/AsyncStreamReader.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.cs
  src/System.Diagnostics.Process/tests/ProcessStreamReadTests.cs
  src/System.Diagnostics.Process/tests/ProcessTestBase.cs
Labels: area-System.Diagnostics.Process

#35523 Avoid some 1st-chance exceptions on Linux in GetAllNetworkInterfaces
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/StringParsingHelpers.Addresses.cs
Labels: area-System.Net

#35367 Add support for OCSP on Linux, overhaul X509Chain processing
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.ASN1.Nid.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Crypto.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Encode.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OCSP.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.X509.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.X509Stack.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.X509StoreCtx.cs
  src/Common/src/Microsoft/Win32/SafeHandles/Asn1SafeHandles.Unix.cs
  src/Common/src/System/Security/Cryptography/Oids.cs
  src/Native/Unix/System.Security.Cryptography.Native/CMakeLists.txt
  src/Native/Unix/System.Security.Cryptography.Native/apibridge.c
  src/Native/Unix/System.Security.Cryptography.Native/apibridge.h
  src/Native/Unix/System.Security.Cryptography.Native/openssl.c
  src/Native/Unix/System.Security.Cryptography.Native/openssl.h
  src/Native/Unix/System.Security.Cryptography.Native/openssl_1_0_structs.h
  src/Native/Unix/System.Security.Cryptography.Native/opensslshim.h
  src/Native/Unix/System.Security.Cryptography.Native/pal_asn1.c
  src/Native/Unix/System.Security.Cryptography.Native/pal_asn1.h
  src/Native/Unix/System.Security.Cryptography.Native/pal_ocsp.c
  src/Native/Unix/System.Security.Cryptography.Native/pal_ocsp.h
  src/Native/Unix/System.Security.Cryptography.Native/pal_x509.c
  src/Native/Unix/System.Security.Cryptography.Native/pal_x509.h
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlHandler.SslProvider.Linux.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CertificateAssetDownloader.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/ChainPal.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CollectionBackedStoreProvider.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CrlCache.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/DirectoryBasedStoreProvider.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslX509CertificateReader.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslX509ChainProcessor.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/StorePal.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/X509Persistence.cs
  src/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/X509Store.cs
  src/System.Security.Cryptography.X509Certificates/tests/ChainTests.cs
Labels: area-System.Security

#35526 Make System.Runtime.CompilerServices.Unsafe inbox
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  pkg/test/frameworkSettings/netcoreapp3.0/settings.targets
  src/Common/src/CoreLib/System/Text/Rune.cs
  src/System.Runtime.CompilerServices.Unsafe/Directory.Build.props
  src/System.Runtime.CompilerServices.Unsafe/pkg/System.Runtime.CompilerServices.Unsafe.pkgproj
  src/System.Runtime.Serialization.Formatters/src/System.Runtime.Serialization.Formatters.csproj
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/BinaryFormatterWriter.cs
  src/System.Runtime/ref/System.Runtime.cs
  src/System.Runtime/tests/System/Text/RuneTests.netcoreapp.cs
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.cs
Labels: area-System.Runtime.CompilerServices

#35534 Dead Code Deletions in System.IO.Compression
  src/System.IO.Compression/src/Resources/Strings.resx
Labels: area-System.IO.Compression

#35522 Remove Task{CompletionSource} allocations from Http2Stream
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#35575 disable AllSubscriberStress test on ARM64
  src/System.Diagnostics.DiagnosticSource/tests/DiagnosticSourceTests.cs
Labels: arch-arm64, os-linux

#35503 Add doc comments to JsonDocument (and friends)
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.DbRow.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.Parse.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.TryGetProperty.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.ArrayEnumerator.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.ObjectEnumerator.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonProperty.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonValueType.cs
Labels: area-System.Text.Json

#35574 improve Ssl3 detection
  src/Common/tests/System/Net/SslProtocolSupport.cs
  src/CoreFx.Private.TestUtilities/ref/CoreFx.Private.TestUtilities.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.Unix.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.Windows.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.SslProtocols.cs
Labels: area-System.Net.Security

#35531 improve detection for ReadOnly_FileSystemHelper
  src/CoreFx.Private.TestUtilities/ref/CoreFx.Private.TestUtilities.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.Unix.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.Windows.cs
  src/System.IO.FileSystem/tests/Directory/Delete.cs
  src/System.IO.FileSystem/tests/File/Delete.cs
Labels: os-linux

#35581 collect system info if IPv6 loopback fails to resolve
  src/System.Net.NameResolution/tests/PalTests/NameResolutionPalTests.cs
Labels: area-System.Net, test enhancement

#35604 Darc update from build '20190226.3'
  dir.traversal.targets
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/build.ps1
  eng/common/build.sh
  eng/common/tools.ps1
  eng/common/tools.sh
  global.json
  src/tests.builds
Labels: area-Infrastructure

#35554 Update the IBufferWriter contract definition documentation to be clearer
  src/System.Memory/src/System/Buffers/IBufferWriter.cs
Labels: area-System.Memory, documentation

#35605 enable GetAsync_AllowedSSLVersion_Succeeds for SocketHttpHandler
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.SslProtocols.cs
Labels: area-System.Net.Http.SocketsHttpHandler, test bug

#35627 pul in updated Alpine39 image
  eng/pipelines/linux.yml
Labels: os-linux

#35631 update container name
  eng/pipelines/linux.yml
Labels: area-Infrastructure

#35634 Update SqlClient Area Owners
  Documentation/project-docs/issue-guide.md
Labels: documentation

#35597 Fix advance for single length delimiter
  src/System.Memory/src/System/Buffers/SequenceReader.Search.cs
  src/System.Memory/tests/SequenceReader/ReadTo.cs
Labels: area-System.Memory

#35639 pull updated Alpine3.9 image one more time
  eng/pipelines/linux.yml
Labels: area-Infrastructure

#35310 Avoid re-scanning the whole input ROSequence when getting position in Utf8JsonReader
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.MultiSegment.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.MultiSegment.cs
Labels: area-System.Text.Json

#35577 Update LicenseInterop API
  src/System.ComponentModel.TypeConverter/src/ILLinkTrim.xml
  src/System.ComponentModel.TypeConverter/src/System/ComponentModel/LicenseManager.LicenseInteropHelper.cs
Labels: area-System.ComponentModel

#35641 Fix the SslStream order of intermediate certificates with long chains
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Ssl.cs
Labels: area-System.Net.Security, os-linux

#35657 pull in Alpine image with LANG fix
  eng/pipelines/linux.yml
Labels: area-Infrastructure

#35628 Allow single hyphen arguments in bash build
  clean.cmd
  clean.sh
  eng/Version.Details.xml
  eng/Versions.props
  eng/build.ps1
  eng/build.sh
  eng/common/build.ps1
  eng/common/build.sh
  eng/pipelines/corefx-base.yml
  global.json
Labels: area-Infrastructure
