Repository dotnet/corefx, pull requests merged in 2019-09, with the labels that each got.

#40735 Simplify BitArray enumerator
  src/System.Collections/src/System/Collections/BitArray.cs
Labels: area-System.Collections

#40701 Create pull-request-policy.md
  Documentation/project-docs/pull-request-policy.md
Labels: documentation

#40742 Disable TimerElapsedSignaled test
  src/Microsoft.Win32.SystemEvents/tests/SystemEvents.CreateTimer.cs
Labels: area-Microsoft.Win32

#40746 Delete duplicate line after LINQ nullable changes
  src/System.Linq/src/System/Linq/Lookup.cs
Labels: area-System.Linq

#40743 Retry eventlog deletion in tests on all platforms
  src/System.Diagnostics.EventLog/tests/EventLogEntryCollectionTests.cs
  src/System.Diagnostics.EventLog/tests/EventLogTests/EventLogEntryWrittenTest.cs
  src/System.Diagnostics.EventLog/tests/EventLogTests/EventLogSourceCreationTests.cs
  src/System.Diagnostics.EventLog/tests/EventLogTests/EventLogTests.cs
  src/System.Diagnostics.EventLog/tests/EventLogTests/EventLogWriteEntryTests.cs
  src/System.Diagnostics.EventLog/tests/EventLogTraceListenerTests.cs
  src/System.Diagnostics.EventLog/tests/Helpers.cs
  src/System.Diagnostics.EventLog/tests/System/Diagnostics/Reader/EventLogSessionTests.cs
  src/System.Diagnostics.EventLog/tests/System/Diagnostics/Reader/EventLogWatcherTests.cs
Labels: area-System.Diagnostics

#40754 Disable one flaky PrintPage test
  src/System.Drawing.Common/tests/Printing/PrintDocumentTests.cs
Labels: area-System.Drawing

#40757 Consolidate / cleanup disposal checks in System.Net.Sockets
  src/System.Net.Sockets/src/System/Net/Sockets/BaseOverlappedAsyncResult.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/NetworkStream.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.Unix.cs
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Unix.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.cs
  src/System.Net.Sockets/src/System/Net/Sockets/TCPClient.cs
  src/System.Net.Sockets/src/System/Net/Sockets/UDPClient.cs
Labels: area-System.Net.Sockets

#40760 Disable RsaDecryptPkcs1LeadingZero test failing on some Windows
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RSA/EncryptDecrypt.cs
Labels: area-System.Security

#40768 Disable a couple S.S.Cryptogrpahy.Algorithms tests deterministically failing locally
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RSA/RSAKeyExchangeFormatter.cs
Labels: area-System.Security

#40769 Fix regression in TCPClient behavior when Disposed/Client set to null
  src/System.Net.Sockets/src/System/Net/Sockets/TCPClient.cs
Labels: area-System.Net.Sockets

#40715 Pass a CancellationToken in a few more places
  src/Common/src/System/Net/WebSockets/ManagedWebSocket.cs
  src/System.Net.Http/src/System/Net/Http/MessageProcessingHandler.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/System.Runtime.Extensions/src/System/IO/BufferedStream.cs
  src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/CryptoStream.cs
Labels: area-Meta

#40772 Add the DebuggableAttribute to System.Runtime.CompilerServices.Unsafe.
  src/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.ilproj
Labels: area-System.Runtime.CompilerServices

#40778 Update analyzer versions
  eng/Analyzers.props
  src/Common/src/CoreLib/CodeAnalysis.ruleset
Labels: area-Infrastructure

#40783 Revert "set _requestQueueBoundHandle to null after disposing"
  src/System.Net.HttpListener/src/System/Net/Windows/HttpListener.Windows.cs
  src/System.Net.HttpListener/tests/SimpleHttpTests.cs
Labels: area-System.Net

#40784 Fix JsonElement.WriteTo handling of escaped property names
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/System.Text.Json/tests/JsonElementWriteTests.cs
Labels: area-System.Text.Json

#40785 surface _abortException for Http2_DataSentBeforeServerPreface_ProtocolError
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
Labels: area-System.Net.Http

#40723 replace CRLF with Environment.NewLine where appropriate
  src/System.Net.Http/src/System/Net/Http/Headers/HeaderUtilities.cs
  src/System.Net.Http/src/System/Net/Http/Headers/HttpHeaders.cs
  src/System.Net.Http/src/System/Net/Http/HttpRequestMessage.cs
  src/System.Net.Http/src/System/Net/Http/HttpResponseMessage.cs
  src/System.Net.Http/tests/FunctionalTests/HttpRequestMessageTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpResponseMessageTest.cs
  src/System.Net.Http/tests/UnitTests/Headers/HttpHeaderValueCollectionTest.cs
  src/System.Net.Http/tests/UnitTests/Headers/HttpHeadersTest.cs
  src/System.Net.Http/tests/UnitTests/Headers/HttpRequestHeadersTest.cs
Labels: area-System.Net.Http

#40777 HttpHandlerDiagnosticListener did not send DiagnosticSource Stop event on netfx in W3C mode
  src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/HttpHandlerDiagnosticListener.cs
  src/System.Diagnostics.DiagnosticSource/tests/HttpHandlerDiagnosticListenerTests.cs
Labels: area-System.Diagnostics.Tracing

#40794 Fix several recently added StyleCop tuple rules
  src/Common/src/CoreLib/CodeAnalysis.ruleset
  src/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/AssociatedMetadataTypeTypeDescriptor.cs
  src/System.Linq.Queryable/src/System/Linq/CachedReflection.cs
  src/System.Linq/src/System/Linq/Zip.cs
  src/System.Private.Xml/src/System/Xml/Core/XmlTextReaderImplAsync.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/PkcsHelpers.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslX509ChainProcessor.cs
Labels: area-System.Runtime

#40775 Disable XML crypto test failing on Windows 10
  src/System.Security.Cryptography.Xml/tests/Samples/EncryptingDecryptingAsymmetric.cs
Labels: area-System.Security

#40792 Fix the max token size threshold to correctly compute to 125MB for Base64 bytes.
  src/System.Text.Json/src/System/Text/Json/JsonConstants.cs
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json

#40767 Move wildcard bind in Socket.ConnectAsync to be Windows-only
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
Labels: area-System.Net.Sockets

#40804 Disable FileSystemWatcher_File_Create_ForceLoopRestart test
  src/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.MultipleWatchers.cs
Labels: area-System.IO

#40808 Delete Box.cs from System.Threading.Tasks.Parallel
  src/System.Threading.Tasks.Parallel/src/System.Threading.Tasks.Parallel.csproj
  src/System.Threading.Tasks.Parallel/src/System/Threading/Tasks/Box.cs
  src/System.Threading.Tasks.Parallel/src/System/Threading/Tasks/ParallelRangeManager.cs
Labels: area-System.Threading

#40793 Add round-trip test to JsonSerializer with overflow that needs to be escaped.
  src/System.Text.Json/tests/Serialization/ExtensionDataTests.cs
  src/System.Text.Json/tests/Serialization/WriteValueTests.cs
Labels: area-System.Text.Json, test enhancement

#39019 fix more tests to work with http2
  src/Common/tests/System/Net/Http/GenericLoopbackServer.cs
  src/Common/tests/System/Net/Http/Http2LoopbackConnection.cs
  src/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/Common/tests/System/Net/Http/LoopbackServer.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cancellation.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Headers.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.MaxResponseHeadersLength.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http

#40732 SqlClient fix managed encryption connection failure
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SslOverTdsStream.cs
Labels: area-System.Data.SqlClient

#40821 Reduce number of PFX loads in System.Net tests
  src/Common/tests/System/Net/Configuration.Certificates.cs
  src/System.Net.Security/tests/FunctionalTests/CertificateValidationClientServer.cs
Labels: area-System.Net

#40796 [release/3.0] Fix the max token size threshold to correctly compute to 125MB for Base64 bytes.
  src/System.Text.Json/src/System/Text/Json/JsonConstants.cs
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json, ask-mode

#40789 [release/3.0] Fix JsonElement.WriteTo handling of escaped property names
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/System.Text.Json/tests/JsonElementWriteTests.cs
Labels: area-System.Text.Json, ask-mode

#40082 Support PAC scripts that return multiple proxies
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinInetProxyHelper.cs
  src/System.Net.Http.WinHttpHandler/tests/UnitTests/System.Net.Http.WinHttpHandler.Unit.Tests.csproj
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/HttpRequestException.cs
  src/System.Net.Http/src/System/Net/Http/RequestRetryType.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/FailedProxyCache.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionBase.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPoolManager.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpWindowsProxy.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/IMultiWebProxy.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/MultiProxy.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Proxy.cs
  src/System.Net.Http/tests/UnitTests/HttpWindowsProxyTest.cs
  src/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
Labels: area-System.Net.Http

#40822 Match src param name of BrotliEncoder.GetMaxCompressedLength to ref param name
  src/System.IO.Compression.Brotli/src/System/IO/Compression/enc/BrotliEncoder.cs
  src/System.IO.Compression.Brotli/tests/BrotliEncoderTests.cs
Labels: area-System.IO.Compression

#40787 Use options.Encoder when serializing dictionary keys and property names
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterKeyValuePair.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleEnumerable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStack.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStackFrame.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
  src/System.Text.Json/tests/Serialization/ExceptionTests.cs
  src/System.Text.Json/tests/Serialization/PropertyNameTests.cs
Labels: area-System.Text.Json

#40501 Raise JsonException when PolicyProperty is null
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/tests/Serialization/PolymorphicTests.cs
Labels: area-System.Text.Json

#40841 Update package branding
  eng/Versions.props
Labels: area-Infrastructure

#40837 Fix TypeConverter for IComponent
  src/System.ComponentModel.TypeConverter/src/System/ComponentModel/ReflectTypeDescriptionProvider.cs
Labels: area-System.ComponentModel

#40780 Update Stable Version info on package index
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
Labels: area-Infrastructure

#40825 [release/3.0] SqlClient fix for managed encryption connection failure
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SslOverTdsStream.cs
Labels: area-System.Data.SqlClient, ask-mode

#40839 Allow NetworkStream.WriteAsync calls to be canceled asynchronously
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.Tasks.cs
  src/System.Net.Sockets/tests/FunctionalTests/NetworkStreamTest.netcoreapp.cs
Labels: area-System.Net.Sockets

#40854 Address misc non-functional nits in MetadataLoadContext
  src/System.Reflection.MetadataLoadContext/src/System/Reflection/TypeLoading/General/Ecma/EcmaPinnedTypeProvider.cs
  src/System.Reflection.MetadataLoadContext/tests/src/Tests/TypeInfoFromProjectN/TypeInfo_IsAssignableFromTests.cs
Labels: area-System.Reflection

#40849 update branding of rc1 to rc2 for release 3.0 branch
  eng/Versions.props
Labels: area-Infrastructure

#40858 update SendAsync_ConcurentSendReceive_Ok to use DuplexContent
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http, test enhancement

#40840 [release/3.0] Allow NetworkStream.WriteAsync calls to be canceled asynchronously
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.Tasks.cs
  src/System.Net.Sockets/tests/FunctionalTests/NetworkStreamTest.netcoreapp.cs
Labels: area-System.Net.Sockets, ask-mode

#40863 use type for Http2LoopbackServer.CreateServer
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http

#40886 Add license header to S.R.CS.Unsafe
  src/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.il
Labels: area-System.Runtime.CompilerServices

#40867 Fix some low-hanging fruit boxing in JsonSerializer
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStackFrame.cs
Labels: area-System.Text.Json, tenet-performance

#40875 Disable two networking tests on UAP
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cancellation.cs
Labels: area-System.Net.Http, os-windows-uwp

#40719 [Release/3.0] Add harvest validation logic to the all configurations tests
  eng/depProj.targets
  eng/restore/repoRestore.targets
  external/harvestPackages/harvestPackages.depproj
  external/harvestPackages/harvestPackages.props
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  pkg/test/testPackages.proj
Labels: area-Infrastructure, tell-mode

#40894 updating the target framework to 3.1 for Microsoft.Private.CoreFx.NETCoreApp.pkgproj
  pkg/Microsoft.Private.CoreFx.NETCoreApp/Microsoft.Private.CoreFx.NETCoreApp.pkgproj
Labels: area-Infrastructure

#40891 Make "remote" more CultureInfo.CurrentCulture setting tests
  src/System.Globalization/tests/CultureInfo/CultureInfoAsync.cs
Labels: area-System.Globalization

#40876 Disable two flaky EventLog tests
  src/System.Diagnostics.EventLog/tests/EventLogTraceListenerTests.cs
Labels: area-System.Diagnostics

#40887 Remove misleading test condition variable for registry
  src/Microsoft.VisualBasic.Core/tests/InteractionTests.cs
Labels: area-Microsoft.VisualBasic

#40718 Fix Select.Count bug that iterates twice
  src/System.Linq/src/System/Linq/Select.SpeedOpt.cs
  src/System.Linq/tests/EnumerableTests.cs
  src/System.Linq/tests/LifecycleTests.cs
  src/System.Linq/tests/System.Linq.Tests.csproj
  src/System.Linq/tests/UnionTests.cs
Labels: area-System.Linq

#40901 Disable ToolboxBitmatAttribute test in netfx
  src/System.Drawing.Common/tests/ToolboxBitmapAttributeTests.cs
Labels: area-System.Drawing

#40903 Disable SDL validation
  .azure-ci.yml
Labels: area-Infrastructure

#40906 Remove Redundant dependency of microsoft.netcoreapp.platforms
  pkg/frameworkPackage.targets
Labels: area-Meta

#40907 Remove Redundant dependency of microsoft.netcoreapp.platforms
  pkg/frameworkPackage.targets
Labels: area-Meta

#40910 Add missing dummy primitive to ReadOnlySequence<T>.Enumerator
  src/System.Memory/ref/System.Memory.cs
Labels: area-System.Memory

#40908 [release/3.0] Disable ToolboxBitmatAttribute test in netfx (#40901)
  src/System.Drawing.Common/tests/ToolboxBitmapAttributeTests.cs
Labels: area-System.Drawing, ask-mode

#40913 Increase helix timeout on Windows clients
  eng/pipelines/windows.yml
Labels: area-Infrastructure

#40927 Disable OSX.1013.Amd64.Open in CI
  eng/pipelines/macos.yml
Labels: area-Infrastructure

#38945 Add more TypeConverter tests
  src/System.ComponentModel.TypeConverter/src/System/ComponentModel/DateTimeConverter.cs
  src/System.ComponentModel.TypeConverter/src/System/ComponentModel/ReferenceConverter.cs
  src/System.ComponentModel.TypeConverter/src/System/ComponentModel/TimeSpanConverter.cs
  src/System.ComponentModel.TypeConverter/tests/DateTimeConverterTests.cs
  src/System.ComponentModel.TypeConverter/tests/GuidConverterTests.cs
  src/System.ComponentModel.TypeConverter/tests/ReferenceConverterTests.cs
  src/System.ComponentModel.TypeConverter/tests/StringConverterTests.cs
  src/System.ComponentModel.TypeConverter/tests/TimeSpanConverterTests.cs
  src/System.ComponentModel.TypeConverter/tests/TypeConverterTestBase.cs
Labels: area-System.ComponentModel

#40019 Add ComVisible attributes to drawing primitives
  src/System.Drawing.Primitives/src/System/Drawing/Point.cs
  src/System.Drawing.Primitives/src/System/Drawing/PointF.cs
  src/System.Drawing.Primitives/src/System/Drawing/Rectangle.cs
  src/System.Drawing.Primitives/src/System/Drawing/RectangleF.cs
  src/System.Drawing.Primitives/src/System/Drawing/Size.cs
  src/System.Drawing.Primitives/src/System/Drawing/SizeF.cs
Labels: * NO MERGE *, area-System.Drawing

#38938 Add TypeProvider tests and fix some NREs in the product code
  eng/Versions.props
  src/System.ComponentModel.TypeConverter/src/System/ComponentModel/TypeDescriptionProvider.cs
  src/System.ComponentModel.TypeConverter/src/System/ComponentModel/TypeDescriptor.cs
  src/System.ComponentModel.TypeConverter/tests/CustomTypeDescriptorTests.cs
  src/System.ComponentModel.TypeConverter/tests/Design/DesignerVerbTests.cs
  src/System.ComponentModel.TypeConverter/tests/Design/MenuCommandTests.cs
  src/System.ComponentModel.TypeConverter/tests/System.ComponentModel.TypeConverter.Tests.csproj
  src/System.ComponentModel.TypeConverter/tests/TypeDescriptionProviderTests.cs
  src/System.ComponentModel.TypeConverter/tests/TypeDescriptorTests.cs
Labels: area-System.ComponentModel

#40943 fix of a minor typo in System.Threading.Channels.ChannelReader docs
  src/System.Threading.Channels/src/System/Threading/Channels/ChannelReader.cs
Labels: area-System.Threading.Channels

#40946 Mark System.Data.SqlClient as archived component
  Documentation/project-docs/issue-guide.md
Labels: area-System.Data.SqlClient

#40872 [release/3.0] Add missing IAsyncDisposable interfaces to System.Data
  src/System.Data.Common/ref/System.Data.Common.cs
  src/System.Data.Common/src/System/Data/Common/DbCommand.cs
  src/System.Data.Common/src/System/Data/Common/DbConnection.cs
  src/System.Data.Common/src/System/Data/Common/DbDataReader.cs
  src/System.Data.Common/src/System/Data/Common/DbTransaction.cs
  src/shims/ApiCompatBaseline.netcoreapp.netstandardOnly.txt
  src/shims/ApiCompatBaseline.uap.netstandardOnly.txt
Labels: area-System.Data, ask-mode

#40935 Replace HashHelpers.Combine with HashCode.Combine in netcoreapp projects
  src/System.Drawing.Primitives/src/System.Drawing.Primitives.csproj
  src/System.Drawing.Primitives/src/System/Drawing/Color.cs
  src/System.Drawing.Primitives/src/System/Drawing/Point.cs
  src/System.Drawing.Primitives/src/System/Drawing/PointF.cs
  src/System.Drawing.Primitives/src/System/Drawing/Rectangle.cs
  src/System.Drawing.Primitives/src/System/Drawing/RectangleF.cs
  src/System.Drawing.Primitives/src/System/Drawing/Size.cs
  src/System.Drawing.Primitives/src/System/Drawing/SizeF.cs
  src/System.Memory/src/System.Memory.csproj
  src/System.Memory/src/System/SequencePosition.cs
  src/System.Numerics.Vectors/src/System.Numerics.Vectors.csproj
  src/System.Numerics.Vectors/src/System/Numerics/Vector2.cs
  src/System.Numerics.Vectors/src/System/Numerics/Vector3.cs
  src/System.Numerics.Vectors/src/System/Numerics/Vector4.cs
  src/System.Numerics.Vectors/tests/GenericVectorTests.cs
  src/System.Numerics.Vectors/tests/GenericVectorTests.tt
Labels: area-Meta

#40938 Use ThrowHelper in Utf8JsonReader.GetGuid so that the deserializer can catch the exception and re-throw JsonException.
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.cs
Labels: area-System.Text.Json

#40944 Allow more of ConsolePal to be linked away
  src/System.Console/src/System/ConsolePal.Windows.cs
Labels: area-System.Console

#40673 Writable JSON API changes
  src/System.Text.Json/docs/writable_json_dom_spec.md
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.ArrayEnumerator.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.ObjectEnumerator.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonArray.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonArrayEnumerator.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonBoolean.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonNode.Traversal.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonNode.TraversalHelpers.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonNode.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonNull.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonNumber.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonObject.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonObjectEnumerator.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonObjectProperty.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonString.cs
  src/System.Text.Json/tests/JsonArrayTests.cs
  src/System.Text.Json/tests/JsonBooleanTests.cs
  src/System.Text.Json/tests/JsonElementWithNodeParentTests.cs
  src/System.Text.Json/tests/JsonElementWriteTests.cs
  src/System.Text.Json/tests/JsonNode.AsJsonElementTests.cs
  src/System.Text.Json/tests/JsonNode.CloneTests.cs
  src/System.Text.Json/tests/JsonNode.TraversalTests.cs
  src/System.Text.Json/tests/JsonNodeCloneTests.cs
  src/System.Text.Json/tests/JsonNodeParseTests.cs
  src/System.Text.Json/tests/JsonNodeTestData.cs
  src/System.Text.Json/tests/JsonNullTests.cs
  src/System.Text.Json/tests/JsonNumberTests.cs
  src/System.Text.Json/tests/JsonObjectTests.cs
  src/System.Text.Json/tests/JsonStringTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#40889 Minor deserialization perf improvements for collections
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultDerivedDictionaryConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultDerivedEnumerableConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultICollectionConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultIDictionaryConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultImmutableDictionaryConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultImmutableEnumerableConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullableContravariant.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStack.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
Labels: area-System.Text.Json, tenet-performance

#39585 Add CodeDom.CodeValidator tests and fix some bugs
  src/Common/src/System/CSharpHelpers.cs
  src/Common/tests/System/Runtime/Serialization/Formatters/BinaryFormatterHelpers.cs
  src/System.CodeDom/src/System/CodeDom/Compiler/CodeValidator.cs
  src/System.CodeDom/tests/System.CodeDom.Tests.csproj
  src/System.CodeDom/tests/System/CodeDom/Compiler/CodeDomProviderTests.cs
  src/System.CodeDom/tests/System/CodeDom/Compiler/CodeValidatorTests.cs
Labels: area-System.CodeDom

#40883 [release/3.0] Fix TypeConverter for IComponent (#40837)
  src/System.ComponentModel.TypeConverter/src/System/ComponentModel/ReflectTypeDescriptionProvider.cs
Labels: area-System.ComponentModel, ask-mode

#40963 .NET Core 3.0 Prev9 IntelliSense nupkg version bump
  eng/Versions.props
Labels: auto-merge, documentation

#40965 .NET Core 3.0 Prev9 Intellisense nupkg version bump
  eng/Versions.props
Labels: auto-merge, documentation, tell-mode

#40959 Add test for IComponent typeconverter register in TypeDescriptor
  src/System.ComponentModel.TypeConverter/tests/TypeDescriptorTests.netcoreapp.cs
Labels: area-System.ComponentModel

#40980 Re-enable macOS 10.13 in CI
  eng/pipelines/macos.yml
Labels: area-Infrastructure

#40977 [release/3.0] Add test for IComponent typeconverter register in TypeDescriptor
  src/System.ComponentModel.TypeConverter/tests/TypeDescriptorTests.netcoreapp.cs
Labels: area-System.ComponentModel

#40976 Use slow path for CallInstruction returning enum value
  src/System.Linq.Expressions/src/System/Linq/Expressions/Interpreter/CallInstruction.Generated.cs
  src/System.Linq.Expressions/tests/Call/CallTests.cs
Labels: area-System.Linq.Expressions

#41000 Syncing the folders
  src/Common/src/CoreLib/System/ByReference.cs
  src/Common/src/CoreLib/System/MemoryExtensions.Fast.cs
Labels: area-Infrastructure

#40997 [release/3.0] Avoid MemoryMarshal.Cast when transcoding from UTF-16 to UTF-8 while escaping in Utf8JsonWriter.
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.Escaping.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json, ask-mode

#40996 Avoid MemoryMarshal.Cast when transcoding from UTF-16 to UTF-8 while escaping in Utf8JsonWriter.
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.Escaping.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json

#41012 Given examples and made points explicit
  Documentation/project-docs/dogfooding.md
Labels: area-Infrastructure, documentation

#40896 Fix SerialStream.Flush on Unix
  src/System.IO.Ports/src/System/IO/Ports/SerialStream.Unix.cs
  src/System.IO.Ports/tests/SerialStream/Write_byte_int_int.cs
Labels: area-System.IO

#40797 improve two http2 tests
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http, test bug

#41017 add IsPrefix test cases for Platforms differences
  src/System.Globalization/tests/CompareInfo/CompareInfoTests.IsPrefix.cs
Labels: area-System.Globalization

#41016 add few StartsWith edge case test cases
  src/System.Globalization/tests/CompareInfo/CompareInfoTests.IsPrefix.cs
Labels: area-System.Globalization

#41042 Add example of strong API proposal
  Documentation/project-docs/api-review-process.md
Labels: documentation

#41040 Setting version suffix as non empty for building release package versions
  eng/Packaging.targets
Labels: area-Infrastructure, tell-mode

#41083 improve portability of GetAsync_InvalidUrl_ExpectedExceptionThrown test
  src/Common/tests/System/Net/Configuration.Sockets.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/System.Net.Sockets/tests/FunctionalTests/DnsEndPointTest.cs
Labels: area-System.Net.Http, test enhancement

#41036 Annotate System.Collections.NonGeneric for nullable
  src/System.Collections.NonGeneric/ref/System.Collections.NonGeneric.cs
  src/System.Collections.NonGeneric/ref/System.Collections.NonGeneric.csproj
  src/System.Collections.NonGeneric/src/System.Collections.NonGeneric.csproj
  src/System.Collections.NonGeneric/src/System/Collections/CaseInsensitiveComparer.cs
  src/System.Collections.NonGeneric/src/System/Collections/CaseInsensitiveHashCodeProvider.cs
  src/System.Collections.NonGeneric/src/System/Collections/CollectionBase.cs
  src/System.Collections.NonGeneric/src/System/Collections/DictionaryBase.cs
  src/System.Collections.NonGeneric/src/System/Collections/Queue.cs
  src/System.Collections.NonGeneric/src/System/Collections/ReadOnlyCollectionBase.cs
  src/System.Collections.NonGeneric/src/System/Collections/SortedList.cs
  src/System.Collections.NonGeneric/src/System/Collections/Stack.cs
Labels: area-System.Collections

#41101 Remove unnecessary passing of RegexOptions.None to Regex ctor
  src/System.Private.Xml/src/System/Xml/Schema/FacetChecker.cs
  src/System.Private.Xml/tests/XmlSchema/XmlSchemaValidatorApi/ValidateMisc.cs
Labels: area-System.Text.RegularExpressions

#41109 Disable NoCallback_RevokedCertificate_NoRevocationChecking_Succeeds
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ServerCertificates.cs
Labels: area-System.Net.Http, test bug

#41066 Possible overflow in Partitioner #40201
  src/System.Collections.Concurrent/src/System/Collections/Concurrent/PartitionerStatic.cs
  src/System.Collections.Concurrent/tests/IntRangePartitionerTests.cs
  src/System.Collections.Concurrent/tests/LongRangePartitionerTests.cs
Labels: area-System.Collections

#41138 Updated VS code debugging instructions
  Documentation/debugging/unix-instructions.md
  Documentation/project-docs/developer-guide.md
Labels: area-Infrastructure, documentation

#41123 Update dogfooding.md to include other blob feeds required for dogfooding
  Documentation/project-docs/dogfooding.md
Labels: area-Infrastructure

#41098 Serialization performance improvements
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.String.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStackFrame.cs
Labels: area-System.Text.Json, tenet-performance

#41110 Remove System.Net.Http dependency on System.Text.RegularExpressions
  src/Common/src/System/Text/SimpleRegex.cs
  src/Common/tests/Common.Tests.csproj
  src/Common/tests/Tests/System/Text/SimpleRegexTests.cs
  src/System.Net.Http.WinHttpHandler/tests/UnitTests/System.Net.Http.WinHttpHandler.Unit.Tests.csproj
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpWindowsProxy.cs
  src/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
Labels: area-System.Net.Http

#41008 Fix SqlParameter with xml schema construction
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlParameter.cs
  src/System.Data.SqlClient/tests/FunctionalTests/SqlParameterTest.cs
Labels: area-System.Data.SqlClient

#41143 Remove use of RuntimeReflectionExtensions from Microsoft.CSharp
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/Tree/MethodInfo.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/SymbolTable.cs
Labels: area-Microsoft.CSharp

#41142 Remove use of non-generic Queue/Stack in System.Private.Xml
  src/System.Private.Xml/src/System/Xml/Schema/ContentValidator.cs
  src/System.Private.Xml/src/System/Xml/Schema/SchemaCollectionCompiler.cs
  src/System.Private.Xml/src/System/Xml/Schema/SchemaSetCompiler.cs
  src/System.Private.Xml/src/System/Xml/Schema/XsdBuilder.cs
  src/System.Private.Xml/src/System/Xml/Serialization/CodeGenerator.cs
  src/System.Private.Xml/src/System/Xml/Xsl/XsltOld/Compiler.cs
Labels: area-System.Xml

#40991 Support nullable values in dictionaries
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullableContravariant.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.KeyPolicy.cs
  src/System.Text.Json/tests/Serialization/Null.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Null.WriteTests.cs
  src/System.Text.Json/tests/Serialization/NullableTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#41078 improve socket timout tests
  src/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.Unix.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs
  src/System.Net.Sockets/tests/FunctionalTests/TimeoutTest.cs
Labels: area-System.Net.Sockets

#41155 Remove unused files from System.Net.Http
  src/System.Net.Http/src/System.Net.Http.csproj
Labels: area-System.Net.Http

#41111 Remove System.Net.Requests dependency from System.Private.Xml
  src/System.Private.Xml/src/System.Private.Xml.csproj
  src/System.Private.Xml/src/System/Xml/XmlDownloadManager.cs
  src/System.Private.Xml/src/System/Xml/XmlDownloadManagerAsync.cs
  src/System.Private.Xml/src/System/Xml/XmlUrlResolver.cs
  src/System.Private.Xml/src/System/Xml/XmlUrlResolverAsync.cs
  src/System.Private.Xml/tests/XmlReader/Tests/AsyncReaderLateInitTests.cs
  src/System.Private.Xml/tests/XmlReader/XmlResolver/XmlSystemPathResolverTests.cs
Labels: area-System.Xml, breaking-change

#41124 Add Culture Cloning Test
  src/System.Globalization/tests/CultureInfo/CultureInfoClone.cs
Labels: area-System.Globalization

#41162 Add missing tag to XML comments
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.cs
Labels: area-System.Xml

#41163 Remove some ActiveIssueAttributes
  src/System.Configuration.ConfigurationManager/tests/System/Configuration/ApplicationSettingsBaseTests.cs
Labels: area-System.Configuration

#41160 Annotate System.ComponentModel for nullable
  src/System.ComponentModel/ref/System.ComponentModel.cs
  src/System.ComponentModel/ref/System.ComponentModel.csproj
  src/System.ComponentModel/src/System.ComponentModel.csproj
  src/System.ComponentModel/src/System/IServiceProvider.cs
Labels: area-System.ComponentModel

#40379 Allow X509Chain to replace the root trust list #16364
  src/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.X509Chain.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.X509Stack.cs
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509chain.c
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509chain.h
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Security/src/System.Net.Security.csproj
  src/System.Security.Cryptography.X509Certificates/ref/System.Security.Cryptography.X509Certificates.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.OSX/ChainPal.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/ChainPal.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslX509ChainProcessor.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/CertificatePal.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/ChainPal.BuildChain.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/FindPal.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/Native/Interop.crypt32.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/Native/Primitives.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/Native/SafeHandles.cs
  src/System.Security.Cryptography.X509Certificates/src/Resources/Strings.resx
  src/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/X509Chain.cs
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/X509ChainPolicy.cs
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/X509ChainTrustMode.cs
  src/System.Security.Cryptography.X509Certificates/tests/ChainTests.cs
  src/System.Security.Cryptography.X509Certificates/tests/DynamicChainTests.cs
Labels: area-System.Security

#41169 improve span.StartsWith(span) test coverage
  src/Common/tests/Tests/System/StringTests.cs
Labels: area-System.Memory

#41173 Fix the filename used by the VerifyCrlCache test
  src/System.Security.Cryptography.X509Certificates/tests/X509FilesystemTests.Unix.cs
Labels: area-System.Security

#41180 Fix trimming of System.Net.Ping
  src/System.Net.Ping/src/ILLinkTrim.xml
  src/System.Net.Ping/tests/FunctionalTests/LoggingTest.cs
Labels: area-System.Net

#41191 Fix trimming of System.Net.NetworkInformation
  src/System.Net.NetworkInformation/src/ILLinkTrim.xml
  src/System.Net.NetworkInformation/tests/FunctionalTests/LoggingTest.cs
Labels: area-System.Net

#41161 Nullability annotations for System.Console
  src/Common/src/System/Text/EncodingHelper.Unix.cs
  src/Common/src/System/Text/OSEncoding.Windows.cs
  src/Common/src/System/Text/StringOrCharArray.cs
  src/System.Console/ref/System.Console.cs
  src/System.Console/ref/System.Console.csproj
  src/System.Console/src/System.Console.csproj
  src/System.Console/src/System/Console.cs
  src/System.Console/src/System/ConsoleCancelEventArgs.cs
  src/System.Console/src/System/ConsoleKeyInfo.cs
  src/System.Console/src/System/ConsolePal.Unix.cs
  src/System.Console/src/System/IO/StdInReader.cs
  src/System.Console/src/System/IO/SyncTextReader.cs
  src/System.Console/src/System/TermInfo.cs
Labels: area-System.Console

#40677 invalidate state when directory is created
  src/System.IO.FileSystem/src/System/IO/DirectoryInfo.cs
  src/System.IO.FileSystem/tests/DirectoryInfo/Create.cs
Labels: area-System.IO

#41092 Annotate System.Collections.Specialized for nullable
  src/System.Collections.Specialized/ref/System.Collections.Specialized.cs
  src/System.Collections.Specialized/ref/System.Collections.Specialized.csproj
  src/System.Collections.Specialized/src/System.Collections.Specialized.csproj
  src/System.Collections.Specialized/src/System/Collections/Specialized/BitVector32.cs
  src/System.Collections.Specialized/src/System/Collections/Specialized/HybridDictionary.cs
  src/System.Collections.Specialized/src/System/Collections/Specialized/IOrderedDictionary.cs
  src/System.Collections.Specialized/src/System/Collections/Specialized/ListDictionary.cs
  src/System.Collections.Specialized/src/System/Collections/Specialized/NameObjectCollectionBase.cs
  src/System.Collections.Specialized/src/System/Collections/Specialized/NameValueCollection.cs
  src/System.Collections.Specialized/src/System/Collections/Specialized/OrderedDictionary.cs
  src/System.Collections.Specialized/src/System/Collections/Specialized/StringCollection.cs
  src/System.Collections.Specialized/src/System/Collections/Specialized/StringDictionary.cs
Labels: area-System.Collections

#41030 JsonNode options
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Node/DuplicatePropertyNameHandlingStrategy.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonNode.Traversal.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonNode.TraversalHelpers.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonNodeOptions.cs
  src/System.Text.Json/tests/JsonElementWriteTests.cs
  src/System.Text.Json/tests/JsonNode.TraversalTests.cs
Labels: area-System.Text.Json

#41217 UWP Backport: QueryDirectoryFile requires 64 bit alignment to work on ARM32
  src/Common/src/Interop/Windows/NtDll/Interop.NtQueryDirectoryFile.cs
  src/Common/src/Interop/Windows/kernel32/Interop.GetFileInformationByHandleEx.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Win32.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.WinRT.cs
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Windows.cs
Labels: area-System.IO, os-windows-uwp

#41227 add StartsWith Surrogates test cases
  src/System.Globalization/tests/CompareInfo/CompareInfoTests.IsPrefix.cs
Labels: area-System.Globalization

#41188 Enable nullable annotations for System.Drawing.Primitives
  src/Common/src/System/Drawing/ColorConverterCommon.cs
  src/Common/src/System/Drawing/ColorTable.cs
  src/Common/src/System/Drawing/ColorTranslator.cs
  src/System.Drawing.Primitives/ref/System.Drawing.Primitives.cs
  src/System.Drawing.Primitives/ref/System.Drawing.Primitives.csproj
  src/System.Drawing.Primitives/src/System.Drawing.Primitives.csproj
  src/System.Drawing.Primitives/src/System/Drawing/Color.cs
  src/System.Drawing.Primitives/src/System/Drawing/Point.cs
  src/System.Drawing.Primitives/src/System/Drawing/PointF.cs
  src/System.Drawing.Primitives/src/System/Drawing/Rectangle.cs
  src/System.Drawing.Primitives/src/System/Drawing/RectangleF.cs
  src/System.Drawing.Primitives/src/System/Drawing/Size.cs
  src/System.Drawing.Primitives/src/System/Drawing/SizeF.cs
Labels: area-System.Drawing

#41230 CryptoNative_EvpDigestUpdate count as int32_t instead of size_t
  src/Native/Unix/System.Security.Cryptography.Native/pal_evp.c
  src/Native/Unix/System.Security.Cryptography.Native/pal_evp.h
Labels: area-System.Security

#41211 Remove unused StringExtensions.cs from a couple projects
  src/System.Diagnostics.Process/src/System.Diagnostics.Process.csproj
  src/System.Net.WebSockets.Client/src/System.Net.WebSockets.Client.csproj
Labels: area-System.Runtime

#41229 HttpClientHandler functional test: replace remote server dependency
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.MaxResponseHeadersLength.cs
Labels: area-System.Net.Http, tenet-reliability

#41178 [release/3.1] Fix SqlParameter with xml schema construction
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlParameter.cs
  src/System.Data.SqlClient/tests/FunctionalTests/SqlParameterTest.cs
Labels: area-System.Data.SqlClient

#41210 [release/3.1] Support nullable values in dictionaries
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullableContravariant.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.KeyPolicy.cs
  src/System.Text.Json/tests/Serialization/Null.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Null.WriteTests.cs
  src/System.Text.Json/tests/Serialization/NullableTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#41235 Enable better trimming of derived XmlReader/Writer-derived types
  src/System.Private.Xml/src/System/Xml/Core/XmlReader.cs
  src/System.Private.Xml/src/System/Xml/Core/XmlReaderSettings.cs
  src/System.Private.Xml/src/System/Xml/Core/XmlWriter.cs
  src/System.Private.Xml/src/System/Xml/Core/XmlWriterSettings.cs
  src/System.Private.Xml/src/System/Xml/Xslt/XslCompiledTransform.cs
Labels: area-System.Xml, assembly-size

#41236 Make Add/Remove UnsignedAttribute work with counter signers
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SignerInfo.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SignerInfoCollection.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SubjectIdentifier.cs
  src/System.Security.Cryptography.Pkcs/tests/SignedCms/SignerInfoTests.netcoreapp.cs
Labels: Servicing-consider

#41218 Additional enum tests for System.Linq.Expressions.Interpreter.CallInstruction
  src/System.Linq.Expressions/tests/Call/CallTests.cs
Labels: area-System.Linq.Expressions

#41065 Update branding for Microsoft.Netcore.Platforms 2.1.6
  pkg/Microsoft.NETCore.Platforms/Microsoft.NETCore.Platforms.pkgproj
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
Labels: area-Infrastructure

#41251 Update dotnet-tools.json
  .config/dotnet-tools.json
  NuGet.config
Labels: area-Infrastructure

#41187 Removing microsoft.private.corefx.uap
  Directory.Build.targets
  pkg/Microsoft.Private.CoreFx.UAP/Configurations.props
  pkg/Microsoft.Private.CoreFx.UAP/Microsoft.Private.CoreFx.UAP.builds
  pkg/Microsoft.Private.CoreFx.UAP/Microsoft.Private.CoreFx.UAP.pkgproj
  pkg/Microsoft.Private.CoreFx.UAP/uap.rids.props
  pkg/descriptions.json
Labels: area-Infrastructure

#41184 removing the Micosoft.Private.Corefx.UAP package
  Directory.Build.targets
  pkg/Microsoft.Private.CoreFx.UAP/Configurations.props
  pkg/Microsoft.Private.CoreFx.UAP/Microsoft.Private.CoreFx.UAP.builds
  pkg/Microsoft.Private.CoreFx.UAP/Microsoft.Private.CoreFx.UAP.pkgproj
  pkg/Microsoft.Private.CoreFx.UAP/uap.rids.props
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  pkg/descriptions.json
Labels: area-Infrastructure

#40075 Error out clearly when trying to use COM objects with the DLR.
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/BinderHelper.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/CSharpConvertBinder.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/CSharpGetIndexBinder.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/CSharpGetMemberBinder.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/CSharpInvokeBinder.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/CSharpInvokeMemberBinder.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/CSharpSetIndexBinder.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/CSharpSetMemberBinder.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Errors/ErrorCode.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Errors/ErrorFacts.cs
  src/Microsoft.CSharp/src/Resources/Strings.resx
  src/Microsoft.CSharp/tests/RuntimeBinderTests.cs
Labels: area-Microsoft.CSharp

#41274 Remove some unnecessary string concatenation from CertificatePal.AppendPrivateKeyInfo
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/CertificatePal.cs
Labels: area-System.Security

#41279 Disable UWP pkg publishing to fix official builds
  eng/pipelines/windows.yml
Labels: area-Infrastructure

#41185 Annotate System.ComponentModel.Primitives for nullable
  src/System.ComponentModel.Primitives/ref/System.ComponentModel.Primitives.cs
  src/System.ComponentModel.Primitives/ref/System.ComponentModel.Primitives.csproj
  src/System.ComponentModel.Primitives/src/System.ComponentModel.Primitives.csproj
  src/System.ComponentModel.Primitives/src/System/ComponentModel/BrowsableAttribute.cs
  src/System.ComponentModel.Primitives/src/System/ComponentModel/CategoryAttribute.cs
  src/System.ComponentModel.Primitives/src/System/ComponentModel/Component.cs
  src/System.ComponentModel.Primitives/src/System/ComponentModel/ComponentCollection.cs
  src/System.ComponentModel.Primitives/src/System/ComponentModel/DescriptionAttribute.cs
  src/System.ComponentModel.Primitives/src/System/ComponentModel/DesignOnlyAttribute.cs
  src/System.ComponentModel.Primitives/src/System/ComponentModel/DesignerCategoryAttribute.cs
  src/System.ComponentModel.Primitives/src/System/ComponentModel/DesignerSerializationVisibilityAttribute.cs
  src/System.ComponentModel.Primitives/src/System/ComponentModel/DisplayNameAttribute.cs
  src/System.ComponentModel.Primitives/src/System/ComponentModel/EventHandlerList.cs
  src/System.ComponentModel.Primitives/src/System/ComponentModel/IComponent.cs
  src/System.ComponentModel.Primitives/src/System/ComponentModel/IContainer.cs
  src/System.ComponentModel.Primitives/src/System/ComponentModel/ISite.cs
  src/System.ComponentModel.Primitives/src/System/ComponentModel/ISynchronizeInvoke.cs
  src/System.ComponentModel.Primitives/src/System/ComponentModel/ImmutableObjectAttribute.cs
  src/System.ComponentModel.Primitives/src/System/ComponentModel/InvalidAsynchronousStateException.cs
  src/System.ComponentModel.Primitives/src/System/ComponentModel/InvalidEnumArgumentException.cs
  src/System.ComponentModel.Primitives/src/System/ComponentModel/LocalizableAttribute.cs
  src/System.ComponentModel.Primitives/src/System/ComponentModel/MergablePropertyAttribute.cs
  src/System.ComponentModel.Primitives/src/System/ComponentModel/NotifyParentPropertyAttribute.cs
  src/System.ComponentModel.Primitives/src/System/ComponentModel/ParenthesizePropertyNameAttribute.cs
  src/System.ComponentModel.Primitives/src/System/ComponentModel/ReadOnlyAttribute.cs
  src/System.ComponentModel.Primitives/src/System/ComponentModel/RefreshPropertiesAttribute.cs
  src/System.ComponentModel/ref/System.ComponentModel.cs
Labels: area-System.ComponentModel

#41249 Annotate System.Threading.Tasks.Parallel for nullability
  src/System.Threading.Tasks.Parallel/ref/System.Threading.Tasks.Parallel.cs
  src/System.Threading.Tasks.Parallel/ref/System.Threading.Tasks.Parallel.csproj
  src/System.Threading.Tasks.Parallel/src/System.Threading.Tasks.Parallel.csproj
  src/System.Threading.Tasks.Parallel/src/System/Threading/Tasks/Parallel.cs
  src/System.Threading.Tasks.Parallel/src/System/Threading/Tasks/ParallelRangeManager.cs
  src/System.Threading.Tasks.Parallel/src/System/Threading/Tasks/TaskReplicator.cs
Labels: area-System.Threading

#41265 Add more Unicode validation tests
  src/Common/tests/Data/CaseFolding-12.1.0.txt
  src/Common/tests/Data/PropList-12.1.0.txt
  src/System.Runtime/tests/System.Runtime.Tests.csproj
  src/System.Runtime/tests/System/CharTests.cs
  src/System.Runtime/tests/System/CharTests.netcoreapp.cs
  src/System.Runtime/tests/System/Text/RuneTests.TestData.netcoreapp.cs
  src/System.Runtime/tests/System/Text/RuneTests.netcoreapp.cs
  src/System.Runtime/tests/System/Text/Unicode/UnicodeData.netcoreapp.cs
Labels: area-System.Runtime

#41238 Serializer perf improvements
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System/Text/Json/JsonException.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ClassType.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullableContravariant.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleNull.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandlePropertyName.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.String.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStack.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.cs
Labels: area-System.Text.Json, tenet-performance

#41300 Exploration: Retry STATUS_UNSUCCESSFUL from CNG
  src/Common/src/Internal/Cryptography/CngCommon.SignVerify.cs
  src/Common/src/Interop/Windows/NCrypt/Interop.ErrorCode.cs
  src/Common/src/System/Security/Cryptography/RSACng.EncryptDecrypt.cs
Labels: area-System.Security

#41318 Change dependsOn Parameter when calling post-build tempalte to react …
  .azure-ci.yml
Labels: area-Infrastructure

#41239 Implement FromOid and TryFromOid.
  src/System.Security.Cryptography.Primitives/ref/System.Security.Cryptography.Primitives.cs
  src/System.Security.Cryptography.Primitives/src/Resources/Strings.resx
  src/System.Security.Cryptography.Primitives/src/System.Security.Cryptography.Primitives.csproj
  src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/HashAlgorithmName.cs
  src/System.Security.Cryptography.Primitives/tests/HashAlgorithmNameTests.cs
  src/System.Security.Cryptography.Primitives/tests/System.Security.Cryptography.Primitives.Tests.csproj
Labels: area-System.Security

#40543 improve stability of FileSystemWatcher tests
  src/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.MultipleWatchers.cs
  src/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.unit.cs
  src/System.IO.FileSystem.Watcher/tests/Utility/FileSystemWatcherTest.cs
Labels: area-System.IO, test enhancement

#41190 Fix DeflateStream.CopyTo for concatenated payloads
  src/System.IO.Compression/src/System/IO/Compression/DeflateZLib/DeflateStream.cs
  src/System.IO.Compression/tests/CompressionStreamUnitTests.Gzip.cs
Labels: area-System.IO.Compression

#41328 Add Español Windows 19H1 queue in PRs
  eng/pipelines/windows.yml
Labels: area-Infrastructure

#41341 Set IsShipping only for experimental and IsShippingPackages only for private packages
  Directory.Build.props
Labels: area-Infrastructure

#41355 Add Alpine 3.10 to CI
  eng/pipelines/linux.yml
Labels: area-Infrastructure

#41370 Disable S.N.Security tests on arm64 Windows
  src/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
Labels: area-System.Net.Security
