Repository dotnet/corefx, pull requests merged in 2019-10, with the labels that each got.

#41451 Find zip file end of central directory backwards up to max possible size (resubmit due to build break)
  eng/Versions.props
  src/System.IO.Compression/src/System/IO/Compression/ZipArchive.cs
  src/System.IO.Compression/src/System/IO/Compression/ZipBlocks.cs
  src/System.IO.Compression/src/System/IO/Compression/ZipHelper.cs
  src/System.IO.Compression/tests/ZipArchive/zip_InvalidParametersAndStrangeFiles.cs
Labels: area-System.IO.Compression

#41448 Enable Building of packages in 3.1 branch
  eng/Packaging.props
  eng/Packaging.targets
  external/harvestPackages/harvestPackages.depproj
  pkg/Directory.Build.props
  pkg/baseline/baseline.props
  pkg/baseline/packageBaseline.1.1.json
  src/System.Runtime.CompilerServices.Unsafe/pkg/System.Runtime.CompilerServices.Unsafe.pkgproj
  src/System.Runtime.WindowsRuntime.UI.Xaml/pkg/System.Runtime.WindowsRuntime.UI.Xaml.pkgproj
  src/System.Runtime.WindowsRuntime/pkg/System.Runtime.WindowsRuntime.pkgproj
  src/packages.builds
Labels: area-Infrastructure, tell-mode

#41417 Set IsShipping only for experimental and IsShippingPackages only for private packages
  Directory.Build.props
Labels: Servicing-consider

#41241 Annotate System.Diagnostics.DiagnosticSource for nullable
  src/System.Diagnostics.DiagnosticSource/ref/System.Diagnostics.DiagnosticSource.cs
  src/System.Diagnostics.DiagnosticSource/ref/System.Diagnostics.DiagnosticSource.csproj
  src/System.Diagnostics.DiagnosticSource/ref/System.Diagnostics.DiagnosticSourceActivity.cs
  src/System.Diagnostics.DiagnosticSource/src/System.Diagnostics.DiagnosticSource.csproj
  src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.Current.net46.cs
  src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs
  src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticListener.cs
  src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticSource.cs
  src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticSourceActivity.cs
  src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticSourceEventSource.cs
Labels: area-System.Diagnostics.Tracing

#41479 Disable UWP pkg publishing to fix official builds
  eng/pipelines/windows.yml
Labels: area-Infrastructure

#41480 Removing the platforms package from building
  src/packages.builds
Labels: area-Infrastructure, tell-mode

#41477 Disable Save_SimpleSettings_Ok test in all platforms
  src/System.Configuration.ConfigurationManager/tests/System/Configuration/ApplicationSettingsBaseTests.cs
Labels: area-System.Configuration

#41470 Remove unnecessary dependencies from System.Net.Http
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/HttpRuleParser.cs
Labels: area-System.Net.Http, assembly-size

#41473 freezing the version for the System.IO.Pipes.AccessControl
  src/System.IO.Pipes.AccessControl/ref/System.IO.Pipes.AccessControl.csproj
Labels: area-System.IO

#41087 SmtpClientTest.TestZeroTimeout: FailFast to get CI coredump
  src/System.Net.Mail/tests/Functional/SmtpClientTest.cs
Labels: * NO MERGE *, area-System.Net

#41069 Synchronize Http/2 HPack implementation between CoreFx and ASP.NET Core
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/DynamicTable.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HPackDecoder.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HPackEncoder.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HPackEncodingException.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HeaderField.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/Huffman.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HuffmanDecodingException.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/IntegerDecoder.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/StaticTable.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/StatusCodes.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/IHttpHeadersHandler.cs
  src/System.Net.Http/tests/UnitTests/HPack/HPackDecoderTest.cs
  src/System.Net.Http/tests/UnitTests/HPack/HPackIntegerTest.cs
  src/System.Net.Http/tests/UnitTests/HPack/HPackRoundtripTests.cs
  src/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
Labels: area-System.Net.Http

#38042 Don't display any GUI during test run.
  src/System.Diagnostics.Process/tests/ProcessTests.Unix.cs
Labels: area-System.Diagnostics.Process

#41271 Prevent Setting SmtpClient.UseDefaultCredentials clearing Credentials
  src/System.Net.Mail/src/System/Net/Mail/SmtpClient.cs
  src/System.Net.Mail/tests/Functional/SmtpClientCredentialsTest.cs
  src/System.Net.Mail/tests/Functional/SmtpClientTest.cs
  src/System.Net.Mail/tests/Functional/System.Net.Mail.Functional.Tests.csproj
Labels: area-System.Net

#41486 Fixing the official build
  eng/pipelines/windows.yml
  pkg/test/testPackages.proj
Labels: area-Infrastructure

#41496 [release/3.0] Stabilize packages for 3.0.1
  eng/Versions.props
Labels: area-Infrastructure

#41504 Increasing arm64 timeout on Linux
  eng/pipelines/linux.yml
Labels: area-Infrastructure

#41502 Add Microsoft.NET.Sdk.IL to the repo restore phase
  eng/Tools.props
  eng/Versions.props
Labels: area-Infrastructure

#41495 [System.Drawing.Common] Relax IconTests.CorrectColorDepthExtracted test
  src/System.Drawing.Common/tests/IconTests.cs
Labels: area-System.Drawing

#41521 Porting test fixes from master to release/3.x
  eng/Tools.props
  eng/Versions.props
  eng/pipelines/linux.yml
  src/System.Configuration.ConfigurationManager/tests/System/Configuration/ApplicationSettingsBaseTests.cs
  src/System.Net.Sockets/tests/FunctionalTests/IPPacketInformationTest.cs
Labels: area-Meta

#41513 Update experimental IsShipping and block stable properties
  Directory.Build.props
  pkg/Directory.Build.props
  pkg/baseline/baseline.props
  src/System.Numerics.Tensors/Directory.Build.props
  src/System.Numerics.Tensors/pkg/System.Numerics.Tensors.pkgproj
  src/System.Runtime.Intrinsics.Experimental/Directory.Build.props
  src/System.Utf8String.Experimental/Directory.Build.props
Labels: area-Infrastructure

#41494 [System.Drawing.Common] Fix argument name in exception of Bitmap constructor
  src/System.Drawing.Common/src/System/Drawing/Bitmap.cs
  src/System.Drawing.Common/tests/BitmapTests.cs
Labels: area-System.Drawing

#41506 Update coding-style.md
  Documentation/coding-guidelines/coding-style.md
Labels: area-Infrastructure

#41306 Add CollectionsMarshal ref assemblies
  src/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.csproj
  src/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.Tests.csproj
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/CollectionsMarshalTests.cs
Labels: area-System.Runtime.InteropServices

#36736 Consolidate PrintController code and cleanup some interop
  src/Common/src/Interop/Windows/Kernel32/Interop.GlobalFree.cs
  src/Common/src/Interop/Windows/Kernel32/Interop.GlobalLock.cs
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/System.Drawing.Common/src/System/Drawing/Gdiplus.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/DefaultPrintController.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PageSettings.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PreviewPrintController.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PreviewPrintController.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PreviewPrintController.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PrintController.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PrintController.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PrintController.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PrintDocument.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PrinterSettings.Windows.cs
  src/System.Drawing.Common/tests/Printing/PreviewPrintControllerTests.cs
  src/System.Drawing.Common/tests/Printing/PrintControllerTests.cs
  src/System.Drawing.Common/tests/System.Drawing.Common.Tests.csproj
Labels: area-System.Drawing

#41469 Demonstrate converter for Dictionary<TKey,> where TKey is not String
  src/System.Text.Json/tests/Serialization/CustomConverterTests.DictionaryConverterForIDictionary.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.DictionaryGuidConverter.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.DictionaryInt32StringConverter.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.DictionaryInt32StringKeyValueConverter.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.DictionaryKeyValueConverter.cs
  src/System.Text.Json/tests/Serialization/OptionsTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json, test enhancement

#41511 updating packageindex with stable versions
  eng/restore/runtime/runtime.depproj
  pkg/Directory.Build.props
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/System.Runtime.WindowsRuntime.UI.Xaml/pkg/System.Runtime.WindowsRuntime.UI.Xaml.pkgproj
  src/System.Runtime.WindowsRuntime/pkg/System.Runtime.WindowsRuntime.pkgproj
Labels: area-Infrastructure

#41540 Replace PrintF with Console.WriteLine and cleanups
  src/Common/src/Microsoft/Win32/SafeHandles/SafeX509Handles.Unix.cs
  src/Native/Unix/System.Native/pal_string.c
  src/Native/Unix/System.Native/pal_string.h
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Security/src/System.Net.Security.csproj
  src/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
Labels: area-Meta

#41552 Remove unnecessary System.Linq usage from Microsoft.CSharp
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/RuntimeBinder.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/RuntimeBinderExtensions.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/Binding/Better.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/ExpressionBinder.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/MemberLookup.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/Types/TypeArray.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/Types/TypeManager.cs
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Syntax/NameTable.cs
Labels: area-Microsoft.CSharp, assembly-size

#41523 [release/3.1] Improve JsonSerializer support for derived types (#40654)
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.ObjectModelCollections.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.ObjectModelCollections.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#41554 Remove System.Linq dependency from System.Security.Cryptography.Algorithms
  src/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/AesCcm.Unix.cs
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/AesCcm.Windows.cs
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/AesGcm.Unix.cs
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/AesGcm.Windows.cs
Labels: area-System.Security

#41270 Removing Microsoft.bcl* packages
  eng/restore/binplacePackages/Configurations.props
  eng/restore/binplacePackages/binplacePackages.depproj
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  pkg/descriptions.json
  src/Microsoft.Bcl.AsyncInterfaces/Directory.Build.props
  src/Microsoft.Bcl.AsyncInterfaces/Microsoft.Bcl.AsyncInterfaces.sln
  src/Microsoft.Bcl.AsyncInterfaces/pkg/Microsoft.Bcl.AsyncInterfaces.pkgproj
  src/Microsoft.Bcl.AsyncInterfaces/ref/Configurations.props
  src/Microsoft.Bcl.AsyncInterfaces/ref/Microsoft.Bcl.AsyncInterfaces.Forwards.cs
  src/Microsoft.Bcl.AsyncInterfaces/ref/Microsoft.Bcl.AsyncInterfaces.cs
  src/Microsoft.Bcl.AsyncInterfaces/ref/Microsoft.Bcl.AsyncInterfaces.csproj
  src/Microsoft.Bcl.AsyncInterfaces/src/Configurations.props
  src/Microsoft.Bcl.AsyncInterfaces/src/Microsoft.Bcl.AsyncInterfaces.csproj
  src/Microsoft.Bcl.AsyncInterfaces/src/System/Runtime/CompilerServices/AsyncIteratorMethodBuilder.cs
  src/Microsoft.Bcl.AsyncInterfaces/src/System/Threading/Tasks/Sources/ManualResetValueTaskSourceCore.cs
  src/Microsoft.Bcl.AsyncInterfaces/tests/Configurations.props
  src/Microsoft.Bcl.AsyncInterfaces/tests/Microsoft.Bcl.AsyncInterfaces.Tests.csproj
  src/Microsoft.Bcl.HashCode/Directory.Build.props
  src/Microsoft.Bcl.HashCode/Microsoft.Bcl.HashCode.sln
  src/Microsoft.Bcl.HashCode/pkg/Microsoft.Bcl.HashCode.pkgproj
  src/Microsoft.Bcl.HashCode/ref/Configurations.props
  src/Microsoft.Bcl.HashCode/ref/Microsoft.Bcl.HashCode.Forwards.cs
  src/Microsoft.Bcl.HashCode/ref/Microsoft.Bcl.HashCode.cs
  src/Microsoft.Bcl.HashCode/ref/Microsoft.Bcl.HashCode.csproj
  src/Microsoft.Bcl.HashCode/src/BitOperations.cs
  src/Microsoft.Bcl.HashCode/src/Configurations.props
  src/Microsoft.Bcl.HashCode/src/Interop.GetRandomBytes.cs
  src/Microsoft.Bcl.HashCode/src/Microsoft.Bcl.HashCode.csproj
  src/Microsoft.Bcl.HashCode/src/Resources/Strings.resx
  src/System.Text.Json/pkg/System.Text.Json.pkgproj
  src/System.Text.Json/ref/Configurations.props
  src/System.Text.Json/ref/System.Text.Json.csproj
  src/shims/ApiCompatBaseline.uap.netstandard.txt
Labels: area-Infrastructure

#41569 Replace Stack with Stack<T> in XmlDataLoader
  src/System.Data.Common/src/System/Data/XmlDataLoader.cs
Labels: assembly-size

#41566 Remove System.Linq dependency from System.Net.NetworkInformation
  src/System.Net.NetworkInformation/src/System.Net.NetworkInformation.csproj
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/BsdIPGlobalProperties.cs
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/BsdIPv4GlobalStatistics.cs
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/BsdIpInterfaceProperties.cs
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/BsdNetworkInterface.cs
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/LinuxIPGlobalProperties.cs
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/LinuxNetworkInterface.cs
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/UnixIPInterfaceProperties.cs
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/UnixNetworkInterface.cs
Labels: area-System.Net, assembly-size

#41555 Changing readme to point to the docs in the repo
  README.md
Labels: area-Meta

#41576 Fix HtmlEncode handling of surrogate pairs
  src/System.Runtime.Extensions/src/System/Net/WebUtility.cs
  src/System.Runtime.Extensions/tests/System/Net/WebUtility.cs
Labels: area-System.Net

#41577 Added a test scenario to verify that Nullable<T> is not assignable from T
  src/System.Reflection/tests/TypeInfoTests.cs
Labels: area-System.Reflection

#41589 Updating global.json to pick preview SDKs
  global.json
Labels: area-Infrastructure

#41567 Remove System.Linq dependency from System.Security.Cryptography.Encoding
  src/System.Security.Cryptography.Encoding/src/Internal/Cryptography/OidLookup.OSX.cs
  src/System.Security.Cryptography.Encoding/src/Internal/Cryptography/OidLookup.cs
  src/System.Security.Cryptography.Encoding/src/System.Security.Cryptography.Encoding.csproj
Labels: area-System.Security, assembly-size

#41562 Fix naming of the relevant methods to Deserialize/Serialize in docs
  src/System.Text.Json/docs/SerializerProgrammingModel.md
Labels: area-System.Text.Json, documentation

#41597 Add ConcurrentDictionary.TryRemove(KeyValuePair)
  src/System.Collections.Concurrent/ref/System.Collections.Concurrent.cs
  src/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentDictionary.cs
  src/System.Collections.Concurrent/tests/ConcurrentDictionary/ConcurrentDictionaryTests.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/FailedProxyCache.cs
  src/System.Net.ServicePoint/src/System/Net/ServicePointManager.cs
Labels: area-System.Collections

#41606 Updating corefx prerequisites for latest VS 2019 workloads
  Documentation/building/windows-instructions.md
Labels: documentation

#41607 [release/2.1] Switch to new OSX pool
  buildpipeline/DotNet-CoreFx-Trusted-OSX.json
Labels: area-Infrastructure

#40611 FileSystem.Unix.File.Move uses "rename" in more cases
  src/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.File.Move.cs
  src/System.IO.FileSystem/src/System/IO/FileSystem.Unix.cs
Labels: area-System.IO

#41617 Add missing comma
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
Labels: area-Infrastructure

#41553 Remove unnecessary LINQ usage from System.Text.Json
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Collections/Generic/StackExtensions.netstandard.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonNode.Traversal.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonNode.TraversalHelpers.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonObject.cs
Labels: area-System.Text.Json

#41620 Update infra owners
  Documentation/project-docs/issue-guide.md
Labels: area-Meta

#41604 Ignore ERROR_NOT_FOUND in File.Encrypt test
  src/Common/src/Interop/Windows/Advapi32/Interop.EncryptDecrypt.cs
  src/Microsoft.IO.Redist/src/Microsoft.IO.Redist.csproj
  src/System.IO.FileSystem/src/System.IO.FileSystem.csproj
  src/System.IO.FileSystem/src/System/IO/FileSystem.Win32.cs
  src/System.IO.FileSystem/tests/File/EncryptDecrypt.cs
Labels: area-System.IO

#41613 Disable flaky member descriptor test
  src/System.ComponentModel.TypeConverter/tests/MemberDescriptorTests.cs
Labels: area-System.ComponentModel

#41609 Disable arm64 tests on Win and limit UWP testing
  eng/pipelines/windows.yml
Labels: area-Infrastructure

#41224 Improve test coverage for Span-based globalization APIs
  src/System.Globalization/tests/CompareInfo/CompareInfoTests.IndexOf.cs
  src/System.Globalization/tests/CompareInfo/CompareInfoTests.IsPrefix.cs
  src/System.Globalization/tests/CompareInfo/CompareInfoTests.IsSuffix.cs
  src/System.Globalization/tests/CompareInfo/CompareInfoTests.LastIndexOf.cs
  src/System.Globalization/tests/Invariant/InvariantMode.cs
Labels: area-System.Globalization

#41603 [release/2.1] Clean up some tests and move to new Azure endpoint
  src/Common/tests/System/Net/Configuration.Http.cs
  src/Common/tests/System/Net/Configuration.Security.cs
  src/Common/tests/System/Net/Configuration.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ServerCertificates.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Requests/tests/HttpWebRequestTest.cs
  src/System.Net.WebClient/tests/WebClientTest.cs
  src/System.Net.WebSockets.Client/tests/CloseTest.cs
  src/System.Net.WebSockets.Client/tests/ConnectTest.cs
Labels: Servicing-consider, area-System.Net, test bug

#41626 Update ReportGenerator global repo tool version to 4.3.0
  .config/dotnet-tools.json
Labels: area-Infrastructure, auto-merge

#41624 Fix copy&paste globalization test bug
  src/System.Globalization/tests/CompareInfo/CompareInfoTests.IndexOf.cs
Labels: area-System.Globalization

#41462 HttpWebRequest caches HttpClient in simple cases
  src/System.Net.Requests/src/System/Net/HttpWebRequest.cs
  src/System.Net.Requests/tests/HttpWebRequestTest.cs
Labels: area-System.Net

#40215 Avoid non documented exceptions in BinaryFormatter.Deserialize
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/BinaryFormatter.cs
  src/System.Runtime.Serialization.Formatters/tests/SerializationGuardTests.cs
  src/System.Runtime/tests/System/UnitySerializationHolderTests.cs
Labels: area-Serialization

#41564 Remove System.Linq dependency from System.Security.Cryptography.X509Certificates
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CachedSystemStoreProvider.cs
  src/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
  src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/Pkcs10CertificationRequestInfo.cs
Labels: area-System.Security, assembly-size

#41418 Prevent ImplicitTransform of index getter method
  src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticSourceEventSource.cs
  src/System.Diagnostics.DiagnosticSource/tests/DiagnosticSourceEventSourceBridgeTests.cs
Labels: area-System.Diagnostics

#41623 Bumping the version of OOB packages to match product version
  eng/Versions.props
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/Microsoft.Diagnostics.Tracing.EventSource.Redist/Directory.Build.props
  src/Microsoft.VisualBasic.Core/Directory.Build.props
  src/Microsoft.XmlSerializer.Generator/Directory.Build.props
  src/System.Collections.Immutable/Directory.Build.props
  src/System.Composition/Directory.Build.props
  src/System.Numerics.Tensors/Directory.Build.props
  src/System.Reflection.Metadata/Directory.Build.props
Labels: area-Infrastructure, auto-merge

#41639 Disable UnixDomainSock ConcurrentSendReceive test
  src/System.Net.Sockets/tests/FunctionalTests/UnixDomainSocketTest.netcoreapp.cs
Labels: area-System.Net.Sockets

#41636 Disable finalization of bogus SafeWaitHandles
  src/System.Runtime.Handles/tests/CriticalHandle.cs
  src/System.Runtime.Handles/tests/SafeHandle.cs
  src/System.Runtime.Handles/tests/SafeWaitHandle.cs
  src/System.Runtime.Handles/tests/SafeWaitHandleExtensions.cs
Labels: area-System.Runtime

#41600 Add ImmutableInterlocked.Update overloads for ImmutableArray
  src/System.Collections.Immutable/ref/System.Collections.Immutable.cs
  src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableInterlocked.cs
  src/System.Collections.Immutable/tests/ImmutableInterlockedTests.cs
Labels: area-System.Collections

#41561 Update the hex value for DarkSeaGreen color
  src/Common/src/System/Drawing/KnownColorTable.cs
  src/System.Drawing.Primitives/tests/ColorTests.cs
Labels: area-System.Drawing

#41414 Address misc feedback and issues from recent perf changes
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandlePropertyName.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Span.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Stream.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.String.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Utf8JsonReader.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.cs
  src/System.Text.Json/tests/Serialization/Object.ReadTests.cs
  src/System.Text.Json/tests/Serialization/ReadValueTests.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.cs
Labels: area-System.Text.Json, tenet-performance

#41331 Clear out RSA decryption array-returning residuals.
  src/Common/src/System/Security/Cryptography/RSACng.EncryptDecrypt.cs
Labels: area-System.Security

#41640 Several improvements to SocketsHttpHandler perf
  src/System.Net.Http/src/System/Net/Http/Headers/HttpHeaders.cs
  src/System.Net.Http/src/System/Net/Http/Headers/HttpRequestHeaders.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HPackEncoder.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Headers.cs
  src/System.Net.Http/tests/UnitTests/HPack/HPackRoundtripTests.cs
Labels: area-System.Net.Http, tenet-performance

#41376 Add support for reading/writing key files for explicit parameter ECC
  src/Common/src/System/Security/Cryptography/Asn1/SpecifiedECDomain.xml
  src/Common/src/System/Security/Cryptography/Asn1/SpecifiedECDomain.xml.cs
  src/Common/src/System/Security/Cryptography/EccKeyFormatHelper.cs
  src/Common/src/System/Security/Cryptography/KeyBlobHelpers.cs
  src/Common/src/System/Security/Cryptography/Oids.cs
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/EC/ECKeyFileTests.cs
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/EC/EccTestBase.cs
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/EC/EccTestData.cs
  src/System.Security.Cryptography.X509Certificates/src/Resources/Strings.resx
Labels: area-System.Security

#41643 Httpstress: add max execution time argument
  src/System.Net.Http/tests/StressTests/HttpStress/ChecksumHelpers.cs
  src/System.Net.Http/tests/StressTests/HttpStress/ClientOperations.cs
  src/System.Net.Http/tests/StressTests/HttpStress/Configuration.cs
  src/System.Net.Http/tests/StressTests/HttpStress/HttpStress.csproj
  src/System.Net.Http/tests/StressTests/HttpStress/Program.cs
  src/System.Net.Http/tests/StressTests/HttpStress/StressClient.cs
  src/System.Net.Http/tests/StressTests/HttpStress/StressServer.cs
Labels: area-System.Net.Http

#41678 Tiny typo in polymorphic
  src/System.Text.Json/docs/SerializerProgrammingModel.md
Labels: area-System.Text.Json

#41674 Remove obsolete CodeCoverageAssemblyAttribute
  src/Common/src/System/Diagnostics/CodeAnalysis/ExcludeFromCodeCoverageAssemblyAttribute.cs
  src/Common/tests/System/Xml/BaseLibManaged/BaseLibManaged.csproj
  src/Common/tests/System/Xml/BaseLibManaged/Globalization.cs
  src/Common/tests/System/Xml/ModuleCore/ModuleCore.csproj
  src/Common/tests/System/Xml/ModuleCore/ccommon.cs
  src/Common/tests/System/Xml/XmlCoreTest/MiscUtil.cs
  src/Common/tests/System/Xml/XmlCoreTest/XmlCoreTest.csproj
  src/Common/tests/System/Xml/XmlDiff/XmlDiff.cs
  src/Common/tests/System/Xml/XmlDiff/XmlDiff.csproj
  src/System.Composition/tests/Microsoft.Composition.Demos.ExtendedCollectionImports/AssemblyInfo.cs
  src/System.Composition/tests/Microsoft.Composition.Demos.ExtendedCollectionImports/Microsoft.Composition.Demos.ExtendedCollectionImports.csproj
  src/System.Composition/tests/TestLibrary/TestClass.cs
  src/System.Composition/tests/TestLibrary/TestLibrary.csproj
  src/System.Private.Xml/tests/XmlReaderLib/CommonTest.cs
  src/System.Private.Xml/tests/XmlReaderLib/System.Xml.RW.XmlReaderLib.csproj
  src/System.Reflection/tests/AssemblyVersion/Program_0_0_0_0.cs
  src/System.Reflection/tests/AssemblyVersion/Program_1_0_0_0.cs
  src/System.Reflection/tests/AssemblyVersion/Program_1_1_0_0.cs
  src/System.Reflection/tests/AssemblyVersion/Program_1_1_1_0.cs
  src/System.Reflection/tests/AssemblyVersion/Program_1_1_1_2.cs
  src/System.Reflection/tests/AssemblyVersion/Program_1_1_1_3.cs
  src/System.Reflection/tests/AssemblyVersion/Program_1_1_2_0.cs
  src/System.Reflection/tests/AssemblyVersion/Program_1_1_3_0.cs
  src/System.Reflection/tests/AssemblyVersion/Program_1_2_0_0.cs
  src/System.Reflection/tests/AssemblyVersion/Program_1_3_0_0.cs
  src/System.Reflection/tests/AssemblyVersion/Program_3_0_0_0.cs
  src/System.Reflection/tests/AssemblyVersion/System.Reflection.Tests.Assembly_0_0_0_0.csproj
  src/System.Reflection/tests/AssemblyVersion/System.Reflection.Tests.Assembly_1_0_0_0.csproj
  src/System.Reflection/tests/AssemblyVersion/System.Reflection.Tests.Assembly_1_1_0_0.csproj
  src/System.Reflection/tests/AssemblyVersion/System.Reflection.Tests.Assembly_1_1_1_0.csproj
  src/System.Reflection/tests/AssemblyVersion/System.Reflection.Tests.Assembly_1_1_1_2.csproj
  src/System.Reflection/tests/AssemblyVersion/System.Reflection.Tests.Assembly_1_1_1_3.csproj
  src/System.Reflection/tests/AssemblyVersion/System.Reflection.Tests.Assembly_1_1_2_0.csproj
  src/System.Reflection/tests/AssemblyVersion/System.Reflection.Tests.Assembly_1_1_3_0.csproj
  src/System.Reflection/tests/AssemblyVersion/System.Reflection.Tests.Assembly_1_2_0_0.csproj
  src/System.Reflection/tests/AssemblyVersion/System.Reflection.Tests.Assembly_1_3_0_0.csproj
  src/System.Reflection/tests/AssemblyVersion/System.Reflection.Tests.Assembly_3_0_0_0.csproj
  src/System.Reflection/tests/ForwardedTypesAssembly/ForwardedTypesAssembly.csproj
  src/System.Reflection/tests/TestAssembly/AssemblyAttributes.cs
  src/System.Reflection/tests/TestAssembly/TestAssembly.csproj
  src/System.Reflection/tests/TestExe/Program.cs
  src/System.Reflection/tests/TestExe/System.Reflection.TestExe.csproj
  src/System.Runtime.Extensions/tests/AssemblyResolveTestApp/AssemblyAttributes.cs
  src/System.Runtime.Extensions/tests/AssemblyResolveTestApp/AssemblyResolveTestApp.csproj
  src/System.Runtime.Extensions/tests/TestApp/AssemblyAttributes.cs
  src/System.Runtime.Extensions/tests/TestApp/TestApp.csproj
  src/System.Runtime.Extensions/tests/TestAppOutsideOfTPA/AssemblyAttributes.cs
  src/System.Runtime.Extensions/tests/TestAppOutsideOfTPA/TestAppOutsideOfTPA.csproj
  src/System.Runtime.Extensions/tests/VoidMainWithExitCodeApp/AssemblyAttributes.cs
  src/System.Runtime.Extensions/tests/VoidMainWithExitCodeApp/VoidMainWithExitCodeApp.csproj
Labels: area-Meta

#39942 Catch InvalidCastException properly in Collection
  src/System.Runtime/tests/System/Collections/ObjectModel/CollectionTests.cs
Labels: area-System.Collections

#41693 Stop using vfork with musl libc and credentials
  src/Native/Unix/System.Native/pal_process.c
Labels: area-System.Diagnostics.Process

#41656 Fix NRE when context value is null in method Save from Principal class
  src/System.DirectoryServices.AccountManagement/src/System/DirectoryServices/AccountManagement/Principal.cs
  src/System.DirectoryServices.AccountManagement/tests/PrincipalTest.cs
Labels: area-System.DirectoryServices

#41686 Remove unnecessary length restriction on Uri.Escape{Data/Uri}String
  src/System.Net.Http/tests/FunctionalTests/FormUrlEncodedContentTest.cs
  src/System.Private.Uri/src/System/UriHelper.cs
  src/System.Private.Uri/tests/FunctionalTests/IriTest.cs
  src/System.Private.Uri/tests/FunctionalTests/UriEscapingTest.cs
  src/System.Runtime/tests/System/Uri.MethodsTests.cs
Labels: area-System.Net

#40527 Change some internal async Task methods to be async ValueTask
  src/Common/src/System/Net/WebSockets/ManagedWebSocket.cs
  src/System.IO.Compression.Brotli/src/System/IO/Compression/enc/BrotliStream.Compress.cs
  src/System.IO.Compression/src/System/IO/Compression/DeflateZLib/DeflateStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ChunkedEncodingReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ChunkedEncodingWriteStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ContentLengthReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ContentLengthWriteStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/CreditManager.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentWriteStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/TaskCompletionSourceWithCancellation.cs
  src/System.Net.Security/src/System/Net/Security/SslStream.Implementation.cs
  src/System.Net.Security/src/System/Net/Security/SslStream.cs
  src/System.Net.Security/tests/UnitTests/Fakes/FakeSslStream.Implementation.cs
  src/System.Net.WebSockets/src/System/Net/WebSockets/WebSocket.cs
  src/System.Runtime.Extensions/src/System/IO/BufferedStream.cs
  src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/CryptoStream.cs
  src/System.Threading.Channels/src/System/Threading/Channels/ChannelWriter.cs
Labels: area-System.Threading

#41547 TCPListener doesn't create a new socket on Stop
  src/System.Net.Sockets/src/System/Net/Sockets/TCPListener.cs
  src/System.Net.Sockets/tests/FunctionalTests/TcpListenerTest.cs
Labels: area-System.Net.Sockets

#41641 [release/uwp6.2] Clean up some tests and move to new Azure endpoint
  src/Common/tests/System/Net/Configuration.Http.cs
  src/Common/tests/System/Net/Configuration.Security.cs
  src/Common/tests/System/Net/Configuration.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ServerCertificates.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Requests/tests/HttpWebRequestTest.cs
  src/System.Net.WebClient/tests/WebClientTest.cs
  src/System.Net.WebSockets.Client/tests/CloseTest.cs
  src/System.Net.WebSockets.Client/tests/ConnectTest.cs
Labels: area-System.Net, test bug

#41660 [release/3.0] Handle "too small" success from CNG and clear out decryption residuals.
  src/Common/src/System/Security/Cryptography/RSACng.EncryptDecrypt.cs
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RSA/RSAKeyExchangeFormatter.cs
  src/System.Security.Cryptography.Xml/tests/Samples/EncryptingDecryptingAsymmetric.cs
Labels: Servicing-consider, area-System.Security

#41457 [release/3.0] Stop using vfork with musl libc and credentials
  src/Native/Unix/System.Native/pal_process.c
Labels: Servicing-approved, area-Serialization

#41484 [release/3.0] Update Microsoft.Windows.Compatibility package for WCF and remove S.R.WindowsRuntime*
  pkg/Microsoft.Windows.Compatibility/Microsoft.Windows.Compatibility.pkgproj
  pkg/Microsoft.Windows.Compatibility/externalIndex.json
Labels: Servicing-approved, area-Infrastructure

#41717 update branding for preview2
  eng/Versions.props
Labels: area-Infrastructure

#41653 Support JsonConverterAttribute on enumerable properties
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.List.cs
Labels: area-System.Text.Json

#41690 Add Dictionary<Enum, TValue> converter example with JSON syntax of object+property
  src/System.Text.Json/tests/Serialization/CustomConverterTests.ContravariantDictionaryConverter.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.DictionaryEnumConverter.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.DictionaryGuidConverter.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.DictionaryInt32StringKeyValueConverter.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.DictionaryKeyValueConverter.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json, test enhancement

#41718 Re-enable NoCallback_RevokedCertificate_NoRevocationChecking_Succeeds
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ServerCertificates.cs
Labels: area-System.Net.Http, test bug

#41716 Fix branch distance calculation
  src/System.Reflection.Metadata/src/System/Reflection/Metadata/Ecma335/Encoding/ControlFlowBuilder.cs
  src/System.Reflection.Metadata/tests/Metadata/Ecma335/Encoding/ControlFlowBuilderTests.cs
Labels: area-System.Reflection.Metadata

#41726 update DualModeConnect_BeginAccept_Helper to be more liberal and consistent with DualModeConnect_AcceptAsync_Helper
  src/System.Net.Sockets/tests/FunctionalTests/DualModeSocketTest.cs
Labels: area-System.Net.Sockets, test bug

#41647 Prevent ImplicitTransform of index getter method (#41418)
  src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticSourceEventSource.cs
  src/System.Diagnostics.DiagnosticSource/tests/DiagnosticSourceEventSourceBridgeTests.cs
Labels: area-System.Diagnostics

#41665 Annotate System.Net.WebHeaderCollection for nullable
  src/Common/src/System/Net/CaseInsensitiveAscii.cs
  src/Common/src/System/Net/HttpValidationHelpers.cs
  src/Common/src/System/Net/Logging/NetEventSource.Common.cs
  src/System.Net.WebHeaderCollection/ref/System.Net.WebHeaderCollection.cs
  src/System.Net.WebHeaderCollection/ref/System.Net.WebHeaderCollection.csproj
  src/System.Net.WebHeaderCollection/src/System.Net.WebHeaderCollection.csproj
  src/System.Net.WebHeaderCollection/src/System/Net/HeaderInfoTable.cs
  src/System.Net.WebHeaderCollection/src/System/Net/WebHeaderCollection.cs
Labels: area-System.Net

#41712 Only pass the needed sub-struct in WriteUncompressedPublicKey.
  src/Common/src/System/Security/Cryptography/EccKeyFormatHelper.cs
Labels: area-System.Security

#41742 Update Area Owners for System.Data.SqlClient
  Documentation/project-docs/issue-guide.md
Labels: area-Meta

#41692 Make WebRequest.GetSystemWebProxy() return a working proxy
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpEnvironmentProxy.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/MacProxy.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SystemProxyInfo.uap.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientTest.netcoreapp.cs
  src/System.Net.Requests/src/System.Net.Requests.csproj
  src/System.Net.Requests/src/System/Net/SystemWebProxy.cs
  src/System.Net.Requests/src/System/Net/WebRequest.cs
Labels: area-System.Net, tenet-compatibility

#40924 Enable TargetFrameworkName attribute
  Directory.Build.props
  src/System.Runtime.Extensions/tests/System.Runtime.Extensions.Tests.csproj
  src/System.Runtime.Extensions/tests/System/AppDomainTests.cs
  src/System.Runtime.Extensions/tests/TargetFrameworkNameTestApp/AssemblyAttributes.cs
  src/System.Runtime.Extensions/tests/TargetFrameworkNameTestApp/Configurations.props
  src/System.Runtime.Extensions/tests/TargetFrameworkNameTestApp/Program.cs
  src/System.Runtime.Extensions/tests/TargetFrameworkNameTestApp/TargetFrameworkNameTestApp.csproj
Labels: area-System.Runtime.Extensions

#41721 HttpStress: Add scripts for loading the corefx testhost in the environment
  src/System.Net.Http/tests/StressTests/HttpStress/Program.cs
  src/System.Net.Http/tests/StressTests/HttpStress/Readme.md
  src/System.Net.Http/tests/StressTests/HttpStress/load-corefx-testhost.ps1
  src/System.Net.Http/tests/StressTests/HttpStress/load-corefx-testhost.sh
Labels: area-Infrastructure

#41407 Nullable annotation for System.IO.Pipelines
  src/System.IO.Pipelines/ref/System.IO.Pipelines.cs
  src/System.IO.Pipelines/ref/System.IO.Pipelines.csproj
  src/System.IO.Pipelines/src/System.IO.Pipelines.csproj
  src/System.IO.Pipelines/src/System/IO/Pipelines/BufferSegment.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/BufferSegmentStack.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/CompletionData.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/InlineScheduler.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.DefaultPipeReader.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.DefaultPipeWriter.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeAwaitable.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeCompletion.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeCompletionCallback.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeCompletionCallbacks.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeOptions.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeReader.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeReaderStream.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeScheduler.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeWriter.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeWriterStream.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/StreamPipeReader.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/StreamPipeReaderOptions.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/StreamPipeWriter.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/StreamPipeWriterOptions.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/ThreadPoolScheduler.netcoreapp.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/ThrowHelper.cs
Labels: area-System.IO.Pipelines

#41454 Break the ACL classes into files
  src/System.IO.FileSystem.AccessControl/src/System.IO.FileSystem.AccessControl.csproj
  src/System.IO.FileSystem.AccessControl/src/System/IO/FileSystemAclExtensions.cs
  src/System.IO.FileSystem.AccessControl/src/System/Security/AccessControl/DirectorySecurity.cs
  src/System.IO.FileSystem.AccessControl/src/System/Security/AccessControl/FileSecurity.cs
  src/System.IO.FileSystem.AccessControl/src/System/Security/AccessControl/FileSystemAccessRule.cs
  src/System.IO.FileSystem.AccessControl/src/System/Security/AccessControl/FileSystemAuditRule.cs
  src/System.IO.FileSystem.AccessControl/src/System/Security/AccessControl/FileSystemRights.cs
  src/System.IO.FileSystem.AccessControl/src/System/Security/AccessControl/FileSystemSecurity.cs
Labels: area-System.IO

#41715 Fix branch distance calculation
  src/System.Reflection.Metadata/src/System/Reflection/Metadata/Ecma335/Encoding/ControlFlowBuilder.cs
  src/System.Reflection.Metadata/tests/Metadata/Ecma335/Encoding/ControlFlowBuilderTests.cs
Labels: area-System.Reflection.Metadata

#38266 SqlClient fix managed MARS timeout cancellation
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIMarsConnection.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIPacket.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/ConnectionPoolTest/ConnectionPoolTest.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/ConnectionPoolTest/PoolBlockPeriodTest.netcoreapp.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/DataStreamTest/DataStreamTest.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/MARSTest/MARSTest.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlCredentialTest/SqlCredentialTest.cs
Labels: area-System.Data.SqlClient

#41776 Fix cast in CacheMemoryMonitor
  src/System.Runtime.Caching/src/System/Runtime/Caching/CacheMemoryMonitor.cs
Labels: area-System.Runtime.Caching

#41760 Socket: consider handle exposed when user gets Socket.SafeHandle.
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs
  src/System.Net.Sockets/tests/FunctionalTests/ArgumentValidationTests.cs
Labels: area-System.Net.Sockets

#41772 Rewrite Uri.EscapeString
  src/System.Private.Uri/src/System.Private.Uri.csproj
  src/System.Private.Uri/src/System/Uri.cs
  src/System.Private.Uri/src/System/UriBuilder.cs
  src/System.Private.Uri/src/System/UriExt.cs
  src/System.Private.Uri/src/System/UriHelper.cs
  src/System.Private.Uri/tests/UnitTests/System.Private.Uri.Unit.Tests.csproj
  src/System.Runtime/tests/System/Uri.MethodsTests.cs
Labels: area-System.Net, tenet-performance

#41765 [release/2.1] Add alpine 3.10 to testing matrix
  buildpipeline/pipeline.json
Labels: area-Infrastructure

#41766 [release/2.2] Add alpine 3.10 to testing matrix
  buildpipeline/pipeline.json
Labels: area-Infrastructure

#41731 Fixing NullReferenceException in XmlSchemaAnyAttribute.Namespace
  src/System.Private.Xml/src/System/Xml/Schema/XmlSchemaAnyAttribute.cs
  src/System.Private.Xml/tests/XmlSchema/XmlSchemaSet/TC_SchemaSet_AnyAttribute.cs
Labels: area-System.Xml

#41797 Clear out packages.builds for 2.2.8
  src/packages.builds
Labels: area-Infrastructure

#41798 Clear out packages.builds for 2.1.14
  src/packages.builds
Labels: area-Infrastructure

#41795 Build missed OOB packages for 3.0.1
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/System.Drawing.Common/Directory.Build.props
  src/System.Security.Cryptography.Cng/Directory.Build.props
  src/packages.builds
Labels: area-Infrastructure

#41250 Socket: don't perform RST close on Dispose when user called Shutdown
  src/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.Unix.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Windows.cs
  src/System.Net.Sockets/tests/FunctionalTests/SendReceive.cs
Labels: area-System.Net.Sockets

#41801 Disable finalization of bogus SafeWaitHandles
  src/System.Runtime.Handles/tests/SafeWaitHandleExtensions.cs
Labels: area-System.Runtime

#41812 Disable deterministically failing outerloop CNG tests
  src/System.Security.Cryptography.Cng/tests/AesCngTests.cs
  src/System.Security.Cryptography.Cng/tests/TripleDESCngTests.cs
Labels: area-System.Security

#41800 Add stable versions for Microsoft.Bcl.* packages
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
Labels: area-Infrastructure

#41768 use background thread to wait for address changes on OSX
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/NetworkAddressChange.OSX.cs
  src/System.Net.NetworkInformation/tests/FunctionalTests/NetworkAvailabilityChangedTests.cs
Labels: area-System.Net

#41827 Make ShellExecuteOnSTAThread's thread a background thread
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.Win32.cs
Labels: area-System.Diagnostics.Process

#41835 Don't tie Platform Package version to Product version
  eng/Packaging.props
Labels: area-Infrastructure

#41831 Improve error when socket ValueTask consumed incorrectly
  src/System.Net.Sockets/src/Resources/Strings.resx
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.Tasks.cs
Labels: area-System.Net.Sockets

#41771 Port perf changes and issues
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System/Text/Json/JsonException.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ClassType.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultDerivedDictionaryConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultDerivedEnumerableConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultICollectionConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultIDictionaryConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultImmutableDictionaryConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultImmutableEnumerableConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterKeyValuePair.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonCamelCaseNamingPolicy.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullableContravariant.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleNull.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandlePropertyName.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleValue.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Span.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Stream.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.String.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Utf8JsonReader.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleEnumerable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.String.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStack.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.List.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
  src/System.Text.Json/tests/Serialization/ExceptionTests.cs
  src/System.Text.Json/tests/Serialization/Object.ReadTests.cs
  src/System.Text.Json/tests/Serialization/PolymorphicTests.cs
  src/System.Text.Json/tests/Serialization/PropertyNameTests.cs
  src/System.Text.Json/tests/Serialization/ReadValueTests.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.cs
Labels: * NO MERGE *, * NO SQUASH *, Servicing-consider, area-System.Text.Json

#41807 Pass down /warnaserror switch for package testing
  eng/sendtohelix.proj
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  pkg/test/testPackages.proj
Labels: area-Infrastructure

#41295 HTTP2: Support receiving dynamic table headers
  src/Common/tests/System/Net/Http/GenericLoopbackServer.cs
  src/Common/tests/System/Net/Http/HPackEncoder.cs
  src/Common/tests/System/Net/Http/Http2Frames.cs
  src/Common/tests/System/Net/Http/Http2LoopbackConnection.cs
  src/System.Net.Http/src/Resources/Strings.resx
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HPackDecoder.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http

#41842 Store Description value of ConfigurationProperty
  src/System.Configuration.ConfigurationManager/src/System/Configuration/ConfigurationProperty.cs
  src/System.Configuration.ConfigurationManager/tests/System/Configuration/ConfigurationPropertyTests.cs
Labels: area-System.Configuration

#41848 Revert "Store Description value of ConfigurationProperty"
  src/System.Configuration.ConfigurationManager/src/System/Configuration/ConfigurationProperty.cs
  src/System.Configuration.ConfigurationManager/tests/System/Configuration/ConfigurationPropertyTests.cs
Labels: area-System.Configuration, auto-merge

#41844 Add back TraceListener handling for Callstack/LogicalOperationStack
  src/System.Diagnostics.TextWriterTraceListener/src/System/Diagnostics/DelimitedListTraceListener.cs
  src/System.Diagnostics.TextWriterTraceListener/tests/CommonUtilities.cs
  src/System.Diagnostics.TextWriterTraceListener/tests/DelimiterWriteMethodTests.cs
  src/System.Diagnostics.TraceSource/src/System/Diagnostics/TraceListener.cs
  src/System.Diagnostics.TraceSource/tests/TraceListenerClassTests.cs
Labels: area-System.Diagnostics

#41858 Annotate System.Runtime.CompilerServices.VisualC for nullable reference types
  src/System.Runtime.CompilerServices.VisualC/ref/System.Runtime.CompilerServices.VisualC.csproj
  src/System.Runtime.CompilerServices.VisualC/src/System.Runtime.CompilerServices.VisualC.csproj
Labels: area-System.Runtime.CompilerServices

#41856 Annotate System.Runtime.InteropServices.RuntimeInformation for nullable reference types
  src/System.Runtime.InteropServices.RuntimeInformation/ref/System.Runtime.InteropServices.RuntimeInformation.cs
  src/System.Runtime.InteropServices.RuntimeInformation/ref/System.Runtime.InteropServices.RuntimeInformation.csproj
  src/System.Runtime.InteropServices.RuntimeInformation/src/System.Runtime.InteropServices.RuntimeInformation.csproj
  src/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/OSPlatform.cs
  src/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/RuntimeInformation.Unix.cs
  src/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/RuntimeInformation.Windows.cs
  src/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/RuntimeInformation.cs
Labels: area-System.Runtime.InteropServices

#41861 Annotate System.Runtime.Numerics for nullable reference types
  src/Common/src/System/Globalization/FormatProvider.Number.cs
  src/System.Runtime.Numerics/ref/System.Runtime.Numerics.cs
  src/System.Runtime.Numerics/ref/System.Runtime.Numerics.csproj
  src/System.Runtime.Numerics/src/System.Runtime.Numerics.csproj
  src/System.Runtime.Numerics/src/System/Numerics/BigInteger.cs
  src/System.Runtime.Numerics/src/System/Numerics/BigNumber.cs
  src/System.Runtime.Numerics/src/System/Numerics/Complex.cs
Labels: area-System.Numerics

#41832 Move analyzers restore to a .depproj to follow arcade Tools.proj convention
  eng/CodeAnalysis.targets
  eng/Tools.props
  eng/restore/analyzers/Configurations.props
  eng/restore/analyzers/analyzers.depproj
  eng/restore/dirs.proj
  eng/restore/repoRestore.props
Labels: area-Infrastructure

#41869 Delete unused files
  src/Common/src/Interop/Windows/Kernel32/Interop.CreateNamedPipeClient.Uap.cs
  src/Common/src/System/Net/Security/CertificateHelper.Uap.cs
Labels: area-System.IO

#41854 Annotate System.Web.HttpUtility for nullable reference types
  src/System.Web.HttpUtility/ref/System.Web.HttpUtility.cs
  src/System.Web.HttpUtility/ref/System.Web.HttpUtility.csproj
  src/System.Web.HttpUtility/src/System.Web.HttpUtility.csproj
  src/System.Web.HttpUtility/src/System/Web/HttpUtility.cs
  src/System.Web.HttpUtility/src/System/Web/Util/HttpEncoder.cs
  src/System.Web.HttpUtility/src/System/Web/Util/HttpEncoderUtility.cs
  src/System.Web.HttpUtility/src/System/Web/Util/UriUtil.cs
  src/System.Web.HttpUtility/tests/HttpUtility/HttpUtilityTest.cs
Labels: area-System.Net

#41855 Annotate System.Runtime.CompilerServices.Unsafe for nullable reference types
  src/System.Runtime.CompilerServices.Unsafe/ref/Configurations.props
  src/System.Runtime.CompilerServices.Unsafe/ref/System.Runtime.CompilerServices.Unsafe.cs
  src/System.Runtime.CompilerServices.Unsafe/ref/System.Runtime.CompilerServices.Unsafe.csproj
Labels: area-System.Runtime.CompilerServices

#41874 Disabling DualModeConnectAsync test
  src/System.Net.Sockets/tests/FunctionalTests/DualModeSocketTest.cs
Labels: area-System.Net.Sockets

#41868 Remove arcade SolutionBuildTargets hack
  build.proj
  eng/Build.props
  eng/build.ps1
  eng/build.sh
Labels: area-Infrastructure

#41877 Follow-up to add more extension data tests.
  src/System.Text.Json/tests/Serialization/ExtensionDataTests.cs
Labels: area-System.Text.Json, test enhancement

#41873 Store Description value of ConfigurationProperty 2
  src/System.Configuration.ConfigurationManager/src/System/Configuration/ConfigurationProperty.cs
  src/System.Configuration.ConfigurationManager/tests/System/Configuration/ConfigurationPropertyTests.cs
Labels: area-System.Configuration

#41808 Annotate System.ObjectModel for nullable
  src/System.ObjectModel/ref/System.ObjectModel.cs
  src/System.ObjectModel/ref/System.ObjectModel.csproj
  src/System.ObjectModel/src/System.ObjectModel.csproj
  src/System.ObjectModel/src/System/Collections/Generic/DebugView.cs
  src/System.ObjectModel/src/System/Collections/ObjectModel/KeyedCollection.cs
  src/System.ObjectModel/src/System/Collections/ObjectModel/ObservableCollection.cs
  src/System.ObjectModel/src/System/Collections/ObjectModel/ReadOnlyDictionary.cs
  src/System.ObjectModel/src/System/Collections/ObjectModel/ReadOnlyObservableCollection.cs
  src/System.ObjectModel/src/System/Collections/Specialized/INotifyCollectionChanged.cs
  src/System.ObjectModel/src/System/Collections/Specialized/NotifyCollectionChangedEventArgs.cs
  src/System.ObjectModel/src/System/ComponentModel/DataErrorsChangedEventArgs.cs
  src/System.ObjectModel/src/System/ComponentModel/INotifyDataErrorInfo.cs
  src/System.ObjectModel/src/System/ComponentModel/INotifyPropertyChanged.cs
  src/System.ObjectModel/src/System/ComponentModel/INotifyPropertyChanging.cs
  src/System.ObjectModel/src/System/ComponentModel/PropertyChangedEventArgs.cs
  src/System.ObjectModel/src/System/ComponentModel/PropertyChangedEventHandler.cs
  src/System.ObjectModel/src/System/ComponentModel/PropertyChangingEventArgs.cs
  src/System.ObjectModel/src/System/ComponentModel/PropertyChangingEventHandler.cs
  src/System.ObjectModel/src/System/ComponentModel/TypeConverterAttribute.cs
  src/System.ObjectModel/src/System/ComponentModel/TypeDescriptionProviderAttribute.cs
  src/System.ObjectModel/src/System/Windows/Input/ICommand.cs
  src/System.ObjectModel/src/System/Windows/Markup/ValueSerializerAttribute.cs
Labels: area-Meta

#41890 Disable MemoryCacheTest.Contains test
  src/System.Runtime.Caching/tests/System.Runtime.Caching/MemoryCacheTest.cs
Labels: area-System.Runtime.Caching

#41865 [release/3.1] Add back TraceListener handling for Callstack/LogicalOperationStack
  src/System.Diagnostics.TextWriterTraceListener/src/System/Diagnostics/DelimitedListTraceListener.cs
  src/System.Diagnostics.TextWriterTraceListener/tests/CommonUtilities.cs
  src/System.Diagnostics.TextWriterTraceListener/tests/DelimiterWriteMethodTests.cs
  src/System.Diagnostics.TraceSource/src/System/Diagnostics/TraceListener.cs
  src/System.Diagnostics.TraceSource/tests/TraceListenerClassTests.cs
Labels: Servicing-approved

#41876 Discard unused locals cleanup
  src/Common/src/Interop/Windows/Advapi32/SafeProvHandle.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/StorePal.Import.cs
  src/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/SignedXml.cs
Labels: area-System.Security

#41482 Populate non-immutable collections directly on deserialize
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Serialization/ClassType.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultDerivedDictionaryConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultDerivedEnumerableConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultICollectionConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultIDictionaryConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultImmutableDictionaryConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultImmutableEnumerableConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullableContravariant.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleNull.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandlePropertyName.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/MemberAccessor.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStack.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReflectionEmitMemberAccessor.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReflectionMemberAccessor.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStackFrame.cs
  src/System.Text.Json/tests/NewtonsoftTests/DateTimeConverterTests.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.DerivedTypes.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
  src/System.Text.Json/tests/Serialization/ExtensionDataTests.cs
  src/System.Text.Json/tests/Serialization/PropertyVisibilityTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.GenericCollections.cs
  src/System.Text.Json/tests/Serialization/TestClasses.NonGenericCollections.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.GenericCollections.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.NonGenericCollections.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.GenericCollections.cs
Labels: area-System.Text.Json

#41910 Add UTF8Encoding compat tests
  src/System.Text.Encoding/tests/UTF8Encoding/UTF8EncodingTests.cs
Labels: area-System.Text.Encoding

#41889 Remove clean target and use arcade one
  eng/build.ps1
  eng/build.sh
Labels: area-Infrastructure

#41906 Adding single statement if formatting rule to coding-style
  Documentation/coding-guidelines/coding-style.md
Labels: area-Meta

#41912 Prepare license and other files for the repo consolidation
  .azure-ci.yml
  CODE-OF-CONDUCT.md
  Documentation/building/unix-instructions.md
  LICENSE
  README.md
  eng/Packaging.props
Labels: area-Infrastructure

#41891 Use Loopback for PreAuthenticate request test
  src/System.Net.Requests/tests/HttpWebRequestTest.cs
Labels: area-System.Net

#41880 Annotate System.Resources.ResourceWriter for nullable ref types
  src/Common/src/CoreLib/System/Resources/ResourceTypeCode.cs
  src/Common/src/System/Resources/ResourceWriter.cs
  src/System.Resources.Writer/ref/System.Resources.Writer.cs
  src/System.Resources.Writer/ref/System.Resources.Writer.csproj
  src/System.Resources.Writer/src/System.Resources.Writer.csproj
  src/System.Resources.Writer/src/System/Resources/IResourceWriter.cs
  src/System.Resources.Writer/src/System/Resources/ResourceWriter.core.cs
  src/System.Resources.Writer/src/System/Resources/__FastResourceComparer.cs
Labels: area-System.Resources

#39765 Fix invalid IL generated in Xml serializers
  src/System.Private.Xml/src/System/Xml/Serialization/CodeGenerator.cs
Labels: area-Serialization

#40540 Improve the performance of ImmutableList.Contains
  src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableList_1.Node.cs
  src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableList_1.cs
Labels: area-System.Collections

#41918 A few more test scenarios for casting of nullables and open generic arrays.
  src/System.Reflection/tests/TypeInfoTests.cs
Labels: area-System.Reflection

#41499 Add tests to improving TimeSpan precision
  src/System.Runtime/tests/System/TimeSpanTests.cs
Labels: area-System.Runtime

#40874 StreamPipeWriter: don't flush when the writer is completed with an exception.
  src/System.IO.Pipelines/src/System/IO/Pipelines/StreamPipeWriter.cs
  src/System.IO.Pipelines/tests/StreamPipeWriterTests.cs
Labels: area-System.IO.Pipelines

#41941 Disabling TaskCanceledQuickly timing out test
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cancellation.cs
Labels: area-System.Net.Http

#41942 Update netfx queue to Windows 10 19H1
  eng/pipelines/windows.yml
Labels: area-Infrastructure

#41919 Fix XSLT tests to deterministically pick newer xsltc.exe
  src/System.Private.Xml/tests/Xslt/XsltCompiler/XsltCommon.cs
Labels: area-System.Xml, auto-merge

#41774 Backup important wiki information
  Documentation/building/freebsd-instructions.md
  Documentation/building/unix-instructions.md
  Documentation/project-docs/issue-guide.md
Labels: area-Meta, documentation
