Repository dotnet/corefx, pull requests merged in 2019-08, with the labels that each got.

#39933 Fix SocketsHttpHandler proxy auth for 'Negotiate' scheme
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.NtAuth.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Authentication.cs
Labels: area-System.Net.Http.SocketsHttpHandler, tenet-compatibility

#39938 Mac Catalina build, suppress warnings
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_digest.c
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_ssl.c
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509chain.c
Labels: os-mac-os-x

#39907 HPACK decoder fixes
  src/Common/tests/System/Net/Http/HPackEncoder.cs
  src/Common/tests/System/Net/Http/Http2LoopbackConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/DynamicTable.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HPackDecoder.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HeaderField.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Headers.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/System.Net.Http/tests/UnitTests/HPack/DynamicTableTest.cs
  src/System.Net.Http/tests/UnitTests/HPack/HPackDecoderTest.cs
  src/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
Labels: area-System.Net.Http.SocketsHttpHandler

#39926 Rename OfflineBuild property to DotNetBuildOffline
  eng/Tools.props
  eng/notSupported.SourceBuild.targets
Labels: area-Infrastructure, auto-merge

#38107 Fix for issue #38105 - System.DirectoryServices GroupPrincipal.GetMem…
  src/System.DirectoryServices.AccountManagement/src/System/DirectoryServices/AccountManagement/AD/ADStoreCtx.cs
  src/System.DirectoryServices.AccountManagement/src/System/DirectoryServices/AccountManagement/Utils.cs
Labels: area-System.DirectoryServices

#39950 Streamline SslStream state validation
  src/System.Net.Security/src/System/Net/Security/SslStream.Implementation.cs
  src/System.Net.Security/src/System/Net/Security/SslStream.cs
Labels: area-System.Net.Security, tenet-performance

#39990 Added triple-slash summary to TlsCipherSuite.tt template.
  src/System.Net.Security/src/System/Net/Security/TlsCipherSuite.cs
  src/System.Net.Security/src/System/Net/Security/TlsCipherSuite.tt
Labels: auto-merge

#40001 native build incrementally by default, make rebuild optional
  src/Native/build-native.cmd
Labels: area-Infrastructure

#39985 HTTP2: Fix exceptions thrown from SendHeadersAsync to be consistent
  src/System.Net.Http/src/Resources/Strings.resx
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#39981 [release/3.0] Fix SocketsHttpHandler proxy auth for 'Negotiate' scheme
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.NtAuth.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Authentication.cs
Labels: area-System.Net.Http.SocketsHttpHandler, tenet-compatibility

#39882 HTTP2: Fix handling of RST_STREAM with error = NO_ERROR after response EndStream
  src/Common/tests/System/Net/Http/Http2LoopbackConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#40002 Validate the algorithmParameters value in Pkcs8PrivateKeyInfo..ctor
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Pkcs8PrivateKeyInfo.cs
  src/System.Security.Cryptography.Pkcs/tests/Pkcs8PrivateKeyInfoTests.cs
Labels: area-System.Security

#39991 Improve bytesConsumed tests for Pkcs12Info.Decode
  src/System.Security.Cryptography.Pkcs/tests/Pkcs12/Pkcs12InfoTests.cs
Labels: area-System.Security

#37678 update documentation for build-rootfs and remove old files.
  Documentation/building/cross-building.md
  cross/arm/sources.list.bionic
  cross/arm/sources.list.trusty
  cross/arm/sources.list.vivid
  cross/arm/sources.list.wily
  cross/arm/sources.list.xenial
  cross/arm/trusty-lttng-2.4.patch
  cross/arm/trusty.patch
  cross/arm64/sources.list.bionic
  cross/arm64/sources.list.trusty
  cross/arm64/sources.list.vivid
  cross/arm64/sources.list.wily
  cross/arm64/sources.list.xenial
  cross/armel/sources.list.jessie
  cross/armel/tizen-build-rootfs.sh
  cross/armel/tizen-fetch.sh
  cross/armel/tizen/tizen.patch
  cross/build-android-rootfs.sh
  cross/build-rootfs.sh
  cross/x86/sources.list.bionic
  cross/x86/sources.list.trusty
  cross/x86/sources.list.vivid
  cross/x86/sources.list.wily
  cross/x86/sources.list.xenial
  src/Native/build-native.sh
Labels: area-Infrastructure

#39900 Add Encode(Span<char>) API
  src/System.Text.Encodings.Web/ref/System.Text.Encodings.Web.cs
  src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/JavaScriptEncoder.cs
  src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/TextEncoder.cs
  src/System.Text.Encodings.Web/src/System/Text/Unicode/UnicodeHelpers.cs
  src/System.Text.Encodings.Web/tests/JavaScriptStringEncoderTests.cs
  src/System.Text.Json/src/System/Text/Json/JsonHelpers.cs
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.Escaping.cs
  src/System.Text.Json/tests/JsonTestHelper.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Encodings.Web, area-System.Text.Json

#40047 Do not do hidden/unavoidable sync stream writes when using the Utf8JsonWriter (during grow).
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs
  src/System.Text.Json/tests/JsonTestHelper.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json

#37222 Unit tests for encoding detection
  src/System.IO/tests/StreamReader/StreamReader.CtorTests.cs
Labels: area-System.IO

#40076 Update IconCodecTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing.Imaging/IconCodecTests.cs
Labels: area-System.Drawing

#39719 Fix NullReferenceException in CharacterRange.Equals(null)
  src/System.Drawing.Common/src/System/Drawing/CharacterRange.cs
  src/System.Drawing.Common/tests/CharacterRangeTests.cs
Labels: area-System.Drawing

#39572 Use deterministic Process.StartTime for OS X #39434
  src/Common/src/Interop/Unix/System.Native/Interop.GetAbsoluteTime.cs
  src/Native/Unix/Common/pal_config.h.in
  src/Native/Unix/System.Native/pal_time.c
  src/Native/Unix/System.Native/pal_time.h
  src/Native/Unix/configure.cmake
  src/System.Diagnostics.Process/src/System.Diagnostics.Process.csproj
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.OSX.cs
  src/System.Diagnostics.Process/tests/ProcessTests.cs
Labels: area-System.Diagnostics.Process

#39928 HttpStress: Add aggregate reports to end of test runs
  src/System.Net.Http/tests/StressTests/HttpStress/ClientOperations.cs
  src/System.Net.Http/tests/StressTests/HttpStress/Configuration.cs
  src/System.Net.Http/tests/StressTests/HttpStress/Program.cs
  src/System.Net.Http/tests/StressTests/HttpStress/StressClient.cs
  src/System.Net.Http/tests/StressTests/HttpStress/StressServer.cs
  src/System.Net.Http/tests/StressTests/HttpStress/global.json
Labels: area-System.Net.Http, test enhancement

#37797 Fix cross-compilation with CMake 3.14
  cross/tryrun.cmake
Labels: area-Infrastructure

#40080 Fix build on OSX
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.OSX.cs
Labels: area-System.Diagnostics.Process

#40040 Fix DynamicTable.Resize failing when it grows the table.
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/DynamicTable.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HeaderField.cs
  src/System.Net.Http/tests/UnitTests/HPack/DynamicTableTest.cs
Labels: area-System.Net.Http

#40066 Move externals to eng/restore dir
  Directory.Build.props
  Documentation/project-docs/developer-guide.md
  build.proj
  eng/restore/Directory.Build.props
  eng/restore/Directory.Build.targets
  eng/restore/binplacePackages/Configurations.props
  eng/restore/binplacePackages/binplacePackages.depproj
  eng/restore/dirs.proj
  eng/restore/harvestPackages/Configurations.props
  eng/restore/harvestPackages/harvestPackages.depproj
  eng/restore/harvestPackages/harvestPackages.props
  eng/restore/netcoreapp/Configurations.props
  eng/restore/netcoreapp/netcoreapp.depproj
  eng/restore/netfx/Configurations.props
  eng/restore/netfx/netfx.depproj
  eng/restore/netstandard/Configurations.props
  eng/restore/netstandard/netstandard.depproj
  eng/restore/runtime/Configurations.props
  eng/restore/runtime/Directory.Build.props
  eng/restore/runtime/runtime.depproj
  eng/restore/tools/Configurations.props
  eng/restore/tools/tools.depproj
  eng/restore/uap/Configurations.props
  eng/restore/uap/uap.depproj
  eng/restore/winrt/Configurations.props
  eng/restore/winrt/winrt.depproj
  src/System.Runtime.WindowsRuntime/ref/System.Runtime.WindowsRuntime.csproj
  src/System.Runtime.WindowsRuntime/src/System.Runtime.WindowsRuntime.csproj
Labels: area-Infrastructure

#40090 HttpStress: fix unhandled exceptions being eaten
  src/System.Net.Http/tests/StressTests/HttpStress/Program.cs
  src/System.Net.Http/tests/StressTests/HttpStress/StressClient.cs
Labels: area-System.Net.Http

#39872 [release/3.0] Update branding to preview9
  eng/Versions.props
Labels: area-Infrastructure

#39867 [release/3.0] Fix WriteLargeKeyOrValue System.Text.Json test
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json

#39874 [release/3.0] HTTP2: Ensure we never send EndStream after RST_STREAM #39834
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
Labels: area-System.Net.Http

#39879 [release/3.0] Fix Utf8JsonWriter.Dispose{Async} after failed Stream Write{Async}
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json

#39889 [release/3.0] fix Matrix4x4 + and - operator bugs (#39838)
  src/System.Numerics.Vectors/src/System/Numerics/Matrix4x4.cs
  src/System.Numerics.Vectors/tests/Matrix4x4Tests.cs
Labels: area-System.Numerics

#39932 [release/3.0] improve handling of 100continue for Http2
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/System.Net.Http/tests/FunctionalTests/NtAuthTests.cs
Labels: area-System.Net.Http

#39984 [release/3.0] For Mac Catalina build, suppress warnings porting to 3.0
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_digest.c
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_ssl.c
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509chain.c
Labels: area-System.Security

#40028 [release/3.0] HTTP2: Fix exceptions thrown from SendHeadersAsync to be consistent
  src/System.Net.Http/src/Resources/Strings.resx
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
Labels: area-System.Net.Http

#40043 [release/3.0] Validate the algorithmParameters value in Pkcs8PrivateKeyInfo..ctor
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Pkcs8PrivateKeyInfo.cs
  src/System.Security.Cryptography.Pkcs/tests/Pkcs8PrivateKeyInfoTests.cs
Labels: area-System.Security, breaking-change

#40083 Disable CoreFxTesting sdk in sourcebuild & allconfig
  Directory.Build.props
  Directory.Build.targets
Labels: area-Infrastructure

#40070 Enable leaf project restore from root build
  build.proj
  eng/Build.props
  src/dirs.proj
  src/ref.builds
  src/src.builds
  src/tests.proj
Labels: area-Infrastructure

#40063 Handle `UnparseableExtension` status code when building X509Chain on OSX
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509chain.c
Labels: area-System.Security, os-mac-os-x

#39026 Fix NullReferenceException in DesignerAttribute.GetHashCode
  src/System.ComponentModel.TypeConverter/src/System/ComponentModel/DesignerAttribute.cs
  src/System.ComponentModel.TypeConverter/src/System/ComponentModel/ProvidePropertyAttribute.cs
  src/System.ComponentModel.TypeConverter/tests/AttributeCollectionTests.cs
  src/System.ComponentModel.TypeConverter/tests/ComponentResourceManagerTests.cs
  src/System.ComponentModel.TypeConverter/tests/DecimalConverterTests.cs
  src/System.ComponentModel.TypeConverter/tests/Design/DesignerCollectionTests.cs
  src/System.ComponentModel.TypeConverter/tests/Design/MenuCommandTests.cs
  src/System.ComponentModel.TypeConverter/tests/Design/Serialization/DesignerSerializerAttributeTests.cs
  src/System.ComponentModel.TypeConverter/tests/Design/Serialization/RootDesignerSerializerAttributeTests.cs
  src/System.ComponentModel.TypeConverter/tests/Design/ServiceContainerTests.cs
  src/System.ComponentModel.TypeConverter/tests/DesignerAttributeTests.cs
  src/System.ComponentModel.TypeConverter/tests/DoubleConverterTests.cs
  src/System.ComponentModel.TypeConverter/tests/Drawing/SizeFConverterTests.cs
  src/System.ComponentModel.TypeConverter/tests/EditorAttributeTests.cs
  src/System.ComponentModel.TypeConverter/tests/ExtenderProvidedPropertyAttributeTests.cs
  src/System.ComponentModel.TypeConverter/tests/LicenseExceptionTests.cs
  src/System.ComponentModel.TypeConverter/tests/ProvidePropertyAttributeTests.cs
  src/System.ComponentModel.TypeConverter/tests/RefreshEventArgsTests.cs
  src/System.ComponentModel.TypeConverter/tests/SingleConverterTests.cs
  src/System.ComponentModel.TypeConverter/tests/Timers/TimersDescriptionAttributeTests.cs
  src/System.ComponentModel.TypeConverter/tests/ToolboxItemAttributeTests.cs
Labels: area-System.ComponentModel

#40042 [release/3.0] HTTP/2 - fix HPACK decoder failing inconsistently with 0-length header names
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HPackDecoder.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Headers.cs
Labels: * NO MERGE *, area-System.Net.Http

#40061 Enable partial package build during source build
  eng/Packaging.props
  eng/Packaging.targets
  src/packages.builds
  src/src.builds
Labels: area-Infrastructure

#40119 Disable System.Net.Http.FunctionalTests SetDelegate_ConnectionSucceeds on OSX
  src/Common/tests/CoreFx.Private.TestUtilities/System/PlatformDetection.Unix.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.AcceptAllCerts.cs
Labels: area-System.Net.Http

#40128 [release/3.0] Disable System.Net.Http.FunctionalTests SetDelegate_ConnectionSucceeds on OSX
  src/Common/tests/CoreFx.Private.TestUtilities/System/PlatformDetection.Unix.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.AcceptAllCerts.cs
Labels: area-System.Net.Http, tell-mode, test bug

#40033 Fixing test failure caused from non breaking space
  src/System.Runtime.Serialization.Json/tests/DataContractJsonSerializer.cs
Labels: area-Serialization, os-mac-os-x

#40109 [release/2.1] Port Kerberos auth fixes to 2.1 branch
  src/Native/Unix/System.Net.Security.Native/pal_gssapi.cpp
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.NtAuth.cs
Labels: Servicing-consider, area-System.Net.Http, os-linux, tenet-compatibility

#40149 Revert "[master] Update dependencies from dotnet/arcade"
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/templates/job/execute-sdl.yml
  global.json
Labels: area-Infrastructure

#39893 [release/2.1] Update signing certificates from sha1 to sha2
  src/shims/shims.proj
Labels: area-Infrastructure

#40112 [release/3.0] HTTP2: Fix hang due to handling of RST_STREAM with error = NO_ERROR after response EndStream
  src/Common/tests/System/Net/Http/Http2LoopbackConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http, ask-mode

#40071 Support cyclic types when using collections (#39936)
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultDerivedDictionaryConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultDerivedEnumerableConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultICollectionConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultIDictionaryConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultImmutableDictionaryConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultImmutableEnumerableConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.BadConverters.cs
  src/System.Text.Json/tests/Serialization/CyclicTests.cs
Labels: area-System.Text.Json, ask-mode

#40072 Add Encode(Span<char>) API (#39900)
  src/System.Text.Encodings.Web/ref/System.Text.Encodings.Web.cs
  src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/JavaScriptEncoder.cs
  src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/TextEncoder.cs
  src/System.Text.Encodings.Web/src/System/Text/Unicode/UnicodeHelpers.cs
  src/System.Text.Encodings.Web/tests/JavaScriptStringEncoderTests.cs
  src/System.Text.Json/src/System/Text/Json/JsonHelpers.cs
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.Escaping.cs
  src/System.Text.Json/tests/JsonTestHelper.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json, ask-mode

#40129 [release/3.0] Enable partial package build during source build (#40061)
  eng/Packaging.props
  eng/Packaging.targets
  src/packages.builds
  src/src.builds
Labels: area-Infrastructure, ask-mode

#40038 [release/2.1] Compatibility: updates for Mac OSX 10.15 related to 2.x branches
  src/Native/Unix/System.Native/pal_networking.c
  src/System.Globalization/tests/RegionInfo/RegionInfoTests.Properties.cs
  src/System.Runtime.Serialization.Json/tests/DataContractJsonSerializer.cs
Labels: Servicing-approved, area-Meta, os-mac-os-x

#40126 Improve exception message for cycles during serialization
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/System.Text.Json/tests/Serialization/CyclicTests.cs
Labels: area-System.Text.Json

#40154 Add polymorphic test\sample
  src/System.Text.Json/tests/Serialization/CustomConverterTests.Polymorphic.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.Polymorphic.cs
Labels: area-System.Text.Json

#40160 pal_console: add missing mutex_unlock
  src/Native/Unix/System.Native/pal_console.c
Labels: area-System.Console

#40153 Move CodeAnalysis.ruleset to shared
  Documentation/project-docs/analyzers.md
  src/Common/src/CoreLib/CodeAnalysis.ruleset
  src/Directory.Build.props
Labels: area-Infrastructure

#39945 Consolidate Graphics across Windows & Unix
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.cs
  src/System.Drawing.Common/src/System/Drawing/Image.Unix.cs
Labels: area-System.Drawing

#38562 Fix: XPathDescendantIterator.MoveNext starts iterating again when MoveNext is called after it is done
  src/Common/tests/System/Xml/XPath/MiscellaneousCases/MiscellaneousCasesTests.cs
  src/System.Private.Xml/src/System.Private.Xml.csproj
  src/System.Private.Xml/src/System/Xml/XPath/Internal/XPathDescendantIterator.cs
Labels: area-System.Xml

#40105 Map NetSecurityNative.Status to SecurityStatusPalErrorCode
  src/Common/src/Interop/Unix/System.Net.Security.Native/Interop.GssApiException.cs
  src/Common/src/Interop/Unix/System.Net.Security.Native/Interop.NetSecurityNative.cs
  src/Common/src/System/Net/Security/NegotiateStreamPal.Unix.cs
Labels: area-System.Net.Security

#39917 Writable Json DOM - JsonNumber implementation and tests
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Node/JsonNode.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonNumber.cs
  src/System.Text.Json/tests/JsonNumberTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json, auto-merge

#39699 Improve Utf8JsonWriter code coverage
  src/System.Text.Json/tests/JsonElementWriteTests.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json, test enhancement

#39186 Refactor and clean up the SpanTestHelper helpers for asserting that a ref struct method throws
  src/Common/tests/Common.Tests.csproj
  src/Common/tests/CoreFx.Private.TestUtilities/System/AssertExtensions.cs
  src/Common/tests/Tests/System/SpanTestHelpers.cs
  src/Common/tests/Tests/System/StringTests.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
  src/System.Runtime/tests/System.Runtime.Tests.csproj
Labels: area-System.Memory, test enhancement

#38949 Line ending fixes for json tests
  src/System.Text.Json/tests/JsonElementWriteTests.cs
  src/System.Text.Json/tests/JsonTestHelper.cs
  src/System.Text.Json/tests/NewtonsoftTests/CamelCaseTests.cs
  src/System.Text.Json/tests/NewtonsoftTests/CustomObjectConverterTests.cs
  src/System.Text.Json/tests/NewtonsoftTests/EnumConverterTests.cs
Labels: area-System.Text.Json, test enhancement

#40123 HTTP2: Ensure we don't try to send RST_STREAM or EndStream while holding the stream lock
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
Labels: area-System.Net.Http

#40176 Disable GetGCMemoryInfoTest on arm
  src/System.Runtime/tests/System/GCTests.netcoreapp.cs
Labels: area-System.Runtime

#40171 Fix NRE in SmtpConnection.Abort
  src/System.Net.Mail/src/System/Net/Mail/SmtpConnection.cs
Labels: area-System.Net

#40174 System.Drawing.Common: Clean SuppressMessage attributes
  src/System.Drawing.Common/src/System/Drawing/BufferedGraphicsContext.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/BufferedGraphicsContext.cs
  src/System.Drawing.Common/src/System/Drawing/ColorConverter.cs
  src/System.Drawing.Common/src/System/Drawing/FontFamily.cs
  src/System.Drawing.Common/src/System/Drawing/Gdiplus.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.cs
  src/System.Drawing.Common/src/System/Drawing/Image.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/EmfPlusRecordType.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/EncoderParameter.cs
  src/System.Drawing.Common/src/System/Drawing/NativeMethods.cs
  src/System.Drawing.Common/src/System/Drawing/PointConverter.cs
  src/System.Drawing.Common/src/System/Drawing/RectangleConverter.cs
  src/System.Drawing.Common/src/System/Drawing/SizeConverter.cs
  src/System.Drawing.Common/src/misc/CompModSwitches.cs
  src/System.Drawing.Common/src/misc/GDI/NativeMethods.cs
  src/System.Drawing.Common/src/misc/GDI/WindowsRegion.cs
Labels: area-System.Drawing

#40163 improve detection of usable KeyChain
  src/System.Security.Cryptography.X509Certificates/tests/X509StoreMutableTests.OSX.cs
Labels: area-System.Security, os-mac-os-x, test enhancement

#40114 Change 'in' modifier usage to 'ref' for performance
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.DbRow.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.Parse.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
Labels: area-System.Text.Json

#40078 [release/3.0] Custom converter contravariant test coverage
  src/System.Text.Json/tests/Serialization/CustomConverterTests.Dictionary.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.List.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.Object.cs
Labels: area-System.Text.Json, tell-mode, test enhancement

#40180 [release/3.0] HTTP2: Ensure we don't try to send RST_STREAM or EndStream while holding the stream lock
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
Labels: area-System.Net.Http

#40190 [release/3.0] Test fix non breaking space
  src/System.Runtime.Serialization.Json/tests/DataContractJsonSerializer.cs
Labels: os-mac-os-x, tell-mode

#40157 HttpStress: add a 'GET Slow' operation
  src/System.Net.Http/tests/StressTests/HttpStress/ClientOperations.cs
  src/System.Net.Http/tests/StressTests/HttpStress/StressServer.cs
Labels: area-System.Net.Http, tenet-reliability

#40191 [release/3.0] pal_console: add missing mutex_unlock (#40160)
  src/Native/Unix/System.Native/pal_console.c
Labels: area-System.Diagnostics.Process

#40124 Move corefx to stages, use arcade's package artifacts convention
  .azure-ci.yml
  Directory.Build.props
  Directory.Build.targets
  eng/Tools.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/templates/job/execute-sdl.yml
  eng/pipelines/corefx-base.yml
  eng/pipelines/linux.yml
  eng/pipelines/macos.yml
  eng/pipelines/outerloop.yml
  eng/pipelines/pre-publish.yml
  eng/pipelines/publish.yml
  eng/pipelines/windows.yml
  eng/publish.proj
  eng/publishTestAssets.proj
  global.json
  pkg/test/testPackages.proj
  src/System.Numerics.Tensors/pkg/System.Numerics.Tensors.pkgproj
Labels: area-Infrastructure

#39954 Add spec for writable JSON DOM
  src/System.Text.Json/docs/writable_json_dom_spec.md
Labels: area-System.Text.Json, documentation

#40198 [release/3.0] Move corefx to stages, use arcade's package artifacts convention
  .azure-ci.yml
  Directory.Build.props
  Directory.Build.targets
  eng/Tools.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/templates/job/execute-sdl.yml
  eng/pipelines/corefx-base.yml
  eng/pipelines/linux.yml
  eng/pipelines/macos.yml
  eng/pipelines/outerloop.yml
  eng/pipelines/pre-publish.yml
  eng/pipelines/publish.yml
  eng/pipelines/windows.yml
  eng/publish.proj
  eng/publishTestAssets.proj
  global.json
  pkg/test/testPackages.proj
  src/System.Numerics.Tensors/pkg/System.Numerics.Tensors.pkgproj
Labels: area-Infrastructure

#40203 Revert "[release/3.0] Move corefx to stages, use arcade's package artifacts convention"
  .azure-ci.yml
  Directory.Build.props
  Directory.Build.targets
  eng/Tools.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/templates/job/execute-sdl.yml
  eng/pipelines/corefx-base.yml
  eng/pipelines/linux.yml
  eng/pipelines/macos.yml
  eng/pipelines/outerloop.yml
  eng/pipelines/pre-publish.yml
  eng/pipelines/publish.yml
  eng/pipelines/windows.yml
  eng/publish.proj
  eng/publishTestAssets.proj
  global.json
  pkg/test/testPackages.proj
  src/System.Numerics.Tensors/pkg/System.Numerics.Tensors.pkgproj
Labels: area-Infrastructure

#40107 Json string and boolean
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Node/JsonBoolean.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonString.cs
  src/System.Text.Json/tests/JsonBooleanTests.cs
  src/System.Text.Json/tests/JsonNumberTests.cs
  src/System.Text.Json/tests/JsonStringTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#39972 Remove Microsoft.VisualBasic.{ApplicationServices,Devices,MyServices}
  src/Microsoft.VisualBasic.Core/ref/Microsoft.VisualBasic.Core.cs
  src/Microsoft.VisualBasic.Core/src/Microsoft.VisualBasic.Core.vbproj
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/ApplicationServices/ApplicationBase.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/ApplicationServices/AssemblyInfo.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/ApplicationServices/ConsoleApplicationBase.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/ApplicationServices/StartupEventArgs.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/ApplicationServices/StartupNextInstanceEventArgs.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/ApplicationServices/UnhandledExceptionEventArgs.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/ApplicationServices/User.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/Devices/Audio.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/Devices/Clock.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/Devices/Computer.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/Devices/ComputerInfo.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/Devices/Keyboard.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/Devices/Mouse.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/Devices/Network.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/Devices/NetworkAvailableEventArgs.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/Devices/Ports.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/Devices/ServerComputer.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/MyServices/ClipboardProxy.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/MyServices/FileSystemProxy.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/MyServices/RegistryProxy.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/MyServices/SpecialDirectoriesProxy.vb
  src/Microsoft.VisualBasic.Core/tests/Microsoft.VisualBasic.Core.Tests.csproj
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/ApplicationServices/ApplicationBaseTests.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/ApplicationServices/AssemblyInfoTests.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/ApplicationServices/ConsoleApplicationBaseTests.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/ApplicationServices/StartupEventArgsTests.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/ApplicationServices/StartupNextInstanceEventArgsTests.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/ApplicationServices/UnhandledExceptionEventArgsTests.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/ApplicationServices/UserTests.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/Devices/ClockTests.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/Devices/ComputerInfoTests.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/Devices/ComputerTests.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/Devices/NetworkAvailableEventArgsTests.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/Devices/ServerComputerTests.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/MyServices/FileSystemProxyTests.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/MyServices/SpecialDirectoriesProxyTests.cs
Labels: area-Microsoft.VisualBasic, breaking-change

#40199 Don't restore files to later overwrite them during the build
  eng/restore/binplacePackages/binplacePackages.depproj
  eng/restore/netstandard/netstandard.depproj
Labels: area-Infrastructure

#40077 Fix bugs in null serialization
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterKeyValuePair.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleEnumerable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleObject.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
  src/System.Text.Json/tests/Serialization/Null.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Null.WriteTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.GenericCollections.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.GenericCollections.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.TryGet.Date.cs
Labels: area-System.Text.Json

#40165 followup on SocketAddress validation
  src/Common/src/System/Net/SocketAddressPal.Windows.cs
  src/Common/src/System/Net/Sockets/ProtocolFamily.cs
  src/Native/Unix/System.Native/pal_networking.c
  src/Native/Unix/System.Native/pal_networking.h
  src/System.Net.Primitives/ref/System.Net.Primitives.cs
  src/System.Net.Primitives/src/System/Net/Sockets/AddressFamily.cs
  src/System.Net.Primitives/tests/FunctionalTests/SocketAddressTest.cs
  src/System.Net.Sockets/ref/System.Net.Sockets.cs
  src/System.Net.Sockets/tests/FunctionalTests/CreateSocketTests.netcoreapp.cs
Labels: area-System.Net.Sockets

#40225 Disable two EventLog failing tests on Windows
  src/System.Diagnostics.EventLog/tests/EventLogTraceListenerTests.cs
  src/System.Drawing.Common/tests/BitmapTests.cs
Labels: area-System.Diagnostics

#39734 Upgrade Windows Nano Server to 1809
  eng/pipelines/windows.yml
  src/Common/tests/CoreFx.Private.TestUtilities/System/PlatformDetection.Windows.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/FileIO/SpecialDirectoriesTests.cs
  src/System.Globalization/tests/System/Globalization/TextInfoTests.cs
  src/System.Runtime.Extensions/tests/System/Environment.GetEnvironmentVariable.cs
  src/System.Runtime.Extensions/tests/System/Environment.SetEnvironmentVariable.cs
Labels: area-Infrastructure

#40223 Disable System.Drawing tests failing on arm64
  src/Common/tests/CoreFx.Private.TestUtilities/System/PlatformDetection.Windows.cs
  src/Common/tests/CoreFx.Private.TestUtilities/System/PlatformDetection.cs
  src/Common/tests/System/Drawing/Helpers.cs
  src/System.Drawing.Common/tests/BitmapTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing.Imaging/BmpCodecTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing.Imaging/GifCodecTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing.Imaging/IconCodecTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing.Imaging/JpegCodecTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing.Imaging/TiffCodecTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing/BitmapTests.cs
Labels: area-System.Drawing

#40246 Disable FinancialTest.FV test on arm64
  src/Microsoft.VisualBasic.Core/tests/FinancialTests.cs
Labels: area-Microsoft.VisualBasic

#40244 Re-enable scheduled outerloop runs
  eng/pipelines/outerloop.yml
Labels: area-Infrastructure

#40247 Disable two SocketsHttpHandler tests on Debian10
  src/Common/tests/CoreFx.Private.TestUtilities/System/PlatformDetection.Unix.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.AcceptAllCerts.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.SslProtocols.cs
Labels: area-System.Net.Http

#40158 [release/3.0] Improve exception message for cycles during serialization (#40126)
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/System.Text.Json/tests/Serialization/CyclicTests.cs
Labels: area-System.Text.Json

#37603 SqlClient: fix BulkCopy double and single null widening handling
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlBulkCopy.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/CopyWidenNullInexactNumerics.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/SqlBulkCopyTest.cs
  src/System.Data.SqlClient/tests/ManualTests/System.Data.SqlClient.ManualTesting.Tests.csproj
Labels: area-System.Data.SqlClient

#40255 Avoid disposing Http2Stream's request body cancellation source
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
Labels: area-System.Net.Http

#40235 [release/3.0] Improve compatibility of new AddressFamily values
  src/Common/src/System/Net/SocketAddressPal.Windows.cs
  src/Common/src/System/Net/Sockets/ProtocolFamily.cs
  src/Native/Unix/System.Native/pal_networking.c
  src/Native/Unix/System.Native/pal_networking.h
  src/System.Net.Primitives/ref/System.Net.Primitives.cs
  src/System.Net.Primitives/src/System/Net/Sockets/AddressFamily.cs
  src/System.Net.Primitives/tests/FunctionalTests/SocketAddressTest.cs
  src/System.Net.Sockets/ref/System.Net.Sockets.cs
  src/System.Net.Sockets/tests/FunctionalTests/CreateSocketTests.netcoreapp.cs
Labels: area-System.Net.Sockets, ask-mode, breaking-change

#40259 Fix 2 System.Net.Http tests failing on debian
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.AcceptAllCerts.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.SslProtocols.cs
Labels: area-System.Net.Http

#39600 Performance improvements in the CryptoConfig class. CreateFromName is about 10x faster with this change.
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/CryptoConfig.cs
Labels: area-System.Security, tenet-performance

#40257 Make serialization null tests independent of reflection ordering
  src/System.Text.Json/tests/Serialization/Null.WriteTests.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.GenericCollections.cs
Labels: area-System.Text.Json

#40239 Use Strings.resx file within System.Text.Encodings.Web
  src/System.Text.Encodings.Web/src/Resources/Strings.resx
  src/System.Text.Encodings.Web/src/System.Text.Encodings.Web.csproj
  src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/TextEncoder.cs
Labels: area-System.Text.Encodings.Web

#40264 [release/3.0] Avoid disposing Http2Stream's request body cancellation source
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
Labels: area-System.Net.Http, ask-mode

#40236 [release/3.0] Fix bugs in null serialization (#40077)
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterKeyValuePair.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleEnumerable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleObject.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
  src/System.Text.Json/tests/Serialization/Null.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Null.WriteTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.GenericCollections.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.GenericCollections.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.TryGet.Date.cs
Labels: area-System.Text.Json, ask-mode

#40291 Fix problematic characters in XmlJsonReader.cs
  src/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/XmlJsonReader.cs
Labels: area-Serialization

#40117 [release/3.0]Handle `UnparseableExtension` status code when building X509Chain on …
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509chain.c
  src/System.Security.Cryptography.X509Certificates/tests/DynamicChainTests.cs
Labels: os-mac-os-x

#40294 Enable Sdl Validation in official builds
  .azure-ci.yml
Labels: area-Infrastructure

#40299 Tweak .editorconfig
  .editorconfig
Labels: area-Meta

#40292 Remove Microsoft.VisualBasic.{ApplicationServices,Devices,MyServices} (#39972)
  src/Microsoft.VisualBasic.Core/ref/Microsoft.VisualBasic.Core.cs
  src/Microsoft.VisualBasic.Core/src/Microsoft.VisualBasic.Core.vbproj
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/ApplicationServices/ApplicationBase.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/ApplicationServices/AssemblyInfo.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/ApplicationServices/ConsoleApplicationBase.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/ApplicationServices/StartupEventArgs.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/ApplicationServices/StartupNextInstanceEventArgs.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/ApplicationServices/UnhandledExceptionEventArgs.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/ApplicationServices/User.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/Devices/Audio.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/Devices/Clock.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/Devices/Computer.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/Devices/ComputerInfo.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/Devices/Keyboard.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/Devices/Mouse.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/Devices/Network.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/Devices/NetworkAvailableEventArgs.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/Devices/Ports.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/Devices/ServerComputer.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/MyServices/ClipboardProxy.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/MyServices/FileSystemProxy.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/MyServices/RegistryProxy.vb
  src/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/MyServices/SpecialDirectoriesProxy.vb
  src/Microsoft.VisualBasic.Core/tests/Microsoft.VisualBasic.Core.Tests.csproj
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/ApplicationServices/ApplicationBaseTests.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/ApplicationServices/AssemblyInfoTests.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/ApplicationServices/ConsoleApplicationBaseTests.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/ApplicationServices/StartupEventArgsTests.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/ApplicationServices/StartupNextInstanceEventArgsTests.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/ApplicationServices/UnhandledExceptionEventArgsTests.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/ApplicationServices/UserTests.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/Devices/ClockTests.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/Devices/ComputerInfoTests.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/Devices/ComputerTests.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/Devices/NetworkAvailableEventArgsTests.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/Devices/ServerComputerTests.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/MyServices/FileSystemProxyTests.cs
  src/Microsoft.VisualBasic.Core/tests/Microsoft/VisualBasic/MyServices/SpecialDirectoriesProxyTests.cs
Labels: area-Microsoft.VisualBasic

#40290 Fixed Dispose in JsonDocument and JsonDocument.MetadataDb in order to guard against multiple calls to ArrayPool.Return
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.MetadataDb.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/System.Text.Json/tests/JsonDocumentTests.cs
Labels: area-System.Text.Json

#40181 Consolidate the Image class, fix bug
  src/System.Drawing.Common/ref/System.Drawing.Common.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.cs
  src/System.Drawing.Common/src/System/Drawing/Image.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Image.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Image.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/EncoderParameters.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Metafile.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Metafile.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Metafile.cs
  src/System.Drawing.Common/tests/ImageTests.cs
Labels: area-System.Drawing

#40200 Fix JSON Writer docs for data writter as Base64-encoded text
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Bytes.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Bytes.cs
Labels: area-System.Text.Json, documentation

#39726 Add IPEndPoint tests and fix some bugs
  src/System.Net.Primitives/src/System/Net/IPEndPoint.cs
  src/System.Net.Primitives/tests/FunctionalTests/IPEndPointTest.cs
Labels: area-System.Net.Sockets, breaking-change

#40206 JsonObject implementation and tests
  src/System.Text.Json/docs/writable_json_dom_spec.md
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Node/DuplicatePropertyNameHandling.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonBoolean.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonNode.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonNumber.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonObject.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonObjectEnumerator.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonString.cs
  src/System.Text.Json/tests/JsonObjectTests.TestData.cs
  src/System.Text.Json/tests/JsonObjectTests.cs
  src/System.Text.Json/tests/JsonStringTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#40329 Fix potential null ref in RuntimeInformation.FrameworkDescription
  src/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/RuntimeInformation.cs
Labels: area-System.Runtime.InteropServices

#40334 Remove unnecessary null check from JsonClassInfo.CreatePolymorphicProperty
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
Labels: area-System.Text.Json

#40341 Fix null ref in ImmutableArray's structural comparer
  src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableArray_1.cs
  src/System.Collections.Immutable/tests/ImmutableArrayTest.cs
Labels: area-System.Collections

#40335 Avoid tracing-induced null ref in HttpListener when {Begin}Read/Write called with invalid buffer
  src/System.Net.HttpListener/src/System/Net/HttpRequestStream.cs
  src/System.Net.HttpListener/src/System/Net/HttpResponseStream.cs
Labels: area-System.Net

#40337 Remove duplicate branch in ColorTranslator.ToHtml
  src/Common/src/System/Drawing/ColorTranslator.cs
Labels: area-System.Drawing

#40320 Remove unnecessary null check from QueryDynamicObject
  src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/DynamicDebuggerProxy.cs
Labels: area-System.Linq.Expressions

#40323 Fix PKCS1MaskGenerationMethod.GenerateMask handling of invalid hash name
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/PKCS1MaskGenerationMethod.cs
  src/System.Security.Cryptography.Algorithms/tests/PKCS1MaskGenerationMethodTest.cs
Labels: area-System.Security

#40344 Delete dead code from XMLDiffLoader.ReadOldRowData
  src/System.Data.Common/src/System/Data/DataException.cs
  src/System.Data.Common/src/System/Data/XMLDiffLoader.cs
Labels: area-Serialization

#40322 Fix a few missing $s for string interpolation in tracing
  src/Common/src/System/Net/Security/SSPIHandleCache.cs
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpCertificateHelper.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.Digest.cs
  src/System.Net.Security/src/System/Net/CertificateValidationPal.Windows.cs
Labels: area-System.Net

#40313 Backport from 3.0
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_ssl.c
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509chain.c
  src/System.Security.Cryptography.X509Certificates/tests/DynamicChainTests.cs
Labels: area-System.Security

#40265 Use sealed securityContext in SecureChannel
  src/Common/src/Interop/Windows/SspiCli/ISSPIInterface.cs
  src/Common/src/Interop/Windows/SspiCli/Interop.SSPI.cs
  src/Common/src/Interop/Windows/SspiCli/SSPIAuthType.cs
  src/Common/src/Interop/Windows/SspiCli/SSPISecureChannelType.cs
  src/Common/src/Interop/Windows/SspiCli/SSPIWrapper.cs
  src/Common/src/Interop/Windows/SspiCli/SafeDeleteContext.cs
  src/Common/src/Interop/Windows/SspiCli/SecuritySafeHandles.cs
  src/Common/src/System/Net/Security/NegotiateStreamPal.Windows.cs
  src/System.Net.Security/src/System/Net/Security/NegoState.cs
  src/System.Net.Security/src/System/Net/Security/NegotiateStream.cs
  src/System.Net.Security/src/System/Net/Security/SecureChannel.cs
  src/System.Net.Security/src/System/Net/Security/SslStreamPal.OSX.cs
  src/System.Net.Security/src/System/Net/Security/SslStreamPal.Unix.cs
  src/System.Net.Security/src/System/Net/Security/SslStreamPal.Windows.cs
Labels: area-System.Net.Security

#40319 fixing ZipPackagePart.GetStreamCore crashes with NotSupportedException
  src/System.IO.Packaging/src/System/IO/Packaging/ZipPackagePart.cs
  src/System.IO.Packaging/tests/Tests.cs
Labels: area-System.IO.Packaging

#40238 Renaming Microsoft.Framework.WebEncoders namespace
  src/System.Text.Encodings.Web/tests/AllowedCharsBitmapTests.cs
  src/System.Text.Encodings.Web/tests/ConfigurableScalarTextEncoder.cs
  src/System.Text.Encodings.Web/tests/EncoderCommon.cs
  src/System.Text.Encodings.Web/tests/EncoderCommonTests.cs
  src/System.Text.Encodings.Web/tests/EncoderExtensionsTests.cs
  src/System.Text.Encodings.Web/tests/Extensions.cs
  src/System.Text.Encodings.Web/tests/HtmlEncoderTests.cs
  src/System.Text.Encodings.Web/tests/IHtmlEncoder.cs
  src/System.Text.Encodings.Web/tests/IJavaScriptStringEncoder.cs
  src/System.Text.Encodings.Web/tests/IUrlEncoder.cs
  src/System.Text.Encodings.Web/tests/JavaScriptStringEncoderTests.Relaxed.cs
  src/System.Text.Encodings.Web/tests/JavaScriptStringEncoderTests.cs
  src/System.Text.Encodings.Web/tests/PerformanceTests.cs
  src/System.Text.Encodings.Web/tests/ScalarTestEncoder.cs
  src/System.Text.Encodings.Web/tests/TemporaryEncoderAdapters.cs
  src/System.Text.Encodings.Web/tests/TemporaryEncoderExtensions.cs
  src/System.Text.Encodings.Web/tests/TemporaryInternalTypes.cs
  src/System.Text.Encodings.Web/tests/TextEncoderSettingsTests.cs
  src/System.Text.Encodings.Web/tests/TextEncoderTests.cs
  src/System.Text.Encodings.Web/tests/UnicodeEncoderBase.cs
  src/System.Text.Encodings.Web/tests/UnicodeEncoderBaseTests.cs
  src/System.Text.Encodings.Web/tests/UnicodeHelpersTests.cs
  src/System.Text.Encodings.Web/tests/UnicodeRangeTests.cs
  src/System.Text.Encodings.Web/tests/UrlEncoderTests.cs
Labels: area-System.Text.Encodings.Web

#40261 Prevent race condition issues with warm-up of property caching
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleObject.cs
  src/System.Text.Json/tests/Serialization/CacheTests.cs
Labels: area-System.Text.Json

#40287 Support custom converters that treat non-null input as null
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullableContravariant.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.NullValueType.cs
Labels: area-System.Text.Json

#39750 Tests for JsonSerializerOptions.GetConverter() and converter methods
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterKeyValuePair.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.Array.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.Dictionary.cs
  src/System.Text.Json/tests/Serialization/OptionsTests.cs
Labels: area-System.Text.Json

#40354 Avoid creating/populating unneeded certificate collection in SecureChannel.AcquireClientCredentials
  src/System.Net.Security/src/System/Net/CertificateValidationPal.Windows.cs
  src/System.Net.Security/src/System/Net/Security/SecureChannel.cs
Labels: area-System.Net.Security

#40355 fixing ZipPackagePart.GetStreamCore crashes with NotSupportedException
  src/System.IO.Packaging/src/System/IO/Packaging/ZipPackagePart.cs
  src/System.IO.Packaging/tests/Tests.cs
Labels: area-System.IO.Packaging, ask-mode

#40357 Support custom converters that treat non-null input as null (#40287)
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullableContravariant.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.NullValueType.cs
Labels: area-System.Text.Json, ask-mode

#40359 Adding CI legs to Release 3.1 branch
  .azure-ci.yml
Labels: area-Infrastructure

#40358 Adding CI legs to Release 3.1 branch
  .azure-ci.yml
Labels: area-Infrastructure

#40316 [Release/3.0] Enable Sdl Validation
  .azure-ci.yml
Labels: area-Infrastructure

#40324 [release/3.0] Fixed Dispose in JsonDocument and JsonDocument.MetadataDb in order toguard against multiple calls to ArrayPool.Return (#40290)
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.MetadataDb.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/System.Text.Json/tests/JsonDocumentTests.cs
Labels: area-System.Text.Json, ask-mode

#40338 Minor cleanup tweaks in Regex
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexRunner.cs
Labels: area-System.Text.RegularExpressions

#40364 Bump IntelliSense nupkg version to Preview 8 in eng/Versions.props
  eng/Versions.props
Labels: documentation

#40303 Fix BytesConsumed when reading JSON numbers within a multi-segment ReadOnlySequence via Utf8JsonReader
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.MultiSegment.cs
  src/System.Text.Json/tests/JsonTestHelper.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.MultiSegment.cs
Labels: area-System.Text.Json

#39937 Improve code coverage for VB Conversion module
  src/Microsoft.VisualBasic.Core/tests/ConversionTests.cs
Labels: area-Microsoft.VisualBasic

#40343 Remove unnecessary null check from ConstraintCollection
  src/System.Data.Common/src/System/Data/ConstraintCollection.cs
Labels: area-System.Collections

#40356 Prevent threading issues with warm-up of property caching (#40261)
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleObject.cs
  src/System.Text.Json/tests/Serialization/CacheTests.cs
Labels: area-System.Text.Json, ask-mode

#40317 Fix outerloop cron job
  eng/pipelines/outerloop.yml
Labels: area-Infrastructure

#40332 Disabling test failing in Mac OSX 10.15
  src/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.File.Move.cs
Labels: area-System.IO, os-mac-os-x

#40311 Enable build on hosted arm64
  Directory.Build.props
Labels: area-Infrastructure

#40380 [release/3.0] Bump IntelliSense nupkg version to Preview 8 in eng/Versions.props (40364)
  eng/Versions.props
Labels: documentation, tell-mode

#40375 Disable AssociatePersistedKey_CAPIviaCNG_RSA on arm64
  src/System.Security.Cryptography.X509Certificates/tests/CertificateCreation/PrivateKeyAssociationTests.cs
Labels: area-System.Security

#40377 Use Count in Enumerable.Any if available
  src/System.Linq/src/System/Linq/AnyAll.cs
  src/System.Linq/tests/AnyTests.cs
  src/System.Linq/tests/EnumerableTests.cs
Labels: area-System.Linq

#40372 Change 'type' back to 'inputType' on serialize methods
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.ByteArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Stream.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.String.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Utf8JsonWriter.cs
Labels: area-System.Text.Json

#40197 Corefx #40133 Use TryFormatDouble TryFormatFloat
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Double.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Float.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Double.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Float.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json

#40408 Avoid using double/floats within tests that don't roundtrip on netfx (for G17).
  src/System.Text.Json/tests/Serialization/OptionsTests.cs
Labels: area-System.Text.Json

#40401 Honor JsonIgnore attribute when applied to unsupported collections
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/tests/Serialization/PropertyVisibilityTests.cs
Labels: area-System.Text.Json

#40381 [release/3.0] JsonSerializerOptions.GetConverter() tests
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterKeyValuePair.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.Array.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.Dictionary.cs
  src/System.Text.Json/tests/Serialization/OptionsTests.cs
Labels: area-System.Text.Json, ask-mode

#40127 [release/3.0] Add DecoratedNameAttribute
  src/System.Runtime.CompilerServices.VisualC/ref/System.Runtime.CompilerServices.VisualC.cs
  src/System.Runtime.CompilerServices.VisualC/src/System/Runtime/CompilerServices/Attributes.cs
Labels: area-System.Runtime.CompilerServices, ask-mode, blocking-partner
