Repository dotnet/corefx, pull requests merged in 2019-05, with the labels that each got.

#37252 Add more UTF-16 validation tests
  src/System.Runtime/tests/System/Text/Unicode/Utf16UtilityTests.ValidateChars.netcoreapp.cs
Labels: area-System.Runtime

#37319 disable ParallelQueryCombinationTests on ARM systems with high core count
  src/System.Linq.Parallel/tests/Combinatorial/ParallelQueryCombinationTests.cs
Labels: area-System.Linq.Parallel, disabled-test

#37208 handle EPROTOTYPE error on OSX
  src/Native/Unix/System.Native/pal_networking.c
Labels: area-System.Net.Sockets, os-mac-os-x

#37284 update tests using "localhost" to be more liberal on verification of response address.
  src/System.Net.Ping/tests/FunctionalTests/PingTest.cs
  src/System.Net.Ping/tests/FunctionalTests/TestSettings.cs
Labels: area-System.Net, test enhancement

#37306 Internal Http SystemProxyInfo object should never be null
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpNoProxy.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SystemProxyInfo.Unix.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SystemProxyInfo.Windows.cs
  src/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
  src/System.Net.Http/tests/UnitTests/SystemProxyInfoTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#37324 Use Dns.GetHostAddresses in Socket.Connect
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
Labels: area-System.Net

#37329 Fix two more System.Net async instead of sync calls
  src/System.Net.Sockets/src/System/Net/Sockets/UDPClient.cs
  src/System.Net.WebProxy/src/System/Net/WebProxy.cs
Labels: area-System.Net

#37318 Fix NullReferenceException when a trusted cert chain fails usage
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.OSX/ChainPal.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslX509ChainProcessor.cs
  src/System.Security.Cryptography.X509Certificates/tests/ChainTests.cs
Labels: area-System.Security

#37337 Allow Http2Connection header-related processing buffers to grow
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HPackDecoder.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/Huffman.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Headers.cs
  src/System.Net.Http/tests/FunctionalTests/HuffmanDecodingTests.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#37339 Disable AutomaticOrManual_DoesntFailRegardlessOfWhetherClientCertsAreAvailable test
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ClientCertificates.cs
Labels: area-System.Net.Http

#37296 Publish test artifacts to AzDO
  .azure-ci.yml
  eng/pipelines/corefx-base.yml
  eng/pipelines/helix.yml
  eng/pipelines/windows.yml
  eng/sendtohelix.proj
  src/Microsoft.VisualBasic.Core/tests/Configurations.props
  src/System.Diagnostics.Process/tests/ProcessTests.cs
  src/System.Drawing.Common/tests/Printing/PrintDocumentTests.cs
  src/System.IO.Pipelines/tests/PipeWriterTests.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/System.Net.Sockets/tests/FunctionalTests/SocketOptionNameTest.cs
Labels: area-Infrastructure

#37323 Add JsonEncodedText with Utf8JsonWriter overloads that accept it
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/JsonEncodedText.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.Unescaping.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTime.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTimeOffset.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Decimal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Double.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Float.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Guid.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Literal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.SignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.String.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.UnsignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.String.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs
  src/System.Text.Json/tests/JsonDocumentTests.cs
  src/System.Text.Json/tests/JsonEncodedTextTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json

#35772 Added Range Manipulation APIs to Collection<T> and ObservableCollection<T>
  src/System.ObjectModel/src/System/Collections/ObjectModel/ObservableCollection.cs
  src/System.ObjectModel/tests/Configurations.props
  src/System.ObjectModel/tests/ObservableCollection/ObservableCollection_MethodTests.netcoreapp.cs
  src/System.ObjectModel/tests/ObservableCollection/ObservableCollection_MethodsTest.cs
  src/System.ObjectModel/tests/ObservableCollection/ObservableCollection_SkipCollectionChangedTests.netcoreapp.cs
  src/System.ObjectModel/tests/System.ObjectModel.Tests.csproj
  src/System.Runtime/ref/System.Runtime.cs
  src/System.Runtime/tests/System.Runtime.Tests.csproj
  src/System.Runtime/tests/System/Collections/ObjectModel/CollectionTests.cs
  src/System.Runtime/tests/System/Collections/ObjectModel/CollectionTests.netcoreapp.cs
Labels: area-System.Collections

#37234 Enable HTTP/2 in SocketsHttpHandler via HttpRequestMessage.Version
  src/Common/tests/System/Net/Http/GenericLoopbackServer.cs
  src/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/Common/tests/System/Net/Http/LoopbackProxyServer.cs
  src/Common/tests/System/Net/Http/LoopbackServer.AuthenticationHelpers.cs
  src/Common/tests/System/Net/Http/LoopbackServer.cs
  src/System.Diagnostics.Process/tests/ProcessTests.Unix.cs
  src/System.Diagnostics.Process/tests/ProcessTests.cs
  src/System.Net.Http/ref/System.Net.Http.cs
  src/System.Net.Http/src/System/Net/Http/HttpClient.cs
  src/System.Net.Http/src/System/Net/Http/HttpUtilities.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionSettings.cs
  src/System.Net.Http/tests/FunctionalTests/DefaultCredentialsTest.cs
  src/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClient.SelectedSitesTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientEKUTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.AcceptAllCerts.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Authentication.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.AutoRedirect.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cancellation.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ClientCertificates.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cookies.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Decompression.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.DefaultProxyCredentials.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Headers.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http1.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.MaxConnectionsPerServer.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.MaxResponseHeadersLength.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Proxy.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ResponseDrain.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ServerCertificates.Unix.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ServerCertificates.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.SslProtocols.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.TrailingHeaders.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTestBase.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientTest.netcoreapp.cs
  src/System.Net.Http/tests/FunctionalTests/HttpProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/HttpRequestMessageTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpRetryProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/IdnaProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/PlatformHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/PostScenarioTest.cs
  src/System.Net.Http/tests/FunctionalTests/PostScenarioUWPTest.cs
  src/System.Net.Http/tests/FunctionalTests/SchSendAuxRecordHttpTest.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/System.Net.Http/tests/FunctionalTests/TestHelper.cs
  src/System.Net.Http/tests/UnitTests/HttpContentTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#37363 Disable flaky Dns GetHostName tests on OSX
  src/System.Net.NameResolution/tests/FunctionalTests/GetHostByNameTest.cs
  src/System.Net.NameResolution/tests/FunctionalTests/GetHostEntryTest.cs
Labels: area-System.Net

#37355 Surround InvalidLargeEncode outerloop test with try-catch to avoid OOM
  src/System.Text.Json/tests/JsonEncodedTextTests.cs
Labels: area-System.Text.Json

#37369 Tweak preferLocal value in System.Net.Sockets
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncContext.Unix.cs
Labels: area-System.Net.Sockets, os-linux

#37371 Fix SendAsync_No100ContinueReceived_RequestBodySentEventually test flakiness
  src/Common/tests/System/Net/Http/LoopbackServer.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http, test bug

#36806 Start on object serialization.
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/JsonHelpers.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultConverters.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterJsonElement.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleValue.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStack.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.Escaping.cs
  src/System.Text.Json/tests/JsonTestHelper.cs
  src/System.Text.Json/tests/Serialization/JsonElementTests.cs
  src/System.Text.Json/tests/Serialization/Object.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Object.WriteTests.cs
  src/System.Text.Json/tests/Serialization/PolymorphicTests.cs
  src/System.Text.Json/tests/Serialization/SpanTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClassWithObject.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClassWithObjectArrays.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClassWithSimpleObject.cs
  src/System.Text.Json/tests/Serialization/TestData.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
  src/System.Text.Json/tests/TestClasses.ClassWithComplexObjects.cs
Labels: area-System.Text.Json

#37382 improve error reporting on OSX
  src/System.Net.Ping/tests/FunctionalTests/PingTest.cs
Labels: area-System.Net, test enhancement

#37069 reject invalid pseudo-headers
  src/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#37050 improve error handling on failed Http/2 handshake
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#37390 Fix Macedonian display name in ComponentModel CultureInfo converter
  src/System.ComponentModel.TypeConverter/src/System/ComponentModel/CultureInfoConverter.cs
Labels: area-System.ComponentModel

#37152 Support RSAES_OAEP certificates for EnvelopedCms
  src/Common/src/System/Security/Cryptography/Oids.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.KeyTrans.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/Windows/PkcsPalWindows.Encrypt.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/PkcsHelpers.cs
  src/System.Security.Cryptography.Pkcs/tests/Certificates.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/GeneralTests.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/KeyTransRecipientInfoRsaOaepCertTests.cs
  src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/KeyTransRecipientInfoRsaPaddingModeTests.cs
  src/System.Security.Cryptography.Pkcs/tests/System.Security.Cryptography.Pkcs.Tests.csproj
Labels: area-System.Security

#37391 Log exceptions from asynchronously failing Expect: 100-continue sends
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentReadStream.cs
Labels: area-System.Net.Http

#37433 Update serialization doc for Preview 5
  src/System.Text.Json/docs/SerializerProgrammingModel.md
Labels: area-System.Text.Json

#37346 Use X509_check_host when available instead of a custom implementation.
  src/Common/src/System/Net/Security/CertificateValidation.Unix.cs
  src/Native/Unix/System.Security.Cryptography.Native/apibridge.c
  src/Native/Unix/System.Security.Cryptography.Native/apibridge.h
  src/Native/Unix/System.Security.Cryptography.Native/openssl.c
  src/Native/Unix/System.Security.Cryptography.Native/opensslshim.h
  src/System.Security.Cryptography.X509Certificates/tests/HostnameMatchTests.Unix.cs
Labels: area-System.Security

#37273 Adding Microsoft.Bcl.HashCode package for .NET Standard 2.0
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  pkg/descriptions.json
  src/Microsoft.Bcl.HashCode/Directory.Build.props
  src/Microsoft.Bcl.HashCode/Microsoft.Bcl.HashCode.sln
  src/Microsoft.Bcl.HashCode/pkg/Microsoft.Bcl.HashCode.pkgproj
  src/Microsoft.Bcl.HashCode/ref/Configurations.props
  src/Microsoft.Bcl.HashCode/ref/Microsoft.Bcl.HashCode.Forwards.cs
  src/Microsoft.Bcl.HashCode/ref/Microsoft.Bcl.HashCode.cs
  src/Microsoft.Bcl.HashCode/ref/Microsoft.Bcl.HashCode.csproj
  src/Microsoft.Bcl.HashCode/src/BitOperations.cs
  src/Microsoft.Bcl.HashCode/src/Configurations.props
  src/Microsoft.Bcl.HashCode/src/Interop.GetRandomBytes.cs
  src/Microsoft.Bcl.HashCode/src/Microsoft.Bcl.HashCode.csproj
  src/Microsoft.Bcl.HashCode/src/Resources/Strings.resx
Labels: area-Meta

#37443 Define X509_CHECK_FLAG_NO_PARTIAL_WILDCARDS on non-portable compat builds
  src/Native/Unix/System.Security.Cryptography.Native/opensslshim.h
Labels: area-System.Security

#37450 Disable GetSchema test on Win7
  src/System.Data.OleDb/tests/OleDbConnectionTests.cs
Labels: area-System.Data

#37410 Optimize Enumerable.Range(...).Select(...)
  src/System.Linq/src/System/Linq/Range.SpeedOpt.cs
  src/System.Linq/src/System/Linq/Repeat.SpeedOpt.cs
  src/System.Linq/src/System/Linq/Select.SpeedOpt.cs
Labels: area-System.Linq

#37340 Update the dotnet SDK to 3.0.100-preview6-011681 (latest)
  Directory.Build.targets
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/build.ps1
  eng/common/build.sh
  eng/common/init-tools-native.ps1
  eng/common/init-tools-native.sh
  eng/common/tools.ps1
  eng/common/tools.sh
  global.json
  pkg/test/testPackages.proj
Labels: area-Infrastructure

#37275 Add JsonException and make JsonSerializationException derive from JsonException and be internal
  src/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTestData.cs
  src/System.Runtime.Serialization.Formatters/tests/EqualityExtensions.cs
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.Parse.cs
  src/System.Text.Json/src/System/Text/Json/JsonCommentHandling.cs
  src/System.Text.Json/src/System/Text/Json/JsonException.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderException.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderOptions.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.MultiSegment.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleNull.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Span.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Stream.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.String.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/tests/JsonDocumentTests.cs
  src/System.Text.Json/tests/JsonTestHelper.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
  src/System.Text.Json/tests/Serialization/EnumTests.cs
  src/System.Text.Json/tests/Serialization/ExceptionTests.cs
  src/System.Text.Json/tests/Serialization/Object.ReadTests.cs
  src/System.Text.Json/tests/Serialization/OptionsTests.cs
  src/System.Text.Json/tests/Serialization/PolymorphicTests.cs
  src/System.Text.Json/tests/Serialization/PropertyNameTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
  src/System.Text.Json/tests/Utf8JsonReaderTests.MultiSegment.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json

#37300 Improve null handling and test coverage for Json (de)serializer
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleNull.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleEnumerable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/System.Text.Json/tests/Serialization/Array.ReadTests.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
  src/System.Text.Json/tests/Serialization/Null.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Null.WriteTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClass.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClassWithNullables.cs
  src/System.Text.Json/tests/Serialization/TestClasses.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.cs
Labels: area-System.Text.Json

#37476 Propagate System.Runtime.WindowsRuntime package build targets though transitive references.
  src/System.Runtime.WindowsRuntime/pkg/System.Runtime.WindowsRuntime.pkgproj
Labels: area-System.Runtime.InteropServices

#37505 handle Http2Stream add/remove better
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#37521 Reenable tests
  src/System.Runtime.Loader/tests/SatelliteAssemblies.cs
Labels: area-System.Runtime.Loader

#37508 Fix #37506: System.Text.Json fails to parse enums with negative values
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterEnum.cs
  src/System.Text.Json/tests/Serialization/EnumTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClass.cs
  src/System.Text.Json/tests/Serialization/TestClasses.cs
Labels: area-System.Text.Json, bug

#37401 Expose and test APIs for some threading metrics (CoreFX)
  src/Common/tests/System/Threading/ThreadTestHelpers.cs
  src/System.Threading.Overlapped/tests/Configurations.props
  src/System.Threading.Overlapped/tests/System.Threading.Overlapped.Tests.csproj
  src/System.Threading.Overlapped/tests/ThreadPoolBoundHandle_IntegrationTests.netcoreapp.cs
  src/System.Threading.Thread/tests/System.Threading.Thread.Tests.csproj
  src/System.Threading.Thread/tests/ThreadTests.netcoreapp.cs
  src/System.Threading.ThreadPool/ref/System.Threading.ThreadPool.cs
  src/System.Threading.ThreadPool/src/ApiCompatBaseline.uapaot.txt
  src/System.Threading.ThreadPool/tests/Configurations.props
  src/System.Threading.ThreadPool/tests/System.Threading.ThreadPool.Tests.csproj
  src/System.Threading.ThreadPool/tests/ThreadPoolTests.netcoreapp.cs
  src/System.Threading.Timer/tests/Configurations.props
  src/System.Threading.Timer/tests/System.Threading.Timer.Tests.csproj
  src/System.Threading.Timer/tests/TimerFiringTests.cs
  src/System.Threading/ref/System.Threading.cs
  src/System.Threading/src/ApiCompatBaseline.uapaot.txt
  src/System.Threading/tests/Configurations.props
  src/System.Threading/tests/MonitorTests.cs
  src/System.Threading/tests/MonitorTests.netcoreapp.cs
  src/System.Threading/tests/System.Threading.Tests.csproj
  src/System.Threading/tests/ThreadLocalTests.cs
Labels: area-System.Threading

#37509 Adds more OleDb tests
  src/System.Data.OleDb/src/System/Data/Common/FieldNameLookup.cs
  src/System.Data.OleDb/tests/Helpers.cs
  src/System.Data.OleDb/tests/OleDbCommandBuilderTests.cs
  src/System.Data.OleDb/tests/OleDbCommandTests.cs
  src/System.Data.OleDb/tests/OleDbConnectionTests.cs
  src/System.Data.OleDb/tests/OleDbDataAdapterTests.cs
  src/System.Data.OleDb/tests/OleDbDataReaderTests.cs
  src/System.Data.OleDb/tests/OleDbParameterTests.cs
  src/System.Data.OleDb/tests/OleDbTestBase.cs
Labels: System.Data.OleDb

#37560 Use RetryHelper to harden flaky tests
  src/System.Diagnostics.EventLog/tests/Helpers.cs
Labels: area-System.Diagnostics

#37540 troubleshooting OleDb failures
  src/System.Data.OleDb/tests/Helpers.cs
  src/System.Data.OleDb/tests/OleDbCommandBuilderTests.cs
  src/System.Data.OleDb/tests/OleDbCommandTests.cs
  src/System.Data.OleDb/tests/OleDbConnectionTests.cs
  src/System.Data.OleDb/tests/OleDbDataAdapterTests.cs
  src/System.Data.OleDb/tests/OleDbDataReaderTests.cs
  src/System.Data.OleDb/tests/OleDbParameterTests.cs
  src/System.Data.OleDb/tests/OleDbTestBase.cs
Labels: System.Data.OleDb

#37570 Add AssemblyResolve_FirstChanceException test
  src/System.Runtime.Extensions/tests/System/AppDomainTests.netcoreapp.cs
Labels: area-System.Runtime.Loader, test enhancement

#37308 Add support for more collections
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Serialization/ClassMaterializer.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultArrayConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultEnumerableConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultIEnumerableConstructibleConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultImmutableConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonEnumerableConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReflectionEmitMaterializer.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReflectionMaterializer.cs
  src/System.Text.Json/tests/Serialization/Array.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Array.WriteTests.cs
  src/System.Text.Json/tests/Serialization/Null.WriteTests.cs
  src/System.Text.Json/tests/Serialization/PolymorphicTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.Polymorphic.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClass.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClassWithObject.cs
  src/System.Text.Json/tests/Serialization/TestClasses.cs
  src/System.Text.Json/tests/Serialization/TestData.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.GenericCollections.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.ImmutableCollections.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.GenericCollections.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.ImmutableCollections.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#36710 Fix ODBC issues with UTF-16
  src/Common/src/Interop/Interop.Odbc.cs
  src/System.Data.Odbc/src/System/Data/Odbc/OdbcConnection.cs
Labels: area-System.Data

#37549 Allow trailing trivia in JsonSerializer.Parse and Read #37500
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStack.cs
  src/System.Text.Json/tests/Serialization/Null.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Object.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Stream.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.cs
Labels: area-System.Text.Json

#37572 update HTTP2 responce header processing
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Headers.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#37310 Replace the esoteric '<<' in calls to Buffer.BlockCopy() in URI.cs
  src/System.Private.Uri/src/System/Uri.cs
Labels: area-System.Net

#37652 disable UDS tests on Nano
  src/System.Net.Sockets/tests/FunctionalTests/UnixDomainSocketTest.netcoreapp.cs
Labels: area-System.Net.Sockets

#37654 Move colon debug assert to where it is needed
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.Date.cs
Labels: area-System.Text.Json

#37593 Add ToXmlString and FromXmlString implementations to RSA and DSA.
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/DSA/DSAFactory.cs
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/DSA/DSAXml.cs
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RSA/ImportExport.cs
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RSA/RSAKeyFileTests.cs
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RSA/RSAXml.cs
  src/System.Security.Cryptography.Algorithms/src/Resources/Strings.resx
  src/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/DSA.Xml.cs
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/RSA.Xml.cs
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/XmlKeyHelper.cs
  src/System.Security.Cryptography.Algorithms/tests/System.Security.Cryptography.Algorithms.Tests.csproj
Labels: area-System.Security

#36959 Added optional/default parameters for StreamWriter/StreamReader
  src/System.IO/tests/StreamReader/StreamReader.CtorTests.cs
  src/System.IO/tests/StreamReader/StreamReaderTests.netcoreapp.cs
  src/System.IO/tests/StreamWriter/StreamWriter.CtorTests.cs
  src/System.IO/tests/StreamWriter/StreamWriter.WriteTests.netcoreapp.cs
  src/System.Runtime.Extensions/ref/System.Runtime.Extensions.cs
Labels: area-System.IO

#37416 Improve test coverage for SequenceReader.
  src/System.Memory/src/System/Buffers/SequenceReader.cs
  src/System.Memory/tests/SequenceReader/Advance.cs
  src/System.Memory/tests/SequenceReader/CopyTo.cs
  src/System.Memory/tests/SequenceReader/IsNext.cs
  src/System.Memory/tests/SequenceReader/Rewind.cs
  src/System.Memory/tests/SequenceReader/SkipDelimiter.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
Labels: area-System.Buffers

#37529 Add Guid serialization support.
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultConverters.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterGuid.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClassWithNullables.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClassWithObjectArrays.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClassWithSimpleObject.cs
Labels: area-System.Text.Json

#37681 Remove ILC testing
  Directory.Build.props
  Directory.Build.targets
  eng/InternalTools.props
  eng/Versions.props
  eng/dependencies.props
  eng/internal/NuGet.config
  eng/pipelines/corefx-base.yml
  eng/pipelines/windows.yml
  eng/sendtohelix.proj
  external/runtime/runtime.depproj
  external/test-runtime/XUnit.Runtime.depproj
  src/pretest.builds
Labels: area-Infrastructure

#37686 Fix serialization of Dictionary<string, object>
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
Labels: area-System.Text.Json

#37685 update/add links
  README.md
Labels: documentation

#37294 Linux: ProcessName: return script name instead of interpreter program
  src/Common/src/Interop/Linux/procfs/Interop.ProcFsStat.cs
  src/Common/src/System/IO/StringParser.cs
  src/Common/tests/Tests/Interop/procfsTests.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.Linux.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Linux.cs
  src/System.Diagnostics.Process/tests/ProcessTests.Unix.cs
  src/System.Diagnostics.Process/tests/ProcessTests.cs
Labels: area-System.Diagnostics.Process

#37611 Added failing test case for issue #37610 - [System.Text.Json] Serializing class that has array of children of the same class throws StackOverflowException
  src/System.Text.Json/tests/Serialization/CyclicTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.cs
Labels: area-System.Text.Json

#37675 Add placeholder entry to global.json
  global.json
Labels: area-Infrastructure

#37616 Fixed deserialization of null arrays for issue #37606
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleNull.cs
  src/System.Text.Json/tests/Serialization/Null.ReadTests.cs
Labels: area-System.Text.Json

#37596 Fix a bug in xsd validation during deserialization
  src/System.Private.Xml/src/System/Xml/Core/XsdValidatingReader.cs
  src/System.Private.Xml/tests/XmlSerializer/XmlSerializerTests.cs
  src/System.Runtime.Serialization.Xml/tests/SerializationTypes.cs
Labels: area-Serialization

#37647 Use Arcade DotNetTool and NuGetPackageRoot
  Directory.Build.props
  eng/Packaging.props
  eng/Tools.props
  eng/configure-toolset.ps1
  eng/configure-toolset.sh
  eng/publish.proj
  external/ILLink/ILLink.depproj
  external/netfx/netfx.depproj
  external/netstandard/netstandard.depproj
  external/test-runtime/XUnit.Runtime.depproj
  pkg/Microsoft.Private.PackageBaseline/Microsoft.Private.PackageBaseline.pkgproj
  pkg/frameworkPackage.targets
  pkg/test/testPackages.proj
  src/System.ComponentModel.TypeConverter/tests/System.ComponentModel.TypeConverter.Tests.csproj
  src/System.Drawing.Common/tests/System.Drawing.Common.Tests.csproj
  src/System.IO.Compression.Brotli/tests/System.IO.Compression.Brotli.Tests.csproj
  src/System.IO.Compression.ZipFile/tests/System.IO.Compression.ZipFile.Tests.csproj
  src/System.IO.Compression/tests/System.IO.Compression.Tests.csproj
  src/System.IO.Packaging/tests/System.IO.Packaging.Tests.csproj
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
  src/System.Net.WebSockets.Client/tests/System.Net.WebSockets.Client.Tests.csproj
  src/System.Resources.Extensions/tests/System.Resources.Extensions.Tests.csproj
  src/System.Runtime.WindowsRuntime.UI.Xaml/pkg/System.Runtime.WindowsRuntime.UI.Xaml.pkgproj
  src/System.Runtime.WindowsRuntime/pkg/System.Runtime.WindowsRuntime.pkgproj
  src/System.Security.Cryptography.X509Certificates/tests/System.Security.Cryptography.X509Certificates.Tests.csproj
  src/System.Windows.Extensions/tests/System.Windows.Extensions.Tests.csproj
Labels: area-Infrastructure

#37712 Add interleaved comments to JsonSerializer tests
  src/System.Text.Json/tests/Serialization/Object.ReadTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.cs
Labels: area-System.Text.Json, test enhancement

#37155 Clean up usage of ArrayPool in the Cryptography assemblies
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Crypto.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Encode.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.PooledCrypto.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.BitString.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.GeneralizedTime.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.Integer.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.OctetString.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.Oid.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.Text.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.UtcTime.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnWriter.BitString.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnWriter.Oid.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnWriter.Text.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnWriter.cs
  src/Common/src/System/Security/Cryptography/CngPkcs8.cs
  src/Common/src/System/Security/Cryptography/CryptoPool.cs
  src/Common/src/System/Security/Cryptography/DSACng.SignVerify.cs
  src/Common/src/System/Security/Cryptography/DSAOpenSsl.cs
  src/Common/src/System/Security/Cryptography/ECDiffieHellmanOpenSsl.Derive.cs
  src/Common/src/System/Security/Cryptography/ECDsaOpenSsl.cs
  src/Common/src/System/Security/Cryptography/EccKeyFormatHelper.cs
  src/Common/src/System/Security/Cryptography/KeyFormatHelper.cs
  src/Common/src/System/Security/Cryptography/PasswordBasedEncryption.cs
  src/Common/src/System/Security/Cryptography/Pkcs12Kdf.cs
  src/Common/src/System/Security/Cryptography/RSACng.EncryptDecrypt.cs
  src/Common/src/System/Security/Cryptography/RSAOpenSsl.cs
  src/Common/src/System/Security/Cryptography/RSASecurityTransforms.cs
  src/Common/src/System/Security/Cryptography/RsaPaddingProcessor.cs
  src/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/OpenSslCipher.cs
  src/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/DSA.cs
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/ECDsa.cs
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/RSA.cs
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/RandomNumberGenerator.cs
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/Rfc2898DeriveBytes.cs
  src/System.Security.Cryptography.Algorithms/tests/Rfc2898Tests.cs
  src/System.Security.Cryptography.Cng/src/System.Security.Cryptography.Cng.csproj
  src/System.Security.Cryptography.Encoding/src/System.Security.Cryptography.Encoding.csproj
  src/System.Security.Cryptography.Encoding/tests/System.Security.Cryptography.Encoding.Tests.csproj
  src/System.Security.Cryptography.OpenSsl/src/System.Security.Cryptography.OpenSsl.csproj
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.Asn.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.Decrypt.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.KeyTrans.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/Windows/HelpersWindows.cs
  src/System.Security.Cryptography.Pkcs/src/System.Security.Cryptography.Pkcs.csproj
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSignature.DSA.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSignature.ECDsa.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Pkcs12Builder.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Pkcs12SafeContents.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Pkcs8PrivateKeyInfo.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SignedCms.cs
  src/System.Security.Cryptography.Primitives/src/System.Security.Cryptography.Primitives.csproj
  src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/AsymmetricAlgorithm.cs
  src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/CryptoStream.cs
  src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/HashAlgorithm.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CrlCache.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslX509ChainProcessor.cs
  src/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
Labels: area-System.Security

#37690 Add extension data support to Json serializer
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/JsonHelpers.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonExtensionDataAttribute.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleNull.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandlePropertyName.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleValue.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleEnumerable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStack.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/tests/Serialization/Array.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Array.WriteTests.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
  src/System.Text.Json/tests/Serialization/ExtensionDataTests.cs
  src/System.Text.Json/tests/Serialization/OptionsTests.cs
  src/System.Text.Json/tests/Serialization/PropertyVisibilityTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#37728 Enable rolling builds and add arm64 in outerloop
  .azure-ci.yml
  eng/pipelines/corefx-base.yml
  eng/pipelines/freebsd.yml
  eng/pipelines/linux.yml
  eng/pipelines/macos.yml
  eng/pipelines/outerloop.yml
  eng/pipelines/redhat6.yml
  eng/pipelines/windows.yml
  src/System.Diagnostics.Process/tests/ProcessTests.Unix.cs
Labels: area-Infrastructure

#37754 Move runtests to eng and fix invocation
  eng/run-test.sh
Labels: area-Infrastructure

#37285 Unit tests for Path.Join overloads
  src/System.Runtime.Extensions/ref/System.Runtime.Extensions.cs
  src/System.Runtime.Extensions/tests/System/IO/PathTests_Join.netcoreapp.cs
Labels: area-System.IO

#37761 Add resource containers missing in Outerloop.yml
  eng/pipelines/outerloop.yml
Labels: area-Infrastructure

#35934 Consume comments changes
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.MultiSegment.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.MultiSegment.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json

#37766 Allow run Outerloop tests only
  eng/Version.Details.xml
  eng/Versions.props
  eng/build.ps1
  eng/build.sh
  eng/common/build.ps1
  eng/common/dotnet-install.ps1
  eng/pipelines/corefx-base.yml
  eng/pipelines/freebsd.yml
  eng/pipelines/helix.yml
  eng/pipelines/linux.yml
  eng/pipelines/macos.yml
  eng/pipelines/outerloop.yml
  eng/pipelines/redhat6.yml
  eng/pipelines/windows.yml
  eng/sendtohelix.proj
  global.json
Labels: area-Infrastructure

#36506 Added value type serialization support
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/MemberAccessor.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReflectionEmitMaterializer.cs
  src/System.Text.Json/tests/Serialization/Object.ReadTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestStruct.cs
  src/System.Text.Json/tests/Serialization/TestData.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#37713 Throw ArgumentException in JsonSerializer if ReadCommentHandling is Allow #37634
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/System.Text.Json/tests/Serialization/Object.ReadTests.cs
  src/System.Text.Json/tests/Serialization/OptionsTests.cs
Labels: area-System.Text.Json

#37791 SkipValidation when using the writer internally within the serializer.
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.MultiSegment.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
Labels: area-System.Text.Json

#37789 Add string-based WriteAsProperty overload to JsonElement.
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/tests/JsonElementWriteTests.cs
Labels: area-System.Text.Json

#37805 Fix testscope usage in yml and sh script
  eng/build.sh
  eng/pipelines/corefx-base.yml
Labels: area-Infrastructure

#37392 Fix Macedonian display name in ComponentModel CultureInfo converter
  src/System.ComponentModel.TypeConverter/src/System/ComponentModel/CultureInfoConverter.cs
Labels: Servicing-approved

#37393 Fix Macedonian display name in ComponentModel CultureInfo converter
  src/System.ComponentModel.TypeConverter/src/System/ComponentModel/CultureInfoConverter.cs
Labels: Servicing-approved

#37809 Ensure JsonException is thrown parsing invalid DateTime, DateTimeOffset, and Guid #37807
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterDateTime.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterDateTimeOffset.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterGuid.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.cs
Labels: area-System.Text.Json

#37268 [release/2.1] Update 2.1 RID Graph
  pkg/Microsoft.NETCore.Platforms/Microsoft.NETCore.Platforms.pkgproj
  pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  pkg/Microsoft.NETCore.Platforms/runtime.json
  pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
  src/packages.builds
Labels: Servicing-approved, area-Infrastructure

#37269 [release/2.2] Update 2.2 RID Graph
  pkg/Microsoft.NETCore.Platforms/Microsoft.NETCore.Platforms.pkgproj
  pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  pkg/Microsoft.NETCore.Platforms/runtime.json
  pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
  src/packages.builds
Labels: Servicing-approved, area-Infrastructure

#37784 Add Microsoft.Private.CoreFx.OOB package
  pkg/Microsoft.Private.CoreFx.OOB/Microsoft.Private.CoreFx.OOB.builds
  pkg/Microsoft.Private.CoreFx.OOB/Microsoft.Private.CoreFx.OOB.pkgproj
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  pkg/descriptions.json
  src/Directory.Build.targets
Labels: area-Infrastructure

#35705 Implement GetComment API
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.TryGet.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json

#37827 Test DetermineCanModifyStores disabled tests
  src/System.Security.Cryptography.X509Certificates/tests/ChainTests.cs
  src/System.Security.Cryptography.X509Certificates/tests/System.Security.Cryptography.X509Certificates.Tests.csproj
  src/System.Security.Cryptography.X509Certificates/tests/TestEnvironmentConfiguration.Unix.cs
  src/System.Security.Cryptography.X509Certificates/tests/TestEnvironmentConfiguration.cs
  src/System.Security.Cryptography.X509Certificates/tests/X509FilesystemTests.Unix.cs
Labels: area-System.Security

#37818 Avoid StackOverflowException when cyclic Type reference
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandlePropertyName.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleValue.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleEnumerable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/tests/Serialization/CyclicTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.cs
Labels: area-System.Text.Json

#37845 Exclude non netcoreapp packages from OOB package
  pkg/Microsoft.Private.CoreFx.OOB/Microsoft.Private.CoreFx.OOB.pkgproj
Labels: area-Infrastructure

#37721 Add Utc test to ensure creating only one instance
  src/System.Runtime/tests/System/TimeZoneInfoTests.cs
Labels: * NO MERGE *

#37600 Update packageIndex.json with packages from release branches
  external/harvestPackages/harvestPackages.props
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  pkg/test/packageSettings/System.Diagnostics.DiagnosticSource/workaroundMissingSystemMemory.targets
  src/System.ComponentModel.Composition/src/System.ComponentModel.Composition.csproj
  src/System.ComponentModel.Composition/src/System/ComponentModel/Composition/CatalogReflectionContextAttribute.cs
  src/System.Diagnostics.DiagnosticSource/pkg/System.Diagnostics.DiagnosticSource.pkgproj
  src/System.IO.Pipelines/pkg/System.IO.Pipelines.pkgproj
  src/System.Reflection.Context/Directory.Build.props
  src/System.Reflection.Context/pkg/System.Reflection.Context.pkgproj
  src/System.Reflection.Context/ref/System.Reflection.Context.csproj
Labels: area-Infrastructure, auto-merge-squash

#37779 Fix ambiguous Utf8JsonReader Get/TryGet method documentation
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.cs
Labels: area-System.Text.Json

#37854 Using netcoreapp2.1 version if colorUtil for all new netcoreapp versions
  src/Common/src/System/Drawing/ColorUtil.netcoreapp21.cs
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
Labels: auto-merge

#37315 initial support for new network protocols
  src/Common/src/System/Net/Sockets/ProtocolFamily.cs
  src/Native/Unix/System.Native/pal_networking.c
  src/Native/Unix/System.Native/pal_networking.h
  src/System.Net.Primitives/ref/System.Net.Primitives.cs
  src/System.Net.Primitives/src/System/Net/Sockets/AddressFamily.cs
  src/System.Net.Sockets/ref/System.Net.Sockets.cs
  src/System.Net.Sockets/tests/FunctionalTests/CreateSocketTests.cs
  src/System.Net.Sockets/tests/FunctionalTests/CreateSocketTests.netcoreapp.cs
  src/System.Net.Sockets/tests/FunctionalTests/System.Net.Sockets.Tests.csproj
Labels: area-System.Net

#37871 Fix powershell command invocation for test
  eng/build.ps1
Labels: area-Infrastructure

#37869 Use netfx ref package from nuget
  pkg/test/frameworkSettings/net/settings.targets
  pkg/test/packageTest.targets
Labels: area-Infrastructure

#37858 Use RepoTools instead of global tools
  Directory.Build.props
  eng/Tools.props
  eng/dotnet-tools.json
  eng/sendtohelix.proj
Labels: area-Infrastructure

#37867 Allow unlimited json array dimensions during deserialization
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandlePropertyName.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/tests/Serialization/Array.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Array.WriteTests.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
  src/System.Text.Json/tests/Serialization/Object.ReadTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClass.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#37917 Fix typo in JsonSerializer api documentation.
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.ByteArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Stream.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.String.cs
Labels: area-System.Text.Json, documentation

#37866 Address #37794 by removing "UTF-16" when not needed in System.Text.Json docs
  src/System.Text.Json/src/System/Text/Json/JsonEncodedText.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.String.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTime.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTimeOffset.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Decimal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Double.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Float.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.FormattedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Guid.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Literal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.SignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.String.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.UnsignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Comment.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.String.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs
Labels: area-System.Text.Json, documentation

#37912 Rename ToBytes to ToUtf8Bytes
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.ByteArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.String.cs
  src/System.Text.Json/tests/Serialization/SpanTests.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json

#37910 Update xml doc comment for JsonSerializerOptions.IgnoreReadOnlyProperties
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
Labels: area-System.Text.Json

#37934 move tests with external servers to outerloop
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.MaxConnectionsPerServer.cs
Labels: area-System.Net.Http, test enhancement

#37785 User-Agent header is ignored in "CONNECT" requests
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#37793 Add Skip and TrySkip APIs to Utf8JsonReader with tests.
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/tests/JsonTestHelper.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.MultiSegment.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json

#37829 Make JsonPropertyNameAttribute.Name property readonly
  src/System.Text.Json/docs/SerializerProgrammingModel.md
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyNameAttribute.cs
Labels: area-System.Text.Json, auto-merge

#37973 Improve SocketAddress.ToString() performance
  src/Common/src/System/Net/SocketAddress.cs
  src/System.Net.NetworkInformation/src/System.Net.NetworkInformation.csproj
  src/System.Net.Primitives/tests/FunctionalTests/SocketAddressTest.cs
Labels: area-System.Net.Sockets

#37996 Make AuthenticateAsClient/ServerAsync cancellation token optional
  src/System.Net.Security/ref/System.Net.Security.cs
  src/System.Net.Security/src/System/Net/Security/SslStream.cs
Labels: area-System.Net.Security

#34529 Base64 encoding with simd-support
  THIRD-PARTY-NOTICES.TXT
  src/System.Memory/src/System.Memory.csproj
  src/System.Memory/src/System/Buffers/Text/Base64.cs
  src/System.Memory/src/System/Buffers/Text/Base64Decoder.cs
  src/System.Memory/src/System/Buffers/Text/Base64Encoder.cs
  src/System.Memory/tests/Base64/Base64DecoderUnitTests.cs
Labels: area-System.Memory

#37990 Remove SSL cancellation workaround from SocketsHttpHandler
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#38023 Add package override to tools.props
  eng/Tools.props
Labels: area-Infrastructure

#37976 Avoid .ToArray() in JsonSerializer .NET Standard implementation
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Stream.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/PooledByteBufferWriter.cs
Labels: area-System.Text.Json, tenet-performance

#38009 improve reliability of HttpListenerFactory by verifying that Connect works
  src/System.Net.HttpListener/tests/HttpListenerFactory.cs
Labels: area-System.Net, test enhancement

#37718 Add readonly modifiers to SequenceReader.
  src/System.Memory/ref/System.Memory.cs
  src/System.Memory/src/System/Buffers/SequenceReader.cs
  src/System.Memory/tests/SequenceReader/Rewind.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
Labels: area-System.Buffers

#38029 Add test to validate #36167 is fixed.
  src/System.Text.Json/tests/Serialization/Array.ReadTests.cs
Labels: area-System.Text.Json

#38030 Add test to validate #37567.
  src/System.Text.Json/tests/Serialization/PropertyVisibilityTests.cs
Labels: area-System.Text.Json

#37900 Move dotnet-tools config
  .config/dotnet-tools.json
  eng/Version.Details.xml
  eng/Versions.props
  external/test-runtime/XUnit.Runtime.depproj
  global.json
Labels: area-Infrastructure

#37933 Enable MaxConnectionsPerServer_WaitingConnectionsAreCancelable again
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cancellation.cs
Labels: area-System.Net.Http

#38026 Use alpine3.9 in PRs
  eng/pipelines/linux.yml
Labels: area-Infrastructure

#38037 Disable warning suppressions related to missing XML comments within S.T.Json.
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/JsonException.cs
  src/System.Text.Json/src/System/Text/Json/JsonTokenType.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonIgnoreAttribute.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonNamingPolicy.cs
Labels: area-System.Text.Json, documentation

#38004 Remove source package related comments on internal APIs and csproj/props file.
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.DbRow.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.TryGetProperty.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.ArrayEnumerator.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.ObjectEnumerator.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/PooledByteBufferWriter.cs
  src/System.Text.Json/tests/Configurations.props
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json

#37358 Ignore some System.Runtime tests on Mono
  src/CoreFx.Private.TestUtilities/ref/CoreFx.Private.TestUtilities.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.cs
  src/System.Buffers/tests/ArrayPool/CollectionTests.cs
  src/System.Net.Sockets/tests/FunctionalTests/UdpClientTest.cs
  src/System.Runtime/tests/System/EnumTests.cs
  src/System.Runtime/tests/System/GCTests.cs
  src/System.Runtime/tests/System/Runtime/CompilerServices/ConditionalWeakTableTests.cs
Labels: area-System.Runtime

#37909 Cache the escaped property names
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterBoolean.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterByte.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterChar.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterDateTime.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterDateTimeOffset.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterDecimal.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterDouble.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterEnum.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterGuid.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterInt16.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterInt32.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterInt64.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterJsonElement.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterSByte.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterSingle.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterString.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterUInt16.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterUInt32.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterUInt64.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Policies/JsonValueConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStackFrame.cs
Labels: area-System.Text.Json

#37894 Update float converter and related tests
  src/System.Text.Json/src/System/Text/Json/JsonHelpers.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterSingle.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#38044 Address leftover feedback related to Skip/TrySkip APIs.
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
Labels: area-System.Text.Json, auto-merge

#37853 Using reflection to add handler for user preference events
  src/Common/src/System/Drawing/ColorTranslator.cs
  src/Common/src/System/Drawing/KnownColorTable.cs
  src/System.Drawing.Common/ref/System.Drawing.Common.Forwards.cs
  src/System.Drawing.Common/ref/System.Drawing.Common.cs
  src/System.Drawing.Common/ref/System.Drawing.Common.netstandard.cs
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/System.Drawing.Primitives/ref/System.Drawing.Primitives.cs
  src/System.Drawing.Primitives/src/Resources/Strings.resx
  src/System.Drawing.Primitives/src/System.Drawing.Primitives.csproj
  src/System.Drawing.Primitives/tests/ColorTests.cs
Labels: auto-merge

#37938 Change JsonException.Path to be a json-based path
  src/System.Text.Json/src/System/Text/Json/JsonException.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleNull.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandlePropertyName.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStack.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
  src/System.Text.Json/tests/Serialization/ExceptionTests.cs
  src/System.Text.Json/tests/Serialization/Object.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.cs
Labels: area-System.Text.Json

#38077 System.Text.Json is not inbox on netfx
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#38039 Add read ahead logic for streams.
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Stream.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStack.cs
  src/System.Text.Json/tests/Serialization/JsonElementTests.cs
  src/System.Text.Json/tests/Serialization/SpanTests.cs
Labels: area-System.Text.Json

#38048 Add Base64 APIs to Utf8JsonReader, Utf8JsonWriter, and JsonElement
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs
  src/System.Text.Json/src/System/Text/Json/JsonConstants.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.Unescaping.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.Escaping.cs
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Bytes.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Bytes.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Helpers.cs
  src/System.Text.Json/tests/JsonDocumentTests.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.TryGet.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json

#38076 Fix Loop in System.Private.Uri
  src/System.Private.Uri/src/System/Uri.cs
  src/System.Private.Uri/src/System/UriExt.cs
  src/System.Private.Uri/tests/FunctionalTests/IriTest.cs
Labels: area-System.Net

#37734 Fix IPv6Address parsing
  src/Common/src/System/Net/IPv6AddressHelper.Common.cs
  src/System.Net.Primitives/src/System/Net/IPAddress.cs
  src/System.Net.Primitives/src/System/Net/IPAddressParser.cs
  src/System.Net.Primitives/tests/FunctionalTests/IPAddressParsing.cs
  src/System.Net.Primitives/tests/UnitTests/Fakes/IPv6AddressHelper.cs
  src/System.Private.Uri/src/System/IPv6AddressHelper.cs
  src/System.Private.Uri/tests/FunctionalTests/UriIpHostTest.cs
Labels: area-System.Net

#38061 [System.Text.Json]Improve error output for unsupported scenarios in System.Text.Json.Serialization
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReflectionMaterializer.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/System.Text.Json/tests/Serialization/Object.ReadTests.cs
  src/System.Text.Json/tests/Serialization/PolymorphicTests.cs
Labels: area-System.Text.Json

#37881 Add tests for double-encoded URLs to both UrlDecode() methods
  src/System.Runtime.Extensions/tests/System/Net/WebUtility.cs
  src/System.Web.HttpUtility/tests/HttpUtility/HttpUtilityTest.cs
Labels: area-System.Net

#38091 Check regex timeout in loops and repetitions
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexInterpreter.cs
  src/System.Text.RegularExpressions/tests/Regex.Match.Tests.cs
Labels: area-System.Text.RegularExpressions, auto-merge

#38106 Add (de)serialization support for Base64 string as Byte array
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultConverters.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterByteArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/tests/Serialization/Array.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Array.WriteTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClass.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestStruct.cs
Labels: area-System.Text.Json

#38088 Add JsonSerializer overload that takes Utf8JsonReader.
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Span.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Utf8JsonReader.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/tests/Serialization/ReadValueTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#37710 Add support for immutable dictionaries
  src/System.Text.Json/src/System/Text/Json/Serialization/ClassMaterializer.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ClassType.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultIEnumerableConstructibleConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultImmutableConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleNull.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandlePropertyName.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReflectionEmitMaterializer.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReflectionMaterializer.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStackFrame.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClass.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClassWithObject.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.ImmutableCollections.cs
Labels: area-System.Text.Json

#38115 Revert "Added Range Manipulation APIs to Collection<T> and ObservableCollection<T> (#35772)"
  src/System.ObjectModel/src/System/Collections/ObjectModel/ObservableCollection.cs
  src/System.ObjectModel/tests/ObservableCollection/ObservableCollection_MethodTests.netcoreapp.cs
  src/System.ObjectModel/tests/ObservableCollection/ObservableCollection_MethodsTest.cs
  src/System.ObjectModel/tests/ObservableCollection/ObservableCollection_SkipCollectionChangedTests.netcoreapp.cs
  src/System.ObjectModel/tests/System.ObjectModel.Tests.csproj
  src/System.Runtime/ref/System.Runtime.cs
  src/System.Runtime/src/MatchingRefApiCompatBaseline.txt
  src/System.Runtime/tests/System.Runtime.Tests.csproj
  src/System.Runtime/tests/System/Collections/ObjectModel/CollectionTests.cs
  src/System.Runtime/tests/System/Collections/ObjectModel/CollectionTests.netcoreapp.cs
  src/shims/ApiCompatBaseline.netcoreapp.netstandardOnly.txt
Labels: area-System.Collections

#38124 Fix mutating static issue
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Stream.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStack.cs
  src/System.Text.Json/tests/Serialization/Object.WriteTests.cs
Labels: area-System.Text.Json

#37999 Ensure aligned access in ManagedWebSocket.ApplyMask
  src/Common/src/System/Net/WebSockets/ManagedWebSocket.cs
Labels: area-System.Net
