Repository dotnet/corefx, pull requests merged in 2019-01, with the labels that each got.

#34298 disable flaky test SchSendAuxRecordHttpTest
  src/System.Net.Http/tests/FunctionalTests/SchSendAuxRecordHttpTest.cs
Labels: area-System.Net.Http

#34288 Don't Sleep(1) in some spin-wait loops (Fx)
  src/System.Collections.Concurrent/src/System/Collections/Concurrent/BlockingCollection.cs
  src/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentStack.cs
  src/System.Threading/src/System/Threading/Barrier.cs
  src/System.Threading/src/System/Threading/CountdownEvent.cs
Labels: area-System.Threading

#34307 split redirect tests into separate file
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.AutoRedirect.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/PlatformHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Labels: area-System.Net.Http, test enhancement

#34321 Do not add Request-Id header when its added already
  src/System.Net.Http/src/System/Net/Http/DiagnosticsHandler.cs
  src/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs
Labels: area-System.Net.Http

#34347 consolidate decompression tests
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Decompression.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http, test enhancement

#34365 Disable tests using TestService on NETFX
  src/System.ServiceProcess.ServiceController/tests/ServiceBaseTests.cs
  src/System.ServiceProcess.ServiceController/tests/ServiceControllerTests.cs
Labels: area-System.ServiceProcess, test bug

#34362 Set the nanoseconds properties deterministically
  src/System.IO.FileSystem/tests/FileInfo/GetSetTimes.cs
Labels: area-System.IO, test bug

#34356 Remove some unnecessary Substrings in System.Net.Http
  src/Common/src/System/Net/HttpDateParser.cs
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlResponseHeaderReader.cs
  src/System.Net.Http/src/System/Net/Http/Headers/AuthenticationHeaderValue.cs
  src/System.Net.Http/src/System/Net/Http/Headers/ContentDispositionHeaderValue.cs
  src/System.Net.Http/src/System/Net/Http/Headers/DateHeaderParser.cs
  src/System.Net.Http/src/System/Net/Http/Headers/RangeConditionHeaderValue.cs
  src/System.Net.Http/src/System/Net/Http/Headers/RetryConditionHeaderValue.cs
  src/System.Net.Http/src/System/Net/Http/Headers/StringWithQualityHeaderValue.cs
  src/System.Net.Http/src/System/Net/Http/Headers/WarningHeaderValue.cs
Labels: area-System.Net.Http

#33662 Add EventLog Reader to the System.Diagnostics.EventLog dll/package
  src/System.Diagnostics.EventLog/ref/System.Diagnostics.EventLog.cs
  src/System.Diagnostics.EventLog/ref/System.Diagnostics.EventLog.csproj
  src/System.Diagnostics.EventLog/src/PinvokeAnalyzerExceptionList.analyzerdata
  src/System.Diagnostics.EventLog/src/Resources/Strings.resx
  src/System.Diagnostics.EventLog/src/System.Diagnostics.EventLog.csproj
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/CoTaskMemSafeHandle.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/CoTaskMemUnicodeSafeHandle.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/EventBookmark.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/EventKeyword.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/EventLevel.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/EventLogConfiguration.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/EventLogException.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/EventLogHandle.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/EventLogInformation.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/EventLogLink.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/EventLogPropertySelector.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/EventLogQuery.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/EventLogReader.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/EventLogRecord.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/EventLogSession.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/EventLogStatus.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/EventLogWatcher.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/EventMetadata.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/EventOpcode.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/EventProperty.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/EventRecord.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/EventRecordWrittenEventArgs.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/EventTask.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/NativeWrapper.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/ProviderMetadata.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/ProviderMetadataCachedInformation.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/UnsafeNativeMethods.cs
  src/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/Winmeta.cs
  src/System.Diagnostics.EventLog/tests/EventLogTests/EventLogEntryWrittenTest.cs
  src/System.Diagnostics.EventLog/tests/Helpers.cs
  src/System.Diagnostics.EventLog/tests/System.Diagnostics.EventLog.Tests.csproj
  src/System.Diagnostics.EventLog/tests/System/Diagnostics/Reader/EventLogConfigurationTests.cs
  src/System.Diagnostics.EventLog/tests/System/Diagnostics/Reader/EventLogExceptionTests.cs
  src/System.Diagnostics.EventLog/tests/System/Diagnostics/Reader/EventLogInformationTests.cs
  src/System.Diagnostics.EventLog/tests/System/Diagnostics/Reader/EventLogPropertySelectorTests.cs
  src/System.Diagnostics.EventLog/tests/System/Diagnostics/Reader/EventLogQueryTests.cs
  src/System.Diagnostics.EventLog/tests/System/Diagnostics/Reader/EventLogReaderTests.cs
  src/System.Diagnostics.EventLog/tests/System/Diagnostics/Reader/EventLogRecordTests.cs
  src/System.Diagnostics.EventLog/tests/System/Diagnostics/Reader/EventLogSessionTests.cs
  src/System.Diagnostics.EventLog/tests/System/Diagnostics/Reader/EventLogWatcherTests.cs
  src/System.Diagnostics.EventLog/tests/System/Diagnostics/Reader/ProviderMetadataTests.cs
Labels: area-System.Diagnostics

#34411 Fix UriParser static table thread safety
  src/System.Private.Uri/src/System/UriSyntax.cs
Labels: area-System.Net

#34339 Add SyncSortedList serialization test and remove SyncRoot
  src/System.Collections.NonGeneric/src/System/Collections/SortedList.cs
  src/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTestData.cs
  src/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTests.cs
Labels: area-System.Collections

#34382 Stop building native components for netfx
  build.proj
  src/Native/build-native.proj
Labels: area-Infrastructure

#34268 Fix passing null for credentials in SqlConnectionPoolKey in master
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlConnection.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlCredentialTest/SqlCredentialTest.cs
Labels: area-System.Data.SqlClient

#34468 Bump ReportGenerator to 4.0.5 stable
  eng/dependencies.props
Labels: area-Infrastructure

#34445 Mitigate potential case where allocated marshal data is aligned to th…
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/ReadWrite/ByteTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/ReadWrite/Int16Tests.cs
Labels: area-System.Runtime.InteropServices

#34300 [release/2.1] Do not add Request-Id header when its added already
  src/System.Net.Http/src/System/Net/Http/DiagnosticsHandler.cs
  src/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs
Labels: * NO MERGE *, Servicing-approved, area-System.Net.Http

#34408 Re-enable GenerateGuidForType exception tests
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GenerateGuidForTypeTests.cs
Labels: area-System.Runtime.InteropServices

#34458 Clean up HttpClientTest
  src/System.Net.Http/tests/FunctionalTests/DefaultCredentialsTest.cs
  src/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClient.SelectedSitesTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientEKUTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.AcceptAllCerts.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Asynchrony.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Authentication.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.AutoRedirect.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cancellation.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ClientCertificates.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Decompression.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.DefaultProxyCredentials.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.MaxConnectionsPerServer.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.MaxResponseHeadersLength.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Proxy.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ResponseDrain.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ServerCertificates.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.SslProtocols.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTestBase.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientMiniStressTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientTest.netcoreapp.cs
  src/System.Net.Http/tests/FunctionalTests/HttpCookieProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/HttpProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/HttpRequestMessageTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpRetryProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/IdnaProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/PlatformHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/PostScenarioTest.cs
  src/System.Net.Http/tests/FunctionalTests/PostScenarioUWPTest.cs
  src/System.Net.Http/tests/FunctionalTests/ResponseStreamTest.cs
  src/System.Net.Http/tests/FunctionalTests/SchSendAuxRecordHttpTest.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.Http2.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Labels: area-System.Net.Http, test enhancement

#34480 Darc update from build '20190108.5'
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/build.sh
  eng/common/tools.sh
  global.json
Labels: area-Infrastructure

#34088 Fix ConvertDirent for AIX by always returning PAL_DT_UNKNOWN
  src/Native/Unix/System.Native/pal_io.c
  src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEntry.Unix.cs
Labels: area-System.IO

#34390 SqlClient spanify netcore guid writes
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlDelegatedTransaction.NetCoreApp.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlDelegatedTransaction.NetStandard.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlDelegatedTransaction.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.NetCoreApp.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.NetStandard.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsValueSetter.cs
Labels: area-System.Data.SqlClient

#34234 SqlClient improve managed memory usage
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNICommon.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIMarsConnection.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIMarsHandle.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIPacket.cs
Labels: area-System.Data.SqlClient

#34006 Fix CookieContainer memory leak
  src/System.Net.Primitives/src/System/Net/CookieContainer.cs
  src/System.Net.Primitives/tests/FunctionalTests/CookieContainerTest.cs
Labels: area-System.Net

#34496 Exclude apphost.exe from test shared framework
  external/runtime/runtime.depproj
Labels: area-Infrastructure

#34331 Properly Dispose SocketAsyncEventArgs' FileStreams.
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.cs
  src/System.Net.Sockets/tests/FunctionalTests/SendPacketsAsync.cs
Labels: area-System.Net.Sockets

#34507 Fix CVE-2019-0545: .NET Core Information Disclosure Vulnerability (.NET Core 3.0)
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#34558 [release/uwp6.2] Port UWP ClientWebSocket fix with 0-byte receives
  src/System.Net.WebSockets.Client/src/System/Net/WebSockets/WinRTWebSocket.cs
  src/System.Net.WebSockets.Client/tests/SendReceiveTest.cs
Labels: area-System.Net, os-windows-uwp, tenet-compatibility

#34595 skip SetDateTimeMax test on 32b Unix platforms
  src/System.IO.FileSystem/tests/File/GetSetTimes.cs
Labels: arch-arm32

#34425 Add Utf8JsonWriter along with unit tests
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/JsonConstants.cs
  src/System.Text.Json/src/System/Text/Json/Reader/ConsumeNumberResult.cs
  src/System.Text.Json/src/System/Text/Json/Reader/ConsumeTokenResult.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderException.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderOptions.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderState.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.MultiSegment.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.Escaping.cs
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.Transcoding.cs
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.cs
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterOptions.cs
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterState.cs
  src/System.Text.Json/src/System/Text/Json/Writer/SequenceValidity.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTime.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTimeOffset.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Decimal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Double.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Float.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Guid.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Literal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.SignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.String.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.UnsignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Comment.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.DateTime.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.DateTimeOffset.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Decimal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Double.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Float.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Guid.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Literal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.SignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.String.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.UnsignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs
  src/System.Text.Json/tests/ArrayBufferWriter.cs
  src/System.Text.Json/tests/BitStackTests.cs
  src/System.Text.Json/tests/FixedSizedBufferWriter.cs
  src/System.Text.Json/tests/InvalidBufferWriter.cs
  src/System.Text.Json/tests/JsonWriterStateTests.cs
  src/System.Text.Json/tests/ResizableArray.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json

#34607 make build on ARM easier
  Directory.Build.props
Labels: arch-arm32

#34134 SqlClient minor memory improvements
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlBulkCopy.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlCommand.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlUtil.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObject.cs
Labels: area-System.Data.SqlClient

#34611 Update S.T.Json sources with ifdefs so that a netstandard compatible source package can be produced
  src/System.Text.Json/ref/Configurations.props
  src/System.Text.Json/ref/System.Text.Json.csproj
  src/System.Text.Json/src/Configurations.props
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.cs
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.Escaping.cs
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs
  src/System.Text.Json/tests/Configurations.props
  src/System.Text.Json/tests/FixedSizedBufferWriter.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
  src/System.Text.Json/tests/Utf8JsonReaderTests.MultiSegment.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json

#34637 Fix outerloop JsonWriter test by creating new instance of the writer when writing invalid JSON
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json

#34155 Utf8JsonReader throw when isFinal is true and the first call to Read returns false
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.MultiSegment.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json

#34500 Remove unnecessary checks in ConsumeNumber (#33294)
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.MultiSegment.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
Labels: area-System.Text.Json

#34559 fixes for ARM32
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlHandler.EasyRequest.cs
  src/System.Net.Http/tests/FunctionalTests/NtAuthTests.cs
  src/System.Net.Http/tests/FunctionalTests/TestHelper.cs
Labels: area-System.Net.Http

#34552 Generating Source package for System.Text.Json
  eng/Tools.props
  eng/Version.Details.xml
  eng/Versions.props
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  pkg/descriptions.json
  src/System.Text.Json/pkg/Microsoft.Bcl.Json.Sources.pkgproj
  src/System.Text.Json/src/System.Text.Json.csproj
Labels: area-System.Text.Json

#34636 Unescape JSON string token before transcoding to UTF-16 and returning to the user.
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/JsonConstants.cs
  src/System.Text.Json/src/System/Text/Json/JsonHelpers.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.Unescaping.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.Escaping.cs
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.Transcoding.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.TryGet.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json

#34667 Always reset ValueSpan and ValueSequence whenever the other is set.
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.MultiSegment.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/tests/JsonTestHelper.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.MultiSegment.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json

#34604 Implement Get APIs using TryGet counterparts
  src/Common/src/System/SR.cs
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/tests/JsonNumberTestData.cs
  src/System.Text.Json/tests/JsonTestHelper.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
  src/System.Text.Json/tests/Utf8JsonReaderTests.TryGet.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json

#32393 Reduce memory allocations on read performance counters.
  src/Common/src/Interop/Windows/advapi32/Interop.RegConnectRegistry.cs
  src/System.Diagnostics.PerformanceCounter/src/Resources/Strings.resx
  src/System.Diagnostics.PerformanceCounter/src/System.Diagnostics.PerformanceCounter.csproj
  src/System.Diagnostics.PerformanceCounter/src/System/Diagnostics/PerformanceCounter.cs
  src/System.Diagnostics.PerformanceCounter/src/System/Diagnostics/PerformanceCounterCategory.cs
  src/System.Diagnostics.PerformanceCounter/src/System/Diagnostics/PerformanceCounterLib.cs
  src/System.Diagnostics.PerformanceCounter/src/System/Diagnostics/PerformanceDataRegistryKey.cs
Labels: area-System.Diagnostics

#34698 Update calls in Json tests from GetStringValue to GetString
  src/System.Text.Json/tests/JsonTestHelper.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.TryGet.cs
Labels: area-System.Text.Json

#34485 Introduce JsonDocument
  pkg/descriptions.json
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/JsonConstants.cs
  src/System.Text.Json/src/System/Text/Json/JsonDocument.DbRow.cs
  src/System.Text.Json/src/System/Text/Json/JsonDocument.MetadataDb.cs
  src/System.Text.Json/src/System/Text/Json/JsonDocument.Parse.cs
  src/System.Text.Json/src/System/Text/Json/JsonDocument.StackRow.cs
  src/System.Text.Json/src/System/Text/Json/JsonDocument.StackRowStack.cs
  src/System.Text.Json/src/System/Text/Json/JsonDocument.TryGetProperty.cs
  src/System.Text.Json/src/System/Text/Json/JsonDocument.cs
  src/System.Text.Json/src/System/Text/Json/JsonElement.ArrayEnumerator.cs
  src/System.Text.Json/src/System/Text/Json/JsonElement.ObjectEnumerator.cs
  src/System.Text.Json/src/System/Text/Json/JsonElement.cs
  src/System.Text.Json/src/System/Text/Json/JsonProperty.cs
  src/System.Text.Json/src/System/Text/Json/JsonValueType.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.Unescaping.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderState.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.MultiSegment.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/tests/JsonDocumentTests.cs
  src/System.Text.Json/tests/JsonTestHelper.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#34760 Add link to source package md within the package description.
  pkg/descriptions.json
  src/System.Text.Json/source_package/README.md
Labels: area-System.Text.Json

#34769 Move JsonDocument related files to a Document subdirectory.
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.DbRow.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.MetadataDb.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.Parse.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.StackRow.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.StackRowStack.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.TryGetProperty.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.ArrayEnumerator.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.ObjectEnumerator.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonProperty.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonValueType.cs
Labels: area-System.Text.Json

#34763 Add try/catch OOM around large tests and exclude tests on x86
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json

#34678 Fix UapAot runs
  eng/Version.Details.xml
  eng/Versions.props
  eng/dependencies.props
  external/test-runtime/XUnit.Runtime.depproj
  global.json
  src/CoreFx.Private.TestUtilities/src/System/Diagnostics/RemoteExecutorTestBase.aot.cs
Labels: area-Infrastructure

#34798 Make ReadToEnd static helper resilient against stream.Length changes.
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.Parse.cs
Labels: area-System.Text.Json

#34751 collect some info about SendRecvPollSync_TcpListener_Socket() test run
  src/System.Net.Sockets/tests/FunctionalTests/Accept.cs
  src/System.Net.Sockets/tests/FunctionalTests/Connect.cs
  src/System.Net.Sockets/tests/FunctionalTests/LoggingTest.cs
  src/System.Net.Sockets/tests/FunctionalTests/SendReceive.cs
  src/System.Net.Sockets/tests/FunctionalTests/SendReceive.netcoreapp.cs
  src/System.Net.Sockets/tests/FunctionalTests/SocketTestHelper.cs
Labels: area-System.Net.Sockets, test enhancement

#34814 Fix SslStream channel binding token
  src/System.Net.Security/src/System/Net/Security/Pal.Managed/EndpointChannelBindingToken.cs
  src/System.Net.Security/tests/FunctionalTests/TransportContextTest.cs
Labels: area-System.Net.Security, bug

#34812 Nesting source package files for a better experience when consuming it.
  src/System.Text.Json/src/System.Text.Json.csproj
Labels: area-System.Text.Json

#34813 Remove S.Memory and S.R.CS.Unsafe dependencies from MetadataLoadContext
  src/System.Reflection.MetadataLoadContext/src/System.Reflection.MetadataLoadContext.csproj
  src/System.Reflection.MetadataLoadContext/src/System/Reflection/TypeLoading/RuntimeTypeInfo.TypeComponentsCache.cs
Labels: area-System.Reflection

#34742 Extend SequenceCompareTo_byte for longer vector lengths
  src/System.Memory/tests/ReadOnlySpan/SequenceCompareTo.byte.cs
  src/System.Memory/tests/Span/SequenceCompareTo.byte.cs
Labels: area-System.Memory

#34860 update test output logger so it does not break in different process
  src/System.Net.Sockets/tests/FunctionalTests/LoggingTest.cs
  src/System.Net.Sockets/tests/FunctionalTests/SendReceive.cs
Labels: area-System.Net.Sockets, test bug

#34836 Update the Benchmarking docs and add workflow for making optimizations within S.P.CoreLib
  Documentation/project-docs/benchmarking.md
Labels: documentation

#34883 Fix GSSAPI error handling
  src/Common/src/Interop/Unix/System.Net.Security.Native/Interop.GssApiException.cs
  src/Common/src/Interop/Unix/System.Net.Security.Native/Interop.NetSecurityNative.cs
  src/Common/src/Microsoft/Win32/SafeHandles/GssSafeHandles.cs
  src/Native/Unix/System.Net.Security.Native/pal_gssapi.c
  src/System.Data.SqlClient/src/Resources/Strings.resx
  src/System.Net.Http/src/Resources/Strings.resx
  src/System.Net.Mail/src/Resources/Strings.resx
  src/System.Net.Security/src/Resources/Strings.resx
  src/System.Net.Security/tests/FunctionalTests/Resources/Strings.resx
Labels: area-System.Net.Http.SocketsHttpHandler, os-linux

#34896 Add codecov yml configuration
  eng/codecov.yml
Labels: area-Infrastructure

#34901 Disable coverage status checks for project and patch
  eng/codecov.yml
Labels: area-Infrastructure

#34001 Remove buildtools imports from Directory.Build.*
  Directory.Build.props
  Directory.Build.targets
  build.proj
  dir.traversal.targets
  eng/BlockReflectionAttribute.cs
  eng/blockReflectionAttribute.targets
  eng/illink.targets
  eng/referenceFromRuntime.targets
  eng/references.targets
  eng/versioning.targets
  external/runtime/runtime.depproj
  pkg/test/packageTest.targets
  pkg/test/testPackages.proj
  src/Common/src/System/Security/Cryptography/Asn1/AsnXml.targets
  src/Microsoft.XmlSerializer.Generator/tests/Microsoft.XmlSerializer.Generator.Tests.csproj
  src/SharedFrameworkValidation/SharedFrameworkValidation.proj
  src/dirs.proj
  src/packages.builds
  src/shims/Directory.Build.props
  src/shims/shims.proj
  src/tests.builds
Labels: * NO MERGE *, area-Infrastructure

#34900 Disable SourceLink locally
  Directory.Build.props
Labels: area-Infrastructure

#34871 Add outerloop legs in new CI definitions
  eng/pipelines/corefx-base.yml
  eng/pipelines/helix.yml
  eng/pipelines/linux.yml
  eng/pipelines/macos.yml
  eng/pipelines/outerloop.yml
  eng/pipelines/windows.yml
  eng/sendtohelix.proj
Labels: area-Infrastructure

#34923 Restore missing xunit package in aot builds
  external/test-runtime/XUnit.Runtime.depproj
Labels: area-Infrastructure

#34930 Fix wrong sourcelink condition
  Directory.Build.props
Labels: area-Infrastructure

#34939 Update area owners for System.Data.SqlClient and System.Data
  Documentation/project-docs/issue-guide.md
Labels: documentation

#34934 add instrumentation for intermittent DNS failures
  src/System.Net.NameResolution/tests/PalTests/NameResolutionPalTests.cs
Labels: arch-arm64, area-System.Net, os-linux

#34944 Seed the porting guide for going from Json.NET to System.Text.Json.
  src/System.Text.Json/porting_guide/README.md
  src/System.Text.Json/source_package/README.md
Labels: area-System.Text.Json, documentation

#34962 add Fact attribute instead of removed ConditionalFact
  src/System.Net.NameResolution/tests/PalTests/NameResolutionPalTests.cs
Labels: area-System.Net, test bug

#34629 Improve handling of frames received on closed stream
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.Http2.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#34968 Handle the case where the Marshal.ThrowExceptionForHR is inlined in
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/ThrowExceptionForHRTests.cs
Labels: area-System.Runtime.InteropServices, test bug

#35004 Diable System.Net.Http.FunctionalTests parallel execution on UAP run
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/System.Net.Http/tests/FunctionalTests/XUnitAssemblyAttributes.cs
Labels: area-System.Net.Http, test enhancement, test-run-uwp-coreclr
