Repository dotnet/corefx, pull requests merged in 2019-04, with the labels that each got.

#36513 Fix SqlClient Kerberos on Linux
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIProxy.Unix.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIProxy.Windows.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIProxy.cs
Labels: area-System.Data.SqlClient, tenet-compatibility

#36128 Add TrailingHeaders support for HTTP/2
  src/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ChunkedEncodingReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.TrailingHeaders.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#36486 Add polymorphic serialization support for typeof(object)
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleEnumerable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/tests/Serialization/Null.WriteTests.cs
  src/System.Text.Json/tests/Serialization/PolymorphicTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.Polymorphic.cs
  src/System.Text.Json/tests/Serialization/TestClasses.cs
Labels: area-System.Text.Json

#36523 pull in updated fedora image with ping
  eng/pipelines/linux.yml
Labels: area-Infrastructure

#35100 Introduce new, simpler to use converter test base
  src/System.ComponentModel.TypeConverter/tests/Int16ConverterTests.cs
  src/System.ComponentModel.TypeConverter/tests/SampleClasses.cs
  src/System.ComponentModel.TypeConverter/tests/System.ComponentModel.TypeConverter.Tests.csproj
  src/System.ComponentModel.TypeConverter/tests/TypeConverterTestBase.cs
Labels: area-System.ComponentModel

#36468 fixes to CurlHandler to pass on Alpine.39 Docker container
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlHandler.EasyRequest.cs
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlHandler.MultiAgent.cs
Labels: area-System.Net.Http, os-linux

#36213 Update Japanese Calendar tests
  src/System.Globalization.Calendars/tests/CalendarHelpers.cs
Labels: area-System.Globalization

#35966 Modify Utf8JsonWriter to write DateTime(Offset) values with the smallest output that roundtrips
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.Date.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTime.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTimeOffset.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json

#36496 Add support for binding to COM objects in WPF
  src/System.ComponentModel.TypeConverter/src/System/ComponentModel/TypeDescriptor.cs
Labels: area-System.ComponentModel, tenet-compatibility

#36534 stabilize Http2GetAsync_TrailerHeaders_TrailingHeaderNoBody test
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.TrailingHeaders.cs
Labels: area-System.Net.Http.SocketsHttpHandler, test bug

#36493 moving PackUriHelper methods to S.IO.Packaging
  src/System.IO.Packaging/ref/System.IO.Packaging.PackUriScheme.cs
  src/System.IO.Packaging/ref/System.IO.Packaging.csproj
  src/System.IO.Packaging/src/Resources/Strings.resx
  src/System.IO.Packaging/src/System.IO.Packaging.csproj
  src/System.IO.Packaging/src/System/IO/Packaging/PackUriHelper.PackUriScheme.cs
  src/System.IO.Packaging/src/System/IO/Packaging/PackUriHelper.cs
  src/System.IO.Packaging/tests/Tests.cs
Labels: area-System.IO

#35202 handle multi-valued headers correctly
  src/Common/tests/System/Net/Http/GenericLoopbackServer.cs
  src/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/Common/tests/System/Net/Http/LoopbackServer.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HPackEncoder.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/StaticTable.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.AutoRedirect.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cookies.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientMiniStressTest.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Requests/tests/System.Net.Requests.Tests.csproj
  src/System.Net.WebClient/tests/System.Net.WebClient.Tests.csproj
  src/System.Net.WebSockets.Client/tests/ClientWebSocketOptionsTests.netcoreapp.cs
  src/System.Net.WebSockets.Client/tests/LoopbackHelper.cs
  src/System.Net.WebSockets.Client/tests/System.Net.WebSockets.Client.Tests.csproj
Labels: area-System.Net.Http.SocketsHttpHandler

#36347 Implement escaped-character handling in Utf8JsonReader and JsonElement
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs
  src/System.Text.Json/src/System/Text/Json/JsonConstants.cs
  src/System.Text.Json/src/System/Text/Json/JsonHelpers.Date.cs
  src/System.Text.Json/src/System/Text/Json/JsonHelpers.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.cs
  src/System.Text.Json/tests/JsonDateTimeTestData.cs
  src/System.Text.Json/tests/JsonDocumentTests.cs
Labels: area-System.Text.Json

#36537 pull in new fedora images
  eng/pipelines/linux.yml
Labels: area-Infrastructure

#36478 System.Data.Common: remove DbDataReaderExtensions.Facade.c
  src/System.Data.Common/src/System/Data/Common/DbDataReaderExtensions.Facade.cs
  src/System.Data.Common/src/System/Data/Common/DbDataReaderExtensions.cs
Labels: area-System.Data

#36192 Fix System.Drawing.Tests.SystemFontsTests.SystemFont_Get_ReturnsExpected_WindowsNames test for different locales
  src/System.Drawing.Common/tests/SystemFontsTests.cs
Labels: area-System.Drawing

#36340 Support for System.Diagnostics.Activity sampling.
  src/System.Diagnostics.DiagnosticSource/ref/System.Diagnostics.DiagnosticSource.cs
  src/System.Diagnostics.DiagnosticSource/ref/System.Diagnostics.DiagnosticSourceActivity.cs
  src/System.Diagnostics.DiagnosticSource/src/System.Diagnostics.DiagnosticSource.csproj
  src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.DateTime.corefx.cs
  src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs
  src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticListener.cs
  src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticSource.cs
  src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticSourceActivity.cs
  src/System.Diagnostics.DiagnosticSource/tests/ActivityTests.cs
  src/System.Diagnostics.DiagnosticSource/tests/DiagnosticSourceTests.cs
Labels: area-System.Diagnostics.Tracing

#36571 Update tests for changed definition of CharSet.Auto on Unix
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/StringToCoTaskMemAutoTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/StringToHGlobalAutoTests.cs
Labels: area-System.Runtime.InteropServices

#36565 Fix System.IO.Ports configurations and netfx build
  src/System.IO.Ports/ref/Configurations.props
  src/System.IO.Ports/src/Configurations.props
  src/System.IO.Ports/src/System.IO.Ports.csproj
  src/System.IO.Ports/tests/System.IO.Ports.Tests.csproj
Labels: area-System.IO

#36569 Add additional feed to avoid random restore errors
  eng/pipelines/corefx-base.yml
Labels: area-Infrastructure

#36551 OSX can return ENODEV if we attempt tcgetattr() on stdin without terminal
  src/Native/Unix/System.Native/pal_console.c
Labels: area-System.Console, os-mac-os-x

#36392 limit official build to two alpine releases and add Alpine 3.9 to CI
  eng/pipelines/linux.yml
Labels: area-Infrastructure

#36585 Enable dotnet test by routing to /t:BuildAndTest
  src/Directory.Build.targets
Labels: area-Infrastructure

#36549 Avoid serializer multi-threaded cache issues
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/PropertyRef.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/tests/Serialization/CacheTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#36560 Enable interactive internal tools authentication
  eng/Tools.props
Labels: area-Infrastructure

#36587 Consume Microsoft.DotNet.XUnitConsoleRunner for netcoreapp
  eng/Version.Details.xml
  eng/Versions.props
  external/test-runtime/XUnit.Runtime.depproj
Labels: area-Infrastructure

#34049 Optimize SqlClient rpc parameter usage
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlCommand.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserHelperClasses.cs
Labels: area-System.Data.SqlClient

#36421 Move corefx builds out of temp pools
  eng/pipelines/publish.yml
  eng/pipelines/windows.yml
Labels: area-Infrastructure

#33520 Add System Colors to ColorTable
  src/Common/src/System/Drawing/ColorTable.cs
  src/Common/src/System/Drawing/SystemColors.cs
  src/System.Drawing.Common/ref/Configurations.props
  src/System.Drawing.Common/ref/System.Drawing.Common.csproj
  src/System.Drawing.Common/src/Configurations.props
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/System.Drawing.Common/src/System/Drawing/Drawing2D/GraphicsPath.Windows.cs
  src/System.Drawing.Primitives/ref/System.Drawing.Primitives.cs
  src/System.Drawing.Primitives/src/System.Drawing.Primitives.csproj
  src/System.Drawing.Primitives/tests/ColorTests.netcoreapp.cs
Labels: area-System.Drawing

#36619 Disable Json serializer CacheTests since its failing on linux.
  src/System.Text.Json/tests/Serialization/CacheTests.cs
Labels: area-System.Text.Json

#36159 Fix decoding surrogates on error
  src/System.Private.Xml/src/System/Xml/Core/XmlTextReaderImpl.cs
  src/System.Private.Xml/src/System/Xml/XmlEncoding.cs
  src/System.Private.Xml/tests/XmlReader/Tests/ReaderEncodingTests.cs
  src/System.Private.Xml/tests/XmlReader/Tests/System.Xml.RW.XmlReader.Tests.csproj
Labels: area-System.Xml

#36576 Add a timer test
  src/System.Threading.Timer/tests/System.Threading.Timer.Tests.csproj
  src/System.Threading.Timer/tests/TimerFiringTests.cs
Labels: area-System.Threading

#36085 Change values of Microsoft.XmlSerializer.Generator command parameters through msbuild properties
  src/Microsoft.XmlSerializer.Generator/pkg/build/Microsoft.XmlSerializer.Generator.targets
  src/Microsoft.XmlSerializer.Generator/src/Sgen.cs
Labels: area-Serialization

#35029 Negotiated ciphersuite
  src/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.Ssl.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Ssl.cs
  src/Common/src/Interop/Windows/SChannel/SecPkgContext_CipherInfo.cs
  src/Common/src/Interop/Windows/SspiCli/Interop.SSPI.cs
  src/Native/Unix/System.Security.Cryptography.Native/opensslshim.h
  src/Native/Unix/System.Security.Cryptography.Native/pal_ssl.c
  src/Native/Unix/System.Security.Cryptography.Native/pal_ssl.h
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.HttpListener/src/System.Net.HttpListener.csproj
  src/System.Net.Mail/src/System.Net.Mail.csproj
  src/System.Net.Security/ref/System.Net.Security.cs
  src/System.Net.Security/ref/System.Net.Security.csproj
  src/System.Net.Security/src/System.Net.Security.csproj
  src/System.Net.Security/src/System/Net/Security/SslConnectionInfo.Linux.cs
  src/System.Net.Security/src/System/Net/Security/SslConnectionInfo.OSX.cs
  src/System.Net.Security/src/System/Net/Security/SslConnectionInfo.Unix.cs
  src/System.Net.Security/src/System/Net/Security/SslConnectionInfo.Windows.cs
  src/System.Net.Security/src/System/Net/Security/SslConnectionInfo.cs
  src/System.Net.Security/src/System/Net/Security/SslStream.cs
  src/System.Net.Security/src/System/Net/Security/SslStreamPal.Windows.cs
  src/System.Net.Security/src/System/Net/Security/TlsCipherSuite.cs
  src/System.Net.Security/src/System/Net/Security/TlsCipherSuite.tt
  src/System.Net.Security/src/System/Net/Security/TlsCipherSuiteData.Lookup.cs
  src/System.Net.Security/src/System/Net/Security/TlsCipherSuiteData.Lookup.tt
  src/System.Net.Security/src/System/Net/Security/TlsCipherSuiteData.cs
  src/System.Net.Security/src/System/Net/Security/TlsCipherSuiteNameParser.ttinclude
  src/System.Net.Security/tests/FunctionalTests/SslStreamNegotiatedCipherSuiteTest.cs
  src/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
  src/System.Net.Security/tests/UnitTests/System.Net.Security.Unit.Tests.csproj
Labels: area-System.Net.Security

#36601 Provide a temporary RSA decryption buffer when dest is too small
  src/Common/src/System/Security/Cryptography/RSAOpenSsl.cs
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RSA/EncryptDecrypt.netcoreapp.cs
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RSA/RSAFactory.cs
  src/System.Security.Cryptography.Algorithms/tests/DefaultRSAProvider.cs
  src/System.Security.Cryptography.Cng/tests/RSACngProvider.cs
  src/System.Security.Cryptography.Csp/tests/RSACryptoServiceProviderProvider.cs
  src/System.Security.Cryptography.OpenSsl/tests/RSAOpenSslProvider.cs
Labels: area-System.Security

#35673 Label implements IEquatable<Label>
  src/System.Reflection.Emit.ILGeneration/ref/System.Reflection.Emit.ILGeneration.netcore.cs
  src/System.Reflection.Emit.ILGeneration/tests/Label/LabelEquals.cs
Labels: area-System.Reflection.Emit

#36583 Add the TPM Object Identifiers to the static table in OidLookup
  src/System.Security.Cryptography.Encoding/src/Internal/Cryptography/OidLookup.cs
  src/System.Security.Cryptography.X509Certificates/tests/X500DistinguishedNameTests.cs
Labels: area-System.Security

#36637 Support json deserialize of 'null' and 'bool' when declared type is typeof(object)
  src/System.Text.Json/src/System/Text/Json/Serialization/ClassType.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultConverters.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleNull.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleValue.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Stream.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleEnumerable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Stream.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/System.Text.Json/tests/Serialization/Null.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Null.WriteTests.cs
  src/System.Text.Json/tests/Serialization/Object.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Object.WriteTests.cs
  src/System.Text.Json/tests/Serialization/PolymorphicTests.cs
  src/System.Text.Json/tests/Serialization/SpanTests.cs
  src/System.Text.Json/tests/Serialization/String.ReadTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.Polymorphic.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#36516 Plumb CancellationToken through Socket.Receive/SendAsync
  src/System.Net.Sockets/System.Net.Sockets.sln
  src/System.Net.Sockets/src/System.Net.Sockets.csproj
  src/System.Net.Sockets/src/System/Net/Sockets/NetworkStream.cs
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.Tasks.cs
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncContext.Unix.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Unix.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs
  src/System.Net.Sockets/tests/FunctionalTests/NetworkStreamTest.netcoreapp.cs
  src/System.Net.Sockets/tests/FunctionalTests/SendReceive.netcoreapp.cs
Labels: area-System.Net.Sockets

#36690 Add support for trailing commas within Utf8JsonReader
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderOptions.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderState.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.MultiSegment.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.MultiSegment.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json

#34834 Implement Serialization Guard CoreFX portion
  src/System.Collections.Concurrent/src/Configurations.props
  src/System.Collections.Concurrent/src/System.Collections.Concurrent.csproj
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.cs
  src/System.Runtime.Serialization.Formatters/src/Configurations.props
  src/System.Runtime.Serialization.Formatters/src/System.Runtime.Serialization.Formatters.csproj
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/BinaryObjectReader.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/ObjectManager.cs
  src/System.Runtime.Serialization.Formatters/tests/SerializationGuardTests.cs
  src/System.Runtime.Serialization.Formatters/tests/System.Runtime.Serialization.Formatters.Tests.csproj
  src/System.Runtime/ref/System.Runtime.cs
Labels: area-System.Runtime

#36548 add Alpine ARM64 queue
  eng/pipelines/linux.yml
Labels: area-Infrastructure

#36126 Changes required to use newGenfacadeModel
  Directory.Build.targets
  eng/Version.Details.xml
  eng/Versions.props
  eng/referenceFromRuntime.targets
  src/System.Diagnostics.TraceSource/src/Configurations.props
  src/System.Globalization.Calendars/src/Configurations.props
  src/System.IO.FileSystem/src/System.IO.FileSystem.csproj
  src/System.Memory/src/Configurations.props
  src/System.Memory/src/System.Memory.csproj
  src/System.Private.Xml/src/System/Xml/IApplicationResourceStreamResolver.cs
  src/System.Runtime.WindowsRuntime/src/System.Runtime.WindowsRuntime.csproj
  src/System.Runtime/src/System.Runtime.csproj
  src/System.Runtime/src/System/System.Runtime.Typeforwards.cs
  src/System.Text.Encoding.Extensions/src/Configurations.props
  src/System.Threading.Tasks.Extensions/src/Configurations.props
  src/shims/manual/Directory.Build.props
  src/shims/manual/mscorlib.csproj
  src/shims/manual/mscorlib.forwards.cs
Labels: area-Infrastructure

#36718 Change charsets to explicitly unicode in System.Drawing.Common
  src/System.Drawing.Common/src/System/Drawing/NativeStructs.Unix.cs
  src/System.Drawing.Common/tests/FontTests.cs
Labels: area-System.Drawing

#36646 Fix deserialize cache test
  src/System.Text.Json/tests/Serialization/CacheTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.cs
Labels: area-System.Text.Json

#36738 Copy json dependency to test out dir
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#36759 Fix #36686: Incorrect doc on System.Text.Json.JsonElement.GetString()
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs
Labels: area-System.Text.Json

#36060 [port] XEvent Delay bug fix
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObject.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/DataStreamTest/DataStreamTest.cs
  src/packages.builds
Labels: * NO MERGE *, Servicing-approved, area-System.Data.SqlClient

#36130 [release/2.1] Use TryAddWithoutValidation in WebSocketHandle.ConnectAsyncCore to 2.1 branch
  src/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.Managed.cs
  src/System.Net.WebSockets.Client/tests/ConnectTest.cs
Labels: * NO MERGE *, Servicing-approved, area-System.Net, tenet-compatibility

#36464 Build Platforms package for 2.2.5
  pkg/Microsoft.NETCore.Platforms/Microsoft.NETCore.Platforms.pkgproj
  src/packages.builds
Labels: * NO MERGE *, Servicing-approved, area-Infrastructure

#36358 SocketAsyncEngine.Unix: improve performance of context lookup
  src/System.Net.Sockets/src/System.Net.Sockets.csproj
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEngine.Unix.cs
Labels: area-System.Net.Sockets, os-linux

#36785 System.Linq.Expressions: Skip tests if DebuggerTypeProxy attribute isn't available
  src/System.Linq.Expressions/tests/DebuggerTypeProxy/ExpressionDebuggerTypeProxyTests.cs
  src/System.Linq.Expressions/tests/Dynamic/BindingRestrictionsProxyTests.cs
  src/System.Linq.Expressions/tests/Dynamic/ExpandoObjectProxyTests.cs
Labels: area-System.Linq.Expressions

#36784 Remove NETStandard Test Suite
  Directory.Build.props
  Directory.Build.targets
  eng/pipelines/windows.yml
  src/tests.builds
Labels: area-Infrastructure

#35118 HTTP/2 Request Cancellation
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ArrayBuffer.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/CreditManager.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/TaskCompletionSourceWithCancellation.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cancellation.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#36735 SqlClient fix SqlEnvChangePool thread safety bug
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserHelperClasses.cs
Labels: area-System.Data.SqlClient

#36801 Improve HttpClient POST tests stability
  src/Common/tests/System/Net/Configuration.Http.cs
  src/System.Net.Http/tests/FunctionalTests/PostScenarioTest.cs
Labels: area-System.Net.Http, test bug

#36795 Update zlib-intel to v1.2.11.1_jtkv6.3
  src/Native/Windows/clrcompression/zlib-intel/deflate_medium.c
  src/Native/Windows/clrcompression/zlib-intel/inflate.c
Labels: area-System.IO.Compression

#36550 [release/2.1] Add SuppressMetaPackage to break circular dependency during System.Memory package restore
  external/harvestPackages/harvestPackages.props
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  pkg/test/packageSettings/System.Memory/netcoreapp1.0/workaroundDowngrade.targets
  src/System.Memory/dir.props
  src/System.Memory/pkg/System.Memory.pkgproj
  src/packages.builds
Labels: Servicing-approved, area-System.Memory

#36828 Improve WebClient upload tests stability
  src/System.Net.WebClient/tests/WebClientTest.cs
Labels: area-System.Net, test bug

#36354 Add JsonElement.Clone
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.MetadataDb.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs
  src/System.Text.Json/tests/JsonDocumentTests.cs
  src/System.Text.Json/tests/JsonElementCloneTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#36756 Add support for generic interface-based collections in JsonSerializer
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultEnumerableConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/tests/Serialization/Array.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Array.WriteTests.cs
  src/System.Text.Json/tests/Serialization/Null.WriteTests.cs
  src/System.Text.Json/tests/Serialization/PolymorphicTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.Polymorphic.cs
  src/System.Text.Json/tests/Serialization/TestClasses.cs
  src/System.Text.Json/tests/Serialization/TestData.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.cs
Labels: area-System.Text.Json, blocking-partner

#36177 Read system proxy information on macOS
  src/Common/src/Interop/OSX/Interop.CoreFoundation.CFArray.cs
  src/Common/src/Interop/OSX/Interop.CoreFoundation.CFDictionary.cs
  src/Common/src/Interop/OSX/Interop.CoreFoundation.CFNumber.cs
  src/Common/src/Interop/OSX/Interop.CoreFoundation.CFProxy.cs
  src/Common/src/Interop/OSX/Interop.CoreFoundation.CFString.cs
  src/Common/src/Interop/OSX/Interop.CoreFoundation.CFUrl.cs
  src/Common/src/Interop/OSX/Interop.Libraries.cs
  src/Common/src/Interop/OSX/Interop.RunLoop.cs
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/MacProxy.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SystemProxyInfo.OSX.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#36566 Allow cookies with spaces in the name
  src/System.Net.Http/src/uap/System/Net/cookie.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cookies.cs
  src/System.Net.HttpListener/tests/HttpListenerResponseTests.Cookies.cs
  src/System.Net.Primitives/src/System/Net/Cookie.cs
  src/System.Net.Primitives/tests/FunctionalTests/CookieTest.cs
  src/System.Net.Primitives/tests/UnitTests/CookieContainerTest.cs
Labels: area-System.Net

#36627 Fix encoding of Digest authentication headers
  src/System.Net.Http/src/System/Net/Http/Headers/ContentDispositionHeaderValue.cs
  src/System.Net.Http/src/System/Net/Http/Headers/HeaderUtilities.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.Digest.cs
  src/System.Net.Http/tests/UnitTests/DigestAuthenticationTests.cs
Labels: area-System.Net.Http

#36725 Fix LsaOpenPolicy interop definition
  src/Common/src/Interop/Windows/Advapi32/Interop.LSA_STRING.cs
  src/Common/src/Interop/Windows/Advapi32/Interop.LsaLookupNames2.cs
  src/Common/src/Interop/Windows/Advapi32/Interop.LsaLookupSids.cs
  src/Common/src/Interop/Windows/Advapi32/Interop.LsaOpenPolicy.cs
  src/Common/src/Interop/Windows/Interop.OBJECT_ATTRIBUTES.cs
  src/Common/src/Interop/Windows/NtDll/Interop.NtCreateFile.cs
  src/Common/src/Interop/Windows/SspiCli/Interop.KerbS4uLogin.cs
  src/Common/src/Interop/Windows/SspiCli/Interop.LSAStructs.cs
  src/Common/src/Interop/Windows/SspiCli/Interop.LsaLogonUser.cs
  src/Common/src/Interop/Windows/SspiCli/Interop.LsaLookupAuthenticationPackage.cs
  src/Common/src/Interop/Windows/SspiCli/Interop.LsaUnicodeString.cs
  src/Common/src/Interop/Windows/SspiCli/Interop.UNICODE_STRING.cs
  src/Common/src/Microsoft/Win32/SafeHandles/SafeLsaMemoryHandle.cs
  src/Common/src/Microsoft/Win32/SafeHandles/SafeLsaPolicyHandle.cs
  src/Common/src/Microsoft/Win32/SafeHandles/SafeLsaReturnBufferHandle.cs
  src/Common/src/Microsoft/Win32/SafeHandles/SafeTokenHandle.cs
  src/Microsoft.IO.Redist/src/Microsoft.IO.Redist.csproj
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
  src/System.Diagnostics.Process/src/Microsoft/Win32/SafeHandles/SafeTokenHandle.cs
  src/System.Diagnostics.Process/src/System.Diagnostics.Process.csproj
  src/System.IO.FileSystem/src/System.IO.FileSystem.csproj
  src/System.Security.AccessControl/src/System.Security.AccessControl.csproj
  src/System.Security.Principal.Windows/src/Microsoft/Win32/SafeHandles/SafeSecurityHandles.cs
  src/System.Security.Principal.Windows/src/System.Security.Principal.Windows.csproj
  src/System.Security.Principal.Windows/src/System/Security/Principal/NTAccount.cs
  src/System.Security.Principal.Windows/src/System/Security/Principal/Win32.cs
  src/System.Security.Principal.Windows/src/System/Security/Principal/WindowsIdentity.cs
Labels: area-System.Security

#36839 Address post merge feedback from #36775
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_ssl.c
Labels: area-System.Security

#36776 JsonSerializerOptions API update and ignore property features
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderOptions.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonAttribute.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonIgnoreAttribute.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleNull.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Span.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Stream.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.String.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleEnumerable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Stream.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/System.Text.Json/tests/Serialization/Array.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Array.WriteTests.cs
  src/System.Text.Json/tests/Serialization/Null.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Null.WriteTests.cs
  src/System.Text.Json/tests/Serialization/Object.ReadTests.cs
  src/System.Text.Json/tests/Serialization/OptionsTests.cs
  src/System.Text.Json/tests/Serialization/PolymorphicTests.cs
  src/System.Text.Json/tests/Serialization/PropertyVisibilityTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.cs
Labels: area-System.Text.Json

#36698 Fix bad null check in pal_dsa.c
  src/Native/Unix/System.Security.Cryptography.Native/pal_dsa.c
Labels: area-System.Security

#36845 Contextual reflection
  src/System.Runtime.Loader/ref/System.Runtime.Loader.cs
  src/System.Runtime.Loader/src/ApiCompatBaseline.uapaot.txt
Labels: area-System.Runtime

#36803 Add Assembly.LoadWithPartialName cases
  src/System.Reflection/tests/AssemblyTests.cs
Labels: area-System.Reflection

#36848 Improve HttpClient POST with REDIRECT tests
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http, test enhancement

#36497 Implement IEquatable to Memory and ReadOnlyMemory
  src/System.Memory/src/ApiCompatBaseline.uapaot.txt
  src/System.Memory/tests/Memory/Equality.cs
  src/System.Memory/tests/ReadOnlyMemory/Equality.cs
  src/System.Runtime/ref/System.Runtime.cs
  src/System.Runtime/src/ApiCompatBaseline.uapaot.txt
Labels: area-System.Memory

#36864 Cleanup SocketOptionNameTest
  src/System.Net.Sockets/tests/FunctionalTests/SocketOptionNameTest.cs
Labels: area-System.Net.Sockets, test enhancement

#36721 SocketPal.Unix: replace DangerousGetHandle with SafeHandle marshalling
  src/Common/src/Interop/Unix/System.Native/Interop.ReceiveMessage.cs
  src/Common/src/Interop/Unix/System.Native/Interop.SendMessage.cs
  src/Common/src/Interop/Windows/WinSock/Interop.WSARecv.cs
  src/Common/src/Interop/Windows/WinSock/Interop.WSARecvFrom.cs
  src/Common/src/Interop/Windows/WinSock/Interop.WSASend.cs
  src/Common/src/Interop/Windows/WinSock/Interop.WSASendTo.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Windows.cs
Labels: area-System.Net.Sockets

#36653 Add more number converter tests
  src/System.ComponentModel.TypeConverter/src/System/ComponentModel/BaseNumberConverter.cs
  src/System.ComponentModel.TypeConverter/src/System/ComponentModel/DecimalConverter.cs
  src/System.ComponentModel.TypeConverter/tests/BaseNumberConverterTests.cs
  src/System.ComponentModel.TypeConverter/tests/ByteConvertersTests.cs
  src/System.ComponentModel.TypeConverter/tests/DecimalConverterTests.cs
  src/System.ComponentModel.TypeConverter/tests/DoubleConverterTests.cs
  src/System.ComponentModel.TypeConverter/tests/Int16ConverterTests.cs
  src/System.ComponentModel.TypeConverter/tests/Int32ConverterTests.cs
  src/System.ComponentModel.TypeConverter/tests/Int64ConverterTests.cs
  src/System.ComponentModel.TypeConverter/tests/SByteConverterTests.cs
  src/System.ComponentModel.TypeConverter/tests/SingleConverterTests.cs
  src/System.ComponentModel.TypeConverter/tests/System.ComponentModel.TypeConverter.Tests.csproj
  src/System.ComponentModel.TypeConverter/tests/TypeConverterTestBase.cs
  src/System.ComponentModel.TypeConverter/tests/UInt16ConverterTests.cs
  src/System.ComponentModel.TypeConverter/tests/UInt32ConverterTests.cs
  src/System.ComponentModel.TypeConverter/tests/UInt64ConverterTests.cs
Labels: area-System.ComponentModel

#36865 Json deserializer collection perf improvements by avoiding boxing
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleNull.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleEnumerable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClass.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClassWithNullables.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClassWithObject.cs
  src/System.Text.Json/tests/Serialization/TestClasses.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#36769 Close the socket if bind() fails
  src/Native/Unix/System.Native/pal_networkchange.c
Labels: area-System.Net.Sockets, os-linux

#36890 Remove null coalescing assignment operator to avoid build-from-source errors
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Span.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Stream.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.String.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Stream.cs
Labels: area-System.Text.Json

#36708 add test for lower casing header name logic
  src/Common/tests/System/Net/Http/GenericLoopbackServer.cs
  src/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/Common/tests/System/Net/Http/LoopbackServer.cs
  src/System.Net.Http/tests/FunctionalTests/DefaultCredentialsTest.cs
  src/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClient.SelectedSitesTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientEKUTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.AcceptAllCerts.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Asynchrony.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Authentication.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.AutoRedirect.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cancellation.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ClientCertificates.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cookies.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Decompression.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.DefaultProxyCredentials.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Headers.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.MaxConnectionsPerServer.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.MaxResponseHeadersLength.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Proxy.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ResponseDrain.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ServerCertificates.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.SslProtocols.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.TrailingHeaders.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTestBase.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientMiniStressTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/HttpRequestMessageTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpRetryProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/IdnaProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/PlatformHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/PostScenarioTest.cs
  src/System.Net.Http/tests/FunctionalTests/PostScenarioUWPTest.cs
  src/System.Net.Http/tests/FunctionalTests/ResponseStreamTest.cs
  src/System.Net.Http/tests/FunctionalTests/SchSendAuxRecordHttpTest.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Labels: area-System.Net.Http

#35576 Ref Assembly and Units for Span.Trim
  src/System.Memory/ref/System.Memory.cs
  src/System.Memory/src/ApiCompatBaseline.uapaot.txt
  src/System.Memory/tests/Memory/Trim.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
  src/System.Runtime/tests/System/StringTests.netcoreapp.cs
Labels: area-System.Memory

#36859 Upgrade dotnet SDK to 3.0-preview3
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  pkg/test/frameworkSettings/netcoreapp3.0/settings.targets
  pkg/test/frameworkSettings/netstandard2.1/settings.targets
Labels: area-Infrastructure

#36915 React to RunTests CLI changes & Manual darc update
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/CheckSymbols.ps1
  eng/sendtohelix.proj
  global.json
Labels: area-Infrastructure

#36753 support HTTP/2 without TLS
  src/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/StaticTable.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionSettings.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTestBase.cs
  src/System.Net.Http/tests/FunctionalTests/PlatformHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/TestHelper.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#36898 add tests for invalid HTTP headers
  src/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/Common/tests/System/Net/Http/LoopbackServer.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Headers.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#36928 Fix ClientWebSocket close handshake when using proxy
  src/Common/src/System/Net/WebSockets/ManagedWebSocket.cs
  src/Common/tests/System/Net/Http/LoopbackProxyServer.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/System.Net.WebSockets.Client/tests/ConnectTest.cs
  src/System.Net.WebSockets.Client/tests/System.Net.WebSockets.Client.Tests.csproj
Labels: area-System.Net

#36938 Update testdata versions
  external/test-runtime/XUnit.Runtime.depproj
  src/System.ComponentModel.TypeConverter/tests/System.ComponentModel.TypeConverter.Tests.csproj
  src/System.Drawing.Common/tests/System.Drawing.Common.Tests.csproj
  src/System.IO.Compression.Brotli/tests/System.IO.Compression.Brotli.Tests.csproj
  src/System.IO.Compression.ZipFile/tests/System.IO.Compression.ZipFile.Tests.csproj
  src/System.IO.Compression/tests/System.IO.Compression.Tests.csproj
  src/System.IO.Packaging/tests/System.IO.Packaging.Tests.csproj
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
  src/System.Net.WebSockets.Client/tests/System.Net.WebSockets.Client.Tests.csproj
  src/System.Security.Cryptography.X509Certificates/tests/System.Security.Cryptography.X509Certificates.Tests.csproj
  src/System.Windows.Extensions/tests/System.Windows.Extensions.Tests.csproj
Labels: area-Infrastructure

#36945 fix tests with http/2
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTestBase.cs
  src/System.Net.Http/tests/FunctionalTests/TestHelper.cs
Labels: area-System.Net.Http, test bug

#36964 Disable asserting HttpListener web socket test
  src/System.Net.HttpListener/tests/HttpListenerWebSocketTests.cs
Labels: area-System.Net

#36940 Add Json serializer property name related features
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonCamelCaseNamePolicy.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonNamingPolicy.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyNameAttribute.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleEnumerable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/System.Text.Json/tests/Serialization/CamelCaseUnitTests.cs
  src/System.Text.Json/tests/Serialization/OptionsTests.cs
  src/System.Text.Json/tests/Serialization/PropertyNameTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#36975 Fix ClientWebSocket closing handshake logic
  src/Common/src/System/Net/WebSockets/ManagedWebSocket.cs
  src/System.Net.HttpListener/tests/HttpListenerWebSocketTests.cs
Labels: area-System.Net

#36946 Fix SocketsHttpHandler streams to do sync I/O in sync methods
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ChunkedEncodingReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectionCloseReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ContentLengthReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/EmptyReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpBaseStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentWriteStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/RawConnectionStream.cs
  src/System.Net.Http/tests/FunctionalTests/ResponseStreamTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#36908 handle bad Expires better
  src/System.Net.Http/src/System/Net/Http/Headers/HeaderUtilities.cs
  src/System.Net.Http/src/System/Net/Http/Headers/HttpContentHeaders.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Headers.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#36968 allow Http2 loopback test be unencrypted
  src/Common/tests/System/Net/Capability.Security.cs
  src/Common/tests/System/Net/Configuration.Http.cs
  src/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/System.Net.Http/tests/FunctionalTests/TestHelper.cs
Labels: area-System.Net.Http, test enhancement

#37009 Fix Json Source package not includding ArrayBufferWriter
  src/System.Text.Json/pkg/Microsoft.Bcl.Json.Sources.pkgproj
Labels: area-System.Text.Json, packaging

#36990 add test for connection timeouts
  src/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler, test enhancement

#36827 Implement server-side of NegotiateStream on Unix
  src/Common/src/Interop/Unix/System.Net.Security.Native/Interop.NetSecurityNative.cs
  src/Common/src/System/Net/NTAuthentication.Common.cs
  src/Common/src/System/Net/Security/NegotiateStreamPal.Unix.cs
  src/Common/src/System/Net/Security/Unix/SafeDeleteNegoContext.cs
  src/Common/tests/System/Net/Capability.Security.cs
  src/Common/tests/System/Net/Configuration.Security.cs
  src/Common/tests/System/Threading/Tasks/TaskTimeoutExtensions.cs
  src/Native/Unix/System.Net.Security.Native/pal_gssapi.c
  src/Native/Unix/System.Net.Security.Native/pal_gssapi.h
  src/System.Net.Security/src/System/Net/Security/NegotiateStreamPal.Unix.cs
  src/System.Net.Security/tests/FunctionalTests/NegotiateStreamKerberosTest.cs
  src/System.Net.Security/tests/FunctionalTests/NegotiateStreamStreamToStreamTest.cs
  src/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
Labels: area-System.Net.Security

#37038 Fix doc comment for Utf8JsonReader.ValueSequence
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
Labels: area-System.Text.Json

#37017 Address and fix ArrayBufferWriter and Utf8JsonWriter feedback and nits
  src/Common/src/System/Buffers/ArrayBufferWriter.cs
  src/System.Memory/src/System.Memory.csproj
  src/System.Memory/tests/ArrayBufferWriter/ArrayBufferWriterTests.Byte.cs
  src/System.Memory/tests/ArrayBufferWriter/ArrayBufferWriterTests.Char.cs
  src/System.Memory/tests/ArrayBufferWriter/ArrayBufferWriterTests.String.cs
  src/System.Memory/tests/ArrayBufferWriter/ArrayBufferWriterTests.T.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterChar.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/PooledBufferWriter.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json

#37051 skip GetAsync_IPv6LinkLocalAddressUri_Success if address is not available
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: test enhancement

#36913 Squash fix for process name.
  src/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Linux.cs
  src/System.Diagnostics.Process/tests/ProcessTestBase.cs
  src/System.Diagnostics.Process/tests/ProcessTests.cs
Labels: area-System.Diagnostics.Process

#37071 Fix DefaultLoadContextTest
  src/System.Runtime.Loader/tests/DefaultContext/DefaultLoadContextTest.cs
Labels: area-System.Runtime, test bug

#37070 Add Dictionary support to JsonSerializer
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Serialization/ClassType.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleNull.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleValue.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStackFrame.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
  src/System.Text.Json/tests/Serialization/Object.ReadTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClass.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClassWithObject.cs
  src/System.Text.Json/tests/Serialization/TestClasses.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#37052 Add ContextualReflection tests
  src/System.Runtime.Loader/tests/ContextualReflection.cs
  src/System.Runtime.Loader/tests/ContextualReflectionDependency/Configurations.props
  src/System.Runtime.Loader/tests/ContextualReflectionDependency/ContextualReflectionDependency.cs
  src/System.Runtime.Loader/tests/ContextualReflectionDependency/System.Runtime.Loader.Test.ContextualReflectionDependency.csproj
  src/System.Runtime.Loader/tests/System.Runtime.Loader.Tests.csproj
Labels: area-System.Reflection, area-System.Runtime

#37080 Revise and disable CreateInstanceAssemblyResolve
  src/System.Runtime/tests/System/ActivatorTests.netcoreapp.cs
Labels: area-System.Runtime

#37007 write Host header first if we need to add it
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http1.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Labels: area-System.Net.Http.SocketsHttpHandler

#37109 make invalidUri more invalid
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http, test enhancement

#37121 Directory.Move behaves differently on Unix vs. Windows
  src/System.IO.FileSystem/src/System/IO/FileSystem.Unix.cs
  src/System.IO.FileSystem/tests/Directory/Move.cs
Labels: area-System.IO

#36879 Fixes an issue with some characters not recognized as ASCII
  src/System.Private.Uri/src/System/Uri.cs
  src/System.Private.Uri/tests/FunctionalTests/UriIsWellFormedUriStringTest.cs
Labels: area-System.Net

#37130 fix ReadAtLeastAsync
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#37124 Fix JSON deserializer property name escaping and address naming feedback
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonNamingPolicy.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
  src/System.Text.Json/tests/Serialization/PropertyNameTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.cs
Labels: area-System.Text.Json

#37151 release/3.0: fix ReadAtLeastAsync (#37130)
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#37172 Enable CoreLib coverage
  eng/dependencies.props
  src/Directory.Build.props
Labels: area-Infrastructure

#36678 SqlClient Allow specifying a UDT SqlParameter value as bytes
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/UdtTest/SqlServerTypesTest.cs
Labels: area-System.Data.SqlClient

#37153 Fix SocketsHttpHandler system proxy usage logic
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinInetProxyHelper.cs
  src/System.Net.Http.WinHttpHandler/tests/UnitTests/Configurations.props
  src/System.Net.Http.WinHttpHandler/tests/UnitTests/HttpSystemProxyTest.cs
  src/System.Net.Http.WinHttpHandler/tests/UnitTests/System.Net.Http.WinHttpHandler.Unit.Tests.csproj
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpSystemProxy.cs
Labels: area-System.Net.Http.SocketsHttpHandler, os-windows

#36906 Add System.Resources.Extensions
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  pkg/descriptions.json
  src/Common/src/CoreLib/System.Private.CoreLib.Shared.projitems
  src/Common/src/CoreLib/System/IO/PinnedBufferMemoryStream.cs
  src/Common/src/CoreLib/System/Resources/FastResourceComparer.cs
  src/Common/src/CoreLib/System/Resources/ResourceReader.Core.cs
  src/Common/src/CoreLib/System/Resources/ResourceReader.cs
  src/Common/src/CoreLib/System/Resources/RuntimeResourceSet.cs
  src/Common/src/System/Resources/ResourceWriter.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.Windows.cs
  src/System.Resources.Extensions/Directory.Build.props
  src/System.Resources.Extensions/System.Resources.Extensions.sln
  src/System.Resources.Extensions/pkg/System.Resources.Extensions.pkgproj
  src/System.Resources.Extensions/ref/Configurations.props
  src/System.Resources.Extensions/ref/System.Resources.Extensions.cs
  src/System.Resources.Extensions/ref/System.Resources.Extensions.csproj
  src/System.Resources.Extensions/src/BinaryReaderExtensions.cs
  src/System.Resources.Extensions/src/Configurations.props
  src/System.Resources.Extensions/src/Resources/Strings.resx
  src/System.Resources.Extensions/src/System.Resources.Extensions.csproj
  src/System.Resources.Extensions/src/System/Resources/Extensions/DeserializingResourceReader.cs
  src/System.Resources.Extensions/src/System/Resources/Extensions/PreserializedResourceWriter.cs
  src/System.Resources.Extensions/src/System/Resources/Extensions/SerializationFormat.cs
  src/System.Resources.Extensions/tests/BinaryResourceWriterUnitTest.cs
  src/System.Resources.Extensions/tests/Configurations.props
  src/System.Resources.Extensions/tests/MyResourceType.cs
  src/System.Resources.Extensions/tests/System.Resources.Extensions.Tests.csproj
  src/System.Resources.Extensions/tests/TestData.cs
  src/System.Resources.Extensions/tests/TestData.resources
  src/System.Resources.Writer/src/System.Resources.Writer.csproj
  src/System.Resources.Writer/src/System/Resources/ResourceWriter.core.cs
  src/System.Resources.Writer/src/System/Runtime/Versioning/MultitargetingHelpers.cs
  src/System.Windows.Extensions/src/System/Drawing/FontConverter.cs
Labels: area-System.Resources

#37200 Allow uppercase HTTP_PROXY and NO_PROXY variables
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpEnvironmentProxy.cs
  src/System.Net.Http/tests/UnitTests/HttpEnvironmentProxyTest.cs
  src/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
Labels: area-System.Net.Http

#37159 Fix DateTime(Offset) formatting bugs in Utf8JsonWriter
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.Date.cs
  src/System.Text.Json/tests/JsonDateTimeTestData.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json

#37194 deal with dualmode sockets
  src/System.Net.Requests/src/System/Net/FtpControlStream.cs
Labels: area-System.Net

#37132 update GatewayAddresses() to return IPv6 address on Unix
  src/Native/Unix/System.Native/pal_interfaceaddresses.c
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/BsdIpInterfaceProperties.cs
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/BsdNetworkInterface.cs
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/LinuxIPInterfaceProperties.cs
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/LinuxNetworkInterface.cs
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/StringParsingHelpers.Addresses.cs
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/StringParsingHelpers.Connections.cs
  src/System.Net.NetworkInformation/tests/FunctionalTests/AddressParsingTests.cs
  src/System.Net.NetworkInformation/tests/FunctionalTests/NetworkFiles/ipv6_route
Labels: area-System.Net, os-linux

#37160 deal with empty response headers for HTTP2
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HPackDecoder.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Headers.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.TrailingHeaders.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#37186 Add serializer support for IDictionary non-primitive types
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleNull.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleValue.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleEnumerable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStackFrame.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
  src/System.Text.Json/tests/Serialization/PolymorphicTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClassWithNullables.cs
Labels: area-System.Text.Json

#37081 Reenable tests
  src/System.Runtime.Loader/tests/ContextualReflection.cs
  src/System.Runtime/tests/System/ActivatorTests.netcoreapp.cs
Labels: area-System.Runtime

#37146 Fixes relative path at configSource on linux
  src/System.Configuration.ConfigurationManager/src/System/Configuration/BaseConfigurationRecord.cs
  src/System.Configuration.ConfigurationManager/src/System/Configuration/UrlPath.cs
  src/System.Configuration.ConfigurationManager/tests/System/Configuration/AppSettingsTests.cs
  src/System.Configuration.ConfigurationManager/tests/System/Configuration/UrlPathTests.cs
Labels: area-System.Configuration

#36811 Improve Utf8JsonWriter code coverage
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json

#37206 Don't copy state unnecessarily
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Span.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.String.cs
Labels: area-System.Text.Json

#37129 Adding System.Text.Json OOB package
  eng/Tools.props
  eng/Version.Details.xml
  eng/Versions.props
  src/System.Text.Json/Directory.Build.props
  src/System.Text.Json/System.Text.Json.sln
  src/System.Text.Json/pkg/Microsoft.Bcl.Json.Sources.pkgproj
  src/System.Text.Json/pkg/System.Text.Json.pkgproj
  src/System.Text.Json/porting_guide/README.md
  src/System.Text.Json/ref/Configurations.props
  src/System.Text.Json/ref/System.Text.Json.csproj
  src/System.Text.Json/source_package/README.md
  src/System.Text.Json/src/Configurations.props
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: * NO MERGE *, area-System.Text.Json, packaging

#37237 Ensure that invalid AIA, CDP, and OCSP extensions don't throw.
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CrlCache.cs
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslX509ChainProcessor.cs
  src/System.Security.Cryptography.X509Certificates/tests/DynamicChainTests.cs
Labels: area-System.Security

#37251 Give SocketsHttpHandler more descriptive error messages
  src/System.Net.Http/src/Resources/Strings.resx
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ChunkedEncodingReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ContentLengthReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/RawConnectionStream.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#37238 Add proxy environment variables support for Windows
  src/Common/tests/System/Net/Http/LoopbackProxyServer.cs
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpEnvironmentProxy.Unix.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpEnvironmentProxy.Windows.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpEnvironmentProxy.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SystemProxyInfo.OSX.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SystemProxyInfo.Unix.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SystemProxyInfo.Windows.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Proxy.cs
  src/System.Net.Http/tests/UnitTests/Configurations.props
  src/System.Net.Http/tests/UnitTests/Fakes/MacProxy.cs
  src/System.Net.Http/tests/UnitTests/HttpEnvironmentProxyTest.cs
  src/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
  src/System.Net.Http/tests/UnitTests/SystemProxyInfoTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#37213 fix noencryption tests on platforms with tls1.3
  src/CoreFx.Private.TestUtilities/ref/CoreFx.Private.TestUtilities.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.cs
  src/System.Net.Security/tests/FunctionalTests/ServerAllowNoEncryptionTest.cs
  src/System.Net.Security/tests/FunctionalTests/ServerNoEncryptionTest.cs
  src/System.Net.Security/tests/FunctionalTests/ServerRequireEncryptionTest.cs
  src/System.Net.Security/tests/FunctionalTests/SslStreamNegotiatedCipherSuiteTest.cs
Labels: area-System.Net.Security

#37267 Improve a ClientWebSocket connection failure error message
  src/System.Net.WebSockets.Client/src/Resources/Strings.resx
  src/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.Managed.cs
Labels: area-System.Net

#37223 Clean up HTTP/2 protocol exception handling
  src/System.Net.Http/src/Resources/Strings.resx
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2ProtocolErrorCode.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2ProtocolException.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.TrailingHeaders.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#37271 Cleanup some WebSocket tests
  src/System.Net.WebSockets.Client/tests/CancelTest.cs
  src/System.Net.WebSockets.Client/tests/ClientWebSocketTestBase.cs
  src/System.Net.WebSockets.Client/tests/KeepAliveTest.cs
  src/System.Net.WebSockets.Client/tests/SendReceiveTest.cs
Labels: area-System.Net

#37259 Plumb cancellation through SslStream.AuthenticateAsXxAsync
  src/Common/tests/System/Net/VirtualNetwork/VirtualNetwork.cs
  src/Common/tests/System/Net/VirtualNetwork/VirtualNetworkStream.cs
  src/System.Net.Security/src/System/Net/FixedSizeReader.cs
  src/System.Net.Security/src/System/Net/HelperAsyncResults.cs
  src/System.Net.Security/src/System/Net/Security/SslStream.Implementation.Adapters.cs
  src/System.Net.Security/src/System/Net/Security/SslStream.Implementation.cs
  src/System.Net.Security/src/System/Net/Security/SslStream.cs
  src/System.Net.Security/tests/FunctionalTests/SslStreamStreamToStreamTest.cs
  src/System.Net.Security/tests/FunctionalTests/SslStreamStreamToStreamTest.netcoreapp.cs
  src/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
  src/System.Net.Security/tests/UnitTests/Fakes/FakeSslStream.Implementation.cs
Labels: area-System.Net.Security

#37283 Disable failing Process name test
  src/System.Diagnostics.Process/tests/ProcessTests.Unix.cs
Labels: area-System.Diagnostics.Process

#37248 ALC SatelliteAssemblies tests
  src/System.Runtime.Loader/tests/MainStrings.en.resx
  src/System.Runtime.Loader/tests/MainStrings.es-MX.resx
  src/System.Runtime.Loader/tests/MainStrings.resx
  src/System.Runtime.Loader/tests/ReferencedClassLib/Configurations.props
  src/System.Runtime.Loader/tests/ReferencedClassLib/ReferencedClassLib.cs
  src/System.Runtime.Loader/tests/ReferencedClassLib/ReferencedClassLib.csproj
  src/System.Runtime.Loader/tests/ReferencedClassLib/ReferencedStrings.en.resx
  src/System.Runtime.Loader/tests/ReferencedClassLib/ReferencedStrings.resx
  src/System.Runtime.Loader/tests/ReferencedClassLibNeutralIsSatellite/Configurations.props
  src/System.Runtime.Loader/tests/ReferencedClassLibNeutralIsSatellite/ReferencedClassLibNeutralIsSatellite.cs
  src/System.Runtime.Loader/tests/ReferencedClassLibNeutralIsSatellite/ReferencedClassLibNeutralIsSatellite.csproj
  src/System.Runtime.Loader/tests/ReferencedClassLibNeutralIsSatellite/ReferencedStrings.en.resx
  src/System.Runtime.Loader/tests/ReferencedClassLibNeutralIsSatellite/ReferencedStrings.es.resx
  src/System.Runtime.Loader/tests/SatelliteAssemblies.cs
  src/System.Runtime.Loader/tests/System.Runtime.Loader.Tests.csproj
Labels: area-System.Runtime

#37299 Harden several SocketsHttpHandler streams against unexpected Dispose
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ChunkedEncodingWriteStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectionCloseReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ContentLengthWriteStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentWriteStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/RawConnectionStream.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#37270 Fix bad usage of ArrayPool in TdsParserStateObject
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObject.cs
Labels: area-System.Data.SqlClient

#37167 Add TokenStartIndex property to Utf8JsonReader and fix bug in ConsumeNumber
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.Parse.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.MultiSegment.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.MultiSegment.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json

#37311 Reenable for dotnet/coreclr#24191
  src/System.Runtime.Loader/tests/SatelliteAssemblies.cs
Labels: area-System.Runtime
