Repository dotnet/corefx, pull requests merged in 2019-11, with the labels that each got.

#42279 Extend Json BOM test
  src/System.Text.Json/tests/Serialization/Stream.ReadTests.cs
Labels: area-System.Text.Json, test enhancement

#42187 Improve LINQ diagnosability and startup performance
  src/System.Linq.Expressions/src/System/Dynamic/Utils/DelegateHelpers.cs
  src/System.Linq.Expressions/src/System/Linq/Expressions/Compiler/LambdaCompiler.cs
  src/System.Linq.Expressions/tests/CompilerTests.cs
  src/System.Linq.Expressions/tests/Lambda/LambdaTests.cs
Labels: area-System.Linq.Expressions

#42267 Honor dictionary key policy when entry value is null
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.KeyPolicy.cs
Labels: area-System.Text.Json

#42278 Use SDK from bootstrapped CLI rather than testhost
  eng/build.ps1
Labels: area-Infrastructure

#42282 Consolidate .netcoreapp.cs test files in System.Text.Encoding
  src/System.Text.Encoding/tests/ASCIIEncoding/ASCIIEncodingDecode.cs
  src/System.Text.Encoding/tests/ASCIIEncoding/ASCIIEncodingDecode.netcoreapp.cs
  src/System.Text.Encoding/tests/ASCIIEncoding/ASCIIEncodingEncode.cs
  src/System.Text.Encoding/tests/ASCIIEncoding/ASCIIEncodingEncode.netcoreapp.cs
  src/System.Text.Encoding/tests/Decoder/DecoderSpanTests.cs
  src/System.Text.Encoding/tests/Encoder/EncoderSpanTests.cs
  src/System.Text.Encoding/tests/EncodingTestHelpers.cs
  src/System.Text.Encoding/tests/EncodingTestHelpers.netcoreapp.cs
  src/System.Text.Encoding/tests/NegativeEncodingTests.cs
  src/System.Text.Encoding/tests/NegativeEncodingTests.netcoreapp.cs
  src/System.Text.Encoding/tests/System.Text.Encoding.Tests.csproj
Labels: area-System.Text.Encoding

#42284 [release/3.1] Honor dictionary key policy when entry value is null (#42267)
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.KeyPolicy.cs
Labels: Servicing-consider, area-System.Text.Json

#42277 Use PackageLicenseExpression instead of URL
  Directory.Build.props
  eng/Packaging.props
Labels: Servicing-consider

#37583 Use clonefile for CopyFile, if available
  src/Common/src/Interop/Unix/System.Native/Interop.CopyFile.cs
  src/Native/Unix/Common/pal_config.h.in
  src/Native/Unix/System.Native/pal_io.c
  src/Native/Unix/System.Native/pal_io.h
  src/Native/Unix/configure.cmake
  src/System.IO.FileSystem/src/System/IO/FileSystem.Unix.cs
Labels: area-System.IO

#42262 Add new method for parameterless Listen()
  src/System.Net.Sockets/ref/System.Net.Sockets.cs
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/System.Net.Sockets/tests/FunctionalTests/CreateSocketTests.cs
  src/System.Net.Sockets/tests/FunctionalTests/DisposedSocketTests.cs
  src/System.Net.Sockets/tests/FunctionalTests/DisposedSocketTests.netcoreapp.cs
  src/System.Net.Sockets/tests/FunctionalTests/SocketOptionNameTest.cs
Labels: area-System.Net.Sockets

#42289 Use Package suffix instead of PackageId and Version suffix instead of PackageVersion
  eng/Tools.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/analyzers.props
  eng/codeOptimization.targets
  eng/common/tools.ps1
  eng/common/tools.sh
  eng/packaging.props
  eng/restore/docs.targets
  eng/restore/illink.targets
  eng/restore/optimizationData.targets
  global.json
  src/Common/tests/CoreFx.Private.TestUtilities/CoreFx.Private.TestUtilities.csproj
  src/Common/tests/System/Xml/ModuleCore/ModuleCore.csproj
  src/Microsoft.Diagnostics.Tracing.EventSource.Redist/tests/Microsoft.Diagnostics.Tracing.EventSource.Redist.Tests.csproj
  src/Native/pkg/runtime.native.System.Data.SqlClient.sni/runtime.native.System.Data.SqlClient.sni.pkgproj
  src/System.ComponentModel.TypeConverter/tests/System.ComponentModel.TypeConverter.Tests.csproj
  src/System.Data.SqlClient/tests/FunctionalTests/System.Data.SqlClient.Tests.csproj
  src/System.Diagnostics.Tracing/tests/System.Diagnostics.Tracing.Tests.csproj
  src/System.Drawing.Common/tests/System.Drawing.Common.Tests.csproj
  src/System.IO.Compression.Brotli/tests/System.IO.Compression.Brotli.Tests.csproj
  src/System.IO.Compression.ZipFile/tests/System.IO.Compression.ZipFile.Tests.csproj
  src/System.IO.Compression/tests/System.IO.Compression.Tests.csproj
  src/System.IO.Packaging/tests/System.IO.Packaging.Tests.csproj
  src/System.Linq.Expressions/tests/System.Linq.Expressions.Tests.csproj
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/System.Net.Requests/tests/System.Net.Requests.Tests.csproj
  src/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
  src/System.Net.WebSockets.Client/tests/System.Net.WebSockets.Client.Tests.csproj
  src/System.Private.Xml/tests/Writers/XmlWriterApi/System.Xml.RW.XmlWriterApi.Tests.csproj
  src/System.Resources.Extensions/tests/System.Resources.Extensions.Tests.csproj
  src/System.Security.Cryptography.X509Certificates/tests/System.Security.Cryptography.X509Certificates.Tests.csproj
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
  src/System.Windows.Extensions/tests/System.Windows.Extensions.Tests.csproj
  src/pkg/Microsoft.Private.PackageBaseline/Microsoft.Private.PackageBaseline.pkgproj
  src/pkg/frameworkPackage.targets
  src/pkg/test/frameworkSettings/netcoreapp5.0/settings.targets
  src/pkg/test/packageSettings/System.IO.Ports/workaroundDowngrade.targets
  src/restore/netstandard/netstandard.depproj
  src/restore/runtime/runtime.depproj
  src/restore/tools/tools.depproj
Labels: area-Infrastructure

#42183 Delete ILLinkTrim.xml from System.Net.Primitives
  eng/illink.targets
  src/System.Net.HttpListener/src/System.Net.HttpListener.csproj
  src/System.Net.HttpListener/src/System/Net/Windows/CookieExtensions.cs
  src/System.Net.Primitives/src/ILLinkTrim.xml
  src/System.Net.Primitives/src/System.Net.Primitives.csproj
  src/System.Net.Primitives/src/System/Net/Cookie.cs
  src/System.Net.Primitives/tests/UnitTests/System.Net.Primitives.UnitTests.Tests.csproj
Labels: area-System.Net, assembly-size

#41940 Formatting and parsing changes to JsonString
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/System.Text.Json/src/System/Text/Json/JsonHelpers.Date.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonString.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.cs
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.Date.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTime.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTimeOffset.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.DateTime.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.DateTimeOffset.cs
  src/System.Text.Json/tests/JsonObjectTests.cs
  src/System.Text.Json/tests/JsonStringTests.cs
Labels: area-System.Text.Json

#42295 Remove hardcoded paths from native build scripts
  src/Native/Unix/gen-buildsys-clang.sh
  src/Native/Unix/gen-buildsys-gcc.sh
  src/Native/Windows/clrcompression/CMakeLists.txt
  src/Native/Windows/gen-buildsys-win.bat
  src/Native/build-native.cmd
  src/Native/build-native.sh
Labels: area-Infrastructure

#42297 Add desktop build of System.Runtime.CompilerServices.Unsafe
  src/System.Runtime.CompilerServices.Unsafe/src/Configurations.props
  src/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.ilproj
  src/System.Runtime.CompilerServices.Unsafe/src/include/netfx/coreassembly.h
Labels: area-System.Runtime.CompilerServices

#39727 Cleanup GDI interop in System.Drawing.Common
  src/Common/src/Interop/Windows/Gdi32/Interop.CombineRgn.cs
  src/Common/src/Interop/Windows/Gdi32/Interop.CreateCompatibleDC.cs
  src/Common/src/Interop/Windows/Gdi32/Interop.CreateDC.cs
  src/Common/src/Interop/Windows/Gdi32/Interop.CreateFontIndirect.cs
  src/Common/src/Interop/Windows/Gdi32/Interop.CreateIC.cs
  src/Common/src/Interop/Windows/Gdi32/Interop.CreateRectRgn.cs
  src/Common/src/Interop/Windows/Gdi32/Interop.DeleteDC.cs
  src/Common/src/Interop/Windows/Gdi32/Interop.DeleteObject.cs
  src/Common/src/Interop/Windows/Gdi32/Interop.GetClipRgn.cs
  src/Common/src/Interop/Windows/Gdi32/Interop.GetCurrentObject.cs
  src/Common/src/Interop/Windows/Gdi32/Interop.GetDeviceCaps.cs
  src/Common/src/Interop/Windows/Gdi32/Interop.GetObjectType.cs
  src/Common/src/Interop/Windows/Gdi32/Interop.GetRgnBox.cs
  src/Common/src/Interop/Windows/Gdi32/Interop.GetStockObject.cs
  src/Common/src/Interop/Windows/Gdi32/Interop.ObjectType.cs
  src/Common/src/Interop/Windows/Gdi32/Interop.OffsetViewportOrgEx.cs
  src/Common/src/Interop/Windows/Gdi32/Interop.RECT.cs
  src/Common/src/Interop/Windows/Gdi32/Interop.RegionType.cs
  src/Common/src/Interop/Windows/Gdi32/Interop.RestoreDC.cs
  src/Common/src/Interop/Windows/Gdi32/Interop.SaveDC.cs
  src/Common/src/Interop/Windows/Gdi32/Interop.SelectClipRgn.cs
  src/Common/src/Interop/Windows/User32/Interop.GetDC.cs
  src/Common/src/Interop/Windows/User32/Interop.LOGFONT.cs
  src/Common/src/Interop/Windows/User32/Interop.NONCLIENTMETRICS.cs
  src/Common/src/Interop/Windows/User32/Interop.ReleaseDC.cs
  src/Common/src/Interop/Windows/User32/Interop.SystemParametersInfo.cs
  src/Common/src/Interop/Windows/User32/Interop.WindowFromDC.cs
  src/System.Drawing.Common/src/PinvokeAnalyzerExceptionList.analyzerdata
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/System.Drawing.Common/src/System/Drawing/BufferedGraphicsContext.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Font.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Font.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Font.cs
  src/System.Drawing.Common/src/System/Drawing/Gdiplus.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Icon.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/NativeMethods.cs
  src/System.Drawing.Common/src/System/Drawing/NativeStructs.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/DefaultPrintController.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PageSettings.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PreviewPrintController.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PrintPreviewGraphics.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PrinterSettings.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Region.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/ScreenDC.cs
  src/System.Drawing.Common/src/System/Drawing/SystemFonts.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/UnsafeNativeMethods.cs
  src/System.Drawing.Common/src/misc/DpiHelper.cs
  src/System.Drawing.Common/src/misc/GDI/DeviceContext.cs
  src/System.Drawing.Common/src/misc/GDI/NativeMethods.cs
  src/System.Drawing.Common/src/misc/GDI/SafeNativeMethods.cs
  src/System.Drawing.Common/src/misc/GDI/UnsafeNativeMethods.cs
  src/System.Drawing.Common/src/misc/GDI/WindowsRegion.cs
Labels: area-System.Drawing

#42302 Consolidate .netcoreapp.cs test files in System.Collections.*
  src/System.Collections.Concurrent/tests/ConcurrentBagTests.cs
  src/System.Collections.Concurrent/tests/ConcurrentBagTests.netcoreapp.cs
  src/System.Collections.Concurrent/tests/ConcurrentQueueTests.cs
  src/System.Collections.Concurrent/tests/ConcurrentQueueTests.netcoreapp.cs
  src/System.Collections.Concurrent/tests/System.Collections.Concurrent.Tests.csproj
  src/System.Collections/tests/BitArray/BitArray_OperatorsTests.cs
  src/System.Collections/tests/BitArray/BitArray_OperatorsTests.netcoreapp.cs
  src/System.Collections/tests/Generic/Dictionary/Dictionary.Generic.Tests.ConcurrentAccessDetection.cs
  src/System.Collections/tests/Generic/Dictionary/Dictionary.Generic.Tests.cs
  src/System.Collections/tests/Generic/Dictionary/Dictionary.Generic.Tests.netcoreapp.cs
  src/System.Collections/tests/Generic/HashSet/HashSet.Generic.Tests.cs
  src/System.Collections/tests/Generic/HashSet/HashSet.Generic.Tests.netcoreapp.cs
  src/System.Collections/tests/Generic/Queue/Queue.Generic.Tests.cs
  src/System.Collections/tests/Generic/Queue/Queue.Generic.Tests.netcoreapp.cs
  src/System.Collections/tests/Generic/SortedSet/SortedSet.Generic.Tests.cs
  src/System.Collections/tests/Generic/SortedSet/SortedSet.Generic.Tests.netcoreapp.cs
  src/System.Collections/tests/Generic/Stack/Stack.Generic.Tests.cs
  src/System.Collections/tests/Generic/Stack/Stack.Generic.Tests.netcoreapp.cs
  src/System.Collections/tests/System.Collections.Tests.csproj
Labels: area-System.Collections

#42254 Guard against null refs when attempting to deserialize mismatched JSON into collections
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandlePropertyName.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/System.Text.Json/tests/NewtonsoftTests/CustomObjectConverterTests.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
  src/System.Text.Json/tests/Serialization/PolymorphicTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.NonGenericCollections.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.GenericCollections.cs
Labels: area-System.Text.Json

#42324 Disable hanging tests
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.DefaultProxyCredentials.cs
  src/System.Net.Requests/tests/HttpWebRequestTest.cs
Labels: area-System.Net

#42073 Optimize FindFirstCharToEncode for JavaScriptEncoder.Default using Ssse3 intrinsics
  src/System.Text.Encodings.Web/src/System.Text.Encodings.Web.csproj
  src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/DefaultJavaScriptEncoderBasicLatin.cs
  src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/Sse2Helper.cs
  src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/Ssse3Helper.cs
  src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/UnsafeRelaxedJavaScriptEncoder.cs
Labels: area-System.Text.Encodings.Web

#42328 Remove unused return value from ChannelUtilities.QueueWaiter
  src/System.Threading.Channels/src/System/Threading/Channels/ChannelUtilities.cs
Labels: area-System.Threading.Channels

#42330 Fix ValueTask usage in XmlTextReaderImpl.ParseTextAsync
  src/System.Private.Xml/src/System/Xml/Core/XmlTextReaderImplAsync.cs
Labels: area-System.Xml

#42331 Assert ValueTask completion in SslStream.Read/Write
  src/System.Net.Security/src/System/Net/Security/SslStream.cs
Labels: area-System.Net.Security

#42311 Add System.Net.Quic.dll assembly with basic object model and mock implementation
  src/System.Net.Quic/Directory.Build.props
  src/System.Net.Quic/System.Net.Quic.sln
  src/System.Net.Quic/ref/Configurations.props
  src/System.Net.Quic/ref/System.Net.Quic.cs
  src/System.Net.Quic/ref/System.Net.Quic.csproj
  src/System.Net.Quic/src/Configurations.props
  src/System.Net.Quic/src/Resources/Strings.resx
  src/System.Net.Quic/src/System.Net.Quic.csproj
  src/System.Net.Quic/src/System/Net/Quic/QuicConnection.cs
  src/System.Net.Quic/src/System/Net/Quic/QuicListener.cs
  src/System.Net.Quic/src/System/Net/Quic/QuicStream.cs
  src/System.Net.Quic/tests/FunctionalTests/Configurations.props
  src/System.Net.Quic/tests/FunctionalTests/QuicConnectionTests.cs
  src/System.Net.Quic/tests/FunctionalTests/System.Net.Quic.Tests.csproj
  src/pkg/Microsoft.Private.PackageBaseline/packageIndex.json
Labels: area-System.Net

#42325 Consolidate .netcoreapp.cs test files in System.Data.*
  src/System.Data.Common/tests/System.Data.Common.Tests.csproj
  src/System.Data.Common/tests/System/Data/Common/DbDataReaderTest.cs
  src/System.Data.Common/tests/System/Data/Common/DbDataReaderTest.netcoreapp.cs
  src/System.Data.Common/tests/System/Data/Common/DbProviderFactoriesTests.cs
  src/System.Data.Common/tests/System/Data/Common/DbProviderFactoryTest.cs
Labels: area-System.Data

#42342 Disable some networking tests on Windows 7
  src/Common/tests/System/Net/WebSockets/WebSocketCreateTest.cs
  src/System.Net.Security/tests/FunctionalTests/CertificateValidationRemoteServer.cs
Labels: area-System.Net, test bug

#42322 Cleanup HttpClient certificate tests
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ClientCertificates.cs
Labels: area-System.Net.Http

#42171 Improve tests for StreamReader cancellation
  src/System.IO/tests/StreamReader/StreamReaderTests.cs
Labels: area-System.IO

#41122 Read values from /proc/[pid]/status
  src/Common/src/Interop/Linux/procfs/Interop.ProcFsStat.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.Linux.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Linux.cs
  src/System.Diagnostics.Process/tests/ProcessTests.cs
Labels: area-System.Diagnostics.Process

#42152 Test for null FNFE.FusionLog
  src/System.Reflection/tests/AssemblyNameTests.cs
Labels: area-System.Reflection

#42150 Tests for BIFE containing path
  src/Common/tests/CoreFx.Private.TestUtilities/System/AssertExtensions.cs
  src/System.Reflection/tests/AssemblyTests.cs
Labels: area-System.Reflection

#42346 Disable some FileSystemWatcher tests on MacOS
  src/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.MultipleWatchers.cs
Labels: area-System.IO, os-mac-os-x

#42351 Remove unused testdata version property
  src/System.Resources.Extensions/tests/System.Resources.Extensions.Tests.csproj
Labels: area-System.Resources

#42355 ARM tests take over 15 minutes
  src/sendtohelix.proj
Labels: area-Infrastructure

#41764 Return all local IPs on Linux
  src/Common/src/Interop/Unix/System.Native/Interop.HostEntry.cs
  src/Native/Unix/System.Native/pal_networking.c
  src/Native/Unix/System.Native/pal_networking.h
  src/System.Net.NameResolution/src/System.Net.NameResolution.csproj
  src/System.Net.NameResolution/src/System/Net/NameResolutionPal.Unix.cs
Labels: area-System.Net, os-linux

#42360 Remove OSX demands
  buildpipeline/DotNet-CoreFx-Trusted-OSX.json
Labels: area-Infrastructure

#41963 Fix wrong behaviour when move multiple files out of watched folder on mac
  src/System.IO.FileSystem.Watcher/src/System.IO.FileSystem.Watcher.csproj
  src/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.OSX.cs
  src/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.Directory.Move.cs
  src/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.File.Move.cs
  src/System.IO.FileSystem.Watcher/tests/Utility/FileSystemWatcherTest.cs
Labels: area-System.IO

#42119 Fix DataRowExtensions.Field for nullable types
  src/System.Data.Common/src/System/Data/DataRowExtensions.cs
  src/System.Data.DataSetExtensions/tests/System/Data/DataRowExtensionsTests.cs
Labels: area-System.Data

#42365 Reduce System.Text.Json test count from ~150K to ~11K
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
Labels: area-System.Text.Json

#42367 Change Platform -> ArchGroup for timeout increase
  src/sendtohelix.proj
Labels: area-Infrastructure

#42338 Fix SNIPacket.ReadFromStreamAsync to not consume same ValueTask twice
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIPacket.NetCoreApp.cs
Labels: area-System.Data.SqlClient

#42373 Add Array.Copy test for very large arrays
  src/System.Runtime/tests/System/ArrayTests.cs
Labels: area-System.Runtime

#42376 Update linux containers to match coreclr's and use latest toolchain
  .azure-ci.yml
  Documentation/building/unix-instructions.md
  cross/toolchain.cmake
  cross/tryrun.cmake
  eng/pipelines/linux.yml
  eng/pipelines/outerloop.yml
  src/Native/Unix/gen-buildsys-clang.sh
  src/Native/build-native.sh
Labels: area-Infrastructure

#42362 Annotate System.Text.Encodings.Web
  src/System.Text.Encodings.Web/ref/System.Text.Encodings.Web.csproj
  src/System.Text.Encodings.Web/src/System.Text.Encodings.Web.csproj
  src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/TextEncoder.cs
  src/System.Text.Encodings.Web/src/System/Text/Unicode/UnicodeHelpers.cs
  src/System.Text.Encodings.Web/src/System/Text/Unicode/UnicodeRanges.cs
  src/System.Text.Encodings.Web/src/System/Text/Unicode/UnicodeRanges.generated.cs
  src/System.Text.Encodings.Web/tools/GenUnicodeRanges/Program.cs
Labels: area-System.Text.Encodings.Web

#42370 [release/3.1] Read values from /proc/[pid]/status (#41122)
  src/Common/src/Interop/Linux/procfs/Interop.ProcFsStat.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.Linux.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Linux.cs
  src/System.Diagnostics.Process/tests/ProcessTests.cs
Labels: Servicing-approved, area-System.Diagnostics.Process

#42308 [release/3.1] Guard against null refs when attempting to deserialize mismatched JSON into collections
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandlePropertyName.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/System.Text.Json/tests/NewtonsoftTests/CustomObjectConverterTests.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
  src/System.Text.Json/tests/Serialization/PolymorphicTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.NonGenericCollections.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.GenericCollections.cs
Labels: Servicing-approved, area-System.Text.Json

#42387 Enable httpstress nightly runs
  eng/pipelines/stress/http-linux.yml
  eng/pipelines/stress/http-windows.yml
Labels: area-Infrastructure

#42298 Annotate System.Security.Cryptography.Primitives for nullable
  src/Common/src/Internal/Cryptography/Helpers.cs
  src/System.Security.Cryptography.Pkcs/src/System.Security.Cryptography.Pkcs.csproj
  src/System.Security.Cryptography.Primitives/ref/System.Security.Cryptography.Primitives.cs
  src/System.Security.Cryptography.Primitives/ref/System.Security.Cryptography.Primitives.csproj
  src/System.Security.Cryptography.Primitives/src/System.Security.Cryptography.Primitives.csproj
  src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/AsymmetricAlgorithm.cs
  src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/CryptoConfigForwarder.cs
  src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/CryptoStream.cs
  src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/CryptographicUnexpectedOperationException.cs
  src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/HMAC.cs
  src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/HashAlgorithm.cs
  src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/HashAlgorithmName.cs
  src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/KeyedHashAlgorithm.cs
  src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/SymmetricAlgorithm.cs
Labels: area-System.Security

#42188 Annotate System.Runtime.Serialization.Formatters for nullable
  src/System.Runtime.Serialization.Formatters/ref/System.Runtime.Serialization.Formatters.cs
  src/System.Runtime.Serialization.Formatters/ref/System.Runtime.Serialization.Formatters.csproj
  src/System.Runtime.Serialization.Formatters/src/System.Runtime.Serialization.Formatters.csproj
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/DeserializationEventHandler.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatter.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/FormatterConverter.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/FormatterServices.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/BinaryArray.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/BinaryAssembly.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/BinaryAssemblyInfo.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/BinaryFormatter.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/BinaryFormatterWriter.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/BinaryObjectInfo.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/BinaryObjectReader.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/BinaryObjectString.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/BinaryObjectWithMap.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/BinaryObjectWithMapTyped.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/BinaryObjectWriter.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/BinaryParser.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/BinaryTypeConverter.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/BinaryUtilClasses.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/Converter.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/MemberPrimitiveTyped.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/MemberPrimitiveUntyped.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/ObjectMap.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/ObjectProgress.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/IFieldInfo.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/IFormatter.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/ISerializationSurrogate.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/ISurrogateSelector.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/MemberHolder.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/ObjectManager.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/SerializationBinder.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/SerializationEventsCache.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/SerializationFieldInfo.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/SerializationObjectManager.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/SurrogateSelector.cs
  src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/ValueTypeFixupInfo.cs
Labels: area-System.Runtime

#42394 Consolidate .netcoreapp.cs test files in System.Security.Cryptography.*
  src/System.Security.Cryptography.Algorithms/tests/HashAlgorithmTest.cs
  src/System.Security.Cryptography.Algorithms/tests/HashAlgorithmTest.netcoreapp.cs
  src/System.Security.Cryptography.Algorithms/tests/IncrementalHashTests.cs
  src/System.Security.Cryptography.Algorithms/tests/IncrementalHashTests.netcoreapp.cs
  src/System.Security.Cryptography.Algorithms/tests/RandomNumberGeneratorTests.cs
  src/System.Security.Cryptography.Algorithms/tests/RandomNumberGeneratorTests.netcoreapp.cs
  src/System.Security.Cryptography.Algorithms/tests/System.Security.Cryptography.Algorithms.Tests.csproj
  src/System.Security.Cryptography.Primitives/tests/CryptoStream.cs
  src/System.Security.Cryptography.Primitives/tests/CryptoStream.netcoreapp.cs
  src/System.Security.Cryptography.Primitives/tests/HashAlgorithmTest.cs
  src/System.Security.Cryptography.Primitives/tests/System.Security.Cryptography.Primitives.Tests.csproj
Labels: area-System.Security

#40106 Improve get/set performance in HashSet<T>
  src/System.Collections/src/System/Collections/Generic/HashSet.cs
Labels: area-System.Collections

#42400 Delete unnecessary FStat
  src/System.Console/src/System/ConsolePal.Unix.cs
Labels: area-System.Console

#42151 Tests for absolute path in exceptions
  src/Common/tests/CoreFx.Private.TestUtilities/System/AssertExtensions.cs
  src/System.Reflection/tests/AssemblyTests.cs
  src/System.Runtime.Loader/tests/AssemblyLoadContextTest.cs
Labels: area-System.Runtime

#42397 Revert tryrun.cmake changes that brought coreclr's tryrun stuff
  cross/tryrun.cmake
Labels: area-Infrastructure

#42405 Adjust nightly builds to PST
  eng/pipelines/outerloop.yml
  eng/pipelines/stress/http-linux.yml
  eng/pipelines/stress/http-windows.yml
Labels: area-Infrastructure

#42403 Fix Copy_LargeMultiDimensionalArray test bug
  src/System.Runtime/tests/System/ArrayTests.cs
Labels: area-System.Runtime

#42408 System.Native: Make configure.cmake checks work for iOS
  src/Native/Unix/configure.cmake
Labels: area-Infrastructure

#42300 Reduce intrinsic converters
  src/System.ComponentModel.Primitives/ref/System.ComponentModel.Primitives.cs
  src/System.ComponentModel.Primitives/ref/System.ComponentModel.Primitives.csproj
  src/System.ComponentModel.Primitives/src/System.ComponentModel.Primitives.csproj
  src/System.ComponentModel.Primitives/src/System/ComponentModel/IComponent.cs
  src/System.ComponentModel.TypeConverter/src/System/ComponentModel/ReflectTypeDescriptionProvider.cs
  src/System.ComponentModel.TypeConverter/tests/Drawing/ColorConverterTests.cs
  src/System.ComponentModel.TypeConverter/tests/Drawing/StringTypeConverterTestBase.cs
  src/System.Drawing.Primitives/ref/System.Drawing.Primitives.cs
  src/System.Drawing.Primitives/ref/System.Drawing.Primitives.csproj
  src/System.Drawing.Primitives/src/System.Drawing.Primitives.csproj
  src/System.Drawing.Primitives/src/System/Drawing/Color.cs
  src/System.Drawing.Primitives/src/System/Drawing/Point.cs
  src/System.Drawing.Primitives/src/System/Drawing/Rectangle.cs
  src/System.Drawing.Primitives/src/System/Drawing/Size.cs
  src/System.Drawing.Primitives/src/System/Drawing/SizeF.cs
Labels: area-System.Drawing

#41696 PhysicalAddress.Parse case-insensitive and support new formats
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/PhysicalAddress.cs
  src/System.Net.NetworkInformation/tests/FunctionalTests/PhysicalAddressTest.cs
Labels: area-System.Net

#42412 System.Native: Add deployment target version for OSX
  src/Native/build-native.sh
Labels: area-Infrastructure

#42411 Move tryrun out of cross to Unix Native build
  cross/android/arm/tryrun.cmake
  cross/android/arm64/tryrun.cmake
  src/Native/Unix/gen-buildsys-clang.sh
  src/Native/Unix/gen-buildsys-gcc.sh
  src/Native/Unix/tryrun.cmake
Labels: area-Infrastructure

#42391 Centralize fix for nullability annotations in netstandard builds
  src/Directory.Build.targets
  src/Microsoft.Diagnostics.Tracing.EventSource.Redist/src/Microsoft.Diagnostics.Tracing.EventSource.Redist.csproj
  src/Microsoft.IO.Redist/src/Microsoft.IO.Redist.csproj
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
  src/System.IO.FileSystem.AccessControl/src/System.IO.FileSystem.AccessControl.csproj
  src/System.IO.Pipelines/src/System.IO.Pipelines.csproj
  src/System.Resources.Extensions/src/System.Resources.Extensions.csproj
  src/System.Security.Cryptography.Pkcs/src/System.Security.Cryptography.Pkcs.csproj
  src/System.Text.Encoding.CodePages/src/System.Text.Encoding.CodePages.csproj
  src/System.Text.Encodings.Web/src/System.Text.Encodings.Web.csproj
  src/System.Threading.Channels/ref/System.Threading.Channels.csproj
  src/System.Threading.Channels/src/System.Threading.Channels.csproj
Labels: area-Infrastructure

#40570 Directory move fix
  src/System.IO.FileSystem/src/System/IO/Directory.cs
  src/System.IO.FileSystem/src/System/IO/FileSystem.Windows.cs
  src/System.IO.FileSystem/tests/Directory/Move.cs
Labels: area-System.IO

#42417 Fix path in detection logic to be absolute
  src/Directory.Build.props
Labels: area-Infrastructure

#42281 Add Mutex creation extension methods that take an ACL
  src/Common/src/CoreLib/Interop/Windows/Kernel32/Interop.Mutex.cs
  src/System.Threading.AccessControl/System.Threading.AccessControl.sln
  src/System.Threading.AccessControl/ref/System.Threading.AccessControl.cs
  src/System.Threading.AccessControl/src/Resources/Strings.resx
  src/System.Threading.AccessControl/src/System.Threading.AccessControl.csproj
  src/System.Threading.AccessControl/src/System/Threading/MutexAcl.cs
  src/System.Threading.AccessControl/src/System/Threading/MutexAcl.net46.cs
  src/System.Threading.AccessControl/tests/AclTests.cs
  src/System.Threading.AccessControl/tests/MutexAclTests.cs
  src/System.Threading.AccessControl/tests/System.Threading.AccessControl.Tests.csproj
Labels: area-System.Threading

#41013 close _eventStream when stopping watcher
  src/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.OSX.cs
  src/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.Unix.cs
  src/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.unit.cs
  src/System.IO.FileSystem.Watcher/tests/System.IO.FileSystem.Watcher.Tests.csproj
Labels: area-System.IO

#39609 Fix CompilerResults.CompiledAssembly in .NET Core
  src/System.CodeDom/src/System/CodeDom/Compiler/CompilerResults.cs
  src/System.CodeDom/tests/System/CodeDom/Compiler/CompilerResultsTests.cs
Labels: area-System.CodeDom

#41896 Vectorise BitArray
  src/System.Collections/src/System/Collections/BitArray.cs
  src/System.Collections/tests/BitArray/BitArray_CtorTests.cs
  src/System.Collections/tests/BitArray/BitArray_GetSetTests.cs
  src/System.Collections/tests/BitArray/BitArray_OperatorsTests.cs
Labels: area-System.Collections, tenet-performance

#42418 Update azure pipelines to account for paths in consolidated repo
  .azure-ci.yml
  eng/pipelines/corefx-base.yml
  eng/pipelines/helix.yml
  eng/pipelines/outerloop.yml
  eng/pipelines/pre-publish.yml
  eng/pipelines/stress/http-linux.yml
  eng/pipelines/stress/http-windows.yml
  eng/pipelines/variables.yml
  eng/pipelines/windows.yml
  src/System.Net.Http/tests/StressTests/HttpStress/corefx.Dockerfile
Labels: area-Infrastructure

#42434 Remove root cross folder in favor of eng/common/cross
  cross/android/arm/toolchain.cmake
  cross/android/arm64/toolchain.cmake
  cross/arm32_ci_script.sh
  cross/toolchain.cmake
  cross/x86_ci_script.sh
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/cross/toolchain.cmake
  global.json
  src/Native/Unix/gen-buildsys-clang.sh
  src/Native/Unix/gen-buildsys-gcc.sh
Labels: area-Infrastructure

#42286 Special case strings in System.Linq.Enumerable.OrderBy
  src/System.Linq/src/System/Linq/OrderedEnumerable.cs
  src/System.Linq/tests/OrderByTests.cs
Labels: area-System.Linq, tenet-performance

#42364 Implement SequenceReader.TryPeek(long offset, out T value)
  src/System.Memory/ref/System.Memory.cs
  src/System.Memory/src/System/Buffers/SequenceReader.cs
  src/System.Memory/tests/SequenceReader/BasicTests.cs
Labels: area-System.Memory

#42377 Add Semaphore creation extension methods that take an ACL
  src/Common/src/CoreLib/Interop/Windows/Kernel32/Interop.Semaphore.cs
  src/System.Threading.AccessControl/ref/System.Threading.AccessControl.cs
  src/System.Threading.AccessControl/src/Resources/Strings.resx
  src/System.Threading.AccessControl/src/System.Threading.AccessControl.csproj
  src/System.Threading.AccessControl/src/System/Threading/SemaphoreAcl.cs
  src/System.Threading.AccessControl/src/System/Threading/SemaphoreAcl.net46.cs
  src/System.Threading.AccessControl/tests/SemaphoreAclTests.cs
  src/System.Threading.AccessControl/tests/System.Threading.AccessControl.Tests.csproj
Labels: area-System.Threading

#42213 Add EventWaitHandle creation extension method that takes an ACL
  src/Common/src/CoreLib/Interop/Windows/Kernel32/Interop.EventWaitHandle.cs
  src/System.Threading.AccessControl/ref/System.Threading.AccessControl.cs
  src/System.Threading.AccessControl/src/System.Threading.AccessControl.csproj
  src/System.Threading.AccessControl/src/System/Threading/EventWaitHandleAcl.cs
  src/System.Threading.AccessControl/src/System/Threading/EventWaitHandleAcl.net46.cs
  src/System.Threading.AccessControl/tests/EventWaitHandleAclTests.cs
  src/System.Threading.AccessControl/tests/MutexAclTests.cs
  src/System.Threading.AccessControl/tests/SemaphoreAclTests.cs
  src/System.Threading.AccessControl/tests/System.Threading.AccessControl.Tests.csproj
Labels: area-System.Threading

#42229 HttpResponseHeaders validates trailing headers by names
  src/System.Net.Http/src/Resources/Strings.resx
  src/System.Net.Http/src/System/Net/Http/Headers/HttpHeaderType.cs
  src/System.Net.Http/src/System/Net/Http/Headers/HttpHeaders.cs
  src/System.Net.Http/src/System/Net/Http/Headers/HttpResponseHeaders.cs
  src/System.Net.Http/src/System/Net/Http/Headers/KnownHeader.cs
  src/System.Net.Http/src/System/Net/Http/Headers/KnownHeaders.cs
  src/System.Net.Http/src/System/Net/Http/HttpResponseMessage.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/tests/FunctionalTests/HttpResponseMessageTest.cs
  src/System.Net.Http/tests/UnitTests/Headers/HttpResponseHeadersTest.cs
Labels: area-System.Net.Http

#42457 Remove throw in exception handling of dispose
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIMarsHandle.cs
Labels: area-System.Data.SqlClient

#42432 QUIC: Add internal implementation abstraction
  src/System.Net.Quic/ref/System.Net.Quic.Temporary.cs
  src/System.Net.Quic/ref/System.Net.Quic.cs
  src/System.Net.Quic/ref/System.Net.Quic.csproj
  src/System.Net.Quic/src/System.Net.Quic.csproj
  src/System.Net.Quic/src/System/Net/Quic/Implementations/Mock/MockConnection.cs
  src/System.Net.Quic/src/System/Net/Quic/Implementations/Mock/MockImplementationProvider.cs
  src/System.Net.Quic/src/System/Net/Quic/Implementations/Mock/MockListener.cs
  src/System.Net.Quic/src/System/Net/Quic/Implementations/Mock/MockStream.cs
  src/System.Net.Quic/src/System/Net/Quic/Implementations/QuicConnectionProvider.cs
  src/System.Net.Quic/src/System/Net/Quic/Implementations/QuicImplementationProvider.cs
  src/System.Net.Quic/src/System/Net/Quic/Implementations/QuicListenerProvider.cs
  src/System.Net.Quic/src/System/Net/Quic/Implementations/QuicStreamProvider.cs
  src/System.Net.Quic/src/System/Net/Quic/QuicConnection.cs
  src/System.Net.Quic/src/System/Net/Quic/QuicImplementationProviders.cs
  src/System.Net.Quic/src/System/Net/Quic/QuicListener.cs
  src/System.Net.Quic/src/System/Net/Quic/QuicStream.cs
  src/System.Net.Quic/tests/FunctionalTests/QuicConnectionTests.cs
Labels: area-System.Net

#40838 Add CodeGenerator tests and fix NREs/bugs
  src/System.CodeDom/src/System/CodeDom/Compiler/CodeGenerator.cs
  src/System.CodeDom/tests/System/CodeDom/Compiler/CodeGeneratorOptionsTests.cs
  src/System.CodeDom/tests/System/CodeDom/Compiler/CodeGeneratorTests.cs
Labels: area-System.CodeDom

#42451 CurlHandler removal
  src/Common/src/Interop/Unix/System.Net.Http.Native/Interop.CURLcode.cs
  src/Common/src/Interop/Unix/System.Net.Http.Native/Interop.Easy.cs
  src/Common/src/Interop/Unix/System.Net.Http.Native/Interop.Initialization.cs
  src/Common/src/Interop/Unix/System.Net.Http.Native/Interop.Multi.cs
  src/Common/src/Interop/Unix/System.Net.Http.Native/Interop.SList.cs
  src/Common/src/Interop/Unix/System.Net.Http.Native/Interop.VersionInfo.cs
  src/Native/Unix/CMakeLists.txt
  src/Native/Unix/System.Net.Http.Native/CMakeLists.txt
  src/Native/Unix/System.Net.Http.Native/pal_curlinit.c
  src/Native/Unix/System.Net.Http.Native/pal_curlinit.h
  src/Native/Unix/System.Net.Http.Native/pal_easy.c
  src/Native/Unix/System.Net.Http.Native/pal_easy.h
  src/Native/Unix/System.Net.Http.Native/pal_multi.c
  src/Native/Unix/System.Net.Http.Native/pal_multi.h
  src/Native/Unix/System.Net.Http.Native/pal_slist.c
  src/Native/Unix/System.Net.Http.Native/pal_slist.h
  src/Native/Unix/System.Net.Http.Native/pal_versioninfo.c
  src/Native/Unix/System.Net.Http.Native/pal_versioninfo.h
  src/Native/Unix/configure.cmake
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlException.cs
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlHandler.ClientCertificateProvider.cs
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlHandler.CurlResponseMessage.cs
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlHandler.EasyRequest.cs
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlHandler.MultiAgent.cs
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlHandler.SslProvider.Linux.cs
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlHandler.SslProvider.OSX.cs
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlHandler.cs
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlResponseHeaderReader.cs
  src/System.Net.Http/src/System/Net/Http/HttpClientHandler.Unix.cs
  src/System.Net.Http/src/System/Net/Http/HttpClientHandler.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientEKUTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ClientCertificates.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ServerCertificates.Unix.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ServerCertificates.Windows.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ServerCertificates.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.SslProtocols.Unix.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.SslProtocols.Windows.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.SslProtocols.cs
  src/System.Net.Http/tests/FunctionalTests/PlatformHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/System.Net.Http/tests/FunctionalTests/TestHelper.cs
  src/System.Net.Http/tests/UnitTests/Headers/CurlResponseHeaderReaderTest.cs
  src/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
  src/System.Net.Requests/src/System.Net.Requests.csproj
  src/System.Net.Requests/src/System/Net/WebExceptionPal.Unix.cs
Labels: area-System.Net.Http

#42491 Cleanup MSBuild conditional operators to be all in lowercase
  eng/codeAnalysis.targets
  eng/codeOptimization.targets
  eng/common/PublishToPackageFeed.proj
  eng/depProj.targets
  eng/illink.targets
  eng/notSupported.SourceBuild.targets
  eng/packaging.props
  eng/packaging.targets
  eng/referenceFromRuntime.targets
  eng/resources.targets
  eng/versioning.targets
  src/Directory.Build.props
  src/Directory.Build.targets
  src/Microsoft.Win32.Registry/src/Microsoft.Win32.Registry.csproj
  src/Microsoft.Win32.SystemEvents/src/Microsoft.Win32.SystemEvents.csproj
  src/Microsoft.XmlSerializer.Generator/pkg/build/Microsoft.XmlSerializer.Generator.targets
  src/Native/build-native.proj
  src/Native/pkg/Directory.Build.targets
  src/System.Data.Odbc/src/System.Data.Odbc.csproj
  src/System.Data.OleDb/src/System.Data.OleDb.csproj
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
  src/System.Diagnostics.DiagnosticSource/ref/System.Diagnostics.DiagnosticSource.csproj
  src/System.Diagnostics.DiagnosticSource/src/System.Diagnostics.DiagnosticSource.csproj
  src/System.Diagnostics.Process/src/System.Diagnostics.Process.csproj
  src/System.IO.FileSystem.Watcher/src/System.IO.FileSystem.Watcher.csproj
  src/System.IO.Packaging/ref/System.IO.Packaging.csproj
  src/System.IO.Packaging/src/System.IO.Packaging.csproj
  src/System.IO.Ports/src/System.IO.Ports.csproj
  src/System.Net.Http.WinHttpHandler/src/System.Net.Http.WinHttpHandler.csproj
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.HttpListener/src/System.Net.HttpListener.csproj
  src/System.Net.NetworkInformation/src/System.Net.NetworkInformation.csproj
  src/System.Net.Security/src/System.Net.Security.csproj
  src/System.Reflection.Context/src/System.Reflection.Context.csproj
  src/System.Reflection.TypeExtensions/src/System.Reflection.TypeExtensions.csproj
  src/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
  src/System.Security.Cryptography.Algorithms/tests/System.Security.Cryptography.Algorithms.Tests.csproj
  src/System.Security.Cryptography.Cng/ref/System.Security.Cryptography.Cng.csproj
  src/System.Security.Cryptography.Cng/src/System.Security.Cryptography.Cng.csproj
  src/System.Security.Cryptography.Encoding/src/System.Security.Cryptography.Encoding.csproj
  src/System.Security.Cryptography.Pkcs/src/System.Security.Cryptography.Pkcs.csproj
  src/System.Security.Cryptography.Pkcs/tests/System.Security.Cryptography.Pkcs.Tests.csproj
  src/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
  src/System.Security.Cryptography.X509Certificates/tests/System.Security.Cryptography.X509Certificates.Tests.csproj
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Threading.Tasks.Dataflow/src/System.Threading.Tasks.Dataflow.csproj
  src/dir.traversal.targets
  src/pkg/Directory.Build.props
  src/pkg/dir.traversal.targets
  src/pkg/frameworkPackage.targets
  src/pkg/test/packageTest.targets
  src/restore/netfx/netfx.depproj
  src/restore/runtime/runtime.depproj
  src/shims/ApiCompat.proj
  src/shims/Directory.Build.props
  src/tests.proj
Labels: area-Infrastructure

#42484 improve network stats on FreeBSD
  src/Native/Unix/System.Native/pal_networkstatistics.c
  src/Native/Unix/configure.cmake
Labels: area-System.Net, os-freebsd

#42496 Use helix SDK bootstrapping for package testing and use repo one locally
  src/pkg/test/testPackages.proj
  src/sendtohelix.proj
Labels: area-Infrastructure

#42464 Update compat pack to depend on WCF latest stable version and give ability to depend on external non-stable packages
  src/pkg/Directory.Build.targets
  src/pkg/Microsoft.Private.CoreFx.OOB/Microsoft.Private.CoreFx.OOB.pkgproj
  src/pkg/Microsoft.Windows.Compatibility/Microsoft.Windows.Compatibility.pkgproj
  src/pkg/Microsoft.Windows.Compatibility/externalIndex.json
  src/pkg/frameworkPackage.targets
  src/pkg/runtime.native.System.IO.Ports/runtime.native.System.IO.Ports.pkgproj
Labels: area-Infrastructure

#42508 Harden Decrypt_WrongKey tests.
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RSA/EncryptDecrypt.netcoreapp.cs
Labels: area-System.Security

#42490 StackTrace.GetFrames should return an array of non-nullable frames
  src/System.Diagnostics.StackTrace/ref/System.Diagnostics.StackTrace.cs
Labels: area-System.Diagnostics

#42493 Fix EventWaitHandle/Mutex/Semaphore name max length unit tests failure
  src/System.Threading.AccessControl/tests/EventWaitHandleAclTests.cs
  src/System.Threading.AccessControl/tests/MutexAclTests.cs
  src/System.Threading.AccessControl/tests/SemaphoreAclTests.cs
Labels: area-System.Threading

#42480 Add dotnet-eng feed
  NuGet.config
Labels: area-Infrastructure

#42506 Clean up after CurlHandler removal
  Documentation/building/unix-instructions.md
  Documentation/project-docs/developer-guide.md
  src/System.Net.Http/src/Resources/Strings.resx
  src/System.Net.Http/src/System/Net/Http/DiagnosticsHandlerLoggingStrings.cs
  src/System.Net.Http/src/System/Net/Http/HttpClient.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
  src/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.AcceptAllCerts.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Authentication.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.AutoRedirect.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cancellation.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cookies.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Decompression.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.DefaultProxyCredentials.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Headers.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.MaxResponseHeadersLength.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Proxy.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ServerCertificates.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.SslProtocols.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTestBase.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientTest.netcoreapp.cs
  src/System.Net.Http/tests/FunctionalTests/HttpProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/HttpRequestMessageTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpRetryProtocolTests.cs
  src/System.Net.Http/tests/FunctionalTests/PlatformHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/PostScenarioTest.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/TestHelper.cs
Labels: area-System.Net.Http

#42514 disable two unreliable tests on OSX
  src/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.Directory.Move.cs
  src/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.File.Move.cs
Labels: area-System.IO, test bug

#42472 Make ServiceBase.Dispose safer by avoiding double free
  src/Common/src/Interop/Windows/Advapi32/Interop.SERVICE_TABLE_ENTRY.cs
  src/System.ServiceProcess.ServiceController/src/System/ServiceProcess/ServiceBase.cs
Labels: area-System.ServiceProcess

#42488 enable FileSystem.Watcher on FreeBSD
  src/System.IO.FileSystem.Watcher/src/System.IO.FileSystem.Watcher.csproj
  src/System.IO.FileSystem.Watcher/tests/Configurations.props
  src/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.Directory.Move.cs
  src/System.IO.FileSystem.Watcher/tests/System.IO.FileSystem.Watcher.Tests.csproj
Labels: area-System.IO, os-freebsd

#42430 fix and enable FileSystemWatcher_File_Rename_NotAffectEachOther test
  src/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.MultipleWatchers.cs
  src/System.IO.FileSystem.Watcher/tests/Utility/FileSystemWatcherTest.cs
Labels: area-System.IO, test bug

#42518 fix sockets tests on FreeBSD
  src/Native/Unix/Common/pal_config.h.in
  src/Native/Unix/System.Native/pal_networking.c
  src/Native/Unix/configure.cmake
  src/System.Net.Sockets/tests/FunctionalTests/Connect.cs
  src/System.Net.Sockets/tests/FunctionalTests/DualModeSocketTest.cs
  src/System.Net.Sockets/tests/FunctionalTests/SendReceive.cs
  src/System.Net.Sockets/tests/FunctionalTests/SocketOptionNameTest.cs
  src/System.Net.Sockets/tests/FunctionalTests/UdpClientTest.cs
Labels: area-System.Net.Sockets, os-freebsd

#42527 Remove unnecessary assert in File_Move_Multiple_From_Watched_To_Unwatched_Mac
  src/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.File.Move.cs
  src/System.IO.FileSystem.Watcher/tests/Utility/FileSystemWatcherTest.cs
Labels: area-System.IO

#41750 Add runtime id for Arch Linux
  src/pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  src/pkg/Microsoft.NETCore.Platforms/runtime.json
  src/pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
Labels: area-Infrastructure

#42517 Read ParentProcessId from kinfo_proc for FreeBSD
  src/Common/src/Interop/FreeBSD/Interop.Process.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.FreeBSD.cs
Labels: area-System.Diagnostics.Process

#42426 [Release/3.1] Enable closure testing for 3.1
  eng/sendtohelix.proj
  pkg/test/frameworkSettings/netcoreapp3.1/settings.targets
  pkg/test/testPackages.proj
Labels: tell-mode

#42427 Validate member attributes
  eng/DefaultGenApiDocIds.txt
  src/System.ComponentModel.EventBasedAsync/ref/System.ComponentModel.EventBasedAsync.cs
  src/System.ComponentModel.TypeConverter/ref/System.ComponentModel.TypeConverter.cs
  src/System.Data.Common/ref/System.Data.Common.cs
  src/System.Data.Common/ref/System.Data.Common.manual.cs
  src/System.Data.OleDb/ref/System.Data.OleDb.Manual.cs
  src/System.Data.OleDb/ref/System.Data.OleDb.cs
  src/System.Data.OleDb/ref/System.Data.OleDb.csproj
  src/System.Data.OleDb/src/System.Data.OleDb.csproj
  src/System.Data.SqlClient/ref/System.Data.SqlClient.Manual.cs
  src/System.Data.SqlClient/ref/System.Data.SqlClient.cs
  src/System.Data.SqlClient/ref/System.Data.SqlClient.csproj
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
  src/System.Diagnostics.EventLog/ref/System.Diagnostics.EventLog.cs
  src/System.Diagnostics.Process/ref/System.Diagnostics.Process.cs
  src/System.Diagnostics.TraceSource/ref/System.Diagnostics.TraceSource.cs
  src/System.DirectoryServices.AccountManagement/ref/System.DirectoryServices.AccountManagement.cs
  src/System.DirectoryServices/src/System/DirectoryServices/DirectoryVirtualListView.cs
  src/System.Drawing.Primitives/ref/System.Drawing.Primitives.cs
  src/System.Drawing.Primitives/src/System/Drawing/Rectangle.cs
  src/System.Drawing.Primitives/src/System/Drawing/RectangleF.cs
  src/System.IO.FileSystem.Watcher/ref/System.IO.FileSystem.Watcher.cs
  src/System.IO.FileSystem/ref/System.IO.FileSystem.cs
  src/System.Net.Sockets/ref/System.Net.Sockets.cs
  src/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/System.Runtime/ref/System.Runtime.cs
  src/System.Security.Cryptography.Cng/ref/System.Security.Cryptography.Cng.cs
  src/System.Security.Cryptography.Pkcs/ref/System.Security.Cryptography.Pkcs.cs
  src/System.Security.Cryptography.Pkcs/src/MatchingRefApiCompatBaseline.netstandard2.0.txt
  src/System.Security.Cryptography.X509Certificates/ref/System.Security.Cryptography.X509Certificates.cs
  src/System.ServiceProcess.ServiceController/ref/System.ServiceProcess.ServiceController.cs
  src/System.Threading/ref/System.Threading.cs
  src/System.Utf8String.Experimental/ref/System.Utf8String.Experimental.cs
  src/System.Xml.XmlSerializer/ref/System.Xml.XmlSerializer.cs
  src/shims/ApiCompatBaseline.netcoreapp.netstandard.txt
  src/shims/ApiCompatBaseline.netcoreapp.netstandardOnly.txt
Labels: area-Infrastructure, auto-merge

#42482 [release/3.1] Update compat pack to depend on WCF latest stable version
  pkg/Microsoft.Windows.Compatibility/Microsoft.Windows.Compatibility.pkgproj
  pkg/Microsoft.Windows.Compatibility/externalIndex.json
Labels: Servicing-approved

#42538 Fix a "data too small" error in PasswordBasedEncryption
  src/Common/src/System/Security/Cryptography/PasswordBasedEncryption.cs
  src/System.Security.Cryptography.Pkcs/tests/Pkcs12/Pkcs12BuilderTests.cs
Labels: area-System.Security

#42536 Rewind the Windows 10 PFX unreadable key point to RS1.
  src/System.Security.Cryptography.X509Certificates/tests/PfxFormatTests.cs
Labels: area-System.Security

#42522 Fix NegotitateStream (server) on Linux for NTLM
  src/Common/src/Interop/Unix/System.Net.Security.Native/Interop.GssBuffer.cs
  src/Common/src/Interop/Unix/System.Net.Security.Native/Interop.NetSecurityNative.cs
  src/Common/src/Microsoft/Win32/SafeHandles/GssSafeHandles.cs
  src/Common/src/System/Net/ContextFlagsAdapterPal.Unix.cs
  src/Common/src/System/Net/Security/NegotiateStreamPal.Unix.cs
  src/Common/src/System/Net/Security/Unix/SafeDeleteNegoContext.cs
  src/Native/Unix/System.Net.Security.Native/pal_gssapi.c
  src/Native/Unix/System.Net.Security.Native/pal_gssapi.h
Labels: area-System.Net.Security

#42425 HTTP/2 code sharing shell sync-script
  src/Common/src/System/Net/Http/Http2/CopyToAspNetCore.cmd
  src/Common/src/System/Net/Http/Http2/CopyToAspNetCore.sh
  src/Common/src/System/Net/Http/Http2/CopyToCoreFx.cmd
  src/Common/src/System/Net/Http/Http2/CopyToCoreFx.sh
Labels: area-System.Net.Http

#42501 [release/3.1] Fix netstandard problem with new ACL changes
  src/Common/src/CoreLib/System/IO/Path.cs
  src/Common/src/CoreLib/System/IO/PathInternal.cs
  src/Common/src/System/IO/FileSystem.Attributes.Windows.cs
  src/Common/src/System/IO/FileSystem.DirectoryCreation.Windows.cs
  src/System.IO.FileSystem.AccessControl/src/PinvokeAnalyzerExceptionList.analyzerdata
  src/System.IO.FileSystem.AccessControl/src/System.IO.FileSystem.AccessControl.csproj
  src/System.IO.FileSystem.AccessControl/src/System/IO/FileSystemAclExtensions.cs
  src/System.IO.FileSystem.AccessControl/src/System/IO/FileSystemAclExtensions.netcoreapp.cs
  src/System.IO.FileSystem.AccessControl/src/System/IO/FileSystemAclExtensions.netstandard.cs
Labels: Servicing-approved, area-System.IO

#42454 [Release/3.1] stablize package version
  eng/Versions.props
Labels: area-Infrastructure

#42548 Fix all configurations build break on SqlClient
  src/Common/src/System/Net/Security/NegotiateStreamPal.Unix.cs
Labels: area-System.Net.Security

#42513 add MaskedTextProviderTests (#7758)
  src/System.ComponentModel.TypeConverter/tests/Extensions/EnumeratorExtensions.cs
  src/System.ComponentModel.TypeConverter/tests/MaskedTextProviderTests.cs
  src/System.ComponentModel.TypeConverter/tests/System.ComponentModel.TypeConverter.Tests.csproj
Labels: area-System.ComponentModel

#42561 Re-enable PKCS#1 decryption tests
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RSA/EncryptDecrypt.cs
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RSA/RSAKeyExchangeFormatter.cs
  src/System.Security.Cryptography.Xml/tests/Samples/EncryptingDecryptingAsymmetric.cs
Labels: area-System.Security

#42542 QUIC: Change constructor overloads for passing QuicImplementationProvider
  src/System.Net.Quic/ref/System.Net.Quic.Temporary.cs
  src/System.Net.Quic/src/System/Net/Quic/QuicConnection.cs
  src/System.Net.Quic/src/System/Net/Quic/QuicImplementationProviders.cs
  src/System.Net.Quic/src/System/Net/Quic/QuicListener.cs
  src/System.Net.Quic/tests/FunctionalTests/QuicConnectionTests.cs
Labels: area-System.Net

#42497 Provide more specific exception message when an enumerable or dictionary cannot be instantiated
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
Labels: area-System.Text.Json, enhancement

#42563 add QuicConnection.NegotiatedApplicationProtocol stub
  src/System.Net.Quic/ref/System.Net.Quic.cs
  src/System.Net.Quic/src/System/Net/Quic/Implementations/Mock/MockConnection.cs
  src/System.Net.Quic/src/System/Net/Quic/Implementations/QuicConnectionProvider.cs
  src/System.Net.Quic/src/System/Net/Quic/QuicConnection.cs
Labels: area-System.Net

#41467 Support For Getting base-64 String as Byte Array
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonString.cs
  src/System.Text.Json/tests/JsonElementWithNodeParentTests.cs
  src/System.Text.Json/tests/Resources/Strings.resx
Labels: area-System.Text.Json

#42565 Add HashAlgorithm.ComputeHashAsync
  src/System.Security.Cryptography.Primitives/ref/System.Security.Cryptography.Primitives.cs
  src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/HashAlgorithm.cs
  src/System.Security.Cryptography.Primitives/tests/HashAlgorithmTest.cs
Labels: area-System.Security

#42566 Add test to verify that JsonEncodedText and Utf8JsonWriter use upper-case hex digits when escaping (2).
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json, auto-merge, test enhancement

#42521 [WIP] Add more test data for str.Replace(char, char)
  src/Common/tests/Tests/System/StringTests.cs
Labels: area-System.Runtime

#42569 Fix exception tests where we are asserting against the literal message
  src/System.Text.Json/tests/NewtonsoftTests/CustomObjectConverterTests.cs
  src/System.Text.Json/tests/NewtonsoftTests/EnumConverterTests.cs
  src/System.Text.Json/tests/NewtonsoftTests/ImmutableCollectionsTests.cs
  src/System.Text.Json/tests/NewtonsoftTests/JsonSerializerTests.cs
Labels: area-System.Text.Json, auto-merge, test enhancement

#42465 Annotate System.Transactions.Local for nullable
  src/System.Transactions.Local/ref/System.Transactions.Local.cs
  src/System.Transactions.Local/ref/System.Transactions.Local.csproj
  src/System.Transactions.Local/src/System.Transactions.Local.csproj
  src/System.Transactions.Local/src/System/Transactions/CommittableTransaction.cs
  src/System.Transactions.Local/src/System/Transactions/DependentTransaction.cs
  src/System.Transactions.Local/src/System/Transactions/DistributedTransaction.cs
  src/System.Transactions.Local/src/System/Transactions/DurableEnlistmentState.cs
  src/System.Transactions.Local/src/System/Transactions/Enlistment.cs
  src/System.Transactions.Local/src/System/Transactions/EnlistmentState.cs
  src/System.Transactions.Local/src/System/Transactions/EnlistmentTraceIdentifier.cs
  src/System.Transactions.Local/src/System/Transactions/EnterpriseServices.cs
  src/System.Transactions.Local/src/System/Transactions/ITransactionPromoter.cs
  src/System.Transactions.Local/src/System/Transactions/InternalTransaction.cs
  src/System.Transactions.Local/src/System/Transactions/PreparingEnlistment.cs
  src/System.Transactions.Local/src/System/Transactions/SinglePhaseEnlistment.cs
  src/System.Transactions.Local/src/System/Transactions/Transaction.cs
  src/System.Transactions.Local/src/System/Transactions/TransactionException.cs
  src/System.Transactions.Local/src/System/Transactions/TransactionInformation.cs
  src/System.Transactions.Local/src/System/Transactions/TransactionInterop.cs
  src/System.Transactions.Local/src/System/Transactions/TransactionManager.cs
  src/System.Transactions.Local/src/System/Transactions/TransactionOptions.cs
  src/System.Transactions.Local/src/System/Transactions/TransactionScope.cs
  src/System.Transactions.Local/src/System/Transactions/TransactionState.cs
  src/System.Transactions.Local/src/System/Transactions/TransactionTable.cs
  src/System.Transactions.Local/src/System/Transactions/TransactionTraceIdentifier.cs
  src/System.Transactions.Local/src/System/Transactions/TransactionsEtwProvider.cs
  src/System.Transactions.Local/src/System/Transactions/VolatileEnlistmentMultiplexing.cs
  src/System.Transactions.Local/src/System/Transactions/VolatileEnlistmentState.cs
Labels: area-System.Transactions

#42568 Move arm jobs to new ArmArch helix queue
  eng/pipelines/linux.yml
Labels: area-Infrastructure

#42420 Set values of array and immutable collection properties directly
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultImmutableEnumerableConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/tests/Serialization/Array.ReadTests.cs
Labels: area-System.Text.Json

#42557 SmtpConnection: add _aborted field for debugging SmtpClientTest.TestZeroTimeout hang
  src/System.Net.Mail/src/System/Net/Mail/SmtpConnection.cs
Labels: area-System.Net

#42485 Remove unused locals in System.Data.OleDb
  src/System.Data.OleDb/src/OleDbConnection.cs
  src/System.Data.OleDb/src/OleDbConnectionInternal.cs
  src/System.Data.OleDb/src/OleDbDataAdapter.cs
  src/System.Data.OleDb/src/OleDbDataReader.cs
  src/System.Data.OleDb/src/OleDbTransaction.cs
  src/System.Data.OleDb/src/RowBinding.cs
  src/System.Data.OleDb/src/SafeHandles.cs
Labels: area-System.Data, auto-merge

#42546 Fix NetStandard issue in System.IO.FileSystem.AccessControl in 5.0
  src/Common/src/CoreLib/System/IO/Path.cs
  src/Common/src/CoreLib/System/IO/PathInternal.cs
  src/Common/src/System/IO/FileSystem.Attributes.Windows.cs
  src/Common/src/System/IO/FileSystem.DirectoryCreation.Windows.cs
  src/Common/src/System/IO/PathInternal.Unix.cs
  src/System.IO.FileSystem.AccessControl/src/System.IO.FileSystem.AccessControl.csproj
  src/System.IO.FileSystem.AccessControl/src/System/IO/FileSystemAclExtensions.cs
  src/System.IO.FileSystem.AccessControl/src/System/IO/FileSystemAclExtensions.netcoreapp.cs
  src/System.IO.FileSystem.AccessControl/src/System/IO/FileSystemAclExtensions.netstandard.cs
Labels: area-System.IO

#37724 PrintingServices.Unix.cs thread safety, Issue #24268
  src/System.Drawing.Common/src/System/Drawing/Printing/PrintingServices.Unix.cs
Labels: area-System.Drawing

#42428 Improve diag tracing for NameResolution
  src/Common/src/System/Net/Logging/NetEventSource.Common.cs
  src/System.Net.NameResolution/src/System/Net/Dns.cs
  src/System.Net.NameResolution/src/System/Net/NameResolutionPal.Windows.cs
  src/System.Net.NameResolution/tests/FunctionalTests/LoggingTest.cs
  src/System.Net.NameResolution/tests/FunctionalTests/System.Net.NameResolution.Functional.Tests.csproj
  src/System.Net.NameResolution/tests/FunctionalTests/TestSettings.cs
Labels: area-System.Net

#41967 propagate TLS alerts from OS layers
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/Common/src/Interop/Windows/SspiCli/SecuritySafeHandles.cs
  src/System.Net.Security/src/System/Net/Security/SslStreamPal.Unix.cs
  src/System.Net.Security/src/System/Net/Security/SslStreamPal.Windows.cs
  src/System.Net.Security/tests/FunctionalTests/ClientAsyncAuthenticateTest.cs
  src/System.Net.Security/tests/FunctionalTests/ClientDefaultEncryptionTest.cs
  src/System.Net.Security/tests/FunctionalTests/ServerAsyncAuthenticateTest.cs
  src/System.Net.Security/tests/FunctionalTests/ServerNoEncryptionTest.cs
  src/System.Net.Security/tests/FunctionalTests/ServerRequireEncryptionTest.cs
  src/System.Net.Security/tests/FunctionalTests/SslStreamAlpnTests.cs
  src/System.Net.Security/tests/FunctionalTests/TestConfiguration.cs
Labels: area-System.Net.Security

#42580 Make UriTypeConverter better handle relative URIs
  src/System.ComponentModel.TypeConverter/src/System/ComponentModel/UriTypeConverter.cs
  src/System.ComponentModel.TypeConverter/tests/UriTypeConverterTests.cs
Labels: area-System.ComponentModel

#41041 JSON DOM refactor
  src/System.Text.Json/docs/writable_json_dom_spec.md
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs
  src/System.Text.Json/src/System/Text/Json/JsonHelpers.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonArray.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonNode.RecursionStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonNode.Traversal.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonNode.TraversalHelpers.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonNode.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonNull.cs
  src/System.Text.Json/src/System/Text/Json/Node/JsonObject.cs
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.cs
  src/System.Text.Json/tests/JsonArrayTests.cs
  src/System.Text.Json/tests/JsonElementWithNodeParentTests.cs
  src/System.Text.Json/tests/JsonElementWriteTests.cs
  src/System.Text.Json/tests/JsonNode.TraversalTests.cs
  src/System.Text.Json/tests/JsonNullTests.cs
  src/System.Text.Json/tests/JsonObjectTests.cs
  src/System.Text.Json/tests/JsonStringTests.cs
Labels: area-System.Text.Json

#39668 Large json serialization/deserialization tests
  src/System.Text.Json/tests/Serialization/SampleTestData.OrderPayload.cs
  src/System.Text.Json/tests/Serialization/Stream.WriteTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json, test enhancement

#42567 HKDF implementation
  src/Common/src/Internal/Cryptography/HashProviderCng.cs
  src/Common/src/Interop/Windows/BCrypt/Interop.BCryptCreateHash.cs
  src/System.Security.Cryptography.Algorithms/ref/System.Security.Cryptography.Algorithms.cs
  src/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/HMACCommon.cs
  src/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/HashProviderDispenser.OSX.cs
  src/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/HashProviderDispenser.Unix.cs
  src/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/HashProviderDispenser.Windows.cs
  src/System.Security.Cryptography.Algorithms/src/Resources/Strings.resx
  src/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/HKDF.cs
  src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/IncrementalHash.cs
  src/System.Security.Cryptography.Algorithms/tests/HKDFTests.cs
  src/System.Security.Cryptography.Algorithms/tests/System.Security.Cryptography.Algorithms.Tests.csproj
Labels: area-System.Security

#41691 DictionaryKeyPolicy not applied to keys that contain non primitive ty…
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.KeyPolicy.cs
Labels: area-System.Text.Json

#42519 initial support for serial port on FreeBSD
  src/System.IO.Ports/src/Configurations.props
  src/System.IO.Ports/src/System.IO.Ports.csproj
  src/System.IO.Ports/src/System/IO/Ports/SerialPort.FreeBSD.cs
  src/System.IO.Ports/tests/Configurations.props
  src/System.IO.Ports/tests/Support/PortHelper.cs
  src/pkg/runtime.native.System.IO.Ports/netcoreapp.rids.props
  src/pkg/runtime.native.System.IO.Ports/runtime.native.System.IO.Ports.pkgproj
Labels: area-System.IO, os-freebsd

#42588 disable unstable ServerAsyncAuthenticateTest.ServerAsyncAuthenticate_MismatchProtocols_Fails test
  src/System.Net.Security/tests/FunctionalTests/ServerAsyncAuthenticateTest.cs
Labels: area-System.Net.Security, disabled-test

#42605 disable ferebsd setial port changes
  src/System.IO.Ports/src/Configurations.props
  src/pkg/runtime.native.System.IO.Ports/netcoreapp.rids.props
Labels: area-System.IO, os-freebsd

#42604 Fixup packageIndex & branding
  eng/Packaging.targets
  eng/Versions.props
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
Labels: area-Infrastructure

#41584 [release/3.0] Fix HtmlEncode handling of surrogate pairs (#41576)
  src/System.Runtime.Extensions/src/System/Net/WebUtility.cs
  src/System.Runtime.Extensions/tests/System/Net/WebUtility.cs
Labels: Servicing-approved, area-System.Net

#41746 [release/3.0] Make WebRequest.GetSystemWebProxy() return a working proxy (#41692)
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpEnvironmentProxy.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/MacProxy.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SystemProxyInfo.uap.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientTest.netcoreapp.cs
  src/System.Net.Requests/src/System.Net.Requests.csproj
  src/System.Net.Requests/src/System/Net/SystemWebProxy.cs
  src/System.Net.Requests/src/System/Net/WebRequest.cs
Labels: Servicing-approved, area-System.Net

#41796 [release/3.0] Fixing NullReferenceException in XmlSchemaAnyAttribute.Namespace
  src/System.Private.Xml/src/System/Xml/Schema/XmlSchemaAnyAttribute.cs
  src/System.Private.Xml/tests/XmlSchema/XmlSchemaSet/TC_SchemaSet_AnyAttribute.cs
Labels: Servicing-approved, area-System.Xml

#42010 [release/3.0] Port sdl validation fix
  .azure-ci.yml
Labels: area-Infrastructure-libraries

#42671 [release/3.0] Use helix SDK bootstrapping for package testing and use repo one locally
  eng/sendtohelix.proj
  pkg/test/testPackages.proj
Labels: area-Infrastructure

#42016 [release/3.0] Fix CharSet to Unicode for Gdip.DrawString
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/System.Drawing.Common/Directory.Build.props
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Unix.cs
Labels: Servicing-approved, area-System.Drawing

#41605 [release/3.0] Add Fedora 32 and CentOS 8 runtime ids
  eng/Packaging.props
  pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  pkg/Microsoft.NETCore.Platforms/runtime.json
  pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
  src/packages.builds
Labels: Servicing-approved, area-Infrastructure-libraries

#41659 [release/2.1] Handle "too small" success from CNG and clear out decryption residuals.
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/Common/src/System/Security/Cryptography/RSACng.EncryptDecrypt.cs
  src/System.Security.Cryptography.Cng/dir.props
  src/packages.builds
Labels: Servicing-approved, area-System.Security

#42679 branding changes for 3.1 servicing
  .azure-ci.yml
  eng/Versions.props
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
Labels: area-Infrastructure-libraries

#41791 [release/2.1] Add Fedora 32 and CentOS 8 runtime ids
  pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  pkg/Microsoft.NETCore.Platforms/runtime.json
  pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
  src/packages.builds
Labels: Servicing-approved, area-Infrastructure-libraries

#42715 Move helix arm queues to use new armarch queue
  eng/pipelines/linux.yml
Labels: area-Infrastructure

#42694 [release/3.1] Update SslClientAuthenticationOptionsExtensions.ShallowClone to copy CipherSuitesPolicy
  src/Common/src/System/Net/Security/SslClientAuthenticationOptionsExtensions.cs
Labels: Servicing-approved, area-System.Net.Security

#42721 Update BuildTools version
  BuildToolsVersion.txt
  dependencies.props
Labels: area-Infrastructure

#42725 Update buildtools to get helix fixes
  BuildToolsVersion.txt
  dependencies.props
Labels: area-Infrastructure

#42667 [release/3.1] Remove throw in exception handling of dispose
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIMarsHandle.cs
Labels: Servicing-approved

#42727 [release/3.0] Update SslClientAuthenticationOptionsExtensions.ShallowClone to copy CipherSuitesPolicy
  src/Common/src/System/Net/Security/SslClientAuthenticationOptionsExtensions.cs
Labels: Servicing-approved, area-System.Net.Security

#42735 disabling publishing of stable packages on 3.1
  src/packages.builds
Labels: area-Infrastructure
