Repository dotnet/corefx, pull requests merged in 2019-03, with the labels that each got.

#35674 pull in yet another updated Alpine image
  eng/pipelines/linux.yml
Labels: area-Infrastructure

#35683 Delete old vssettings in favor of editorconfig
  corefx.vssettings
Labels: area-Infrastructure

#35687 Move codeanalysisruleset to src
  Directory.Build.props
  src/CodeAnalysis.ruleset
  src/Directory.Build.props
Labels: area-Infrastructure

#35684 Move root dir.traversal.targets to eng and cleanup packages proj
  Documentation/coding-guidelines/package-projects.md
  eng/dir.traversal.targets
  external/dir.proj
  pkg/Microsoft.NETCore.Platforms.Future/Microsoft.NETCore.Platforms.Future.builds
  pkg/Microsoft.NETCore.Platforms/Microsoft.NETCore.Platforms.builds
  pkg/Microsoft.NETCore.Targets/Microsoft.NETCore.Targets.builds
  pkg/Microsoft.Private.CoreFx.NETCoreApp/Microsoft.Private.CoreFx.NETCoreApp.builds
  pkg/Microsoft.Private.CoreFx.UAP/Microsoft.Private.CoreFx.UAP.builds
  pkg/Microsoft.Private.PackageBaseline/Microsoft.Private.PackageBaseline.builds
  pkg/Microsoft.Windows.Compatibility.Shims/Microsoft.Windows.Compatibility.Shims.builds
  pkg/Microsoft.Windows.Compatibility/Microsoft.Windows.Compatibility.builds
  pkg/dir.traversal.targets
  pkg/runtime.native.System.IO.Ports/runtime.native.System.IO.Ports.builds
  src/dirs.proj
  src/packages.builds
  src/ref.builds
  src/src.builds
  src/tests.builds
Labels: area-Infrastructure

#35623 Fix bug: UserAgent malformed parsing
  src/System.Net.Http/src/System/Net/Http/HttpRuleParser.cs
  src/System.Net.Http/tests/UnitTests/Headers/HttpRequestHeadersTest.cs
  src/System.Net.Http/tests/UnitTests/Headers/ProductInfoHeaderParserTest.cs
  src/System.Net.Http/tests/UnitTests/HttpRuleParserTest.cs
Labels: area-System.Net.Http

#35541 Make Stacktrace Symbols Cache Aware of Unloadability (phase 1)
  src/System.Diagnostics.StackTrace/src/System/Diagnostics/StackTraceSymbols.CoreCLR.cs
Labels: area-System.Diagnostics

#28894 Fix ImplicitMachineConfigHost parameter checking
  src/System.Configuration.ConfigurationManager/src/System/Configuration/ClientConfigurationHost.cs
  src/System.Configuration.ConfigurationManager/src/System/Configuration/ImplicitMachineConfigHost.cs
  src/System.Configuration.ConfigurationManager/tests/System/Configuration/ApplicationSettingsBaseTests.cs
Labels: area-System.Configuration

#35312 Move MaxDepth setting to JsonReaderOptions from the JsonReaderState
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.Parse.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.StackRowStack.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderOptions.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderState.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.MultiSegment.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/tests/JsonDocumentTests.cs
  src/System.Text.Json/tests/JsonReaderStateAndOptionsTests.cs
  src/System.Text.Json/tests/JsonReaderStateTests.cs
  src/System.Text.Json/tests/JsonTestHelper.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
  src/System.Text.Json/tests/Utf8JsonReaderTests.MultiSegment.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json

#35723 Get RH6 outerloop clean
  src/System.Net.Sockets/tests/FunctionalTests/SocketOptionNameTest.cs
Labels: area-System.Net.Sockets

#35688 Refine help messages
  eng/build.ps1
  eng/build.sh
Labels: area-Infrastructure

#35711 Revisit back pressure implementation
  src/System.IO.Pipelines/src/Resources/Strings.resx
  src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/ThrowHelper.cs
  src/System.IO.Pipelines/tests/BackpressureTests.cs
  src/System.IO.Pipelines/tests/PipeLengthTests.cs
Labels: area-System.IO.Pipelines

#35739 Enable -? help parameter
  build.cmd
  eng/build.ps1
Labels: area-Infrastructure

#33297 Add tests for dotnet/coreclr#20815 - new Math and MathF rounding modes
  src/System.Runtime.Extensions/tests/System/MathF.netcoreapp.cs
  src/System.Runtime.Extensions/tests/System/MathTests.netcoreapp.cs
Labels: area-System.Runtime.Extensions

#35747 Remove SharedFrameworkValidation
  build.proj
  external/SharedFrameworkValidation/harvestPackages.SharedFramework.depproj
  src/SharedFrameworkValidation/ApiCompatBaseline.LKGRuntime.CurrentRuntime.txt
  src/SharedFrameworkValidation/ApiCompatBaseline.LKGSharedFramework.CurrentSharedFramework.txt
  src/SharedFrameworkValidation/RestoreSDKProject/Dummy.cs
  src/SharedFrameworkValidation/RestoreSDKProject/NuGet.config
  src/SharedFrameworkValidation/RestoreSDKProject/RestoreSDKProject.csproj
  src/SharedFrameworkValidation/SharedFrameworkValidation.cmd
  src/SharedFrameworkValidation/SharedFrameworkValidation.proj
  src/SharedFrameworkValidation/SharedFrameworkValidation.sh
  src/System.Diagnostics.DiagnosticSource/tests/System.Diagnostics.DiagnosticSource.Tests.csproj
  src/tests.builds
Labels: area-Infrastructure

#35199 SBCSCodePageEncoding: Don't call DecoderFallback.CreateFallbackBuffer until needed
  src/System.Text.Encoding.CodePages/src/System/Text/SBCSCodePageEncoding.cs
Labels: area-System.Text.Encoding

#35172 Update brotli to v1.0.7
  src/Native/AnyOS/brotli-version.txt
  src/Native/AnyOS/brotli/common/platform.h
  src/Native/AnyOS/brotli/common/transform.c
  src/Native/AnyOS/brotli/common/version.h
  src/Native/AnyOS/brotli/dec/decode.c
  src/Native/AnyOS/brotli/dec/huffman.c
  src/Native/AnyOS/brotli/dec/huffman.h
  src/Native/AnyOS/brotli/enc/backward_references_hq.c
  src/Native/AnyOS/brotli/enc/backward_references_hq.h
  src/Native/AnyOS/brotli/enc/backward_references_inc.h
  src/Native/AnyOS/brotli/enc/encode.c
  src/Native/AnyOS/brotli/enc/hash.h
  src/Native/AnyOS/brotli/enc/hash_composite_inc.h
  src/Native/AnyOS/brotli/enc/hash_longest_match64_inc.h
  src/Native/AnyOS/brotli/enc/hash_longest_match_inc.h
  src/Native/AnyOS/brotli/enc/hash_rolling_inc.h
  src/Native/AnyOS/brotli/enc/hash_to_binary_tree_inc.h
  src/Native/AnyOS/brotli/enc/metablock.c
  src/Native/AnyOS/brotli/tools/brotli.c
  src/System.IO.Compression.Brotli/tests/Performance/BrotliPerfTests.cs
Labels: area-System.IO.Compression

#35770 Disable alpine39
  eng/pipelines/linux.yml
Labels: area-Infrastructure

#35767 Update API for new RCW license impl in coreclr
  src/System.ComponentModel.TypeConverter/src/ILLinkTrim.xml
  src/System.ComponentModel.TypeConverter/src/System/ComponentModel/LicenseManager.LicenseInteropHelper.cs
  src/System.ComponentModel.TypeConverter/src/System/ComponentModel/LicenseManager.cs
  src/System.ComponentModel.TypeConverter/tests/LicenseManagerInteropTests.cs
  src/System.ComponentModel.TypeConverter/tests/System.ComponentModel.TypeConverter.Tests.csproj
Labels: area-System.ComponentModel, os-windows, tenet-compatibility

#35773 Disable AllHelperPortsAreInGetPortNames test on ARM Windows
  src/System.IO.Ports/tests/SerialPort/GetPortNames.cs
Labels: area-System.IO

#35757 Fix Linux chain.ChainStatus when multiple layers have errors
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslX509ChainProcessor.cs
  src/System.Security.Cryptography.X509Certificates/tests/ChainTests.cs
Labels: area-System.Security, bug, os-linux

#35776 Reduce inner and outer loop test time for S.T.Json
  src/System.Text.Json/tests/BitStackTests.cs
  src/System.Text.Json/tests/JsonTestHelper.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.MultiSegment.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json, test enhancement

#35107 Add more Syndication tests
  src/System.ServiceModel.Syndication/tests/System.ServiceModel.Syndication.Tests.csproj
  src/System.ServiceModel.Syndication/tests/System/ServiceModel/Syndication/Atom10FeedFormatterTests.cs
  src/System.ServiceModel.Syndication/tests/System/ServiceModel/Syndication/Rss20FeedFormatterTests.cs
  src/System.ServiceModel.Syndication/tests/System/ServiceModel/Syndication/Rss20ItemFormatterTests.cs
  src/System.ServiceModel.Syndication/tests/System/ServiceModel/Syndication/SyndicationFeedTests.cs
  src/System.ServiceModel.Syndication/tests/System/ServiceModel/Syndication/SyndicationFeedTests.netcoreapp.cs
  src/System.ServiceModel.Syndication/tests/netcoreapp/BasicScenarioTests.netcoreapp.cs
Labels: area-System.ServiceModel.Syndication

#35741 Fix ArgIterator condition
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.cs
Labels: area-Infrastructure

#35175 Cleanup some Syndication code
  src/System.ServiceModel.Syndication/src/Resources/Strings.resx
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Channels/UriGenerator.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/SyndicationFeed.cs
  src/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/SyndicationItemFormatter.cs
Labels: area-System.ServiceModel.Syndication

#35801 Improve X509Chain handling of NotSignatureValid on Linux
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.X509StoreCtx.cs
  src/Native/Unix/System.Security.Cryptography.Native/opensslshim.h
  src/Native/Unix/System.Security.Cryptography.Native/pal_x509.c
  src/Native/Unix/System.Security.Cryptography.Native/pal_x509.h
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslX509ChainProcessor.cs
  src/System.Security.Cryptography.X509Certificates/tests/ChainTests.cs
  src/System.Security.Cryptography.X509Certificates/tests/DynamicChainTests.cs
  src/System.Security.Cryptography.X509Certificates/tests/System.Security.Cryptography.X509Certificates.Tests.csproj
  src/System.Security.Cryptography.X509Certificates/tests/TestDataGenerator.cs
Labels: area-System.Security

#35798 re-enable MulticastInterface test on RH6, disable on RH7 and OSX
  src/System.Net.Sockets/tests/FunctionalTests/SocketOptionNameTest.cs
Labels: area-System.Net.Sockets, os-linux

#35831 [2.1] Disable IRI test on netfx
  src/System.Private.Uri/tests/FunctionalTests/IriTest.cs
Labels: area-System.Net, test enhancement

#35829 ignore verification failures on 10.14
  src/CoreFx.Private.TestUtilities/ref/CoreFx.Private.TestUtilities.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.Unix.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.Windows.cs
  src/System.Security.Cryptography.X509Certificates/tests/CertTests.cs
Labels: area-System.Security

#35822 fix ssl3 failing tests in release/2.1
  src/Common/tests/System/Net/SslProtocolSupport.cs
  src/CoreFx.Private.TestUtilities/ref/CoreFx.Private.TestUtilities.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.Unix.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.Windows.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.SslProtocols.cs
Labels: area-System.Net, test bug

#35658 [release/2.1] Port Add initial support for TLS 1.3 to .NET Core
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/Common/src/Interop/Unix/System.Net.Http.Native/Interop.Easy.cs
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/Common/src/Interop/Windows/SChannel/Interop.SchProtocols.cs
  src/Common/src/System/Net/SecurityProtocol.cs
  src/Common/tests/System/Net/SslProtocolSupport.cs
  src/CoreFx.Private.TestUtilities/ref/CoreFx.Private.TestUtilities.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.Unix.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.Windows.cs
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_ssl.cpp
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_ssl.h
  src/Native/Unix/System.Security.Cryptography.Native/pal_ssl.cpp
  src/Native/Unix/System.Security.Cryptography.Native/pal_ssl.h
  src/System.Net.Http.WinHttpHandler/dir.props
  src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlHandler.SslProvider.Linux.cs
  src/System.Net.Http/src/System/Net/Http/CurlHandler/CurlHandler.SslProvider.OSX.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.AcceptAllCerts.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.SslProtocols.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientTestBase.cs
  src/System.Net.Security/src/System/Net/Security/SslConnectionInfo.Unix.cs
  src/System.Net.Security/src/System/Net/Security/SslState.cs
  src/System.Net.ServicePoint/src/System/Net/ServicePointManager.cs
  src/packages.builds
Labels: Servicing-approved, area-System.Net.Security

#35590 [release/2.1] Ignore CTRequired when building an X509 chain on macOS
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509chain.cpp
Labels: Servicing-approved, area-System.Security

#33697 [release/2.2] Update Compat package dependencies to latest depende
  pkg/Microsoft.Windows.Compatibility/Microsoft.Windows.Compatibility.pkgproj
  src/packages.builds
Labels: * NO MERGE *, Servicing-approved, area-Infrastructure

#35699 [release/2.1] Fix the SslStream order of intermediate certificates with long chains
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Ssl.cs
Labels: Servicing-approved, area-System.Security

#35728 Disable appdomains for System.Linq.Parallel tests on netfx
  src/System.Linq.Parallel/tests/System.Linq.Parallel.Tests.csproj
Labels: area-System.Linq.Parallel, test-run-desktop

#35849 disable tests failing on Windows ARM
  src/System.Drawing.Common/tests/Drawing2D/GraphicsPathTests.cs
  src/System.Drawing.Common/tests/Drawing2D/MatrixTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing/GraphicsTests.cs
Labels: arch-arm64, area-System.Drawing

#35823 Improve JsonSerializer.ReadAsync(Stream) throughput
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Stream.cs
  src/System.Text.Json/tests/Serialization/Stream.WriteTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#35842 Updating the Microsoft.Private.Intellisense package to 3.0.0-preview3-190305-0
  eng/Packaging.props
Labels: documentation

#35840 Seed the AsnReader/AsnWriter changes from corefxlab
  src/Common/src/System/Security/Cryptography/Asn1Reader/Asn1Tag.Accelerators.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/Asn1Tag.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnCharacterStringEncodings.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnEncodingRules.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.BitString.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.Boolean.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.Enumerated.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.GeneralizedTime.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.Integer.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.NamedBitList.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.Null.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.OctetString.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.Oid.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.Sequence.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.SetOf.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.Text.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.UtcTime.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnWriter.BitString.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnWriter.Boolean.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnWriter.Enumerated.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnWriter.GeneralizedTime.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnWriter.Integer.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnWriter.NamedBitList.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnWriter.Null.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnWriter.OctetString.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnWriter.Oid.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnWriter.Sequence.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnWriter.SetOf.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnWriter.Text.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnWriter.UtcTime.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnWriter.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/SetOfValueComparer.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/TagClass.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/UniversalTagNumber.cs
Labels: area-System.Security

#35805 [release/2.1] Fix build errors in some build configurations
  src/Native/Unix/System.Security.Cryptography.Native/CMakeLists.txt
  src/Native/Unix/System.Security.Cryptography.Native/pal_asn1_print.cpp
Labels: Servicing-approved, area-System.Security, os-linux

#35632 Expose AmbiguousImplementationException and add tests
  src/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTestData.cs
  src/System.Runtime/ref/System.Runtime.cs
  src/System.Runtime/tests/System.Runtime.Tests.csproj
  src/System.Runtime/tests/System/AmbiguousImplementationExceptionTests.cs
Labels: area-System.Runtime

#35469 Add unit tests for Rune.Decode and friends
  src/System.Memory/ref/System.Memory.Forwards.cs
  src/System.Memory/ref/System.Memory.cs
  src/System.Runtime/ref/System.Runtime.cs
  src/System.Runtime/src/ApiCompatBaseline.netcoreappaot.txt
  src/System.Runtime/src/ApiCompatBaseline.uapaot.txt
  src/System.Runtime/tests/System/Text/RuneTests.netcoreapp.cs
Labels: area-System.Runtime

#35860 Shrink ReadOnlySequence by 8 bytes
  src/System.Memory/src/System/Buffers/BuffersExtensions.cs
  src/System.Memory/src/System/Buffers/ReadOnlySequence.Helpers.cs
  src/System.Memory/src/System/Buffers/ReadOnlySequence.cs
Labels: area-System.Memory

#33393 Utf8JsonReader.cs - Add support for single line comments ending on \r, \r\n
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.MultiSegment.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.MultiSegment.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json

#35846 enable SendToRecvFrom_Datagram_UDP again
  src/System.Net.Sockets/tests/FunctionalTests/SendReceive.cs
Labels: area-System.Net.Sockets, test enhancement

#35876 Upgrade Test Sdk to 16.0.1
  Directory.Build.props
  eng/dependencies.props
  external/test-runtime/XUnit.Runtime.depproj
Labels: area-Infrastructure

#35828 Add target to remove binding redirect
  src/System.Runtime.WindowsRuntime.UI.Xaml/pkg/build/net45/System.Runtime.WindowsRuntime.UI.Xaml.targets
  src/System.Runtime.WindowsRuntime.UI.Xaml/pkg/build/net461/System.Runtime.WindowsRuntime.UI.Xaml.targets
  src/System.Runtime.WindowsRuntime/pkg/build/net45/System.Runtime.WindowsRuntime.targets
  src/System.Runtime.WindowsRuntime/pkg/build/net451/System.Runtime.WindowsRuntime.targets
  src/System.Runtime.WindowsRuntime/pkg/build/net461/System.Runtime.WindowsRuntime.targets
Labels: area-System.Runtime.InteropServices

#35896 JsonDocument should allow the UTF-8 content-BOM from Stream inputs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.Parse.cs
  src/System.Text.Json/src/System/Text/Json/JsonConstants.cs
  src/System.Text.Json/tests/JsonDocumentTests.cs
Labels: area-System.Text.Json

#35915 Bug fix: await SmtpClient.SendMailAsync never ends
  src/System.Net.Mail/src/System/Net/Mail/MailPriority.cs
  src/System.Net.Mail/tests/Functional/SmtpClientTest.cs
  src/System.Net.Mail/tests/Functional/System.Net.Mail.Functional.Tests.csproj
Labels: area-System.Net

#35918 Fix NetEventSource logging for Windows auth on Linux
  src/Common/src/System/Net/Security/NegotiateStreamPal.Unix.cs
Labels: area-System.Net.Http, os-linux

#35920 disable SendToRecvFrom_Datagram_UDP test again
  src/System.Net.Sockets/tests/FunctionalTests/SendReceive.cs
Labels: area-System.Net.Sockets

#35132 Fix CompositionContract.Equals for null
  src/System.Composition.Runtime/src/System/Composition/Hosting/Core/CompositionContract.cs
  src/System.Composition.Runtime/tests/System.Composition.Runtime.Tests.csproj
  src/System.Composition.Runtime/tests/System/Composition/CompositionContextTests.cs
  src/System.Composition.Runtime/tests/System/Composition/ExportFactoryTMetadataTests.cs
  src/System.Composition.Runtime/tests/System/Composition/ExportFactoryTests.cs
  src/System.Composition.Runtime/tests/System/Composition/ExportTests.cs
  src/System.Composition.Runtime/tests/System/Composition/Hosting/CompositionFailedExceptionTests.cs
  src/System.Composition.Runtime/tests/System/Composition/Hosting/Core/CompositionContractTests.cs
Labels: area-System.Composition

#35297 Add RHEL 8 runtime ids
  pkg/Microsoft.NETCore.Platforms/Microsoft.NETCore.Platforms.pkgproj
  pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  pkg/Microsoft.NETCore.Platforms/runtime.json
  pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
  src/packages.builds
Labels: Servicing-approved, area-Infrastructure

#35954 Use TryAddWithoutValidation in WebSocketHandle.ConnectAsyncCore
  src/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.Managed.cs
  src/System.Net.WebSockets.Client/tests/ConnectTest.cs
Labels: area-System.Net, tenet-compatibility

#35737 Add GNU compiler support to build src/Native
  src/Native/Unix/CMakeLists.txt
  src/Native/Unix/Common/pal_config.h.in
  src/Native/Unix/Common/pal_safecrt.h
  src/Native/Unix/System.Net.Security.Native/pal_gssapi.c
  src/Native/Unix/configure.cmake
  src/Native/Unix/gen-buildsys-gcc.sh
  src/Native/build-native.sh
Labels: area-Infrastructure

#35879 Throw an exception if examined < consumed and reworked lastExamined
  src/System.IO.Pipelines/src/Resources/Strings.resx
  src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/ThrowHelper.cs
  src/System.IO.Pipelines/tests/PipeLengthTests.cs
Labels: area-System.IO.Pipelines

#35960 Include correct error code in WebSocket.ThrowOnInvalidState
  src/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.Managed.cs
  src/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.WinRT.cs
  src/System.Net.WebSockets.Client/tests/AbortTest.cs
  src/System.Net.WebSockets.Client/tests/CancelTest.cs
  src/System.Net.WebSockets.Client/tests/ClientWebSocketTestBase.cs
  src/System.Net.WebSockets.Client/tests/ConnectTest.cs
  src/System.Net.WebSockets/src/System/Net/WebSockets/WebSocket.cs
  src/System.Net.WebSockets/tests/WebSocketTests.cs
Labels: area-System.Net

#35992 Fix SendWithPingUtilityAsync to catch InvalidOperationException
  src/System.Net.Ping/src/System/Net/NetworkInformation/Ping.Unix.cs
Labels: area-System.Net

#35978 Fix JsonReader bug in multi-segment string processing with escaped characters
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.MultiSegment.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.MultiSegment.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json

#33621 small fixes for ping to properly set state in case of failure
  src/System.Net.Ping/src/System/Net/NetworkInformation/Ping.Unix.cs
  src/System.Net.Ping/src/System/Net/NetworkInformation/Ping.Windows.cs
  src/System.Net.Ping/src/System/Net/NetworkInformation/Ping.cs
Labels: area-System.Net, os-linux

#36015 Porting XEvent Delay BugFix from .Net Framework
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObject.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/DataStreamTest/DataStreamTest.cs
Labels: area-System.Data.SqlClient

#35903 Add (Try)GetDateTime(Offset) to Utf8JsonReader
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/JsonConstants.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.Date.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.TryGet.cs
Labels: area-System.Text.Json

#36018 Clean up some tests and move to new Azure endpoint
  src/Common/tests/System/Net/Configuration.Http.cs
  src/Common/tests/System/Net/Configuration.Security.cs
  src/Common/tests/System/Net/Configuration.cs
  src/Common/tests/System/Net/WebSockets/WebSocketCreateTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Requests/tests/HttpWebRequestTest.cs
  src/System.Net.WebClient/tests/WebClientTest.cs
  src/System.Net.WebSockets.Client/tests/CloseTest.cs
  src/System.Net.WebSockets.Client/tests/ConnectTest.cs
Labels: area-System.Net, test enhancement

#36021 Tweak SslApplicationProtocol
  src/Common/src/Interop/Windows/SChannel/Interop.Sec_Application_Protocols.cs
  src/System.Net.Security/src/System/Net/Security/SslApplicationProtocol.cs
  src/System.Net.Security/tests/UnitTests/SslApplicationProtocolTests.cs
Labels: area-System.Net.Security

#36037 Disable some proxy tests
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Proxy.cs
Labels: area-System.Net.Http, test bug

#35927 SqlClient rent stream parameter buffers
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlParameter.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.cs
Labels: area-System.Data.SqlClient

#35959 Optimize recursion of System.Net.Http.HttpRuleParser.GetExpressionLength
  src/System.Net.Http/src/System/Net/Http/HttpRuleParser.cs
Labels: area-System.Net.Http

#36056 Avoid three expensive allocations in UriHelper
  src/System.Private.Uri/src/System/UriHelper.cs
Labels: area-System.Net

#36059 Fix HttpWebRequest to use WebRequest.DefaultWebProxy credentials
  src/System.Net.Requests/src/System/Net/HttpWebRequest.cs
Labels: area-System.Net, tenet-compatibility

#36061 Add test for HttpWebRequest default proxy credentials
  src/System.Net.Requests/tests/HttpWebRequestTest.cs
  src/System.Net.Requests/tests/System.Net.Requests.Tests.csproj
Labels: area-System.Net, test enhancement

#35979 Add TextEquals helper methods to Utf8JsonReader
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System/Text/Json/JsonConstants.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.Unescaping.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
  src/System.Text.Json/tests/Utf8JsonReaderTests.MultiSegment.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.TextEquals.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json

#36064 Add test for using SslStream for concurrent read/writes
  src/System.Net.Security/tests/FunctionalTests/SslStreamStreamToStreamTest.cs
Labels: area-System.Net.Security, test enhancement

#36065 Fix SslStreamStreamToStreamTest to exercise correct overloads
  src/System.Net.Security/tests/FunctionalTests/LoggingTest.cs
  src/System.Net.Security/tests/FunctionalTests/SslStreamNetworkStreamTest.cs
  src/System.Net.Security/tests/FunctionalTests/SslStreamStreamToStreamTest.cs
Labels: area-System.Net.Security, test bug

#35344 SqlClient minor fix and changes
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlConnectionString.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.cs
Labels: area-System.Data.SqlClient

#36084 Fix and re-enable some HttpListener authentication tests
  src/System.Net.HttpListener/tests/HttpListenerAuthenticationTests.cs
Labels: area-System.Net, os-windows, test enhancement

#36094 Add SslStream test for "unlocking" after failure
  src/System.Net.Security/tests/FunctionalTests/SslStreamStreamToStreamTest.cs
Labels: area-System.Net.Security, test enhancement

#35337 Http trailer support for HTTP/1.x
  src/System.Net.Http/ref/System.Net.Http.cs
  src/System.Net.Http/src/System/Net/Http/HttpResponseMessage.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ChunkedEncodingReadStream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentReadStream.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.TrailingHeaders.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/PlatformHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Labels: area-System.Net.Http.SocketsHttpHandler

#36096 Disable System.Text.Json tests failing in CI
  src/System.Text.Json/tests/Utf8JsonReaderTests.TextEquals.cs
Labels: area-System.Text.Json

#36097 Add SslStream test to validate synchronous invocation on underlying Stream
  src/System.Net.Security/tests/FunctionalTests/SslStreamStreamToStreamTest.cs
Labels: area-System.Net.Security

#36081 Add (Try)GetDateTime(Offset) to JsonElement
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs
  src/System.Text.Json/src/System/Text/Json/JsonHelpers.Date.cs
  src/System.Text.Json/src/System/Text/Json/JsonHelpers.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.MultiSegment.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/tests/JsonDateTimeTestData.cs
  src/System.Text.Json/tests/JsonDocumentTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
  src/System.Text.Json/tests/Utf8JsonReaderTests.TryGet.cs
Labels: area-System.Text.Json

#36110 Fix WebSocketHttpListenerDuplexStream error handling
  src/System.Net.HttpListener/src/System/Net/Windows/WebSockets/WebSocketHttpListenerDuplexStream.cs
Labels: area-System.Net, os-windows

#36112 Default Ut8fJsonReader.Read should return false.
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.MultiSegment.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/tests/JsonTestHelper.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json

#36115 Reduce test string size for TextEquals and mover overflow test to outerloop.
  src/System.Text.Json/tests/Utf8JsonReaderTests.TextEquals.cs
Labels: area-System.Text.Json

#36106 Unlock SslStream for writes after failed write
  src/Common/src/Interop/Windows/SChannel/Interop.SECURITY_STATUS.cs
  src/Common/src/System/Net/SecurityStatusAdapterPal.Windows.cs
  src/Common/src/System/Net/SecurityStatusPal.cs
  src/System.Net.Security/src/System/Net/Security/SslStream.Implementation.cs
  src/System.Net.Security/src/System/Net/Security/SslStream.cs
  src/System.Net.Security/tests/FunctionalTests/SslStreamStreamToStreamTest.cs
  src/System.Net.Security/tests/UnitTests/Fakes/FakeSslStream.Implementation.cs
Labels: area-System.Net.Security

#36127 Disable BuildInvalidSignatureTwice in X509Certificates.Tests on Windows
  src/System.Security.Cryptography.X509Certificates/tests/ChainTests.cs
Labels: area-System.Security

#36114 Utf8JsonReader should be consistent when dealing with more than one JSON payload.
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.MultiSegment.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.MultiSegment.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json

#34538 Add ref APIs and unit tests for System.Text.Unicode.Utf8
  src/CoreFx.Private.TestUtilities/ref/Configurations.props
  src/CoreFx.Private.TestUtilities/ref/CoreFx.Private.TestUtilities.csproj
  src/CoreFx.Private.TestUtilities/ref/CoreFx.Private.TestUtilities.netcoreapp.cs
  src/CoreFx.Private.TestUtilities/src/CoreFx.Private.TestUtilities.csproj
  src/CoreFx.Private.TestUtilities/src/System/Buffers/BoundedMemory.Creation.cs
  src/CoreFx.Private.TestUtilities/src/System/Buffers/BoundedMemory.Unix.cs
  src/CoreFx.Private.TestUtilities/src/System/Buffers/BoundedMemory.Windows.cs
  src/CoreFx.Private.TestUtilities/src/System/Buffers/BoundedMemory.cs
  src/CoreFx.Private.TestUtilities/src/System/Buffers/PoisonPagePlacement.cs
  src/System.Runtime/ref/System.Runtime.cs
  src/System.Runtime/src/ApiCompatBaseline.netcoreappaot.txt
  src/System.Runtime/src/ApiCompatBaseline.uapaot.txt
  src/System.Runtime/tests/System.Runtime.Tests.csproj
  src/System.Runtime/tests/System/Text/Unicode/Utf8Tests.ToBytes.netcoreapp.cs
  src/System.Runtime/tests/System/Text/Unicode/Utf8Tests.ToChars.netcoreapp.cs
  src/System.Runtime/tests/System/Text/Unicode/Utf8Tests.netcoreapp.cs
Labels: area-System.Runtime

#36116 Update CurrentDepth semantics to match current token depth, not reader state
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.MultiSegment.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json

#36082 Fix netfx test runs
  external/test-runtime/XUnit.Runtime.depproj
Labels: area-Infrastructure

#36134 improve parsing of Digest authentication header
  src/Common/tests/System/Net/Http/LoopbackServer.AuthenticationHelpers.cs
Labels: area-System.Net.Http, test bug

#34999 SqlClient remove primitive boxing in SqlDataReader.GetFieldValue
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlBuffer.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlDataReader.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.NetCoreApp.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.NetStandard.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.cs
Labels: area-System.Data.SqlClient

#35645 Change Process.MaxWorkingSet to prefer cgroup data
  src/Common/src/Interop/Linux/cgroups/Interop.cgroups.cs
  src/System.Diagnostics.Process/src/System.Diagnostics.Process.csproj
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.Linux.cs
  src/System.Runtime.InteropServices.RuntimeInformation/tests/DescriptionNameTests.cs
  src/System.Runtime.InteropServices.RuntimeInformation/tests/System.Runtime.InteropServices.RuntimeInformation.Tests.csproj
Labels: area-System.Diagnostics.Process

#36150 Fix X509Chain build error reporting on Windows
  src/System.Net.Security/src/System/Net/CertificateValidationPal.Windows.cs
Labels: area-System.Net.Security, tenet-compatibility

#35936 Remove 2 phase 2
  src/Native/Unix/System.Native/pal_io.c
  src/Native/Unix/System.Native/pal_io.h
Labels: area-Meta

#35754 Removed need for Nullable converters in Json serialization
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultConverters.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultConvertersOfTValue.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultEnumConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterBooleanNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterByteNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterCharNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterDateTimeNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterDecimalNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterDoubleNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterEnum.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterInt16.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterInt16Nullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterInt32Nullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterInt64Nullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterSByteNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterSingleNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterUInt16Nullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterUInt32Nullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterUInt64Nullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoOfTClassTPropertyTUnderlying.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoOfTProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
Labels: area-System.Text.Json

#35549 SqlClient shrink SqlParameter and fix 34414
  src/Common/src/System/Data/Common/AdapterUtil.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlCommand.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlParameter.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlParameterHelper.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UdtTest2.cs
  src/System.Data.SqlClient/tests/ManualTests/createUdtTestDb_corefx.sql
Labels: area-System.Data.SqlClient

#36209 Disable Match_ExcessPrefix on ARM
  src/System.Text.RegularExpressions/tests/Regex.Match.Tests.cs
Labels: area-System.Text.RegularExpressions

#36199 Make Process.{Safe}Handle be a waitable event handle on Unix
  src/System.Diagnostics.Process/src/Microsoft/Win32/SafeHandles/SafeProcessHandle.Unix.cs
  src/System.Diagnostics.Process/src/Microsoft/Win32/SafeHandles/SafeProcessHandle.Windows.cs
  src/System.Diagnostics.Process/src/Microsoft/Win32/SafeHandles/SafeProcessHandle.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Unix.cs
  src/System.Diagnostics.Process/tests/ProcessTests.cs
  src/System.Runtime/tests/System/ExitCodeTests.Unix.cs
Labels: area-System.Diagnostics.Process

#35906 Ignore invalid correlation context tokens in Http Diagnostics Listener
  src/System.Net.Http/src/System/Net/Http/DiagnosticsHandler.cs
  src/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs
Labels: area-System.Net.Http

#36201 Add JsonSerializer Xml doc and change DefaultBufferSize semantics
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Span.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Stream.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.String.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.ByteArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Stream.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.String.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/System.Text.Json/tests/Serialization/OptionsTests.cs
  src/System.Text.Json/tests/Serialization/SpanTests.cs
  src/System.Text.Json/tests/Serialization/Stream.ReadTests.cs
  src/System.Text.Json/tests/Serialization/String.ReadTests.cs
  src/System.Text.Json/tests/Serialization/String.WriteTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#36218 Fix Json serialization issue with object stack
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStack.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
  src/System.Text.Json/tests/Serialization/TestClasses.cs
  src/System.Text.Json/tests/Serialization/TestData.cs
Labels: area-System.Text.Json

#36049 Console: Unix: Improve Cursor{Left,Top} performance by caching them
  src/Common/src/Interop/Unix/System.Native/Interop.SetTerminalInvalidationHandler.cs
  src/Native/Unix/System.Native/pal_signal.c
  src/Native/Unix/System.Native/pal_signal.h
  src/System.Console/src/FxCopBaseline.cs
  src/System.Console/src/System.Console.csproj
  src/System.Console/src/System/ConsolePal.Unix.cs
Labels: area-System.Console

#35922 Enable VSTest references and LaunchSettings in CI
  Directory.Build.props
Labels: area-Infrastructure

#36239 Add additional diagnostics to PostAsync_RedirectWith307_LargePayload
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http, test enhancement

#36242 Avoid thread pool work item allocation in Socket.Send/ReceiveAsync
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.Tasks.cs
Labels: area-System.Net.Sockets

#36229 Correctly show the '}', ']' within the exception message in Utf8JsonWriter
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs
Labels: area-System.Text.Json

#36122 Add (Try)GetGuid to Utf8JsonReader
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System/Text/Json/JsonConstants.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.cs
  src/System.Text.Json/tests/JsonGuidTestData.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
  src/System.Text.Json/tests/Utf8JsonReaderTests.TryGet.cs
Labels: area-System.Text.Json

#36329 Fix Kerberos/NTLM for multiple domain/realm environments in Linux
  src/Common/src/Interop/Unix/System.Net.Security.Native/Interop.NetSecurityNative.cs
  src/Common/src/Microsoft/Win32/SafeHandles/GssSafeHandles.cs
  src/Common/src/System/Net/Security/NegotiateStreamPal.Unix.cs
  src/Common/src/System/Net/Security/Unix/SafeDeleteNegoContext.cs
  src/Native/Unix/System.Net.Security.Native/pal_gssapi.c
  src/Native/Unix/System.Net.Security.Native/pal_gssapi.h
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Authentication.cs
Labels: area-System.Net.Security, tenet-compatibility

#36342 make mmap tests friendlier to containers
  src/System.IO.MemoryMappedFiles/tests/MemoryMappedViewAccessor.Tests.cs
  src/System.IO.MemoryMappedFiles/tests/MemoryMappedViewStream.Tests.cs
Labels: area-System.IO, test enhancement

#36054 test Linux/arm32 queue
  eng/pipelines/linux.yml
Labels: area-Infrastructure

#36353 Add Json serializer doc for ignore and propertyname features
  src/System.Text.Json/docs/SerializerProgrammingModel.md
Labels: area-System.Text.Json, documentation

#34709 SqlClient add TestPacketNumberWraparound fix and test
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlBulkCopy.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObject.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/ParameterTest/TvpTest.cs
Labels: area-System.Data.SqlClient

#36071 Cleaning up the P/Invoke signatures for QPF and QPC to avoid marshalling and pinning
  src/Common/src/CoreLib/Interop/Unix/System.Native/Interop.GetTimestamp.cs
  src/Common/src/Interop/Windows/Kernel32/Interop.QueryPerformanceCounter.cs
  src/Common/src/Interop/Windows/Kernel32/Interop.QueryPerformanceFrequency.cs
  src/Native/Unix/System.Native/pal_time.c
  src/Native/Unix/System.Native/pal_time.h
  src/System.Runtime.Extensions/src/System.Runtime.Extensions.csproj
  src/System.Runtime.Extensions/src/System/Diagnostics/Stopwatch.Unix.cs
  src/System.Runtime.Extensions/src/System/Diagnostics/Stopwatch.Windows.cs
  src/System.Runtime.Extensions/src/System/Diagnostics/Stopwatch.cs
Labels: area-System.Runtime.Extensions

#36224 Fix WinRT marshalling for NotifyPropertyChangedEventArgs and NotifyCollectionChangedEventArgs (CoreFX side)
  src/System.Runtime.WindowsRuntime/src/System/Runtime/InteropServices/WindowsRuntime/MarshalingHelpers.cs
Labels: area-System.Runtime.InteropServices, os-windows

#35899 Adding more floating-point parsing test coverage and re-enabling some tests
  src/Common/tests/System/RealFormatterTestsBase.netcoreapp.cs
  src/Common/tests/System/RealParserTestsBase.netcoreapp.cs
Labels: area-System.Numerics

#36377 add Alpine.39 and update ARM64 container
  eng/pipelines/linux.yml
Labels: area-Infrastructure

#36381 32bit process may not throw on negative allocation
  src/CoreFx.Private.TestUtilities/ref/CoreFx.Private.TestUtilities.cs
  src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.cs
  src/System.Drawing.Common/tests/Imaging/EncoderParameterTests.cs
Labels: arch-arm32, test bug

#36385 Update Json serializer doc based on review
  src/System.Text.Json/docs/SerializerProgrammingModel.md
Labels: area-System.Text.Json, documentation

#36035 Add ref asms and unit tests for Rune.Encode APIs
  src/System.Runtime/ref/System.Runtime.cs
  src/System.Runtime/src/ApiCompatBaseline.uapaot.txt
  src/System.Runtime/tests/System/Text/RuneTests.netcoreapp.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.Unescaping.cs
Labels: area-System.Runtime

#35826 Updating CoreFX to use Microsoft.Net.Compilers.Toolset and to automatically flow the version from Arcade
  Directory.Build.props
  eng/Tools.props
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-Infrastructure

#36183 Uppercase configuration string
  eng/build.ps1
  eng/build.sh
Labels: area-Infrastructure

#35989 Add Utf8String package, reference APIs, and unit tests
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  pkg/descriptions.json
  src/Directory.Build.props
  src/System.Utf8String.Experimental/Directory.Build.props
  src/System.Utf8String.Experimental/System.Utf8String.Experimental.sln
  src/System.Utf8String.Experimental/pkg/System.Utf8String.Experimental.pkgproj
  src/System.Utf8String.Experimental/ref/Configurations.props
  src/System.Utf8String.Experimental/ref/System.Utf8String.Experimental.csproj
  src/System.Utf8String.Experimental/ref/System.Utf8String.cs
  src/System.Utf8String.Experimental/src/Configurations.props
  src/System.Utf8String.Experimental/src/Resources/Strings.resx
  src/System.Utf8String.Experimental/src/System.Utf8String.Experimental.csproj
  src/System.Utf8String.Experimental/src/System/IO/Utf8StringStream.cs
  src/System.Utf8String.Experimental/src/System/Net/Http/Utf8StringContent.cs
  src/System.Utf8String.Experimental/tests/Configurations.props
  src/System.Utf8String.Experimental/tests/System.Utf8String.Experimental.Tests.csproj
  src/System.Utf8String.Experimental/tests/System/Char8Tests.cs
  src/System.Utf8String.Experimental/tests/System/MemoryTests.cs
  src/System.Utf8String.Experimental/tests/System/Net/Http/Utf8StringContentTests.cs
  src/System.Utf8String.Experimental/tests/System/ReflectionTests.cs
  src/System.Utf8String.Experimental/tests/System/Utf8ExtensionsTests.cs
  src/System.Utf8String.Experimental/tests/System/Utf8StringTests.Ctor.cs
  src/System.Utf8String.Experimental/tests/System/Utf8StringTests.Searching.cs
  src/System.Utf8String.Experimental/tests/System/Utf8StringTests.Substring.cs
  src/System.Utf8String.Experimental/tests/System/Utf8StringTests.cs
  src/System.Utf8String.Experimental/tests/System/Utf8TestUtilities.cs
  src/System.Utf8String.Experimental/tests/Xunit/SpanAssert.cs
Labels: area-System.Runtime

#36432 increase max test duration from 10 to 15 minutes
  eng/sendtohelix.proj
Labels: area-Infrastructure

#34560 Added support for UF_HIDDEN flag on macOS and FreeBSD (#29323)
  src/Common/src/Interop/Unix/System.Native/Interop.LChflags.cs
  src/Native/Unix/Common/pal_config.h.in
  src/Native/Unix/System.Native/pal_io.c
  src/Native/Unix/System.Native/pal_io.h
  src/Native/Unix/configure.cmake
  src/System.IO.FileSystem/src/System.IO.FileSystem.csproj
  src/System.IO.FileSystem/src/System/IO/FileStatus.Unix.cs
  src/System.IO.FileSystem/tests/Base/FileGetSetAttributes.cs
  src/System.IO.FileSystem/tests/FileInfo/GetSetAttributes.cs
Labels: area-System.IO

#36410 HTTP2: Don't send RST_STREAM in response to window update on closed stream
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#36194 Add ReadOnlySequence<T>.FirstSpan
  src/System.Memory/ref/System.Memory.cs
  src/System.Memory/src/System/Buffers/ReadOnlySequence.Helpers.cs
  src/System.Memory/src/System/Buffers/ReadOnlySequence.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.Common.char.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.Common.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.Default.cs
  src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.Empty.cs
Labels: area-System.Memory

#36489 add instrumentation to PingResultValidator
  src/System.Net.Ping/tests/FunctionalTests/PingTest.cs
Labels: area-System.Net, test enhancement

#36485 Increase timeout for 2 socket option name tests
  src/System.Net.Sockets/tests/FunctionalTests/SendReceive.cs
  src/System.Net.Sockets/tests/FunctionalTests/SocketOptionNameTest.cs
Labels: area-System.Net.Sockets, test bug

#34573 SqlClient enviroment change optimization
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlInternalConnectionTds.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserHelperClasses.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObject.cs
Labels: area-System.Data.SqlClient

#36352 Add JsonElement.WriteAs{Property|Value}
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.FormattedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.FormattedNumber.cs
  src/System.Text.Json/tests/JsonDocumentTests.cs
  src/System.Text.Json/tests/JsonElementWriteTests.cs
  src/System.Text.Json/tests/JsonTestHelper.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#35621 Console: toggle terminal echo based on presence of interactive child processes
  src/Common/src/Interop/Unix/System.Native/Interop.ConfigureTerminalForChildProcess.cs
  src/Common/src/Interop/Unix/System.Native/Interop.InitializeTerminalAndSignalHandling.cs
  src/Common/src/Interop/Unix/System.Native/Interop.RegisterForSigChld.cs
  src/Native/Unix/System.Native/pal_console.c
  src/Native/Unix/System.Native/pal_console.h
  src/Native/Unix/System.Native/pal_signal.c
  src/Native/Unix/System.Native/pal_signal.h
  src/System.Console/src/System.Console.csproj
  src/System.Console/src/System/ConsolePal.Unix.cs
  src/System.Console/src/System/IO/StdInReader.cs
  src/System.Diagnostics.Process/src/System.Diagnostics.Process.csproj
  src/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs
  src/System.Diagnostics.Process/src/System/Diagnostics/ProcessWaitState.Unix.cs
Labels: area-System.Console

#36350 Build a JsonDocument from an already positioned Utf8JsonReader
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.Parse.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/tests/JsonDocumentTests.cs
Labels: area-System.Text.Json

#36051 Little optimization for TakeLast
  src/System.Linq/src/System/Linq/Take.SizeOpt.cs
  src/System.Linq/src/System/Linq/Take.SpeedOpt.cs
  src/System.Linq/src/System/Linq/Take.cs
  src/System.Linq/tests/EnumerableTests.cs
Labels: area-System.Linq
