Repository dotnet/corefx, pull requests merged in 2019-06, with the labels that each got.

#38127 Change use of AllowRenegotiation in HttpConnectionPool
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#37451 Use LoopbackServer for HttpWebRequestTests
  src/System.Net.Requests/tests/HttpWebRequestTest.cs
  src/System.Net.Requests/tests/System.Net.Requests.Tests.csproj
Labels: area-System.Net

#36957 Use fallbacks when link() fails
  src/System.IO.FileSystem/src/System/IO/FileSystem.Unix.cs
Labels: area-System.IO

#37911 Adds JsonElement.ValueEquals / JsonProperty.NameEquals APIs,
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonProperty.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/tests/JsonDocumentTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
  src/System.Text.Json/tests/TestClasses.ClassWithComplexObjects.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.ValueTextEquals.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json

#38182 Persist InterfaceTypeAttribute in ref assemblies
  eng/DefaultGenApiDocIds.txt
  src/System.Diagnostics.PerformanceCounter/ref/System.Diagnostics.PerformanceCounter.cs
  src/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/System.Transactions.Local/ref/System.Transactions.Local.cs
  src/System.Transactions.Local/ref/System.Transactions.Local.csproj
Labels: auto-merge

#38038 LoopbackProxyServer cleanup
  src/Common/tests/System/Net/EventSourceTestLogging.cs
  src/Common/tests/System/Net/Http/LoopbackProxyServer.cs
  src/System.Net.WebSockets.Client/tests/System.Net.WebSockets.Client.Tests.csproj
Labels: area-System.Net.Http

#38211 Fix catch blocks for cancellation in ConnectHelper.ConnectAsync
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#38129 HttpClient.SendAsync() should not attempt to read response body on a HEAD or PUT request.
  src/System.Net.Http/src/System/Net/Http/HttpClient.cs
  src/System.Net.Http/tests/FunctionalTests/HttpRequestMessageTest.cs
Labels: area-System.Net.Http

#38222 Disable JSON LookupOverflow test
  src/System.Text.Json/tests/Utf8JsonReaderTests.ValueTextEquals.cs
Labels: area-System.Text.Json

#35363 SqlClient managed networking improvements
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIHandle.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIMarsConnection.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIMarsHandle.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNINpHandle.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIPacket.NetCoreApp.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIPacket.NetStandard.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIPacket.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIProxy.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNITcpHandle.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SslOverTdsStream.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObject.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObjectManaged.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObjectNative.cs
Labels: area-System.Data.SqlClient

#38133 Ignore indexer properties
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/tests/Serialization/Object.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Object.WriteTests.cs
Labels: area-System.Text.Json

#38217 Rev up the version of System.Threading.Tasks.Extensions since it was serviced
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/System.Threading.Tasks.Extensions/dir.props
  src/System.Threading.Tasks.Extensions/pkg/System.Threading.Tasks.Extensions.pkgproj
  src/packages.builds
Labels: Servicing-approved

#38120 Moving the JsonSerializer to the root namespace - System.Text.Json
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ClassMaterializer.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ClassType.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonCamelCaseNamePolicy.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonNamingPolicy.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleNull.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandlePropertyName.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleValue.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Span.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Stream.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.String.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Utf8JsonReader.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.ByteArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleEnumerable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Stream.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.String.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/MemberAccessor.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/PooledByteBufferWriter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/PropertyRef.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStack.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReflectionEmitMaterializer.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReflectionMaterializer.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStackFrame.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json, auto-merge

#38225 Fix digest authentication on SocketsHttpHandler
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.Digest.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/UnitTests/DigestAuthenticationTests.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#38224 [release/2.1] Disable tests on netfx for loop in URI & IPv6AddressHelper
  src/System.Net.Primitives/tests/FunctionalTests/IPAddressParsing.cs
  src/System.Private.Uri/tests/FunctionalTests/IriTest.cs
  src/System.Private.Uri/tests/FunctionalTests/UriIpHostTest.cs
Labels: area-System.Net, test bug

#38235 [OLEDB] Add 3 more OleDbParameterCollection members
  src/System.Data.OleDb/ref/System.Data.OleDb.cs
  src/System.Data.OleDb/src/OleDbParameterCollectionHelper.cs
  src/System.Data.OleDb/tests/OleDbParameterTests.cs
Labels: area-System.Data

#38270 Update JsonSerializer and JsonElement APIs - drop "As" and parameter re-ordering
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterJsonElement.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Stream.cs
  src/System.Text.Json/tests/JsonDocumentTests.cs
  src/System.Text.Json/tests/JsonElementWriteTests.cs
  src/System.Text.Json/tests/Serialization/Stream.WriteTests.cs
Labels: area-System.Text.Json, auto-merge

#38150 Improve ReadOnlySequence.Slice docs
  src/System.Memory/src/System/Buffers/ReadOnlySequence.cs
Labels: area-System.Memory, documentation

#38283 Expose SecurityDescriptor as protected
  src/System.IO.FileSystem.AccessControl/System.IO.FileSystem.AccessControl.sln
  src/System.IO.FileSystem.AccessControl/src/System.IO.FileSystem.AccessControl.csproj
  src/System.IO.FileSystem.AccessControl/src/System/Security/AccessControl/DirectoryObjectSecurity.cs
  src/System.IO.FileSystem.AccessControl/tests/DirectoryObjectSecurityTests.cs
  src/System.Security.AccessControl/System.Security.AccessControl.sln
  src/System.Security.AccessControl/ref/System.Security.AccessControl.cs
  src/System.Security.AccessControl/src/System/Security/AccessControl/ObjectSecurity.cs
  src/System.Security.AccessControl/tests/System.Security.AccessControl.Tests.csproj
Labels: area-System.Security

#38183 Throwing Jsonexception when trying to convert a value into a Dictionary
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
Labels: area-System.Text.Json, auto-merge

#38290 Delete CoreFX tests of COM lifetime control methods.
  src/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.Tests.csproj
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/AreComObjectsAvailableForCleanupTests.cs
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/CleanupUnusedObjectsInCurrentContextTests.cs
  src/System.Threading.Thread/tests/ThreadTests.cs
Labels: area-System.Runtime.InteropServices, test bug

#38320 Removed lost and unused file
  src/System.Text.Json/src/JsonReflectionEmitMaterializer.cs
Labels: area-System.Text.Json

#38204 Allow OperationCanceledExceptions to propagate out of ClientWebSocket.ConnectAsync
  src/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.Managed.cs
  src/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.WinRT.cs
  src/System.Net.WebSockets.Client/tests/CancelTest.cs
  src/System.Net.WebSockets.Client/tests/ConnectTest.cs
Labels: area-System.Net

#38341 Disable System.Net.Sockets.Async.Stress.Tests in CI
  src/System.Net.Sockets/tests/ManualPerformanceTests/System.Net.Sockets.Async.Stress.Tests.csproj
Labels: area-Infrastructure

#37676 Fix issue in NamedPipeServerStream.GetImpersonationUserName()
  src/Common/src/CoreLib/Interop/Windows/Kernel32/Interop.LoadLibraryEx.cs
  src/Common/src/Interop/Windows/Interop.Errors.cs
  src/Common/src/Interop/Windows/Kernel32/Interop.GetNamedPipeHandleState.cs
  src/Common/src/Interop/Windows/Kernel32/Interop.GetNamedPipeInfo.cs
  src/Common/src/Interop/Windows/Kernel32/Interop.PipeOptions.cs
  src/System.IO.Pipes/src/System.IO.Pipes.csproj
  src/System.IO.Pipes/src/System/IO/Pipes/NamedPipeClientStream.Windows.cs
  src/System.IO.Pipes/src/System/IO/Pipes/NamedPipeServerStream.Uap.cs
  src/System.IO.Pipes/src/System/IO/Pipes/NamedPipeServerStream.Win32.cs
  src/System.IO.Pipes/src/System/IO/Pipes/NamedPipeServerStream.Windows.cs
  src/System.IO.Pipes/src/System/IO/Pipes/PipeStream.Unix.cs
  src/System.IO.Pipes/src/System/IO/Pipes/PipeStream.Windows.cs
  src/System.IO.Pipes/src/System/IO/Pipes/PipeStream.cs
  src/System.IO.Pipes/tests/Interop.Windows.cs
  src/System.IO.Pipes/tests/InteropTest.Unix.cs
  src/System.IO.Pipes/tests/InteropTest.Windows.Uap.cs
  src/System.IO.Pipes/tests/InteropTest.Windows.Win32.cs
  src/System.IO.Pipes/tests/InteropTest.Windows.cs
  src/System.IO.Pipes/tests/NamedPipeTests/NamedPipeTest.CreateClient.cs
  src/System.IO.Pipes/tests/NamedPipeTests/NamedPipeTest.Simple.cs
  src/System.IO.Pipes/tests/NamedPipeTests/NamedPipeTest.Specific.cs
  src/System.IO.Pipes/tests/System.IO.Pipes.Tests.csproj
Labels: area-System.IO

#38345 Add debug data to help diagnose HTTP2 test failure
  src/Common/tests/System/Threading/Tasks/GetStateMachineData.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Labels: area-System.Net.Http, test enhancement

#38344 Avoid using X509Certificate2's IntPtr ctor in SecureChannel
  src/Common/tests/System/Net/Configuration.Certificates.cs
  src/System.Net.Security/src/System/Net/Security/SecureChannel.cs
  src/System.Net.Security/tests/FunctionalTests/SslStreamStreamToStreamTest.cs
  src/System.Net.Security/tests/FunctionalTests/SslStreamStreamToStreamTest.netcoreapp.cs
Labels: area-System.Net.Security

#37852 HttpClient: Try decode Location header using UTF-8
  src/Common/tests/System/Net/Http/LoopbackServer.cs
  src/System.Net.Http/src/System/Net/Http/Headers/HeaderDescriptor.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http

#38321 [Code Coverage] Test for Utf8JsonReader.TryGetGuid
  src/System.Text.Json/tests/Utf8JsonReaderTests.TryGet.cs
Labels: area-System.Text.Json

#38205 [Refactor] Return to arraypool for JsonElement and Utf8JsonReader
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
Labels: area-System.Text.Json

#37895 [Tests]: JsonSerializer.Parse for json strings containing Enum
  src/System.Text.Json/tests/Serialization/EnumTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClass.cs
  src/System.Text.Json/tests/Serialization/TestClasses.cs
Labels: area-System.Text.Json, test enhancement

#38280 Enable tracing context propagation without listener in presence of parent Activity
  src/System.Net.Http/src/System/Net/Http/DiagnosticsHandler.cs
  src/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTestBase.cs
Labels: area-System.Net.Http

#37667 Added LeaveOpen option to StreamPipeReader and StreamPipeWriter.
  src/System.IO.Pipelines/ref/System.IO.Pipelines.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeReader.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeReaderStream.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeWriter.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeWriterStream.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/StreamPipeReader.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/StreamPipeReaderOptions.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/StreamPipeWriter.cs
  src/System.IO.Pipelines/src/System/IO/Pipelines/StreamPipeWriterOptions.cs
  src/System.IO.Pipelines/tests/PipeReaderStreamTests.nonnetstandard.cs
  src/System.IO.Pipelines/tests/PipeWriterStreamTests.nonnetstandard.cs
  src/System.IO.Pipelines/tests/StreamPipeReaderTests.cs
  src/System.IO.Pipelines/tests/StreamPipeWriterTests.cs
Labels: api-ready-for-review, area-System.IO.Pipelines

#38153 Some tests imported from Newton Json
  src/System.Text.Json/tests/NewtonsoftTests/CamelCaseTests.cs
  src/System.Text.Json/tests/NewtonsoftTests/CustomObjectConverterTests.cs
  src/System.Text.Json/tests/NewtonsoftTests/DateTimeConverterTests.cs
  src/System.Text.Json/tests/NewtonsoftTests/EnumConverterTests.cs
  src/System.Text.Json/tests/NewtonsoftTests/ImmutableCollectionsTests.cs
  src/System.Text.Json/tests/NewtonsoftTests/JsonSerializerTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json, test enhancement

#38377 Rework Linux/Kerberos native interop layer
  src/Common/src/Interop/Unix/System.Net.Security.Native/Interop.NetSecurityNative.cs
  src/Common/src/Microsoft/Win32/SafeHandles/GssSafeHandles.cs
  src/Common/src/System/Net/Security/NegotiateStreamPal.Unix.cs
  src/Common/src/System/Net/Security/Unix/SafeDeleteNegoContext.cs
  src/Native/Unix/System.Net.Security.Native/pal_gssapi.c
  src/Native/Unix/System.Net.Security.Native/pal_gssapi.h
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIProxy.Unix.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIProxy.Windows.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIProxy.cs
Labels: area-System.Net.Security, tenet-compatibility

#38438 Add debug state machine tracking to GoAwayFrame_NoPendingStreams_ConnectionClosed test
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http, test enhancement

#38308 [3.0 Bug fix]Fix JsonSerializer.WriteAsync
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.cs
  src/System.Text.Json/tests/Serialization/Stream.WriteTests.cs
Labels: area-System.Text.Json

#38461 Re-enable UseCallback_HaveNoCredsAndUseAuthenticatedCustomProxyAndPostToSecureServer_ProxyAuthenticationRequiredStatusCode
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ServerCertificates.cs
Labels: area-System.Net.Http

#38291 Open pdb files with FileShare.Read and FileShare.Delete (#38214)
  src/System.Diagnostics.StackTrace/src/System/Diagnostics/StackTraceSymbols.CoreCLR.cs
  src/System.Diagnostics.StackTrace/tests/StackTraceSymbolsTests.cs
  src/System.Diagnostics.StackTrace/tests/System.Diagnostics.StackTrace.Tests.csproj
Labels: Servicing-consider, area-System.Diagnostics

#38462 Change EstablishConnectionAndProcessOneRequestAsync test method to use WhenAllOrAnyFailed
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http, test enhancement

#38464 Remove flaky asserts in Marshal.R/WInt16 tests.
  src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/ReadWrite/Int16Tests.cs
Labels: area-System.Runtime.InteropServices, test bug

#38465 Use HTTP Host header for Kerberos auth SPN calculation
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.NtAuth.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Authentication.cs
Labels: area-System.Net.Http.SocketsHttpHandler, tenet-compatibility

#37838 Ensure JSON TryGetXXX sets values to default if returning false #37119
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.cs
  src/System.Text.Json/tests/JsonDocumentTests.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.TryGet.cs
Labels: area-System.Text.Json

#38351 Add AppDomain.CurrentDomain event asserts
  src/System.Runtime.Extensions/tests/System/AppDomainTests.cs
  src/System.Runtime.Loader/src/MatchingRefApiCompatBaseline.txt
  src/System.Runtime/tests/System/ExitCodeTests.Unix.cs
Labels: area-System.Runtime, test enhancement

#38306 [3.0 System.Text.Json]JsonExtensionData should allow non-JsonElement types during serialization
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/System.Text.Json/tests/Serialization/ExtensionDataTests.cs
Labels: area-System.Text.Json

#38324 HPACK fixes and tests
  THIRD-PARTY-NOTICES.TXT
  src/Common/tests/System/Net/Http/GenericLoopbackServer.cs
  src/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/System.Net.Http/src/Resources/Strings.resx
  src/System.Net.Http/src/System/Net/Http/Headers/KnownHeaders.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/DynamicTable.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HPackDecoder.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HPackDecodingException.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HPackEncoder.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HeaderField.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/Huffman.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HuffmanDecodingException.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/IntegerDecoder.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/IntegerEncoder.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/StaticTable.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/tests/FunctionalTests/HPackTest.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/System.Net.Http/tests/UnitTests/HPack/HPackDecoderTest.cs
  src/System.Net.Http/tests/UnitTests/HPack/HPackIntegerTest.cs
  src/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
Labels: area-System.Net.Http

#38458 Removed wrong build instructions for openssl tuning
  Documentation/building/unix-instructions.md
Labels: documentation

#38471 Add regression test for SafeSocketHandle getting collected
  src/System.Net.Sockets/tests/FunctionalTests/DisposedSocketTests.cs
  src/System.Net.Sockets/tests/FunctionalTests/DisposedSocketTests.netcoreapp.cs
  src/System.Net.Sockets/tests/FunctionalTests/System.Net.Sockets.Tests.csproj
Labels: area-System.Net.Sockets, test enhancement

#38393 Improve performance Enumerable.Min()
  src/System.Linq/src/System/Linq/Min.cs
  src/System.Linq/tests/ShortCircuitingTests.cs
Labels: area-System.Linq

#38275 Add [DebuggerDisplay] to Json types
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.ArrayEnumerator.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.ObjectEnumerator.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonProperty.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs
  src/System.Text.Json/tests/DebuggerTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
  src/System.Text.Json/tests/TestClasses.ClassWithComplexObjects.cs
Labels: area-System.Text.Json

#38373 [3.0 Bug fix]JsonSerializer.Parse throws for UInt64 backed enum with value -1
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterEnum.cs
  src/System.Text.Json/tests/Serialization/EnumTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClass.cs
  src/System.Text.Json/tests/Serialization/TestClasses.cs
Labels: area-System.Text.Json

#38404 [release/2.1] Update to test on Alpine3.9 instead of Alpine3.6
  buildpipeline/pipeline.json
Labels: Servicing-approved, area-Infrastructure

#38328 Fix for issue # 10573
  src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/TextEncoder.cs
  src/System.Text.Encodings.Web/tests/HtmlEncoderTests.cs
Labels: area-System.Text.Encodings.Web

#38323 Correcting some invalid array json inputs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleDictionary.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
Labels: area-System.Text.Json, auto-merge

#38468 Tests for nullable reference types in Span apis
  src/System.Memory/tests/ReadOnlySpan/IndexOf.T.cs
  src/System.Memory/tests/ReadOnlySpan/IndexOfSequence.T.cs
  src/System.Memory/tests/ReadOnlySpan/LastIndexOf.T.cs
  src/System.Memory/tests/ReadOnlySpan/LastIndexOfSequence.T.cs
  src/System.Memory/tests/Span/IndexOf.T.cs
  src/System.Memory/tests/Span/IndexOfSequence.T.cs
  src/System.Memory/tests/Span/LastIndexOf.T.cs
  src/System.Memory/tests/Span/LastIndexOfSequence.T.cs
  src/System.Memory/tests/TestHelpers.cs
Labels: area-System.Memory

#38530 Enable nullable context to System.Buffers
  src/System.Buffers/ref/System.Buffers.csproj
Labels: auto-merge

#38529 Update one annotation on System.Runtime ref assembly
  src/System.Runtime/ref/System.Runtime.cs
Labels: auto-merge

#38223 Add nullable annotations to System.Threading ref
  src/System.Threading/ref/System.Threading.cs
  src/System.Threading/ref/System.Threading.csproj
Labels: auto-merge

#38236 Add nullable annotations to System.Threading.Thread ref assembly
  src/System.Threading.Thread/ref/System.Threading.Thread.cs
  src/System.Threading.Thread/ref/System.Threading.Thread.csproj
Labels: auto-merge

#38265 Add nullable annotations to System.Threading.Tasks ref assembly
  src/System.Threading.Tasks/ref/System.Threading.Tasks.cs
  src/System.Threading.Tasks/ref/System.Threading.Tasks.csproj
Labels: auto-merge

#38284 Add nullable annotations to System.Threading.Timer ref assembly
  src/System.Threading.Timer/ref/System.Threading.Timer.cs
  src/System.Threading.Timer/ref/System.Threading.Timer.csproj
Labels: auto-merge

#38239 Add nullable annotations to System.Threading.ThreadPool ref assembly.
  src/System.Threading.ThreadPool/ref/System.Threading.ThreadPool.cs
  src/System.Threading.ThreadPool/ref/System.Threading.ThreadPool.csproj
Labels: auto-merge

#38298 Add nullable annotations to System.Threading.Overlapped ref
  src/System.Threading.Overlapped/ref/System.Threading.Overlapped.cs
  src/System.Threading.Overlapped/ref/System.Threading.Overlapped.csproj
Labels: auto-merge

#38439 Add S.S.C.Pkcs and S.S.C.Cng netstandard2.1 ref and lib
  Directory.Build.props
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnCharacterStringEncodings.cs
  src/Common/src/System/Security/Cryptography/Asn1Reader/AsnWriter.BitString.cs
  src/Common/src/System/Security/Cryptography/CryptoPool.cs
  src/System.Security.Cryptography.Cng/ref/Configurations.props
  src/System.Security.Cryptography.Cng/ref/System.Security.Cryptography.Cng.csproj
  src/System.Security.Cryptography.Cng/src/Configurations.props
  src/System.Security.Cryptography.Cng/src/System.Security.Cryptography.Cng.csproj
  src/System.Security.Cryptography.Pkcs/ref/Configurations.props
  src/System.Security.Cryptography.Pkcs/ref/System.Security.Cryptography.Pkcs.csproj
  src/System.Security.Cryptography.Pkcs/src/Configurations.props
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.KeyTrans.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.cs
  src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/PkcsHelpers.cs
  src/System.Security.Cryptography.Pkcs/src/System.Security.Cryptography.Pkcs.csproj
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSignature.DSA.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSignature.ECDsa.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSignature.RSA.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSignature.cs
  src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SignerInfo.cs
  src/ref.builds
Labels: auto-merge

#35278 Allow interface names in IPv6 link-local addresses
  src/Common/src/Interop/Unix/System.Native/Interop.InterfaceNameToIndex.cs
  src/Common/src/Interop/Windows/IpHlpApi/Interop.if_nametoindex.cs
  src/Common/src/System/Net/IPv6AddressHelper.Common.cs
  src/Common/src/System/Net/NetworkInformation/InterfaceInfoPal.Unix.cs
  src/Common/src/System/Net/NetworkInformation/InterfaceInfoPal.Windows.cs
  src/Native/Unix/System.Native/pal_networking.c
  src/Native/Unix/System.Native/pal_networking.h
  src/System.Net.Primitives/src/System.Net.Primitives.csproj
  src/System.Net.Primitives/src/System/Net/IPAddressParser.cs
  src/System.Net.Primitives/tests/FunctionalTests/IPAddressParsing.cs
  src/System.Net.Primitives/tests/PalTests/System.Net.Primitives.Pal.Tests.csproj
  src/System.Net.Primitives/tests/UnitTests/System.Net.Primitives.UnitTests.Tests.csproj
Labels: area-System.Net

#38319 Add support for more collections
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Serialization/ClassType.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultEnumerableConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultICollectionConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultIDictionaryConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultImmutableConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultImmutableDictionaryConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultImmutableEnumerableConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/DefaultIDictionaryConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonDictionaryConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleNull.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandlePropertyName.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleEnumerable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReflectionEmitMaterializer.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReflectionMaterializer.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/System.Text.Json/tests/Serialization/Array.ReadTests.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
  src/System.Text.Json/tests/Serialization/Object.ReadTests.cs
  src/System.Text.Json/tests/Serialization/PolymorphicTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.Polymorphic.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClass.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClassWithObject.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestStruct.cs
  src/System.Text.Json/tests/Serialization/TestClasses.cs
  src/System.Text.Json/tests/Serialization/TestData.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.GenericCollections.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.NonGenericCollections.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.GenericCollections.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.NonGenericCollections.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#38499 make sure we close OS handle if socket is finalized without disposing
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEngine.Unix.cs
  src/System.Net.Sockets/tests/FunctionalTests/DisposedSocketTests.netcoreapp.cs
Labels: area-System.Net.Sockets

#38512 Add support for serializing types that implement IDictionary<string, object>
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.Dictionary.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#38593 Fix leg configurations in official builds and converge redhat6 with linux
  .azure-ci.yml
  eng/pipelines/linux.yml
  eng/pipelines/redhat6.yml
Labels: area-Infrastructure

#38601 Change DiagnosticsHandler to special-case base cancellation exception
  src/System.Net.Http/src/System/Net/Http/DiagnosticsHandler.cs
Labels: area-System.Net.Http

#38610 Add missing .ConfigureAwait(false) in HttpConnectionPool
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#38409 Removing the Manual reference file from System.Text.Json
  src/System.Text.Json/ref/System.Text.Json.Manual.cs
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/ref/System.Text.Json.csproj
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs
Labels: area-System.Text.Json

#38607 Remove StructLayoutAttribute from GdipImageCodecInfo
  src/System.Drawing.Common/src/System/Drawing/NativeStructs.Unix.cs
Labels: area-System.Drawing

#38524 Providing support for duplicate keys in dictionary
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
  src/System.Text.Json/tests/Serialization/ExceptionTests.cs
Labels: area-System.Text.Json

#38417 Add nullable annotations to System.Runtime.Loader ref
  src/System.Runtime.Loader/ref/System.Runtime.Loader.cs
  src/System.Runtime.Loader/ref/System.Runtime.Loader.csproj
Labels: auto-merge

#38511 Add nullable annotations to System.Numerics.Vectors ref assembly
  src/System.Numerics.Vectors/ref/System.Numerics.Vectors.cs
  src/System.Numerics.Vectors/ref/System.Numerics.Vectors.csproj
  src/System.Numerics.Vectors/src/System/Numerics/Vector2.cs
  src/System.Numerics.Vectors/src/System/Numerics/Vector3.cs
  src/System.Numerics.Vectors/src/System/Numerics/Vector4.cs
Labels: auto-merge

#38619 Adapt existing HttpClientMiniStress tests to support HTTP/2
  src/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/Common/tests/System/Net/Http/LoopbackServer.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTestBase.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientMiniStressTest.cs
  src/System.Net.Http/tests/FunctionalTests/PlatformHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Labels: area-System.Net.Http.SocketsHttpHandler

#38299 Add nullable annotations to System.Memory ref assembly
  src/System.Memory/ref/System.Memory.cs
  src/System.Memory/ref/System.Memory.csproj
  src/System.Memory/src/System/Runtime/InteropServices/SequenceMarshal.cs
Labels: auto-merge

#38189 Add nullable annotations to System.Collections.Concurrent ref assembly
  src/System.Collections.Concurrent/ref/System.Collections.Concurrent.cs
  src/System.Collections.Concurrent/ref/System.Collections.Concurrent.csproj
Labels: auto-merge

#37661 writing to too small buffer should throw an exception
  src/System.Memory/src/System/Buffers/BuffersExtensions.cs
  src/System.Memory/src/System/ThrowHelper.cs
  src/System.Memory/tests/BuffersExtensions/BuffersExtensionsTests.cs
Labels: area-System.Memory

#38665 Add debugging info for sporadic Dns.GetHostEntry("") CI failures
  src/System.Net.NameResolution/tests/FunctionalTests/GetHostEntryTest.cs
  src/System.Net.NameResolution/tests/FunctionalTests/TestSettings.cs
Labels: area-System.Net, test enhancement

#37395 Shrink System.Diagnostics.Activity by 40 bytes
  src/System.Diagnostics.DiagnosticSource/ref/System.Diagnostics.DiagnosticSourceActivity.cs
  src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.Current.net46.cs
  src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs
  src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticListener.cs
Labels: area-System.Diagnostics.Tracing

#37987 Add nullable annotations to System.Runtime.InteropServices ref assembly
  src/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.csproj
Labels: auto-merge

#38003 Add nullable annotations to System.Runtime.InteropServices.WindowsRuntime ref
  src/System.Runtime.InteropServices.WindowsRuntime/ref/System.Runtime.InteropServices.WindowsRuntime.cs
  src/System.Runtime.InteropServices.WindowsRuntime/ref/System.Runtime.InteropServices.WindowsRuntime.csproj
Labels: auto-merge

#38623 Add HTTP2 receive window size enforcement test.
  src/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http.SocketsHttpHandler, test enhancement

#38694 Fix http2 tests (SettingsFrame does not propagate flags)
  src/Common/tests/System/Net/Http/Http2Frames.cs
Labels: area-System.Net.Http, test enhancement

#38697 Manual darc update from build '20190619.8'
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/PSScriptAnalyzerSettings.psd1
  eng/common/internal-feed-operations.ps1
  eng/common/internal-feed-operations.sh
  eng/common/templates/job/execute-sdl.yml
  eng/common/templates/post-build/setup-maestro-vars.yml
  global.json
Labels: area-Infrastructure

#38561 Add test support for multiple connections in Http2
  src/Common/tests/System/Net/Http/Http2Frames.cs
  src/Common/tests/System/Net/Http/Http2LoopbackConnection.cs
  src/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/System.Net.Http/tests/FunctionalTests/HPackTest.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Labels: area-System.Net.Http, test enhancement

#38700 Add back KeyValuePair functionality
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Serialization/ClassType.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonKeyValuePairConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterKeyValuePair.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullableContravariant.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandlePropertyName.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleEnumerable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Utf8JsonWriter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStackFrame.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.GenericCollections.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.GenericCollections.cs
Labels: area-System.Text.Json

#38693 Add additional deserialization array tests
  src/System.Text.Json/tests/Serialization/Array.ReadTests.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
Labels: area-System.Text.Json, auto-merge

#38288 Add nullable annotations to System.Diagnostics.Contracts ref assembly
  src/System.Diagnostics.Contracts/ref/System.Diagnostics.Contracts.cs
  src/System.Diagnostics.Contracts/ref/System.Diagnostics.Contracts.csproj
Labels: auto-merge

#38427 Add nullable annotations to System.Diagnostics.Debug ref
  src/System.Diagnostics.Debug/ref/System.Diagnostics.Debug.cs
  src/System.Diagnostics.Debug/ref/System.Diagnostics.Debug.csproj
Labels: auto-merge

#38660 Adding New Idictionary tests and fixing test name and input for type Mismatch
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
  src/System.Text.Json/tests/Serialization/ExceptionTests.cs
Labels: area-System.Text.Json

#38432 Add nullable annotations to System.Diagnostics.Tools ref
  src/System.Diagnostics.Tools/ref/System.Diagnostics.Tools.cs
  src/System.Diagnostics.Tools/ref/System.Diagnostics.Tools.csproj
Labels: auto-merge

#38654 Fix ipv6 address parsing with leading compressor
  src/Common/src/System/Net/IPv6AddressHelper.Common.cs
  src/System.Net.Primitives/tests/FunctionalTests/IPAddressParsing.cs
  src/System.Private.Uri/tests/FunctionalTests/UriIpHostTest.cs
Labels: area-System.Net

#38706 Enforce JsonSerializerOptions.MaxDepth on write
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/System.Text.Json/tests/Serialization/CyclicTests.cs
Labels: area-System.Text.Json

#37486 Socket: Linux: unblock synchronous socket operations on Dispose
  src/Common/src/Interop/Unix/System.Native/Interop.Disconnect.cs
  src/Common/src/Interop/Unix/System.Native/Interop.Fcntl.cs
  src/Common/src/Interop/Windows/WinSock/Interop.WSAConnect.cs
  src/Common/src/Interop/Windows/WinSock/Interop.WSAIoctl.cs
  src/Common/src/Interop/Windows/WinSock/Interop.WSARecv.cs
  src/Common/src/Interop/Windows/WinSock/Interop.WSASend.cs
  src/Common/src/Interop/Windows/WinSock/Interop.accept.cs
  src/Common/src/Interop/Windows/WinSock/Interop.recv.cs
  src/Common/src/Interop/Windows/WinSock/Interop.recvfrom.cs
  src/Common/src/Interop/Windows/WinSock/Interop.send.cs
  src/Common/src/Interop/Windows/WinSock/Interop.sendto.cs
  src/Native/Unix/Common/pal_config.h.in
  src/Native/Unix/System.Native/pal_io.c
  src/Native/Unix/System.Native/pal_io.h
  src/Native/Unix/System.Native/pal_networking.c
  src/Native/Unix/System.Native/pal_networking.h
  src/Native/Unix/configure.cmake
  src/System.Data.OleDb/src/DBBindings.cs
  src/System.IO.MemoryMappedFiles/src/System.IO.MemoryMappedFiles.csproj
  src/System.IO.Pipes/src/System.IO.Pipes.csproj
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/NetworkAddressChange.Windows.cs
  src/System.Net.Sockets/src/System.Net.Sockets.csproj
  src/System.Net.Sockets/src/System/Net/Sockets/AcceptOverlappedAsyncResult.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/DynamicWinsockMethods.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.Unix.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.cs
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.Unix.cs
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncContext.Unix.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Windows.cs
  src/System.Net.Sockets/tests/FunctionalTests/Accept.cs
  src/System.Net.Sockets/tests/FunctionalTests/Connect.cs
  src/System.Net.Sockets/tests/FunctionalTests/SendFile.cs
  src/System.Net.Sockets/tests/FunctionalTests/SendReceive.cs
  src/System.Net.Sockets/tests/FunctionalTests/SocketTestHelper.cs
Labels: area-System.Net.Sockets, os-linux

#38705 Supporting duplicate properties using hashsets
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
Labels: area-System.Text.Json

#38531 [Tests]: JsonSerializer.ToString serialization tests containing Enum
  src/System.Text.Json/tests/Serialization/EnumTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClass.cs
  src/System.Text.Json/tests/Serialization/TestClasses.cs
Labels: area-System.Text.Json

#38728 Increase sample size of random number generation
  src/System.Security.Cryptography.Algorithms/tests/RandomNumberGeneratorTests.netcoreapp.cs
Labels: auto-merge

#38702 String enum converter
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/EnumConverterOptions.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonConverterEnum.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterEnum.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonDefaultNamingPolicy.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonNamingPolicy.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonStringEnumConverter.cs
  src/System.Text.Json/tests/Serialization/EnumConverterTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#38566 Adding unit test to cover NullReferenceException when passing null to a collection
  src/System.Text.Json/tests/Serialization/Stream.ReadTests.cs
Labels: area-System.Text.Json, auto-merge

#38655 Add support for Uri to JsonSerializer
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterUri.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClass.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClassWithObjectArrays.cs
  src/System.Text.Json/tests/Serialization/Value.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Value.WriteTests.cs
Labels: area-System.Text.Json

#38740 Fix factory converters used as attributes
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonStringEnumConverter.cs
  src/System.Text.Json/tests/Serialization/EnumConverterTests.cs
Labels: area-System.Text.Json, auto-merge

#38742 Fix failing PostAsyncExpect100Continue_LateForbiddenResponse_Ok
  src/Common/tests/System/Net/Http/Http2LoopbackConnection.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http, test bug

#38515 Regenerate ref assembly and add nullable annotations for System.Reflection.Emit.Lightweight
  src/System.Reflection.Emit.Lightweight/ref/System.Reflection.Emit.Lightweight.cs
  src/System.Reflection.Emit.Lightweight/ref/System.Reflection.Emit.Lightweight.csproj
  src/System.Reflection.Emit.Lightweight/ref/System.Reflection.Emit.Lightweight.netcore.cs
Labels: * NO MERGE *

#38428 Add nullable annotations to System.Diagnostics.StackTrace ref
  src/System.Diagnostics.StackTrace/ref/System.Diagnostics.StackTrace.cs
  src/System.Diagnostics.StackTrace/ref/System.Diagnostics.StackTrace.csproj
Labels: auto-merge

#38517 Regenerate ref assembly against implementation and add nullable annotations for System.Reflection.Primitives
  src/System.Reflection.Primitives/ref/System.Reflection.Primitives.cs
  src/System.Reflection.Primitives/ref/System.Reflection.Primitives.csproj
Labels: auto-merge

#38741 Additional custom converter support for System.Object
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleNull.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.BadConverters.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.Object.cs
  src/System.Text.Json/tests/Serialization/Object.ReadTests.cs
  src/System.Text.Json/tests/Serialization/PolymorphicTests.cs
Labels: area-System.Text.Json

#38403 Improve code coverage: Struct, value type test
  src/System.Text.Json/tests/Serialization/Array.ReadTests.cs
  src/System.Text.Json/tests/Serialization/Object.ReadTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClass.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClassWithSimpleObject.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestStruct.cs
  src/System.Text.Json/tests/Serialization/TestClasses.cs
Labels: area-System.Text.Json, test enhancement

#38527 Fix nested objects in object arrays
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs
  src/System.Text.Json/tests/Serialization/Object.ReadTests.cs
Labels: area-System.Text.Json

#38764 Revert "Socket: Linux: unblock synchronous socket operations on Dispose"
  src/Common/src/Interop/Unix/System.Native/Interop.Fcntl.SetFD.cs
  src/Common/src/Interop/Unix/System.Native/Interop.Fcntl.cs
  src/Common/src/Interop/Windows/WinSock/Interop.WSAConnect.cs
  src/Common/src/Interop/Windows/WinSock/Interop.WSAIoctl.cs
  src/Common/src/Interop/Windows/WinSock/Interop.WSARecv.cs
  src/Common/src/Interop/Windows/WinSock/Interop.WSASend.cs
  src/Common/src/Interop/Windows/WinSock/Interop.accept.cs
  src/Common/src/Interop/Windows/WinSock/Interop.recv.cs
  src/Common/src/Interop/Windows/WinSock/Interop.recvfrom.cs
  src/Common/src/Interop/Windows/WinSock/Interop.send.cs
  src/Common/src/Interop/Windows/WinSock/Interop.sendto.cs
  src/Native/Unix/Common/pal_config.h.in
  src/Native/Unix/System.Native/pal_io.c
  src/Native/Unix/System.Native/pal_io.h
  src/Native/Unix/System.Native/pal_networking.c
  src/Native/Unix/System.Native/pal_networking.h
  src/Native/Unix/configure.cmake
  src/System.Data.OleDb/src/DbBindings.cs
  src/System.IO.MemoryMappedFiles/src/System.IO.MemoryMappedFiles.csproj
  src/System.IO.Pipes/src/System.IO.Pipes.csproj
  src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/NetworkAddressChange.Windows.cs
  src/System.Net.Sockets/src/System.Net.Sockets.csproj
  src/System.Net.Sockets/src/System/Net/Sockets/AcceptOverlappedAsyncResult.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/DynamicWinsockMethods.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.Unix.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.cs
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.Unix.cs
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncContext.Unix.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Windows.cs
  src/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Windows.cs
  src/System.Net.Sockets/tests/FunctionalTests/Accept.cs
  src/System.Net.Sockets/tests/FunctionalTests/Connect.cs
  src/System.Net.Sockets/tests/FunctionalTests/SendFile.cs
  src/System.Net.Sockets/tests/FunctionalTests/SendReceive.cs
  src/System.Net.Sockets/tests/FunctionalTests/SocketTestHelper.cs
Labels: area-System.Net.Sockets, os-linux

#38356 Add UTF-8 support to TextEncoder
  src/System.Text.Encodings.Web/src/Common/TextEncoderExtensions.cs
  src/System.Text.Encodings.Web/src/Properties/InternalsVisibleTo.cs
  src/System.Text.Encodings.Web/src/System.Text.Encodings.Web.csproj
  src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/TextEncoder.cs
  src/System.Text.Encodings.Web/src/System/Text/Unicode/UnicodeHelpers.cs
  src/System.Text.Encodings.Web/tests/CommonTestEncoder.cs
  src/System.Text.Encodings.Web/tests/ConfigurableScalarTextEncoder.cs
  src/System.Text.Encodings.Web/tests/System.Text.Encodings.Web.Tests.csproj
  src/System.Text.Encodings.Web/tests/TextEncoderTests.cs
Labels: area-System.Text.Encodings.Web

#38690 Fix multiple remarks in System.Text.Json Xml docs
  src/System.Text.Json/src/System/Text/Json/JsonEncodedText.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Utf8JsonReader.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTime.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTimeOffset.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Decimal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Double.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Float.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.FormattedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Guid.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.SignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.UnsignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs
Labels: area-System.Text.Json, documentation

#38743 Fix helper thread stack size for Alpine
  src/Native/Unix/System.Native/pal_signal.c
Labels: area-Meta

#38789 Fix SslStream client auth with intermediate certificates on Linux
  src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Ssl.cs
Labels: area-System.Net.Security

#38226 follow up on duplex operation for HTTP/2
  src/Common/tests/System/Net/Http/GenericLoopbackServer.cs
  src/Common/tests/System/Net/Http/Http2LoopbackConnection.cs
  src/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/Common/tests/System/Net/Http/LoopbackServer.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionBase.cs
  src/System.Net.Http/tests/FunctionalTests/CustomContent.cs
  src/System.Net.Http/tests/FunctionalTests/CustomContent.netcore.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cancellation.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#38800 Remove redundant tests and cleanup file
  src/System.Text.Json/tests/Serialization/EnumTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClass.cs
Labels: area-System.Text.Json

#38736 HTTP2: Fix InboundWindowSize_Exceeded_Throw failure under load
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http.SocketsHttpHandler, test bug

#38691 Updating System.Text.Json package description
  pkg/descriptions.json
Labels: area-System.Text.Json

#38518 Add nullable annotations to System.Resources.ResourceManager ref assembly
  src/System.Resources.ResourceManager/ref/System.Resources.ResourceManager.cs
  src/System.Resources.ResourceManager/ref/System.Resources.ResourceManager.csproj
Labels: auto-merge

#38817 Minor follow-ups/cleanups in Http2Connection and Http2Stream
  src/Common/tests/System/Net/Http/Http2LoopbackConnection.cs
  src/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/Common/tests/System/Net/Http/LoopbackServer.cs
  src/Common/tests/System/Net/RemoteServerQuery.cs
  src/System.Net.Http/src/System/Net/Http/HttpClient.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionBase.cs
Labels: area-System.Net.Http.SocketsHttpHandler

#38514 Add nullable annotations to System.Reflection.Emit.ILGeneration
  src/System.Reflection.Emit.ILGeneration/ref/System.Reflection.Emit.ILGeneration.cs
  src/System.Reflection.Emit.ILGeneration/ref/System.Reflection.Emit.ILGeneration.csproj
  src/System.Reflection.Emit.ILGeneration/ref/System.Reflection.Emit.ILGeneration.netcore.cs
Labels: auto-merge

#38829 Revert "Tweak preferLocal value in System.Net.Sockets"
  src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncContext.Unix.cs
Labels: area-System.Net.Sockets

#38831 Tweak diagnostics for Dns_GetHostEntry_HostString_Ok failures in CI
  src/System.Net.NameResolution/tests/FunctionalTests/GetHostEntryTest.cs
Labels: area-System.Net

#38470 Handle Byte Order Mark in Utf8JsonReader.Read
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Stream.cs
  src/System.Text.Json/tests/Serialization/Stream.ReadTests.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.MultiSegment.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json

#38513 Regenerate ref against implementation and add nullable annotations for System.Reflection.Emit
  src/System.Reflection.Emit/ref/System.Reflection.Emit.cs
  src/System.Reflection.Emit/ref/System.Reflection.Emit.csproj
  src/System.Reflection.Emit/ref/System.Reflection.Emit.netcore.cs
Labels: auto-merge

#38854 Eat SocketException during Http2LoopbackConnection.ShutdownIgnoringErrorsAsync
  src/Common/tests/System/Net/Http/Http2LoopbackConnection.cs
Labels: area-System.Net.Http, test bug

#38867 Update docker images on linux
  eng/pipelines/linux.yml
Labels: area-Infrastructure

#38233 Added reflection emit member accessor
  src/System.Text.Json/src/System.Text.Json.csproj
  src/System.Text.Json/src/System/Text/Json/Serialization/ClassMaterializer.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultImmutableDictionaryConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/DefaultImmutableEnumerableConverter.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/MemberAccessor.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReflectionEmitMaterializer.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReflectionEmitMemberAccessor.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReflectionMaterializer.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReflectionMemberAccessor.cs
Labels: area-System.Text.Json

#38696 Adding tests covering the scenario listed in #38643
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
Labels: area-System.Text.Json

#38865 Use SpanTestHelpers from Common within StringTests rather than TestHelpers which doesn't exist
  src/Common/tests/Tests/System/SpanTestHelpers.cs
  src/Common/tests/Tests/System/StringTests.cs
  src/System.Memory/tests/Binary/BinaryReaderUnitTests.cs
  src/System.Memory/tests/Binary/BinaryWriterUnitTests.cs
  src/System.Memory/tests/Memory/Span.cs
  src/System.Memory/tests/Memory/ToString.cs
  src/System.Memory/tests/MemoryMarshal/AsBytesReadOnlySpan.cs
  src/System.Memory/tests/MemoryMarshal/AsBytesSpan.cs
  src/System.Memory/tests/MemoryMarshal/AsReadOnlyRef.cs
  src/System.Memory/tests/MemoryMarshal/AsRef.cs
  src/System.Memory/tests/MemoryMarshal/CastReadOnlySpan.cs
  src/System.Memory/tests/MemoryMarshal/CastSpan.cs
  src/System.Memory/tests/MemoryMarshal/CreateReadOnlySpan.cs
  src/System.Memory/tests/MemoryMarshal/CreateSpan.cs
  src/System.Memory/tests/MemoryMarshal/GetReference.cs
  src/System.Memory/tests/ReadOnlyMemory/CtorArray.cs
  src/System.Memory/tests/ReadOnlyMemory/Span.cs
  src/System.Memory/tests/ReadOnlyMemory/Strings.cs
  src/System.Memory/tests/ReadOnlyMemory/ToString.cs
  src/System.Memory/tests/ReadOnlySpan/AsSpan.cs
  src/System.Memory/tests/ReadOnlySpan/CopyTo.cs
  src/System.Memory/tests/ReadOnlySpan/CtorArray.cs
  src/System.Memory/tests/ReadOnlySpan/CtorPointerInt.cs
  src/System.Memory/tests/ReadOnlySpan/Equals.cs
  src/System.Memory/tests/ReadOnlySpan/IndexOf.T.cs
  src/System.Memory/tests/ReadOnlySpan/IndexOfSequence.T.cs
  src/System.Memory/tests/ReadOnlySpan/LastIndexOf.T.cs
  src/System.Memory/tests/ReadOnlySpan/LastIndexOfSequence.T.cs
  src/System.Memory/tests/ReadOnlySpan/ToString.cs
  src/System.Memory/tests/ReadOnlySpan/ToUpperLower.cs
  src/System.Memory/tests/Span/Clear.cs
  src/System.Memory/tests/Span/CopyTo.cs
  src/System.Memory/tests/Span/CtorPointerInt.cs
  src/System.Memory/tests/Span/Fill.cs
  src/System.Memory/tests/Span/IndexOf.T.cs
  src/System.Memory/tests/Span/IndexOfSequence.T.cs
  src/System.Memory/tests/Span/LastIndexOf.T.cs
  src/System.Memory/tests/Span/LastIndexOfSequence.T.cs
  src/System.Memory/tests/Span/Reverse.cs
  src/System.Memory/tests/Span/ToString.cs
  src/System.Memory/tests/System.Memory.Tests.csproj
  src/System.Memory/tests/TestHelpers.cs
  src/System.Runtime/tests/System.Runtime.Tests.csproj
Labels: area-System.Memory

#38469 CoreFx #36125 (Try)Get for byte sbyte short ushort
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/tests/JsonDocumentTests.cs
  src/System.Text.Json/tests/JsonNumberTestData.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClassWithObjectArrays.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClassWithSimpleObject.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.TryGet.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json

#38890 Update to final preview6 CLI
  global.json
Labels: auto-merge

#38704 Fixing up HandleNull in JsonSerializer.Read to reset the property for dictionaries.
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleNull.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
Labels: area-System.Text.Json

#38892 Fix infinite loop in JsonSerializer.WriteValue
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.cs
  src/System.Text.Json/tests/Serialization/WriteValueTests.cs
  src/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#38870 Normalize generate ref source paths correctly
  Directory.Build.targets
  eng/ReferenceAssemblies.props
Labels: area-Infrastructure

#38622 Add better validation for JsonCommentHandling enum and re-order the values.
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/System.Text.Json/src/System/Text/Json/JsonCommentHandling.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderOptions.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/tests/JsonReaderStateAndOptionsTests.cs
  src/System.Text.Json/tests/Serialization/OptionsTests.cs
Labels: area-System.Text.Json, auto-merge

#38864 Add WritePropertyName standlone API on the Utf8JsonWriter.
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/Resources/Strings.resx
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Bytes.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTime.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTimeOffset.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Decimal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Double.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Float.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Guid.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Literal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.SignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.String.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.UnsignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Bytes.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Comment.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.DateTime.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.DateTimeOffset.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Decimal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Double.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Float.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.FormattedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Guid.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Helpers.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Literal.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.SignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.String.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.UnsignedNumber.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json, auto-merge

#38430 Checking if the eventlog registry key is actually an eventlog
  src/System.Diagnostics.EventLog/src/System/Diagnostics/EventLog.cs
  src/System.Diagnostics.EventLog/tests/EventLogTests/EventLogTests.cs
Labels: auto-merge

#38560 Implement MaxResponseHeadersLength for HTTP2
  src/Common/tests/System/Net/Http/GenericLoopbackServer.cs
  src/Common/tests/System/Net/Http/Http2LoopbackConnection.cs
  src/Common/tests/System/Net/Http/HuffmanEncoder.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HPackDecoder.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/System.Net.Http/tests/UnitTests/HPack/HPackDecoderTest.cs
  src/System.Net.Http/tests/UnitTests/HPack/HuffmanDecodingTests.cs
  src/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
Labels: area-System.Net.Http.SocketsHttpHandler

#38905 CoreFx #38894: Use (s)byte and (u)int16 get apis
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterByte.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterInt16.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterSByte.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterUInt16.cs
Labels: area-System.Text.Json

#38909 Enable fixed tests, formatting update
  src/System.Text.Json/tests/Serialization/Object.ReadTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.SimpleTestClass.cs
Labels: area-System.Text.Json

#38902 Serializer performance improvements on property name lookup
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.AddProperty.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullableContravariant.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandlePropertyName.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleEnumerable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleObject.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/WriteStackFrame.cs
  src/System.Text.Json/tests/Serialization/CustomConverterTests.Object.cs
Labels: area-System.Text.Json

#38921 Add more Utf8JsonWriter.WritePropertyName test cases.
  src/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json, auto-merge, test enhancement

#38869 Add JsonElement.WriteProperty that takes JsonEncodedText.
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs
  src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.FormattedNumber.cs
  src/System.Text.Json/tests/JsonDocumentTests.cs
  src/System.Text.Json/tests/JsonElementWriteTests.cs
Labels: area-System.Text.Json, auto-merge

#38928 Remove BytesConsumed and Position from JsonReaderState.
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderState.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.MultiSegment.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Span.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.String.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Utf8JsonReader.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.cs
  src/System.Text.Json/tests/JsonReaderStateAndOptionsTests.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.MultiSegment.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.TryGet.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json, auto-merge

#38934 Fix typo while merging conflicting PRs (s_readerOptions was renamed to s_options)
  src/System.Text.Json/tests/JsonElementWriteTests.cs
Labels: area-System.Text.Json, auto-merge

#38910 Add HPACK integer validation to prevent wrapping and overlong encodings.
  src/System.Net.Http/src/Resources/Strings.resx
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/IntegerDecoder.cs
  src/System.Net.Http/tests/UnitTests/HPack/HPackIntegerTest.cs
Labels: area-System.Net.Http.SocketsHttpHandler, bug

#38868 Add simpler Utf8JsonReader ctors that dont require JsonReaderState or IsFinalBlock.
  src/System.Text.Json/ref/System.Text.Json.cs
  src/System.Text.Json/src/System/Text/Json/Reader/JsonReaderState.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.MultiSegment.cs
  src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.MultiSegment.cs
  src/System.Text.Json/tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json, auto-merge
