Repository dotnet/corefx, pull requests merged in 2020-01, with the labels that each got.

#42768 [release/3.1] Make PathAssemblyResolver handle Retargetable
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  pkg/test/frameworkSettings/netcoreapp3.1/settings.targets
  src/System.Reflection.MetadataLoadContext/Directory.Build.props
  src/System.Reflection.MetadataLoadContext/src/System/Reflection/MetadataLoadContext.Loading.cs
  src/System.Reflection.MetadataLoadContext/src/System/Reflection/PathAssemblyResolver.cs
  src/System.Reflection.MetadataLoadContext/src/System/Reflection/TypeLoading/General/Ecma/EcmaHelpers.cs
  src/System.Reflection.MetadataLoadContext/src/System/Reflection/TypeLoading/General/Helpers.cs
  src/System.Reflection.MetadataLoadContext/src/System/Reflection/TypeLoading/General/RoAssemblyName.cs
  src/System.Reflection.MetadataLoadContext/tests/src/TestUtils/TestData.cs
  src/System.Reflection.MetadataLoadContext/tests/src/Tests/MetadataLoadContext/PathAssemblyResolver.cs
  src/packages.builds
Labels: Servicing-approved, area-System.Reflection

#42772 Fix 3.0->3.1 regression in JSON serializing nested concurrent dictionaries
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullableContravariant.cs
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleArray.cs
  src/System.Text.Json/tests/Serialization/DictionaryTests.cs
  src/System.Text.Json/tests/Serialization/TestClasses.GenericCollections.cs
Labels: Servicing-approved, area-System.Text.Json

#42614 [release/3.1] Fix Connection Resiliency in SqlClient
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlConnection.cs
Labels: Servicing-approved, area-System.Data.SqlClient

#42617 [release/3.1] Fix driver behavior of sending Attention signal for successful Bulk Copy operation
  src/System.Data.SqlClient/src/System/Data/SqlClient/SqlBulkCopy.cs
  src/System.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/CopyAllFromReader.cs
Labels: Servicing-approved, area-System.Data.SqlClient

#42776 [release/3.1] Revert async changes in SqlClient to fix deadlock issues
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIPacket.NetCoreApp.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIPacket.NetStandard.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIPacket.cs
Labels: Servicing-approved, area-System.Data.SqlClient

#42800 3.1: make sure we have big enough buffer to prevent endless spin while dumping route table on OSX
  src/Native/Unix/System.Native/pal_interfaceaddresses.c
Labels: Servicing-approved, area-System.Net, os-mac-os-x

#42818 update branding to 3.0.3
  eng/Versions.props
  src/packages.builds
Labels: area-Infrastructure

#42821 update branding of 2.1.15
  external/harvestPackages/harvestPackages.props
  pkg/Microsoft.NETCore.Platforms/Microsoft.NETCore.Platforms.pkgproj
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/packages.builds
Labels: area-Infrastructure

#42489 [release/2.1] Remove throw in exception handling of dispose
  src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIMarsHandle.cs
Labels: Servicing-approved, area-System.Data.SqlClient

#42823 updating assembly versions, packageversions and publishing the packages
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  pkg/Microsoft.Windows.Compatibility/Microsoft.Windows.Compatibility.pkgproj
  src/System.Data.SqlClient/Directory.Build.props
  src/System.Text.Json/Directory.Build.props
  src/packages.builds
Labels: area-Infrastructure

#42824 updating assembly version and package version for system.data.sqlclient
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/System.Data.SqlClient/dir.props
  src/System.Data.SqlClient/pkg/System.Data.SqlClient.pkgproj
  src/packages.builds
Labels: Servicing-approved, area-System.Data.SqlClient

#42801 [release/3.1] Always build the OpenSSL shim in portable mode on macOS.
  src/Native/Unix/System.Security.Cryptography.Native/CMakeLists.txt
  src/Native/Unix/System.Security.Cryptography.Native/openssl.c
  src/Native/Unix/System.Security.Cryptography.Native/opensslshim.c
Labels: Servicing-approved, area-System.Security

#42810 [release/3.0] Always build the OpenSSL shim in portable mode on macOS.
  src/Native/Unix/System.Security.Cryptography.Native/CMakeLists.txt
  src/Native/Unix/System.Security.Cryptography.Native/openssl.c
  src/Native/Unix/System.Security.Cryptography.Native/opensslshim.c
Labels: api-approved, area-System.Security

#42809 [release/2.1] Always build the OpenSSL shim in portable mode on macOS.
  src/Native/Unix/System.Security.Cryptography.Native/CMakeLists.txt
  src/Native/Unix/System.Security.Cryptography.Native/openssl.cpp
  src/Native/Unix/System.Security.Cryptography.Native/opensslshim.cpp
Labels: Servicing-approved, area-System.Security

#42843 Add issue template directing new issues to dotnet/runtime
  ISSUE_TEMPLATE.md
Labels: area-Meta

#42847 Fix readme.md link in contributing.md
  CONTRIBUTING.md
Labels: area-Meta
