Repository dotnet/corefx, pull requests merged in 2020-11, with the labels that each got.

#43003 Open pdb files with FileShare.Read and FileShare.Delete
  src/System.Diagnostics.StackTrace/src/System/Diagnostics/StackTraceSymbols.CoreCLR.cs
  src/System.Diagnostics.StackTrace/tests/StackTraceSymbolsTests.cs
  src/System.Diagnostics.StackTrace/tests/System.Diagnostics.StackTrace.Tests.csproj
Labels: Servicing-approved, area-System.Diagnostics

#43005 update branding to 3.1.11
  eng/Versions.props
  src/packages.builds
Labels: * NO MERGE *

#43004 Fixing HashCode Seed Initialization on BCL package
  src/Microsoft.Bcl.HashCode/Directory.Build.props
  src/Microsoft.Bcl.HashCode/src/Interop.GetRandomBytes.cs
  src/Microsoft.Bcl.HashCode/src/LocalAppContextSwitches.cs
  src/Microsoft.Bcl.HashCode/src/Microsoft.Bcl.HashCode.csproj
  src/Microsoft.Bcl.HashCode/tests/Configurations.props
  src/Microsoft.Bcl.HashCode/tests/HashCodeSeedInitializerTests.cs
  src/Microsoft.Bcl.HashCode/tests/Microsoft.Bcl.HashCode.Tests.csproj
  src/packages.builds
Labels: Servicing-approved

#43002 [Backport] Throw when reader is completed with an exception
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/System.IO.Pipelines/Directory.Build.props
  src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs
  src/System.IO.Pipelines/tests/PipeReaderWriterFacts.cs
  src/packages.builds
Labels: Servicing-approved, area-System.IO.Pipelines

#43007 Move some unit tests to outerloop to get clean CI
  src/System.Text.RegularExpressions/tests/Regex.Match.Tests.cs
Labels: area-System.Text.RegularExpressions
