Repository dotnet/corefx, pull requests merged in 2020-09, with the labels that each got.

#42980 update branding to 2.1.23
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/packages.builds
Labels: area-Infrastructure

#42979 update branding to 3.1.9
  eng/Versions.props
  src/packages.builds
Labels: area-Infrastructure

#42976 Adding dotnet3.1/dotnet-eng packages sources
  NuGet.config
Labels: area-Infrastructure

#42975 [release/3.1] Add Fedora 34 RID
  pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  pkg/Microsoft.NETCore.Platforms/runtime.json
  pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
Labels: * NO MERGE *, area-Infrastructure

#42978 SocketsHttpHandler: Add a switch to allow non-ascii headers
  src/Common/tests/System/Net/Http/GenericLoopbackServer.cs
  src/Common/tests/System/Net/Http/Http2LoopbackConnection.cs
  src/Common/tests/System/Net/Http/LoopbackServer.cs
  src/System.Net.Http/src/System.Net.Http.csproj
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HPackEncoder.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/StaticHttpSettings.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Headers.cs
  src/System.Net.Http/tests/FunctionalTests/MultipartContentTest.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
Labels: Servicing-approved, area-System.Net.Http

#42985 [release/3.1] release `existingTrust` to avoid native memory leak in ssl handshake on macOS
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_ssl.c
Labels: Servicing-approved, area-System.Net.Security, os-mac-os-x

#42982 [Backport][Pipelines] Noop Writes when Reader completed
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/System.IO.Pipelines/dir.props
  src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs
  src/System.IO.Pipelines/tests/Infrastructure/DisposeTrackingBufferPool.cs
  src/System.IO.Pipelines/tests/PipePoolTests.cs
  src/System.IO.Pipelines/tests/PipeWriterTests.cs
  src/System.IO.Pipelines/tests/System.IO.Pipelines.Tests.csproj
  src/packages.builds
Labels: Servicing-consider, area-System.IO.Pipelines

#42981 [Backport][Pipelines] Noop Writes when Reader completed
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/System.IO.Pipelines/Directory.Build.props
  src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs
  src/System.IO.Pipelines/tests/PipeWriterTests.cs
  src/packages.builds
Labels: Servicing-consider, area-System.IO.Pipelines

#42989 [release/3.1] Fix Windows AccessViolationException in FileSystemWatcher when monitoring network share for changes
  src/Common/src/Interop/Windows/Kernel32/Interop.ReadDirectoryChangesW.cs
  src/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.Win32.cs
Labels: Servicing-approved, area-System.IO

#42991 Fixes build-tools
  BuildToolsVersion.txt
  init-tools.cmd
  init-tools.sh
Labels: area-Infrastructure

#42988 [release/3.1] [corefx] Fix FileStream.Dispose silently fails on Dispose when disk has run out of space
  src/System.IO.FileSystem/System.IO.FileSystem.sln
  src/System.IO.FileSystem/tests/ManualTests/ManualTests.cs
  src/System.IO.FileSystem/tests/ManualTests/System.IO.FileSystem.Manual.Tests.csproj
Labels: Servicing-approved, area-System.IO

#42995 [release/2.1] Update macOS build instructions
  Documentation/building/unix-instructions.md
Labels: area-Infrastructure
