Repository dotnet/corefx, pull requests merged in 2020-10, with the labels that each got.

#42997 update branding to 2.1.24
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/packages.builds
Labels: * NO MERGE *

#42996 update branding to 3.1.10
  eng/Versions.props
  src/packages.builds
Labels: * NO MERGE *

#42994 [release/3.1] Ensure Image.Save can handle non readable / seekable Streams
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/System.Drawing.Common/Directory.Build.props
  src/System.Drawing.Common/src/System/Drawing/GdiPlusStreamHelper.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Image.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Image.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Metafile.Unix.cs
  src/System.Drawing.Common/tests/BitmapTests.cs
  src/System.Drawing.Common/tests/IconTests.cs
  src/packages.builds
Labels: Servicing-approved, area-System.Drawing, bug

#42998 Disable SetDateTimeMax test on Linux
  src/System.IO.FileSystem/tests/File/GetSetTimes.cs
Labels: area-System.IO

#43000 [Test Only] Port failing test fix from runtime repo to 3.1 Release
  src/System.Runtime/tests/System/TimeZoneInfoTests.cs
Labels: area-System.Runtime
