Repository dotnet/corefx, pull requests merged in 2020-03, with the labels that each got.

#42883 Update branding for release/3.1-blazor
  eng/Versions.props
Labels: area-Infrastructure

#42887 branding for 2.1.18
  external/harvestPackages/harvestPackages.props
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/packages.builds
Labels: area-Infrastructure

#42886 update branding done for 3.1.4
  eng/Versions.props
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/packages.builds
Labels: area-Infrastructure

#42875 [release/3.1] Suppress the GrayListedLeaf error code on macOS X509Chain
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509chain.c
Labels: Servicing-approved, area-System.Security

#42870 [release/3.1] Remove local header compressed/uncompressed length validations
  eng/Versions.props
  src/System.IO.Compression/src/System/IO/Compression/ZipArchiveEntry.cs
  src/System.IO.Compression/src/System/IO/Compression/ZipBlocks.cs
  src/System.IO.Compression/tests/ZipArchive/zip_InvalidParametersAndStrangeFiles.cs
Labels: Servicing-approved, area-System.IO.Compression

#42869 [release/3.1] Do not null ref or throw index out of range exception when deserializing to char.
  src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterChar.cs
  src/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/System.Text.Json/tests/Serialization/Null.ReadTests.cs
Labels: Servicing-approved, area-System.Text.Json

#42867 [release/3.1] Make sure original Utf8JsonReader options are honored when re-creating the reader.
  src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Utf8JsonReader.cs
  src/System.Text.Json/tests/Serialization/ReadValueTests.cs
  src/System.Text.Json/tests/Serialization/WriteValueTests.cs
Labels: Servicing-approved, area-System.Text.Json

#42881 [release/3.1] Data loss - Don't delete private keys detected from SerializedCert imports
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/CertificatePal.Import.cs
  src/System.Security.Cryptography.X509Certificates/tests/CertTests.cs
  src/System.Security.Cryptography.X509Certificates/tests/CollectionTests.cs
Labels: Servicing-approved, area-System.Security

#42877 [release/3.1] Fix HTTP Digest authentication
  src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.Digest.cs
  src/System.Net.Http/tests/UnitTests/DigestAuthenticationTests.cs
Labels: Servicing-approved, area-System.Net.Http, tenet-compatibility

#42873 [release/3.1] Permit incorrectly DER sorted SET for decoding X500 names.
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/X500NameEncoder.ManagedDecode.cs
  src/System.Security.Cryptography.X509Certificates/tests/X500DistinguishedNameTests.cs
Labels: Servicing-approved, area-System.Security

#42878 Porting OleDb transaction API failure fix
  src/System.Data.OleDb/Directory.Build.props
  src/System.Data.OleDb/src/SafeHandles.cs
  src/System.Data.OleDb/src/UnsafeNativeMethods.cs
  src/System.Data.OleDb/tests/OleDbConnectionTests.cs
  src/packages.builds
Labels: Servicing-approved, area-System.Data

#42871 [release/3.1] Add Fedora 33 runtime ids
  eng/Packaging.props
  pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  pkg/Microsoft.NETCore.Platforms/runtime.json
  pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
  src/packages.builds
Labels: Servicing-approved, area-Infrastructure

#42889 Add new System.Net.Http.Json project/namespace
  pkg/Microsoft.Private.CoreFx.NETCoreApp/Microsoft.Private.CoreFx.NETCoreApp.pkgproj
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  pkg/descriptions.json
  src/System.Net.Http.Json/Directory.Build.props
  src/System.Net.Http.Json/System.Net.Http.Json.sln
  src/System.Net.Http.Json/pkg/System.Net.Http.Json.pkgproj
  src/System.Net.Http.Json/ref/Configurations.props
  src/System.Net.Http.Json/ref/System.Net.Http.Json.cs
  src/System.Net.Http.Json/ref/System.Net.Http.Json.csproj
  src/System.Net.Http.Json/src/Configurations.props
  src/System.Net.Http.Json/src/Resources/Strings.resx
  src/System.Net.Http.Json/src/System.Net.Http.Json.csproj
  src/System.Net.Http.Json/src/System/ArraySegmentExtensions.netstandard.cs
  src/System.Net.Http.Json/src/System/Net/Http/Json/HttpClientJsonExtensions.Get.cs
  src/System.Net.Http.Json/src/System/Net/Http/Json/HttpClientJsonExtensions.Post.cs
  src/System.Net.Http.Json/src/System/Net/Http/Json/HttpClientJsonExtensions.Put.cs
  src/System.Net.Http.Json/src/System/Net/Http/Json/HttpContentJsonExtensions.cs
  src/System.Net.Http.Json/src/System/Net/Http/Json/JsonContent.cs
  src/System.Net.Http.Json/src/System/Net/Http/Json/TranscodingReadStream.cs
  src/System.Net.Http.Json/src/System/Net/Http/Json/TranscodingWriteStream.cs
  src/System.Net.Http.Json/tests/FunctionalTests/Configurations.props
  src/System.Net.Http.Json/tests/FunctionalTests/HttpClientJsonExtensionsTests.cs
  src/System.Net.Http.Json/tests/FunctionalTests/HttpContentJsonExtensionsTests.cs
  src/System.Net.Http.Json/tests/FunctionalTests/JsonContentLoopbackTests.cs
  src/System.Net.Http.Json/tests/FunctionalTests/JsonContentTests.cs
  src/System.Net.Http.Json/tests/FunctionalTests/System.Net.Http.Json.Functional.Tests.csproj
  src/System.Net.Http.Json/tests/FunctionalTests/TestClasses.cs
  src/System.Net.Http.Json/tests/UnitTests/Configurations.props
  src/System.Net.Http.Json/tests/UnitTests/Resources/Strings.resx
  src/System.Net.Http.Json/tests/UnitTests/System.Net.Http.Json.Unit.Tests.csproj
  src/System.Net.Http.Json/tests/UnitTests/TranscodingReadStreamTests.cs
  src/System.Net.Http.Json/tests/UnitTests/TranscodingWriteStreamTests.cs
  src/packages.builds
Labels: area-System.Net

#42892 Publish only on all configurations and only publish Json package
  eng/pipelines/corefx-base.yml
  eng/pipelines/windows.yml
Labels: area-Infrastructure

#42848 Update test OS matrix for release/3.1
  .azure-ci.yml
  eng/pipelines/linux.yml
  eng/pipelines/windows.yml
  src/Common/tests/CoreFx.Private.TestUtilities/System/PlatformDetection.Windows.cs
  src/Common/tests/CoreFx.Private.TestUtilities/System/PlatformDetection.cs
  src/System.Data.Common/tests/System/Data/SqlTypes/SqlStringSortingTest.cs
  src/System.Globalization/tests/CompareInfo/CompareInfoTests.Compare.cs
  src/System.Globalization/tests/CompareInfo/CompareInfoTests.cs
  src/System.Net.NetworkInformation/tests/FunctionalTests/NetworkInterfaceBasicTest.cs
Labels: Servicing-approved, area-Infrastructure

#42872 [release/2.1] Add Fedora 33 runtime ids
  pkg/Microsoft.NETCore.Platforms/Microsoft.NETCore.Platforms.pkgproj
  pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  pkg/Microsoft.NETCore.Platforms/runtime.json
  pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
Labels: Servicing-approved, area-Infrastructure

#42876 [release/2.1] Suppress the GrayListedLeaf error code on macOS X509Chain
  src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509chain.cpp
Labels: Servicing-approved, area-System.Security

#42880 [release/2.1] Data loss - Don't delete private keys detected from SerializedCert imports
  src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/CertificatePal.Import.cs
  src/System.Security.Cryptography.X509Certificates/tests/CertTests.cs
  src/System.Security.Cryptography.X509Certificates/tests/CollectionTests.cs
Labels: Servicing-approved, area-System.Security

#42895 Bump branding to preview4 in 3.1-blazor branch
  eng/Versions.props
Labels: area-Infrastructure

#42890 rev up assembly and package versions and add package to package builds
  pkg/Microsoft.Private.CoreFx.NETCoreApp/Microsoft.Private.CoreFx.NETCoreApp.pkgproj
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/System.Text.Json/Directory.Build.props
  src/packages.builds
Labels: area-Infrastructure

#42894 Addressing feedback, Documenting TranscodingWriteStream.MaxbyteBuffer Size and Replacing MediaTypeHeaderValue.Parse with .ctor since it performs better
  src/System.Net.Http.Json/src/System/Net/Http/Json/HttpContentJsonExtensions.cs
  src/System.Net.Http.Json/src/System/Net/Http/Json/JsonContent.cs
  src/System.Net.Http.Json/src/System/Net/Http/Json/TranscodingReadStream.cs
  src/System.Net.Http.Json/src/System/Net/Http/Json/TranscodingWriteStream.cs
  src/System.Net.Http.Json/tests/FunctionalTests/HttpClientJsonExtensionsTests.cs
  src/System.Net.Http.Json/tests/FunctionalTests/HttpContentJsonExtensionsTests.cs
  src/System.Net.Http.Json/tests/FunctionalTests/JsonContentLoopbackTests.cs
  src/System.Net.Http.Json/tests/FunctionalTests/JsonContentTests.cs
  src/System.Net.Http.Json/tests/UnitTests/TranscodingReadStreamTests.cs
  src/System.Net.Http.Json/tests/UnitTests/TranscodingWriteStreamTests.cs
Labels: area-System.Net

#42899 Stablise the 3.1 branch
  eng/Versions.props
Labels: area-Infrastructure
