Repository dotnet/corefx, pull requests merged in 2020-02, with the labels that each got.

#42855 branding for 2.1.17
  pkg/Microsoft.NETCore.Platforms/Microsoft.NETCore.Platforms.pkgproj
  src/packages.builds
Labels: area-Infrastructure

#42854 branding update for 3.1.3
  eng/Versions.props
  src/packages.builds
Labels: area-Infrastructure

#42838 Update test OS matrix for release/2.1
  buildpipeline/pipeline.json
Labels: Servicing-approved, area-Infrastructure

#42845 Fix ReadOnlySequence GetFirstSpan
  src/System.Memory/src/System/Buffers/ReadOnlySequence.Helpers.cs
  src/System.Memory/tests/SequenceReader/ReadTo.cs
Labels: Servicing-approved, area-System.Buffers, bug

#42849 [Release/2.1] Adding .NET Framework asset on OOB packages
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/System.Buffers/dir.props
  src/System.Buffers/src/Configurations.props
  src/System.Buffers/src/System.Buffers.csproj
  src/System.Memory/dir.props
  src/System.Memory/pkg/System.Memory.pkgproj
  src/System.Memory/ref/Configurations.props
  src/System.Memory/ref/System.Memory.csproj
  src/System.Memory/src/Configurations.props
  src/System.Memory/src/System.Memory.csproj
  src/System.Runtime.CompilerServices.Unsafe/dir.props
  src/System.Runtime.CompilerServices.Unsafe/ref/Configurations.props
  src/System.Runtime.CompilerServices.Unsafe/ref/System.Runtime.CompilerServices.Unsafe.csproj
  src/System.Runtime.CompilerServices.Unsafe/src/Configurations.props
  src/System.Runtime.CompilerServices.Unsafe/src/include/netfx/coreassembly.h
  src/System.Threading.Tasks.Extensions/dir.props
  src/System.Threading.Tasks.Extensions/ref/Configurations.props
  src/System.Threading.Tasks.Extensions/ref/System.Threading.Tasks.Extensions.csproj
  src/System.Threading.Tasks.Extensions/src/Configurations.props
  src/System.Threading.Tasks.Extensions/src/System.Threading.Tasks.Extensions.csproj
  src/packages.builds
Labels: packaging

#42858 Disable machine related or flaky tests
  src/System.Drawing.Common/tests/BitmapTests.cs
  src/System.Drawing.Common/tests/IconTests.cs
  src/System.Net.NetworkInformation/tests/FunctionalTests/NetworkInterfaceBasicTest.cs
Labels: area-System.Drawing

#42860 [release/3.1] Port dotnet/runtime#32104 fix for Thread.CurrentPrincipal regression
  src/Common/src/CoreLib/System/Threading/Thread.cs
  src/System.Threading.Thread/tests/ThreadTests.cs
Labels: Servicing-approved, area-System.Threading

#42859 Adding netfx configuration to System.Runtime.CompilerServices.Unsafe
  src/System.Runtime.CompilerServices.Unsafe/Directory.Build.props
  src/System.Runtime.CompilerServices.Unsafe/ref/Configurations.props
  src/System.Runtime.CompilerServices.Unsafe/ref/System.Runtime.CompilerServices.Unsafe.csproj
  src/System.Runtime.CompilerServices.Unsafe/src/Configurations.props
  src/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.ilproj
  src/System.Runtime.CompilerServices.Unsafe/src/include/net461/coreassembly.h
  src/packages.builds
Labels: Servicing-approved, area-System.Runtime.CompilerServices

#42837 [3.1] Don't call AdvanceTo(default) in PipeReader.CopyToAsync
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/System.IO.Pipelines/Directory.Build.props
  src/System.IO.Pipelines/src/System/IO/Pipelines/PipeReader.cs
  src/System.IO.Pipelines/tests/PipeReaderCopyToAsyncTests.cs
  src/packages.builds
Labels: Servicing-approved, area-System.IO.Pipelines

#42862 [release/3.1] Corresponding unit tests for dotnet/coreclr#28014
  src/Common/tests/Tests/System/StringTests.cs
  src/System.Runtime/tests/System/StringTests.netcoreapp.cs
Labels: Servicing-approved, area-System.Runtime

#42868 Fixing regression caused by servicing of System.Data.SqlClient package
  src/System.Data.SqlClient/Directory.Build.props
  src/System.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UDTs/Address/Address.csproj
  src/System.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UDTs/Address/Configurations.props
  src/System.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UDTs/Circle/Circle.csproj
  src/System.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UDTs/Circle/Configurations.props
  src/System.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UDTs/Shapes/Configurations.props
  src/System.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UDTs/Shapes/Shapes.csproj
  src/System.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UDTs/Utf8String/Configurations.props
  src/System.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UDTs/Utf8String/Utf8String.csproj
Labels: * NO MERGE *
