Repository dotnet/corefx, pull requests merged in 2021-03, with the labels that each got.

#43046 merge 2.1.26 internal
  buildpipeline/DotNet-CoreFx-Trusted-Windows-NoTest.json
  buildpipeline/DotNet-CoreFx-Trusted-Windows.json
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/System.Text.Encodings.Web/dir.props
  src/System.Text.Encodings.Web/src/System.Text.Encodings.Web.csproj
  src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/PinnedCharBuffer.cs
  src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/TextEncoder.cs
  src/System.Text.Encodings.Web/tests/ConfigurableScalarTextEncoder.cs
  src/System.Text.Encodings.Web/tests/System.Text.Encodings.Web.Tests.csproj
  src/System.Text.Encodings.Web/tests/TextEncoderBatteryTests.cs
Labels: area-System.Text.Encodings.Web

#43047 Merge 3.1.13 internal
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/System.Text.Encodings.Web/Directory.Build.props
  src/System.Text.Encodings.Web/src/System.Text.Encodings.Web.csproj
  src/System.Text.Encodings.Web/src/System/IO/TextWriterExtensions.cs
  src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/TextEncoder.cs
  src/System.Text.Encodings.Web/src/System/Text/Unicode/UnicodeHelpers.cs
  src/System.Text.Encodings.Web/tests/AllowedCharsBitmapTests.cs
  src/System.Text.Encodings.Web/tests/ConfigurableScalarTextEncoder.cs
  src/System.Text.Encodings.Web/tests/HtmlEncoderTests.cs
  src/System.Text.Encodings.Web/tests/JavaScriptStringEncoderTests.Relaxed.cs
  src/System.Text.Encodings.Web/tests/JavaScriptStringEncoderTests.cs
  src/System.Text.Encodings.Web/tests/ScalarTestEncoder.cs
  src/System.Text.Encodings.Web/tests/System.Text.Encodings.Web.Tests.csproj
  src/System.Text.Encodings.Web/tests/TextEncoderBatteryTests.cs
  src/System.Text.Encodings.Web/tests/TextEncoderTests.cs
  src/System.Text.Encodings.Web/tests/UnicodeEncoderBase.cs
  src/System.Text.Encodings.Web/tests/UnicodeEncoderBaseTests.cs
  src/System.Text.Encodings.Web/tests/UnicodeHelpersTests.cs
  src/System.Text.Encodings.Web/tests/UnicodeTestHelpers.cs
  src/System.Text.Encodings.Web/tests/UrlEncoderTests.cs
Labels: area-System.Text.Encodings.Web

#43044 Credentials fixes
  src/System.Data.SqlClient/tests/FunctionalTests/DiagnosticTest.cs
  src/System.Data.SqlClient/tests/FunctionalTests/SqlConnectionBasicTests.cs
  src/System.Diagnostics.Process/tests/ProcessStartInfoTests.cs
  src/System.DirectoryServices.AccountManagement/tests/PrincipalTest.cs
  src/System.DirectoryServices.AccountManagement/tests/UserPrincipalTest.cs
  src/System.Net.Http/tests/FunctionalTests/PostScenarioTest.cs
  src/System.Net.Http/tests/UnitTests/DigestAuthenticationTests.cs
Labels: Servicing-approved

#43045 Credentials fixes
  src/System.Data.SqlClient/tests/FunctionalTests/DiagnosticTest.cs
  src/System.Data.SqlClient/tests/FunctionalTests/SqlConnectionBasicTests.cs
  src/System.Diagnostics.Process/tests/ProcessStartInfoTests.cs
  src/System.DirectoryServices.AccountManagement/tests/PrincipalTest.cs
  src/System.DirectoryServices.AccountManagement/tests/UserPrincipalTest.cs
  src/System.Net.Http/tests/FunctionalTests/PostScenarioTest.cs
  src/System.Net.Http/tests/UnitTests/DigestAuthenticationTests.cs
Labels: Servicing-approved

#43043 Disable failing DNS tests on SLES
  src/Common/tests/CoreFx.Private.TestUtilities/System/PlatformDetection.Unix.cs
  src/System.Net.NameResolution/tests/FunctionalTests/GetHostByNameTest.cs
  src/System.Net.NameResolution/tests/FunctionalTests/GetHostEntryTest.cs
Labels: area-System.Net

#43042 Fix pipelines test
  src/System.IO.Pipelines/tests/PipeWriterTests.cs
Labels: area-System.IO.Pipelines, tell-mode

#43039 Remove RedHat 6 from CI
  eng/pipelines/linux.yml
Labels: * NO MERGE *, area-Infrastructure

#43048 remove non-used harvesting feed
  NuGet.config
Labels: area-Infrastructure

#43010 Port test case
  src/System.Runtime/tests/System/StringTests.netcoreapp.cs
Labels: area-Infrastructure, area-System.Runtime

#43037 Backport removing dead pwd code
  src/System.Data.SqlClient/tests/FunctionalTests/ExceptionTest.cs
  src/System.Data.SqlClient/tests/FunctionalTests/SqlConnectionBasicTests.cs
  src/System.Diagnostics.Process/tests/ProcessStartInfoTests.cs
  src/System.DirectoryServices.AccountManagement/tests/PrincipalTest.cs
  src/System.DirectoryServices.AccountManagement/tests/UserPrincipalTest.cs
Labels: * NO MERGE *, area-Meta

#43038 Backport removing dead pwd code
  src/System.Data.SqlClient/tests/FunctionalTests/ExceptionTest.cs
  src/System.Data.SqlClient/tests/FunctionalTests/SqlConnectionBasicTests.cs
  src/System.Diagnostics.Process/tests/ProcessStartInfoTests.cs
  src/System.DirectoryServices.AccountManagement/tests/PrincipalTest.cs
  src/System.DirectoryServices.AccountManagement/tests/UserPrincipalTest.cs
Labels: area-Meta, auto-merge

#43033 [release/2.1] Add Fedora 35 RID
  pkg/Microsoft.NETCore.Platforms/Microsoft.NETCore.Platforms.pkgproj
  pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  pkg/Microsoft.NETCore.Platforms/runtime.json
  pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/packages.builds
Labels: area-Infrastructure, tell-mode

#43032 [release/3.1] Add Fedora 35 RID
  eng/Packaging.props
  pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  pkg/Microsoft.NETCore.Platforms/runtime.json
  pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
  pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/packages.builds
Labels: area-Infrastructure, tell-mode

#43021 RID for Exherbo linux
  pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  pkg/Microsoft.NETCore.Platforms/runtime.json
  pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
Labels: area-Infrastructure

#43053 Bring back rhel6 build without testing
  eng/pipelines/linux.yml
Labels: area-Infrastructure, tell-mode

#43051 [3.1] Credscan second round
  eng/Versions.props
  src/Common/tests/System/Net/Configuration.Certificates.cs
  src/Common/tests/System/Net/Prerequisites/Deployment/setup_certificates.ps1
  src/System.Data.Common/tests/System/Data/Common/DbConnectionStringBuilderTest.cs
  src/System.Data.SqlClient/tests/Tools/TDS/TDS.Servers/TDSServerArguments.cs
  src/System.Data.SqlClient/tests/Tools/TDS/TDS.Servers/TdsServerCertificate.pfx
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Http/tests/UnitTests/HttpEnvironmentProxyTest.cs
  src/System.Net.WebSockets.Client/tests/ConnectTest.cs
  src/System.Private.Uri/tests/ExtendedFunctionalTests/UriRelativeResolutionTest.cs
  src/System.Private.Uri/tests/FunctionalTests/UriBuilderRefreshTest.cs
  src/System.Private.Uri/tests/FunctionalTests/UriBuilderTests.cs
  src/System.Private.Uri/tests/FunctionalTests/UriRelativeResolutionTest.cs
  src/System.Runtime/tests/System/Uri.CreateStringTests.cs
  src/System.Security.Cryptography.Algorithms/tests/Rfc2898Tests.cs
  src/System.Security.Cryptography.X509Certificates/tests/ExportTests.cs
  src/System.Security.Cryptography.Xml/tests/EncryptedXmlTest.cs
Labels: area-System.Security

#43058 [2.1] Some overlooked credscan fixes
  src/System.Net.Http/tests/UnitTests/Headers/CacheControlHeaderValueTest.cs
Labels: area-System.Net.Http

#43057 [3.1] Some overlooked credscan fixes
  src/System.Net.Http/tests/UnitTests/Headers/CacheControlHeaderValueTest.cs
Labels: area-System.Net.Http

#43054 [3.1] Credscan followup
  .config/CredScanSuppressions.json
  src/Common/src/Interop/Windows/WinHttp/Interop.winhttp_types.cs
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/EC/ECKeyFileTests.cs
  src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RSA/RSAKeyFileTests.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsEnums.cs
  src/System.DirectoryServices.AccountManagement/src/System/DirectoryServices/AccountManagement/constants.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/System.Net.Requests/src/System/Net/FtpControlStream.cs
  src/System.Net.Requests/src/System/Net/FtpWebRequest.cs
  src/System.Security.Cryptography.Pkcs/tests/Pkcs12/Pkcs12Documents.cs
  src/System.Security.Cryptography.Xml/tests/SignedXmlTest.cs
  src/System.Security.Cryptography.Xml/tests/TestHelpers.cs
Labels: area-System.Net

#43055 [2.1] Credscan followup
  .config/CredScanSuppressions.json
  src/Common/src/Interop/Windows/winhttp/Interop.winhttp_types.cs
  src/System.Data.Common/tests/System/Data/Common/DbConnectionStringBuilderTest.cs
  src/System.Data.SqlClient/src/System/Data/SqlClient/TdsEnums.cs
  src/System.DirectoryServices.AccountManagement/src/System/DirectoryServices/AccountManagement/constants.cs
  src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/System.Net.Requests/src/System/Net/FtpControlStream.cs
  src/System.Net.Requests/src/System/Net/FtpWebRequest.cs
  src/System.Security.Cryptography.Xml/tests/SignedXmlTest.cs
  src/System.Security.Cryptography.Xml/tests/TestHelpers.cs
Labels: area-System.Net

#43059 Last fix for credentials effort
  src/System.Data.Common/tests/System/Data/Common/DbConnectionStringBuilderTest.cs
Labels: area-System.Data

#43061 [2.1] Add suppression for test key data
  src/System.Security.Cryptography.Xml/tests/EncryptedXmlTest.cs
Labels: area-System.Security

#43060 [3.1] Add suppression for test key data
  src/System.Security.Cryptography.Xml/tests/EncryptedXmlTest.cs
Labels: area-System.Security

#43062 Add suppressions for the hashes flagged by credscan
  .config/CredScanSuppressions.json
Labels: area-Infrastructure, auto-merge
